[2018-04-26 15:48] shawnawsu commented on #349
This is a Drupal issue. Please see this drupal.org discussion about it (there is a patch included in the discussion if you must have required unlimited fields): https://www.drupal.org/project/drupal/issues/980144

If the patch doesn't fix your problem please reopen the ticket.

[2018-04-26 15:48] #349 closed, assigned to nobody

[2018-04-26 20:51] taytayp opened #353 "Regular updating chado materialized views"
As a suggestion, it would be great if the materialized views in `tripal/storage/chado/mviews` could be updated automatically and regularly, so that the materialized view would be up to date with any additional elements added to the database.

[2018-04-26 20:55] laceysanderson commented on #342
PR Submitted: #351

[2018-04-26 20:58] laceysanderson commented on #353
Good suggestion :-) I think we would want to do so via the Drupal Cron. We would definitely need to add configuration for this since not all sites need an automatic update (e.g. sites with static data would not want to re-generate the mviews).

[2018-04-27 15:40] bradfordcondon commented on #181
Additional thing I noticed about the loader that complicates this issue:

If the form fails for validation, you lose your uploaded file.  Because it "picks back up" when you reupload, no big deal.  However, for huge files, would be annoying to have to re-upload the file after failing validation.

I came across this with the FASTA uploader and a missed required field...

[2018-04-27 20:47] spficklin opened #354 "Bulk loader requires tripal_core"
For some reason the tripal_bulk_loader.inc file still requires tripal_core.  I don't think this is needed but I'm adding this issue to remind us to check.

[2018-04-27 22:19] isumoc opened #355 "Tripal Upgrade from 2.x to 3.x - What happens to URLs, URL Aliases and Redirects ?"
* Tripal Version:  latest via github
* Drupal Version:  7.56
* PostgreSQL Version: 9.5.10
* PHP Version: 7.1.13

When migrating content from Tripal 2.x to Tripal 3.x you have the option of migrating your old URL aliases from node/<node_id> to bio_data/<entity_id> - ie updating the url_alias table entries.  This option is on the Drupal menu at /admin/tripal/storage/chado/migrate

The work is done h

[2018-04-28 03:01] laceysanderson commented on #355
HI @isumoc,

When you migrate URL alias' from nodes to Tripal Entities, it moves all the current alias' for the node to the entity [here](https://github.com/tripal/tripal/blob/445cbb56c50fc80f098f82f9f99bee6e73307356/tripal_chado/includes/tripal_chado.migrate.inc#L837-L839):

[code]

Example: if you had an alias `species/Lens/culinaris` set up for `node/14` and the corresponding TripalEntity is `b

[2018-04-29 18:49] spficklin opened #356 "Easy PubMed Importer"
We need an easy way via the GUI to import publications. We have the more complicated publication importer for automating import of new pubs.  But if someone just wants to import a list of PubMed IDs they have to use a drush command. It would be easy, and useful, to have a little form for importing publications from PubMed using IDs.

[2018-04-30 14:58] isumoc commented on #355
Hi @laceysanderson,

I would like users and search engines never to see /bio_data/<entity_id> urls.

Is this possible ?  Can you let me know how to configure that ?

Thanks again!

[2018-04-30 16:32] laceysanderson commented on #355
This should already be the case if you have URL alias' set up for your nodes and have migrated the alias' using the form at `/admin/tripal/storage/chado/migrate`.

If you are creating new types rather then migrating, this can be done using the form at `/admin/structure/bio_data/manage/bio_data_<bundle_id>` which I think submits a bulk update when you change the alias'. The new URL alias' are more

[2018-04-30 20:00] bradfordcondon opened #357 "upgrading CI setup"
I'm performing some upgrades and changes for the build and testing framework.

### Testing stuff

We've (@almasaeed2010 ) made some cool changes to Tripal Test Suite.  We currently don't use it on this repo: I'm going to change that.  This gives us access to **data factories** : i'll include a few new tests in the PR so we can see how those work and make it really easy to put data into Chado for t

[2018-05-01 15:35] bradfordcondon commented on #311
Hi all,

as I work on #357 I wanted post in the discussion thread for opinions on test folder structure.

For starters, re: above discussion: tripal test suite is going to make it very easy for each test file to test a single PHP class or file, and to easily load what you need into the db using factories.  You can share factories between the test files.  So I would **strongly** encourage people to

[2018-05-01 16:46] laceysanderson commented on #311
It's a hard call. I prefer the idea of categories but I worry about the time required to come to a consensus and then the possibility of changing our minds and moving around tests :eyes_crossed:. With directory structure you can easily get started.

What if we go for a hybrid? We could follow `tests/[submodule]/[category]` where category often matches directory structure. For example, for `module=

[2018-05-01 16:52] almasaeed2010 commented on #311
I like the hybrid structure idea! Takes the confusion away and keeps the folders flattened and not deeply nested which is what we are trying to achieve with the categories idea. 👍

[2018-05-01 16:57] almasaeed2010 commented on #357
I wonder if we should consider building the tripal site on the travis environment directly to utilize Travis matrices support. Although this means we have to build a whole Drupal site before really getting to Tripal testing, I think the benefits of matrices outweigh this little problem.

Thoughts?

[2018-05-01 17:01] bradfordcondon commented on #311
I like this as well.  It also encourages better developer patterns so that your subfolders follow expected conventions.
When I make the PR I will write up some document for "testing in tripal core" that will include this.

[2018-05-01 17:03] almasaeed2010 commented on #355
Hi,

I wanted to point out that there is another little problem with the new URL bulk converter when compared to the Tripal 2 version. The new version, removes more "special" characters such as `.` and `_`, which may result in your new URLs having a slightly different structure than they would've on a Tripal 2 site if your URLs had special characters in them.

Thanks!

P.S. I am not sure which cha

[2018-05-01 17:03] bradfordcondon commented on #357
Yes I agree.  I still think we keep the dockers to demonstrate tripal 2 - 3 upgradability, at least.  It obviously slows tests down but as we have discussed we gain some seriously robust testing in terms of PHP versions, postgres versions...

[2018-05-01 17:29] btski commented on #348
Sorry for the slow response. By speed of the site, I'm referring to the navigation time to any page on the Tripal site. Displaying any page (including Tripal admin pages) is slow, perhaps to varying degrees, but at least 10+ seconds to load. I've attempted to follow @almasaeed2010 's advice. On a server with tripal_analysis_blast already installed (incorrectly with drush):

[code]
fatal: destinati

[2018-05-01 17:31] bradfordcondon commented on #311
I'm writing up a guide for this (see below).

We'll have edge cases.  in the example i picked `tripal/api/` has for example a fields, and entities api.  would those go in the entities category or the API category?

##### Submodules

* tripal
* tripal_bulk_loader
* tripal_chado
* tripal_chado_views
* tripal_daemon
* tripal_ds
* tripal_ws

##### Categories
* API
* theme
* views
* drush
* fields
* en

[2018-05-01 17:37] almasaeed2010 commented on #348
Just a note, the SQL error is saying that the "bad" changes to the DB have been reverted and therefore your DB should be in its previous state. As for the `fatal: destination path 'tripal_analysis_blast' already exists and is not an empty directory.` error, I should've mentioned that you will need to delete the old module before running the `git clone` command. Sorry that was my bad.

Thanks!

[2018-05-01 17:40] almasaeed2010 commented on #311
I think the class name has to match the file name. Therefore `tripal.jobs.api.Test.php` might not work. It has to become `TripalJobsApiTest.php` or `tripal_jobs_api_Test.php` but I prefer the first one since `Test` has to be capitalized.

Thanks!

[2018-05-01 17:56] bradfordcondon commented on #311
Some confusion because of the name of our existing pilot test.

Tests for `/tripal/api/tripal.jobs.api.inc` go in `tests/tripal/api/TripalJobsApiTest.php` and define class `TripalJobsApiTest`.

[2018-05-01 18:59] bradfordcondon opened #358 "feature request: silence all tripal_report_errors"
I'd like a way to silence `tripal_report_error`.

## Reason for request

Consider the below test case, verifying that tirpal_chado_publish_records does indeed return false when given nonsense bundle:

[code]

The test successeds, but will always print `[site http:///usr/local/bin] [TRIPAL ERROR] [TRIPAL_CHADO] Unknown bundle. Could not publish record: The bundle name must be provide` to the consol

[2018-05-01 20:17] bradfordcondon opened #360 "tripal_chado.organism.api.inc has 2 tripal 2 methods that should be upgraded/deprecated"
`tripal_chado/api/modules/tripal_chado.organism.api.inc`

[code]

so should we  upgrade to look up the organism bundle and join on that?

[2018-05-01 20:18] bradfordcondon commented on #360
Same for `tripal_get_organism_image_url`, which uses  `chado_get_nid_from_id('organism', $organism->organism_id)`.

edit: updated issue title to reflect.

[2018-05-02 13:19] spectacledweb commented on #330
tripal_chado.cv.inc
- [x] tripal_chado_publish_records --> chado_publish_records
- [x] tripal_get_chado_tokens --> chado_get_chado_tokens
- [x] tripal_replace_chado_tokens --> chado_replace_chado_tokens

tripal_chado.migrate.api.inc
- [x] tripal_chado_migrate_tripal_content_type -- > chado_migrate_tripal_content_type

tripal_chado.mviews.api.inc
- [x] tripal_add_mview --> chado_add_mview
- [x] tri

[2018-05-02 13:31] bradfordcondon commented on #358
in our upcoming Tests PR I build this in, by returning if `getenv('TRIPAL_SUPPRESS_ERRORS=TRUE')`.

So in the test, you couch your call  like so:
[code]

[2018-05-02 15:12] laceysanderson commented on #358
Quick Question: why did you decide to go with `putenv("APP_ENV")` to unset rather then `putenv("TRIPAL_SUPPRESS_ERRORS=FALSE");` which feels more intuitive to me?

[2018-05-02 15:23] laceysanderson commented on #330
Looks good! My only comment is: do you think we need the double chado in some of the names (e.g. `chado_get_chado_tokens`)? I think the fact that they are specific to chado is implied by the first chado making the second one redundant.

I would suggest,
[code]
Thoughts? @spficklin do you think that looses too much info in favor of being succinct?

[2018-05-02 15:26] bradfordcondon commented on #358
oops, edited my post.  should be `putenv("TRIPAL_SUPPRESS_ERRORS");`

That said `putenv("TRIPAL_SUPPRESS_ERRORS")` unsets the variable,  vs `putenv("TRIPAL_SUPPRESS_ERRORS=FALSE")` , keeps the variable but set to FALSE.  So unsetting does a better job  cleaning up.

In practice, someone writing a test could do either.  So long as they dont leave the variable =TRUE.

In the tripal_warning method, i

[2018-05-02 15:27] laceysanderson commented on #360
Good catch! I would definitely lean towards update rather then deprecate for `tripal_get_organism_select_options` -your proposed solution sounds great 👍

As for the second one, I wonder if that's needed at all now that organism images are fields. Thoughts @spficklin?

[2018-05-02 15:30] laceysanderson commented on #358
Thanks for the clarification! 👍 It would probably be best to use str_to_lower() just to be safe and potentially save developers time debugging why they can't suppress errors in their tests ;-)

[2018-05-02 15:46] bradfordcondon commented on #311
here is a [first draft of testing guidelines](https://www.bradfordcondon.com/2018/05/02/tripal_testing_guidelines/) which i will propose to add to tripal.info when the corresponding testing PR is accepted.  Putting here now for comments.

[2018-05-02 17:18] spficklin commented on #330
Yes, I agree, let's take out the double chado.

[2018-05-02 19:08] bradfordcondon commented on #337
Hello,
sorry you didnt get an answer to this yet.

You can select bundle_id from public.chado_bundle where data_table = 'organism'.  the bundle name is then bio_data_ . $bundle_id

You could also use `tripal_load_bundle_entity($values)` where $values = ['label' => 'organism]. BUT people are free to change the label of their bundles so its better to go through the data_table.

edit: you can also do

[2018-05-02 19:12] bradfordcondon commented on #337
Follow up: `tripal_chado_publish_records` only publishes unpublished records.  If a record is already published, it wont be updated etc.  The below test publishes 200 then 1 organism, and the second run only publishes 1 organism.

[code]

[code]

[2018-05-02 19:28] #328 closed, assigned to nobody

[2018-05-02 19:48] bradfordcondon commented on #298
We've enabled matrix builds with #362 .  We've written a[ tripal test suite](https://github.com/statonlab/TripalTestSuite) to make PHPUnit implementation way easier, and i've written a full guide on how Tripal is using it ( will go on tripal.info soon).  I'm calling this issue done for now.

[2018-05-02 19:48] #298 closed, assigned to bradfordcondon

[2018-05-03 10:38] shawnawsu commented on #330
Ok, I've made these changes:
- [x] chado_get_chado_tokens --> chado_get_tokens
- [x] chado_replace_chado_tokens --> chado_replace_tokens
- [x] chado_add_chado_semweb_table --> chado_add_semweb_table
- [x] chado_associate_chado_semweb_term --> chado_associate_semweb_term
- [x] chado_get_chado_semweb_term --> chado_get_semweb_term
- [x] chado_format_chado_semweb_term --> chado_format_semweb_term
- [

[2018-05-03 11:30] shawnawsu commented on #330
Changes in the tripal_chado.module.DEPRECATED.api.inc:

tripal_chado.analysis.api.inc
- [x] tripal_get_analysis --> chado_get_analysis
- [x] tripal_get_analysis_select_options --> chado_get_analysis_select_options

tripal_chado.contact.api.inc
- [x] tripal_insert_contact --> chado_insert_contact
- [x] tripal_autocomplete_contact --> chado_autocomplete_contact

tripal_chado.cv.api.inc
- [x] tripal_

[2018-05-03 23:31] bradfordcondon commented on #360
Happy to  contribute fix to the select options. Waiting to hear about `tripal_get_organism_image_url`  before i go ahead though so i can maybe do both at once.

[2018-05-04 14:00] bradfordcondon opened #363 "site does not redirect properly when deleting field?"
* Tripal Version: 3

We've noticed this on both our dev and personal instances.  When you delete a field, you are not redirected to the bundle page.  Instead the request hangs.  Howeevr, if you manually navigate back to the bundle page, the field has been deleted.  Probably a Drupal thing?  Anyone else noticed this/ is there anything to be done about it?

To make my problem clear:

http://localhos

[2018-05-04 16:45] bradfordcondon commented on #344
Summary of Slack discussion after meeting.

* Google document for [contribution guidelines](https://docs.google.com/document/d/12bgwGcoH_od6hyle-Aa4USrc-DS8cZ9bbJvfB3jQGyQ/edit#).
* Document will cover community guidelines (How do we conduct our disussions and turn problems into new code, encourage community enagagement, etc) contribution guidelines (Will this PR be accepted?)
* Governance for ano

[2018-05-04 17:58] bradfordcondon commented on #344
Some questions/ideas:

* Knowpulse encourages use of boards.  Do we want to mention them in our documentation?  I use them to great effect in my personal projects.
  - For us I'm thinking no... but maybe it can be part of how PMC and/or steering committee gets things done and/or how steering committee confirms that people are working on the stuff that we want them to be.
* Should branches follow `

[2018-05-04 21:02] bradfordcondon opened #364 "field deletion question"
I am struggling with deletion in my tripal 3 field: https://github.com/statonlab/tripal_manage_analyses/tree/support_featuremap

The field, `organism_linker` is for organism linker fields.  IE organism_analysis, featuremap_organism...  It provides a dropdown list of organisms to put in the linker table.  I was using the `contact__linker` widget as an example.  It was working previously, but im upd

[2018-05-04 21:06] bradfordcondon commented on #364
im always confused about what the field storage settings should be for a field.  Here's the field settings for analysis.  Maybe i've got the chado_column and/or base_table wrong?

[code]

[2018-05-04 21:24] bradfordcondon commented on #364
Interestingly I can modify the value of the field no problem.  So I can change the organism from one to another.  I just cant remove an organism.

The Chado Property linker has this interesting bit:

[code]

Setting my 'value' to "delete me", however, results in
[code]
looks like my pkey is null for some reason.   I think this is the right track.

[2018-05-04 21:41] bradfordcondon commented on #364
yes that was it!

🎆 🔥 🔥 🎆 🏑

for those stuck in a similar situation: the trick is that for field storage to delete your field, you need to have everything `= '"';` except for the primary key, and value.

My advice is to `    dpm($form_state['values'][$field_name]['und'][$delta]);` at the end of your widget validator.  It should look like this:

![screen shot 2018-05-04 at 5 39 37 pm](https://user-

[2018-05-04 22:09] #364 closed, assigned to nobody

[2018-05-04 23:03] spficklin commented on #360
So, we have a bit of an issue here with both of those.  We do not want to break backwards compatibility when folks upgrade to Tv3 but continue to use Tv2 nodes (which they can do).

Also, @shawnawsu just went through the process of fixing the naming for all of these API functions and these two got their names fixed as well (see issue #330).

So, before we make the updates I think we should wait on

[2018-05-05 01:13] bradfordcondon commented on #360
In the case of `tripal_get_organism_select_options`, you could add a check that tests if version 2 or version 3, and run the corresponding SQL statement (joining on node id for tripal 2, entity id for tripal 3.)  I dont know if thats bad practice though and its better to spawn a new tripal 3 method with a new name...

also havent looked/thought about at the image thing and how relevant it is for t

[2018-05-05 04:51] spficklin commented on #360
Unfortunately, someone could be running Tv3 but using Tv2 compatibility. I'm not sure how we could be 100% sure when the function should query nodes or query entities.

[2018-05-05 06:11] spficklin commented on #363
@bradfordcondon I don't have this issue. I'm able to delete fields no problem and it takes me back to the content type "manage fields" page.  When your process hangs can you see what processes are going on in the database?

[2018-05-05 06:14] spficklin commented on #337
Hey @abretaud, yes apologies this didn't get a quicker reply.   @bradfordcondon's suggestions should work.  I'm just checking in to see how it's going.

[2018-05-05 06:26] spficklin commented on #340
Hi @dedenmatra were you able to resolve the issue?

[2018-05-05 06:32] spficklin commented on #186
Sorry @zhuyiqin for the slow reply.  We will be including the fixes for the GO loading on the 2.x branch.  I'm reopening to remind us to do that.

[2018-05-05 06:37] spficklin commented on #202
Hi @abretaud unfortunately, there has been no progress on this front.

[2018-05-05 06:40] spficklin commented on #327
Hi @isumoc once the Pull request #351 is merged in then support for data collections with the Drupal Search API will be supported as well.   It should be merged very soon... just needs one more check.

[2018-05-05 06:42] spficklin commented on #318
Just following up to see if the issue is resolved?

[2018-05-05 06:44] spficklin commented on #308
I'm just pinging this issue to see if it needs to be left open for more discussion here or if it has moved over to the Chado community?

[2018-05-05 07:07] spficklin commented on #354
@laceysanderson any thoughts on this one?

[2018-05-05 07:08] spficklin commented on #348
Just checking in... has this been resolved?

[2018-05-05 16:40] bradfordcondon commented on #318
Looks to me like unmerged PR on the tripal install profiles adding CI
https://github.com/tripal/tripal_install/pull/3

[2018-05-07 06:20] dedenmatra commented on #340
@spficklin This problem have solved.. thank you

[2018-05-07 15:33] laceysanderson commented on #340
I'm glad you found a solution @dedenmatra!

[2018-05-07 15:33] #340 closed, assigned to nobody

[2018-05-07 15:46] bradfordcondon commented on #363
no suspicious db activity.  maybe @almasaeed2010  can comment more.  I think it just runs a long string of transactions.  He also cant reproduce on his local machine.

Messing with a field today caused me to delete/re-add many times and I think the problem is snowballing on my local site, everything has ground to a halt and i need to delete the site and rebuild.

[2018-05-07 16:07] bradfordcondon opened #367 "help defining field with default text widget and storage?"
### Overview

I'd like to define a field that has a widget that allows you to enter a file system path.  Then it will have a formatter that runs a javascript app on that file.  Nothing is stored in chado.

To this end I define a field instance where the widget is of type `text_textfield`, it uses a custom formatter, and it stores the text in type `field_sql_storage`.
Is this the correct approach?

[2018-05-07 16:20] bradfordcondon commented on #357
merged.

[2018-05-07 16:20] #357 closed, assigned to bradfordcondon

[2018-05-07 16:32] almasaeed2010 commented on #350
Fixed in PR #352

[2018-05-07 16:32] #350 closed, assigned to nobody

[2018-05-07 16:35] almasaeed2010 commented on #136
This apparently has been fixed since I am using the same function in multiple different instances (including the term mentioned here) without any issues.

[2018-05-07 16:35] #136 closed, assigned to nobody

[2018-05-07 17:17] bradfordcondon commented on #363
the drush command `drush field-delete local__cmap_viewer` is almost instant.  Anyone in the same position as me can use the drush command instead.
Still i wondeer if something curious is going on in my site...

[2018-05-07 17:53] laceysanderson commented on #354
I also don't think this is needed but we'll want to check the bulk loading job node type to make sure it doesn't use the Chado Node API

[2018-05-07 17:58] bradfordcondon commented on #367
ok no more undefined index errors.  i see that it was looking for max_length in the field settings, NOT the instance settings.

However, field storage still doesnt work.  editing the text value and returning to the edit screen leaves a clear text field.

Additionally I can't even get a `dpm` to show up in hte field's base load method.
this seems to tell me that my field is hooked up totally wrong.

[2018-05-07 18:05] laceysanderson commented on #360
I don't think we worry about making the newly named function handle nodes.

If they need the node functionality in an extension it will be using the old name (as per @spficklin suggestion this will be in the legacy api & handle nodes). As they upgrade the extension to Tripal 3, they will change the name to the new version and upgrade to use entities rather then nodes thus no longer needing node su

[2018-05-07 19:04] bradfordcondon commented on #367
I got this field to work by changing the base type itself to text.

[code]

However, I don't know how to set the cvterm this way.  The field is broken until you edit it and assign a cvterm in the field settings.

At this point this issue is a) a cautionary tale, and b) a bunch of unanwered questions:

* Is the final approach correct?  (declare the field as text from text module, and then write a c

[2018-05-07 20:47] bradfordcondon opened #370 "tripal pub cvterm not populated on site install"
recreated by @laceysanderson

The publicaiton bundle type field does not display any options.
For some reason this statement returns no results in `schema__additional_type_widget`.
[code]

We do have tripal_pub cvterms.  however this is is looking basd on db:accession,  for TPUB: 0000015.  I htink my terms all have db = tripal... this might be the problem?

edit: nah terms are there http://localho

[2018-05-07 21:45] #348 closed, assigned to nobody

[2018-05-08 00:40] bradfordcondon commented on #370
cvterm path isnt populate for this CV.

[2018-05-08 00:45] bradfordcondon commented on #370
manually populating the cvtermpath for pubs fixes the issues.

Why doesnt cvtermpath populate for tripalpub on install?

[2018-05-08 05:39] isumoc commented on #363
I have the same problem.

Fields don't get deleted immediately - they get flagged for deletion.  Via the web form a call is made to field_purge_batch whereas via the drush command this probably does not get called.

https://api.drupal.org/api/drupal/modules%21field%21field.crud.inc/function/field_purge_batch/7.x

It will be a problem if you try to run cron because the field cronjob will hang.

On

[2018-05-08 09:00] #308 closed, assigned to nobody

[2018-05-08 12:44] bradfordcondon commented on #363
Thank you @isumoc !
yes, `drush eval field_purge_batch(1)`does hang for me.  Forgive me if i dont run until my db crashes....
Looks like the same issue.    Sounds like for now we need to delete our fields via drush to be safe.

Can also confirm on unaffected sites this command does not hang...

Still left wondering if this is a tripal or drupal problem.

[2018-05-08 15:21] almasaeed2010 opened #371 "chado_bundle type_id is varchar so we can't join it with cvterm"
### System information
* Tripal Version: 7.x-3.x (master)
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description
The chado_bundle table has a type_id column set to varchar instead of int (or big int). Since type_id is a foreign key referring to `cvterm.cvterm_id`, it should match the column type of big int. Running the following query results in an error:
[code]

[2018-05-08 17:03] bradfordcondon opened #372 "issues upgrading from chado 1.2 to 1.3"
### System information

* Tripal Version: 3
* Drupal Version:7.59
* PostgreSQL Version:9.3.20
* PHP Version:7.0.27

### Issue description

The chado upgrade process had several road blocks, all of which were from previous versions of chado.
The instructions do warn that views will cause the upgrade to fail, i suppose.  This whole process is confusing since we dont really know what the state of our

[2018-05-08 17:42] bradfordcondon commented on #372
deadlock issue could be related to https://github.com/tripal/tripal/issues/278.  However that was `UPDATE variable SET` not alter

[2018-05-10 16:25] isumoc commented on #363
@spficklin

https://drive.google.com/file/d/1WZ9KRlo0aLJia403ui053kbnZBhvsWbC/view   ( ~ 31MB )

I've uploaded a 1 minute log from my dev postgresql box here in csv format.  It appears to do about 100K SQL SELECT statements in that time ( captured from clicking confirm delete until I shut down my apache server ).  Is that the expected behaviour ?  Any insight here would be appreciated.

[2018-05-12 18:16] bradfordcondon commented on #358
this was in #362 so can close.

[2018-05-12 18:16] #358 closed, assigned to nobody

[2018-05-12 18:17] bradfordcondon commented on #297
we created a seperate module for this.  its still got a couple of kinks to work out but its mostly there.  We went with a plain old linker table instead of the array solution.
check it out if you'd like.

https://github.com/statonlab/tripal_cv_xray

[2018-05-12 18:17] #297 closed, assigned to laceysanderson, bradfordcondon

[2018-05-13 16:49] laceysanderson commented on #297
Looks good :-) Sometimes a simpler solution is better anyway -easier to maintain!

[2018-05-15 00:47] spficklin commented on #297
Hey @bradfordcondon what was the reason for going with a separate module?

[2018-05-15 16:11] almasaeed2010 commented on #297
Hello @spficklin

Since @bradfordcondon is on vacation I am gonna attempt to answer on his behalf.

My understanding is that when we started developing the module it didn't look generic enough to be part of tripal in that it was not storage agnostic. However, at this stage, I think we arrived at a design that can be genericised further to be part of Tripal.

A few points on the current design that

[2018-05-16 12:29] oklonova opened #374 "Drupal Views undefined table: relation does not exist -- again..."
* Tripal Version: 2
* Drupal Version: 7.59

Hi,

there is a problem in defining views for searching in organism and feature tables. Search does not return any results. A message in the edit view page says "SQLSTATE[42P01]: Undefined table: 7 ERROR: relation "organism" does not exist LINE 5: organism organism ^" (the same for "features"). The problem seems to be independent of the search machinery

[2018-05-16 12:51] mdondrup commented on #374
Hi Olga,

did you see this: https://github.com/tripal/tripal/issues/336 ?
Could you check if you have the most recent version of the patch, and did the patch command
return any errors (failed hunks)?

Michael

[2018-05-17 14:42] almasaeed2010 commented on #372
It appears that removing (commenting out) variable_set('chado_schema_exists')  lines in the chado_is_local() function resolves the deadlock issue.

[2018-05-17 14:53] almasaeed2010 commented on #370
Confirmed that new installs of tripal don't have publication types available and that populating cvtermpath for `tripal_pub` fixes the issue.

[2018-05-17 19:58] almasaeed2010 opened #375 "Creating, Editing and Deleting Tripal Fields Cause 500 Error"
### System information
- Tripal Version: 7.x-3.x (latest)
- Drupal Version: 7.59
- PostgreSQL Version: 9.6
- PHP Version: 7.1

### Issue description
The issue does not happen with Chado and Drupal fields. When deleting a field that's "Supported By" Tripal, we get a 500 error. The same happens when we attempt to edit or delete. This issue only started happening after the latest update to tripal. I

[2018-05-17 20:06] spficklin commented on #375
What Field did you try to delete? Is it one that comes with Tripal?

[2018-05-17 22:02] almasaeed2010 commented on #375
I tried multiple fields but I believe `rdfs__type` comes with Tripal.

[2018-05-20 10:25] oklonova commented on #374
Hi, Michael,

thank you for the answer! I applied the patch from #336, with the following results:

sites/all/modules/views$ patch -p1 <  ../tripal/tripal_views/views-sql-compliant-three-tier-naming-1971160-30.patch
patching file includes/handlers.inc
Hunk #1 FAILED at 1637.
Hunk #2 FAILED at 1728.
2 out of 2 hunks FAILED -- saving rejects to file includes/handlers.inc.rej
patching file includes/v

[2018-05-22 03:24] laceysanderson commented on #374
Hi @oklonova,
That's definitely your problem then -that patch needs to apply cleanly in order for views to work with Chado.

What version of Drupal Views do you have? The patch in #336 is meant for Views 3.19+ so if you have a lower version of views you should update.

[2018-05-22 09:56] oklonova commented on #374
Thank you, the Views version is 3.20.

The problem is now solved - need to use curl to download the patch, and then use
patch -p1 <  ./views-sql-compliant-three-tier-naming-1971160-30.patch

[2018-05-22 09:56] #374 closed, assigned to nobody

[2018-05-22 13:17] mdondrup opened #376 "Looking for views fasta export"
Hi,
I am looking for the views data exporter extension that was available in Tripal 1.x. (see the link for api documentation) This allowed to format a data export from a drupal view as FASTA formatted file, with various fields in the header, and attach an export button to the Feature View.  Are there any plans to make this available again?

http://tripal.info/sites/default/files/tripal_v1.1_api/d7

[2018-05-22 16:37] laceysanderson commented on #374
I'm glad you got it to work 👍

[2018-05-23 15:26] laceysanderson commented on #344
- Boards: I agree on keeping them out of our documentation. Clean, simple and as few new technologies/apps as possible should be our goal to lower the barriers for contributors
 - Branch naming: I think this one is worth the extra effort but can be worded as a suggestion/recommendation rather then a rule
 - Tutorial: I think this should be kept separate from the how to contribute doc but perhaps r

[2018-05-23 18:31] laceysanderson commented on #344
Points for further discussion:
- voting for new features: do we want this to be by majority? should it require participation by both the advisory/steering committee and the project management team (trusted committers)?
- should we require a feature request be open for a certain period of time to provide the opportunity for discussion? if so, how long?
- more guidelines for bug reports...
- guideli

[2018-05-23 19:03] bradfordcondon commented on #344
Ehhhh i'm torn.  I actually think a single "No" should be grounds for *something*.

I think no, not by default.  The PMC can decide to pass a request to the advisory committee for discussion if its not an easy decision/ a large decision.

100% yes.  I think your 2 weeks is kind of long. What if we say 1 week, after an issue is tagged as a feature request.  Then we make sure that all community memb

[2018-05-23 19:23] bradfordcondon commented on #376
Hello,

I'm not familiar with Tripal 1.x, but this sounds similar to Tripal collections. [We have this on HWG](https://www.hardwoodgenomics.org/tripal_elasticsearch/search_website/?search_box=transporter&op=Search&category=&form_build_id=form-jRE8c-9mHBvxAmhZHutvv5cPM-yRAJIV8XuEgFyv3ig&form_token=gdtFzL_zoB9sqfY9SWELKso7FI0X4pZaJ9UEbpgmkqI&form_id=website_search_box_form), if you're signed in you

[2018-05-23 20:04] bradfordcondon commented on #297
I modularized it because a) feature bloat, b) it required a new table and admin interface to populate the table, c) I wasn't able to make it Chado-agnostic initially.

With Abdullah's help we fixed c somewhat but still, I see it as a small, optional, module.

If you want we can reopen and discuss moving it into core.

Alternatively maybe we discuss moving the **base** cv tree browser you created i

[2018-05-23 20:30] bradfordcondon commented on #344
We have a draft!!!!
Everybody!  Give us comments!  We'd like to leave discussion open for at least 48 hours (although obviously it wont be set in stone).  After that we can formalize the committers/project management committee and **start dealing with PRs according to these guidelines!!!!!**

[edit heres the draft](https://docs.google.com/document/d/12bgwGcoH_od6hyle-Aa4USrc-DS8cZ9bbJvfB3jQGyQ/edi

[2018-05-23 21:11] bradfordcondon opened #378 "overlay module incompatible with current version?"
The admin overlay module is causing some odd behavior on the current master branch.  This is with overlay v 7.59
Oddly enough I am only getting this in new installs (on our docker containers) not on our dev site.  Maybe someone can spin up a fresh site elsewhere and see if they can reproduce?

Trying to add new content takes me directly to bio_data/1 instead of bio_data.  The result is i can only

[2018-05-23 21:42] almasaeed2010 commented on #378
I installed a new site on my mac and the issue is not happening. It could be an interference from some other module that we have enabled on the docker container. I'll keep adding modules and testing as we go.

[2018-05-24 15:45] laceysanderson commented on #376
Hi Michael,

Currently there are no plans to create a FASTA extension for views data export. The reason for this is a general departure from using views data export in general. This is due to the speed of download which is a huge problem for larger datasets as well as the overhead. Furthermore, views data export is no longer being maintained.

As @bradfordcondon mentioned, Tripal Collections now o

[2018-05-25 05:08] spficklin commented on #341
Hi @isumoc.  I am not able to duplicate the error.  However, I can duplicate the issue that the filters are not working.  I have committed a fix to this branch of Tripal:  7.x-3.x-issue-341

Can you pull that branch and test it for me to see if you still have issues?

[2018-05-25 06:56] spficklin commented on #354
I've added a PR to fix this:  PR #381

[2018-05-25 07:09] spficklin opened #387 "Docs: Tripal Daemon Documentation"
We need better documentation for how to install and use the Tripal Daemon on the Tripal v3 User's Guide. Right now new users have to traverse multiple sites to figure it out.

[2018-05-25 07:36] spficklin commented on #338
I am not able to duplicate these errors, but I am also not able to see any logs from the daemon on the dashboard either.  @carolyncaron are you still experiencing this?

[2018-05-25 07:37] spficklin commented on #334
@chunhuaicheng you are giving local files to the importer or uploading files?  Also, any chance you can dig into this?  I don't have an NFS mounted filesystem for testing..

[2018-05-25 08:27] spficklin commented on #141
I think I may have come up with an okay solution for both problem cases described here:

1)  For the issue described by @laceysanderson I have added some code that prints an error message on the Tripal content type page if two or more fields have the same term. It instructs the user to only use a term once and to correct the problem.  I could not duplicate the issue with a property not being creat

[2018-05-25 13:51] bradfordcondon opened #389 "chado property fields attach load undefined property warning"
### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.58
* PostgreSQL Version: 9.6.1
* PHP Version: 7.1.14

### Issue description

Chado property fields give this error when null

[code]

You can see this on my "data seeded" tripal 3 docker https://hub.docker.com/r/statonlab/tripal3_seeded/ by visiting a biomaterial page.  These property fields were generated automagically by click

[2018-05-25 15:20] bradfordcondon commented on #311
Discussion on this seems settled.  If theres no feedback to the testing guidelines, I'll add it to tripal.info and close the issue.

[2018-05-25 17:27] bradfordcondon opened #390 "Add PR template with new PR guidelines"
Now that we merge PRs according to a guideline, let's add the guidelines and notify submitters of said guidelines in the PR template.

There are some related things to do here but I'll spawn seperate issues/let others do so as we address them.

[2018-05-25 17:31] bradfordcondon commented on #390
see #344 for full discussion of guidelines and for adding suggestions/discussion. This issue is just for getting it set up on the repo.

[2018-05-25 20:11] spficklin opened #391 "Cleanup unused branches"
We have a plethora of branches on this project.  Many can be removed.  Here's a checklist of them all. If you know that a branch can be removed can you please comment here so we can clean them up, or if the branch is yours remove it and check the box below.

 - [x]  103-tripal-daemon
- [x]   208-excessive_cron
- [ ]   342-search_api_tripal_collections_handler
- [x]   7.x-1.x-orig
- [x]   7.x-2.x-2

[2018-05-25 20:41] spficklin commented on #315
I cannot duplicate this. I have installed a brand new Tv3 site and installed both Chado v1.11 and Chado v1.2 with full success.  I think this bug must have been fixed by another commit.  I'm marking closed but if it happens again we can reopen.

[2018-05-25 20:41] #315 closed, assigned to nobody

[2018-05-25 20:42] spficklin commented on #210
Just checking on this. @bradfordcondon do you want to contribute your fields to the tripal_chado module? Are they sufficently generic?

[2018-05-25 20:43] bradfordcondon commented on #391
Cleaned up mine.  Other people's that i did not delete but most look deletable based on staleness and not having commits ahead of master, only commits behind ( see image):

![screen shot 2018-05-25 at 4 42 13 pm](https://user-images.githubusercontent.com/7063154/40565435-9cb897fc-603a-11e8-8c9f-7ab06b18e1d0.png)

[2018-05-25 21:14] bradfordcondon commented on #210
what happened was i needed help understanding the field methods related to searching/sorting and you said wait for the documentation.

I'm sure if I revisit this I'd find that the fields all need work...

[2018-05-25 21:20] bradfordcondon opened #392 "git flow"
This thread is for discussion of branches and git flow.

If you aren't familiar with [Git flow, read this!](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow)

Why do we want to discuss this?  We want to buffer live sites from issue development a little bit, particularly as we are granting more people write access.  We have at least two non-exclusive options:

* create m

[2018-05-25 21:21] bradfordcondon commented on #392
mightt be interesting to see Drupal's own discussion of [switching to Git flow](https://www.drupal.org/project/pm/issues/2467159).  On that note im curious if Drupal has guidelines or suggestions...

[2018-05-25 21:29] bradfordcondon commented on #210
Specifically:

[2018-05-25 21:44] spficklin commented on #293
I just added a pull request to fix this.  If you can test that would be great.

[2018-05-25 21:45] spficklin commented on #139
@chunhuaicheng I remember we had a conversation about this in the recent past. Did you find a fix for it?  I cannot remember.

[2018-05-25 22:49] spficklin commented on #266
@bradfordcondon I've added documentation to the Developers Handbook.  There is new information about the **elementInfo** function towards the bottom. I have also started on the **query** function but have not yet finished. Can you check it to see if it makes sense to you and answers your questions?

http://tripal.info/http%3A//tripal.info/tutorials/v3.x/developers_handbook/custom-field/manual

[2018-05-26 02:15] bradfordcondon commented on #293
@almasaeed2010 where were we experiencing this, on HWG?

[2018-05-26 10:59] almasaeed2010 commented on #293
All my tripal sites (mac os and centos). I test the PR

[2018-05-26 13:18] bradfordcondon commented on #293
thanks @spficklin .  merged, closing.

[2018-05-26 13:18] #293 closed, assigned to spficklin

[2018-05-26 15:34] laceysanderson commented on #210
So then this is currently blocked by #266.

[2018-05-26 15:38] laceysanderson commented on #391
Cleaned up mine :-) 👍

PS. This list really helped as it mentioned which of my branches had been merged :-) https://github.com/tripal/tripal/branches/yours

[2018-05-26 15:55] laceysanderson commented on #311
Sorry, this fell off my list. I just gave it a read through and it's awesome 👍

[2018-05-26 15:57] laceysanderson commented on #311
Might it be good to include this as a markdown file in the tests directory? We could link to it on tripal.info so we don't have to update in two places. Thoughts?

[2018-05-26 16:01] laceysanderson commented on #389
Can you describe this a little more? What do you mean by null... when the field is empty?

[2018-05-26 16:25] bradfordcondon commented on #389
yes.  So creating a new chado property field in the UI, attaching it, and visiting an entity of that content type will give the warning because its empty.

[2018-05-26 16:26] bradfordcondon commented on #311
oooh putting it as a REAME.md in tests might be the best solution since then its under version control.  fantastic idea.

[2018-05-26 16:29] laceysanderson commented on #141
The PR #388 did not fix my problem :-( Specifically, I did not see any errors/warnings in the Drupal watchdog logs, the apache error log or on the manage fields page. Luckily I also didn't end up with two rdfs__type fields ;-)

Steps to Reproduce:
1. Insert an organismprop of type `rdfs:type` using
[code]
2. Navigate to the organism manage fields page at `[your tripal site]/admin/structure/bio_dat

[2018-05-26 16:48] bradfordcondon commented on #311
For the sake of argument, the other place it would make sense to put it is on the github wiki, where it would also be under version control (and could be more easily broken up into sections etc).
I'm happy with README.md for now though.

[2018-05-26 16:58] laceysanderson commented on #389
Hmmm... I'm unable to duplicate this.

I added a chado property of type `tripal:analysis_blast_blastdb` to my organism content type. I confirmed that I have no properties in the db of that type. Then I navigated to an organism page (Lens culinaris actually :-)) and did not see an error. I also checked the edit page and the Drupal watchdog logs :-( I even tried clearning the cache a couple of times

[2018-05-26 17:01] laceysanderson commented on #311
I like it in the repo since that's where the tests will be being added. This way, no one can say they put tests in the wrong place because they didn't find documentation about where it should go ;-)

[2018-05-26 20:02] laceysanderson commented on #338
I can confirm on a clean install.
![screen shot 2018-05-26 at 2 01 40 pm](https://user-images.githubusercontent.com/1566301/40579801-6038683a-60ed-11e8-852c-307d69dd9d5c.png)

Stephen, do you have the modules/tripal/tripal_daemon enabled and modules/tripal_daemon removed?

[2018-05-27 03:13] laceysanderson commented on #387
Added to the upgrade Docs (`http://tripal.info/node/269`):

Added the contents of the README to http://tripal.info/tutorials/v3.x/tripal-daemon. This is still not ideal but it's a start...

[2018-05-27 12:44] chunhuaicheng commented on #139
No. I don't have a fix. Users may avoid the issue by not using
chado_db_select() in a loop.

On May 25, 2018 2:45 PM, "Stephen Ficklin" <notifications@github.com> wrote:

@chunhuaicheng <https://github.com/chunhuaicheng> I remember we had a
conversation about this in the recent past. Did you find a fix for it? I
cannot remember.

—
You are receiving this because you were mentioned.
Reply to this e

[2018-05-27 12:48] chunhuaicheng commented on #334
It's a local file.

On Fri, May 25, 2018, 12:37 AM Stephen Ficklin <notifications@github.com>
wrote:

[2018-05-28 07:14] dedenmatra opened #397 "error in applying patches "views-sql-compliant-three-tier-naming-1971160-22.patch""
### System information

* Tripal Version: 2
* Drupal Version: 7.59
* PostgreSQL Version: 9.5.12
* PHP Version:7.0.30

### Issue description

I tried to install tripal v.2 manually, but when applying patches of views-sql-compliant-three-tier-naming-1971160-22.patch, occurred error, that attached below :

[code]

[2018-05-28 21:37] isumoc commented on #341
@spficklin looks like this has been merged to master and all is well! Thanks for the fix.

[2018-05-28 21:37] #341 closed, assigned to nobody

[2018-05-29 13:26] bradfordcondon commented on #375
@almasaeed2010  did we try the drush delete field command or only via GUI?

[2018-05-29 13:26] almasaeed2010 commented on #375
No I haven't yet

[2018-05-29 13:48] bradfordcondon commented on #375
after pulling on master i was able to edit the rdfs:type field as well as create our field of interest (ontology_data).

Not sure if it was fixed or if there was something on our site that changed preventing me from duplicating issue, but closing as resolved for now.

[2018-05-29 14:01] bradfordcondon commented on #375
reopening: we dont have this issue on our dev site but its on our live site and updating hasn't resolved it :|

[2018-05-29 14:28] bradfordcondon commented on #375
the field **can** be deleted with drush.

[2018-05-29 14:50] bradfordcondon commented on #389
When visiting an organism page:

[code]

These are all tripal fields for organisms that dont have them set (because the NCBI taxon loader wasnt used)....

[2018-05-29 15:06] bradfordcondon commented on #141
i find this issue kind of interesting.  The[ CV-xray](https://github.com/statonlab/tripal_cv_xray) field creates a new instance for each Ontology/feature type you want.  So if I want the KEGG and GO browsers enabled on organism, I make two fields.  But they can't use the same term (I use `data:4231`)?  So I would have to instruct users to change the term of one of the fields when creating.
Did I a

[2018-05-29 15:45] bradfordcondon commented on #375
I edited the "label" field and brought down our live site :(

Adding error printing all pages have
[code]

I'm thinking hte field edit is doing something crazy taking up all db connections...

[2018-05-29 15:53] bradfordcondon commented on #337
Hi @abretaud I'm assuming you've got this sorted out?  If not please let us know and we'll reopen.

[2018-05-29 15:53] #337 closed, assigned to nobody

[2018-05-29 15:54] abretaud commented on #337
Sorry, I was distracted by many other things and couldn't look into it. I'll reopen if I still have problems later
Thanks for your help!

[2018-05-29 15:55] bradfordcondon commented on #337
no problem, im guilty of this in plenty of places myself :)

[2018-05-29 16:32] bradfordcondon commented on #266
Hi Stephen, this was great.

My main unanswered question is who uses the `query()` method?  Views?  What information should I expect in the `$condition` variable and/or where can i look this up?

I see now that the `$query` variable being passed is an actual Drupal query object!  Cool!  I think I didnt know what that was when  i created this issue so maybe that should go in the guide?  Maybe [link

[2018-05-29 17:13] bradfordcondon commented on #210
Added a PR with the requested methods.

RE: analysis... I think I only have our organism_analysis linker field (local__analysis_browser) https://github.com/statonlab/tripal_manage_analyses/tree/master/includes/TripalFields.  This isnt the same as a linker field...

I guess we still need an analysis linker field.  My Protocol field was super minimal with just the name and hte type.  For analysis it

[2018-05-29 18:23] laceysanderson commented on #141
For the Tripal Fancy Field summary charts, I set the term to NULL so that when users create it through the UI they have to assign their own CVterm.

I think your approach is perfect and that your users should change/set the term. In your example, KEGG and GO browsers are different and thus should have different, more specific terms -don't you think?

[2018-05-29 18:34] bradfordcondon commented on #141
but theres no world where a specific cvterm exists, because its a combination of the entity type (say, mRNA), and the ontology.  therefore only the generic term makes sense (data:ontological data)....

So as an example, say i've got tWO GO mappings: one for biomaterials and one for mRNA.

In all these cases you have to use a local term which is something I try to avoid, perhaps too much...

[2018-05-29 19:08] bradfordcondon commented on #356
I would really like this.  Similarly, a reference importer that accepts say bibtex or enl format. Not sure right now which would be easier to code and/or more convenient.

Advantage of a file importer is you can support references that dont have pubmed citations IE DOIs.

[2018-05-29 19:35] laceysanderson commented on #356
I have this: https://github.com/UofS-Pulse-Binfo/tripal_bibtex
It only provides a drush command but it might be a good place to start.

[2018-05-29 19:49] bradfordcondon commented on #356
I'd propose the path of least resistance, adding this as a tripal 3 importer.

assuming of course that this functionality is needed in core.

[2018-05-29 20:11] bradfordcondon commented on #356
oops: I see that module isnt tripal 3 ready.  I'd imagine wouldnt be too much to upgrade it, I can take a look if youre too busy?
If I am going to have to add pubs to my site i definitely want this.

[2018-05-29 20:27] spficklin commented on #338
Hi @laceysanderson .  I only had the tripal_daemon from tripal v3 enabled (not the separate extension module).

[2018-05-29 20:43] spficklin commented on #397
Hi @dedenmatra .  There is a new patch that superceeds the one you used. It is named **views-sql-compliant-three-tier-naming-1971160-30.patch** and is found in the Tripal v2 files in the same location as the one you used.  It seems we failed to update the online documentation to use this patch.   So, if you were following those instructions this would be the problem.  I have updated the online doc

[2018-05-29 20:50] spficklin commented on #391
That was a very helpful link @laceysanderson .  Thanks.  Also, do you think we need to keep the 7.x-1.x-orig branch?

[2018-05-29 20:52] spficklin commented on #390
Hey @bradfordcondon is this completed now that we have merged #395 ?

[2018-05-29 20:53] bradfordcondon commented on #390
no this is separate.  #395 added teh guidelines, this thread would be for a TEMPLATE PR much like you get a template when creating a new issue.

[2018-05-29 21:32] laceysanderson commented on #356
That would be amazing if you wanted to take this on :-) It's not a priority for us as our publications are the least of our worries 😝

[2018-05-29 21:39] laceysanderson commented on #338
Interesting @spficklin... Do you see the daemon blocks now?

[2018-05-29 21:53] laceysanderson commented on #391
I don't know? I tried to find it in the network graph but it's too old 😝 It's likely safe to remove...

[2018-05-30 02:35] bradfordcondon commented on #356
OK its now tripal3 compatible! I might do a little more work on it later.  I dont know that i'll plan on adding what Stephen has in mind (something that uses the pubmed), since loading in bibtex is good enough for me :D

[2018-05-30 06:18] dedenmatra commented on #397
I tried to apply the coding that you suggest, but errors statement occurred again.

before apply this command, I was disable and remove all modules including views and tripal. and tried new download
[code]

[2018-05-30 08:15] shawnawsu commented on #391
Cleaned up the final stragglers of mine.

[2018-05-30 08:23] shawnawsu commented on #392
I use Git Flow with other projects and it works well for production management so I think it's a good idea. But I did bring this (not Git Flow specifically but Release Schedules) up in a previous user meeting and there didn't seem to be much enthusiasm for it.

[2018-05-30 11:54] bradfordcondon commented on #390
Some example PR templates.

https://gist.github.com/indiesquidge/85075be518631964a56b75946153ebbf

https://github.com/stevemao/github-issue-templates
https://quickleft.com/blog/pull-request-templates-make-code-review-easier/

[2018-05-30 13:40] laceysanderson commented on #390
I like this one: https://github.com/stevemao/github-issue-templates/blob/master/questions-answers/PULL_REQUEST_TEMPLATE.md although I would change checklist to “Additional Notes (if any)”

[2018-05-30 14:17] bradfordcondon commented on #375
@almasaeed2010 modified our database settings and now i am able to create the TripalField.  However now when I try to edit it to set the necessary settings I get this error:

[code]

This error occurs on all our TripalFields.  It does not occur for Chado or Drupal fields.

[2018-05-30 14:23] laceysanderson commented on #390
Throwing up a specific template (because @bradfordcondon shouldn't have to draft them all ;-) ) to start discussion.

[code]

Thoughts?

[2018-05-30 14:26] bradfordcondon commented on #375
[code]
We run out of memory at the `while($entity)` loop.
I think we fetch the name/id of every entity on the site for some reason?  (By we, i mean Tripal's `tripal_field_storage_query`)

[2018-05-30 14:26] laceysanderson commented on #375
Adding the URGENT tag to indicate the serious nature of this bug...

[2018-05-30 14:28] bradfordcondon commented on #390
Result of above.

## Related Issue

## Type(s) of Change(s)

- [ ] Bug fix (non-breaking change which fixes an issue)
- [ ] New feature (non-breaking change which adds functionality)
- [ ] Breaking change (fix or feature that would cause existing functionality to not work as expected)
- [ ] API-specific change (fix or addition to an API function)
- [ ] Updates documentation (inline or markdown fil

[2018-05-30 14:31] laceysanderson commented on #375
Can you link to the code you posted for context?

[2018-05-30 14:33] bradfordcondon commented on #375
shoot im sorry of course

https://github.com/tripal/tripal/blob/d359971f965e7229708d83d499f64b9b8212f32e/tripal/includes/tripal.field_storage.inc#L69-L121

edit: wow I need to never just copy paste code in again.  This looks rad!

[2018-05-30 14:41] bradfordcondon commented on #390
Thanks @laceysanderson

My starting thoughts:

* This PR template should be both helpful to new users and relatively painless for dedicated submitters.
* The template should have some major heading sections
* The goal of the template is to
  - Make reviewer's lives easier
  -  nudge users to submit better PRs

So your draft:

* Related Issue, yes please.  Dont know that it needs a header.  there w

[2018-05-30 14:59] laceysanderson commented on #390
I think the types of changes will be a good way for us to determine whether or not it is a minor change and needs only one review or a major change that needs two reviews. It’s just adding an “x” to those that apply so I don’t think it would  be a big deal for submitters...

[2018-05-30 14:59] laceysanderson commented on #390
I like the shorter way to reference the issue !

[2018-05-30 15:03] bradfordcondon commented on #390
which one is that lol  yours is shorter mine is smaller

OK let's keep then :)

[2018-05-30 15:12] laceysanderson commented on #390
Oh sorry -typing while walking in ;-) I meant yours. I like that it makes the template feel less intense.

In reference to making it easier for long time submitters, I would be tempted to make the description optional. Perhaps add a comment to the effect of:

I do worry that we might just never get a description this way but :shrugs:

[2018-05-30 15:23] laceysanderson commented on #375
This section is supposed to restrict it so you are not retrieving all entities but only those specific to your query.
https://github.com/tripal/tripal/blob/d359971f965e7229708d83d499f64b9b8212f32e/tripal/includes/tripal.field_storage.inc#L81-L95

That said, I'm surprised we're even ending up in this function when adding a field and editing settings... What is the value of `$query->fieldConditions`

[2018-05-30 15:28] bradfordcondon commented on #375
when editing  Resource Type (`rdfs_type`):
Array, 0 elements.

here's the fully extended `query`

![screen shot 2018-05-30 at 11 28 03 am](https://user-images.githubusercontent.com/7063154/40730413-8e41415e-63fc-11e8-971e-ce60fd7c74b2.png)

dpm'd at the **start** of the call, ie line 70.

[2018-05-30 15:52] laceysanderson commented on #375
Wow, that would do it. It would be adding all the entities (not even those of a specific content type) into an array...

@spficklin & @shawnawsu was it expected that `tripal_field_storage_query` would get called when a field is created and settings configured? I would have expected it only on edit/view of an entity instance and views query...

[2018-05-30 15:54] bradfordcondon commented on #375
I'll point out the fact that this only happens for TRIPAL fields, and not CHADO fields.   Because theres only 1 Tripal field in existence by default some upgrade or mistake was easy to overlook.

This also means that for now, a simple fix is to use CHADO fields instead of Tripal fields.  (i didnt in this case because I intended to make the field back-end agnostic).

[2018-05-30 15:55] laceysanderson commented on #375
Also, we would have only seen the results when there is a substantial number of entities in the site.

[2018-05-30 17:12] bradfordcondon commented on #375
deleting a chado field (but not editing) also gives me the out of memory error:

`Fatal error: Allowed memory size of 536870912 bytes exhausted (tried to allocate 4096 bytes) in /var/www/html/sites/all/modules/tripal/tripal/includes/tripal.field_storage.inc on line 116`

Abdullah says we limit the live site to 512 MB for security reasons.

Is it possible this is connected to the timeout problem #3

[2018-05-30 21:46] ekcannon commented on #344
While it makes sense to have an advisory committee, I'm uncomfortable with the concept of a project management committee. There's a risk of Tripal becoming a design-by-committee hodge-podge if it lacks a [benevolent] leader who can say no and maintain a broad vision, across communities and into the future. Note that an effective lead listens to developers and the user community!

An alternative co

[2018-05-30 21:51] #253 closed, assigned to spficklin, shawnawsu

[2018-05-30 21:52] spficklin commented on #253
PR was merged... closing the issue.

[2018-05-30 21:53] spficklin commented on #338
Yes, I see the block, just not any logs.

[2018-05-30 22:11] laceysanderson commented on #371
I think this was a mistake on our part... @spficklin there wasn't a reason to do this, was there?

[2018-05-30 22:24] laceysanderson commented on #322
I agree that a different means of checking this is a good idea! Perhaps using [chado_table_exists](http://api.tripal.info/api/tripal/tripal_chado%21api%21tripal_chado.schema.api.inc/function/chado_table_exists/3.x)?

We could alleviate the need for an interface if we added the following at line 55:
[code]
This way, the mview table is cleaned up when it's checked for a view that has gone missing. N

[2018-05-30 22:26] laceysanderson commented on #338
Interesting... maybe you should file that as an independent issue? I can't duplicate it except when there are no logs to display of course. Even then I see the logs block.

Anyway, marking this as closed since the original problem is fixed via PR.

[2018-05-30 22:26] #338 closed, assigned to laceysanderson

[2018-05-30 22:35] laceysanderson commented on #344
I agree with @ekcannon to a certain extent. I think having someone(s) with a wider vision who can step in if the committee gets too carried away with exciting new features is a must. It's too easy to decide that because we all need something it should be in core which is a mindset eventually leading to bloat and maintainability issues.

That said, I am Very For a Project Management Committee (PMC)

[2018-05-30 22:36] laceysanderson commented on #378
Were you able to get to the cause of this?

[2018-05-30 22:39] laceysanderson commented on #290
Just going through old issues, assigning tags (organizing makes me happy :-) )...
Did you ever make progress on this?

[2018-05-30 22:46] laceysanderson commented on #284
I think this issue should be moved to https://github.com/tripal/tripal_analysis_blast. Was any progress made on it?

[2018-05-30 22:51] laceysanderson commented on #198
@btski are you still experiencing this behavior?

[2018-05-30 23:00] laceysanderson commented on #333
Closing this since it's not a problem with the current version of any known ontologies...

[2018-05-30 23:00] #333 closed, assigned to nobody

[2018-05-30 23:01] laceysanderson commented on #320
Removing myself as I've made no progress... Is this still an issue @shawnawsu ?

[2018-05-30 23:02] laceysanderson commented on #296
I no longer see this and suspect it has been fixed. Can you duplicate it @shawnawsu ?

[2018-05-30 23:04] laceysanderson commented on #233
This should be fixed in the most recent dev (was fixed in #382). Can you confirm it's fixed for you @risharde ?

[2018-05-30 23:05] laceysanderson commented on #209
Are you still experiencing this problem @ksbuble ?

[2018-05-30 23:08] laceysanderson commented on #265
Marking this as resolved due to @almasaeed2010 response. If it's not, please re-open!

[2018-05-30 23:08] #265 closed, assigned to chunhuaicheng

[2018-05-30 23:12] laceysanderson commented on #217
Marking this as a task rather then a bug then? Or do we still want to implement it ASAP (before release as indicated by the tag)?

[2018-05-30 23:13] laceysanderson commented on #205
Fixed via PR

[2018-05-30 23:13] #205 closed, assigned to nobody

[2018-05-30 23:14] laceysanderson commented on #204
This is fixed as we now have a map content type on install.

[2018-05-30 23:19] laceysanderson commented on #177
Closing this as there has been no movement on it for 7 months. Please re-open if you would like to continue the discussion :-)

[2018-05-30 23:37] bradfordcondon commented on #209
hey, I had this problem too!  #372 . (I dont bring up the is_current field there, but its part of my whole host of issues i had trying to upgrade my site's chado install). I manually added the `is_current` column to my site.
You can see my full pondering and solving of the issue on my site's repo:

https://github.com/statonlab/hardwoods_site/issues/268

Short answer: its a mystery when these table

[2018-05-30 23:55] spficklin commented on #354
PR #381 was merged. Closing this issue.

[2018-05-31 00:50] bradfordcondon commented on #290
no i havent addressed :(

could it be related to  https://github.com/tripal/tripal/issues/345 ?

[2018-05-31 00:51] bradfordcondon commented on #378
No.  seems like its a bug unrelated to Tripal and instead something wrong with our docker setup.  The discussion is there at https://github.com/statonlab/docker-containers/issues/12

[2018-05-31 00:51] #378 closed, assigned to nobody

[2018-05-31 00:54] #354 closed, assigned to laceysanderson

[2018-05-31 01:03] bradfordcondon commented on #344
@ekcannon thank you for the feedback, I really wanted some more input.  I would prefer if everyone who uses Tripal is excited about this organizational shift so I really want to discuss any and all concerns.

We have previously worked under a pseudo-benevelent/leads dictator model, where all major design decisions went through either lacey, stephen, or both.  This meant if neither was around, PRs

[2018-05-31 12:47] srobb1 commented on #284
@spficklin  Sorry for chiming in so late. If you are still looking for input, I am okay with just the accession 'gb\|([^|]+)' being used and having a longer def line. I am also okay with the current shorter definition.

@laceysanderson tripal_analysis_blast does seem like the best place for this issue.

[2018-05-31 12:57] bradfordcondon commented on #284
sorry for never chiming in.

Whatever makes the linkout work IMO.  I dont think the average user of our site is going to care which genbank accession iD is displayed.  @mpoelchau 's concern is a good one.

I'm creating the analysis_blast issue since yes that is where discussion belongs.

[2018-05-31 13:00] #284 closed, assigned to nobody

[2018-05-31 13:03] ekcannon commented on #344
A comment on project management in general: I've watched, and participated in a number of different governance models. The two that have fared the worst are:

1) The core team. A group of leads makes all the decisions, then doles out tasks to the rest of the team. Information passed on to team members tends to be incomplete, and the decision makers are unaware of the details of the various parts o

[2018-05-31 15:06] mestato commented on #344
I can see Ethy's point, about having a central "keeper of the vision", and if that doesn't conflict with a PMC thats ok with me. Because I think Tripal has gotten big enough and our leads are busy enough that a PMC makes sense, even if it is a bit of a "design by committee" system. With a project that is growing at the rate of Tripal, we need central leadership that is responsive to requests from

[2018-05-31 21:14] bradfordcondon opened #401 "bulk loader template help"
### System information

* Tripal Version: 7.x-3.x
* PHP: 7.1.14
* Postgres: 9.6.1

### Issue description

I'm modifying a bulk loader template.  I want to get the organism_id from feature X (parent feature in the image) that exists in the db, and use it to insert for feature Y.  I'm reasonably certain the below setup allows this?

![screen shot 2018-05-31 at 5 10 57 pm](https://user-images.githubu

[2018-05-31 21:23] bradfordcondon commented on #401
Looks like the data actually is collected by the form, it just doesnt get loaded as the default.

Minor annoyance at best, apologies.

Still not sure why this loader doesnt want ot work though :P

[2018-06-01 12:34] bradfordcondon commented on #401
I'm abandoning the loader for a variety of reasons.  This issue is so minor it doesn't need an issue, although it could be fixed.

Closing.

[2018-06-01 12:36] bradfordcondon commented on #391
nice!  FInal unchecked boxes I think have been deleted, these are our remaining branches, which are all active issues, or not on @spficklin 's list.

![screen shot 2018-06-01 at 8 35 29 am](https://user-images.githubusercontent.com/7063154/40840952-c3cf718a-6576-11e8-9281-1a815297ccf8.png)

do we need those stale branches ie `6.x-dev` ?  Other than that I think we can close this out.

[2018-06-01 14:52] laceysanderson commented on #401
Could you add the reasons here so that one day when I find time to work on the module I can take them into consideration to make it better?

[2018-06-01 14:56] bradfordcondon commented on #401
* Testing.  It's much easier to test the importer because I can do so via Tripal Test Suite.  I think we can figure out how to allow testing via cli but would take some thought.
* I eventually got the loader to a state where it looked right to me, but failed with no informative error message.
* I needed to insert feature positions, which meant creating a featuremap for all of the records in the lo

[2018-06-01 15:53] bradfordcondon opened #402 "module collaboration marketplace and showcase"
In [today's meeting](https://docs.google.com/document/d/1sLJm2ugd5JVAI3_Ggbc15JJm9zjgnZV1wnUSjBWWukM/edit?ts=5b115cbb#) we talked about ways to improve collaboration.   We'll discuss more next month about what makes collaborations successful (thanks @ekcannon !)

One of the offshoots of the initial discussion is the idea of a curated module list.  This already exists on tripal.info, to some extent

[2018-06-01 15:56] bradfordcondon commented on #402
I'm thinking of doing a writeup for each of my modules.  2 sentences and a screenshot: what does it do, a shot of it in action on HWG.  Then I'll say I welcome collaboration, input, users, feature requests, whatever.

This is what i imagine in an ideal world: something not unlike tripal.info where each module is an entity thats searchable/filterable, maybe a random module is pulled and highlighted

[2018-06-01 16:48] spficklin commented on #401
If you want to share your loader template and a sample data file, and we can check to see if it's a bug or needs changes to the setup.

[2018-06-01 16:51] spficklin commented on #402
What if we go more simple and just have a table of modules with the module name, brief description, Tripal compatibility (e.g. Tv2 or Tv3 or both), and a link to the repository?  That way it's not too much work for us to maintain on the tripal.info site.

[2018-06-01 16:51] bradfordcondon commented on #401
i dont think its worth anyone's time to do so.

In the case you disagree with me:

https://github.com/statonlab/tripal_ssr/blob/9a39dabc37349aaa8cfa96b3d33750e8c789e5a8/tripal_ssr.install#L185

this template is trying to load the start/stop as featureprops, which isnt ideal and is something I will change in the importer.  Advanced bulk-loader setup would be to use `featureloc` instead.

[2018-06-01 16:51] spficklin commented on #391
Awesome. Thanks folks!  Closing this issue.

[2018-06-01 16:51] #391 closed, assigned to laceysanderson, spficklin, bradfordcondon, shawnawsu

[2018-06-01 16:52] spficklin commented on #401
Right, okay, re-closing.

[2018-06-01 16:52] #401 closed, assigned to nobody

[2018-06-01 16:59] bradfordcondon commented on #390
any other feedback before i make a PR?  @spficklin ?

[2018-06-01 17:34] spficklin commented on #390
None from me.  Thanks @laceysanderson and @bradfordcondon for this.  I think it's good for a PR, and since we all agree can just be merged in.

[2018-06-01 17:41] spficklin commented on #209
It sounds to me that this is an upgrading problem with tables where created manually in Chado v1.2 but are not identical to the Chado v1.3 versions of the same tables that got added later.

I think since we have not heard back on this and @bradfordcondon confirms the fix is just adding the missing column I'm going to mark this closed.

[2018-06-01 17:41] #209 closed, assigned to nobody

[2018-06-01 17:49] spficklin commented on #177
I'm going to re-open this issue because I think we may still have an issue.  I can confirm that custom tables can be used for creating new content types.  That now works, so @btski I think the premise of the issue title is resolved.

However, a custom table can only be considered a "base" table and hence used to store content types if the table has a type_id column that has a proper foreign key to

[2018-06-01 17:54] spficklin commented on #204
This unfortunately is still a problem.   We have the map type created on install, but if someone deletes it and wants to recreate it manually they cannot :-(

[2018-06-01 17:54] spficklin commented on #204
This should be fixed before stable release.

[2018-06-01 18:09] spficklin commented on #322
@laceysanderson I like your fix.  I'll take care of the pull request on this.

[2018-06-01 18:37] bradfordcondon commented on #311
i started discussing test documenting with @spficklin .  we shoudl get some groundfloor requirements/expectations.

[code]

* tests start with test
* tests addressing an issue CAN have a ticket tag.  This lets you run a bunch of tests for an issue in isolation.  it also lets people easily refer back to the issue spawning the test.
* tests should have a descriptive name.  Remember the failed test s

[2018-06-01 19:12] #390 closed, assigned to bradfordcondon

[2018-06-01 22:28] isumoc opened #405 "Migrating to Tripal 3. The "prepare chado" step is optional or not-optional?"
### System information
* Tripal Version: 2.x -> 3.x ( tripal 3.x via git )
* Drupal Version: 7.x
* PostgreSQL Version: 9.x
* PHP Version: 7.1

### Issue description
I'm going through some migrations from 2.x -> 3.x.  I don't believe you can "skip" the prepare chado step if you had a previous Tripal installation. It has previously broken my migration attempts.

Can anyone verify this ?  I can submi

[2018-06-01 22:45] spficklin opened #406 "chado_table_exists problem"
### System information

* Tripal Version: 7.x-3.x
* Drupal Version:  7.x
* PostgreSQL Version: 10.3
* PHP Version: 7.2

### Issue description

The chado_table_exists function is used to check if a Chado table exists.  It maintains a global variable $GLOBALS["chado_tables"] where it keep track of all Chado table it has seen during the session.  This helps with reducing the number of expensive datab

[2018-06-01 23:09] spficklin commented on #405
Hi @isumoc yes, you have to run it during the upgrade.  You really shouldn't skip it.  Can you provide any error messages you are getting when you try the upgrade?

[2018-06-02 02:25] bradfordcondon commented on #405
I think you're saying the skip button shouldnt exist?
Or, Tripal sites can't skip it, but the text implies they can?

[2018-06-02 14:17] spficklin opened #407 "Chado tables missing ontology terms"
This issue is meant as a place holder until all tables in Chado have vocabulary terms associated with every table.  This way Chado will be 100% supported by Tripal v3.

This issue is being created initially for the protocol, assay and arraydesign tables for PR #398. Once those fixes are made then I will post a list of tables that remain.

[2018-06-02 15:51] spficklin commented on #407
These tables are missing vocabulary assignments

- [ ] **analysisfeature**
- [ ] **analysisfeatureprop**
- [ ] **biomaterial_treatment**
- [ ] **cell_line_cvtermprop** (cell_line_cvterm_id)
- [ ] **cell_lineprop_pub** (cell_lineprop_id)
- [ ] **control** (tableinfo_id, row_id)
- [ ] **cvterm** (is_relationshiptype)
- [ ] **cvterm_dbxref** (is_for_definition)
- [ ] **cvtermpath** (pathdistance)
- [

[2018-06-03 19:57] bradfordcondon commented on #402
That could work, but is it so much better than someone searching github tags for Tripal?  We could have a direct link to this search on tripal.info and the repo...

I do think a picture is worth a thousand words in terms of showing others what functionality the module brings to the site.

I'd also love to keep it somewhere that anyone can contribute so others can update as they like when we inevit

[2018-06-04 02:22] bradfordcondon commented on #402
I threw together a github pages for the repo.

https://statonlab.github.io/hardwoods_tripal_showcase/

It wouldnt be so bad to add some badges or categories... and improve the styling (fixed size cards for starters)
<img width="1433" alt="screen shot 2018-06-03 at 10 20 59 pm" src="https://user-images.githubusercontent.com/7063154/40895284-6d14ca9a-677c-11e8-8ca8-43ace9b125d5.png">

Its not too ha

[2018-06-04 13:47] bradfordcondon commented on #372
while this issue resolved our dev site problem,  we are unable to upgrade chado on our live site.  Please see below error.

[code]

[2018-06-04 15:31] isumoc commented on #405
No error messages.  I am just curious why the option of "skip" is here at all.  When I was first migrating I "skipped" it because I was following the instruction - and skipping borked my upgrade from Tripal 2.x to 3.x.

The text of the paragraph says "If you are upgrading from a previous version of Tripal, you do NOT need to prepare your site.

Can we either remove the "skip" option or change the

[2018-06-04 15:41] spficklin commented on #405
Yes, we should change the paragraph.  Those instructions were created very early on and things have since changed but the instructions have not. I'll make that change.  Thanks for pointing it out!  I will also remove the skip button.

[2018-06-04 16:22] shawnawsu commented on #296
Nope, this appears to be fixed.

[2018-06-04 16:22] #296 closed, assigned to spficklin

[2018-06-04 17:12] shawnawsu opened #411 "OBO loader fails on plant trait ontology"
The plant trait ontology, https://raw.githubusercontent.com/Planteome/plant-trait-ontology/master/to.obo, is not loading because of it's structure:

[code]

[2018-06-04 17:43] srobb1 commented on #411
I wonder if it is not loading because it is missing a "name:" field. I think name is required.

[2018-06-05 12:06] bradfordcondon commented on #372
sorry to ping directly but being stuck on chado 1.2 on live is causing me a lot of problems.  Do you have any ideas @laceysanderson @spficklin for how to resolve this?  The best idea I could come up with was to break up the diff sql file into chunks and try running piecemeal...

I am thinking of making this a help desk issue, but @almasaeed2010 may not be able to make it Friday and he is such a be

[2018-06-05 17:52] bradfordcondon commented on #389
the fix was so small that i made a PR despite you not being able to reproduce....

[2018-06-06 09:50] oklonova opened #414 "Tripal BLAST UI undefined variable db_file_id"
* Tripal Version: 7-2.1
* Drupal Version: 7.59
* Tripal BLAST UI 7-1.3

Hi,

I have installed BLAST UI module and followed the instructions in the README file: installed NCBI BLAST+, downloaded a database from NCBI using update_blastdb.pl script, and added it as a node to blast against, proving the path.
The path to the ncbi-blast+/bin is added in the settings.

The NCBI BLAST+ is at /home/user/nc

[2018-06-06 12:48] bradfordcondon commented on #414
This issue is actually a tripal_blast issue, so it should be posted in the [tripal_blast](https://github.com/tripal/tripal_blast/issues) repository.  I copied this issue, its [available here](https://github.com/tripal/tripal_blast/issues/36).  I'm answering the issue in both places for your convenience, but If you have further questions please ask them there.

You need to create a blast db node fo

[2018-06-06 12:48] #414 closed, assigned to nobody

[2018-06-06 13:09] ekcannon commented on #414
@oklonova are you trying to upload a target database or selecting the "Blast database" node you created from the target dropdown? Could you provide a screenshot of the error and form state?

[2018-06-06 16:50] abretaud opened #415 "Wrong CDS sequence order"
### System information

* Tripal Version: 2.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.5
* PHP Version: 7.2.4

### Issue description

Hi,
I have a problem with one of our tripal 2 instance where the "Coding sequence (CDS) from alignment" displayed for some mRNA is wrong. After looking into it, it seems like it happens for mRNA on reverse strand. The sequence computed by tripal is composed of

[2018-06-07 01:05] bradfordcondon commented on #389
from @spficklin in PR:

With the merge I'm going to close, despite Stephen hinting that we might need to think about the linker__prop field more (we can do so by reopening or new issue).

[2018-06-07 01:05] #389 closed, assigned to nobody

[2018-06-07 03:24] laceysanderson opened #416 "TripalImporter doesn't allow class form elements to preceed file upload element."
### System information

* Tripal Version: 7.x-3.x dev
* Drupal Version: 7.59

### Expected Functionality
Setting the `#weight` on a form element provided via a custom TripalImporter class should allow the developer to control the order of the form elements on the import form including placing custom form elements above the file import fieldset.

### Issue description
Currently the TripalImporter f

[2018-06-07 04:05] spficklin commented on #416
I don't remember a reason for this line of code where the importer's form is added under a 'class_elements' item to the form:
[code]
I am okay with an array_merge.

[2018-06-07 04:10] laceysanderson commented on #416
Awesome :-) I’ll submit a PR in the morning.

[2018-06-07 13:32] bradfordcondon commented on #405
merged, closing, thank you :)

[2018-06-07 13:32] #405 closed, assigned to nobody

[2018-06-07 20:46] spficklin commented on #415
Thanks for reporting this.  We'll test it and see what kind of fix we can make.

[2018-06-08 00:31] ksbuble commented on #209
We also found the issue related to a missing column in Chado. Adding the column resolved the problem.  (Sorry for the late reply. I am on vacation.)

[2018-06-08 01:37] spficklin opened #417 "Upload File Quotas and Expiration Backport to Tv2"
The code for managing quotas and expiration of files for uploads in Tripal v2 was missing.  This code used to be in the Tripal Galaxy module but it was moved into the Tripal "core" code because it was applicable to all file uploads, not just for Galaxy.  The Tripal Galaxy module should be compatible with both Tv2 and Tv3 so this code is needed in Tv2 (see tripal/tripal_galaxy#67).

[2018-06-08 01:44] laceysanderson commented on #322
This should be fixed by PR #404 as confirmed by two reviewers. If this doesn't fix the issue for you @guignonv please re-open the issue!

[2018-06-08 01:44] #322 closed, assigned to spficklin

[2018-06-08 07:10] mdondrup commented on #106
Now, the test server is also running 2.1, so there is no more difference. I would assume that the splice pattern in GBrowse is correct, but not always the one in Tripal. However, I checked the splicing pattern our examples and it seems to be correct now, so possibly there has been some progress in the meantime?

[2018-06-08 07:14] mdondrup commented on #415
Hi, I remember now that we have seen a similar effect in #106 which is possibly related. I would also check the correctness of the tripal core API function that returns the spliced mRNA sequence. I remember that it was not always giving the correct sequence, but I couldn't reproduce it right now. It seems that the examples from #106 are now working correctly in 2.1.

[2018-06-08 07:53] abretaud commented on #415
Just a note on this bug: it happens also for an mRNA on + strand (on the same contig of the same genome).
So I guess it has to do with [this sql query](https://github.com/tripal/tripal/blob/7.x-2.x/tripal_feature/api/tripal_feature.api.inc#L202) and how it's called (but it scares me)

[2018-06-08 13:54] bradfordcondon opened #420 "issue template types"
Issue templates: we can [have multiple templates](https://blog.github.com/2018-01-25-multiple-issue-and-pull-request-templates/)!  To demonstrate, I added them to my WHG issue repo.  When you press the "new issue" button, this is what it now looks like:

![screen shot 2018-06-08 at 9 49 03 am](https://user-images.githubusercontent.com/7063154/41161640-89a6ffa6-6b01-11e8-8234-2a52cd0ab169.png)

So

[2018-06-08 14:31] laceysanderson commented on #420
I Love this because I think it makes it even more clear that we want discussion & help questions on GitHub! I also like the suggestion of moving them into a .github folder to unclutter our repo.

[2018-06-08 14:40] bradfordcondon commented on #420
well the current general issue template lives in .github/  its the PR template thats in root.  I wish we could move all github stuff into .github, i can look into it.

[2018-06-08 15:32] spficklin commented on #420
This is great!  Can it also automatically add labels? or is that wishful thinking....

[2018-06-08 15:34] bradfordcondon commented on #420
based on the template submitted, you mean?  interesting question.

Thats 👍 👍 👍 from the PMC so im going to get started on adding it.  I'll post the proposed templates here as I make them.  Further suggestions/feedback are very welcome though.

[2018-06-08 15:41] bradfordcondon commented on #420
Proposed **BUG/ERROR report template**

[code]

[2018-06-08 15:47] bradfordcondon commented on #420
Proposed **FEATURE REQUEST** template.  i need help with this one.
[code]

[2018-06-08 15:53] bradfordcondon commented on #420
proposed **discussion/question/other** template.  Honestlly maybe this should just be blank instead?

[code]

[2018-06-08 18:44] bradfordcondon opened #421 "cv browser irregularities"
### System information

* Tripal Version: 3

### Issue description
im sorting an issue we had on [HWG](https://github.com/statonlab/hardwoods_site/issues/251) where I had duplicated terms in the tree for GO.

note molecular function regulator:

![image](https://user-images.githubusercontent.com/7063154/41175152-25ce52e4-6b2a-11e8-82a8-4104c6b4e5df.png)

i went on the demo site to look for this ter

[2018-06-08 18:44] bradfordcondon commented on #421
first things first i guess we need to know if hte demo site has the full GO vocab loaded or not: @spficklin any ideas?

[2018-06-09 12:12] bradfordcondon commented on #420
@laceysanderson apparently i can move ALL github docs into the  [.github/](https://blog.github.com/2016-02-17-issue-and-pull-request-templates/) folder (so why wasnt it autocreated there????).

I'll obviously move the PR_TEMPLATE into there, but what about CONTRIBUTING.md?  I kind of like that in the root of hte project (like say the license, or the README.)

dont think tis major enough to warrant

[2018-06-10 03:31] laceysanderson commented on #420
I agree with you on keeping CONTRIBUTING.md in the root folder :-) and am excited that we can move the issue/pr templates into .github folder! Thanks for checking into it!

Suggestion for all templates: I think it's easier to read these when they're hard-wrapped :-)

## Bug Report:
I love this one! Only thing I can think to suggest is adding a newline between the "Steps to reproduce" and "Error me

[2018-06-11 11:24] almasaeed2010 opened #423 "Remote Field Fails with Fatal Error"
### System information
* Tripal Version: 7.3 (master branch)
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

After adding a remote field to the organism bundle, I get the following error:

[code]

Seems like a simple error so should be easily fixable.

Thanks!

[2018-06-11 11:31] almasaeed2010 commented on #423
Resolving the site id issue, produces the following non-fatal error:
[code]

[2018-06-11 11:40] almasaeed2010 commented on #423
So the PR #424 addresses the first fatal error but I am not sure what's needed for the second formatter problem.

[2018-06-11 12:28] bradfordcondon commented on #420
thank you for the feedback @laceysanderson : PR submitted.

I imagine we'll revisit the feature request/discussion templates but right now just having them gives users a button to push that opens an issue telling them they are in the right place instead of a confusing list of system requirements so i think it's a really good thing to get it out there.

I submitted as you suggested.  I think the fe

[2018-06-11 14:27] bradfordcondon commented on #402
so, the showcase is available for others who want it.  We don't want it for Tripal.

Instead i'm hearing that we should just link the tripal to the [github tripal topics search ](https://github.com/topics/tripal) on tripal.info and this README.

[2018-06-11 17:02] laceysanderson commented on #420
@bradfordcondon, do you have any suggestions to make the feature request less defensive/aggressive? Is it the checkboxes that push it over the edge?

[2018-06-11 17:06] bradfordcondon commented on #420
hahah what an oxymoronic critique way to go me

yes its definitely all the checkboxes. I think those points come in the specific use case and generally applicable sections.  I dont know that we need the check box section at all. Alternatively, what if we just got rid of those redundant with the general/use case sections?

[code]

[2018-06-11 17:09] laceysanderson commented on #420
I like it :-) Checkboxes make me happy so I often go overboard with them ;-p

[2018-06-11 17:15] bradfordcondon commented on #420
thanks, ill revise the PR.  I think they look confusing when viewed unrendered to novices personally.

[2018-06-11 17:49] bradfordcondon commented on #420
cool.

![screen shot 2018-06-11 at 1 48 56 pm](https://user-images.githubusercontent.com/7063154/41248182-3abead74-6d7e-11e8-8379-ad97b6e6ebd7.png)

[2018-06-11 17:49] #420 closed, assigned to bradfordcondon

[2018-06-11 18:03] laceysanderson commented on #420
Thanks for closing -I was too busy showing everyone in the office how awesome this change was 🎉

[2018-06-12 03:22] spficklin opened #427 "Content types via prop tables don't insert property"
## BUG/ERROR report

### System information

* Tripal Version: 3
* Drupal Version:  7,.58 (or any version really)
* PostgreSQL Version:  10.4
* PHP Version: 7.2

### Issue description

When creating a content type that is differentiated via a prop table, and when inserting a brand new record, the corresponding prop record is not added.  Everything seems to work just fine because the entity is prop

[2018-06-12 03:28] #417 closed, assigned to nobody

[2018-06-12 03:28] spficklin commented on #417
PR fix merged.  Closing

[2018-06-12 03:35] spficklin commented on #415
@abretaud for quick testing, using your GFF file above, can you share a test sequence for the "SomeContig"?

[2018-06-12 04:44] spficklin commented on #375
Yes, the tripal_field_storage_query gets called when deleting a field because the [field_purge_batch](https://api.drupal.org/api/drupal/modules%21field%21field.crud.inc/function/field_purge_batch/7.x) function is called whenever a field is deleted.  This function then calls the EntityFieldQuery function which then calls the hook_field_storage_query() which if this is a tripal field will call **tri

[2018-06-12 04:50] spficklin commented on #375
If that fix works then I can submit the branch as a pull request.  I'm not 100% sure that will fix hence I did not submit it as a PR.

[2018-06-12 12:42] bradfordcondon commented on #375
I can confirm this fixes the 500 error on deleting a tripal field.

[2018-06-12 13:43] #411 closed, assigned to shawnawsu

[2018-06-12 15:19] spficklin commented on #375
How about the slowness issues you had when deleting fields?

[2018-06-12 15:26] bradfordcondon commented on #375
we'll have to see: we have different memory settings on live and dev....  site seems ok and i didn't have memory problems after deletion.

[2018-06-12 18:51] bradfordcondon opened #429 "error in tripal chado's tripal_feature_match_features_page ?"
## BUG/ERROR report

### System information

* Tripal Version: 3
* Drupal Version: 7.59
* PostgreSQL Version: 9.3.23
* PHP Version: 7.0.27

### Issue description

the `tripal_feature_match_features_page()` is giving us errors on our live and dev site.  Specifically theres something wrong with the theme_table call and/or the theme? Code looks reasonable to me though.  I followed the trace and `drup

[2018-06-12 23:50] spficklin commented on #204
PR merged! closing.

[2018-06-12 23:50] #204 closed, assigned to spficklin

[2018-06-12 23:52] spficklin commented on #217
I think this issue is resolved with PR #398. When that gets merged this can be closed.

[2018-06-12 23:57] spficklin commented on #334
I'm going to take off the release blocker tag from this because I am not able to test/duplicate this because I don't have Drupal on an NFS file system.   @chunhuaicheng any chance you can dig into it a bit more and see what has changed between Tv2 and Tv3?

[2018-06-13 00:09] spficklin opened #430 "Web Services croaks when term is missing URL"
## BUG/ERROR report

### System information

* Tripal Version: 3
* Drupal Version: 7.48
* PostgreSQL Version:  10.4
* PHP Version:  7.2.

### Issue description

Tripal web services uses JSON-LD and therefore everything has to have a term and every term has to have a URI.   If a database entry does not have a urlprefix then it causes the following error to appear on the page (from treegenes):

[cod

[2018-06-13 11:55] shawnawsu commented on #320
Yes, this is still an issue when testing on the 7.x-3.x branch.

[2018-06-13 12:01] #330 closed, assigned to laceysanderson, spficklin

[2018-06-13 14:35] guignonv opened #431 "General table prefixing issue in chado_query"
Tripal Versions: 2.x and 3.x (13/06/2018)
Drupal Version: not relevant
PostgreSQL Version: not relevant
PHP Version: not relevant

In tripal_core.chado_query.api.inc, the chado_query function prefixes tables using the curly brackets {} for Chado tables and square brackets [] for Drupal tables. The following piece of code is currently used:
[code]
This raises 2 issues:
1) when the user wants to use

[2018-06-13 14:41] guignonv commented on #431
So far, I thought about something like this :
[code]

[2018-06-13 14:56] guignonv commented on #431
Additional notes:

- Drupal uses the protected function setPrefix($prefix) to prefix tables.

- How Drupal can handle table prefixing is explained there:
https://api.drupal.org/api/drupal/sites%21default%21default.settings.php/7.x
 look into the source code documentation for "Database settings".

[2018-06-13 16:42] chunhuaicheng commented on #334
I updated to the latest code and the problem is now gone. I'm closing this issue.

[2018-06-13 16:42] #334 closed, assigned to nobody

[2018-06-13 17:18] laceysanderson commented on #431
Thank you for reporting this @guignonv! I will have to think on this further before weighing in on a fix as we need to keep efficiency in mind as well.

[2018-06-13 17:20] laceysanderson commented on #320
By the way, I would argue this is a release blocker because it's asking a lot to expect data curators to save between addition of each field. Thoughts @spficklin?

[2018-06-13 17:27] laceysanderson commented on #430
Perhaps this could be solved by defaulting to the cv lookup page for the current tripal site? For example, if `SOFP` didn't have a URL prefix but the `SOFP:comment` term was used in a given tripal site, it could link to `[tripal site]/cv/lookup/SOFP/comment`.

![screen shot 2018-06-13 at 11 26 31 am](https://user-images.githubusercontent.com/1566301/41367577-aad8b51c-6efc-11e8-9e59-152f6b8b7119.pn

[2018-06-13 17:33] laceysanderson commented on #429
Oh wow, that is old code. The call to theme_table (L1186) is still in the Drupal 6 format. For Drupal 7 all parameters should be combined into a variables array: https://api.drupal.org/api/drupal/includes%21theme.inc/function/theme_table/7.x

Thus it should be
[code]

[2018-06-13 17:35] laceysanderson commented on #423
Removing PR submitted (it's merged btw) since now we need a fix for the formatter errors.

[2018-06-13 19:08] spficklin opened #432 "We need an Array Design field for the Assay content type"
## Feature Request/Discussion

- [x] does this feature attempt to solve an existing problem with Tripal?
- [ ] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [x] do you **Need** this feature ASAP?

### Description

We are missing a TripalField that corresponds to the assay.array_desig

[2018-06-13 19:09] shawnawsu opened #433 "Array Design autocomplete field error and notices."
In addition to the instruction confusion when you lookup a term in the Protocol content type node in the "Protocol Type" area you get these notifications in the watchdog log:
[code]
In the Array Design content type node in the "Substrate Type" field when you click 'lookup term' after filling in the autocomplete field you get these notifications/errors (the error arises when searching terms with sp

[2018-06-13 23:37] spficklin commented on #430
Very good idea @laceysanderson. I'll implement that and add a PR.

[2018-06-14 15:57] spficklin commented on #423
Thanks... I'm working on that...

[2018-06-14 17:06] bradfordcondon opened #435 "drupal search API collections support speed and customizability"
## BUG/ERROR report

### System information

* Tripal Version: 3
### Issue description

We now have collections support for views which is great.  However, creating collections (not generating hte files but creating the collection) is slow.  it also creates the collections with *all* fields.  I'm assuming it should work like the search collection, where the user picks the fields?

see https://gith

[2018-06-14 17:17] bradfordcondon commented on #416
pr merged so closing.

[2018-06-14 17:17] #416 closed, assigned to laceysanderson

[2018-06-14 17:42] laceysanderson opened #436 "Tripal Collections are very slow to create for Drupal Search API Views"
## BUG/ERROR report

Follow-up Issue for #351.

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: n/a
* PostgreSQL Version: n/a
* PHP Version: n/a

### Issue description

Currently creating a Tripal Collection from a Drupal Search API view is very slow (e.g. 5 min to create a collection with 400 members).

This is due to needing to lookup the bundle for each item in the collectio

[2018-06-14 17:43] bradfordcondon commented on #435
duplicate with #436 closing this one.

[2018-06-14 17:43] #435 closed, assigned to nobody

[2018-06-14 17:57] laceysanderson opened #437 "Configure Fields for Drupal Search API-based Tripal Collections"
## Feature Request/Discussion

- [x] does this feature attempt to solve an existing problem with Tripal?
- [x] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [ ] do you **Need** this feature ASAP?

### Description

Currently when saving a Tripal Collection on a view based on a Drupal

[2018-06-14 17:59] laceysanderson commented on #423
Just making sure it didn't fall through the cracks :-)

[2018-06-14 18:47] bradfordcondon opened #438 "drush pub importer"
## BUG/ERROR report

### System information

* Tripal Version:3

### Issue description
I was really excited about the command line drush importer for pubmed citations.  However the command fails with the below error.  However my sql query shows i only have one cv and one cvterm for the term "Journal Article".

[code]
hardwood_dev=>

#### Steps to reproduce
`drush trp-import-pubs --dbxref=PMID:2979

[2018-06-14 19:06] bradfordcondon commented on #320
For what its worth, I am able to take an analysis with 0 organisms associated and add 5 in 1 go [using the widget](https://github.com/statonlab/tripal_manage_analyses/blob/master/includes/TripalFields/obi__organism_linker/obi__organism_linker_widget.inc) on my dev site.  Not sure if this is impacting *all* sites or *some* sites, but can confirm that this field is OK for me.

[2018-06-14 23:08] spficklin commented on #423
I added a new pull request to fix the remaining problems.

[2018-06-15 00:04] spficklin commented on #436
So, doing a bit of digging, I don't think the problem is the lookup of the bundle.  I think the problem is that the $form_state['values']['results'] comes pre-populated with the full entity for every match!  This means that if you have 400 results, the Search API will generate 400 entities, which means it must run through all of those entities and generate values for all the fields (or at least th

[2018-06-15 03:29] spficklin commented on #436
Okay, I have figured out the culprit, and I think I understand why @laceysanderson and I had different records for entities when testing PR #351.   When highlighting is turned on for the search index, then that filter will fully load the entities and all of the fields of type 'fulltext',  This I believe is what is causing the slowness. It takes time to load all the indexed fields for 400 entities.

[2018-06-15 03:33] spficklin commented on #436
So, I guess I should ask.  If we can't fix this very easily.  Should we remove the functionality for now?  I would rather not offer it than have something be extremely slow....

[2018-06-15 05:42] spficklin opened #441 "Content Types for Tv3"
Before we make the next release of Tripal v3, I would like to specify which content types we should have available by default.  With Tripal v2 each content type required a new module, but for Tv3 adding new content types adds very little code.   Here's the list of content types that are currently created automatically with Tripal v3:

1) organism
2) analysis
3) project
4) map
5) publication
6) gen

[2018-06-15 16:21] mpoelchau opened #442 "Advice on content type for custom module"
Hi Tripal folks,

We have created a custom module that allows users to submit metadata and data to our Tripal site. We have recently extended this module to ingest metadata from NCBI for genome assemblies, so that users won't have to spend too much effort adding metadata for their genome assemblies into our form.

The way it works is that the user enters an assembly accession number in the dataset

[2018-06-15 17:00] laceysanderson commented on #436
If we know the slowness is specific to the "Highlighting", I would be more tempted to add a Tripal Notice in the Views UI Settings for the Tripal Collections handler warning admin of this and telling them to turn off highlighting.

I need this feature for KnowPulse and we don't use the highlighting (my preference is to display results in a table). So please don't take it away! ;-p

[2018-06-15 23:02] spficklin commented on #436
@laceysanderson do you have slowness creating large collections when you have highlighting turned off?  Also, just curious, how do you format your search results without highlighting?

I'm good with your suggested approach, BTW.

[2018-06-15 23:57] spficklin commented on #210
I added a PR to fix this.  I think the analysis field is the last FK field that needed a field for our current list of content types.  Others were added by PR #398.  So aftwerwards this new PR gets merged we can close this issue.

[2018-06-16 00:23] spficklin commented on #436
I just added a PR that does what you asked for @laceysanderson.

[2018-06-16 07:09] spficklin commented on #141
I have submitted a PR #445 which provides more robust warnings and form validation errors if a term namespace problem occurs.

[2018-06-16 07:29] spficklin commented on #139
I have submitted a PR #446 that resolves this issue.  @chunhuaicheng can you please review that PR?  The testing instructions are provided and if after you test it, just add the label 'Reviewer 1 Approved' and post a comment that it was successful. If not successful then of course post what went wrong.

Thanks.

[2018-06-16 07:40] spficklin opened #447 "delete_me"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version:  7.x
* PostgreSQL Version: N/A
* PHP Version:  N/A

### Issue description

Several fields will sometimes get their default values set to 'delete_me'.  This needs to be fixed.

#### Steps to reproduce

#### Error messages and screenshots

Create a new Chado Property field on the Organism content type.  Re-edit the

[2018-06-17 05:07] spficklin opened #449 "Annoyances"
This is just a place to catch small annoyances that need fixing before the release but may or may not be bugs and bugs are minor.

[2018-06-17 05:08] spficklin commented on #449
Annoyance 1:  The content types are not sorted alphabetically

[2018-06-17 05:09] spficklin commented on #449
Annoyance 2:  The code for autocomplete for specifying a cvterm is duplicated in multiple places. It really should be one function so we can make fixes (if need be) in one place.

[2018-06-17 06:31] spficklin opened #450 "Error publishing if fields have defaults"
## BUG/ERROR report

### System information

* Tripal Version: 3
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version: N/A

### Issue description

If a content type has a field field that has a default value set and you try to publish new entities you get errors that the entity could not be saved.  This is because the EntityController attaches fields to an entity before saving, and becaue

[2018-06-17 07:08] spficklin commented on #449
Annoyance 3: When changing the field layout for a content type the page loading is too slow.

[2018-06-17 08:43] spficklin opened #452 "Some field tokens don't work in URLs"
## BUG/ERROR report

### System information

* Tripal Version:  3
* Drupal Version:  7.x
* PostgreSQL Version:  N/A
* PHP Version: N/A

### Issue description

It seems some tokens don't work correctly when building URLs for content types.  They are missing from the URL.

#### Steps to reproduce
Setting the mRNA URL to be mRNA/[obi__organism]/[schema__name]

#### Error messages and screenshots

[co

[2018-06-17 09:03] spficklin commented on #415
@abretaud I'm having a hard time reproducing this one. I'd like to get this fixed before our next release of both Tripal v2 and Tripal v3.  I cannot reproduce the problem.   Can you send me the full contig/chromosome sequence and the correct transcript sequence?  If you prefer to do that privately feel free to email those to me directly.

[2018-06-18 12:26] bradfordcondon commented on #449
Annoyance 4:  I often want to look up the bundle and entity id given a chado record and table, but i dont think theres an API to do so.

edit: saw after i posted that this is "needs fixing before release" ... dont know if i feel that way about this.

[2018-06-18 12:48] bradfordcondon commented on #442
Hi Monica Chaitu and Chris,

I think you have a few  options... I'm offering some general feedback, i could help you draw a more specific plan depending on the types of data you are loading.

So yes, you could create a new analysis record using the existing analysis bundle.  Then all of your imported data would go into analysisprop.  Tripal will automatically create a Chado property field for each

[2018-06-18 13:18] mestato commented on #442
For Tripal 2, it sounds like your module should extend Tripal analysis (see for example https://github.com/tripal/tripal_analysis_unigene and https://github.com/tripal/tripal_analysis_expression), so would be something like "Tripal Analysis Genome" or "Tripal Analysis NCBI Genome".

I'm not sure if I understand your question about templates, but they stay organized by being shipped with the module

[2018-06-18 13:19] bradfordcondon commented on #442
Oops yeah thanks Meg: my advice was made from a 100% tripal 3 perspective.

[2018-06-18 13:29] bradfordcondon commented on #441
My belief is that its very easy to create custom types as necessary with a little Chado knowledge.

The more content types we enable by default the messier the add content screen is.

So i'm really in favor of keeping the list very minimal and pushing a very beginner friendly "create custom types or types for chado tables that dont exist!" document.  Link to it in the "create content type" instruc

[2018-06-18 13:42] bradfordcondon commented on #436
hi @spficklin @laceysanderson my highlighting was never turned off so i dont think this was the cause of my slow collection creation.

<img width="969" alt="screen shot 2018-06-18 at 9 41 47 am" src="https://user-images.githubusercontent.com/7063154/41539534-f7e93880-72db-11e8-9d93-05fbd47d3781.png">

[2018-06-18 13:48] spficklin commented on #442
Hi @mpoelchau just to get further clarification.  Where are you storing the metadata at the moment?  Are you leaving it in JSON files or putting it into Chado?

[2018-06-18 13:54] bradfordcondon commented on #139
I merged but realized you specifically want @chunhuaicheng . I won't close the issue until hearing from him.

[2018-06-18 13:55] mestato commented on #441
I like having default content types - they make demo'ing the power of the software much more straightforward and give new site developers a lot to work with as soon as they start (chado and drupal can be pretty intimidating!). So I guess my argument is exactly opposite of Bradford's - if they are super easy to set up and for developers to later modify, why not do them?

I would vote for contact -

[2018-06-18 14:00] spficklin commented on #139
Oh, I requested @chunhuaicheng because he reported the error and I was trying to spread out reviewing so the load doesn't always fall on the same few folks.   But if the testing worked and the problem is fixed then I think we can close it out.

[2018-06-18 14:00] #139 closed, assigned to nobody

[2018-06-18 14:30] bradfordcondon commented on #441
The criteria I had in mind were
* Will this content type be used by the majority of tripal sites
* will admins want users to visit this entity on its own page
* will admins want to manually create entities

The first point is keeping with Tripal's general guidelines.  The second two are really the **point** of having a content type.

I think Meg makes a really good point about considering types th

[2018-06-18 15:49] laceysanderson commented on #436
Darn.

So we figured out why @spficklin had entities vs. me simply having their ids 👍 Loading the full entities was likely a point of slowness, although Drupal seems to use impressive caching to make this less of a problem.

However, it's still way to slow even with "highlighing" turned off :-( I'll do some testing today and see what I can figure out.

[2018-06-18 16:13] laceysanderson commented on #441
Another thing to consider is that if Tripal provides the content types we stand a better chance of all sites using the same cvterms for their content, which would increase sharability.

My Minimal? List would be:
_(would increase if we go with suggestion below)_

General Tables:
- project
- analysis
- organism
- pub
- contact (included due to @mestato argument)

Genomics:
- gene
- genome assembly

[2018-06-18 16:29] spficklin commented on #441
I think we should try our best to support new users who don't know Chado that well and would have to undergo a major undertaking to figure out how to create new content types by first learning Chado and where everything should go.  So for that reason I'm leaning towards having as many content types ready to go as possible.   And @laceysanderson your argument about increased sharability by using th

[2018-06-18 16:32] bradfordcondon commented on #441
Agreed, I'm totally on board with as many content types as possible now, some really good points i didnt think of.

[2018-06-18 17:12] laceysanderson commented on #441
I like the idea of separate modules 👍

[2018-06-18 17:14] spficklin commented on #345
This seems to have been resolved, somewhere along the way.

[2018-06-18 17:14] #345 closed, assigned to nobody

[2018-06-18 17:51] spficklin commented on #441
One other thing I forgot to mentioned. Unlike previous versions of Tripal, I think it would be nice if we had a content type ready to go for every base table of Chado.

[2018-06-18 18:24] spficklin commented on #449
I'm marking those that have been resolved with a horray emoji

[2018-06-18 18:46] laceysanderson commented on #441
If by "ready to go" you mean documented somewhere with chosen cvterms then I agree that would be something to strive for. If you mean automatically added in any way, I don't agree. I would find that extremely overwhelming and hard to navigate...

[2018-06-18 18:52] spficklin commented on #441
Yes, I meant automatically added... but by way of the new module plan.  For example, if you want to display transcriptomic data then perhaps we have a tripal_transcriptoimcs_site that adds content types for the expression/MAGE tables of Chado.

[2018-06-18 19:14] laceysanderson commented on #441
I'm working on a speedsheet for content type specs :-) It's open to edit so please feel free to jump in!
https://docs.google.com/spreadsheets/d/1wJbekYwaw4qULHdjh4hapWwrj82-w9IqiHs_1flr3iM/edit?usp=sharing

[2018-06-18 20:08] bradfordcondon commented on #449
teh cvterm lookup box returns results that aren't valid for term creation.
For example:

<img width="742" alt="screen shot 2018-06-18 at 4 07 26 pm" src="https://user-images.githubusercontent.com/7063154/41559364-d78f163c-7311-11e8-81ed-aa08ac538a85.png">

<img width="673" alt="screen shot 2018-06-18 at 4 07 32 pm" src="https://user-images.githubusercontent.com/7063154/41559362-d3f97fd0-7311-11e8-

[2018-06-18 20:35] spficklin commented on #449
Oh, this is the same problem as the third comment above.   It's because that autocomplete term is a synonym but the lookup code isn't using synonyms.  It got fixed in one place but not in other places.

[2018-06-18 20:40] laceysanderson commented on #447
Fixed via PR.

[2018-06-18 20:40] #447 closed, assigned to nobody

[2018-06-18 23:16] spficklin commented on #449
Annoyance 5: Data Searches should not search by default, but it should be set to require a button press before results are shown.

[2018-06-18 23:58] spficklin commented on #355
I have submitted a pull request that fixes the issue raised by @almasaeed2010 .  The question posed by @isumoc I believed was answered by @laceysanderson and discussed in a recent online help session.  So I think once the PR is approved this issue can be closed.

[2018-06-19 05:40] spficklin commented on #438
@bradfordcondon can you pull this branch and test to see if the fix I committed corrects the problem for you?  branch:  438-tv3-pub_xml_fix

[2018-06-19 05:53] spficklin commented on #438
I think the problem was due to the fact that the title and the abstract had embedded HTML.  That threw off the XML parser.

[2018-06-19 10:03] guignonv commented on #441
+stock
+stockcollection
+contact

[2018-06-19 11:55] bradfordcondon commented on #438
imports as:
[code]

Thanks @spficklin !  I had no idea that was the problem :P

ps does the citation need to be manually edited to have the hyperlink?  If so I might submit that as a feature request/simple PR>

[2018-06-19 12:13] bradfordcondon opened #456 "PDO exception on user file area"
## BUG/ERROR report

### System information

* Tripal Version:3

### Issue description

When investigating an error report on our admin account (user's data is not writable: !user_dir) I went to the user files tab.  I was unable to visit the page because of the below PDO error.

#### Steps to reproduce
I'm not sure unfortunately. I get this error on my live site, not my personal site.

#### Error

[2018-06-19 12:51] abretaud commented on #415
Sorry for the delay, too many things to do these days...
I've just tried to create some minimal test data, but couldn't reproduce the bug either. I guess there's something else involved, I'll make moer tests and let you know when I have something reproducible

[2018-06-19 13:55] bradfordcondon commented on #210
merged.  Is that really all the FK fields?  great.  closing.

[2018-06-19 13:55] #210 closed, assigned to nobody

[2018-06-19 16:05] bradfordcondon opened #457 "content page PDO error broken"
## BUG/ERROR report

### System information

* Tripal Version:3

### Issue description

#### Steps to reproduce
visit `/admin/content/bio_data` on current master.

[code]

tripal_entity.label is not a column in the tripal_entity table.

[2018-06-19 16:07] sookjc commented on #441
Hello,
I think having a good list of content is good as long as we think they will be used by most sites without a conflict.

I'm good with Stephen's current list with a few addition.
organism
analysis
project
map
publication
gene
mRNA
+genetic marker
+QTL

Not sure about SNP as a separate content type since we can store them as genetic marker. The sub type can be stored in featureprop. But we cou

[2018-06-19 16:07] bradfordcondon commented on #457
https://github.com/tripal/tripal/blob/3a919514aee0bbd4202ddf63859065108739893d/tripal/includes/TripalEntityUIController.inc#L202-L211

label exists for tripal_bundle.  So we probably meant to get the label column from that table instead.  But where was it added?

https://github.com/tripal/tripal/blob/3a919514aee0bbd4202ddf63859065108739893d/tripal/includes/TripalEntityUIController.inc#L319

here w

[2018-06-19 16:15] spficklin commented on #457
Yeah, sorry. That accidentally snuck in another pull request :-/  I removed it in one yesterday.  But I think I fixed it in another PR from yesterday that got merged?  Can you pull the most recent code and see?

[2018-06-19 16:15] bradfordcondon commented on #457
Yes, this is on both my dev and my live site as of 5 minutes ago, plus the code i linked is to current master.

[2018-06-19 16:23] bradfordcondon commented on #457
thanks for the quick response.  my fault as well for not noticing in review.

[2018-06-19 16:24] #457 closed, assigned to bradfordcondon

[2018-06-19 16:31] laceysanderson commented on #441
Hi @sookjc , thanks for weighing in! I think it's even more important to come up with defaults for germplasm in order to increase the likelihood of being able to share data. **Can you share the cvterms you use for each of your types?**

_Note: Keep in mind that providing defaults doesn't mean any site is required to use them. Furthermore, additional Tripal Content Types pulling from the stock tabl

[2018-06-19 18:18] spficklin commented on #441
@sookjc @laceysanderson and @guignonv.  The "breeding/genetics" portion of Tripal has, in the past, been a very "gray box".   The genomics part is more solid because we have community derived data formats and data types, and rules for Chado... so it's much easier.  But, if we could come up with a list of types for the stock table, and select from those as default content types (that they can choos

[2018-06-19 18:20] spficklin commented on #415
Okay, well at least this got some other fixes into Tv3 from this :-)   I'll take off the release blocker label, but leave it open a bit longer so you can report on testing.

[2018-06-19 18:21] spficklin commented on #438
The hyperlink was programmed to show up automatically if there was a URL or dbxref, I thought.  If it's not working then there's a bug.

[2018-06-19 18:22] spficklin commented on #438
I'm going to do a PR for this fix.

[2018-06-19 18:23] bradfordcondon commented on #438
it does create the DBxref that links out.  but i didnt think that would show up when the publication is say attached to another entity.  I can check that.

[2018-06-19 23:41] spficklin opened #461 "PHP/Drupal/Tripal Pro's and Con's"
In preparation for our upcoming open meeting for the design and needs of Tripal v4. I have created an online document to allow all Tripal users, developers and stake holders to organize thoughts on the pros and cons of PHP/Drupal and Tripal.    I start it out completely blank to allow for free flow of input.   If you are a user of Tripal past or present please consider adding to the document.

Her

[2018-06-20 01:22] spficklin opened #462 "Publication Content Type has a publication field on it!"
## BUG/ERROR report

### System information

* Tripal Version: 3
* Drupal Version:  N/A
* PostgreSQL Version: N/A
* PHP Version:  7.2

### Issue description

The publication content type has a field on it that uses the schema__publication field.  It prevents importing of publications.  This should be looked into.  I did not have time try to duplicate it.

#### Steps to reproduce

#### Error messag

[2018-06-20 05:31] spficklin commented on #449
Annoyance 6:  The Pub Importer still has a link to the old help pages.

[2018-06-20 05:31] spficklin commented on #449
Annoyance 7: importing pubs results in warning messages if the pub already exists.

[2018-06-20 05:51] spficklin opened #465 "Tripal Pub Importer report isn't working"
## BUG/ERROR report

### System information

* Tripal Version: 3
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version:  7.2

### Issue description

The Tripal Importer has the ability to generate a report and email a specific user.  The email is sent but no the report is empty.

#### Steps to reproduce

Create a Tripal Importer, then run it manually on the command-line with this command:

[2018-06-20 08:16] spficklin commented on #449
Annoyance 8: non Tripal fields aren't showing up in the web services.

[2018-06-20 09:50] spficklin commented on #449
Annoyance 9:  Tripal Bundles don't have the uid integrated with Views and there are no relationships for the user content.

[2018-06-20 12:57] bradfordcondon commented on #347
I think this issue is resolved.  not sure about 7.x-2.x testing itself: i don't know that it's something we even need to think about considering our horizon for getting good test coverage.

[2018-06-20 12:57] #347 closed, assigned to almasaeed2010, bradfordcondon

[2018-06-20 12:59] bradfordcondon commented on #375
I'm marking this resolved.

[2018-06-20 12:59] #375 closed, assigned to spficklin

[2018-06-20 13:22] bradfordcondon commented on #461
Hi Stephen,

The document is set to view only by default: maybe it should be open-edit?  Or are we meant to make a copy and fill it out seperately?

[2018-06-20 15:10] spficklin commented on #461
Whoops, sorry about that. It should be editable now.

[2018-06-20 15:44] spficklin opened #467 "Tripal Entity Relationships"
## BUG/ERROR report

### System information

* Tripal Version:  3.
* Drupal Version:  7.x
* PostgreSQL Version:  N/A
* PHP Version:  N/A

### Issue description

So, it's currently not possible to integrate our Tripal Entities with other 3rd party tools such as [flag](https://www.drupal.org/project/flag) because we have a different Views query handler and typically those modules don't expect anythi

[2018-06-20 15:45] bradfordcondon commented on #429
@laceysanderson 's bug fix should fix this issue, but the "next" error still occurs as:

[code]

https://github.com/tripal/tripal_analysis_blast/issues/22

I believe we can resolve the issue from here in the tripal_analysis_blast module area, once the above patch is merged.

[2018-06-20 16:27] mpoelchau commented on #442
Thanks for all the feedback! Sorry about the delay, too much else going on right now. We're still not 100% sure which way we'll go, and we may have to start out simple and then improve the module as we go.

@spficklin - currently the metadata is stored in analysis and analysisprop. When you retrieve the metadata from NCBI via eutils, it comes in json (or xml), which we then parse prior to loading.

[2018-06-20 16:40] mestato commented on #442
Biomaterial shouldn't be embedded in the MAGE module - its really its own
thing, and could be relevant to an analysis, a pub, etc. But we have what
we have. Here is some documentation on how we load the XML and let the
user set up fields and CVterms:
https://github.com/tripal/tripal_analysis_expression#biosample-properties

On Wed, Jun 20, 2018 at 12:27 PM mpoelchau <notifications@github.com> wrot

[2018-06-20 16:50] mpoelchau commented on #442
@mestato good point about the MAGE module - I misread the documentation. Thanks!

[2018-06-20 20:07] laceysanderson commented on #429
Ok, there is an official PR now 🎉. For some reason the original commit/branch went missing so I had to redo the change.

[2018-06-21 00:25] spficklin commented on #467
I'm currently working on this in branch 467-tv3-entity_relationships

[2018-06-21 03:12] laceysanderson commented on #141
Closing as we now have good warnings for all the cases we can think of surrounding this.

[2018-06-21 03:12] #141 closed, assigned to spficklin

[2018-06-21 03:13] #429 closed, assigned to nobody

[2018-06-21 13:36] almasaeed2010 opened #469 "Undefined variable notice when preparing chado"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.5
* PHP Version: 7.0

### Issue description

When creating the "prepare chado" job on a new site, I get the following notice:
[code]

#### Steps to reproduce
So far I've encountered this only when preparing a new site but it's possible that this would happen when submitting any job.

#

[2018-06-21 13:56] bradfordcondon commented on #469
I see this error for all jobs.

[2018-06-21 16:39] spficklin commented on #469
You should review PR #455.  It has a fix for that :-)

[2018-06-21 20:20] almasaeed2010 commented on #469
Yep PR #455 fixes this for me. Thanks!

[2018-06-21 20:20] #469 closed, assigned to nobody

[2018-06-22 01:16] spficklin commented on #449
Annoyance 10:  when importing pubs using the Tripal importer the publications are not automatically published like they were in Tripal v2.

[2018-06-22 11:53] almasaeed2010 commented on #456
I think the Group By statement here is a mistake since group by is used with aggregate functions and this query doesn't have one. I'd try removing it and looking at the results again.

If the intention here is to get unique file ids, I'd use DISTINCT(FM.fid).

Thanks!

[2018-06-24 03:31] spficklin opened #473 "Tripal Entities are not fully supported by Views"
## BUG/ERROR report

### System information

* Tripal Version: 3
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version: N/A

### Issue description

Tripal Entities are not fully supported by Views. It's not possible to use the create date, change date and user who created the content type in Views.  We need to be able to display these, filter them and sort them.

[2018-06-24 03:32] spficklin commented on #473
I have started branch 473-tv3-enity_views_support to fix this.

[2018-06-24 03:33] spficklin commented on #473
I'm marking this as a release blocker because it's needed for a stable release. Whether we get it into the 6/30/2018 release remains to be seen.

[2018-06-24 23:05] spficklin opened #474 "Permissions for importers"
## BUG/ERROR report

### System information

* Tripal Version: 3
* Drupal Version: 7.x
* PostgreSQL Version:  N/A
* PHP Version:  N/A

### Issue description

There is currently no way to set specific permissions for which users can use which TripalImporter importers.  Currently, the default permission is "load tripal data" but that is probably not specific enough especially if some trusted users a

[2018-06-25 19:11] laceysanderson commented on #432
Fixed via PR.

[2018-06-25 19:11] #432 closed, assigned to nobody

[2018-06-25 20:54] spficklin commented on #456
I do not get an error when I visit the user uploads page on my site.  But @almasaeed2010 is correct that the group by shouldn't be there.  Odd that I don't get an error but you do.  I committed a fix to this branch, can you test:  456-tv3-user_files_issue

[2018-06-26 14:26] bradfordcondon opened #478 "Collection files are not generated if an entry is missing a field"
## BUG/ERROR report

### System information

* Tripal Version: 3
* Site: HWG live

### Issue description

Creating a feature collection fails to generate fails if it cant retrieve a value for a field. Instead this error is returned:
[code]

https://github.com/tripal/tripal/blob/3302486540c12042fb26e29acb167176e8c1149c/tripal/includes/TripalFieldDownloaders/TripalTabDownloader.inc#L43-L60

I'm able

[2018-06-26 14:36] bradfordcondon commented on #478
Here is what I added to get the files to be created.

What's curious is that the first few lines i pasted should prevent the error from happening, but they check the array and not the $entity object.

[code]

because the field does in fact exist on the feature pages, i am hesitant to call this the solution though.

[2018-06-26 15:14] bradfordcondon commented on #456
* confirmed that no problem on my dev site on current master.  Issue is specific to our live site for some reason.
* confirmed that error still occurs on **master** branch of live
* confirmed that @spficklin 's branch `456-tv3-user_files_issue` resolves issue on live.

[2018-06-26 15:16] bradfordcondon commented on #456
ps: I know its not the main issue of this thread, but your branch does not resolve the discrepancy between the uploaded files and the usage.  Maybe this discrepancy makes sense for some reason?

Note usage is 8gb, only 1 file is listed at 263mb
![screen shot 2018-06-26 at 11 15 15 am](https://user-images.githubusercontent.com/7063154/41922066-4c4291f4-7932-11e8-9a95-d5cd230368c4.png)

[2018-06-26 15:29] bradfordcondon opened #479 "undefined index warnings"
## BUG/ERROR report

### System information

* Tripal Version:7.x-3.x
### Issue description

#### Steps to reproduce
Notice occurs on all page visits for me currently.

#### Error messages and screenshots

[code]

[2018-06-26 15:38] bradfordcondon commented on #479
This error occurs when a field has a null term assigned.

https://github.com/tripal/tripal/blob/3302486540c12042fb26e29acb167176e8c1149c/tripal/api/tripal.terms.api.inc#L377-L422

the tripal_get_term_details tries to look up null causing undefined index problems.

I'm thinking the `empty` check at the beginning should also return false, and not just set the warning.
[code]

[2018-06-26 19:04] laceysanderson opened #481 "Unwarranted warnings when checking for new fields"
## BUG/ERROR report

### System information

* Tripal Version: 3.x-dev
* Drupal Version: 7.x

### Issue description
I'm receiving a large number of warning on my Manage Fields page when checking for new fields.

##### Case 1: System tries to add a Chado Propery field even though it already exists.
For example, when checking for new fields on my publication content type, I see the following warning

[2018-06-26 19:20] bradfordcondon commented on #481
confirmed that i'm also experiencing this.

<img width="1365" alt="screen shot 2018-06-26 at 3 19 58 pm" src="https://user-images.githubusercontent.com/7063154/41934301-6bc54108-7954-11e8-8f7f-eaa3582109f6.png">

[2018-06-26 19:32] spficklin commented on #479
Fixed by PR

[2018-06-26 19:32] #479 closed, assigned to nobody

[2018-06-26 19:38] spficklin commented on #481
@laceysanderson I don't get the messages about the tpub__publisher field already existing.

@bradfordcondon for your module defined fields you'll need to add the term_vocabulary, term_name and term_accession elements in your  hook_bundle_instances_info() functions.  For example:

[code]
As an aside, that term information is already part of the TripalField classes you created.  So, to make a better

[2018-06-26 19:40] bradfordcondon commented on #481
@spficklin many of those are chado fields ie `data__sequence`

[2018-06-26 19:44] spficklin commented on #481
Yes, @laceysanderson is currently fixing those.

[2018-06-26 21:14] spficklin commented on #456
My total is correct so I can't reproduce the problem.  But I did make some adjustments to the code that might fix it for you.  I've also issued a PR for this.

[2018-06-26 22:06] spficklin commented on #478
If the field is missing as a property from the entity then it was not attached to the entity.  The Downloader only attaches fields to entities that are specified in the bundle collection.    The code which gets the fields that need loading is here (line 326):
https://github.com/tripal/tripal/blob/06cb6795c0c217e836be181e18f33af3c607c3db/tripal/includes/TripalFieldDownloaders/TripalFieldDownloader.

[2018-06-26 22:46] bradfordcondon commented on #478
I linked the entities that did or did not cooperate with the field for download.  THey all have the protein sequence field populated with a sequence which is why im a bit puzzled.  edit; they are also all the same bundle type.

[2018-06-26 23:08] spficklin commented on #478
What matters is the field specified in the bundle collection, not the fields that are on the page you view.  Can you confirm that the bundle collection records have the fields you are hoping to have?

[2018-06-27 00:58] laceysanderson commented on #481
The referenced PR solves Case #2.

## Case 1:
[code]
This is due to there being tpub:publisher & tpub:year properties in my pubprop table. Those terms are also used by pub.pyear and pub.publisher. This causes a conflict...
All my publications were loaded by the Tripal2 pubmed importer so it must have added the year and publisher into the prop table? If so, there will be a number of other sites wit

[2018-06-27 01:28] spficklin commented on #481
Yes, at one point the pub importer did load to both tables for some fields.  I'm not sure if loads to both now or not.   I think the thinking at the time was that many of those columns in the pub table really are properties and so for consistency they were added to the pubprop table.   So, we obviously don't want to continue with that practice, but even if we fix the importer not to do that we nee

[2018-06-27 06:53] spficklin opened #486 "When content is publishing the site is unusable"
## BUG/ERROR report

### System information

* Tripal Version:  3.x
* Drupal Version: 7.x
* PostgreSQL Version:  N/A
* PHP Version: N/A

### Issue description

When publishing lots of content the site hangs.  Visitors can't pull anything up.   This is a major problem.

[2018-06-27 19:47] btski commented on #177
It's probably fair to assume every base table can be assigned a type_id. I believe we were trying to strongly enforce the usage of ontologies to make schema structure more legible. Having type_id as a required field for custom tables seems to follow that objective.

[2018-06-27 21:17] laceysanderson commented on #481
I would be content with the check causing the pub properties for publisher and year to be ignored. Surely no one would ignore the fields in the base table leaving them null and only store those as properties, right?

[2018-06-28 05:43] htjjen opened #487 "Documentation Improvement - Tripal README.md Intro & Installation Link"
The link under Installation is invalid. Perhaps it should be updated to either https://tripal.info/tutorials/v2.x/installation or https://tripal.info/tutorials/v3.x/installation?

Also, may I propose some minor changes to the Introduction section of the same [README.md file](https://github.com/tripal/tripal/blob/7.x-3.x/README.md) (before **Features**)

_____________
Background:
As a beginner cont

[2018-06-28 11:51] bradfordcondon commented on #478
@spficklin the collection was created via Elasticsearch so its possible something strange is happening there.  That said I think you just supply a list of entities and the fields, right?  The collection was made in one transaction so i dont know why/how it would attach for some but not all.

   Is there some way I can check the status of the bundle collection record fields?  Particularly for indiv

[2018-06-28 11:56] bradfordcondon commented on #487
Hello,
Thank you for spotting the dead link!  You are correct it should link to https://tripal.info/tutorials/v2.x/installation or https://tripal.info/tutorials/v3.x/installation (we are just shy of officially releasing version 3 so for now we might need to link to both versions?)

If you have further improvements for the README we'd be happy to see them.

Thanks!

[2018-06-28 12:02] bradfordcondon commented on #456
![screen shot 2018-06-28 at 7 59 30 am](https://user-images.githubusercontent.com/7063154/42033038-8bf42678-7aa9-11e8-9f4c-faa4b770e2c1.png)

Resolved!  Thank you @spficklin .

[2018-06-28 12:02] #456 closed, assigned to nobody

[2018-06-28 12:44] almasaeed2010 commented on #222
I've encountered a similar issue with mRNA and Gene content types. When editing an entity then saving, I get the following errors:

[code]

[2018-06-28 12:55] bradfordcondon commented on #222
which server is this one?  We'll need a list of fields attached to figure it out.

[2018-06-28 13:03] almasaeed2010 commented on #222
I tested on both our dev server and my local machine.

Here is a list of fields:

![download](https://user-images.githubusercontent.com/1512664/42035943-1d290f34-7ab2-11e8-8fb4-a8b9f51ebbbd.png)

[2018-06-28 14:54] bradfordcondon opened #489 "dbxref widget fails with no warning error"
## BUG/ERROR report

### System information

* Tripal Version: 3

### Issue description
On multiple sites, editing the dbxref entry (Cross reference field) for a record does nothing.  revisiting the edit page shows the dbxref as it originally appeared. I tried editing, deleting, and adding a dbxref with the widget: they all do nothing.

I've tested attached to publication and to analysis.

### tho

[2018-06-28 16:35] btski opened #490 "Cause of errors when running bulk loading jobs?"
Tripal Version: 3
Drupal Version: 7.56
PostgreSQL Version: 9.5.12
PHP Version: 7.0

I'm trying to load sequences using the bulk loader and it's stalling out about halfway through. I would like to cancel/remove jobs from the job menu. Currently, this doesn't appear possible through the job interface itself. Help?

Edit1 - I deleted the associated bulk load template which removed its job page. Is th

[2018-06-28 17:15] laceysanderson commented on #452
PR Merged.

[2018-06-28 17:15] #452 closed, assigned to nobody

[2018-06-28 17:16] laceysanderson commented on #450
PR Merged.

[2018-06-28 17:16] #450 closed, assigned to nobody

[2018-06-28 17:19] laceysanderson commented on #430
PR Merged.

[2018-06-28 17:19] #430 closed, assigned to nobody

[2018-06-28 17:19] laceysanderson commented on #355
PR Merged.

[2018-06-28 17:19] #355 closed, assigned to nobody

[2018-06-28 17:19] laceysanderson commented on #217
PR Merged.

[2018-06-28 17:19] #217 closed, assigned to nobody

[2018-06-28 17:31] laceysanderson opened #491 "Remote Field fails if content types are renamed."
## BUG/ERROR report

Originally reported when testing PR #439

### System information

* Tripal Version: 3-dev
* Drupal Version: 7.x

### Issue description
If admin of remote sites change the `name` of their content types the Remote Field will not work. This seems to be due to it not using the configured query. For example, when my organism content type is re-named to `Species` I see the following

[2018-06-28 17:41] laceysanderson commented on #423
PR Merged.

[2018-06-28 17:41] #423 closed, assigned to nobody

[2018-06-28 17:47] laceysanderson commented on #489
Marking this as a potential bug only because I don't have the time to test it to make sure it's repeatable. That said, if this is happening, it's definitely a release blocker.

[2018-06-28 18:17] bradfordcondon commented on #474
thanks to both of you.

[2018-06-28 18:17] #474 closed, assigned to nobody

[2018-06-28 18:18] bradfordcondon commented on #473
PR submitted by @spficklin  #470

I requested some minor changes and made a PR to add them.  Need 1 more review.

[2018-06-28 19:57] btski commented on #490
Just realized that jobs can run in parallel and don't necessarily run chronologically. I've still got jobs listed as running. Unable to tell if visual bug or not. Ran _ps aux_ to check for running jobs by matching PIDs (none found).

[2018-06-28 20:19] bradfordcondon commented on #421
took another look at this: easy fix.

`tripal_chado_vocab_get_term_children` did not select distinct in this query:

[code]

when there were multiple relationship *types* in cvterm_relationship (ie the same subject/object ID's but distint type_ids) they got counted twice.

[2018-06-29 09:21] oklonova opened #493 "Querying chado database"
Hi,

how can we correctly query the chado database from the views that come with Tripal (organism search/ feature search)?

For example, in the organism search view users are supposed to filter features by organism and have an option to export them to a file. I have features' unique names (and ids which are hidden fields), and some data about organisms, like genus, species, domain, etc. I need to

[2018-06-29 12:50] bradfordcondon commented on #363
fixed by PR.

[2018-06-29 12:50] #363 closed, assigned to nobody

[2018-06-29 17:55] spficklin commented on #421
This looks like it's fixed from PR #492

[2018-06-29 17:55] #421 closed, assigned to bradfordcondon

[2018-06-29 17:58] spficklin commented on #490
Right now Tripal can only update the status of the job the next time it checks for a job.  This only happens if you have it setup to run jobs by cron or if you manually run the job checker on your own.   Can you try and run the ```drush trp-run-jobs```  and see if that updates the status for you?

[2018-06-29 18:15] spficklin commented on #222
I'll see if I can duplicate this one.

[2018-06-29 18:22] spficklin commented on #177
Unfortunatley, @btski , Chado was not designed such that every base table has a type_id.  For example neither the analysis or project tables have a type_id.   Tripal can support it either way... even for custom tables.

[2018-06-29 19:34] bradfordcondon opened #494 "CDS field does not support CDS loaded via FASTA loader only"
## Feature Request/Discussion
The CDS field was fixed in this PR by @spficklin  https://github.com/tripal/tripal/pull/453
The field looks for CDS in the `load` function starting with the featureloc table:

[code]

This works so long as CDS were loaded via the GFF.  If a user loaded the CDS sequences using the FASTA importer, specifying the relationship to a parent feature that way, there would be

[2018-06-29 20:21] spficklin commented on #415
The fix for CDS field has been merged into Tv3. Now we're just waiting to see if this problem can be duplicated.

[2018-06-29 21:00] spficklin commented on #473
There are still some additional issues here, but the worst problems are fixed.  The PR was merged so I'm closing this.

[2018-06-29 21:00] #473 closed, assigned to nobody

[2018-06-29 21:22] abretaud commented on #415
@spficklin Did you receive my email with some test data?

[2018-06-30 03:12] spficklin opened #496 "Publication page layout is a mess after first installation"
## BUG/ERROR report

### System information

* Tripal Version:  3.x
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version: 7.2

### Issue description

On a fresh in stall of Tripal, when following the online User's Guide it instructions the user to add a publication.  After saving the publication many of the fields are not in a Tripal Pane and it looks like a mess:

![screenshot from 2018-

[2018-06-30 05:22] htjjen commented on #487
@bradfordcondon  Thank you for your reply!

I have made the changes and submitted a pull request using the template. Please feel free to let me know if you'd like me to change anything. Thank you!

[2018-07-02 16:46] chunhuaicheng commented on #493
Hi,
If you're looking for some function that allows filtering and downloading sequences like this page:
https://www.vaccinium.org/search/features
You can try our [Mainlab Chado Search](https://github.com/tripal/chado_search) module.

[2018-07-02 20:56] bradfordcondon opened #498 "date performed on analysis clears on edit"
## BUG/ERROR report

### System information

* Tripal Version: 3

### Issue description

I have an analysis I am manually editing.  After clicking the edit button, the "date perform" field nulls and must be filled out again as it is a required field.

Clicking edit again re-nulls the field.

[2018-07-02 20:58] bradfordcondon opened #499 "analysis type field is not nullable"
## BUG/ERROR report

### System information

* Tripal Version: 3

### Issue description
<img width="1429" alt="screen shot 2018-07-02 at 4 58 03 pm" src="https://user-images.githubusercontent.com/7063154/42186043-1b74dda2-7e19-11e8-9d4d-9023a5149e7b.png">

The analysis type field is a property.  There's no requirement I'm aware of for it to be a required field.

[2018-07-02 21:37] bradfordcondon commented on #438
I imported a pub like so
`drush trp-import-pubs --dbxref=PMID:26698853 --username=myadminuname`

* the dbxref entry works and links out properly.

<img width="889" alt="screen shot 2018-07-02 at 5 32 40 pm" src="https://user-images.githubusercontent.com/7063154/42187393-f24509ac-7e1d-11e8-8533-9554038e2e31.png">

* when the publication is attached to another record, there is a linkout in the citat

[2018-07-02 21:37] #438 closed, assigned to nobody

[2018-07-02 23:51] btski commented on #490
Thanks for the suggestion @spficklin. Which module is trp-run-jobs listed in? I don't appear to have it currently installed. My biggest problem now is that bulk load jobs randomly stall/stop and have to be re-launched. The behavior is inconsistent and does not seem linked to user interaction. Presumably, the database is updating (in some way) at regular intervals (that I'm not tracking), which cau

[2018-07-03 02:42] bradfordcondon commented on #490
`trp-run-jobs`  is described in the tripal module.   https://github.com/tripal/tripal/blob/7.x-3.x/tripal/tripal.drush.inc .  It should be available if Tripal is installed.

what error message do you get hwen you run `drush trp-run-jobs`?

edit:

I also see that you are running Drupal 5.10.  Is that correct?  It's [end of life was in 2011](https://www.drupal.org/forum/general/news-and-announcement

[2018-07-03 15:56] bradfordcondon commented on #487
hi @htjjen i replied in your PR but I'll also say here:  i want @spficklin to approve your changes, and he is on vacation.  If thats a problem for your school deadline please let me know, I have tripal submodule repos that I am the sole maintainer and can promise you faster turnaround.  For example:

* https://github.com/tripal/tripal_analysis_expression
* https://github.com/statonlab/tripal_alche

[2018-07-03 16:22] btski commented on #490
Sorry, it seems I was hasty making the initial post and included the default Drupal version (currently using 7.56). The errors when running `drush trp-run-jobs`:

Directory /home/ubuntu/.drush/cache exists, but is not writable.     [error]
Please check directory permissions.
The drush command 'trp-run-jobs' could not be found.  Run `drush     [error]
cache-clear drush` to clear the commandfile cac

[2018-07-03 16:32] bradfordcondon commented on #490
are you running the command within your drupal site path ie `/var/www/html` for example.

heres what happens if i run that command in a random dir vs the root dir of my drupal website:

[code]

drush basically does cd ../ until it finds your root directly and looks at your sites/defualt/settings.php to know your site's info such as the db password etc.  So if you run the command outside of the sit

[2018-07-03 16:53] btski commented on #493
The Mainlab Chado Search module documentation will probably benefit me later. Thanks for sharing.

If I'm understanding @oklonova's question correctly, you're trying to create a query based on the page content (organism name). The organism name is extracted from the page and inserted into the query. Does your query work by substituting a valid organism name into the query? You can test directly th

[2018-07-03 17:16] btski commented on #490
That would do it. Didn't cross my mind to switch to the Drupal root directory. After running `drush trp-run-jobs`:

2018-07-03 17:12:37: There are 0 jobs queued.
And the "stalled" jobs have been changed to erros.

![screen shot 2018-07-03 at 12 13 58 pm](https://user-images.githubusercontent.com/32686196/42234616-be6e1202-7eba-11e8-8c29-3243842544cc.png)

[2018-07-03 17:17] bradfordcondon commented on #490
ok great.  So can i mark this issue closed or do you have further questions?

[2018-07-03 17:21] btski commented on #490
I was less concerned about the visual bug (corrected by running `drush trp-run-jobs`) and more concerned with what was causing all the errors. Any ideas? It's not a big problem, just an annoyance when I have to run the same job half a dozen times over before it completes entirely.

Edit1 - My perception of the problem changed when I realized that the jobs weren't running (as had been shown on the

[2018-07-03 18:01] bradfordcondon commented on #490
oh, i see.

[code]

The error you supplied is here:

https://github.com/tripal/tripal/blob/b89cafa81fb50daa95ffd308c4a51a8ecde570bb/tripal_bulk_loader/tripal_bulk_loader.module#L470-L480

Looks like `$args[0]` doesnt exist, which is described as:

So... it looks to me like your bulk loading job is somehow being launched without any arguments.

this is your only error for the failed jobs?  Can you

[2018-07-03 18:48] btski commented on #490
That's the only error that I've seen via the GUI. But I'm under the impression that the error message is an artifact (unrelated to the issue, just a problem encountered when loading a summary page). I'll rerun a few jobs through drush trp-run-jobs and report back.

Edit1 - I just ran three files, each between 8,000 and 10,000 sequences long. In my previous attempts, each had to be loaded multiple

[2018-07-03 19:12] bradfordcondon commented on #490
I'd agree. the true error will be in the console when manually running the job via `drush trp-run-jobs`

[2018-07-03 19:15] btski commented on #490
Thanks for the help @bradfordcondon and @spficklin. There seems to be a bug in the jobs GUI, but it can be circumvented easily through command line.

[2018-07-03 19:29] bradfordcondon commented on #490
meaning your jobs ran successfully but the GUI reported them as failed?  If so thats a bug we need to fix.

Can you provide a little more info?

[2018-07-03 20:30] btski commented on #490
When using `drush trp-run-jobs`, the GUI correctly matched the command line output (jobs ran to completion). However, when using just GUI "Execute", the jobs would often error (randomly) and be listed as "Running" despite being active. The processes seem to be distinct. While `drush trp-run-jobs` runs linearly in chronological task submission order, the Execute command updates all three simultaneo

[2018-07-03 20:31] bradfordcondon commented on #490
thanks so much for the detailed response.

Is it possible that the jobs are dependent on the previously submitted job?  IE job 2 wont work until job 1 finishes?  That would explain this behavior...

[2018-07-03 20:39] btski commented on #490
They are not dependent. Even after fully loading the jobs, a rerun with "Execute" can result in failure (will test again to confirm). This is not the case with `drush trp-run-jobs`.

Edit1 - Closest example from memory: Had one of my jobs run to 91%. Re-ran and it ended at 3%. Re-ran again and it made it to 52%. If these errors were due to dependencies (ordering), you should always see positive pr

[2018-07-04 00:41] htjjen commented on #487
Hi @bradfordcondon , thanks again for all of your help. My assignment deadline is July 13. My goal for the assignment is to edit documentation. I don't have much knowledge in biology but I'll do my best. If you have any specific documents in mind, please feel free to let me know. Meanwhile, I'll keep exploring.

[2018-07-04 17:09] laceysanderson opened #500 "Could not find details about the vocabulary"
## BUG/ERROR report
### System information

* Tripal Version: 3.x-dev
* Drupal Version: 7.x
* PostgreSQL Version: 9.4.10
* PHP Version: n/a

### Issue description
When clearing the cache I was seeing a huge list of the following drupal_set_messages:
[code]

#### Solution
This was due to `db2cv_mview` missing ontologies I had recently added. Re-populating the materialized view at Administration » T

[2018-07-05 19:23] bradfordcondon opened #501 "OBO loader does not display details/allow editing"
## BUG/ERROR report

### System information

* Tripal Version:3

### Issue description
`admin/tripal/loaders/chado_vocabs/obo_loader`

previously if you selected an OBO, it would populate the fieldset below.  this lets you double check the file, edit the file, etc.

<img width="692" alt="screen shot 2018-07-05 at 3 21 26 pm" src="https://user-images.githubusercontent.com/7063154/42343452-1ac0d79e-

[2018-07-05 19:49] bradfordcondon commented on #501
this is the problem.
https://github.com/tripal/tripal/blob/b89cafa81fb50daa95ffd308c4a51a8ecde570bb/tripal_chado/includes/TripalImporter/OBOImporter.inc#L1679

Anyone know whats going on with `class_elements` here?
Setting it to `  return $form['obo_existing'];` fixes the issue, ill make a PR but im confused how this happened

[2018-07-05 19:54] bradfordcondon commented on #498
I was not able to reproduce this bug on my dev site.

[2018-07-05 20:03] bradfordcondon commented on #498
after pulling, clearing cache, and deleting/re-adding the field, this problem has been resolved/I can't reproduce it.

[2018-07-05 20:03] #498 closed, assigned to nobody

[2018-07-05 20:39] spficklin commented on #500
This mview was supposed to be updated when the site was prepared but we had a bug and it didn't work.  It has been fixed in a previous PR. Also, anytime you load a new ontology it automatically updates the mview.  So, you shouldn't ever get out sync again unless you manually or programatically add a new vocabulary.  We could update those API functions to automatically update the mview.

[2018-07-05 21:30] bradfordcondon commented on #487
merged.  Thanks @htjjen and good luck.

[2018-07-05 21:30] #487 closed, assigned to nobody

[2018-07-06 01:56] htjjen commented on #487
@bradfordcondon  Thank you very much!

[2018-07-09 12:49] oklonova commented on #493
Thanks for the answers!

@chunhuaicheng, I will look at the module, thanks. I have all the filters for now, so the only things that I need is export to a file.

@btski, almost exactly. I want  to query the feature table from the organism page (Drupal's node_load function does not work here, because it loads more info about organisms). I was not sure how to access chado tables from within drupal mo

[2018-07-09 12:49] #493 closed, assigned to nobody

[2018-07-09 18:07] risharde opened #505 "ERROR during drush rapid installation"
At the end of the drush execution, I get the following error which I cannot seem to resolve. Any advice on this?
Environment: CENTOS 7

[code]

[2018-07-09 20:10] risharde opened #506 "Tripal Contacts submodule not creating Tripal content type automatically?"
Hi guys, not sure if this is an error or not but I was wondering if it was. When I enable Tripal Contact module in the modules section, the content type does not appear in Tripal Content Types. I have to manually create it.

Is this normal?
Tripal Version 3 is being used, latest rc.

[2018-07-10 13:06] bradfordcondon commented on #506
Tripal Contact is a legacy Tripal 2 module, so no it should create a new content type.  In Tripal 3, contacts are entirely handled by Tripal Chado.

Tripal Chado doesn't appear to set up any contacts (I seem to remember it previously creating a "person" type contact) after looking at the install.

I see in the issue for deciding which content types to ship Tripal with, we do plan to include contac

[2018-07-10 15:45] risharde commented on #506
Hey @bradfordcondon , thank you so much for responding to this! Because I've been using a dev environment that already has populated data, I assumed it was a content type already created. The fact that it isn't might be an advantage to me since my next project assignment has been to develop a contact module for Tripal which we intend to release to the public if all goes well. If you guys can hold

[2018-07-10 16:22] bradfordcondon commented on #506
Hi @risharde, no worries, happy to help.

If thats the case I recommend coordinating with core (well, tripal_chado) about the contact types.  I think @spficklin would prefer to cover the base tables in tripal core.  For example, Tripal Analysis Expression provides a loader for NCBI biomaterials, but the Bundle for the biomaterials base table is defined in core.

If your module will havel ots of su

[2018-07-11 12:40] bradfordcondon commented on #505
hi @risharde : I've been hesitant to respond because I'm not very involved in the rapid install.

just to confirm, after the install is complete, what happens if you execute this command?
[code]

the drush command `role-add-perm` is part of the base drush package.  I see nothing wrong with the code.  I'll try and recreate the problem and get back to you.

[2018-07-11 12:42] risharde commented on #505
Hey Bradford, it just shows drush 'error' message on the right side. Pure
vanilla install, can't explain why it's happening.

On Wed, Jul 11, 2018 at 9:40 AM Bradford Condon <notifications@github.com>
wrote:

[2018-07-11 12:44] bradfordcondon commented on #505
the same error message?  The drush command ... could not be found?

here's what i get.  (different error message, dunno why it cant find that permission, but you can see it at least found the drush role-add-perm command)

[code]

edit:

for some reason i need to put everythign in quotes.

[code]

[2018-07-11 13:05] shawnawsu commented on #505
What is the drush version you're using?

[2018-07-11 23:05] risharde commented on #505
drush version 5.9 <--- I'm guessing it's too old?

On Wed, Jul 11, 2018 at 10:05 AM Shawna <notifications@github.com> wrote:

[2018-07-11 23:38] risharde opened #507 "Is there a way to programmatically create a text chado field in a bundle?"
Is there a simple way to programatically create a text field (Chado Field) and attach it to a bundle? I can't seem to find an example of this. I tried creating a custom field but only to realize that this actually creates a literal custom field and seems overkill for my current needs. Please advise?

Tagging @bradfordcondon since he might already have tried this

[2018-07-12 00:18] bradfordcondon commented on #507
is it possible that a chado property would work for what you want to do?

If all you want is to have a variable that displays a value, then chado property field is the way to go.

For example, to attach a "affiliation" field to contact, where the value will be the name of the university.

Put another way... where would the value be stored?  If in Chado, where?

[2018-07-12 00:21] risharde commented on #507
Yes, exactly, at least at this primitive point in my understanding, a good
start would be a simple chado property field. I could be wrong but this
value could be store in the contactprops table

Any ideas how to get this done?

On Wed, Jul 11, 2018 at 9:18 PM Bradford Condon <notifications@github.com>
wrote:

[2018-07-12 00:25] bradfordcondon commented on #507
programmatically all you have to do is insert a chado property, and Tripal will "discover" the field when the user presses the "check for new fields" button.

So insert a chado property with a new cvterm (say, local:user_password) and a value.  Then, check for new fields on the bundle you inserted the property (if you inserted into contactprops, then the contact bundle).  It should autodsicover it

[2018-07-12 01:14] risharde commented on #507
Thanks Bradford, any chance you can point me to sample code on doing so or
is this available in the Tripal docs somewhere?

On Wed, Jul 11, 2018, 8:25 PM Bradford Condon <notifications@github.com>
wrote:

[2018-07-12 19:31] bradfordcondon commented on #505
It seems really likely thats the case, but i cant find the documentation online for version 5.  could you try updating and let us know if that resolves the problem?

[2018-07-12 19:32] #506 closed, assigned to nobody

[2018-07-13 15:35] bradfordcondon commented on #407
related to #441

[2018-07-16 13:57] shawnawsu commented on #496
@spficklin

Publication is the only content type with custom handling in the tripal_ds module. It looks like a bunch of field names changed, did that happen? If it did, can we connect to go over the new preferred layout?

[2018-07-16 16:34] risharde commented on #507
Tagging @bradfordcondon @spficklin @shawnawsu
Any example code on creating a simple text field chado property via Tripal API code that will hook on a specific Tripal Content Type?

Specifically, I need to be able to add fields that will add data to the contactprops table

[2018-07-16 18:53] bradfordcondon commented on #507
Hi @risharde sorry for slow responses, on vacation.

Adding a property will automatically create a field on the appropriate content type.

the below code is from tripal analysis interpro (adding a property to an analysis record: note that the chado_insert_property call knows automatically that the table will be analysisprop.)

[code]

Once there is a record associated with the property, the field

[2018-07-16 19:44] shawnawsu commented on #462
I just did a fresh install of this and it appears to no longer be a problem.

[2018-07-16 19:44] #462 closed, assigned to nobody

[2018-07-16 20:46] risharde commented on #507
Thanks Bradford! Hope you had an awesome vacation, thank you so much for
this, I was searching through code randomly and would have probably never
come across this. I'll let you know if this works, you're a life saver!

2 more subsequent questions to that is:
a. Does this automatically insert the type_id of the property being inserted in some way? If not, how would I be able to assign an type_id,

[2018-07-17 01:04] risharde commented on #507
Hi @bradfordcondon , so in order to add the property, I have to get over the hurdle of creating the node. Would normal drupal node creation programming work or is there sample code to create a node for Tripal. Please let me know. I've been able to submit a record which get's saved in the contact table BUT it doesn't show up on the Tripal Content section so it seems I'm doing something wrong.

The

[2018-07-17 13:41] shawnawsu commented on #290
Hi @almasaeed2010, I know Bradford is on vacation so I don't want to ping him but wanted to check if any movement has happened on this? From the ticket history, it looks like you two have been working on this a bit.

[2018-07-17 14:31] shawnawsu commented on #489
I'm not sure which field this is referencing, is it this one "database cross reference (SBO:0000554)"? If it is I am not finding this on my local with the most recent tripal module.

[2018-07-17 17:09] laceysanderson commented on #507
Hi @risharde,

You don't actually need a node -sorry about the confusion caused by the variable name! What you need is a chado record in the main table (in the example, the analysis table). See the edited example below.

[code]
For reference, see [chado_insert_record](http://api.tripal.info/api/tripal/tripal_chado%21api%21tripal_chado.query.api.inc/function/chado_insert_record/3.x) and [chado_inse

[2018-07-17 20:05] spficklin commented on #496
I don't know how field names changed.  Do you know the before and after names of the fields?   Let's chat when I'm back in town.

[2018-07-17 20:07] spficklin commented on #506
related to issue #441

[2018-07-17 20:10] spficklin commented on #493
@oklonova apologies for not responding. I've been out of town.  Did you get a resolution to the problem?

[2018-07-17 20:11] spficklin commented on #501
I believe this is resolved with the PR... marking closed.

[2018-07-17 20:11] #501 closed, assigned to bradfordcondon

[2018-07-17 20:17] spficklin commented on #490
@btski yes, you do not want to run long-running jobs via the GUI.  The reason we have the Job's system is because the GUI times out, so long-running jobs should really be run via the console, or via a cron setup (See this document: http://tripal.info/tutorials/v3.x/installation/job-automation).

The ability to run a job via the GUI was added later and should only be used when you know a job can co

[2018-07-17 20:20] spficklin commented on #499
I believe this has been fixed with a PR before the v3.0-rc3 release.

[2018-07-17 20:21] spficklin commented on #499
Ooops.. shouldn't have closed as this was added after the release.  If you have the up-to-date code then you may have to remove the old analysis_id field and re-add it.

[2018-07-17 21:53] risharde commented on #507
Thanks @bradfordcondon , I tried something similar to this but when I did that, it didn't show up on Find Tripal Content for some reason. Do you think this is normal behaviour? I can see the record is created in contact table but yet it is not listed in the Find Tripal Content table. I was able to make it show up on Find Tripal Content but when I did that, it created what seems to be a node and di

[2018-07-18 09:52] shawnawsu commented on #507
I think Bradford is on vacation still, just as an FYI.

I'm a bit confused. Are you trying to create a new field or new content? If you've inserted the property into the chado prop table as Lacey described you'd need to edit the tripal content type (admin/structure/bio_data/manage/bio_data_#/fields)and click 'check for new fields' to add the field to the content type.

[2018-07-18 09:53] shawnawsu commented on #505
@risharde Did a drush version update fix this problem?

[2018-07-18 10:40] risharde commented on #505
Haven't tried as yet but plan to do create a clean environment hopefully by
the end of the week and will report back on this

On Wed, Jul 18, 2018, 5:53 AM Shawna <notifications@github.com> wrote:

[2018-07-18 10:42] risharde commented on #507
Just to clarify, I am trying to programmatically create a trial content
type, add fields programmatically to the newly created content type and
then submit data programmatically.

It has to be done in such a way that the end user can then administer the
data submitted via the UK interfaces.

On Wed, Jul 18, 2018, 5:53 AM Shawna <notifications@github.com> wrote:

[2018-07-18 11:15] shawnawsu commented on #507
Which tripal version is this?

[2018-07-18 11:51] risharde commented on #507
Tripal 3

On Wed, Jul 18, 2018, 7:15 AM Shawna <notifications@github.com> wrote:

[2018-07-18 12:35] oklonova commented on #493
Hi,
yes, thanks. The answer was "FROM chado.feature chado_feature".
Just a small thing which I am wondering about now: is chado_generate_var() more preferable than SQL when we need to get only some info about features from a chado database? Do you happen to know anything about performance, time or any other things that one should be aware of when using either of these?

[2018-07-18 14:54] shawnawsu commented on #496
Apparently, there was a problem with my local, when I delete the publication content type and rebuilt it half the fields disappeared which is why I thought fields were renamed. They are not renamed, they just disappeared.

Given that I had another look and found the problem. I pushed a fix in pull request #508.

[2018-07-18 17:48] bradfordcondon commented on #507
[code]

where is this code being executed?

As @laceysanderson pointed out, the `node` was a red herring, the code example she points out is great.  Replacing analysis with contact should work just fine.

In that case, you need to publish your contact records.  This checks the chado.contacts table and checks if there are records that dont have corresponding entities.  Visit `admin/content/bio_data

[2018-07-18 18:31] risharde commented on #505
Using Drush 8.1, I get the following error instead:

Enabling Tripal modules.
The following extensions will be enabled: tripal, tripal_chado, tripal_ds, tripal_ws, php, tripal_chado_views
Do you really want to continue? (y/n): y
Drush command terminated abnormally due to an unrecoverable error.                               [error]
Error: Can't use function return value in write context in
/var/ww

[2018-07-18 18:36] bradfordcondon commented on #499
confirmed fixed on current master.  I did indeed have to remove the fields and re-add them.  Thanks @spficklin .  I guess thats the next go-to suggestion after clearing the cache.

[2018-07-18 18:37] #499 closed, assigned to bradfordcondon

[2018-07-18 18:44] risharde commented on #505
I think it might be due to the fact that CENTOS 7 default php version is 5.4. I'll test with a higher version.

[2018-07-18 18:56] risharde commented on #507
Thanks @laceysanderson and @bradfordcondon for the code and input, I'll try it out and let you know if it works according to plan

[2018-07-18 19:17] risharde commented on #505
After using php 5.6 and Drush 8.1, I still remain with the final error:

Adding permissions for the administrator to view, edit, create, and delete all the newly created content types.
The drush command 'role-add-perm administrator  view bio_data_1,     [error]
create bio_data_1, edit bio_data_1, delete bio_data_1, view
bio_data_2, create bio_data_2, edit bio_data_2, delete bio_data_2,
view bio_da

[2018-07-18 19:52] risharde commented on #507
@bradfordcondon and @laceysanderson
So I tried the code below since I saw there was already a contact record with id = 1 and name = null and description = null
But the code doesn't seem to create the property, any ideas, I searched for the cvterm.name in the cvterm table and also the cv.name from the cv table, i'm hoping that is right?

LOG shows: chado_get_property: Cannot find the term described

[2018-07-18 20:03] risharde commented on #507
I'm going to try 'tripal_contact' as the cv_name and see if that works in the meantime

[2018-07-18 20:06] bradfordcondon commented on #507
double check the cvterm and associated CV exist, as that error suggests it couldnt find the term.  That said you're on hte right track.  check `contactprop` after it runs and if you've got your property in there, you should be able to discover the field!

[2018-07-18 20:09] risharde commented on #507
That worked, so basically for the lay man who is now getting into understanding Tripal
the type_name is from the cvterm table's name
the cv_name can't just be a name from cv.name. It has to be looked up by using the cvterm.cv_id and finding the corresponding cv.name from the cv_id.

[2018-07-18 20:13] bradfordcondon commented on #507
You don't have to look it up, but it must be the cv name corresponding to the cvterm you are trying to associate.

This is because you might have two cvterms with the same `name` value.   (Imagine the Sequence ontology has the term gene, and your custom module's custom cv also uses a term named gene). Specifying the CV it came from allows you to differentiate them.

If the cvterm and cv you supply

[2018-07-18 20:56] risharde opened #509 "How to create a new cvterm programmatically"
So I noticed that there's a term I want to create under the TContact database since it does not exist. In this case the term should be named 'Position' and should allow users to put in their job position.

I came across the function chado_insert_cvterm:
http://api.tripal.info/api/tripal/tripal_chado%21api%21modules%21tripal_chado.cv.api.inc/function/chado_insert_cvterm/3.x

Which explains what nee

[2018-07-18 23:00] risharde commented on #509
Alternatively, is there a way to programmatically import an OBO file? That could work as well

[2018-07-19 01:34] bradfordcondon commented on #509
OK.  You want to use a CVterm for **Position.**

Step 1:  Does a good term exist already?  Search the EBI OLS.
 * If a term exists, use that one!
* If that term isnt in your database, insert it!

Step 2:  If no term exists
* You can insert into a local CV.  The main lab, for example, has a custom CV called "Mainlab" that they use extensively.  You can create your own.  Or, you can insert into the

[2018-07-19 09:21] shawnawsu commented on #505
Can you please do a `drush status` in that environment and reply to this ticket with the results?

[2018-07-19 11:41] shawnawsu commented on #509
Loading an OBO programmatically is possible.

First load it into tripal and chado. In `tripal_chado/api/module/tripal_chado.cv.api.inc` there is `chado_insert_obo($obo_name, $file); ` which writes the reference to the tripal_cv_obo table, that would need to be followed up with `$obo_id = chado_insert_cv($name, $definition)` to write it to the cv table in chado.

Then you can do this, if it require

[2018-07-19 11:46] shawnawsu commented on #509
That is not a finished comment.

The OBOImporter is a class so you can extend it and create your own CustomOBOImporter that extends theOBOImporter.

[2018-07-19 11:57] shawnawsu commented on #509
Sorry for all the updates on the previous comment. I realized it was very unclear, so I rewrote it, like 5 times. I hope it's understandable now!

[2018-07-19 13:21] bradfordcondon commented on #509
An addendum to my previous comment: I wrote out how to programmatically add a new CVterm.  You can alternatively use the admin interface to do so, located at admin/tripal/loaders/chado_vocabs/chado_cv/cvterm/add

You provide the same info, but using the GUI (see screenshot below)

<img width="1305" alt="screen shot 2018-07-19 at 9 21 31 am" src="https://user-images.githubusercontent.com/7063154/42

[2018-07-19 18:31] laceysanderson commented on #496
Merged PR fixes the publication page so it's no longer a mess 👍

I wonder if we shouldn't discuss a better default though. I think it would be pretty generic to change the settings as follows and **it would show a lot more information by default**. Currently it's annoying for an admin to drag every single chado property into a pane ;-) ([screenshot of settings](https://user-images.githubuserconten

[2018-07-19 18:56] laceysanderson commented on #233
Considering no news, good news... Since this is confirmed fixed by multiple users I'm going to close the issue. However, @risharde is you are still experiencing this please re-open and let us know :-)

[2018-07-19 18:56] #233 closed, assigned to nobody

[2018-07-19 19:53] bradfordcondon commented on #489
after deleting and re-adding the field this error is resolved on latest master.

[2018-07-19 19:53] #489 closed, assigned to spficklin

[2018-07-20 12:46] #496 closed, assigned to shawnawsu

[2018-07-20 12:50] shawnawsu opened #511 "New publications layout"
@laceysanderson has suggested we change the layout of the publication content. Here are her original remarks from ticket #496 :

https://user-images.githubusercontent.com/1719352/42120919-a2300346-7bd8-11e8-87df-26cc6da0a7a8.png

[2018-07-20 14:12] shawnawsu commented on #491
Hi @laceysanderson I just tested this on my local and am unable to reproduce, ie the query does change when I change it in the field settings of the remote data field. Can you confirm this is still an issue?

[2018-07-20 14:22] almasaeed2010 commented on #290
Hello @shawnawsu
Sorry for the delay! I looked into our issues queue and it looks like this is no longer a problem for us. However, I can't verify that until Bradford gets back. I'll make sure to remind him this coming Monday.

Thanks!

[2018-07-23 12:17] bradfordcondon commented on #290
I haven't touched it unfortunately: its not an issue for us because we dont use the loader.

* Easy to fix the dbxref issue.
* Loading multiple trees (particularly multiple trees per newick file) is a bit trickier.

I'd like to add these things but not likely I will until HWG needs to load in trees...

[2018-07-23 14:40] isumoc opened #512 "WSOD upgrading T2 to T3"
The T3 upgrade docs were recently modified to add a warning about WSOD  (top of page here: http://tripal.info/tutorials/v3.x/upgrade/2.x-to-3.x ).

Does anyone know if T3 "Legacy Mode" installation is also affected by this ?

[2018-07-23 14:52] isumoc opened #513 "Is php xmlreader a requirement for Tripal 3 ?"
Ubuntu ships php xmlreader functionality in the php-xmlreader package.

Is is not mentioned in the documentation here http://tripal.info/tutorials/v3.x/installation/server-setup

[2018-07-23 14:54] bradfordcondon commented on #513
hi @isumoc :
thanks!    Looks like we use the XMLreader in at least the publication and BlastImporter requirements.  So its not included by default in Ubuntu and/or CentOS?

[2018-07-23 14:55] isumoc opened #514 "Documentation for T3 Installation recommends downloading the package via Drush"
Is the current best installation method for Tripal 3 to download the package using drush pm-download as documented:

drush pm-download tripal-7.x-3.0-rc1

Or should one do a git clone instead ?

[2018-07-23 14:56] bradfordcondon commented on #514
We are currently at [rc3](https://github.com/tripal/tripal/releases/tag/7.x-3.0-rc3).  However the drupal projects page hasnt been updated so I would recommend doing a git clone instead

edit no theres a drupal release at https://www.drupal.org/project/tripal/releases/7.x-3.0-rc3

[2018-07-23 17:21] spficklin commented on #514
I believe the documentation you are referring to @isumoc was the upgrade documentation?  If so, I have corrected it, but you can use a git clone or just change the version on the drush command to 7.x-3.0-rc3. I have updated the documentation to just be ```drush pm-download-tripal``` as that should pull the most recent version.

[2018-07-23 17:21] #514 closed, assigned to nobody

[2018-07-23 17:21] spficklin commented on #514
I'm closing this as I think it's resolved, but if you have further questions please re-open

[2018-07-23 17:24] spficklin commented on #513
@isumoc are you saying the documentation is missing the right package or that what we have in the instructions is not needed because Ubuntu ships with the right package already?  Sorry, I'm a bit confused.

[2018-07-23 17:26] spficklin commented on #512
Yes, it would be affected.  According to the comment about the WSOD, it is caused when Tripal v1 deprecated API functions are used.  if you never used Tv1 API deprecated functions in your custom modules then you're fine.  Are you experiencing a WSOD?

[2018-07-23 18:10] spficklin commented on #511
I think we may need some input from other users to get a consensus about what would be best.

[2018-07-23 20:52] isumoc commented on #512
Three weeks ago the 2x -> 3x was smooth and worked.  I have not kept up but will need to go back to look at what has changed since then.

In my current upgrade attempt I have experienced multiple issues:

1. "registry_file" error from drush.
2. Hung process on "prepare chado" - to solve 1 and 2 I've moved back to an older VM so I know the state.
3. A network error with publications.  I am assuming

[2018-07-23 20:56] isumoc commented on #513
Ideally the PHP requirements might be noted somewhere separate from the OS.  That way people trying to use other operating systems, CM etc. would not have to try to build and maintain their own changelogs.

I'll take a look at what the latest ubuntu packaging does.  We are using FreeBSD which packages xmlreader separately.  Ditto any dev boxes on MacOS etc.

[2018-07-23 20:56] #513 closed, assigned to nobody

[2018-07-23 20:56] risharde commented on #509
Thanks! chado_insert_cvterm works great!

[2018-07-23 20:56] #509 closed, assigned to nobody

[2018-07-23 20:59] risharde opened #515 "Programmatically get machine name of tripal content type and execute 'check fields'"
Hi @bradfordcondon @shawnawsu @laceysanderson
I'm trying to determine if there is a method I can use to get the machine name of a Tripal Content Type / Bundle, is there a method in the api that can retrieve it that will accept the human readable version as a string and return this detail?

Also, I tried tracking back to see if there was a way to programmatically execute the equivalent of clicking

[2018-07-23 21:06] risharde opened #516 "Programmatically change single chado_field to accept multiple values"
Hi @bradfordcondon @laceysanderson @shawnawsu
Thank you so far for your assistance. I have been able to successfully auto detect fields that have been created using the chado_insert_property function

I want to go a step further by making some of these properties, multi-valued, meaning that they can accept multiple values. Currently, they get auto created as single value fields. Could you point me

[2018-07-24 00:49] risharde opened #517 "One field shows up as field type "Text" instead of Chado Property"
Hi @bradfordcondon @shawnawsu @laceysanderson

I am experiencing a strange problem on a vanilla Tripal install while building my module. I was able to use chado_insert_property to add the default fields with the exception of this field (genus), for some reason, it shows up as a field type "Text" instead of Chado Property and no values get saved when I try to create a new contact via the Add Conten

[2018-07-24 03:37] risharde opened #518 "Content type form submission fails when altering field to allow multiple values"
I'm using a nearly vanilla Tripal V3 installation while building the module as previously stated.
After creation of fields using the check for new fields for a specific Tripal Content Type
If I edit a new field that was autodetected and change the allow values to "Unlimited" and then try to submit data via the default tripal content submission form,
the follow error is displayed and submission fai

[2018-07-24 13:14] almasaeed2010 commented on #491
Hello @laceysanderson and @shawnawsu

I tested this by following the steps to reproduce mentioned above and managed to replicate the issue:

This is the error I get:

<img width="1015" alt="screen shot 2018-07-24 at 9 02 18 am" src="https://user-images.githubusercontent.com/1512664/43140436-fcd6e786-8f21-11e8-878b-7dccfaac6f60.png">

[2018-07-24 13:29] almasaeed2010 commented on #491
I am also getting this error now:

[code]

[2018-07-24 14:16] isumoc commented on #512
Moving this off VM and onto metal resolves the death of postgres.

[2018-07-24 14:16] #512 closed, assigned to nobody

[2018-07-24 16:49] almasaeed2010 opened #519 "Disabling a module that defines custom fields causes many errors"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

When we disable a custom tripal module that defines fields, the fields don't get removed and a long list of errors start showing up in the `manage fields` page.

#### Steps to reproduce

After enabling a module that defines fields such a

[2018-07-24 17:39] laceysanderson commented on #512
Thank goodness this was resolved for you!

[2018-07-24 21:24] laceysanderson commented on #500
In my case I was programmatically creating terms. I feel this will be more common though now that we need terms for each field. As such, I think we should update this materialized view in chado_insert_cvterm().

[2018-07-27 19:37] bradfordcondon commented on #516
hi @risharde sorry you had to wait for a reply.

Currently a chado property can be set to allow multiple entries per entity.  If you go to structire -> content type (ie organism) -> manage fields -> click on "edit" for your field, and scroll down to the FIELD SETTINGS, you'll see a "number of values" dropbox.  Change it to 3 (or unlimited).

`admin/structure/bio_data/manage/bio_data_[x]/fields/[fi

[2018-07-29 19:02] laceysanderson opened #523 "Alternate Relationship field formatters"
## Feature Request/Discussion

- [ ] does this feature attempt to solve an existing problem with Tripal?
- [x] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [x] do you **Need** this feature ASAP?

### Description

Currently the relationship formatter for Tripal 3 states all relations

[2018-07-29 19:27] laceysanderson commented on #523
What is the convention on naming alternate formatters? `[cv_name]__[termname]_[shortdescriptor]_formatter`? Also, is there a place I can put it so it's automatically detected (e.g. `/includes/TripalFields/[cv_name]__[termname]/`)?

[2018-07-30 15:58] bradfordcondon commented on #518
when you say vanilla, are you using hte latest relase of Tripal on the `7.x-3.x` branch?

I cannot replicate this problem: I set a chado property to unlimited, set two values for it, and submitted, and the property was updated appropriately.

![screen shot 2018-07-30 at 11 58 12 am](https://user-images.githubusercontent.com/7063154/43408652-e3d35fee-93ef-11e8-8c6e-707fa76388e7.png)

properties in

[2018-07-30 16:02] shawnawsu commented on #517
Sorry for the delay @risharde. Can you tell us your Chado version, drupal release, what tripal branch you're on, and php version? And is there a github project you can point us to?

[2018-07-30 16:05] bradfordcondon commented on #517
You are adding genus as a chado property to contact?   If that's correct, I dont think thats what you intend to be doing, as contact table describes a person, not the data the person submitted.

If the user is submitting, say, an organism, there is already a Genus field attached to organism, using the cvterm you are trying to add as a property: TAXRANK: 0000005.  I don't *think* this would be a pr

[2018-07-30 16:14] bradfordcondon commented on #515
I think `tripal_load_bundle_entity` is what you need.
[code]

So you would call `tripal_load_bundle_entity(['label' => 'my bundle human readable name'])`.  Providing the `term_id` as well (IE the Chado.cvterm_id of the corresponding cvterm) would be a good idea as well.  In general using the cvterm is better than using the label, because the site users can change the labels.  The returned entity o

[2018-07-30 16:43] shawnawsu commented on #515
You can check for new fields using `tripal_create_bundle_fields($bundle, $term)` which is an API function in the tripal.entities.api.inc file.

[2018-07-30 16:47] shawnawsu commented on #518
Hi @risharde,

Your project seems pretty complicated and we're having a hard time wrapping our heads around each individual ticket. Would you be open to setting a meeting where you give us a run down of what you're doing? Maybe we can also tackle a few tickets while we're at it?

Thanks!
Shawna

[2018-07-30 17:52] spficklin commented on #523
Hi @laceysanderson I have no objections.  Do you already have this formatter implemented?  If so can you provide a screenshot for what it would look like?

How about this for a folder names:
[code]
And the file could be
[code]

[2018-07-30 22:06] laceysanderson commented on #523
This formatter is not quite implemented but I'm working on it right now. I'll add screenshots when it's done :-) Hopefully before the meeting on Friday.

[2018-07-31 02:37] risharde commented on #518
Hi @bradfordcondon I'm not sure if there's something missing with how I am doing it. Remember I'm creating a new Tripal Content Type and adding the fields programmatically. When I do it that way, it seems only the Genus field is having this strange issue of showing up as 'Text' in the manage fields section and not accepting any input.

Also, yes I am running 3.x latest branch via Drupal official m

[2018-07-31 02:41] risharde commented on #517
Yes @bradfordcondon, we intend to do that under what our requirements are currently but maybe just to clarify a bit, the genus fields are in this case telling people that the specific contact has a specialty in this specific genus field if that makes sense. The genus field basically holds the name of the genus/species and nothing more at this point.

TAXRANK: 0000005 <--- unfortunately it seems to

[2018-07-31 14:08] par12005 opened #524 "tripal_get_active_jobs() throws error"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.56
* PostgreSQL Version: 9.5.7
* PHP Version: 7.0.30

### Issue description

When I call `tripal_get_active_jobs()` from anywhere I get the error seen below. I believe this is because in the [`tripal.jobs.api.inc`](http://api.tripal.info/api/tripal/tripal%21api%21tripal.jobs.api.inc/3.x) file on line 536 the `$j

[2018-07-31 15:40] bradfordcondon commented on #170
duplicate with #387 closing this one

[2018-07-31 15:40] #170 closed, assigned to laceysanderson

[2018-07-31 15:45] laceysanderson commented on #387
Also need to add information here: http://tripal.info/tutorials/v3.x/installation/job-automation.

[2018-07-31 22:13] bradfordcondon opened #525 "OBO loader creates weird CVs when id has a colon in OBO"
## BUG/ERROR report
https://www.hardwoodgenomics.org/cv/lookup/
note the CVs for "fatty acid 18" and "fatty acid anion 18"
https://www.hardwoodgenomics.org/cv/lookup/fatty%20acid%20anion%2018

Other than these two terms, the Plant trait ontology loads fine. (really awesome job with the cross-ontology lookup)

It's clear why this is happening: look at the fatty acid lines in the PTO:

`id: CHEBI:13

[2018-08-02 02:15] laceysanderson commented on #523
During implementation I decided the "Comma-separated List for a single relationship type" formatter should actually be an entire field type. This is in order to allow multiple lists one per relationship type and to allow these lists to live alongside the full relationship listing. As such, I've removed that formatter from this issue and will instead develop it separately -likely in tripal fancy fi

[2018-08-02 15:16] shawnawsu commented on #525
I'm just testing out an update for a fix for this, it's just taking ages to test on my local.

[2018-08-02 15:49] bradfordcondon commented on #525
i know developing for this must have been the worst - as i tried to note, its HUGELY improved, so thank you!

[2018-08-02 15:54] shawnawsu commented on #525
That's great to hear! I have to admit the 'rules' that aren't really rules are frustrating but we're getting to a good place.

[2018-08-02 20:40] bradfordcondon opened #526 "can the cv lookup tree ignore relationship types (ie not display as root terms?)"
## Feature Request/Discussion

- [x] does this feature attempt to solve an existing problem with Tripal?
- [x] do you **Need** this feature ASAP?

### Description

The cv browser displays relationship terms associated with the ontology as root terms, because they do not have any relationships.

this means that, for example, the gene ontology displays terms  ends_during and regulates (see image bel

[2018-08-02 23:01] risharde commented on #515
@shawnawsu thanks for your response, I'll try it!

[2018-08-02 23:11] risharde commented on #515
@shawnawsu Could you explain the parameters required? The documentation says it needs the bundle name but I am also seeing $term. Maybe an example would help me out?

[2018-08-03 15:04] laceysanderson commented on #523
It's done! I can add a PR if we decide we want this formatter in core :-)

Notes: Since relationship tables are not very standard, this formatter will omit the uniquename and/or the species column if it's not available in the related table.

## Example Screenshot of the working formatter
![screen shot 2018-08-03 at 8 57 08 am](https://user-images.githubusercontent.com/1566301/43649996-dc04b7f4-96f

[2018-08-03 15:11] shawnawsu commented on #518
Hi @risharde,

There are a bunch of updates in the 7.x-3.x branch on github, I would recommend pulling that down instead of using the Tripal 3 release candidate version that's out on drupal.org. I would do this until we have the official Tripal 3 released in September.

I think a meeting would be really helpful for all. Do you have a github repo @bradfordcondon  and I can have a look at before we

[2018-08-03 15:15] shawnawsu commented on #515
Sure, here is an example:
[code]

The `term` is the term object for the bundle which you can get using `tripal_load_term_entity`.

[2018-08-03 16:03] bradfordcondon commented on #310
trpial style will update as a 3.1 ie after the stable release.

[2018-08-03 17:00] spficklin opened #527 "Default tripal content types and viewer"
## Feature Request/Discussion

- [x] does this feature attempt to solve an existing problem with Tripal?
- [ ] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [x] do you **Need** this feature ASAP?

### Description

In our Tripal User's Meeting discussion on 2018-08-03 we had two discu

[2018-08-03 17:49] laceysanderson commented on #523
This was discussed at the user meeting today and it was decided I should submit a PR :-) 👍

Additionally, it was decided that alternate formatters are a good candidate for core if they provide a display attempting to mimic Tripal2 which this one does. These alternate formatters would allow admin to maintain consistency of look through the upgrade and thus should be made available to all admin.

Fo

[2018-08-06 00:08] bradfordcondon commented on #507
looks like your question has been answered: closing.  If not please let us know.

[2018-08-06 00:08] #507 closed, assigned to nobody

[2018-08-06 00:09] bradfordcondon commented on #442
looks like this discussion has run its course:  if not let me know and I'll reopen the issue.

[2018-08-06 00:09] #442 closed, assigned to nobody

[2018-08-06 00:11] #311 closed, assigned to nobody

[2018-08-06 00:14] bradfordcondon commented on #244
Closing due to inactivity: If you have further questions @a2htray please comment here or open a new issue.

[2018-08-06 00:14] #244 closed, assigned to nobody

[2018-08-06 00:53] bradfordcondon commented on #77
Do we still want this feauture?  Should the default still be to ignore them?  I would think the default should be to create, with the option to ignore....

[2018-08-06 02:05] bradfordcondon commented on #77
assigning myself because i implemented and wrote some tests because why not.

[2018-08-06 12:36] mpoelchau commented on #442
Yes, thanks!

[2018-08-06 12:54] bradfordcondon commented on #77
Can I get some suggestion for the text?

Also @laceysanderson  we decided to add a category as "loader" for test locations right?  I need to update the README as well...

[2018-08-07 17:00] laceysanderson opened #530 "Publishing Entities causes serious performance issues"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x-dev
* Drupal Version: 7.x
* PostgreSQL Version: n/a
* PHP Version: n/a

### Issue description

Currently publishing entities can cause a site to become unusable due to excessive slowness -it can even cause timeouts. Furthermore, when publishing a large number of entities it can cause continuous timeouts making the site complete

[2018-08-07 17:03] laceysanderson opened #531 "Need Relationship Widget"
## Feature Request/Discussion

- [x] does this feature attempt to solve an existing problem with Tripal?
- [x] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [x] do you **Need** this feature ASAP?

### Description

Currently there is no ability to edit relationships -the widget exists

[2018-08-07 17:07] bradfordcondon commented on #531
interesting.  I think it would be do-able, right?  Just much more form-like than our other widgets.  You'd pick if the attached entity is the subject or object, then choose the other partner (via name lookup i guess?  need to consider all tables it woudl attach to ) and finally select a cvterm for the relationship type (ideally dropdown from cvterms that are marked as IS_RELATIONSHIP)?  That's how

[2018-08-07 17:38] laceysanderson commented on #531
Yes, I think it should be do-able. There's already a form there that I assume was working in some respects it's just commented out. The in-line comments imply it was due to the differences in table structure and point to the load.

[2018-08-07 17:51] laceysanderson commented on #530
My first step on this is going to be to allow the admin to specify in the publish form to only publish a given number of entities. We had this feature in Tripal2 and it can be used to effectively chunk the publishing process into more reasonable length transactions.

Other **potential optimizations** based on looking at the code:
- Optimize, estimate or remove the count query used to report progre

[2018-08-08 18:16] spficklin commented on #436
Just checking on this @laceysanderson any progress?

[2018-08-08 18:32] spficklin commented on #427
For example consider these content types and their mapping to a prop table.

| Content Type |  Chado Table | Prop Table | Prop Type ID | Prop Value |
| --------------- | -------------- | ----------- | ------------- | ----------- |
| Whole Genome Project | project | projectprop | local:project_type | Whole Genome Project |
| GWAS Project | project | projectprop | local:project_type | GWAS Project |

[2018-08-08 19:06] spficklin opened #533 "Creation of Content Type times out"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version:  N/A

### Issue description

Sometimes creation of content types results in a WSOD.  This seems to happen when there are too many properties in a table (e.g. feature table).

The solution is to create content types using a Tripal job.  So, we need to change the creation

[2018-08-08 19:26] laceysanderson commented on #436
No progress :-( Upgrading KnowPulse to Tripal3 is taking a lot of my time :-(

[2018-08-09 00:30] bradfordcondon commented on #427
This is definitely worth fixing.
they would at least republish as vanilla bundles (assuming you have one defined?).  If anyone has this issue you could use [tripal alchemist](https://github.com/statonlab/tripal_alchemist) to convert the entities back to the correct type (and adding the chado prop), either via a table interface or by creating a collection of the entities to convert.

[2018-08-09 01:54] risharde commented on #518
Hi @shawnawsu , my sincerest apologies for the delay in response! It seems I am using the github branch, my mistake! I am in the process of doing a full re-install to retest this issue just incase.

I currently have a gitlab repo at the moment which can be found here, didn't want to release this until I am sure it's stable but since you requested it, here it is: https://gitlab.com/TreeGenes/tripal

[2018-08-09 15:23] igcbioinformatics opened #534 "Building Tripal V3.0 from scratch (following the instructions) not working"
I've been trying to follow the Tripal v3.x User's Guide to install a new Tripal instance from scratch, with no success.

I started with an empty Desktop Ubuntu 18.04.1 LTS (also tried with 16.04)

Rapid installation does not work (fails some SQL connector file, even though database and password are correct)

Then I started again from scratch and tried the manual installation but that does not work

[2018-08-09 16:50] almasaeed2010 opened #535 "Data Search View Don't Show All Results"
## BUG/ERROR report

### System information

* Tripal Version: 3
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description
Data search views that come with tripal (and other custom views at least on our site) are not showing the pager and are not responding to manual page changes. When adding `?page=2` to the url, it doesn't seem to affect it.

This behavior has be

[2018-08-09 18:59] chunhuaicheng opened #538 "Slow static pages (i.e. Drupal nodes) caused by adding Tripal Content to the menu"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.4
* PHP Version: 7.0.30

### Issue description

This problem will probably affect sites with expandable menu links that show on all pages. The pages are slow to load when you have Tripal Content added to the menu as link items. The more links you add, the slower the performance of

[2018-08-09 19:31] laceysanderson commented on #530
So interestingly, I didn't actually do any of the potential optimizations above. Instead, once I started profiling where the time was spent, I found a lot of re-loading of the same objects -removing this sped things up drastically. Furthermore, there was a  good speed increase once I broke the job into chunks where each one is a single transaction. Combined these two optimizations were enough for