[2020-07-01 00:09] laceysanderson commented on #1069
I have not experienced this personally, nor have I heard of anyone else receiving this error.

Tripal/Chado Views integrations can be easily rebuilt. The first step is to check whether you use this functionality to define any custom integrations. This can be done by going to Admin > Tripal > Data Storage > Chado > Chado Views Integrations (`yoursite/admin/tripal/storage/chado/views-integration`) a

[2020-07-01 00:23] laceysanderson commented on #761
Hi @mdhar1980, I'm happy to hear that -Tripal 3 really is a great version and the upgrade process should help with the eventual upgrade to Tripal 4.

This entails a complete upgrade to Tripal 3 using the guide you linked to above. Usually the part of the Tripal 3 upgrade causing the most work is switching from using Tripal 2 custom templates to theme the content pages to Tripal Fields to provide s

[2020-07-01 14:48] Ferrisx4 commented on #1069
Thanks @laceysanderson, this solution worked immediately. We had gone down a rabbit hole of exploring possible database corruption and I was thrown off by the process dying due to a specific row in the middle of the table, not realizing that there could exist no duplicates (there were in fact many other duplicates).
I'm going to close for now, thanks again.

[2020-07-01 14:48] #1069 closed, assigned to nobody

[2020-07-01 16:29] par12005 commented on #1068
@risharde You're right, there is no way to return all of the id's created when doing a multiple insert. I was just thinking you could return the results of the last `$insert->execute()` statement. I have created a [PR on your fork](https://github.com/risharde/tripal/pull/1) with the changes I had in mind regarding return values and I also added an `$options` parameter since that can be used to alt

[2020-07-02 20:44] risharde commented on #1068
@par12005 thanks for the PR, just merged it in to the code, I have never used the options array and I find there is little documentation regarding it but I surely believe it is good to have since the main db_insert function has it so we can continue to support the core functionality

[2020-07-03 09:00] martacsilva commented on #1066
Hi!
It's been 2 weeks so I'm back :) Still need help with this issue.

Thanks!

[2020-07-03 14:16] par12005 commented on #1068
Thanks @risharde! That was my thought exactly.

[2020-07-03 22:30] mdhar1980 commented on #761
Thanks! I notice that guide lists a command for downloading Tripal 3.1 (tripal-7.x-3.1), but I see that (at least) up through Tripal 3.3 is released (https://github.com/tripal/tripal/releases/tag/7.x-3.3). So, for the most up-to-date install, I'm assuming use tripal-7.x-3.3?

[2020-07-06 20:17] spficklin opened #1071 "ChadoRecordList Class"
## Feature Request/Discussion

* This feature does  attempt to solve an existing problem with Tripal
* I am open to developing or collaborating on an extension module if this is not a good fit for Tripal Core

* This feature is URGENT

### Description

In order to manage multiple records at once it was suggested in the Tripal Dev Call that we add a new `ChadlRecordList` class.

### Your Specific U

[2020-07-06 20:22] spficklin commented on #1071
@risharde @par12005 had indicated they will work on this.

[2020-07-07 15:15] risharde commented on #1071
Initial work, creation of the class file, added the insertMultiple code to the new class, included the ChadoRecordList.inc file to the module for boot

https://github.com/risharde/tripal/tree/7.x-3.x-chadoapi-chadorecordlist/

Thinking about if we need to change the current names used as the functions so any suggestions or confirmations about the current method names would be appreciated.

Also id

[2020-07-08 08:20] martacsilva commented on #1066
Hi @laceysanderson @spficklin

Sorry to keep bothering you with this, but I would really like to see if I can fix this issue.

Thank you!

[2020-07-08 15:30] laceysanderson commented on #1066
Commented on the original issue https://github.com/tripal/tripal_analysis_interpro/issues/31 -thank you for the reminder!

[2020-07-08 15:35] martacsilva commented on #1066
Thank you @laceysanderson !

[2020-07-09 15:13] childers commented on #372
Hi I am still running into this issue on our dev server.  I've been working with @Ferrisx4 and we are not sure why ths chado upgrade is still failing.

[2020-07-10 15:01] Ferrisx4 commented on #372
Additional notes on Chris' message:
I've been working on a mirrored version of the site on my own VM and on separate hardware and the upgrade process had gone smoothly past this step in both cases.

Chris is running Postgres v9.6 whereas I'm running v10.12 in the VM and v11.8 on the separate hardware.

[2020-07-10 15:41] bradfordcondon commented on #372
@Ferrisx4 are you able to replicate the problem by running Postgres 9.6 (in your VM)?

[2020-07-11 18:36] laceysanderson commented on #1071
I think the method names should try to follow the ChadoRecords class for consistency. For example,
[code]

We should make sure that column checking, etc still happen in this class but do so in an efficient manner. For example, we can grab the table schema information once in the constructor rather then repeatedly.

I also thing this should handle both insert and update.

[2020-07-19 17:46] mdhar1980 commented on #761
Hi, again, @laceysanderson -- I was able to make it much of the way through the guide for Tripal 3 update, but I'm stalled at the Prepare Chado step. I get a lot of errors of the type:

[code]

Up until that point, I was able to get the other steps to work. However, I was not able to enable any modules using Drush. I had to use the Modules page on the website. With Drush, I would get errors like t

[2020-07-20 22:37] mdhar1980 opened #1072 "Upgrade to Tripal v3 stalled at "Prepare Chado" with error: ERROR: relation "tripal_custom_tables" does not exist"
Hello,

I am trying to upgrade from Tripal v2 to v3. I was able to make it much of the way through the guide for Tripal 3 upgrade (https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/upgrade_from_tripal2.html), but I'm stalled at the Prepare Chado step. I get a lot of errors of the type:

[code]
Up until that point, I was able to get the other steps to work. However, I was not able t

[2020-07-20 22:38] mdhar1980 commented on #761
Since this is a pretty different issue from the original one in this thread, I've created a new thread here. Feel free to respond either place: https://github.com/tripal/tripal/issues/1072

[2020-07-22 18:20] bradfordcondon commented on #1072
hi @mdhar1980 .
`tripal_custom_tables` is defined upon enabling the `tripal_chado` module.  Your error indicates the module was not successfully installed.

https://github.com/tripal/tripal/blob/5b10e3616314307c564058b0c2f9c731d3d42738/tripal_chado/tripal_chado.install#L159

Similarly your error that `Table chado_bundle already exists` indicates that the `chado_bundle` table defined by the `tripal

[2020-07-22 19:29] mdhar1980 commented on #1072
Hi, @bradfordcondon,

Thanks for your response. This is a development version, thankfully, so in theory I can disable modules. However, both through drush and the GUI, the same error regarding the nonexistent table is thrown when trying to disable. I will probably have to restore to a backup. Before that, I will try looking into the database once I can remind myself how that is done.

Thanks,
Mich

[2020-07-23 22:49] mdhar1980 commented on #1072
I can confirm that I'm unable to disable tripal_chado. Running the drush disable command, I get the following errors:

[code]

Attempting to disable via the website Modules page (where Tripal Chado IS listed as enabled), there is, of course, a cascade of modules that require Tripal Chado that would have to be disabled first. The lowest on that cascade is Tripal Feature. Attempting to uncheck it gi

[2020-07-23 23:13] mdhar1980 commented on #1072
Hi, again, @bradfordcondon -- looking into the database, I see the following. So, for many of the tables in the database, I see an original and one with "2" at the end. I'm guessing that should not be? Perhaps the result of previous attempts to upgrade (I've already tried once, failed, and reverted to a backup to try again). Or perhaps from trying to install Tripal in the beginning, failing and tr

[2020-07-24 13:05] bradfordcondon commented on #1072
@mdhar1980  yes this indicates that you have tables left over from a failed upgrade attempt from tripal 2 to 3, and the presence of both  (for example `tripal_custom_quota` and `tripal_custom_quota2`)  is going to prevent upgrading.

These tables are present in your backup?  If you can restore a backup.   If you cant roll back to a state where you only have a single copy of the tables, you'll prob

[2020-07-27 21:13] risharde opened #1073 "TripalImporter errors related to NCBI importing"
The following error is seen in /var/log/php-fpm/php-errors.log on a massive scale. In our case, the log files quickly filled our VM disk allocation which also causes other issues. This is on our live server.

As seen, it seems to be related to the TripalImporter where TaxonomyImporter.inc file contains the problematic code. The job being executed is importing NCBI data.

[27-Jul-2020 16:39:47 Amer

[2020-07-27 21:24] bradfordcondon commented on #1073
Thank you @risharde

Do you have an example taxonomy ID or import job that is failing for you?

If we look at the line in question,  we can see that `fopen()` is failing with your built URL and returning `false` instead of a file resource.  Also possible that your `fpm` isnt set up to allow `fopen` on a remote URL?

https://github.com/tripal/tripal/blob/dd88e9fa9b497fe046913e97110b4f4721431edc/tri

[2020-07-27 21:54] laceysanderson commented on #1073
I confirmed that the URL format + parameters is still correct for a valid taxon ID: https://www.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=taxonomy&id=362247.

I also confirmed the importer works without error on my setup (traditional server, not vm/docker/etc) using the same taxon id.

[2020-07-27 21:56] laceysanderson commented on #1068
See #1071 for design of a ChadoRecordList class aimed at filling this requirement.

[2020-07-27 21:59] laceysanderson commented on #1066
Closing out here for discussion to be carried on in the original repo

[2020-07-27 21:59] #1066 closed, assigned to nobody

[2020-07-28 17:25] par12005 commented on #1073
@bradfordcondon @laceysanderson I remember we worked on a [similar issue](https://github.com/tripal/tripal/issues/1033) in the Tripal Core Dev meetings a while back.

The problem is that the NCBI API now limits the number of requests per second ([details here, under the section titled "Coming in December 2018: API Keys"](https://www.ncbi.nlm.nih.gov/books/NBK25497/#_chapter2_Usage_Guidelines_and_R

[2020-07-28 18:47] bradfordcondon commented on #1073
thank you @par12005 you're right it's entirely possible that Risharde's PHP is configured correctly and he's running into the API limit.  I'll try to get a review on your request sooner than later. perhaps @risharde can also try it out.  Thank you!

[2020-08-04 00:49] laceysanderson commented on #1073
@risharde I've merged the PR. As such I'm going to close out this issue. If you still see the errors when testing on production comment back here and I'll reopen but 🤞 you're good to go!

[2020-08-04 00:49] #1073 closed, assigned to bradfordcondon

[2020-08-08 19:09] mdhar1980 commented on #1072
So, weirdly, the tripal_custom_quota2 sorts of tables do NOT appear on our live site's database. So, I backed up our development version to the live site's SQL backup -- and the "2" type tables reappeared! So, I went through and dropped the duplicates or renamed if it was the only one that appeared.

Then, going through the upgrade, many of the same errors as before reappeared. As did many of the

[2020-08-08 19:35] mdhar1980 commented on #1072
This is the error I get on the publishing step:

[code]

[2020-08-08 19:47] mdhar1980 commented on #1072
This is what I see in the tripal_bundle_variables table:
<img width="522" alt="Screen Shot 2020-08-08 at 2 46 15 PM" src="https://user-images.githubusercontent.com/18684260/89718663-15a1ed00-d986-11ea-9861-bcc8f2f69343.png">

[2020-08-10 09:01] spficklin commented on #1040
Hi all, Just an update on this issue.

I worked on it a bit this weekend and I realized to make the GFF3 loader run faster we need to completely rework it to support multiple inserts at once as described in issue #1068.    So, I spent time doing that.  I'm not finished but here's where I'm at. I can load **all** feature, featureloc, featureprop, and feature_synonym records from the rice IGRP v1.0

[2020-08-10 09:03] spficklin commented on #1040
Oh, anyone who is interested in jumping in, the code is on this branch:  `1040-tv3-gff3_performance`.  It contains earlier work by @par12005 with the PR he submitted (#1057). I build from his code but this update is really a full rewrite...

[2020-08-12 15:42] Ferrisx4 opened #1077 "Handling legacy content from T2 GFF Loader in Tripal 3"
In the Tripal 2 GFF loader, mRNA features such as polypeptides were loaded as `part_of` the parent whereas in the Tripal 3 GFF loader, these are now loaded as `derives_from`.
As such, in Tripal 3, the Protein Sequence field expects the `derives_from` relationship as well, which will only show features loaded with the Tripal 3 GFF loader, and **not** ones loaded from the Tripal 2 GFF loader.

There

[2020-08-12 18:41] laceysanderson commented on #1077
I personally think option 2 is best as it will support sites which have already completed the upgrade. Furthermore, I think it's important to minimize altering legacy chado data as much as possible.

There are two paths to fix this issue:
1. Simply add the `part_of` cvterm [here](https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/includes/TripalFields/data__protein_sequence/data__protein_s

[2020-08-13 13:43] bradfordcondon commented on #1077
I vote for @laceysanderson 's first proposal (adding `part_of` to the field query).  If others have different relationship terms we could vote to support but i don't think its likely, as this is arising specifically because of how Tripal 2 loaded the data.  So building a UI etc not worth the work.

I have to say that I would also support converting the relationships from `part_of` to `derives_from

[2020-08-13 18:07] Ferrisx4 opened #1078 "Content Page Time Values Incorrect"
## BUG/ERROR report

### System information

* Tripal Version: 3 (multiple sites)
* Drupal Version: 7

### Issue description
Certain time-based fields, such as `Time Last Modified` and `Time Accessioned` on content pages such as Gene or mRNA do not read the values from the database but instead report the current time, or when the page was loaded. This is seen on multiple Tripal 3 sites.

#### Step

[2020-08-13 18:29] Ferrisx4 commented on #1077
Thanks @laceysanderson and @bradfordcondon
After discussing it, we agree, Lacey, that adding `part_of` to the clause will be the simplest solution that should work for all sites affected.
For your second path suggestion, we had also discussed making it configurable. Are there any other relationship terms that would be applicable specifically to mRNA and polypeptides?

Bradford, as for your suggest

[2020-08-13 21:55] Ferrisx4 commented on #1077
In the meantime, I've tested adding `part_of` the SQL clause for that field. The sequences are shown.
https://github.com/Ferrisx4/tripal/commit/8ff7ed636959bbfc3465c5cfc729eb7760638040

[2020-08-23 16:56] MoradMokhtar opened #1080 "Error: There are 1 jobs queued. Calling: tripal_chado_prepare_chado()"
Dear,
The error occurs when setup Tripal 3.
Chado is installed but Tripal has not yet prepared Drupal and Chado. Please prepare both Drupal and Chado before continuing. and when I clicked the button prepare this site, the following error appears "2020-08-23 17:28:38: There are 1 jobs queued. 2020-08-23 17:28:38: Job ID 12. 2020-08-23 17:28:38: Calling: tripal_chado_prepare_chado() "
*Error: Call t

[2020-08-24 00:15] bradfordcondon commented on #1080
Hi @MoradMokhtar

Are you following the [Tripal setup guide?](https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/manual_install/install_tripal.html#prepare-chado-and-drupal)

Your error looks like you don't have drush installed: here is the page for [how to install drush](https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/drush_installation.html#drush-installation).

[2020-08-24 14:48] Ferrisx4 commented on #1078
Due to some [comments](https://github.com/tripal/tripal/blob/c9940778f7c29f4640e9d5d8a313804a23cc0ed9/tripal/includes/tripal.fields.inc#L868) and [descriptions](https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/includes/tripal_chado.fields.inc#L1066) in the code, it appears that this might be partly intentional. Perhaps the Discussion tag might be appropriate here

[2020-08-24 16:35] MoradMokhtar commented on #1080
Dear,  @bradfordcondon
Thanks for your response
I checked the drush --version from web console   (Drush version 8.4.1)
and cheked drupal --version by http://websit/CHANGELOG.txt and it look the follwing
Drupal 7.xx, xxxx-xx-xx (development version)
-----------------------
Drupal 7.69, 2019-12-18
-----------------------
- Fixed security issues:
   - SA-CORE-2019-012
Drupal 7.68, 2019-12-04

[2020-08-24 17:47] bradfordcondon commented on #1080
those Drush and Drupal versions are compatible.

Are you running the Chado prepare job via `drush trp-run-jobs --username=administrator --root=$DRUPAL_HOME` as described in the guide (not via the Drupal interface)?

[2020-08-24 20:11] MoradMokhtar commented on #1080
Dear, @bradfordcondon
Thanks for your effort
I searched a lot and I read that php7.4 not compatible, so I changed it and used php7.3 and Now I try to install again
I changed database and run set up as mention at  Tripal setup guide, but Now setup 1 run but in the end of step "Finished"  as attach file but now error appear (Notice: Trying to access array offset on value of type int in element_child

[2020-08-24 21:08] bradfordcondon commented on #1080
looks like it was successful.  If you click on the "visit your new site" button, do you have a functional Drupal site?  That error notice you see isnt particular concerning.

[2020-08-24 21:12] MoradMokhtar commented on #1080
yes when I clicked it it opened web page with the same massage error
![Screenshot from 2020-08-24 23:07:19](https://user-images.githubusercontent.com/70106628/91096821-f0d49780-e65e-11ea-981d-bba51a74c79e.png)

and then I try to install as mention
by use web consol "cd $DRUPAL_HOME/sites/all/modules"
drush pm-download entity
the below error apear
![Screenshot from 2020-08-24 23:03:05](https://user

[2020-08-25 13:05] bradfordcondon commented on #1080
Your posted error indicates PHP cant load the postgres PDO driver.  This error leads me to believe that postgres isnt correctly configured with PHP, see for example https://stackoverflow.com/questions/10085039/postgresql-pdoexception-with-message-could-not-find-driver

I think you'll want to take a step back and confirm that your system requirements are all met.  Can you reach the Drupal system ad

[2020-08-26 16:09] MoradMokhtar commented on #1080
@bradfordcondon
Many Thanks for your support, I dropped this setup from an online host and started from the first in localhost and it's run successfully

[2020-08-28 21:37] MoradMokhtar opened #1081 "Need help genetic maps and TripalMapViewer"
Dear, Tripal Team
I want to bulid database for genetic maps for my organism
I want to use Tripal.3 to bliud genetic maps and MapViewer page such as  "https://www.pulsedb.org/mapviewer/691/LG01"
I downloaded Tripal.3 and installed it as mention at user guide "https://tripal.readthedocs.io/en/latest/user_guide.html"
but I don't known how use it to
1- bulid genetic maps page
2-which table I can use
3

[2020-08-29 02:05] bradfordcondon commented on #1081
Hello

TripalMap is a Tripal extension.  You'll want to follow the instructions there for installing the module and loading data  https://gitlab.com/mainlabwsu/tripal_map
I would suggest posting any questions you have there.

[2020-08-29 02:05] #1080 closed, assigned to nobody

[2020-08-29 14:24] laceysanderson commented on #1081
Hello @MoradMokhtar,

Regarding general Tripal functionality, I suggest looking at the tutorial: https://tripal.readthedocs.io/en/latest/user_guide/example_genomics.html. This walks you through how to create pages and load genomic-focused data but is important for getting an idea of how to use Tripal/Drupal to manage content in your site.

My general workflow for new content is:
1. Setup your cont

[2020-08-31 08:03] MoradMokhtar commented on #1081
@laceysanderson  and @bradfordcondon
Thanks for your kind response and your effort. I will do these steps as @laceysanderson mentioned
Regards

[2020-08-31 19:23] risharde commented on #1071
Thanks @laceysanderson . Request for discussion on this update based on @laceysanderson suggestion to conform to naming conventions inherited from ChadoRecord.

https://github.com/risharde/tripal/commit/9d8f819e15b3bc3e1eb5c97d10a53b5093173e7c

Things to discuss can be found by searching for string:
COMMENT: (FROM RISH)

[2020-09-02 19:59] risharde commented on #1071
Based on an hour meeting held on 09/02/2020, @spficklin generated the following specs for comments regarding ChadoRecordList class. If there's anything you think we need to change, please let us know. I'll begin working on this soon, thanks!

# ChadoRecordList Class
## Protected Members
// Holds the ChadoRecord objects.
$chado_records = array[]

// Holds the number of records
$action_limit = 1000

[2020-09-02 20:06] risharde commented on #1071
@spficklin also suggested that ChadoRecordList should not extend ChadoRecord but rather use the ChadoRecords class to create records.

[2020-09-04 19:59] Ferrisx4 commented on #1078
After discussing it briefly during a Tripal Dev meeting, it seems that having these two fields display the current time is **not** intentional. The code was only favoring the current time over the value stored in the database for the purposes of create/edit content forms.

Setting the field to display as "Plain" instead of "Date and Time" makes the field display the value from the database, but no

[2020-09-08 15:02] #1077 closed, assigned to nobody

[2020-09-11 15:48] laceysanderson commented on #660
This functionality has been officially merged! You can now (in the most recent dev version) delete from chado by clicking the delete button. The original unpublish functionality is still available with an unpublish button in the same spot as the original button (both delete and unpublish are on the right side of the edit form).

[2020-09-11 15:49] #660 closed, assigned to spficklin

[2020-09-20 09:57] spficklin commented on #1040
Hi folks as an update... We now have the Tripal v3 GFF3 uploader almost completely rebuilt.  It is missing support for the Target attribute and adding protein sequences if they are not present.

As far as performance goes, I can fully import the entire IGRSP _Oryza sativa_ v1.0 GFF3 file with > 584,481 lines (44,754 transcripts) in 3 minutes and it consumes ~4GB of RAM.  Syncing genes and then mRN

[2020-09-20 09:59] spficklin commented on #761
I think this issue can be closed as it sounds like @mdhar1980 has begun upgrade to Tripal v3 and has hit on other issues.  So the hangup on the GFF3 loader with Tripal v2 may not be a problem we need to fix.   We are completely rewriting the GFF3 importer for Tripal v3 and the issue related to that is here: https://github.com/tripal/tripal/issues/1040.

If I'm wrong and this issue needs to stay op

[2020-09-20 09:59] #761 closed, assigned to nobody

[2020-09-29 15:08] risharde commented on #1071
Main upates: https://github.com/risharde/tripal/tree/7.x-3.x-chadoapi-chadorecordlist
Commits: https://github.com/risharde/tripal/commits/7.x-3.x-chadoapi-chadorecordlist

This code uses some of Stephen/Peter's code from GFF for inserts and then uses an additional clause in SQL to return the insert ids so validation is not necessary - still to test any performance gains but 1000 records takes abou

[2020-10-01 22:13] dsenalik opened #1086 "OBO Importer fails loading obi.obo"
## BUG/ERROR report

### System information

* Tripal Version: 3.4
* Drupal Version: 7.70
* PostgreSQL Version: 12.4
* PHP Version: 7.2.33

### Issue description

A pull request #1087 is provided to fix several errors, and a few assorted typographical errors.

Loading the OBI ontology as found at http://www.obofoundry.org/ontology/obi.html
failed due to several problems.

Line 310 the example URL

[2020-10-02 22:48] avats-dev commented on #810
Can I work on this? Also, can anyone elaborate a bit how to resolve this? Thanks

[2020-10-03 04:44] spficklin commented on #1040
As another update.  We now have a completely rewritten GFF3 loader that supports all functionality of the previous uploader but  loads extremely fast (compared to the previous).  For example, I can load a GFF3 (the one shared by @Ferrisx4) about 250MB in size, with 2,241,372 features in 9 minutes and maxing at 2.3GB of RAM.   After that was loaded, I next loaded a 144GB Araport 11 GFF3 file for Ar

[2020-10-04 05:20] spficklin opened #1088 "PHP 7.4 + 8.0 Issues"
Just pointing out that for PHP 7.4 the `array_key_exists` [function is deprecated.](https://www.php.net/manual/en/migration74.deprecated.php#:~:text=Using%20array_key_exists()%20on%20objects%20is%20deprecated.,property_exists()%20should%20be%20used.)  Ubuntu 20.04 uses php 7.4 so as folks upgrade they will see this warning on their Tripal sites.

![image](https://user-images.githubusercontent.com/

[2020-10-04 05:24] spficklin commented on #1088
I'm renaming this as a place to post problems that occur with PHP 7.4

[2020-10-04 07:18] spficklin opened #1089 "Alter hooks for the field info and instances info arrays."
## Feature Request/Discussion

### Description
When creating a new extension module that creates custom tables we want to be able to create fields for the columns of those tables, but the `tripal_chado` module automatically generates fields for all new content types that are mapped to Chado tables.   This isn't a problem if the extension module comes before the `tripal_chado` module when the `hook

[2020-10-04 07:19] spficklin commented on #1089
I should also add. The reason I need this is because I'm working on the Tripal v3 compatible Tripal File module and it adds several new custom tables to Chado for associating files with Chado data.  the `tripal_chado` module automatically creates the fields (yeah!) but I need to adjust some of instance defaults.

[2020-10-04 08:12] spficklin commented on #1089
So apparently, the alter functions already were supported but not documented in the API and also were not called everywhere they should have been.  I updated the PR to fix this.  So this is actually a bug too because the code in the cron job that updates the dashboard notifications isn't calling the alter hooks like it should.

[2020-10-04 11:08] sam-2200 opened #1091 "License can be added in readme file"
one can get through license by readme

[2020-10-04 16:02] dsenalik opened #1093 "Infraspecific nomenclature updates in tripal_chado.organism.api.inc"
## BUG/ERROR report

Pull request #1095

### System information

* Tripal Version: 3.4
* Drupal Version: 7.70
* PostgreSQL Version: 12.4
* PHP Version: 7.2.33

### Issue description
Chado v1.3 introduced infraspecific nomenclature in the organism table. I am providing several changes to
`tripal_chado/api/modules/tripal_chado.organism.api.inc`
to better implement this for sites that use this featur

[2020-10-04 21:45] bradfordcondon commented on #1088
I think it’s only deprecated for use on objects, not arrays

For others finding and fixing this usage, note that `property_exists` reverses the arguments for the property/key vs the object/array.  See my PR #1096

[2020-10-05 18:58] Ferrisx4 opened #1098 "T2-T3 Migration - Foreign keys missing"
### Issue description

The Chado upgrade process, both from 1.1 to 1.2 and from 1.2 to 1.3, fails to bring over certain table constraints such as foreign keys. This seems to affect mostly tables that deal with features, but may not be limited to these.

For example, the feature_relationship table is missing foreign keys to the feature table. When features are deleted, their corresponding feature_r

[2020-10-05 23:05] #1091 closed, assigned to nobody

[2020-10-06 02:13] mdhar1980 commented on #761
Yes, than you for updating. We've now updated to Tripal 3 and will be attempting to get everything working with that version. Thanks!

[2020-10-06 02:14] mdhar1980 commented on #1072
This is resolved. There were remnants from a failed upgrade remaining in the database which I was able to remove by creating a fresh database and "restoring" it to the pre-upgrade backup. Tripal 3 upgrade then worked. Thanks!

[2020-10-06 02:14] #1072 closed, assigned to nobody

[2020-10-06 06:14] spficklin commented on #1072
Thanks @mdhar1980 for the udpate!

[2020-10-09 05:55] swapniljha001 commented on #810
Is this issue still unresolved?

[2020-10-09 18:46] spficklin commented on #810
@avats-dev and @swapniljha001. It looks like both of you may be new here.  Do either of you currently develop a Tripal site or work on extension modules for Tripal? If so, we would love your help on this issue. The challenge with this one is knowing exactly what documentation to move, where to move it, what our documentation standards are and how to adjust the documentation to make sense for the c

[2020-10-09 18:57] dsenalik opened #1100 "sio__references tripal field hits php execution limit, time out if too many features present"
I have a genome publication, and if I try to view the publication it times out due to php execution time limit (currently set at 30 seconds). The reason is that this publication is linked to a large number of genetic markers in several linkage maps used for that publication.
If I increase the php time limit, eventually the page is rendered in a couple of minutes, with an enormously long list of ma

[2020-10-09 18:59] spficklin commented on #1100
HI @dsenalik I'm actually working on creating new fields for an extension module I'm working on.  So since I'm in the "fields" zone I can take a look at this field for you.   Increasing the PHP limit could potentially get you around the problem but it still means your users are waiting a very long time for the page to load, which isn't good.

[2020-10-12 17:58] spficklin commented on #1100
Just curious @dsenalik how many records do you have linked to this publication?

[2020-10-12 20:19] dsenalik commented on #1100
I have 2505 total references. 2473 of those are genetic markers, the major culprit. The page took just over 2 minutes to render on my test site with php execution limit increased.

[2020-10-12 20:32] spficklin commented on #1100
@dsenalik can you test this branch and see if it fixes the problem: `1100-tv3-references_field`

[2020-10-13 03:02] risharde commented on #1040
Resolved a small but major glitch with feature indexing which caused data integrity issues.
Pull created: https://github.com/tripal/tripal/pull/1101

[2020-10-13 13:07] dsenalik commented on #1100
After about 40 seconds I received these errors:

- Notice: Undefined index: foreign keys in sio__references->load() (line 106 of /var/www/2020-02-18/drupal-7.69/sites/all/modules/tripal/tripal_chado/includes/TripalFields/sio__references/sio__references.inc).
- Warning: Invalid argument supplied for foreach() in sio__references->load() (line 107 of /var/www/2020-02-18/drupal-7.69/sites/all/modules/

[2020-10-13 15:20] spficklin commented on #1100
hmmm.... I think the megasearch module must have a `tripal_megasearch_pub` table but not a corresponding tripal_megasearch table.?  I'm not too familiar with that module.  But I think I can add in an easy fix to check for this.

[2020-10-13 15:46] dsenalik commented on #1100
Correct, here are all the megasearch tables:
[code]

I would think we should ignore this table entirely, as it is a materialized view for a search function.

[2020-10-13 15:57] dsenalik commented on #1100
Your fix is awesome! I threw in a
```if (!preg_match('/megasearch/', $chado_table)) {```
to test, this eliminated all of the errors, and the page rendered in < 10 seconds
![Screenshot_2020-10-13_10-55-55](https://user-images.githubusercontent.com/8419404/95885387-ce97f580-0d42-11eb-9321-cc785d25f47b.png)

[2020-10-13 15:59] spficklin commented on #1100
So 10 seconds is still a long time for a user to wait for a response.... I tested with about 3000 records linked to a pub and on my test it loaded really fast.  I wonder if there is something else slowing the page load down.

BTW... I'm not going to have time today to get back to it. But if you want to change out your regular expression check for this function `chado_table_exists` (http://api.trip

[2020-10-13 16:46] dsenalik commented on #1100
When you can get back to this, it was more like 6 seconds.

4.318 seconds of that was occupied in ```sio__references.inc``` in ```function load()``` processing table ```feature_pub```

Each of my 2476 records is taking about 0.0018 seconds each to process in the final loop in that function.

It appears that most of that time is from this line:
```$entity_id = chado_get_record_entity_by_table($refe

[2020-10-13 18:17] spficklin commented on #1100
Okay, I have an idea for how to speed that up....

[2020-10-13 20:53] spficklin commented on #1100
@dsenalik I managed to squeeze in some multitasking time and did another fix that I think might speed things up from 6 seconds... although I'm not 100% sure because it was running fast for me before. But now, Instead of the call to `chado_get_record_entity_by_table` I've got it all built into the initial SQL so hopefully that speeds things up for you.  Let me know.

Also, I fixed the issue with it

[2020-10-13 22:15] dsenalik commented on #1100
this is the first error, should be an easy fix

Notice: Undefined index: foreign keys in sio__references->load() (line 106 of /var/www/2020-02-18/drupal-7.69/sites/all/modules/tripal/tripal_chado/includes/TripalFields/sio__references/sio__references.inc).

this is the other error

PDOException: SQLSTATE[21000]: Cardinality violation: 7 ERROR: more than one row returned by a subquery used as an exp

[2020-10-13 22:40] spficklin commented on #1100
Oh okay.  Yeah, I suppose it is possible to have the same record synced under two different content types.

[2020-10-13 22:44] spficklin commented on #1100
Okay, I made two more fixes... one for each of the issues you just posted.  It limits the nested query to only return 1 item, no matter what.

[2020-10-14 01:42] dsenalik commented on #1100
Excellent work! Now total elapsed time for feature_pub is 0.2542 second, for everything just 0.3668 second

[2020-10-14 03:19] spficklin commented on #1100
Okay. That's like a proper fix :-)  I'll submit the PR for it. Can you approve it as functionally reviewed? I'll post the link to it here.

[2020-10-14 19:10] ng29 commented on #595
Hey @laceysanderson

Can you provide a detailed explanation on this, so that I can pick it up?

[2020-10-14 22:29] laceysanderson commented on #595
We need a walkthrough at Tripal Users Guide > Embed Remote Tripal Content (which doesn't yet exist). This can be added using readthedocs within https://github.com/tripal/tripal/tree/7.x-3.x/docs/user_guide following [these guidelines](https://tripal.readthedocs.io/en/latest/contributing/documentation.html). The menu item should be added to https://github.com/tripal/tripal/blob/7.x-3.x/docs/user_gu

[2020-10-15 14:53] laceysanderson commented on #1100
PR Merged and it sounds like it fixes this issue? @dsenalik please comment back here or open a new issue if you have any additional concerns :-)

[2020-10-15 14:53] #1100 closed, assigned to spficklin

[2020-10-15 14:54] laceysanderson commented on #1093
PR Merged, thanks for the fix!

[2020-10-15 14:54] #1093 closed, assigned to nobody

[2020-10-15 14:54] laceysanderson commented on #1089
PR Merged

[2020-10-15 14:54] #1089 closed, assigned to spficklin

[2020-10-15 14:55] laceysanderson commented on #1086
PR Merged

[2020-10-15 14:55] #1086 closed, assigned to nobody

[2020-10-15 14:55] laceysanderson commented on #1064
PR Merged

[2020-10-15 14:55] #1064 closed, assigned to nobody

[2020-10-15 14:56] laceysanderson commented on #1022
PR Merged

[2020-10-15 14:56] #1022 closed, assigned to nobody

[2020-10-15 14:56] laceysanderson commented on #1019
PR Merged

[2020-10-15 14:56] #1019 closed, assigned to nobody

[2020-10-15 14:56] laceysanderson commented on #851
PR Merged

[2020-10-15 14:56] #851 closed, assigned to nobody

[2020-10-15 14:57] laceysanderson commented on #272
PR Merged

[2020-10-15 14:57] #272 closed, assigned to nobody

[2020-10-15 15:00] laceysanderson commented on #1081
Hello @MoradMokhtar, just following up -were you able to access the information you needed? Do you have any suggestions for improved documentation for Tripal core?

[2020-10-15 15:03] laceysanderson commented on #1059
Just checking in @songtaogui, we have not made any progress in adding the mentioned tools to Tripal although you would be welcome to contribute time permitting. Have you made any progress fixing this issue in your setup?

[2020-10-15 15:22] laceysanderson commented on #677
Hi @kyrenya were you ever able to get this GFF3 imported? If not, we've been doing a lot of work on the GFF3 importer in #1040 for maybe it's worth another try?

[2020-10-15 15:29] kyrenya commented on #677
Hi Lacey! I got it indeed, but it was some time ago! Sorry for not updating this issue I really thought I did. My work in CorkOakDB finished, now I am not currently working in databases, so cannot try the new stuff now. But I will take advantage of this post to really thank all the Tripal community for the great support that was of great help for me while building the site. Cheers for that! And be

[2020-10-15 15:34] laceysanderson commented on #677
I'm glad you got it! Good luck on all your current and future adventures and hopefully we see you make your way back to Tripal one day <3

[2020-10-15 15:34] #677 closed, assigned to nobody

[2020-10-15 15:35] kyrenya commented on #677
Never closed the door I enjoyed it very much!! Best, Cirenia.

El jue., 15 oct. 2020 16:34, Lacey-Anne Sanderson <notifications@github.com>
escribió:

[2020-10-15 15:42] laceysanderson commented on #588
I've tagged this issue to be addressed in Tripal 4. At this point, I think it might be a bit late to consider fixing for Tripal 3 but if anyone needs it ASAP they should feel free to contribute.

We also welcome any suggestions or wish list items regarding this topic. If you comment here, it may make it into Tripal4!

[2020-10-15 18:36] laceysanderson commented on #519
I talked to @spficklin regarding this issue:

So I think the ideal solution here is two-fold:
1. Ensure the field is disabled in the display when the module is disabled.
2. Ensure the load is not called when the module is disabled.

For the first task, this issue might be useful: https://www.drupal.org/project/entity/issues/2223397

For the second task, you will want to add a conditional around ht

[2020-10-15 21:29] laceysanderson commented on #916
I think the solution would be to have the two ordering indicated by an option with the current "Order by Reference" being the default but "Order by Strand" being an option. Then we would also want to check that we are using the correct order for fields which use this function.

[2020-10-15 21:37] laceysanderson commented on #682
@abretaud I still cannot duplicate it and it's not shown in Travis CI either. As such I'm marking it as please contribute. If you find a way to fix this in your system, please feel free to contribute it back.

[2020-10-15 21:39] laceysanderson commented on #942
This is a weird side case potential bug which only affects Administrators in rare cases and can be fixed by reseting the filters on the page. As such, I'm marking it as "Please contribute".

[2020-10-15 21:42] laceysanderson commented on #320
Adding the "Address in Tripal 4" tag to make sure everything works perfectly there. No one but me seems concerned with this and I have no time to fix it so I'm also marking it as please contribute.

[2020-10-15 21:46] laceysanderson commented on #858
This can be solved by enabling each module separately. We should add mention of this in the docs in warning form.

Additionally I'm going to add the tag to ensure this is not a problem in Tripal 4

[2020-10-15 21:51] laceysanderson commented on #801
This is non-trivial to fix because of Drupal 7. As such, I'm marking this as something to be addressed in Tripal 4 as it will hopefully be easier in Drupal 8/9.

[2020-10-15 21:52] #1027 closed, assigned to nobody

[2020-10-15 21:53] laceysanderson commented on #1006
I can no longer replicate this. Closing and a new issue can be created if it re-appears

[2020-10-15 21:53] #1006 closed, assigned to nobody

[2020-10-15 21:54] laceysanderson commented on #983
Closing due to no activity. Reply back or create a new issue if you still need help

[2020-10-15 21:54] #983 closed, assigned to nobody

[2020-10-15 21:55] laceysanderson commented on #891
Closing due to no activity. Feel free to comment back here if you still need help and I'll re-open

[2020-10-15 21:55] #891 closed, assigned to nobody

[2020-10-15 21:55] laceysanderson commented on #626
Closing due to lack of activity. If you still need help comment here and I'll re-open.

[2020-10-15 21:55] #626 closed, assigned to nobody

[2020-10-15 22:05] laceysanderson commented on #915
Not able to replicate thus assuming it's been fixed since this is an old issue. If you run into this problem in the current dev version please comment here with more details.

[2020-10-15 22:05] #915 closed, assigned to spficklin

[2020-10-15 22:08] laceysanderson commented on #1028
PR Merged

[2020-10-15 22:08] #1028 closed, assigned to spficklin

[2020-10-15 22:13] laceysanderson commented on #939
Closing this as there is not enough detail available.

[2020-10-15 22:13] #939 closed, assigned to nobody

[2020-10-15 22:14] laceysanderson commented on #864
Do you still need this @almasaeed2010? Could you contribute it?

[2020-10-15 22:21] laceysanderson commented on #1068
Closing as discussion is in #1071

[2020-10-15 22:21] #1068 closed, assigned to nobody

[2020-10-15 22:26] laceysanderson commented on #1026
Closing as there is no bandwidth to work on this enhancement and it hasn't been requested yet by extension module developers.

[2020-10-15 22:26] #1026 closed, assigned to nobody

[2020-10-15 22:44] almasaeed2010 commented on #864
We have not added the functionality to ES yet and I don't believe we will be able to in the near future. Since no one else expressed interest in this, I suppose we can close the issue. Thanks!

[2020-10-15 22:44] #864 closed, assigned to nobody

[2020-10-16 02:00] spficklin commented on #864
I think this is still an important issue so I tagged it with 'address in Tripal4'

[2020-10-16 14:13] dsenalik opened #1108 "Tripal field URLs should be clickable"
## Feature Request/Discussion

* This feature does attempt to solve an existing problem with Tripal
* This feature is Not Urgent

### Description
When the tripal field ```tpub__url``` displays a URL for a publication, it is not clickable

I propose a simple change to ```chado_linker__prop_formatter``` that will make any string matching a regex unto a clickable link ```/^https?:/i```

Pull request

[2020-10-17 12:26] songtaogui commented on #1059
@laceysanderson, after a further look of my data, all the incorrect records have only one letter, so we just removed the entries with only one letter in SQL, and re-load.

[2020-10-18 01:58] laceysanderson commented on #1059
👍 Glad you found a solution!

[2020-10-18 01:58] #1059 closed, assigned to spficklin

[2020-10-20 00:36] spficklin commented on #1088
More issue with 7.4 that don't show up on earlier versions of PHP.

![image](https://user-images.githubusercontent.com/1719352/96526114-8d678000-1231-11eb-8bc7-89abaa33aa62.png)

[2020-10-20 01:24] spficklin opened #1112 "Bug in web services"
## BUG/ERROR report

### System information

* Tripal Version: 3.4
* Drupal Version:  7.x
* PostgreSQL Version: N/A
* PHP Version: 7.4

### Issue description

Fields that link to entities are missing the link to the entity. For example, for any entity from the feature table (e.g. Gene) if you look at the record, the organism field will not have the URI for the organism record.  For example:

![ima

[2020-10-20 15:10] spficklin opened #1114 "Survey of Computational Resources"
Recent questions have been posed about what are the requirements in terms of CPU, RAM and disk storage when setting up a Tripal site.   This will vary greatly depending on the size of the database.  So, to help get handle on that questions, we'd like to ask folks to submit here their specs for their Tripal sites, whether development or production.    Please consider posting here the spec's of the

[2020-10-20 15:18] risharde opened #1115 "Tripal Specifications Discussion"
A few persons on the mailing list have been asking what is needed to run Tripal so please share  your experiences with us. Let us know your hardware specs and perhaps the data you have within Tripal and whether it performs well or not. At this point, this might be vague but as we get information in, we can perhaps come to some estimates and conclusions.

Particularly memory, processor, storage typ

[2020-10-20 15:18] spficklin commented on #1114
Site Type:  Development
RAM: 16GB
CPU cores:  12
Storage:  2TB single drive
Max Features: 3million
Performance: good

[2020-10-20 15:21] risharde commented on #1115
In favour of 1114.

[2020-10-20 15:21] #1115 closed, assigned to nobody

[2020-10-20 15:51] laceysanderson commented on #1114
Site Type: Production with very few users
RAM: 6GB
CPU cores: 4
Storage: 20GB
Performance: good
Small amount of breeding-focused data for 3 organisms

[2020-10-20 15:55] laceysanderson commented on #1114
From slack:

[2020-10-20 16:08] laceysanderson commented on #1114
Site Type: Large Production with > 5000 unique users per year
RAM: 256 GB
CPU Cores: 24
Storage: 5.6 TB usable space (after RAID 10)
Performance: Good
NOTE: includes storage of large scale genotypic and phenotypic data

[2020-10-20 22:51] spficklin opened #1116 "OBO Loader can't import EDAM vocaublary"
## BUG/ERROR report

### System information

* Tripal Version:  3.4
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version: 7.4

### Issue description

The OBO loader cannot load the EDAM vocabulary this is because of several problems:

1. The EDAM vocabulary OBO file does not have a default-namespace (cv.name)
2. In the OBO file, the IDs are listed as `EDAM_format:0005`, for example, but t

[2020-10-20 23:29] spficklin commented on #1112
Closing as PR with fix is merged.

[2020-10-20 23:29] #1112 closed, assigned to spficklin

[2020-10-21 05:38] spficklin opened #1118 "Bugs in Web Services"
## BUG/ERROR report

### System information

* Tripal Version: 3.4
* Drupal Version: 7.x
* PostgreSQL Version:  N/A
* PHP Version:  7.4

### Issue description

In the process of creating the File module which makes use of web services to share files, I have found the following bugs with web services

1.  If an entity has never been cached, all of the non "auto attach" fields have no link This make

[2020-10-21 17:22] katherynbuble opened #1120 "Move TripalMap module listing on tripal.info"
### Issue description
Move TripalMap module listing to Extension Modules / Visualization Display page on tripal.info site. Currently under 'In Development'.

[2020-10-21 19:50] spficklin opened #1122 "Perpetual Files"
## Feature Request/Discussion

* This feature [does ] attempt to solve an existing problem with Tripal
* I  [am ] open to developing or collaborating on an extension module if this is not a good fit for Tripal Core

* This feature is URGENT

### Description

Currently the user quote system does not allow a file to stay on the system perpetually.

### Your Specific Use Case

I'm currently working o

[2020-10-21 19:56] spficklin commented on #1122
Here is  a possible solution:

1.  Provide a new permission that lets users mark files as permanent.  Users with this permission can mark their files to not expire. This would typically be given to an admin.
2.  Provide a hook that lets modules mark files as permanent  this way the user doesn't have to remember to do it.  As soon as a file is associated then the Tripal File module can mark the fil

[2020-10-21 19:57] spficklin commented on #1120
This is done! Thanks @katherynbuble for the PR.

[2020-10-21 19:58] #1120 closed, assigned to nobody

[2020-10-21 19:58] spficklin commented on #1108
The PR that fixes this got merged so closing this out. Thanks @dsenalik

[2020-10-21 19:58] #1108 closed, assigned to nobody

[2020-10-27 00:14] spficklin opened #1330 "Automated Tests are needed for Tripal Job Management"
This is to remind us to do functional tests for job management.

[2020-10-27 18:06] almasaeed2010 commented on #1114
Provider: Digital Ocean
Site Type: Large with ~ 5000 users per year
RAM: 16 GB
CPU Cores: 6
Storage: 1 TB SSD
Performance: With optimizations such as opcache and memcache we get really good performance.
Organisms: 71 (with genes, polypeptides, interpro scans, blast, kegg, expression data and more)

[2020-10-27 20:58] risharde commented on #1114
A base line type version of specifications (what people can use to at least get running / testing)
Oracle VirtualBox 6.1 (Virtual Machine)
Site type: Near empty
RAM: 1GB
CPU Cores: 1 running at 60% (mostly to save laptop when using battery) - Ryzen 5 4500U processor.
Storage: 50 GB M2 NVMe
Performance: Loads fine, used for development and testing
Organisms: 1

[2020-11-03 10:43] Xaiku opened #1128 "Warning: count(): Parameter must be an array or an object that implements Countable in include()"
## BUG/ERROR report

### System information

* Tripal Version: v3
* Drupal Version: 7.69
* PostgreSQL Version: PostgreSQL 13.0 (Ubuntu 13.0-1.pgdg18.04+1)
* PHP Version: 7.3.23-1+ubuntu18.04.1+deb.sury.org+1)

### Issue description
Hey everybody, I'm trying to use genotype loader to load in some vcf files. Genotype loader has some sample files and instructions in their README.md to test it. Everyt

[2020-11-03 21:43] laceysanderson commented on #1128
Hi @Xaiku

It looks like you are using a Tripal 3 site in legacy mode, is this correct?
For creating new Tripal v3 content you want to go to Admin > Content > Tripal Content > Add Tripal Content.

To recover from your current situation, delete your content from Admin > Content. This will delete the pages but not the records in chado. Then go to Admin > Content > Tripal Content > Publish Tripal Con

[2020-11-04 22:13] Ferrisx4 opened #1130 "Published state not preserved - T2 to T3 migration"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.3
* Drupal Version: 7.73
* PostgreSQL Version: 11.9 (Ubuntu 11.9-1.pgdg18.04+1)
* PHP Version: 7.2.24

### Issue description

During a migration from Tripal 2 to Tripal 3, any Tripal 2 content (organisms, analyses) that was marked as "Not published" ends up as "Published" after the migration.
#### Steps to reproduce
Migrate Tripa

[2020-11-10 10:29] Xaiku commented on #1128
Hey @laceysanderson

Thank you for your help. I tried to add or publish chromosome, but there is no option for it. Do you know how I can add this on my site?
![image](https://user-images.githubusercontent.com/73877812/98662265-d51c8b80-2347-11eb-8a05-ee9f1a63a979.png)

[2020-11-10 18:25] spficklin commented on #1128
Hi @Xaiku

Tripal comes pre-populated with many content types which is why the list you show in the screen shot is available.  But you can store a lot more in Chado that is not provided by default.  By default, Tripal does not provide a 'Chromosome' Content Type because chromosome's can be problematic for databases that are primarily genomic and have huge chromosomal sequences.  The chromosome pag

[2020-11-11 16:33] Xaiku commented on #1128
Hi @spficklin

Thank you for your response! I followed the instructions and I have the option for chromosome now, but when I try to add LcChr1 as tripal chromosome content it gives me the following warning:
![image](https://user-images.githubusercontent.com/73877812/98837646-7b998700-2443-11eb-852b-2187cbbb533e.png)

This is my chromosome content type:
![image](https://user-images.githubuserconten

[2020-11-11 17:32] spficklin commented on #1128
So it looks like those warnings are coming from problems in the legacy module templates and are there due to updates in PHP (they probably don't show up in PHP version  below 7.2).  Which PHP version are you using?  My guess is 7.3 or 7.4.  We don't generally make fixes to the legacy modules because they are meant to be phased out.   Do you need to use the legacy modules?  If not, if you turn them

[2020-11-12 19:23] Xaiku commented on #1128
Hey @spficklin

I am using PHP 7.3 and the warnings disappeared after disabling the legacy modules. I'm still not sure if I need the legacy modules, because I don't really know how genotype loader works and what it needs. I tried loading in the sample files again that comes with genotype loader, but it doesn't work. The warnings are gone now, so thank you for your help! I'll open an issue on the g

[2020-11-12 19:24] #1128 closed, assigned to nobody

[2020-11-14 00:13] laceysanderson commented on #1088
![Screen Shot 2020-11-13 at 6 13 43 PM](https://user-images.githubusercontent.com/1566301/99132467-f1385b00-25db-11eb-8c2b-2d97645dc2ba.png)

[2020-11-21 10:02] #1118 closed, assigned to nobody

[2020-11-21 10:02] #1116 closed, assigned to nobody

[2020-11-21 10:10] spficklin opened #1135 "mRNA pages with chromosomal FASTA loaded exceed memory"
## BUG/ERROR report

### System information

* Tripal Version: 3.4
* Drupal Version: 7
* PostgreSQL Version: N/A
* PHP Version: 7.4

### Issue description

After loading a genome with large supercontigs, and after loading the corresponding GFF3 file, the mRNA pages would not load because they would exceed the default memory limits. Granted I only have it set to 2GB but it still shouldn't do that.

[2020-11-25 14:17] ghost commented on #1045
I'm in the design phase for a new website to include a new database to identify patterns of resistance and the mechanisms that allow HIV-1 strains to escape neutralization from bNAbs. The university will no longer allow new sites to be setup as Drupal 7. Can someone advise me on the timing of Tripal 4 on Drupal 8? Further, not having developed with Tripal yet, is Tripal the right direction for a D

[2020-11-25 15:26] laceysanderson commented on #1045
Hi @pst024 and welcome to the community! We are currently working on Tripal 4 for Drupal 8/9 in this repository for organizational reasons: https://github.com/tripal/t4d8. As you can see at the bottom of the Readme and added here for ease, we've developed a timeline for development to ensure existing Tripal sites have time to upgrade before the D7 end of life.
[<img width="1206" alt="Screen Shot 2

[2020-11-25 20:18] ghost commented on #1045
Awesome! Thank you the update and quick response! I'm excited to use Tripal!

[2020-12-09 21:38] laceysanderson opened #1331 "Currently cannot dismiss notifications on admin dashboard"
On `admin/dashboard` when you have notifications there will be a dismiss link. Currently this link does not do anything.
<img width="1235" alt="Screen Shot 2020-12-09 at 3 37 18 PM" src="https://user-images.githubusercontent.com/1566301/101691534-6d378e80-3a34-11eb-9f38-bb160f16e875.png">

To manually add a notification for testing use the following:
[code]

[2020-12-09 22:00] laceysanderson commented on #1329
Once this is resolved, uncomment the section of code at tripal/tripal.module:124
[code]

[2020-12-11 17:16] mdhar1980 commented on #761
Just wanted to update this that we did in fact (a while ago) upgrade to Tripal 3, and the GFF loaded just fine with that version. Thanks!

[2020-12-11 18:18] spficklin commented on #761
Thanks for the update @mdhar1980 !

[2020-12-13 18:40] dsenalik opened #1138 "Tripal field sbo__database_cross_reference timeout, can't handle many cross references"
## BUG/ERROR report
I thought it would be nice to link all NCBI sequence accessions to corresponding publications, using the ```pub_dbxref``` table. Well it works great, except for publications with many NCBI sequence accessions, the page can actually timeout, and even if not, the list is too long.

First, we would need a pager for the sbo__database_cross_reference field, but

Second, it takes way

[2020-12-14 19:02] spficklin commented on #1138
Hi @dsenalik, I think the solution to this problem is the same with a few other fields you're recently reported on (#1100). The solution was to not use the `chado_expland_var` function but to rewrite the `load` function to use strategic SQL.  I can try to take a look at it but it might take me a few days before I can get to it.

[2020-12-16 16:20] dsenalik commented on #1138
I'm working on it. I have the SQL working, just need to add the pager.

[2020-12-16 16:37] dsenalik commented on #1138
My pager appears to be working, rendering >3000 cross references is only 75 ms SQL query and store, 105 ms in view() YAY!

But I have a question, if there is only one cross reference (the more usual case) it now takes more screen space. What about only triggering the pager if there is > one page of cross references?
Before:
![before](https://user-images.githubusercontent.com/8419404/102377722-9a32

[2020-12-18 16:39] martacsilva opened #1140 "Job Daemon Status block says "Stopped" but daemon is running"
### System information

* Tripal Version: 7.x-3.4
* Drupal Version: 7.73
* PostgreSQL Version: 9.5.24
* PHP Version: 7.0.33-0ubuntu0.16.04.16

### Issue description
The Job Daemon Status block on my Dashboard is not updating correctly with the actual daemon.  I have stopped and started the daemon and run jobs with and without it, and I haven't had any issues. Other information on the block is corr

[2020-12-27 03:36] spficklin opened #1143 "$use_button variable not working on TripalImporter"
## BUG/ERROR report

### System information

* Tripal Version: 3.4
* Drupal Version:  7.x
* PostgreSQL Version: N/A
* PHP Version:  7.4

### Issue description

In PR #955  @laceysanderson added some code to the `includes/tripal.importer.inc` file to support a $use_button variable to hide the submit button. I believe this was meant for extension modules that want to completely override the form suc

[2021-01-04 16:52] spficklin commented on #1143
Fixed with merged PR.  Closing

[2021-01-04 16:52] #1143 closed, assigned to nobody

[2021-01-04 17:41] spficklin commented on #1040
The updated GFF3 loader is now merged into the development branch and ready for the next release!  So, I'm closing this out.

[2021-01-04 17:41] #1040 closed, assigned to nobody

[2021-01-05 15:48] Ferrisx4 commented on #1130
Upon further review, this may have happened on my test site due to me running a regular "Publish Tripal Content" job at some point. I will need to investigate further. Closing for now.

[2021-01-05 15:48] #1130 closed, assigned to nobody

[2021-01-07 14:43] Ferrisx4 opened #1146 "Post Migration T2->T3 Delete Tv2 features"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.77
* PostgreSQL Version: 11.9
* PHP Version: 7.2.24

### Issue description

#### Steps to reproduce

After upgrading a site from Tripal 2 to Tripal 3, and using the migration page (admin/tripal/storage/chado/migrate) to delete All Tripal 2 content, all content of type "Feature" still remains. These are not T

[2021-01-14 19:24] spficklin opened #1147 "Date Time fields in Tripal are showing the current time."
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.4
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version: 7.4

### Issue description

After importing new features into Chado, and then publishing them, the date accessioned and date last modified are always showing the current date/time.  If you edit the entity the date value appears just fine in the form.  If you then sa

[2021-01-14 19:37] spficklin commented on #1078
Oops I just added a similar issue #1147 and a fix in PR #1148

[2021-01-14 19:45] spficklin commented on #1147
oops this is a duplicate of #1048

[2021-01-14 21:11] shmenolin opened #1149 "Link an organism page to its chromosome"
Hello,
I am trying to set up a model organism website with Tripal and currently working with Tripal 3 until the 4 gets released. I had some questions:
1. I loaded the chromosome sequence for an organism but saw that I cannot directly search for the loaded chromosome. How do I search for such features loaded to the database? I can see gene search but not for the chromosome.
2. For a particular orga

[2021-01-14 21:12] shmenolin opened #1150 "Accessing organism features and chromosomes from the organism page"
Hello,
I am trying to set up a model organism website with Tripal and currently working with Tripal 3 until the 4 gets released. I have some questions:
1. I loaded the chromosome sequence for an organism but saw that I cannot directly search for the loaded chromosome. How do I search for such features loaded to the database? I can see gene search but not for the chromosome.
2. For a particular org

[2021-01-14 23:02] spficklin opened #1151 "Sequences are missing the FASTA definition lines"
## BUG/ERROR report

### System information

* Tripal Version: 3.4
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version: 7.4

### Issue description

The sequences in the new data___sequence_record field are missing the FASTA definition line. This was pointed out by Marta in the Codefest in the Gene Pages team.

#### Steps to reproduce

#### Error messages and screenshots

[code]

[2021-01-15 18:48] shmenolin opened #1154 "Purpose of Tripal V2 legacy modules"
Hello all,
Can someone please help me understand why Tripal V2 legacy modules are present in Tripal V3?
Thank you!

[2021-01-15 19:01] spficklin commented on #1150
Hi @shmenolin.

By default, Tripal does not provide a chromosome (supercontig) page.  This is because usually there are so many things associated with a chromosome (i.e. huge DNA sequence, genes, variants, etc.) that the page would have too much information and never load.  What kind of information did you want to show on a chromosome page?

However, it is possible to create a chromosomal page, an

[2021-01-15 19:05] spficklin commented on #1154
Hi @shmenolin .  When we updated Tripal v2 to Tripal v3 we changed from using Dupal 7 templates to using fields.  This gives site admins greater control over how the site pages look without having to write any PHP code.   However, some sites needed the flexibility to upgrade slowly as their site were quite large.  So, we kept some of the Tripal v2 functionality around in those legacy modules.  If

[2021-01-15 19:14] shmenolin commented on #1150
In an organism page, I wish to have side links that would link me to its chromosome (not necessarily a page, just a point to the sequence file or so) and features and CDSes of the organism. In the Tripal V2 I saw a sidebar named "feature browser" but not in Tripal V3. So how can I do this in Tripal v3?

Also I am unable to figure out how to search for a feature other than gene and mRNA in Tripal V

[2021-01-15 19:22] shmenolin commented on #1154
Thank you

[2021-01-15 19:50] #1154 closed, assigned to nobody

[2021-01-15 19:51] spficklin commented on #1149
Hi @shmenolin. It looks like this may have been submitted twice.  The duplicate issue is here #1150 .  So, I'm going to close this one out and we can communicate on the other one.

[2021-01-15 19:51] #1149 closed, assigned to nobody

[2021-01-15 20:02] spficklin commented on #1150
In Tripal v2 we did have a feature browser.  That was actually added in Tripal v1 because organisms tended to only have one genome assembly.  Now, some organisms can have multiple and some assembly features naturally overlapped.  So, we took that out.

Here's an approach to get you something similar to what you want:
1.  Create an "analysis" content page for each genome assembly. You'll want to de

[2021-01-15 20:26] laceysanderson commented on #1329
@spficklin I have very little idea how this is working and thus don't know where to begin.

I know Shawna set up a registration content type on tripal.info which [Bradford has added fields to](https://github.com/tripal/tripal/issues/1329) but those fields are not yet available on the registration forms in Tripal 4 (or I assume Tripal 3) & I'm unsure how to have the new tripal.info fields set based

[2021-01-18 20:14] shmenolin opened #1156 "Error during EDAM vocabulary loading"
I am trying to load EDAM vocabulary to the Tripal. However, I got the following error. What could be the reason for this?
[code]

* Tripal Version: 7.x-3.4
* Drupal Version: 7.77
* PostgreSQL Version: 12.3
* PHP Version: 7.3.11

[2021-01-19 16:07] spficklin commented on #1156
Hi @shmenolin Thanks for reporting this. I'll take a look into it and get back to you once I figure out what's going on.

[2021-01-19 16:21] shmenolin commented on #1150
Thank you, the module is very helpful.
Also, what I wanted was to have a link for existing chromosome for the organism (the one I loaded using chado fasta loader)and features (loaded via chado gff3 loader). Is there any way to do it? And also summarize the features of the organism (I saw the summarizing feature was available in Tripal v2).
Is there any extension to do it as well? Where can I find

[2021-01-19 16:45] laceysanderson commented on #1150
We have a community curated list of Tripal Extension modules available on our documentation: https://tripal.readthedocs.io/en/latest/extensions.html

Unfortunately this doesn't include everything available as not every group with a Tripal site adds their modules to this list. I would first check there and if there isn't something to do the job you are looking for I would start an issue asking abou

[2021-01-19 22:09] spficklin commented on #1150
For this I would recommend following the steps I posted in my previous content.  I think that's the easiest way to get you something akin to what you want. I don't think it would be good to have a "chromosome" page with Tripal.   @laceysanderson provided a good solution if you are comfortable programming and want something custom.

This is no longer supported by core Tripal and I'm not aware of an

[2021-01-21 16:48] spficklin commented on #1147
Fixed with PR #1148

[2021-01-21 16:48] #1147 closed, assigned to spficklin

[2021-01-21 16:49] spficklin commented on #1078
I believe this is fixed with PR #1148.

[2021-01-21 16:49] #1078 closed, assigned to nobody

[2021-01-25 20:11] shmenolin opened #1157 "Search genes according to product names"
How can I search for a gene based on its product? (for example: I want to search for all polymerase genes in the database). While loading the gff file, only the ID and Name are stored but not the product description in the feature table and I cannot find a way to link featureprop table in search results while searching through the genes.

Also, is it possible to create teaser links for tripal cont

[2021-01-27 15:27] mpoelchau commented on #1157
In terms of search - you may want to install tripal elasticsearch (https://github.com/tripal/tripal_elasticsearch). You can set the product field as 'high priority' in the tuning page.

No idea about the teaser links, sorry.

[2021-01-27 22:07] laceysanderson commented on #708
Confirmed that this is still a problem and the Trait ontology cannot be imported cleanly by the new/current OBO importer :-(

![Screen Shot 2021-01-27 at 4 05 09 PM](https://user-images.githubusercontent.com/1566301/106060417-a9dd4900-60b9-11eb-8e42-4367a88d5243.png)

[2021-01-28 22:10] dsenalik opened #1159 "sbo__relationship tripal field gets confused if one term is a substring of another"
## BUG/ERROR report

### System information
* Tripal Version: 7.x-3.3 (more or less)
* Drupal Version: 7.78
* PostgreSQL Version: 12.5
* PHP Version: 7.3.26

### Issue description
The sbo__relationship tripal field uses a regex to insert links to entities. It gets very confused if one of the subject or object terms is a substring of the other, only part of the text becomes a link, and it is to the

[2021-01-31 02:33] laceysanderson commented on #1138
Hi @dsenalik,

I personally like the consistency of the bullets so I would be hesitant to change the current behavior. Anyway, thank you for the PR! I have merged it which solves the issue reported so I'm going to close this issue. However, if you feel strongly regarding the additional white space feel free to submit another PR :-)

Thank you! (Both for the bug report and the fix!)

[2021-01-31 02:33] #1138 closed, assigned to nobody

[2021-02-01 03:44] dsenalik commented on #1138
No, I am quite happy with the appearance, I was just wondering what others thought.
Thank you

[2021-02-01 17:33] #1159 closed, assigned to nobody

[2021-02-01 18:22] risharde opened #1162 "Using drush --include=. tripal-generic-install command tries to install tripal version 7.x-3.5 which does not seem to exist"
This repo [Tripal Rapid Installer for CENTOS 7](https://gitlab.com/TreeGenes/tripal_rapid_installer_for_centos_7/-/blob/master/tripal_rapid_installer_centos7.sh) is a small script and corresponding configuration files that will set up Tripal 3 on a clean CENTOS 7 distribution. This worked fine previously but does not work correctly anymore with the following issue which stems from the drush comman

[2021-02-01 18:26] spficklin commented on #1162
This is my fault. I updated it to pull the Tripal 3.5 release anticipating that the release would come just a few short hours after I did it.  The release did not.

[2021-02-01 18:43] risharde commented on #1162
Issue has been resolved with PR! Thanks @spficklin for your assistance!

[2021-02-01 18:43] #1162 closed, assigned to nobody

[2021-02-06 17:30] btski opened #1164 "Bulk Loader optional setting"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.3
* Drupal Version: 7.78
* PostgreSQL Version: 9.5.24
* PHP Version: 7.0.33

### Issue description

Attempting to get the Bulk Loader optional setting working. Currently, the optional setting only works for required values (not null?) that are absent. I'm not sure what criteria is used to define "required" values. I believe the i

[2021-02-08 18:46] btski opened #1165 "Bulk Loader null value error"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.3
* Drupal Version: 7.78
* PostgreSQL Version: 9.5.24
* PHP Version: 7.0.33

### Issue description

Null value would trigger a false error when the null value is called as a foreign key in another table. My proposed solution can be found [here](https://github.com/btski/tripal/commit/be4642efe82578c77c241c6d969213586ab6b43e#diff-3

[2021-02-11 20:34] dsenalik opened #1167 "sbo__relationship tripal field does not work for publications"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.3 (more or less)
* Drupal Version: 7.78
* PostgreSQL Version: 12.5
* PHP Version: 7.3.26

### Issue description
If two publications are linked by the ```pub_relationship``` table, such as a chapter linked to the containing book, the ```sbo__relationship``` tripal field will produce an error and not display the relationship.

I ha

[2021-02-11 23:43] lilicamd commented on #1088
Tripal Crop Docker
![Screenshot from 2021-02-11 16-41-34](https://user-images.githubusercontent.com/8963698/107713332-3ece6d80-6c88-11eb-9ef0-c50a1d0461a7.png)

[2021-02-12 00:14] lilicamd commented on #1088
Tripal Crop Docker
![Screenshot from 2021-02-11 17-13-16](https://user-images.githubusercontent.com/8963698/107715453-8e169d00-6c8c-11eb-8eb6-300b91a5641f.png)

[2021-02-25 18:54] Ferrisx4 commented on #100
Thanks @spficklin for the new functionality provided by https://github.com/tripal/tripal/pull/1169

It was suggested to be able to include additional transcript types such as lnc_RNA. Would it be possible to detect existing types on a site?

[2021-02-26 19:53] shmenolin opened #1171 "Cannot access options under 'tripal' menu"
I have incurred a problem in Tripal where I cannot access any options under the tripal menu as in the image below. I am not sure what is causing this situation, it was working fine a day before.
I would greatly appreciate any help. Thank you.

![image](https://user-images.githubusercontent.com/61807957/109348036-027f3d80-7842-11eb-9a4c-c3a8d1b438fb.png)

[2021-02-26 19:57] spficklin commented on #1171
That is bizarre.  Do you have that same message under any other admin menu item?  Also, just to check... have you fully cleared the Drupal cache?  Did you make any adjustments since it was working yesterday?

[2021-02-26 20:15] shmenolin commented on #1171
Other menu items work fine. The changes I did are deleted some "bulk loading" jobs I had performed and tried different drupal themes. And yes, I cleared all drupal cache.

[2021-03-02 03:07] spficklin commented on #1071
In the process of testing the TripalFile module I got the following error:

[code]

It seems somewhere in last few months when we updated this class we failed to add in a triple equals, `===`,  when comparing values in some places.  So, it was interpreting a 0 value as a NULL value when trying to do a comparison.  This is an easy fix and I'll do a PR.

[2021-03-03 06:02] spficklin commented on #1171
That's a bit bizarre.  Sorry for the delay in response. Have you figured it out yet?   If not, does the Tripal content on the site still work?  Have the Tripal modules moved from their location on the file system?

[2021-03-04 18:14] katherynbuble opened #1173 "Ajax error in Drupal forms for Tripal File module"
Tripal Version: 7.x-3.5+
Drupal Version: 7.77
PostgreSQL Version: 12.4
PHP Version: 7.3

### Issue description
Ajax error occurs when using Drupal form elements, after installing Tripal File module 7.x-1.x.

Example 1:
1. When installing the Tripal File module, https://github.com/tripal/tripal_file, to install the EDAM vocabulary, navigated to Administration > Tripal > Data Loaders > Chado Vocabul

[2021-03-05 04:40] katherynbuble commented on #1173
This issue should be transferred to the Tripal File module repository. After further investigation found Ajax error stops once tripal_file is disabled/uninstalled.

[2021-03-05 13:45] dsenalik commented on #1173
It appears to be this existing issue at tripal_file
https://github.com/tripal/tripal_file/issues/7

[2021-03-06 00:52] spficklin commented on #1173
@katherynbuble I believe this is fixed now thanks to the PR submitted by @dsenalik.  If you can pull the dev version of the Tripal File module and test it.  Since this is a tripal_file issue I'm going to close this out.  But if you still have issues please feel free to comment on this issue:  https://github.com/tripal/tripal_file/issues/7

[2021-03-06 00:52] #1173 closed, assigned to nobody

[2021-03-06 00:53] spficklin commented on #1171
Hi @shmenolin any updates on the problem?

[2021-03-06 00:58] shmenolin commented on #1171
Everything is in its place in the file system as before. I haven't figured it out yet so I am thinking of reinstalling Tripal.

[2021-03-06 01:46] spficklin commented on #1171
If you still have the problem on Monday feel free to join on Gathertown get-together and someone can help you look at it. in a breakout room in real-time.

[2021-03-06 01:52] spficklin commented on #1157
Just checking @shmenolin if @mpoelchau 's suggestion worked for you?

[2021-03-06 01:55] spficklin commented on #1156
Hi @shmenolin I just recently was able to load the EDAM vocabulary with the most recent development version of Tripal. There is a bug in the v3.5 version that we just discovered that prevents this and a fix was just merged in.  If you are able, can you use the development branch of Tripal and see if you can load EDAM?

[2021-03-06 01:58] spficklin commented on #1146
Hmmm.... that sounds like a bug that needs fixing.  In the meantime did you get these removed?  In Tripal v2 there was an interface to remove orphaned pages I just can't remember off the top of my head where it was and I no longer have a Tripal v2 site up and running to go look.  If you can find that it may clean these up for you.

[2021-03-06 01:59] spficklin commented on #1135
This has been fixed by the PR.

[2021-03-06 01:59] #1135 closed, assigned to nobody

[2021-03-06 02:00] spficklin commented on #1140
Sorry we failed to give a timely response on this @martacds .  Were you able to resolve it?

[2021-03-06 02:00] spficklin commented on #1151
This issue is fixed!

[2021-03-06 02:00] #1151 closed, assigned to spficklin

[2021-03-06 02:01] spficklin commented on #1081
I'm going to close this out since there's been no response since October. @MoradMokhtar please feel free to respond if you still need support and we can reopen this.

[2021-03-06 02:01] #1081 closed, assigned to nobody

[2021-03-06 02:04] spficklin commented on #1025
The Tripal File module has a beta release and is being tested. So, I'm going to close this out.

[2021-03-06 02:04] #1025 closed, assigned to nobody

[2021-03-08 12:25] martacsilva commented on #1140
Hi,
No problem! Since the job queue is running just fine, it definitely wasn't a top priority. Which means that I haven't devoted much time to trying to fix it and have no further insights into the problem.

Is there any direction you can suggest we head towards for troubleshooting?

Thank you!

[2021-03-08 18:21] spficklin commented on #1167
I believe this has been fixed with the pull request that was recently merged so I'm going to close this out.

[2021-03-08 18:21] #1167 closed, assigned to nobody

[2021-03-08 18:23] spficklin commented on #1150
Hi @shmenolin did you have any additional questions on this topic?

[2021-03-08 18:25] spficklin commented on #1140
@laceysanderson since I'm not as up-to-speed with the Tripal Deamon module can you take a stab at this issue?

[2021-03-08 18:35] shmenolin commented on #1150
No, thank you very much for your help.

[2021-03-08 19:09] spficklin commented on #1150
Okay, I'm going to close this out, but if you have further questions on this topic feel free to add another comment and we can reopen it.

[2021-03-08 19:09] #1150 closed, assigned to nobody

[2021-03-12 19:05] spficklin commented on #1171
I'm going to close this out, but if you continue to have the issue please comment again and we cant try to help further.

[2021-03-12 19:05] #1171 closed, assigned to nobody

[2021-03-12 19:16] spficklin commented on #1156
Hey @shmenolin sorry to be a nag on this issue.  If this is a problem we'd like to makes sure it gets fixed before we release Tripal v3.6.  Any chance you were able to check to see if the issue is resolved for you?  We aren't able to reproduce the problem so I wanted to see if you still have the issue.

[2021-03-12 19:17] spficklin commented on #1157
Hi @shmenolin .  Since there's not been conversation on this for awhile I'm going to close it out,  but please feel free to comment again and we can reopen it if you want to chat more on it.

[2021-03-12 19:17] #1157 closed, assigned to nobody

[2021-03-12 19:18] spficklin commented on #1122
This has been marked as a release blocker so that the Tripal File module can tag the 3.6 release as compatible.

[2021-03-12 19:21] spficklin commented on #1045
It's been awhile since we chatted on this. @guignonv . I'm curious if you have any thoughts more on this as months have passed?  Have you tried any more work on this?

[2021-03-12 19:22] spficklin commented on #1031
Quick question. Is this something we want for Tripal v3 or can we punt it to Tripal v4?

[2021-03-12 19:25] spficklin commented on #1030
This has sat in the issue queue for over a year.   I don't think it would be that hard to address. Perhaps we can work on this in one of our Monday codefest meetings after the perpetual file issue #1122 is dealt with.   @mpoelchau how critical is this for you? I'm wondering if we want to try to get this in the 3.6 release.

[2021-03-12 19:30] spficklin commented on #1002
Hey @jhumann with the Tripal v3.5 release there is a new field that is much smarter about providing sequences.  It will automatically provide the sequence from the reference even if it doesn't have an entry in the `feature.residues` column.  Can you take a look and see if that helps address the problem?  As an aside, the GFF3 loader has been completely rewritten and is lightning fast now :-)

You

[2021-03-12 19:32] spficklin commented on #992
It has been quite a while since anyone commented on this issue. I'm going to close it out, but please comment if it needs to be reopened.

[2021-03-12 19:32] #992 closed, assigned to nobody

[2021-03-12 19:34] spficklin commented on #987
It has been too long since we looked at this issue and it's not a hard one to deal with.   I'm going to mark this as something to work on in one of our weekly Monday morning codefest

[2021-03-12 19:38] spficklin commented on #778
I think this issue may not still be present. I've not heard any more complaints of this happening and we use the loader in all of our Tripal Importers so I'm going to close this out and we can reopen if the issue reappears.

[2021-03-12 19:38] #778 closed, assigned to nobody

[2021-03-12 19:39] spficklin commented on #750
I'm going to close this out as it's not critical and those docs are mostly for Tv2 and we're working on Tv4.

[2021-03-12 19:39] #750 closed, assigned to nobody

[2021-03-12 19:42] spficklin commented on #732
In Tripal v3.5 we have an updated transcript field which allows the site admin to customize what appears for each transcript on a gene page.  I think it addresses as best we can the primary issue with this thread.... although there is a lot here and I didn't carefully reread everything.  So, I'm going to close out this issue with the assumption that for Tripal v3 we've provided a solution and we c

[2021-03-12 19:42] #732 closed, assigned to bradfordcondon

[2021-03-12 19:44] spficklin commented on #100
Now that we have a solution in Tripal v3.5 I think we can close this out and if there are issues with that solution we can open a new issue. I'm going to add the Inc_RNA suggestions made by @Ferrisx4 as a separate new issue.

[2021-03-12 19:44] #100 closed, assigned to nobody

[2021-03-12 19:46] spficklin opened #1175 "Add Inc_RNA to the list of transcripts for a gene page"
## Feature Request/Discussion

### Description

As suggested by @Ferrisx4 on issue #100.  It is requested to allow `Inc_RNA` to be included as a transcript type that is supported by the transcript field. That way, these features can show up in the transcript field, and be customizable just like the `mRNA` and `transcript` types are.

[2021-03-12 19:47] spficklin commented on #1175
I'm going to add the 'release blocker' tag because I think this is super easy to add and can be included in the 3.6 release.

[2021-03-12 19:49] spficklin commented on #690
Given we are actively working on Tripal 4 and we have limited time, and improving performance of things like this that delve into the depths of Drupal (which this setup does) I'm suggesting we revisit this for Tv4 and see how performance looks there.

Also, we actively do testing of Tripal with continuous integration and all seems okay, so I'm wondering if this is still an issue?

[2021-03-12 19:52] laceysanderson commented on #1140
Hi @martacds

I checked the functionality on my server using the development version of tripal 3 and it works as expected.

The block is from the tripal_daemon module and the red "stopped" indicator is caused by [`ps h --pid $PID | wc -l`](https://github.com/tripal/tripal/blob/7.x-3.x/tripal_daemon/includes/tripal_daemon.blocks.inc#L77) in Tripal Daemon. However, the email is sent by Drush Daemon

[2021-03-12 19:53] laceysanderson commented on #690
This is still an issue.

[2021-03-12 20:01] laceysanderson commented on #1031
I think we move this to Tripal 4 development. What do you feel @mpoelchau?

[2021-03-15 16:18] martacsilva commented on #1140
Hi @laceysanderson , thank you for the help!

Result for `ps h --pid $PID`
`23750 ?        S      2:08 php /usr/local/bin/drush --root=/var/www/html/drupal/web --uri=http://default daemon start`
and it does indeed evaluate to 1

Email (it's an old one sorry, but nothing has been changed since this):

    Daemon Machine Name: tripal_daemon
    Website: CorkOakDB (URL)

    Dear ,
    We regret to i

[2021-03-16 17:34] dsenalik opened #1178 "Chado Bulk Loader miscounts number of lines in a file"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.5
* Drupal Version: 7.78
* PostgreSQL Version: 12.6 (Ubuntu 12.6-1.pgdg16.04+1)
* PHP Version: 7.3.27-9+ubuntu16.04.1+deb.sury.org+1

### Issue description
Chado Bulk Loader progress messages indicate one line too many for number of lines in data file.
This happens because after all bytes have been read, ```feof()``` still return

[2021-03-17 00:49] spficklin commented on #1178
I think this is fixed with the PR so closing. Thanks @dsenalik

[2021-03-17 00:49] #1178 closed, assigned to nobody

[2021-03-17 15:57] dsenalik opened #1180 "Chado Bulk Loader shouldn't count header line in line count"
## Feature Request/Discussion
### Description
I alluded to this in pull #1179
Since pull #1179 was merged, the chado bulk loader reports the number of non-blank lines in a file. One of those lines is optionally a header line.
It would be conceptually more clear if the loader reports the exact number of lines of data loaded. The code already skips counting that line when loading, but the way the co

[2021-03-19 06:36] shmenolin opened #1182 "Linking custom table to chado base tables"
I have a question about creating custom table in tripal. So this is the schema I came up with:
[code]
I want to link it to organism base table in tripal, so that when I create views for the organism, I can select the columns from the custom table as well. I have already added all the headers as local cvterms in my database.
What do I need to do further for that? Thank you.

[2021-03-19 19:04] mpoelchau commented on #1175
@spficklin it would be great if additional SO types beyond mRNA or lnc_RNA could be added. I could give you a list of what we currently have on our site, but it would probably change over time since the gene prediction pipelines that generate the data are also changing. Would it be possible to have the admin user choose which types to add as transcripts?

[2021-03-19 19:06] mpoelchau commented on #1031
@laceysanderson @spficklin sure, at this rate I think we can punt it to Tripal4 :).

[2021-03-22 11:01] guignonv commented on #1045
@spficklin not much thoughts yet. I'm -almost!- starting the new implementation of MGIS on Drupal 9 with more than a year late (at the moment) and I'll have to try those technologies and decide. I keep you tuned. ;-)

[2021-03-22 16:38] laceysanderson commented on #1182
In order to integrate with views, the Tripal Chado Views module implements hook_views_data for all chado tables, materialized views and custom tables. With your schema array above, you provided the information that Tripal Chado Views needs to make the connections you want so you should be good to go. **I'm assuming you have Tripal Chado Views installed.**

To add your custom table to an organism v

[2021-03-22 20:32] shmenolin commented on #1182
Thank you for your response. I have enabled it but the table is not listed when I try to add a relationship of 'chado organism ' views with this custom table. Is there any other step I am missing?

[2021-03-22 22:23] dsenalik opened #1183 "schema__publication tripal field bug if multiple publications"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.5
* Drupal Version: 7.78
* PostgreSQL Version: 12.6 (Ubuntu 12.6-1.pgdg16.04+1)
* PHP Version: 7.3.27-9+ubuntu16.04.1+deb.sury.org+1

### Issue description
This appeared on an analysis page, specifically a Genome Annotation page but this bug would show up anywhere the field was used. For an analysis with two linked publications,

[2021-03-23 14:36] laceysanderson commented on #1182
Hmmm... in that case you may have found a bug. I will test this myself and get back to you.

[2021-03-23 14:42] laceysanderson commented on #1140
Hmm... the return from `drush daemon status` shows that it wasn't due to `drush daemon start`. Furthermore, the `tripal_daemon` in the email message shows the email is related to the tripal daemon specifically. This is very bizarre considering your execution of ps gave the expected result.

I will look into this further sometime this week.

[2021-03-23 23:11] spficklin commented on #1164
I believe this is fixed as per the merged PR.

[2021-03-23 23:11] #1164 closed, assigned to nobody

[2021-03-24 21:43] shmenolin commented on #1156
Sorry for the late response. But yes it still exists.

[2021-03-24 21:45] shmenolin commented on #1171
An update to this problem. I disabled the "toolbar" module from Drupal and replace it with "Administrative menu" module. It brought the options back.

[2021-03-25 17:58] Ferrisx4 opened #1185 "OBO Loader: chado.tripal_obo_temp ID field length"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.0-rc2
* Drupal Version: 7.59
* PostgreSQL Version: 9.2.23
* PHP Version: 7.1.15

### Issue description
Loading a KEGG OBO file (converted using the [json_to_obo.php](https://github.com/tripal/tripal_analysis_kegg/tree/7.x-3.x/kegg_OBO_builder) converter), some entries are too long to fit into the `id` field - varchar(255). It is

[2021-03-26 16:12] shmenolin commented on #1182
To add into this thread, I see some custom tables and materialized views I created do not appear in chado integrated tables list and when I try to integrate from "chado views integration", I get the following warning and error:
[code]

[2021-03-27 22:55] mario-lopez-c opened #1186 "How to add Gene/Protein Families information"
Hello, I have a question...
I wonder if there is a way to add gene/protein families to the chado database (with Tripal 7.x-3.5), In order to display my genes as a member of a set of defined families.
Thank you!

[2021-03-29 16:33] spficklin commented on #1183
Hi @dsenalik .  This PR didn't seem to fix the problem for me.  I've pulled the fix and tested by creating an analysis with two pubs and then swapping the order of the pubs and saving. I get the error message as before. I'm going to look into this and see why it's not working.

Edit: whoops, I meant to post this on the PR #1184

[2021-03-29 16:55] spficklin commented on #1183
Okay, I got it to work when I cleared the record cache

[2021-03-29 16:57] spficklin commented on #1183
This issue should be fixed with the recent PR. Thanks for submitting @dsenalik !

[2021-03-29 16:57] #1183 closed, assigned to nobody

[2021-03-29 16:59] spficklin commented on #1186
Hi @mario-lopez-c just a few more questions about your request.  Do you want to have gene family pages with all of the genes in that family listed or are you looking to have the gene family name listed on the gene, or both?

[2021-03-29 17:01] spficklin opened #1187 "Some recent fixes won't work for cached records."
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.5
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version: N/A

### Issue description

Recently a fix was provided by @dsenalik for publications. If you reordered publications on an analysis page (for example) and saved then you would get an error.  He provided a PR that fixed it, but if the analysis page is cached then the

[2021-03-29 17:03] spficklin commented on #1185
@Ferrisx4 and I spoke about this issue this morning and the solution is to fix the  `json_to_obo.php` script so that it doesn't create such long IDs.  So, I'm going to close this out. But please reopen @Ferrisx4 if you think more needs to be discussed.

[2021-03-29 17:03] #1185 closed, assigned to nobody

[2021-03-29 17:21] laceysanderson commented on #1187
👍 Yes, 100% Agree. We've (KnowPulse) seen glitchy behaviour on the edit page before due to caching (specifically related to relationships that were added by the other record).

[2021-03-29 17:28] spficklin commented on #1180
This issue has been resolved with the recent PR. Thanks again @dsenalik

[2021-03-29 17:28] #1180 closed, assigned to nobody

[2021-03-30 12:11] mario-lopez-c commented on #1186
Hi @spficklin! I would like to know how both options works, but I am more interested in the first option...
Thank you so much!

[2021-03-30 15:46] spficklin commented on #1186
Okay, one more question.  What kind of data do you have to represent gene families?  Is it just gene family names or do you have additional data to go with it?  That's not something I've stored before so more details about it can help me tell you how best to get it organized. Also others here who are lurking and stored this type of data may chime in too :-)

[2021-03-31 15:13] mario-lopez-c commented on #1186
Sure, I want to present it as a list of gene families (https://grassius.org/browsefamily.php?sp=Maize&typ=transcription_factor), and genes that belong to the same family, just like this (https://grassius.org/family.php?family=ABI3-VP1&species=Maize&type=transcription_factor). Each gene will have at least five information elements: 1) GeneID, Name, CloneID, Targets, Link_to_external_DB. Some of the

[2021-03-31 16:40] spficklin commented on #1186
Again, I've not actually worked with gene families in Chado or Tripal.  Chado is flexible and it's important to try to store the data in a common way as others so that it's easier to share modules/components.   I've requested on our Slack workspace asking that others chime in.  At first glance, I don't see a good way to do this in Chado.  There is a `group` module for Chado  (http://gmod.org/wiki/

[2021-03-31 17:18] mario-lopez-c commented on #1186
Sure, thanks, I can wait...

[2021-04-01 20:59] srobb1 commented on #1186
Hello. I have implemented gene group usage on a Tripal 2 site.  You can see a gene page [here with a gene group tab]( https://cuttingclass.stowers.org/en/feature/Girardia/sp/mRNA/Gsp_009731). I used the Chado group module. Each member of the gene group has a gene page of its own. I can go into the details if anyone is interested.

[2021-04-01 21:15] mario-lopez-c commented on #1186
Great, sure, I am interesting in knowing how you did it, I exactly need to group some genes by their type of family in common, I would like to know how you loaded the data to relate the gene to the family and then how you publish them in a table and that each gene has its own page...Thank you!

[2021-04-01 21:26] srobb1 commented on #1186
My genes are genes from a variety of planarian (flatworm) species. We grouped the translations with orthomcl. Here is an example of the contents of one group. The first three letters indicate a different species. This group we believe to be innexin.

GG549   SMU15000918
GG549   SMU15003648
GG549   SMU15003649
GG549   Ddo_019521
GG549   Ddo_023720
GG549   Gsp_005528
GG549   Gsp_009731
GG549   Pgr_0

[2021-04-01 22:21] mario-lopez-c commented on #1186
Great, thank you so much! I will do it that way

[2021-04-01 22:56] spficklin commented on #1186
Thanks @srobb1 .  That's helpful.  After discussion on the Slack space it seems the the group module tables are the only way to do this.  @mario-lopez-c, getting these tables to be visible to Tripal and then create pages from them will be another hurdle but when you get to that stage let us know and we can try to help.

[2021-04-01 23:03] mario-lopez-c commented on #1186
Ok, great! I will let you know, Thanks @srobb1 @spficklin

[2021-04-02 20:01] shmenolin opened #1188 "organism not linked to analysis"
I have linked every analysis to respective organism using analysis_organism table in the chado schema. However, in the analysis web page, I cannot see the organism to be linked to the analysis and I need to do it manually by editing each analysis page. I am using tripal_manage_analysis package. Is there any way to automate the link?

[2021-04-02 20:24] dsenalik commented on #1188
Interesting, I have started to use this module and have organism links, and was very surprised to see my ```analysis_organism``` table is empty!
For me, it turns out that this table is in the ```public``` schema not ```chado```.

There is also a ```chado.organism_analysis table``` where all my links are.

[2021-04-02 22:21] shmenolin commented on #1188
Yes I just realized it creates a new table organism_analysis. I could also find mine under the chado schema. Thank you for pointing it out.

[2021-04-02 23:07] dsenalik commented on #1188
I'm glad this helped. But I still wonder about the history of ```public.analysis_organism``` There is a function in ```tripal_manage_analyses/tripal_manage_analyses.install```:

[code]

[2021-04-03 00:57] spficklin commented on #1188
@all-contributors please add @dsenalik  for question

[2021-04-03 01:01] spficklin commented on #1188
HI @shmenolin . Just curious, did you run these two steps:
- https://github.com/statonlab/tripal_manage_analyses#adding-the-fields
- https://github.com/statonlab/tripal_manage_analyses#enabling-the-fields

[2021-04-05 19:07] mario-lopez-c opened #1190 "Display a list of mRNA sequences associated with a organism"
Hello! I am using Tripal V3 and I have uploaded a sequence list through a FASTA file, these sequences are associated with a maize organism. I already published the mRNAs in the _Publish Tripal Content_ option, but I would like to know how I can publish a list or table of the mRNA id and when clicking it, the sequence can be displayed...

[2021-04-05 21:42] shmenolin commented on #1188
Yes I did. It read the data after I loaded it to the chado.organism_analysis table. It was the existing chado.analysis_organism table it did not read from.

[2021-04-07 23:25] mario-lopez-c commented on #1186
Hello @srobb1, I wonder if this is the module you mean: [https://github.com/astralarya/Chado-group-module]? And my question is how can I install that module into Chado? An the other question is: I just want to show a list of mRNA that are related to an organism, how can I show that list? I already have the data into feature table and I wonder how publish or create that gene group tab that shows a

[2021-04-08 00:50] spficklin commented on #1186
@mario-lopez-c . Yes that's the module she was referring to.  But I would recommend against installing it as is.  It's overly broad and from my understanding had performance issues when it was fully implemented. So it has never been baked into Chado fully.  Chado is a community developed database schema and it would take someone to volunteer to spearhead the discussion to get the module fixed up a

[2021-04-08 13:12] mario-lopez-c commented on #1186
Ok great, I'll do that! Thank you for your recommendation @spficklin

[2021-04-14 10:37] georgelouk opened #1191 "Call to undefined function chado_get_schema_name()"
## BUG/ERROR report

Hello,

I've manually installed the latest drupal 7 version and all required modules and when i enable tripal chado views i get an error.

It seems that chado_get_schema_name is not included in tripal_chado_views.views.inc

### System information

* Tripal Version: 7.x.3.5
* Drupal Version: 7.79
* PostgreSQL Version: 9.2.24
* PHP Version: 7.2

### Issue description

#### Steps

[2021-04-14 13:23] CarrotOmics commented on #1191
I don't know how much this helps, but on my site I find the function defined at line 2073 of
```sites/all/modules/tripal/tripal_chado/api/tripal_chado.query.api.inc```

My mistake yesterday was forgetting to clear all caches, have you tried that?

[2021-04-14 14:06] georgelouk commented on #1191
Yes i found it there too. I copied the function inside the tripal_chado_views.views.inc and then it proceed, and another function was missing too (from another file).
I copied also the other function inside, and then i didn't get the errors but i couldn't actually install chado (after installation process, it was saying again install chado instead of prepare)

[2021-04-14 15:56] spficklin commented on #1191
@georgelouk .  We've never had this reported before, and honestly, I'm not sure where to begin to help debugging.  Let me run a test installation myself to make sure this doesn't happen to me and somehow there's not a bug in the install process.

[2021-04-14 16:17] georgelouk commented on #1191
I've made many installations in both local and real webserver environment (having cpanel) and all the times i've got this error.
Drupal and modules all installed from the official drupal site.

[2021-04-14 16:53] spficklin commented on #1191
@georgelouk are you saying you get this error from Tripal each time you've installed it? or you get errors like this with anything Drupal related?

[2021-04-14 16:58] georgelouk commented on #1191
This error appear anytime i enable "Tripal Chado Views" checkbox from modules section in Drupal. From that moment the error is appearing at any page i'm trying to access.

You can see it at : tripal.nut.gr

[2021-04-14 17:48] spficklin commented on #1191
Okay, so I can recreate the error if I enable the `tripal_chado_views` module before enabling the `tripal_chado` module.  it seems we failed to list the `tripal_chado` module as a dependency of the `tripal_chado_views` module.

Did you enable the `tripal_chado` module?

[2021-04-14 18:00] georgelouk commented on #1191
I think no because tripal_chado has as a prerequisite module the tripal_chado_views.
I will recreate the installation to check it out, but i'm 99% sure that it is required first to enable the tripal_chado_views

[2021-04-14 18:14] spficklin commented on #1191
Oh! I see that now. Yes, you're correct.  The `tripal_chado` module is listing the `tripal_chado_views` module as a dependnecy! I don't think that's correct. I'm amazed this hasn't been noticed until now.  But I suspect it's because most folks follow the command-line instructions for installation. If you follow these instructions step-by-step the problem doesn't occur:  https://tripal.readthedocs.

[2021-04-14 19:01] georgelouk commented on #1191
Thanks for checking that out, i will wait for an update.
Unfortunately for various reasons i can't right now use the command line guide, so i 've tried with the durpal/gui instructions.

[2021-04-14 19:05] spficklin commented on #1191
I understand.  I'm just waiting to hear from @laceysanderson to make sure I'm not missing something and then I think we can turn around a quick fix. It will mean, though, that you'll need to use the development version until we get the 3.6 release out (which should be in the next few weeks).

I don't think we've ever had a user that couldn't use the command-line. I suppose you may have other issue

[2021-04-14 22:00] spficklin commented on #1191
@georgelouk .  So it seems we have built in an inter-dependency between those two modules that's not easily fixed.  However, you can get around this problem if you enable the `tripal_chado` module without first enabling the `tripal_chado_views` module.  It's backwards but it works.   I just tested it and did not get the error this time.  After chatting with @laceysanderson I don't think we can cha

[2021-04-15 07:28] georgelouk commented on #1191
@spficklin Sounds fare, but how can i achieve that? Will i enable tripal_chado directly from the database before i enable tripal_chado_views?

[2021-04-15 16:18] spficklin commented on #1191
You should be able to enable Tripal Chado using the Drupal interface. In the screenshot below I am able to enable Tripal Chado even though it does indicates that Tripal Chado Views is a dependency.

![image](https://user-images.githubusercontent.com/1719352/114903328-8cbc3a80-9dcb-11eb-8792-5fedde1e7627.png)

[2021-04-15 16:29] mario-lopez-c commented on #914
Hi! I wonder if you can help me with an issue...
I have uploaded sequences for an organism, like show the next pic:
![image](https://user-images.githubusercontent.com/45463665/114902967-5343f900-9de4-11eb-9e7e-d37d20108586.png)
So, I want to click on each feature to redirect me to its page. But I don't know how to do it, if I click, I get this page:
![image](https://user-images.githubusercontent.c

[2021-04-15 17:05] mario-lopez-c opened #1192 "Access to each feature through the results table"
Hi! I wonder if you can help me with an issue...
I have uploaded sequences for an organism, like show the next pic:
![image](https://user-images.githubusercontent.com/45463665/114909174-da946b00-9dea-11eb-92f2-eb2bd58b4174.png)
So, I want to click on each feature to redirect me to its page. But I don't know how to do it, if I click, I get this page:
![image](https://user-images.githubusercontent.c

[2021-04-15 17:22] spficklin commented on #914
HI @mario-lopez-c I'm not familiar with this "Feature User Search" view. Is this a custom view you've made?

[2021-04-15 17:24] spficklin commented on #914
Oh, nevermind... I am familiar with it. That's a Legacy view.  Do you need to have the legacy feature module enabled?

[2021-04-15 17:48] mario-lopez-c commented on #914
Hi @spficklin! Yes, I guess that is that, How can I enable it?
The legacy view that I chose, is one of these:
![image](https://user-images.githubusercontent.com/45463665/114915160-3a8e1000-9df1-11eb-8f95-e6b03376c220.png)

[2021-04-15 21:00] CarrotOmics opened #1193 "Possible bug in tripal/tripal_chado/includes/tripal_chado.schema.inc"
## BUG/ERROR report
Is this an error? File
```tripal/tripal_chado/includes/tripal_chado.schema.inc```
line 878, I have indicated what looks like a typo in bold. Okay, can't do bold
it's the line that says ```nd_reagent``` in a function for ```nd_geolocation``` table

This has not caused any errors that I have noticed.

[code]

[2021-04-15 23:35] CarrotOmics commented on #1193
Oops. For some reason I was thinking version 1_11 is newer than 1_3
I'm closing this because this is an old version.

[2021-04-15 23:35] #1193 closed, assigned to nobody

[2021-04-19 14:47] Ferrisx4 commented on #1192
Hi @mario-lopez-c, what is the URL in your browser when you encounter the 'Access denied' page? Also, have you made sure in the Permissions section of the site (`http://site.url/admin/people/permissions`) that users are able to view whatever feature type you are linking to?

[2021-04-19 15:45] mario-lopez-c commented on #1192
Hi @Ferrisx4, this is the URL in my browser when I encounter the 'Access denied' page: http://52.4.24.39/bio_data/[id]
And yes, I have all the admin permissions, in fact, I am logging in as administrator, and I have all the administrator permissions, and even so, I get access denied. Thank you for your help!

[2021-04-19 16:14] spficklin commented on #1192
@mario-lopez-c This looks like an old view from the tripal_feature legacy module.   The legacy modules are meant to help  folks transition from Tripal v2 to Tripal v3 but are not required for Tripal v3.     What state is your site in? Are you transitioning over from a Tripal v2 site or setting up a new Tripal v3 site?

[2021-04-19 16:24] mario-lopez-c commented on #1192
Hi @spficklin, I am setting up a new Tripal v3 site, so is not a transition over form a Tripal v2 site. So do you know how can a publish mRNA content in a table format for a specific organism?

[2021-04-19 16:41] spficklin commented on #1192
First you'll want to disable/uninstall  the legacy modules as you don't need them.

Next, you can use the built-in search tools that Tripal provides.  Tripal will automatically create a Drupal View for searching any content type.   You can read about it here:  https://tripal.readthedocs.io/en/latest/user_guide/searching/default_pages.html.

This search tool is a Drupal View that Tripal creates. If

[2021-04-19 17:36] Ferrisx4 opened #1194 "Can't add genome annotation"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x  (3.5)
* Drupal Version: 7.78
* PostgreSQL Version: 12.6
* PHP Version: 7.4.16

### Issue description

When adding a Genome Annotation, an error is encountered which blocks Tripal from saving the new Genome Annotation to the database.
The database logs indicate that no inserts were attempted, indicating that the problem occurs

[2021-04-19 18:14] spficklin opened #1195 "PHP 7.0 incompatibility"
## BUG/ERROR report

### System information

* Tripal Version: 3.5
* Drupal Version:  7.x
* PostgreSQL Version: N/A
* PHP Version: 7.0

### Issue description

The following message appears in web services when using PHP 7.0

![image](https://user-images.githubusercontent.com/1719352/115283348-176ca480-a100-11eb-9d4f-67657112abd9.png)

This message appears on the Tripal demo site and is the result

[2021-04-19 18:16] spficklin commented on #1191
Hi @georgelouk . I'm following up with this. Did you get around the problem?

[2021-04-19 18:17] spficklin commented on #1190
Hi @mario-lopez-c . I think we have a discussion related to this on issue #1192. So, I'm going to close this one out,  but let me know if I'm wrong and we can re-open.

[2021-04-19 18:17] #1190 closed, assigned to nobody

[2021-04-19 18:19] spficklin commented on #1188
@shmenolin I'm following up to see how things are coming along. Were you able to get the help you needed?

[2021-04-19 18:27] spficklin commented on #1194
Hey @Ferrisx4 . I just tried adding a Genome Annotation content type and it inserted just fine.  Do you have any other error messages in the Drupal recent logs, web server or PostgreSQL logs?

[2021-04-19 18:32] #1122 closed, assigned to nobody

[2021-04-19 18:56] mario-lopez-c commented on #1190
Sure! Thanks

[2021-04-19 18:58] Ferrisx4 commented on #1194
There was nothing in the Postgres logs near the timestamp for this and the webserver logs were not informative. I've been able to add Genome Annotations on other sites as well, it's specific to this install. We were hoping for some institutional knowledge about a fix someone remembers having to apply years ago.

[2021-04-19 19:24] mario-lopez-c commented on #1192
Thank you @spficklin, this helps me a lot! I will write to you again if I have any questions! Thanks

[2021-04-19 19:24] #1192 closed, assigned to nobody

[2021-04-21 10:54] georgelouk commented on #1191
Hi @spficklin,

Yes, after i enabled tripal_chado first then those errors disappeared.
Now i've stuck to the next steps but regarding this bug, it worked the way you suggested.

[2021-04-21 15:18] spficklin commented on #1191
Okay, great. I'm closing this out then.  Thanks.

[2021-04-21 15:18] #1191 closed, assigned to nobody

[2021-04-23 16:05] spficklin commented on #1165
Closing out as I think this is fixed!

[2021-04-23 20:33] dsenalik opened #1196 "Publish generating notices like "Notice: Undefined index: #field_name in theme_tripal_field_default()""
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.5
* Drupal Version: 7.78
* PostgreSQL Version: 12.6 (Ubuntu 12.6-1.pgdg16.04+1)
* PHP Version: 7.3.27-9+ubuntu16.04.1+deb.sury.org+1

### Issue description
Warnings showing up in the php log such as:
[code]

#### Steps to reproduce
Go the publish page at admin/content/bio_data/publish and select just about any content type so tha

[2021-04-24 05:11] #1195 closed, assigned to nobody

[2021-04-24 05:19] spficklin commented on #1175
@mpoelchau and @Ferrisx4 .  Would it be reasonable to include anything that is a descendant of the SO term `transcript`?  There's a lot more than just lnc_RNA in that list and it seems that we could just be adding more and more.  So perhaps the solution is to consider anything under the term `transcript`.  What do you think?

[2021-04-26 17:31] spficklin opened #1334 "Design fix for the Tripal Job / Logger conflicts"
Suggested Fix
1.  Create a Tripal job Plugin
     - TripalJob abstract class
        - private logger object
        - protected functions to use the logger object.
        - Note: need to change the TripalLogger::log2job accept a job id and remove the job as a member variable.
     - TripalJobManager class:    Drupal 8 plugin manager creates an instance of the TripalJob.   This allows site-specif

[2021-04-26 18:41] mpoelchau commented on #1175
Sure, if it's not too much manual work on your part to add all of these. A lot of the child terms are not very likely to occur in gene prediction sets, if at all (but who knows in the future). But if there's a way to automate this, then sure!

Please also include the parent term `transcript` as well.

Thank you!

[2021-04-29 16:02] dsenalik opened #1199 "obi__organism field cannot display name for infraspecific type_id"
## BUG/ERROR report

### System information
* Tripal Version: 7.x-3.6
* Drupal Version: 7.78
* PostgreSQL Version: 12.6 (Ubuntu 12.6-1.pgdg16.04+1)
* PHP Version: 7.3.27-9+ubuntu16.04.1+deb.sury.org+1

### Issue description
The ```obi__organism``` field has a "Rewrite Value" setting on the edit page to allow customization
of the way the organism name is presented. With chado 1.3 infraspecific nome

[2021-04-29 20:24] laceysanderson commented on #1194
This error generally means the record invalidated Chado constraints but Tripal didn't catch it. For example, if you try to create a new page whose values invalidate a unique key. You may want to check your chado database to see if you may have a duplicate or if some of your fields are not specific enough.

For example, for chado analysis your unique key is program, programversion, sourcename. Ther

[2021-04-29 22:10] dsenalik commented on #1194
For what it's worth, I just saw Lacey's comment, and just want to say that's happened to me too, it's not immediately obvious what's wrong, but that's what it is.

[2021-04-30 03:26] mpoelchau commented on #1194
@laceysanderson - thank you, that was exactly it. I had added another 'test' analysis (genome assembly) with the same program, programversion, sourcename. Deleting it made the error go the way. I feel like an idiot now, but thank you for solving our problem!

@dsenalik - thanks for commiserating!

[2021-04-30 14:59] #1194 closed, assigned to nobody

[2021-05-03 17:03] laceysanderson commented on #1194
*Hugs* Glad it helped! I'm making it a personal goal to catch these sort of errors in Drupal 8/9 so you get a MUCH more informative error message ;-)

[2021-05-03 19:05] btski commented on #1165
@spficklin problem has not been fixed.

To reiterate the problem:
Empty value that is part of non-required field is correctly omitted. However, associated fields that reference the omitted field as an optional foreign key attempt to match value (NULL) to an existing key. This produces multiple matches, resulting in an error. I don't think `chado_schema_get_foreign_key()` should be run if provided

[2021-05-10 14:36] dsenalik opened #1202 "sio__references using wrong cvterm as label when linking to a tripal map"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.5
* Drupal Version: 7.78
* PostgreSQL Version: 12.6 (Ubuntu 12.6-1.pgdg16.04+1)
* PHP Version: 7.3.27-9+ubuntu16.04.1+deb.sury.org+1

### Issue description
This issue occurs when the tripal field ```sio__references``` displays a link to a linkage map (Tripal Map).
The label (```rdfs:type```) is the unit type used for the linkage

[2021-05-11 18:08] dsenalik commented on #1202
I have a pull request #1204 which bypasses the Bp vs. CM problem by calling these **Map(s)**

[2021-05-14 16:36] spficklin opened #1335 "Attribution for Extension Modules"
Add an API for extension modules to make it easy to add attribution (e.g. who created the module, link to documentation or pub) and consistent between modules.

Additionally, we could create a "how to cite this site" with links to all extension modules.

Perhaps require a Zenodo DOI for gold badge to make sure this happens.

[2021-05-15 14:04] dsenalik opened #1205 "Bulk loader editing bug when deleting first record"
## BUG/ERROR report

### Issue description
It is not possible to delete the first record when editing a bulk loader template, if attempted the following error appears
![CBL-delete-first-item](https://user-images.githubusercontent.com/8419404/118364038-75a07200-b55c-11eb-8dbf-3782b142e961.png)

#### Steps to reproduce
Select Delete on the first record, e.g.
![CBL-edit-template-box](https://user-ima

[2021-05-17 16:21] spficklin commented on #1196
Fix applied!  Thanks @dsenalik

[2021-05-17 16:21] #1196 closed, assigned to nobody

[2021-05-17 19:58] spficklin opened #1207 "User's Guide Update"
I'm currently working on reorganizing the User's Guide to make it easier to find things. Right now it reads like a tutorial and that's not helpful when folks just need to look up how to do something.

Please add your comments here if you would like to see specific improvements to the user's guide.

[2021-05-21 15:31] laceysanderson commented on #1205
To my understanding, this issue was solved by the merged PR. If not please comment and I will re-open :-)

[2021-05-21 15:31] #1205 closed, assigned to nobody

[2021-05-26 22:37] #1199 closed, assigned to nobody

[2021-05-27 15:47] mario-lopez-c commented on #1182
Hi! Did you find a way to relate this? It is because I am trying to do the same, but I am trying to relate the mRNA content type with its family, I have uploaded the family information to a custom table, but I don't know how to show this relation... maybe could you help me? (So, basically I wanna link a gene id and the type of family to which it belongs)

[2021-05-27 16:33] mario-lopez-c commented on #1186
Hello! I already create my custom table to store the family name per each gene Id, and I have put a column that contains the foreign key that relates that family with the gene id. But I don't know how to show this, I mean I can see the gene Id through the mRNA Content-Type, but I haven't found the way to show the relation of each gene ID with the family that I have stored in my Custom Table, could

[2021-05-28 19:17] Ferrisx4 opened #1208 "Accessibility: vertical table header - row scope"
## Feature Request/Discussion

* This feature does attempt to solve an existing problem with Tripal
* I am open to developing or collaborating on an extension module if this is not a good fit for Tripal Core

### Description

Various tables generated by Tripal, for instance the "Summary" section on an Organism page, utilize a vertical header. For the sake of accessibility, (screen readers, etc.),

[2021-05-28 22:01] shmenolin commented on #1182
I could not link the custom table so I added all the properties to organismprop table using type_id => value properties and could link each organism to the required property. A way around for you I guess would be to store the family information in featureprop table then you would be able to link it to mRNA or gene_id.

[2021-05-31 03:37] risharde opened #1209 "OBO Importer generates errors when attempting to load Sequence Ontology"
* Tripal Version: 3.6
* Drupal Version: 7
* PostgreSQL Version: 9.6
* PHP Version: 7.1.27

ISSUE:
OBO Loader fails to import Sequence Ontology and outputs error (attached below)

STEPS TO REPRODUCE:
Create a tripal 3 docker container (https://github.com/statonlab/docker-containers) which has Tripal V3.1
Edit /var/lib/pgsql/9.6/data/postgres.conf change max_locks_per_transaction to 128
Go to sites/

[2021-05-31 04:02] risharde commented on #1209
I can also confirm that Tripal V3.4 does not suffer from this issue. I will be testing V3.5 to see whether it also suffers from the issue.

[2021-05-31 04:42] risharde commented on #1209
Tripal V3.5 error when performing OBO Loader (Sequence Ontology)

[code]

[2021-06-01 16:11] mario-lopez-c commented on #1182
@shmenolin great! Thank you so much for the information!

[2021-06-01 16:30] spficklin commented on #1209
I just ran the OBO loader on my local machine with Tripal v3.6 (dev branch) and it loaded just fine.  It only took 21 seconds (see report below). So something is different between your site and mine.

Is your site pulling the sequence ontology from this URL:  http://purl.obolibrary.org/obo/so.obo

[code]

[2021-06-01 16:33] spficklin commented on #1202
Fixed with PR.  Thanks @dsenalik

[2021-06-01 16:33] #1202 closed, assigned to nobody

[2021-06-01 19:09] risharde commented on #1209
@spficklin thanks for checking on this! To confirm, yes: http://purl.obolibrary.org/obo/so.obo (the default) was tested.

[2021-06-02 02:00] mario-lopez-c commented on #1182
Hello @shmenolin! I have uploaded the data to the featureprop table relating it with the feature_id of the feature table, which is the one that shows the mRNA content type. But the relationship does not appear, do you know or what did you do to show the relationship on the webpage? How did you publish it? Thank you so much!

[2021-06-02 06:43] guignonv commented on #1208
I agree with you: accessibility, even if it requires more work, should be taken into account.

[2021-06-03 08:38] felipead6 opened #1210 "Is it possible to draw PCA plot and/or bar charts in Tripal?"
## Feature Request/Discussion

* This feature [does / does not] attempt to solve an existing problem with Tripal
* I [am/am not] open to developing or collaborating on an extension module if this is not a good fit for Tripal Core

* This feature is [URGENT/Not Urgent]

### Description

### Your Specific Use Case

### Generally Applicable

### Additional information/screenshots

[2021-06-10 15:18] shmenolin commented on #1182
Under manage fields in the mRNA content type, if you click on 'check new fields', you should see the new properties added as fields. Then you can change how to display them under manage display option, most of times they are hidden by default which should be changed

[2021-06-12 02:58] spficklin commented on #1210
Hi @felipead6.  I'm not aware of any Tripal extension module that automatically creates PCA plots for data.  However, it is possible to create such a plot with PHP/Javascript coding. What sort of data are you interested in creating a PCA plot for?

[2021-06-12 02:59] spficklin opened #1211 "Image field is missing in views for organisms"
## BUG/ERROR report

### System information

* Tripal Version: 3.6
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version: 7.4

### Issue description

The Organism Image field is not showing up in Views, so it's not possible to create an organism summary view with the images.

[2021-06-14 01:35] shmenolin commented on #1140
Is this problem solved? My job daemon status always shows "Stopped" even when the jobs are running without any other details of the job.
Also, how can I set up to receive job notifications as emails?

[2021-06-14 13:01] mario-lopez-c commented on #1182
Thank you! Yes, that works! Thank you so much!

[2021-06-14 16:09] spficklin commented on #1208
I labeled this a release blocker as it's a requirement for i5k before then can upgrade.

[2021-06-14 16:42] spficklin commented on #1165
Hey @btski .  Thanks for the test files.  I ran those through and I did not encounter the error.   But this code fix simple and it makes sense.   The template you shared is quite complex and if this fix is working for you I'm inclined to believe it's not going to cause problems elsewhere.  So, I'm merging. Thanks for submitting the fix.

[2021-06-14 16:43] #1165 closed, assigned to nobody

[2021-06-14 16:43] spficklin commented on #1165
Whoops that last comment was meant to be on the PR not the issue. But I merged the PR and closed the issue.

[2021-06-14 17:10] spficklin opened #1213 "Unable to change Field formatter settings due to AJAX error"
## BUG/ERROR report

### System information

* Tripal Version: 3.6
* Drupal Version:  7.x
* PostgreSQL Version: N/A
* PHP Version: 7.4

### Issue description

When managing a Tripal content type display each Tripal Pane and Table has a little cog for changing the settings.  For example, below is a screen shot for the Organism content type, Publicaation Pane.  Note the cog on the far right for chan

[2021-06-14 17:21] spficklin commented on #1213
Here's the error message in in the Reports log for when this error occurs:

[code]

On that line of code in Drupal it's trying to get the weights of the children elements that appear in the form.  It seems the weights for these elements are arrays instead of a single value which causes the Ajax error. I can get around it by adding an if statement to the Drupal code right before the line indicated

[2021-06-24 16:51] mario-lopez-c commented on #1182
Hello @shmenolin! Do you know to show synonyms in the mRNA Content-Type? I mean, I have loaded into the synonym table some data and related it to the feature table in feature_synonym table, but I don't know how to publish those synonyms within the mRNA content type, I have only been able to publish the information that is within the featureprop table.
Thank you!

[2021-06-24 16:55] mario-lopez-c opened #1214 "Show Synonyms in mRNA Content Type"
Hello! Do you know to show synonyms in the mRNA Content-Type? I mean, I have loaded into the synonym table some data and related it to the feature table through feature_synonym table, but I don't know how to publish those synonyms within the mRNA content type, I have only been able to publish the information that is within the featureprop table.
Thank you!

[2021-07-02 00:42] chunhuaicheng opened #1215 "New GFF3 loader issues"
System information

    Tripal Version: 3.6
    Drupal Version: 7.x
    PostgreSQL Version: 12
    PHP Version: 7.3

The new GFF3 loader loads data much faster which is great. However, our user reports two issues:

1. It does not honor the 'Name' attribute assignment in the GFF3  9th column. After loading the data, both feature.name and feature.uniquename are filled with the same value as the 'ID'

[2021-07-02 18:17] dsenalik opened #1216 "Unable to edit certain cvterms with alternative dbxref accession naming scheme"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.5
* Drupal Version: 7.78
* PostgreSQL Version: 13.3 (Ubuntu 13.3-1.pgdg16.04+1)
* PHP Version: 7.3.28

### Issue description
I have some cv terms that I can't edit. Whe I try, I get the error
```Could not add term. Check Drupal recent logs for error messages.```
and there is nothing in the log.

I have tracked down why, and it is

[2021-07-02 18:28] dsenalik commented on #1216
This may not be the answer, I need to do more testing, I can't edit the TO:0000277 example either.
And a few dbxref accessions are URLs, those will also fail with the current code
[code]
*Edit: But these are not linked to cv terms, so aren't relevant here

[2021-07-09 15:48] dsenalik commented on #1216
While this issue exists, I am closing because an accession should not normally have a colon in it, so it is better to fix non-compliant accessions. If I find what caused it I will post an issue there.

[2021-07-09 15:48] #1216 closed, assigned to nobody

[2021-07-12 15:34] dsenalik commented on #1216
I found at least one source of these problematic accessions in the dbxref table, mainlab chado loader.
See Issue https://gitlab.com/mainlabwsu/mcl/-/issues/13 for details.

[2021-07-13 15:14] guignonv opened #1336 "Propose an online alternative to drush for job execution"
### Problem/Motivation
Currently, when a long process needs to be run, T4 displays a message telling the user to launch the job using drush on a shell (just like previous versions of Tripal).

There are use cases when all should be run from the web. For instance, I have germplasm collection curators that need to upload new data. Their data is updated on a clone of the "live" Chado schema. The clon

[2021-07-13 15:16] guignonv commented on #1336
Several additional notes:

- $cmd must be checked for security reasons
- command line PHP should be configured to run with no limit (which is its default behavior)

And a link for an example of a regular implementation (Drupal examples module):
https://git.drupalcode.org/project/examples/-/tree/3.x/modules/batch_example

[2021-07-14 21:52] AlexsLaboratory opened #1218 "rapid_install failing to run becuase of the table db2cv_mview not existing"
### **System Info**

- OS: Ubuntu 21.04
- Tripal Version: 3.6
- Drupal 7.81
- PostgreSQL Version: 13
- PHP Version: 7.3

### **Steps to Reproduce**

1.  Install Drupal by downloading the [`drupal-7.81.tar.gz`](https://ftp.drupal.org/files/projects/drupal-7.81.tar.gz) file and moving it into the apache2 web root directory (`/var/www/html`)
2. Install `Drush` by following this [documentation](https:

[2021-07-14 21:57] risharde commented on #1218
Thanks @Lowe-Man !
Tagging @spficklin who usually works on this as well

[2021-07-15 07:01] Bobo22331 opened #1219 "Publish mRNA content error"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.6
* Drupal Version: 7.69
* PostgreSQL Version: 10
* PHP Version: 7.0

### Issue description
Publish mRNA content error

#### Steps to reproduce
When I update tripal from version 3.4 to 3.6, and then I import a genome gff file and publish mRNA pages, the error occurs.

#### Error messages and screenshots

[code]

[2021-07-15 12:38] dsenalik commented on #1219
Do you have the tripal map module loaded? I suspect it may be the same issue I ran into here

https://gitlab.com/mainlabwsu/tripal_map/-/issues/61

My fix was just merged two weeks ago, so if it's this, you can update tripal map to fix it.

[2021-07-15 12:43] Bobo22331 commented on #1219
@dsenalik Yeah, maybe it's the same issue with tripal_map module. I'll try to update it.
Thank you!

[2021-07-15 13:10] Bobo22331 commented on #1219
@dsenalik I've update tripal_map module and the error occurs again!

[2021-07-15 13:36] Bobo22331 commented on #1219
Publish gene pages didn't occur this error.

[2021-07-15 14:15] dsenalik commented on #1219
Check the file

```sites/all/modules/tripal_map/includes/tripal_map.fields.inc```

line 154 and make sure the fix is there, if correct, it should be
[code]

Another thing to try is to temporarily disable the tripal_map module and see if the problem goes away. If not, it is coming from somewhere else.

[2021-07-15 14:20] Bobo22331 commented on #1219
OK. I'll try it. Thank you!

[2021-07-16 02:57] Bobo22331 commented on #1219
@dsenalik
I've tried as you said. When I temporarily disable the tripal_map module, the error didn't occur.
Thank you for your suggestion.

[2021-07-16 03:42] #1219 closed, assigned to nobody

[2021-07-24 00:59] chunhuaicheng opened #1220 "A security bug?"
## BUG/ERROR report

### System information

* Tripal Version: 3.4, 3.5, 3.6, and 7.x-3.x
* Drupal Version: 7.82
* PostgreSQL Version: 13.3
* PHP Version: 7.4.3

### Issue description

After editing a Tripal page (such as an Organism), the logged-in user gains privileges of the user who previously created the page.

#### Steps to reproduce
1. Log in as a user who is authorized to edit a Tripal pag

[2021-07-26 17:14] spficklin opened #1221 "Legacy content not accessible"
## BUG/ERROR report

### System information

* Tripal Version:  3.x
* Drupal Version:   7.x
* PostgreSQL Version:  N/A
* PHP Version:  N/A

### Issue description

If a user turns on the legacy support for Tripal v2 content types, anonymous users will always get an 'Access Denied' error when viewing any of the legacy pages.   This was reported in Slack by @cornellyujy

#### Steps to reproduce
Turn

[2021-07-26 17:29] spficklin commented on #1211
Fixed as per PR.

[2021-07-26 17:29] #1211 closed, assigned to nobody

[2021-07-26 17:39] spficklin commented on #1214
Hi @mario-lopez-c apologies for the slow reply.  So, after investigating this issue it seems we have a very simple bug in the code that prevented synonyms from appearing.   I will make a quick fix and it should resolve the problem for you.  If you could test the pull request for me to make sure its fixed on your site that would be great and should speed up getting this fix into the next release.

[2021-07-26 17:47] spficklin commented on #1214
Okay, the PR is submitted with the rfix.  @mario-lopez-c can you test it on your site to make sure you can now get synonyms?   Here's the link to the PR:  #1223

[2021-07-26 17:49] spficklin commented on #1210
@felipead6 . I'm going to close this out due to no comments in awhile. If you want to chat more on this just respond and we can reopen it.

[2021-07-26 17:49] #1210 closed, assigned to nobody

[2021-07-26 19:43] jcrabbwsu commented on #1220
To add to the behavior described above:
When the authenticated user is also the author of the page, the steps described above result in the user being logged out.

[2021-07-28 19:02] spficklin commented on #1215
Hey @chunhuaicheng thanks for reporting it.  Any chance you can look through that code and supply a fix for it?

[2021-07-29 20:07] dsenalik commented on #1219
I am still having some publishing errors with a slightly different error message. See tripal map issue [#61](https://gitlab.com/mainlabwsu/tripal_map/-/issues/61) and merge request [!55](https://gitlab.com/mainlabwsu/tripal_map/-/merge_requests/55) for description and resolution.

[2021-08-02 16:54] spficklin commented on #1215
@chunhuaicheng I just tested the GFF loader and I am not seeing this behavior.   The Name attribute is properly getting added and there are records for the analysis/feature combo in the analysisfeature table.  Can you send me a GFF3 file that is giving you problems so I can test it?

[2021-08-02 16:56] spficklin commented on #1214
I believe this issue has been fixed in the recent PR.  I'm going to close out the issue. Please comment if there's still a problem.

[2021-08-02 16:56] #1214 closed, assigned to nobody

[2021-08-02 16:57] spficklin commented on #1221
This has been fixed as per the recently merged PR.

[2021-08-02 16:57] #1221 closed, assigned to nobody

[2021-08-02 17:47] spficklin commented on #1220
I've added a PR (#1224) to fix this if anyone watching this thread wants to test.  Once this gets tested and merged in we'll make a new Tripal release to get this fix out.

[2021-08-02 18:18] risharde commented on #1220
@spficklin Just tested your commit and it resolved the security issue on my side.

[2021-08-02 19:01] spficklin commented on #1215
So @jhumann was able to give me an example GFF3 file that was causing problems and now I see what's wrong.  The issue only occurs when landmark sequences are self referencing.     There are three ways to specify a landmark

1. Using the ##sequence-region header at the top of the GFF3 file
2. Setting the sequence type in the GFF3 Tripal loader so that any landmarks are automatically created.
3. Sel

[2021-08-02 22:34] spficklin commented on #1220
Issue resolved in dev branch with recent PR.

[2021-08-02 22:34] #1220 closed, assigned to nobody

[2021-08-05 18:04] bradfordcondon commented on #1218
looks like `db2cv_mview` is in `setup/tripal_chado.setup.inc` but not in the shcemas which get loaded on basic install, namely, `tripal_chado/chado_schema`.  The table also gets installed in `tripal_chado_update_7323` via `tripal_chado_add_db2cv_mview_mview()`.

Seems to me like the easy solution is to add the `tripal_chado_add_db2cv_mview_mview()` to the `tripal_chado` module install (as dbupdate

[2021-08-06 16:41] dsenalik opened #1226 "Release 3.7 doesn't have the version number updated in any of the files"
Release 3.7 doesn't have the version number updated in any of the files, e.g.
```tripal/tripal.info:6:version = 7.x-3.6```

[2021-08-06 17:16] laceysanderson commented on #1186
Hello @mario-lopez-c -sorry for the lack of response! It must have gotten missed because the issue is closed. I'll re-open it now! Have you made any progress on this in the meantime?

[2021-08-06 17:34] laceysanderson commented on #1140
**Sorry for the delayed response! I've been away on leave and unable to answer until now.**

Unfortunately, this is not yet fixed. I'm re-adding it to my todo list.

@shmenolin the **Job Daemon** status updates should be automatically set up using the email address of the first account created on your site -the core administrator. This only provides emails if the job daemon is not working and does

[2021-08-06 20:59] mpoelchau opened #1227 "Page structure navigation is challenging for assistive technology"
During a web accessibility review of our site, it was pointed out that the Tripal default method of dynamically altering page structure is difficult for assistive technology to navigate. An example of the page structure changes is on the demo organism page (http://demo-3x.tripal.info/bio_data/651), by clicking either 'Summary' or 'Properties' on the left sidebar.

We have modified the default page

[2021-08-07 01:41] mario-lopez-c commented on #1214
Thank you so much! That worked! Thank you!

[2021-08-07 22:15] dsenalik commented on #1226
I was just thinking, should the version number be updated just _after_ a release, so the dev version is effectively the next version?

[2021-08-13 13:57] mario-lopez-c commented on #1186
Hi  @laceysanderson thanks! If I could already solve it, don't create a custom table, just use the feature table that is related to the table that stores the genes, and by this means I can show the relationship with the family! Thank you!

[2021-08-13 13:57] #1186 closed, assigned to nobody

[2021-08-20 09:30] CFGrote commented on #1207
Hi, hope this is the right place to report such things:

Looking at the C.sinensis example at https://tripal.readthedocs.io/en/latest/user_guide/example_genomics/genomes_genes.html#loading-fasta-files

There's a typo in the regex to pull out the accession:  ~`^.*PAC:(d+).*$`~ should read `^.*PAC:(\d+).*$`

[2021-08-26 19:27] srobb1 commented on #1209
Hello All. I was getting errors with the loader as well when I was loaded plana.owl with Tripal 3, v 7.x-3.7.

This is property in my ontology that is referenced but not a term belonging to PLANA. Also this term is a property and not a term, and this term has a weirdness that it does not have any term that says it is the source term.

[code]

i got this error as well, it is compounding the RO and

[2021-08-26 19:59] srobb1 commented on #1215
Hello All,

I am seeing the same when I loaded a gff but I am not just missing Name= but also Ontology_term= and Dbxref= as was mentioned above.

In this site we do not want a genome and genome locations. I call these features transcripts since they do not have genes and are not "located" on a genome. My transcripts are my landmark features.

There is an example line:
[code]

In my current and wor

[2021-08-30 17:16] laceysanderson opened #1337 "Default Term Definition for TripalTermManager"
We should provide default help text if a term doesn't have a definition... or maybe a default definition? Not sure how to handle this one well.

[2021-09-10 16:35] #181 closed, assigned to spficklin

[2021-09-10 16:35] #239 closed, assigned to nobody

[2021-09-10 16:35] #320 closed, assigned to nobody

[2021-09-10 16:35] #431 closed, assigned to spficklin

[2021-09-10 16:35] #519 closed, assigned to spficklin

[2021-09-10 16:35] #588 closed, assigned to nobody

[2021-09-10 16:35] #634 closed, assigned to nobody

[2021-09-10 16:35] #690 closed, assigned to nobody

[2021-09-10 16:35] #708 closed, assigned to nobody

[2021-09-10 16:35] #739 closed, assigned to nobody

[2021-09-10 16:35] #801 closed, assigned to nobody

[2021-09-10 16:35] #807 closed, assigned to nobody

[2021-09-10 16:35] #858 closed, assigned to nobody

[2021-09-10 16:35] #1031 closed, assigned to nobody

[2021-09-10 16:35] #1098 closed, assigned to nobody

[2021-09-10 16:35] #1146 closed, assigned to nobody

[2021-09-16 19:20] Ferrisx4 opened #1229 "chado_delete_feature() deletes too much on failure to match"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.6
* Drupal Version: 7.67
* PostgreSQL Version: 11.3
* PHP Version: 7.3.3

### Issue description

When using the function [chado_delete_record()](https://github.com/tripal/tripal/blob/fe1f70dc607eb8108814e675f4d11abe453cdb6a/tripal_chado/api/tripal_chado.query.api.inc#L1002), for instance on trying to delete features tied to an or

[2021-09-17 20:08] srobb1 opened #1230 "Error when loading GFF with GO terms not found in CVTERMS"
* Tripal Version: 3.7
* Drupal Version: drupal-7.78
* PostgreSQL Version: 12.8
* PHP Version: 7.4.3

### Issue description
When loading a GFF I get this error if I have an Ontology_term in my GFF that is not in my db.

[code]

After I got this error I was able to find this in my postgres log
[code]
This is for an insert into feature_cvterm with these columns
[code]

I got the uniquename for featur

[2021-09-27 17:37] spficklin opened #1338 "Check that all the recent Tripal 3 updates to the OBO Loader made it into Tripal 4"
The OBO loader has been updated in Tripal v3. I know at some point we need to go back through all of our Tv3 updates and see if they need to be applied to Tv4 but this is critical so I thought I'd point it out.

[2021-09-27 17:55] spficklin commented on #1215
Hi @chunhuaicheng this has been fixed by a pull request that @srobb1 provided!  (Thank you Sofia!).   The fix is in the dev branch (7.x-3.x) so you should be able to load those sequences now.

[2021-09-27 17:55] #1215 closed, assigned to nobody

[2021-09-27 21:54] spficklin commented on #1218
@Lowe-Man . I could not duplicate the issue on a fresh rapid install, however we did apply a fix in PR #1225 that should fix the problem  for you.   You will probably have to wait until we do an official release with this fix in it,  But I'm assuming at this point you probably got around the error by doing a manual install. If not let us know. I'm going to close this out but please comment if you'

[2021-09-27 21:54] #1218 closed, assigned to nobody

[2021-09-27 22:00] spficklin commented on #1226
Thanks for reporting this @dsenalik .  I have submitted a pull request to fix the version numbers for the next release to 3.8.  Your idea about setting the next version number right after a release is a good idea.   I'm going to close this out since the PR should fix this for at least the 3.8 version.

[2021-09-27 22:00] #1226 closed, assigned to nobody

[2021-10-21 13:48] Ferrisx4 opened #1232 "Autocomplete fields should not include unpublished items"
Autocomplete functions for fields, such as contact (https://github.com/tripal/tripal/blob/48cd174df988e7fe84d3d3202d445d3ba22560b6/tripal_chado/api/modules/tripal_chado.contact.api.inc#L128) should not return items that are unpublished. This can cause problems where forms try to save values linking to items that do not exist.

[2021-10-22 19:08] mpoelchau commented on #1230
@srobb1 thanks for posting this - I ran into the same issue this week as well (I should have loaded an ontology prior to the gff but forgot). Having this documented helped me figure out the problem a lot faster. Not sure if it would be possible to have more information printed out about the error (e.g. not having to dig through the postgres logs).

[2021-10-22 20:26] srobb1 commented on #1230
Hi @mpoelchau. @spficklin and I chatted about this. If I remember correctly, I think we decided it might be possible to print out a more informative error message with the offending ontology ID. I wanted to dig back in and try to figure this out, but got wrapped up in other things. This is definitely something I want to get fixed, it was a big pain to track it down. Maybe your message will motivat

[2021-10-22 20:35] mpoelchau commented on #1230
Glad to provide some motivation :). No rush on my part though - I was just grateful that you posted the issue since it saved me some time!

[2021-10-31 23:38] risharde commented on #1338
A little late on this one because I missed the email notification - agreed and definitely good to revise them. I'm assuming this notification serves to give an idea of the most recent update being done after we converted to T4 :)

[2021-11-02 17:25] risharde opened #1339 "HTML5 File Upload: issues trying to re-upload files"
Referenced here: https://github.com/tripal/t4d8/issues/139#issuecomment-957960963

The temp folder with the file chunks were not being deleted. This somehow affected when trying to reupload the file. The problem seems to resolve by deleted the attempted reconstituted file and / or emptying the temp folder.

[2021-11-02 17:26] risharde commented on #1339
Permissions and perhaps a further inspection of this code might be required.

[2021-11-02 17:27] risharde commented on #1339
P.S Cache clear did not work during trying to resolve this issue (it was unrelated to the problem)

[2021-11-04 00:24] dsenalik opened #1234 "Does chado_associate_semweb_term() not work?"
## BUG/ERROR report

### Issue description
I was trying to figure out why my call to chado_associate_semweb_term() did not work.

This function is defined in ```tripal/tripal_chado/api/tripal_chado.semweb.api.inc```
After some error checking, I find that there is this section:

[code]

Please correct me if I'm not understanding this, but ```db_insert``` doesn't actually "insert" unless you include

[2021-11-20 14:37] dsenalik opened #1237 "Automated testing is failing during "Install Tripal" phase"
## BUG/ERROR report
Automated testing is failing for everything during the "Install Tripal" phase with the following error
[code]

Reference: pull requests #1233, #1234, #1236

[2021-11-20 15:14] dsenalik opened #1238 "Pubmed publication importer invalid year breaks search"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3
* Drupal Version: 7.82
* PostgreSQL Version: 13.2 and 13.3 (note that bug does not appear with 12.x)
* PHP Version: 7.3.28

### Issue description
The original issue was that a publication search with a year range specified would generate an error
```ERROR:  invalid input syntax for type numeric: " "```
This came from the SQL whic

[2021-11-22 04:48] spficklin commented on #1234
Fixed with recent PR #1235

[2021-11-22 04:48] #1234 closed, assigned to nobody

[2021-11-23 21:09] #1238 closed, assigned to nobody

[2021-11-23 21:48] dsenalik opened #1240 "Tripal field sbo__relationship "is is" output for new cv term"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.7
* Drupal Version: 7.82
* PostgreSQL Version: 13.4
* PHP Version: 7.2.24-0

### Issue description
For crazy reasons, I decided to create a CV term to link male sterile lines to their corresponding maintainer line. I called it ```is_a_maintainer_line_for```, and create appropriate relationship links. Works fine.

The issue is, ho

[2021-11-27 01:16] spficklin commented on #1240
Fixed with recent PR.  Thanks @dsenalik

[2021-11-27 01:16] #1240 closed, assigned to nobody

[2021-12-03 17:46] dsenalik opened #1242 "Publication search by journal is broken on a number of Tripal sites"
## BUG/ERROR report

### Issue description
I discovered this trying to find a publication that I knew existed but I specified both part of the title and the "Journal Name", and had no hits. Remove the "Journal Name" restriction and it appears.

This issue arises because the journal name of a publication can be stored in two places, the ```series_name``` column of the ```chado.pub``` table, and as

[2021-12-17 15:42] dsenalik opened #1243 "I need a reverse of function chado_abbreviate_infraspecific_rank()"
## Feature Request/Discussion
There is a function in ```tripal/tripal_chado/api/modules/tripal_chado.organism.api.inc``` named
```chado_abbreviate_infraspecific_rank```. It takes an infraspecific type, e.g. subspecies, and returns the abbreviation, e.g. subsp.

I am working on the newick tree loader to add organism associations, and I have a need of the inverse of this function.

I propose to add

[2021-12-17 18:54] dsenalik opened #1245 "The newick phylotree loader does not link to organisms when loading "taxonomic" trees"
## BUG/ERROR report

## Pull #1262

### Description

I've been working on the newick tree loader for a while, and this issue will be a placeholder for an eventual pull request, currently a work in progress.

A couple of issues I am working on here:
1. A lot of the job progress output is only viewable by running the drush job at the command line, so there needs to be some fixes for logging.
2. More

[2022-01-04 18:44] Ferrisx4 opened #1246 "Alt text for AJAX spinner"
## BUG/ERROR report

### System information

* Tripal Version: 3.x

### Issue description

AJAX spinner on certain pages is an animated gif. Per accessibility standards, all images are expected to have an alt text specified, even in cases where the image is decorative.
In this case, the image is to indicate loading of a paginated element.

We were initially inclined to use an empty alt text, `alt=

[2022-01-06 21:37] laceysanderson commented on #1088
Heads up: I need to upgrade KnowPulse + Tripal Crop Docker to PHP8 thanks to urging from our IT department. Since there are still a number of incompatibilities, I've started a branch `1088-update-to-php8` to resolve them :-) Feel free to post more that you've noticed here so I can do a more thorough job!

[2022-01-07 15:29] laceysanderson commented on #1237
Looks like the error you mentioned is a secondary error and the original error is in the chado install phase [here](https://github.com/tripal/tripal/runs/4563106593?check_suite_focus=true#step:7:82).

[2022-01-13 20:10] laceysanderson commented on #1237
Wow that took a bit of digging but I finally found the issue:
<img width="661" alt="Screen Shot 2022-01-13 at 1 42 12 PM" src="https://user-images.githubusercontent.com/1566301/149401576-1989827c-6085-44e2-87b0-4880ba1d5c1d.png">

It turns out this function uses an old notation for the "contained in" operator for geometric type (i.e. point, box, lseg, line, path, polygon, and circle) operators tha

[2022-01-13 21:13] laceysanderson commented on #1237
There. PR submitted :-)

[2022-01-17 18:36] spficklin commented on #1237
Fixed via PR #1249

[2022-01-17 18:36] #1237 closed, assigned to nobody

[2022-01-18 13:37] #1246 closed, assigned to Ferrisx4

[2022-02-16 16:05] laceysanderson commented on #1336
@guignonv now that you have the BioDB layer contributed I seem to remember there being functionality in there for long-running processes.

Can you update this issue by commenting on the overlap with this issue and starting the discussion on how your functionality and the current Tripal Jobs system could interact (or your plan if they do not)? Thanks! :-)

[2022-02-20 07:17] spficklin opened #1250 "Custom tables don't work with hook_chado_schema_v<version>_<table>"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version: N/A

### Issue description

If you create a custom table (e.g. `file`) during the install of an extension module (e.g. tripal_file) and then a second dependent extension module (e.g. tripal_network) adds a linker table (e.g. `network_file`), the second module should be

[2022-02-24 17:48] laceysanderson commented on #1330
@4ctrl-alt-del has started this but was pulled away. I'm cleaning up branches so here was his original progress:
[tripal-job-tests.patch.txt](https://github.com/tripal/tripal/files/10178416/tripal-job-tests.patch.txt)

[2022-02-24 20:17] dsenalik opened #1252 "Improve efficiency of chado_get_organism_select_options()"
## BUG/ERROR report

### System information
* Tripal Version: 3.x

### Issue description
Our site CarrotOmics has 1,342 organisms in the chado.organism table. As a result, when editing an analysis page, or any other page using the ```obi__organism_linker``` field, it takes a significant time to get into edit mode. A large fraction of the time is used by ``chado_get_organism_select_options()``, and

[2022-02-25 15:46] laceysanderson opened #1340 "Integration of Tripal BioDB task system with Tripal Jobs"
When Valentin made the new Tripal BioDB functionality, he also created a Task + Lock API based of Drupal which focuses on database integrity. The original documentation for the Task API is included below. As mentioned in tripal/tripal#1336 and tripal/tripal#1334, we have already been exploring alternatives + fixes to our current job system. As the Task system is already available it makes sense to

[2022-02-25 15:53] laceysanderson opened #1341 "Deprecate existing Chado Query API in favour of new BioDB API"
The new BioDB API extends the Drupal Database API to handle multiple PostgreSQL schema and cross-schema querying -something which is obviously needed for Tripal for ideal Chado integration. Specifically, this allows us to use the Drupal style of querying with Chado as shown in the following example:

[code]

Which would be the equivalent of the following Chado Query:

[code]

Tripal will be moving

[2022-02-25 15:57] laceysanderson opened #1342 "Deprecate existing ChadoRecord + ChadoSchema classes in favour of Tripal BioDB"
As mentioned in tripal/tripal#1341, the new Tripal BioDB API provides a more Drupalized way of cross-schema querying for databases. The ChadoRecord + ChadoSchema classes were originally developed to accomplish something similar but since Tripal BioDB is both complete and more integrated with Drupal it is a better choice. As such the old classes will become deprecated and their inner methods replac

[2022-02-25 16:48] spficklin commented on #1342
This makes me sad :-( I really liked our ChadoRecord classes.  I don't think we need to take the time to rewrite the internals of those to use BioDB because I don't think they were broadly used.  They aren't documented and I suspect only extension modules created by core developers (mostly my group) would have used them.   @risharde is going to fix all of our loaders in core to use BioDB so it's j

[2022-02-25 16:51] spficklin commented on #1341
Is there a way with BioDB to write straight SQL still?  I find there's always going to be some weird use case that we can't do with the Drupal classes and since BioDB uses that approach I'm just worried we may loose some flexibility when needed.

[2022-02-25 16:53] spficklin commented on #1341
Also, replacing the innards of the old Chado API functions will be a lot of work I suspect.   Given we are limited on time perhaps we just mark them as deprecated, leave them as is and then later remove them from a future release.

[2022-02-25 17:10] laceysanderson commented on #1341
Yes you can still write straight SQL using the BioDB API so no lost functionality there! These code samples from @guignonv show that:

## Static query example on feature table in default Chado schema.

[code]

See also [Drupal static queries](https://www.drupal.org/docs/drupal-apis/database-api/static-queries) and [result sets](https://www.drupal.org/docs/8/api/database-api/result-sets).

## Cross

[2022-02-25 17:11] laceysanderson commented on #1341
Mmmm.... this is likely true. I thought this endeavour might be a good way for me to learn the ins and outs of the new API but it may end up not being worth it... I'll make sure to dial my idealism back a bit here ;-p

[2022-02-25 17:12] laceysanderson commented on #1342
Ok 👍 I agree it's likely not worth all the work -my idealism was getting away with me again 🙈

[2022-02-25 17:14] spficklin commented on #1341
One other benefit for leaving them is there's no accidental, inadvertent changing of behavior in them from the rewrite.

[2022-02-26 15:37] #1252 closed, assigned to nobody

[2022-02-26 16:05] dsenalik opened #1255 "Use of undefined constant accession - assumed 'accession'"
## BUG/ERROR report

### System information

* Tripal Version: 3.8
* Drupal Version: 7.88
* PostgreSQL Version: 13.3
* PHP Version: 7.3.28

### Issue description

Error messages loading an NCBI xml file for a biosample.

This is due to a typo in the code, fix provided with pull request #1256

#### Steps to reproduce

Have tripal_analysis_expression module installed and active

Obtain xml file:
```

[2022-02-26 16:41] dsenalik commented on #1255
I messed up, this is from an abandoned pull request

[2022-02-26 16:41] #1255 closed, assigned to nobody

[2022-03-14 16:45] spficklin commented on #1243
I think this issue is resolved with PR #1244 .  But please comment if issues still remain.

[2022-03-14 16:45] #1243 closed, assigned to nobody

[2022-03-18 16:12] dsenalik opened #1258 "Add option for radio-button instead of checkbox on tripal_get_term_lookup_form()"
## Feature Request/Discussion

* This feature does attempt to solve an existing problem with Tripal
* This feature is Not Urgent

### Description
In ```tripal/tripal/api/tripal.terms.api.inc``` line 594 ```function tripal_get_term_lookup_form()``` is used to select one cvterm from among several. I think the typical use case is to only select one term. This function currently uses checkboxes, and c

[2022-03-18 16:23] spficklin commented on #1258
I agree, this is an important issue that needs fixing. The function that provides the form element is meant to only return a single selected item and if more than one is clicked it will be confusing for the end-user and may break some forms.

[2022-03-19 23:32] spficklin commented on #1258
Issue fixed with PR merge.  Thanks @dsenalik

[2022-03-19 23:32] #1258 closed, assigned to nobody

[2022-03-22 21:10] dsenalik opened #1260 "Tripal field obi__organism infraspecific type no_rank displaying"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.8
* Drupal Version: 7.88
* PostgreSQL Version: 13.4
* PHP Version: 7.2.24-0

### Issue description

CarrotOmics.org makes extensive use of infraspecific nomenclature, e.g. subspecies, and the organisms without infraspecific nomenclature use the CV term ```taxonomic_rank:no_rank``` for the ```chado.organism``` table ```type_id```

[2022-03-23 20:01] spficklin commented on #1260
Fixed with PR #1261

[2022-03-23 20:01] #1260 closed, assigned to nobody

[2022-03-24 21:33] CFGrote opened #1263 "SPARQL endpoint"
## Feature Request/Discussion
* This feature does not attempt to solve an existing problem with Tripal
* I am open to developing or collaborating on an extension module if this is not a good fit for Tripal Core
* This feature is URGENT (for my project at least)

### Description
I would like to be able to access tripal content via a SPARQL endpoint as this would allow to integrate data from multipl

[2022-03-25 16:13] spficklin commented on #1263
Hey @CFGrote .  Great to hear that you're interested in this.  It was our hope when we created the web services using JSON LD that data could be used for federation in ways like you describe.  I'm very interested in helping add a SPARQL service to Tripal and I think it's a great idea. The challenge from my end though is personnel to do the work because most everyone is focused on Tripal v4 develop

[2022-03-30 07:40] CFGrote commented on #1263
Hi @spficklin, thanks for your reply and glad to hear that there is potentially some interest in my suggestion. I can't do Monday 5pm at the moment for family reasons (maybe in the future). Can you suggest a time to meet online? Best times for me are between 9AM and 5PM on weekdays or after 8PM. Let me know what works for you.

[2022-03-31 22:04] jhumann opened #1265 "GFF3 loader invalid characters check broken?"
### System information
* Tripal Version: 3.8
* Drupal Version: 7.88
* PostgreSQL Version: 12.9
* PHP Version: 7.3

### Issue description
I am testing the GFF loader on our dev site with a genome I previously loaded on our production site (Tripal v3.3).  When I am loading the GFF file of the scaffolds it tells me a landmark name has invalid characters.  We can't figure out which character is an iss

[2022-03-31 23:23] spficklin commented on #1265
Hey @jhumann if you want to get me a copy of your GFF3 file I can test what's going on.

[2022-04-04 03:20] CFGrote commented on #1263
Hi again, just fyi, I'll be on vacation for the next 2 weeks and won't have regular access to email and internet. Hope we can resume this discussion and schedule a meeting after Easter.

[2022-04-11 16:46] dsenalik opened #1266 "sbo__relationship field needs to be aware of organism infraspecific nomenclature"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.8
* Drupal Version: 7.89
* PostgreSQL Version: 13.2
* PHP Version: 7.3.28

### Issue description
The tripal field sbo__relationship needs to be able to handle chado 1.3 infraspecific nomenclature if it is being used for organism relationships. Example shown here is Daucus carota subsp. sativus related to Daucus carota var. sativu

[2022-04-12 20:35] #1114 closed, assigned to nobody

[2022-04-12 20:37] spficklin commented on #1071
This class will be deprecated in Tripal v4 so I'm closing this issue.

[2022-04-12 20:37] #1071 closed, assigned to nobody

[2022-04-12 20:37] #1045 closed, assigned to nobody

[2022-04-12 20:38] #804 closed, assigned to nobody

[2022-04-12 21:44] risharde opened #1271 "GFF3 bug detected by Stephen"
GFF3 loader

Line 2270:
$sql = "SELECT name, uniquename, feature_id FROM {feature} WHERE uniquename in (:landmarks)";

Stephen mentioned we need to perform a query that should include the organism ID here

referencing @spficklin

[2022-04-13 00:04] spficklin commented on #1271
Yes, this needs to be fixed because it doesn't include the unique constraint in the query (uniquename, organism_id, type_id).  Which means the GFF3 loader could accidentally pickup a landmark from another organism if it had the same name.

[2022-04-21 06:00] CFGrote commented on #1263
Hi @spficklin, when would be a good time to schedule a meeting? Can you do this coming Monday (April 25) at 8pm my time?

[2022-04-25 16:41] risharde opened #1272 "chado_query array[] placeholder does not work as intended"
This issue was found while testing the GFF3 loader. Basically the GFF3 loader in some of it's functions sends an array containing values to th chado_query function. This is particularly noted for features. This causes an undesired error.

Example
$array = [
   'value1',
   'value2'
]

chado_query('SELECT * FROM features WHERE feature_id IN(:array[])', array(
  ':array[]' => $array
));

To avoid th

[2022-04-25 16:47] spficklin commented on #1272
Toa clarify, this problem is buried in the `chado_query` function.  With Drupal 9 it is now required, as @risharde points out above, to specify square brackets in placeholders that have arrays.

See details here:  https://www.drupal.org/docs/drupal-apis/database-api/static-queries#placeholder-arrays

The problem is that in Tripal 3 we added the construct to a query of surrounding Drupal tables wit

[2022-04-27 23:10] laceysanderson opened #1273 "Add Tripal Content shows term definition instead of content type description."
## BUG/ERROR report

If you look on the Edit page for a Tripal Content Type you will see that the help text under the description implies this text will be displayed on the Add new content page (see pink in below screenshot). Yet when you change it and then check the add content page, you see the term definition which is not the text you entered... (see second screenshot from the admin/content/bio

[2022-04-28 17:13] #1273 closed, assigned to laceysanderson

[2022-04-28 17:13] spficklin commented on #1273
Fixed with PR #1274

[2022-05-02 16:41] spficklin opened #1343 "Deprecated Functions in Tripal 4"
This issue is to keep track of deprecated functions in Tripal v4.
- Please edit this post and add new ones to this list.
- Check the box when 1) the function is fully deprecated and tested that it still works (e.g. with TripalDBX) and 2) there is documentation available to help an extension module developer know how to upgrade from it

### tripal_chado/src/api/tripal_chado.query.api.inc
- [ ] chad

[2022-05-23 18:25] spficklin commented on #1263
I'm Sorry, I'm not used to scheduling via GitHub, that coupled with an extremely busy end-of-semester and this fell off my radar.  Do you still want to try to meet?  Perhaps scheduling via email would be better:  stephen.ficklin@wsu.edu

[2022-05-31 21:31] dsenalik opened #1277 "Radio buttons in function tripal_get_term_lookup_form() are not linked by name"
## BUG/ERROR report

### Issue description
The cvterm lookup form uses radio buttons to select a term. Right now, once checked, the button cannot be unchecked and multiple buttons can be checked.

This is defined by ```function tripal_get_term_lookup_form()``` in ```tripal/api/tripal.terms.api.inc``` and the form needs something like ```'#name' => $appropriate_unique_value,``` at about line 712. I

[2022-06-06 22:55] dsenalik commented on #1277
This same bug affects editing semantic web terms ```/admin/tripal/storage/chado/semweb```
Presumably if I figure it out, the fix will be the same.

[2022-06-07 14:39] spficklin commented on #1277
You should be able to uncheck by holding the shift button while clicking (I believe). But that's not obvious....

[2022-06-07 14:53] dsenalik commented on #1277
It doesn't work, because each radio is an individual, not joined to the others. Still working on it...

[2022-06-07 15:52] risharde opened #1278 "Uninstalling tripal_chado removes custom table information from public.tripal_custom_tables, correct?"
Hi everyone, I know that uninstalling should keep chado in tact so I just wanted to ask about this functionality with regard to the removal of data in the tripal_custom_table in public schema. @spficklin or @laceysanderson, can you guys confirm that there isn't any major issues that arise here. My only thought regarding this is if someone uninstalls tripal_chado module (for some testing purpose) a

[2022-06-07 21:08] risharde commented on #1278
I posted this in the wrong repo - this should be for T4D8

[2022-06-07 21:08] #1278 closed, assigned to nobody

[2022-06-09 16:41] dsenalik commented on #1277
This was a tricky thing to fix. I converted the individual 'radio' elements into a single 'radios', but then drupal 7 does not allow individual descriptions for each radio. But this can be added with a callback (relatively simple after you spend a long time to figure it all out).

It's important to fix this, because the current version does not reliably return the selected item, and the inability

[2022-06-13 22:59] risharde opened #1344 "Error when trying to drop default chado schema"
I discovered this possible bug after an attempt to drop chado schema 'chado (default schema)' from the following screen:
![image](https://user-images.githubusercontent.com/33866403/173460920-6513ac3a-fda2-40d4-b918-c2f0f2cd0ff9.png)

The error causes the WSOD (white screen of death with the following message)
![image](https://user-images.githubusercontent.com/33866403/173461049-a6d0197e-00e4-483d-

[2022-06-13 23:08] risharde commented on #1344
Confirming that even when manually deleting the chado schema, reinstalling the chado schema and going back to try to drop it shows the same error.

I also updated my branch with the latest 9.x-4.x and cleared cache and it shows the same error.

[2022-06-14 20:23] dsenalik opened #1281 "Automated testing is broken due to multi-schema querying bug in Drupal 7"
## BUG/ERROR report

### Issue description

See pull #1279 and I replicated it with a branch with just a single typo change, same errors.

There are actually two errors
[code]
and
[code]

The first one does not trigger failure, but the second one does.

The SQL comes from ```includes/database/pgsql/schema.inc``` line 136,
which is in ```function queryTableInformation($table)```
The table name ```.

[2022-06-14 21:01] dsenalik commented on #1281
Related drupal issue https://www.drupal.org/project/drupal/issues/3284424

[2022-06-15 14:01] dsenalik commented on #1281
That issue is a patch that would resolve this error.
The error was introduced in Drupal with https://git.drupalcode.org/project/drupal/-/commit/0a7ef860a854dbe83783211d14ffe2d31300605d

[2022-06-15 16:19] spficklin commented on #1281
Yeah, it looks like we may just have to wait until the next minor release of Drupal 7 for this to go away.

[2022-06-15 21:43] spficklin opened #1345 "Custom Tables Functional Testing Needed"
Support for custom tables has been added with PR tripal/t4d8#209 . However, we don't yet have the functional testing required as part of that PR. we cannot perform the function tests until issue tripal/t4d8#217 is resolved because it will cause errors.  This issue is to remind us to do that functional testing.

[2022-06-24 14:48] Ferrisx4 opened #1283 "Vocabulary warnings shown to end-users"
## BUG/ERROR report

### Issue description

Occasionally, a warning about missing details for a vocabulary is generated. This warning was enhanced in #500 by suggesting a fix.
This issue is not about the fact that the warning gets generated, but that it is shown to the end-user.

It would be a simple fix to make a check to see if the user is an admin or not.

#### Error messages and screenshots

!

[2022-06-27 17:33] spficklin opened #1346 "FASTAImporter"
This issue is for tracking progress on the FASTA Importer. It should be implemented on the code that is part of PR https://github.com/tripal/t4d8/pull/230

[2022-06-27 17:34] spficklin commented on #1346
Please use branch tv4g4-232-FASTAImporter for this work. I've copied in the FASTAImporter code as it was when @risharde left off with it.

[2022-06-27 17:35] spficklin opened #1347 "TaxonomyImporter"
This issue is for tracking progress on the TaxonomyImporter. It should be implemented on the code that is part of PR https://github.com/tripal/t4d8/pull/230

[2022-06-27 17:35] spficklin commented on #1347
Please use branch `tv4g4-233-TaxonomyImporter` for this work. I've copied in the TaxonomyImporter code as it was when @risharde left off with it.

[2022-06-27 17:36] spficklin opened #1348 "NewickImporter"
This issue is for tracking progress on the NewickImporter. It should be implemented on the code that is part of PR https://github.com/tripal/t4d8/pull/230

[2022-06-27 17:37] spficklin commented on #1348
Please use branch `tv4g4-234-NewickImporter` for this work. I've copied in the NewickImporter code as it was when @risharde left off with it.

[2022-06-27 17:38] spficklin opened #1349 "PubBulkImporter"
This issue is for tracking progress on the PubBulkImporter. It should be implemented on the code that is part of PR https://github.com/tripal/t4d8/pull/230

[2022-06-27 17:39] spficklin commented on #1349
Please use branch `tv4g4-235-PubBulkImporter` for this work. I've copied in the PubBulkImporter code as it was when @risharde left off with it.

[2022-06-27 17:45] spficklin opened #1350 "Implement ChadoStorage::deleteValues()"
The `ChadoStorage::deleteValues()` needs to be implemented.

I'm adding a separate issue for each function of the ChadoStorage class that needs implementing because they are quite involved and could probably be best reviewed with individual PRs.

branch:  tv4g1-issue1350-chadostorage-deletevalues

[2022-06-27 17:46] spficklin opened #1351 "Implement ChadoStorage::findValues()"
The `ChadoStorage::findValues()` needs to be implemented.

I'm adding a separate issue for each function of the ChadoStorage class that needs implementing because they are quite involved and could probably be best reviewed with individual PRs.

[2022-06-27 17:57] spficklin opened #1352 "Complete `OBOImporter::postRun()`: mviews + cvtermpath"
I could not finish the `OBOImporter::postRun()` function because there are two components that are not implemented: materialized views and setting up the `cvtermpath` table. Once these are implemented we should return and complete the `postRun()` function.

[2022-06-27 18:00] spficklin opened #1353 "Tripal Importer -revisit tripal_chado_map_cvterms() + tripal_tripal_cron_notification()"
While the TripalImporter is99.9999% functional via PR tripal/t4d8#230 .  The `tripal_run_importer` API function has commented out the code for calling the `tripal_chado_map_cvterms()` function and the `tripal_tripal_cron_notification()`. Once those are implemented someone needs to return to the Importer and uncomment/update those lines.

[2022-06-28 06:32] spficklin opened #1354 "ChadoIdSpace/ChadoVocabulary Missing Values"
If the user creates a Vocabulary or IDSpace it will automatically add the records to the `tripal_vocabulary_collection` table.   This in turn will call `ChadoIdSpace::create()` and `ChadoVocabulary::create()` function respectively and those will  add the appropriate record to the `cv` and `db` tables of Chado.  However, if for some reason the `cv` or `db` records get deleted outside of Tripal ( fo

[2022-07-04 19:46] CFGrote opened #1285 "Warning in Feature Search response: htmlspecialchars() expects parameter 1 to be string, array given"
## BUG/ERROR report

### System information
* Tripal Version: 7.x-3.8
* Drupal Version: 7.78
* PostgreSQL Version: 10.21
* PHP Version: 7.2.24

### Issue description
Searching via the Feature Search (/search/features) field returns a long list of Warnings such as
[code]
and
[code]

#### Steps to reproduce
* Navigate to http://pflu.evolbio.mpg.de
* Click on "Feature Search" in the left menu
* Enter

[2022-07-05 15:33] laceysanderson commented on #1285
Hi @CFGrote,

It looks like your using the Search API integration described here: https://tripal.readthedocs.io/en/latest/user_guide/searching/search_api.html. Is that correct?

If yes, what search backend/server are you using?

Can you remove the "Indexed Tripal Content: Locus Tag" field from your view, save and check if this removes the errors. I'm wondering if something has changed in the Drupa

[2022-07-05 15:42] CFGrote commented on #1285
That is correct

Honestly, I'm not entirely sure anymore. I tried and tested so many different config settings, have to dig into my notes and server configuration.

I tried that. The Warnings are still present. Additionally, the search results are now an empty table:
![image](https://user-images.githubusercontent.com/15476807/177365993-932594e2-9d75-4442-85a4-169cf50c02ca.png)

[2022-07-05 15:53] laceysanderson commented on #1285
Did you remove only the locus tag? Or also the search Excerpt? For each field can you click into the settings and add a label so it's easier to see what's going on?

[2022-07-07 07:58] CFGrote commented on #1285
I removed only the Locus Tag.
I'm using the default search backend (no solr or elasticsearch)

[2022-07-07 09:41] CFGrote commented on #1285
I tried reindexing the site but now I always get this:
![image](https://user-images.githubusercontent.com/15476807/177743558-ab1f8554-23af-49f1-9a48-c4b231441d82.png)

I get the feeling my site is severely unstable and I consider rebuilding it from scratch... . Any advise how to avoid running into situations like this again?

[2022-07-07 10:15] CFGrote commented on #1285
hm, it seems to be indexing now. Quite mysterious...

[2022-07-19 12:02] CFGrote commented on #1263
I just found this paper which imho provides a neat solution to the problem: https://doi.org/10.1016/j.is.2020.101650
I have not tried it but if it works, just have to patch my local sparql endpoint with https://github.com/alanezz/IS-SPAPI and would then be able to query tripal's  json webservice api with sparql.

[2022-07-19 12:08] CFGrote commented on #1263
Another solution I'm working on is to construct a virtual knowledge graph with [ontop-vkg](https://github.com/ontop/ontop). It involves writing an ontology and a sparql-to-sql mapping, which is largely automated in ontop. I can then configure a sparql endpoint such that it translates sparql queries to sql queries, runs the sql query against the tripal postgres DB, re-translates the sql response to

[2022-07-20 11:20] CFGrote commented on #1263
Another question: Is it possible to dump the entire tripal content to one single json-ld document?

[2022-07-29 17:59] heh30 opened #1287 "YAZ library requirement for AGRICOLA Pub Imports with PHP8"
Users who have updated to PHP8.0 are unable to perform AGRICOLA Publication Imports because there is not a corresponding PHP8 release to install yaz with pecl.  Attempting to install yaz results in errors.

https://github.com/indexdata/phpyaz/issues/16

Is there an alternative to YAZ for allowing use of the AGRICOLA importer for systems using PHP8.0+?

[2022-07-29 18:03] dsenalik commented on #1287
As the last one to work on this importer, I am also wondering if yaz will be updated. I know of no alternative at the moment.

[2022-08-07 19:43] dsenalik opened #1288 "Some Web Services links for content types with a space not working"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x current dev version
* Drupal Version: 7.91
* PostgreSQL Version: 13.3
* PHP Version: 7.3

### Issue description
An issue occurs if we have a content type that links to another content type with a space in the name, for example ```Germplasm Accession```. The content type is passed through ```urlescape()``` and this has the effec

[2022-08-08 17:39] laceysanderson commented on #1281
The above PR adds the Drupal 7 patch that fixes this. Once that patch is incorporated into Drupal 7 then we will want to remove it from the automated testing.

[2022-08-08 17:58] laceysanderson commented on #1281
I'm re-opening this as the PR fixes the automated testing but the bug still remains in Drupal core. This issue should remain open until the patch is incorporated into Drupal 7 in a release and the patch is removed from the automated testing workflow.

[2022-08-11 18:43] dsenalik commented on #1088
I have a tripal field issue that was a warning before, but with php8 becomes an error rendering a page not editable. This is while editing an "assay" page:

**php 7**: Warning: array_key_exists() expects parameter 2 to be array, null given in sep__protocol_widget->form() (line 44 of .../sites/all/modules/tripal/tripal_chado/includes/TripalFields/sep__protocol/sep__protocol_widget.inc).

**php 8**:

[2022-08-11 23:06] spficklin commented on #1088
I think this is fixed with PR #1291 . Closing Thanks for posting the issue and the fix :-)

[2022-08-11 23:06] #1088 closed, assigned to nobody

[2022-08-11 23:08] spficklin commented on #1088
Whoops, I guess this issue was meant to be a catch-all for PHP 7.4 issues and then 8.0 but I think I'll leave it closed unless @laceysanderson or @Ferrisx4 think otherwise.   It's easier to just post each issue separately and fix them rather than have an open ended issue.

[2022-08-12 21:51] dsenalik commented on #1288
Fixed with PR #1289

[2022-08-12 21:51] #1288 closed, assigned to nobody

[2022-08-18 18:27] jhumann commented on #1265
I have sent you the file via other methods, but since the data is public now here is the GFF file saved with a .txt extension so Github lets me attach it.  I also tried this with the most recent version of Tripal on our dev site and I get the same error.

[W85-20-scaffolds.txt](https://github.com/tripal/tripal/files/9376501/W85-20-scaffolds.txt)

[2022-08-18 20:41] dsenalik commented on #1265
I found the problem in the regex, "-" was not escaped. I'll make a pull request to fix it.
```    preg_match('/[a-zA-Z0-9\.:\^\*\$@!\+_\?-\|]*/', $ret['landmark'], $matches);```
should be
```    preg_match('/[a-zA-Z0-9\.:\^\*\$@!\+_\?\-\|]*/', $ret['landmark'], $matches);```

[2022-08-18 20:58] dsenalik commented on #1265
Note that this bug would have let through some "not-valid" characters, i.e. ```[  ]  `  {```
everything from ascii ```?``` to ```|``` was allowed

[2022-08-18 21:23] jhumann commented on #1265
Thanks Doug!

[2022-08-19 16:19] dsenalik commented on #1287
The current release (from 2018) 1.2.3 does not compile for PHP8. However, the current development version on github works fine with PHP8. Here is the procedure I used to install this and get yaz working again:

1. I'm not sure if you need to uninstall your 7.x version of phpyaz first, but I did this at the beginning:
```sudo pecl uninstall -r yaz```
2. ```git clone https://github.com/indexdata/php

[2022-08-22 21:42] spficklin commented on #1287
Thanks @dsenalik for digging into this question, and this is great news.  Looks like a PHP 8 compliant version is on the way and in the meantime there is a work-around.  We should leave this open until we can update our documentation.

[2022-08-22 21:53] spficklin commented on #1265
Thanks @dsenalik .  I've merged the fix. @jhumann  does this resolve the problem for you?

[2022-08-22 21:56] jhumann commented on #1265
Yes, we manually applied the fix and have been testing it.  It has resolved the issue.

[2022-08-22 21:56] #1265 closed, assigned to nobody

[2022-08-22 21:57] spficklin commented on #1265
Great. I'll close this out.  This fix will be in the next Tripal release. If you need it sooner than later we can just do a quick release to get it out. Let us know.

[2022-08-22 23:45] spficklin commented on #1263
Hi @CFGrote sorry for the slow reply.  I failed to notice your message in my inbox.  It is not possible to dump the entire contents all at once. it would take entirely too long considering the amount of data on some sites.   I do have some Python code to crawl a site's Tripal web-services if you'd like I can share.

[2022-08-25 18:38] dsenalik commented on #1287
I am closing this issue since with https://github.com/indexdata/phpyaz/pull/17 which created phpyaz release 1.2.4 there is now nothing special or different that needs to be done for PHP8

[2022-08-25 18:38] #1287 closed, assigned to nobody

[2022-08-26 20:15] laceysanderson opened #1385 "Permissions need more testing and confirmation"
We currently have a CustomAccessCheck class which is basically just bypassing accessing control all together. We also do not have all the permissions from Tripal 3 available yet and some permissions have changed. Ideally they would remain constant.

This issue is a task to fix the above and add automated test coverage for all permissions.

[2022-08-26 20:22] laceysanderson commented on #1385
Here are the existing permissions in Tripal 3:
https://github.com/tripal/tripal/blob/7.x-3.x/tripal/tripal.module#L721-L809

[code]

[2022-08-29 17:25] laceysanderson opened #1355 "Make Tripal Content Permissions Dynamic (i.e. per Type)"
## Task Description

We want to allow assigning of permissions on a per-content type basis for Tripal Content similar to that done in Drupal core for nodes.

<img width="1462" height="871" alt="Image" src="https://github.com/user-attachments/assets/61d51c5c-dba9-467f-8e56-76548a575dad" />

Specifically, we want the following options for each Tripal Content type:
- _Content Type:_ Create new conten

[2022-08-30 22:51] dsenalik opened #1294 "PHP8 error, fetchCol passed a non-integer parameter"
## BUG/ERROR report

### Issue description
This is the same issue as
https://github.com/tripal/tripal_elasticsearch/issues/277
but only shows up under PHP8

Specifically, ```fetchCol()``` accepts an integer parameter, but a string is passed.

Easy fix to line 211 of ```tripal_chado/includes/TripalFields/data__sequence_record/data__sequence_record.inc```

### Error message
TypeError: PDOStatement::

[2022-08-30 23:04] dsenalik commented on #1294
P.S. I did a ```grep -nr "fetchAll('"``` and ```grep -nr 'fetchAll("'``` and did not find any other occurrences

[2022-08-30 23:11] #1283 closed, assigned to Ferrisx4

[2022-08-30 23:11] spficklin commented on #1283
Fixed with recent PR

[2022-08-30 23:12] #1294 closed, assigned to nobody

[2022-08-30 23:12] spficklin commented on #1294
Fixed with recent PR.

[2022-09-05 15:10] gdroc commented on #1271
I had the same issue that I fixed by adding the organism
Line 2270 add this line
$organism_id =  $this->organism->getID();
$sql = "SELECT name, uniquename, feature_id FROM {feature} WHERE uniquename in (:landmarks) AND organism_id=:organism_id";
Line 2290
          $args = [':landmarks' => $names,':organism_id' => $organism_id];

Gaetan

[2022-09-09 14:29] dsenalik opened #1296 "PHP8 undefined variable: collections"
## BUG/ERROR report

### System information
* Tripal Version: current dev
* Drupal Version: 7.91
* PostgreSQL Version: 13.3
* PHP Version: 8. 8.0.22

### Issue description
Starting the drush daemon this appears

```PHP Notice: Undefined variable: collections in .../sites/all/modules/tripal/tripal/api/tripal.collections.api.inc on line 125 pid 30717```

Fix will be simple, add ```$collections = [];

[2022-09-12 15:18] #1296 closed, assigned to nobody

[2022-09-19 17:02] risharde opened #1298 "GFF3 loader error during import of protein"
### Issue description
When importing a GFF3 file with proteins, the GFF3 loader is unable to complete since it throws an error.

#### Steps to reproduce
Create organism: Arabidopsis thaliana
Import Sequence Ontology (if not already imported)
Import the following GFF3 file: https://www.arabidopsis.org/download_files/Genes/TAIR10_genome_release/TAIR10_gff3/TAIR10_GFF3_genes.gff
Landmark Type: chromo

[2022-09-20 22:00] risharde opened #1299 "Bug in GFF3 loader related to derives_from"
## BUG/ERROR report

### Issue description
Encountered problem with the TAIR10.
If the feature does not exist in the GFF, the derives_from will break

Chr5	TAIR10	transposable_element_gene	26258459	26259916	.	+	.	ID=AT5G65676;Note=transposable_element_gene;Name=AT5G65676;Derives_from=AT5TE94555

[code]

@spficklin

[2022-09-26 20:38] dsenalik opened #1300 "Infraspecific nomenclature missing for FASTA and GFF3 loaders"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.9
* Drupal Version: 7.92
* PostgreSQL Version: 13.3
* PHP Version: 8.0.23

### Issue description
The FASTA loader does its own db query to get an organism list, and uses genus + species + (common name)
Therefore infraspecific names are not shown, leading to ambiguous selection. And if common name is not defined, empty parentheses

[2022-09-26 22:40] dsenalik commented on #1300
Same thing in GFF3 Importer

[2022-09-26 23:46] spficklin commented on #1300
Thanks @dsenalik .  Fixed with PR.
@risharde can you make sure we get this fix in the GFF3 loader of Tripal v4?

[2022-09-26 23:46] #1300 closed, assigned to nobody

[2022-09-26 23:47] spficklin opened #1356 "Organism nomenclature in GFF3/FASTA loaders"
This is just a note to make sure we bring in the recent fix by @dsenalik in Tv3 into Tv4.  @risharde this affects the GFF3 loader and FASTA loader once we get that going.

[2022-09-26 23:47] spficklin commented on #1356
https://github.com/tripal/tripal/issues/1300

[2022-09-27 18:38] dsenalik opened #1302 "local__source_data widget not respecting proper field length limits"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.9
* Drupal Version: 7.92
* PostgreSQL Version: 13.3
* PHP Version: 8.0.23

### Issue description

The widget for the tripal field ```local__source_data``` does not have the correct length limits for the "Data Source Name", "Data Source Version", and "Data Source URI" fields, they are defaulting to drupal defaults which do not mat

[2022-09-27 19:08] spficklin commented on #1302
Fixed as per PR

[2022-09-27 19:13] risharde opened #1386 "GFF3Importer Unit Tests"
The GFF3 importer still needs automated testing. This issue acts as a reminder of that.

[2022-09-28 15:44] dsenalik commented on #1298
I'm working on loading a new genome now, so I though I would investigate this. Using one short gene from that gff3
[code]
I see this in the postgres log, the last set of values is the problem
[code]

The line that is a problem because it has two parents is
[code]

[2022-09-28 17:45] dsenalik commented on #1298
Actually the error was because the cv term for ```polypeptide``` didn't get looked up, add code to make sure it gets looked up, and if not give a useful error message. Of course the double parent problem means the name is nonsense, so that can be fixed too.
Another issue is that the file uses xxx-Protein and the loader uses xxx-protein, so a regex is needed too unless you disable the automatic pro

[2022-09-29 17:31] dsenalik opened #1306 "PHP8 errors with relationship widget"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.9
* Drupal Version: 7.92
* PostgreSQL Version: 13.3
* PHP Version: 8.0.23

### Issue description

I am not able to enter a relationship for an analysis under php 8.0, works under 7.3

#### Steps to reproduce

Enter "X" in subject column, then select any CV. The following AJAX error pops up.

![20220929_ajaxinput1](https://user-im

[2022-09-29 18:01] dsenalik commented on #1306
I am going to add the fix to pull #1267 because it has not been merged yet
3987ddfc2ad80b580cd2e8f115d7667edca1df28

There was a second error lurking in there that I saw and fixed too.

[2022-10-04 18:58] spficklin opened #1357 "Creation of a tripal_genome extension module and docs repository"
I want to propose to move out the GFF3 and FASTA loaders (and perhaps) others into a `tripal_genome` extension module.  This way, core Tripal really is just core code.  We could even fold in the InterPro, KEGG (if possible to do now), GO and Blast modules into the `tripal_genome` module to make it easier to setup a complete genome website.  Whereas right now, it's a bit all over the place.  This p

[2022-10-04 19:00] Ferrisx4 opened #1307 "relation "some_index_name2_pkey" already exists"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.8
* Drupal Version: 7.91
* PostgreSQL Version: 12.12
* PHP Version: 7.4.30

### Issue description

During a registry rebuild, we received the following error:
[code]

For this issue, we were wondering if anybody had encountered this before if it is safe to proceed with renaming the index back to its original or otherwise trying t

[2022-10-11 07:52] CFGrote commented on #1263
Hi,
thanks for getting back and happy to hear there is potential interest in my proposition.

I definitely do need some pointers to get started. Unfortunately, 5PM CET is getting a bit late for me (and my family), therefore I'd prefer we schedule a face-to-face meeting sometime middle next week if that works for you. Can you suggest a time, preferred between 9AM and 5PM or after 8PM my time.

Than

[2022-10-11 21:50] risharde opened #1358 "Core Importer forms select from default schema for form elements -should it be the schema chosen for import?"
Because we now have the ability to run database operations of different schemas, it might be a good idea to also make the loader forms dynamic with respect to the chado schema element and thus depending elements.

There are fields within these loaders forms which should be populated based on the schema chosen. For example, the select list for organism and analysis (this is not an extensive list) s

[2022-10-11 22:10] laceysanderson commented on #1358
Yes, good point! I agree with this suggestion. This is already in the ChadoImporterBase::form() so that specific loaders to do not need to worry about it. Then the ChadoImporterBase::getChadoConnection() uses the schema set/selected. As long as we set `$this->chado_schema_main` via AJAX when someone selects a different schema, then they will get the right schema when they call getChadoConnection()

[2022-10-11 22:38] laceysanderson commented on #1385
The mentioned PR fixes permissions for the tripal/tripal module excluding importers. We still need to do the same for the tripal/tripal_chado and tripal/tripal_biodb modules.

[2022-10-13 16:12] laceysanderson commented on #1357
I love this idea as I hope it will make it less intimidating for people to contribute to Tripal. This way instead of contributing to CORE they're contributing to a genome-specific extension module which should include less other code. It also provides good examples of best practices in extension modules 🤞

[2022-10-13 16:29] laceysanderson opened #1359 "Importer Base Class -duplicated information"
When reviewing the GFF3 importer I noticed we have duplicated information at the top of the class:
1. In the docblock annotation
[code]
2. As class member variables
[code]

This is likely due to the merging of our Tripal 3 classes with the Drupal 9 annotation model.

## GOAL: Only use the annotation and no longer set member variables.

### TASKS:
- Check that all uses of the annotation-set data us

[2022-10-14 18:09] laceysanderson opened #1361 "When to throw Exceptions vs. log using TripalLogger"
We are currently not consistent with when we use TripalLogger for errors and when we throw exceptions. We should make a plan with a small amount of documentation to ensure this is consistent throughout core.

Here's a quick breakdown from 9.x-4.x as of Oct14:

|                                 | tripal/tripal | tripal/tripal_chado | tripal/tripal_biodb |
| ------------------- | ----------- |------

[2022-10-14 18:28] guignonv commented on #1361
The problem with Exception is that you may end up with a WPOTD (white page of the death). The problem with error logging is that some error may exist without blocking the system and if you don't check your log, you may miss them. The problem with site error message is that they sometimes expose part of your system to external users, which may compromise some stuff. And I'm quite sure I forget many

[2022-10-14 20:56] laceysanderson commented on #1357
More detail for this proposition from our PMC Meeting:

## Overview

- Move content type creation out of Tripal core and into specific modules
- Move all content type specific fields out of Tripal core and into specific modules
- Conversely, leave only generic fields in Tripal core. Specifically,
    - Linking Tables: chado_linker__contact, chado_linker__prop, operation__analysis, sbo__relationshi

[2022-10-15 00:41] spficklin commented on #1361
I think in Importers throwing exceptions is fine because those are run via the Tripal Job system, and when they are run any Exceptions that get thrown are logged. It's nice because it allows the Importer to quickly terminate without having to backtrack through all of the function call stack to handle errors gracefully all along the way.

https://github.com/tripal/t4d8/blob/791de47c602bd7d57444bdbc

[2022-10-15 00:46] spficklin commented on #1361
One other thing to consider. Drupal does recommend that we not use the default PHP exception class but create subclass exceptions instead.

https://www.drupal.org/docs/develop/coding-standards/php-exceptions

So maybe part of the solution is to create subclasses of exceptions that have defined purposes. We can create a `TripalImporterException` class and that implies it should get used in importer

[2022-10-16 14:53] dsenalik opened #1310 "chado_get_organism_select_options() bug and optimization"
## BUG/ERROR report

### Issue description
1. The function ```chado_get_organism_select_options()``` I submitted some changes in pull #1095 two years ago but the SQL for tripal v2 was not right if there was chado 1.3 infraspecific nomenclature on the site, I added SQL code after the ```ORDER BY```, sorry.
2. In pull #1300 this function is now used in place of custom SQL to get the organism list, b

[2022-10-18 23:23] dsenalik opened #1312 "There are two "+Add Tripal Content" links at /admin/content/bio_data"
## BUG/ERROR report

### System information
* Tripal Version: current dev version

### Issue description
At /admin/content/bio_data you may observe that there are two "+Add Tripal Content" links
![image](https://user-images.githubusercontent.com/8419404/196563495-28fff5f2-d623-4511-9b37-f214728e3bdd.png)

The first one comes from ```tripal/tripal.module``` line 138 and links to ```/admin/content/b

[2022-10-20 00:53] dsenalik commented on #1312
The left one is from this pull request https://github.com/tripal/tripal/pull/895 in 2019
I don't have the same administrative menu appearance, so I will not propose any fix, seeing how tripal 4 is in the works

[2022-10-20 00:53] #1312 closed, assigned to nobody

[2022-10-21 17:37] dsenalik commented on #1302
I'm reopening since there is a subsequent pull request on this branch

[2022-10-24 16:49] dsenalik commented on #1298
To note here in the issue one additional problem solved:
If the gff3 has a ```Derives_from=xxx``` annotation, and that ```xxx``` value does not appear in the gff3, meaning we have no record for the parent feature, it will now be ignored during ```Step 24 of 27: Insert 'derives_from' relationships...```

[2022-10-28 17:50] dsenalik opened #1313 "Can't display the contact field on a biomaterial or assay page"
## BUG/ERROR report

### System information

* Tripal Version: 3.9
* Drupal Version: 7.92
* PostgreSQL Version: 13.3
* PHP Version: 8.0.24

### Issue description
The tripal field ```local__contact``` will display contact content type on a biomaterial page (as well as assay and arraydesign it seems from the code).

It works through the widget, can be edited there, but does not display on the biomat

[2022-10-28 18:04] dsenalik commented on #1313
You may need a cache clear after updating code before it works.

[2022-10-30 14:20] dsenalik commented on #1298
This additional problem solved is actually Issue #1299 so pull request #1305 will fix that too.

[2022-10-30 14:22] dsenalik commented on #1299
This issue will be fixed by pull request #1305

[2022-10-30 14:54] dsenalik commented on #1272
I looked at this issue and to me the fix could be quite simple, simply change the two regular expressions substituting ```+``` for ```*``` and now ```[]``` will not match

Testing:
To test I put this code in the devel module php window
[code]

and get this output
[code]

[2022-10-30 15:32] dsenalik commented on #1271
@gdroc I made this into a pull request :+1:

[2022-10-31 15:07] dsenalik commented on #1272
I commented in the pull request why this is not enough, an underlying drupal 7 regex won't allow the square brackets through.

[2022-11-02 20:38] laceysanderson opened #1387 "Validation error when leaving optional fields empty"
When I create a gene through the UI, I get an error indicating that the sequence length is not of the correct primitive type when I leave it empty and try to save. The validation error is "This value should be of the correct primitive type. " with the "Sequence Length" field highlighted in red. Since this field is not required, I should be able to leave it empty without a validation error.

## Ste

[2022-11-04 18:10] spficklin opened #1360 "Tripal Prepare Field Addition"
Currently in our ChadoPrepare step, there are functions that will automatically add fields to the content types.  This works fine but could be more easioly managed if this information was in a YAML schema file, where we can specifically state what fields are attached to which content types and default settings.  That way we don't have to add functions that do a lot of the same things everytime we

[2022-11-07 18:12] marchoeppner opened #1317 "Organism image field not returning an array (re: Views)"
## BUG/ERROR report

## pull #1442

### System information

* Tripal Version: 3.9
* Drupal Version:
* PostgreSQL Version:
* PHP Version:

### Issue description
![tripal_image_Error](https://user-images.githubusercontent.com/22975/200383913-8799970c-5f00-4452-9c2a-f89fb2b012da.png)

I have created a view to list all organisms currently defined on my Tripal page. If I include the image field into th