[2017-12-05 05:30] spficklin commented on #207
Hi @inf3rno . Thanks for the suggestions. We're always open for idea towards improvement.   Traditionally, Tripal was 100% non OO.  Drupal was as well.   We are slowly moving towards an object oriented approach but it takes time to make that conversion.  So, that's why you see the mixed implementation right now.  But you're right, Drupal is mixed as well and it's hook system is by nature non-OO so

[2017-12-05 05:40] spficklin commented on #199
Hi @btski can you export your loader template?  if you go to the page with your bulk loader templates (Here on Tripal v3:  Home » Administration » Tripal » Chado Data Loaders » Bulk Loader and click the Templates tab) then you can export the template.  If you can do that and share a sample input file we could test on our end and see what the problem may be.

[2017-12-05 05:50] spficklin commented on #185
Thanks @bradfordcondon for your input!  I'm going to close this out, but if there is still discussion @btski please reopen.

[2017-12-05 05:50] #185 closed, assigned to nobody

[2017-12-05 16:50] abretaud commented on #202
Sounds good, as a first solution your code examples would be very useful!

Yes, for the moment I'm mainly interested in creating entities with "standard" fields, like organisms, just to make python-tripal "Just Work" with tripal3 the same way as it works with tripal2.
I'd like also to discover available entity types and corresponding fields, but this is less urgent for me at the moment.

I think I

[2017-12-05 17:26] bradfordcondon commented on #190
Hi Stephen,

How about programmatically?  I'm digging through the code for an example but coming up empty...  is it SIO annotation perhaps?

[2017-12-05 19:37] shawnawsu commented on #184
Hi @taytayp ,

I just pushed an update to the 7.x-3.x branch that should fix this problem.

Let me know if it's working for you and I can close this issue.

Thanks!
Shawna

[2017-12-05 20:52] bradfordcondon commented on #190
The behavior here was really really interesting.  I created the chado field as you described manually.
I  then was unable to publish my biosamples.

[code]
I deleted the original Chado Property field I created, reran the publisher, and was able to publish the biomaterials with no problem.

Performing further testing on this...

[2017-12-05 21:26] spficklin commented on #190
Hey @bradfordcondon.  If you're getting errors when creating new fields then there's a bug in the code.  Maybe there's some special case about biosample property table? We'll have to look deeper.  Unless a bug has crept in this method would normally work.

You shouldn't need to create property fields programmatically because Tripal automatically recognizes new properties for existing bundles that

[2017-12-05 21:33] spficklin commented on #207
Marking this as closed but feel free to reopen if you want to discuss more on this.

[2017-12-05 21:33] #207 closed, assigned to nobody

[2017-12-05 21:39] btski commented on #199
Update:

I'm able to successfully load data to custom tables within Chado. In the process, I get the first two errors concerning line 1094 but the data loads fine ("Loading Completed Successfully" status). The third error (line 1228) only occurs when I attempt to deposit data into the dbxref Chado table ("Errors Encountered" load status).

The template I'm using is highly simplified:
[{"table":"db

[2017-12-06 03:53] ghost commented on #207
@spficklin I think you should decide whether your project wants to depend on Drupal and its future releases or you want to do something independently, which can use Drupal as one of many possible presentations. If the first is true, then you don't have to do anything. If the second is true, then you have an architectural problem and mixing coding paradigms is just a sign that we are talking about

[2017-12-06 17:45] spficklin opened #208 "Cron issues"
In the past for Tv3, the cron would perform a few checks which could end up slowing the site down as Drupal will sometimes initiate the cron as user's visit the page.  So, we moved some of those long running tasks into Tripal jobs and now the cron just submitts them.  But now they pile up in the job queue!   I had 97 jobs to run this morning on my dev site.

We should adjust that code to not submi

[2017-12-06 21:05] spficklin commented on #207
You make a very good point.  It would be ideal if we could layer Tripal in a multi-tier system that separate domain-specific needs from "presentation" that tools like Drupal provides.   Our Tripal core developers have discussed this in the past.  Aside from discussion, we have not explored too deeply.  But, it's definitely something we can revisit.

Just curious, are you working on building a Trip

[2017-12-06 21:39] ksbuble opened #209 "SQL Error: Undefined column "is_current" in featuremap_dbxref Chado table"
When loading a published map page ex. (https://<site_base_url>/bio_data/<featuremap_id>) with
a recent version of Tripal 3 (Nov 17, 2017 or newer) this SQL error occurred:

PDOException: SQLSTATE[42703]: Undefined column: 7 ERROR: column "is_current" does not exist LINE 1: ...T featuremap_dbxref_id, featuremap_id, dbxref_id, is_current... ^: SELECT featuremap_dbxref_id, featuremap_id, dbxref_id, i

[2017-12-06 22:33] bradfordcondon opened #210 "tripal 3 entity chado FK fields are numerical input instead of dropdown"
As an example, the phylogenetic trees bundle has a numerical input box for analysis_id.  But i think this happens for all auto-generated bundles.  The protocols module arraydesign table, for example, has a column for protocol_id where the widget is a raw input box.

Clearly it would be better to have a dropdown of analyses, protocols, etc, so do we need to create a field for each individually?

![

[2017-12-07 03:02] ghost commented on #207
@spficklin No, I just read your introduction by the Hydra mailing list, so I decided to check the code. I follow Hydra for a few years now, I'll develop a few hobby projects with it. On the other hand I am a biochemical engineer too, so I find both topic interesting.

[2017-12-07 08:19] spficklin commented on #210
Hi @bradfordcondon. Yes this occurs when we have no field other than the default one that Tripal makes. For example, when a new content type is mapped to  a Chado table, Tripal will create a Drupal field for every single column of that table, but by default these fields are just simple Drupal field types.  If a a field needs something more than the Drupal default then we need a special TripalField

[2017-12-07 08:29] spficklin commented on #209
@ksbuble can you describe what happened when you received this message?  Were you loading a published map page?  Were you trying to publish map pages?

[2017-12-07 14:53] bradfordcondon commented on #210
OK.   So we do require field for each.

I can contribute these fields to the main tripal module and use the `obi__organism` field as as reference.  Unless you all are already working on this?

Cheers

[2017-12-07 17:16] btski commented on #199
Update:

I think I've figured it out. I was messing up the load order by creating dbxref values before establishing the associated db, which I didn't expect to be significant. Additionally, the problem I was having with the loading the demo file is that the given db name in the instructions ("NCBI Taxonomy") did not exist. Instead, it's "NCBITaxon".

[2017-12-07 17:19] #199 closed, assigned to nobody

[2017-12-07 17:45] ksbuble commented on #209
@spficklin Yes this occurred during loading of a published map page. Please see updated description above.

[2017-12-07 18:05] srobb1 opened #212 "Views/Chado DB table/Dropdown menu filter?"
Hi. I hope this is any easy one.

I have created a view that uses Chado DB Description in a filter. The drop down select is not available only the text box filter. Any ideas on how to get the drop down menu as an option? Other filters in this view allow me to have drop down menus. I checked out the views integration for the description field, "views_handler_filter_string" is selected.

Thank you,

[2017-12-07 21:04] bradfordcondon commented on #210
Took a stab at Protocol #213

[2017-12-08 19:11] spficklin opened #214 "Tripal version as global variable"
Consider adding a global variable that indicates the current Tripal version.  Suggestion by @almasaeed2010

[2017-12-08 19:57] almasaeed2010 opened #215 "Bulk Updating URLs"
When running the bulk update job for bundle URLs, I get this error:
[code]
More info:
- 120,324 entities
- `Calling: tripal_update_all(bio_data_6, feature/[data__identifier], alias)`

I am not sure if this is a Tripal issue or Postgres. Anyone know how to get around this?

Thanks!

[2017-12-11 16:16] shawnawsu commented on #215
Hi @almasaeed2010 ,

Do you get any other errors in your drupal logs? Do you get the error right away or does the process run for a bit before reporting the error?

Thanks!
Shawna

[2017-12-11 16:17] almasaeed2010 commented on #215
Hi @shawnawsu
It runs for about 30-40 minutes before the errors shows up

Thanks!

[2017-12-11 18:09] almasaeed2010 opened #216 "Creating Entities Fail With Unique Key Violation"
Hello,

We've encountered an odd issue with entities. When deleting an entity then recreating it with identical information, we get this error:
[code]

The entity I attempted to create was an Organism in case that matters.

Thanks!

[2017-12-11 18:19] almasaeed2010 commented on #216
Also, the deleted organism entity still shows up as in the organisms list in the FASTA loader.

[2017-12-11 18:38] shawnawsu commented on #215
The terminal should have a running count of the number of updated entries, how many did it get through?

[2017-12-11 18:40] shawnawsu commented on #216
Hi @almasaeed2010 ,

Was this done programmatically or through the GUI?

Thanks!

[2017-12-11 18:42] almasaeed2010 commented on #215
That number gets overwritten when the error is printed. I guess it's because the pointer is set back to the beginning of the line

[2017-12-11 18:43] almasaeed2010 commented on #216
Through the GUI

[2017-12-11 19:44] shawnawsu commented on #216
So when you delete the record the chado data is not deleted, merely the tripal entity associated with it. So to publish an entity whose data is already in chado you need to 'Publish Tripal Content'.

[2017-12-11 19:58] almasaeed2010 commented on #216
Ah I see. So to delete from both, I have to remove the chado records manually?

Thanks!

[2017-12-11 20:13] shawnawsu commented on #216
I don't know of a way to delete chado data from Tripal except manually and I'm not seeing one in the GUI.

[2017-12-11 20:15] almasaeed2010 commented on #216
Alright. Thanks for the response!

[2017-12-11 20:15] #216 closed, assigned to nobody

[2017-12-11 21:25] bradfordcondon opened #217 "failed contact linker attempt"
We get the below error trying to create an arraydesign:

[code]

arraydesign has a contact foreign key (manufacturer). I already made a field for it.  I assume thats why its attaching?

But... We have no arraydesign_contact linker table.

[2017-12-11 21:40] almasaeed2010 commented on #215
Looking at the code, it seems there is an implementation issue. Please see https://github.com/tripal/tripal/blob/69479178c9272fb5b76a676e1985ecb68e7c3d2f/tripal/includes/tripal.bulk_update.inc#L29

The code passes $bundle_tokens as a $reset parameter resulting in loading the entire entity instead of just one field.

[2017-12-12 11:26] shawnawsu commented on #215
That might be causing a problem on larger update runs.

I've pushed an update to the 7.x-3.x branch. I just don't have a test environment with that many entities, so if you could test I would appreciate it!

Thanks!

[2017-12-12 12:27] shawnawsu commented on #209
@ksbuble A few follow up questions. When you swap branches are you running update.php and which version of chado are you using?

[2017-12-12 12:55] shawnawsu commented on #212
Hi Sofia,

Sorry for the delayed response. I'm not entirely clear what you're asking, can you give me a bit more info?

Thanks!
Shawna

[2017-12-12 12:58] shawnawsu commented on #198
Hi @btski ,

Is this a duplicate ticket of https://github.com/tripal/tripal/issues/199?

Thanks!
Shawna

[2017-12-12 12:59] shawnawsu commented on #186
Hi @a2htray ,

There is now a fix for this issue available in the current 7.x-3.x branch.

Thanks!
Shawna

[2017-12-12 13:00] shawnawsu commented on #184
HI @taytayp ,

I am going to close this ticket. If the loader is still giving you issues with the newest 7.x-3.x branch please let us know in a new ticket.

Thanks!
Shawna

[2017-12-12 13:00] #184 closed, assigned to shawnawsu

[2017-12-12 13:01] shawnawsu commented on #140
Fix tested and confirmed in 7.x-3.x branch.

[2017-12-12 13:01] #140 closed, assigned to shawnawsu

[2017-12-12 14:09] almasaeed2010 commented on #215
Morning @shawnawsu!

I tested the code in 7.x-3.x but it failed since the tripal_load_entity expects field ids rather than tokens. Gave the following errors once started:
[code]
And repeated for all available entities.

However, even with that issue fixed, the code still fails with a memory leak issue:
[code]

I am working on a fix by trying to implement chunking and will see how that goes. It tak

[2017-12-12 14:13] shawnawsu commented on #179
Hi @abretaud ,

Sorry for the delay, I think this got buried in github notifications! In regards to the 'skip this prompt' request for the `trp-set-permissions`, you're right, there is no need for that.  I've just pushed an update that removes that prompt.

Thanks!
Shawna

[2017-12-12 14:25] shawnawsu commented on #215
So that error is a different error than was initially reported. Was the initial fail also reporting an out of memory error?

[2017-12-12 14:26] almasaeed2010 commented on #215
It didn't get that far previously. So there was no memory error.

[2017-12-12 14:28] shawnawsu commented on #215
Previously it was running 30-40 mins without running out of memory? How long before the memory error this time?

[2017-12-12 14:29] almasaeed2010 commented on #215
It was running overnight. The last I checked it was running for 2 hours.

[2017-12-12 15:11] shawnawsu commented on #215
Can you show me the code you were using because it's not the code I pushed as I didn't push it till this morning :)

I've just pushed an update to get the bulk upload to return only the entity fields required for the update.

[2017-12-12 15:20] almasaeed2010 commented on #215
I thought since it's the same code but one didn't have the correct loading of fields so the result is the same when it comes to memory usage. The new code however should make a difference since we are loading only the required fields 👍
Just one observation though, this code block is being run inside the while loop but the tokens are not changing:
[code]

I think it should be fine to obtain the ids

[2017-12-12 15:26] shawnawsu commented on #215
Good call, I just moved it outside the while loop.

Let me know if that changes anything for you.

[2017-12-12 15:26] almasaeed2010 commented on #215
Testing now. Thanks!

[2017-12-12 15:44] almasaeed2010 commented on #215
A quick question, any reason for using the Queue here? It takes a very long time to add all items to the queue and since I don't see any definitions for it to allow cron to process it with a callback, I can't figure out why it is there.

Thanks!

[2017-12-12 16:39] almasaeed2010 commented on #215
Update on the memory issue. The code failed again with the same memory error so I added a line to show how much memory is being use. It turns out the memory usage was growing exponentially due to the static cache. The cached data were not getting removed by the end of each iteration. Therefore, adding `$ec->resetCache()` fixed the issue for us along with removing the Queue entirely.  Another solut

[2017-12-12 16:43] srobb1 commented on #212
Hi Shawa,

Thanks for replying.

I have a View for which I would like to create a drop down filter of DB descriptions. Currently I have Chado DB names (See first filter: https://planosphere.stowers.org/search/rosetta-stone-transcript-mapper). I would like to replace the DB names with the DB description but I do not have the option of a drop down box, only text box. How do I get a drop box? Is this

[2017-12-12 17:17] laceysanderson commented on #212
Hi Sofia,

I assume this is for Tripal 2.x? If so, normally you would just need to create a new views integration for the db table that sets the views filter handler (2nd drop-down) for the description field to `tripal_views_handler_filter_select_string`. However, there is currently a bug in Tripal 2.x making this filter not an option (see #176) :-(. There is a fix mentioned but it requires editin

[2017-12-12 17:18] laceysanderson commented on #176
That's very weird that those lines simply disappeared. I can confirm that they should be added back although it will take a little detective work to determine if any additional filters are missing. I'll try to get around to creating an official patch at the very least.

[2017-12-12 19:01] btski commented on #198
Not a duplicate post, just an observation of inconsistent code behavior that seems to have a reproducible trigger.

[2017-12-12 21:06] srobb1 commented on #212
Hi Lacey,

Thank you!!! I can edited the code as is described above. It works.

But I am having a different issue. I am getting back all the descriptions in the DB database even though I set up a views relationship between my custom table and the DB table and require results to use the relationship. In my filter setup I do select the relationship. I used the devel to print all query and "select de

[2017-12-12 21:27] ksbuble commented on #209
Update.php was not run after reverting to tripal-7.x-3.0-rc2 release. The chado version is: 1.2.
@shawnawsu

[2017-12-12 23:04] mpoelchau commented on #97
We're having the same issue, and I get the same result as @almasaeed2010 with the query listed above. Has anyone else been able to figure this out?

[2017-12-13 04:20] spficklin commented on #217
Can you clarify what you mean when you said you "made a field for it"?  Do you mean you made a field for the contact_id field for the arraydesign table?  If so, is it generic enough to support any table that may have a 'contact_id' column?

[2017-12-13 04:24] spficklin commented on #215
I think the problem is related to issue #139

In this case, the source of the problem is our chado_db_select function.  If anything in the loop uses that function call it could create this problem.

[2017-12-13 04:25] risharde opened #221 "Hooking into Publications View to alter query"
Hi! Can anyone help me out with the hook for Tripal that alters view queries? I've tried hook_views_query_alter(&$view, &$query) but the Publications View in Tripal doesn't answer to that meaning that the hook doesn't seem to execute for this specific view. In desperate need of some advice. The hook worked perfectly on a standard drupal install but not on Tripal. I'm guessing there's something I'm

[2017-12-13 13:19] bradfordcondon commented on #217
Yes.  Note that the column is manufacturer_id with the contact FK.  I thought I would need a new field because of this so I made one: [obi__manufacturer](https://github.com/tripal/tripal_analysis_expression/tree/master/tripal_protocol/includes/TripalFields/obi__manufacturer).  I did not write it with "generic field" in mind unfortunately

This field doesnt invoke chado_linker__contact, however.  M

[2017-12-13 13:26] almasaeed2010 commented on #215
Hi @spficklin

Thanks for the response!

I agree that `chado_db_select` was causing the max_connections error but there might be a different reason for the memory leak which is caused by the cache issue as mentioned above https://github.com/tripal/tripal/issues/215#issuecomment-351108769

Thanks

[2017-12-13 19:36] bradfordcondon opened #222 "biomaterial contact field does not allow editing"
### Update

the field allows editing.  It does not allow submitting null.

###  Problem

Manually editing a biomaterial causes an SQL error.  Supplying a null contact gives this error

[code]

biomaterial doesnt require biomaterialprovider_id so this should work.

On the other hand, if we specify our contact (theres a stock null contact, Mr. "not provided", who has contact entry) we get this error

[2017-12-13 20:07] spficklin commented on #202
@abretaud In response to the question you posted on pull request (issue #211).   I have added some additional elements to the arrays provided by the elementInfo().  Each element now will include: 'required' (can be true/false), 'readonly' if when during create/update operations the field cannot be set, and 'type' to indicate the type of field.  The type field uses the XSD Schema Types (e.g. xs:str

[2017-12-14 07:25] stevewgithub opened #223 "Anonymous users get access denied to organism node. Others are fine."
Drupal 7.56, Tripal 7.x-2.1

When an anonymous user clicks on the organism http://int-cowpea.org/?q=organism/Vigna/unguiculata
They get access denied.  Administrator can get in fine.
The home page works fine for anonymous users, and the "Group Photo" node is fine.
All of the links on the other tabs (Initiatives, Other links) work fine.  It looks like only the organism type of node that doesn't wor

[2017-12-14 15:34] bradfordcondon commented on #223
Hi,

I'm going to start with a super simple suggestion.

Have you verified that the organism node is published?

![screen shot 2017-12-14 at 10 34 09 am](https://user-images.githubusercontent.com/7063154/34000115-5b29da08-e0ba-11e7-976c-5a57f0cade4c.png)

Look for the publishing options tab at the bottom of the organism node when editing.  Let's verify its checked first.

[2017-12-14 15:43] bradfordcondon opened #224 "Analysis prop chado fields"
Hi all,

This issue relates to collapsing analyses into one bundle.  Right now we have one Chado Property field, `analysis_type`.  I set it to required, great.

Each analysis type had lots of props that it set in the analysisprop table.  The unigene type set the `analysis_unigene_num_contigs` property, for example (we had a view that populated based on these props but I realize future loaded data

[2017-12-14 17:04] bradfordcondon commented on #150
@spficklin I'm tryin this now, but what about the `module_name.fields.inc` file?

![screen shot 2017-12-14 at 12 04 38 pm](https://user-images.githubusercontent.com/7063154/34004835-fc5381b6-e0c6-11e7-84e7-e1739131d302.png)

[2017-12-14 17:50] abretaud commented on #179
Thanks, it looks great!
Is there a specific reason why you use a db_select instead of writing `$bundles = tripal_get_content_types();` (just curious!)

[2017-12-14 17:51] almasaeed2010 opened #227 "Syntax Error"
Hello,

https://github.com/tripal/tripal/blob/35cca6ed938d0e944ee48a54345bd0f506d40a92/tripal_chado/includes/TripalFields/obi__organism/obi__organism.inc#L276

The parenthesis here should be removed :)

Thanks!

[2017-12-14 17:51] abretaud commented on #197
Thanks, it's ok now

[2017-12-14 17:51] #197 closed, assigned to shawnawsu

[2017-12-14 21:35] spficklin commented on #227
Oops, this should be fixed now in the development branch.

[2017-12-14 21:35] #227 closed, assigned to nobody

[2017-12-15 02:31] risharde opened #228 "PDO Exception errors in Tripal 3.0 dev"
Running on Drupal 7.56 and Tripal 7.x-3.0-rc2+63-dev

The following error message is displayed when trying to edit ANY Chado Views Integration table choice

PDOException: SQLSTATE[22P02]: Invalid text representation: 7 ERROR: invalid input syntax for integer: "views-integration" LINE 1: SELECT * FROM tripal_views WHERE setup_id = 'views-integrati... ^: SELECT * FROM {tripal_views} WHERE setup_id =

[2017-12-15 07:42] spficklin commented on #202
Okay, so I closed out pull request #211 because I handled the POST for web services a bit differently.  Here's what I did:

1)  I added a new API function named tripal_insert_entity().   This function is meant to be used for creating a new entity.  You pass it the bundle name (e.g. bio_data_1) and an array of field values.  The field values array is an associative array. See the function's documen

[2017-12-15 08:01] stevewgithub commented on #223
Yes it's published, promoted to front page, and sticky.  It shows on the front page.  You can go there yourself and see it.  Then click any of the links: "read more" above it, "Vigna unguiculata (cowpea; niebe, blackeye, blackeyed pea)", or the [more] link under the paragraph.  Access denied.

[2017-12-15 10:54] abretaud commented on #202
Thanks for your work! It looks much cleaner like this

The array produced by `tripal_get_bundle_details()` looks great. Where could we expose the result of this function in the REST API?

`tripal_insert_entity()` looks great too!

I've made #229 to fix a few warnings I found while testing.
I'm not sure https://github.com/tripal/tripal/pull/229/commits/786f6b7eab559c53fb0d20df24add41b828720b1 is th

[2017-12-15 13:36] bradfordcondon commented on #223
OK in that case I think the issue is somewhere on your permissions page.
You've clearly done a lot of troubleshooting there with all the extra modules.  You might try disabling them to get back to basics, as it should work without those modules.

 Can you search the page for "organism" and make sure that every instance of it is enabled for anonymous users?  On my site I have a Tripal Organism subs

[2017-12-15 14:54] bradfordcondon opened #230 "migrating organism loses image"
Not sure if this is the same/related to #171 but creating an organism and migrating it will lose the image.

[2017-12-15 15:45] bradfordcondon opened #231 "biomaterial dbxref issues (sbo__database_cross_reference)"
This field is behaving very strangely with biomaterials.  I'm trying to resolve this issue on hwg: https://github.com/statonlab/hardwoods_site/issues/31

So in short only one cross reference is showing up.  edit-> this is because only _dbxref entries are hsowing up, not hte foreign key in the  biomaterial table itself

Testing on my dev instance...

a) setting it during manual creation does not st

[2017-12-15 16:05] bradfordcondon commented on #231
Yep.

Which raises the question, do i patch this field that wants to be for linkers, or create a new field?

I think it should be its own field: primary dbxref.  I can fix the display easily enough but it won't fix the widget.  I'll implement it in the biosamples module but try and make it generic for other tables that have an additional dbxref column

[2017-12-15 16:14] stevewgithub commented on #223
That was easy.  I went to permissions for Tripal from the modules page, and enabled permissions for viewing organisms.  Problem solved.  Thank you.

[2017-12-15 16:14] #223 closed, assigned to nobody

[2017-12-15 17:18] spficklin commented on #230
Hmmm... @chunhuaicheng might have some insight.  We specifically worked to make sure this didn't happen.  Maybe there's a bug that got introduced later....

[2017-12-15 17:19] bradfordcondon commented on #231
### Conclusion:
This is a case where our website was not using the `dbxref_id` column of the biomaterial table as intended.  It is not a Tripal issue.

### Reasoning:
The `biomaterial_id` should be used for **internal** accessions only.    We need to move our "primary" dbxrefs to the biomaterial_dbxref table.

[2017-12-15 17:19] #231 closed, assigned to nobody

[2017-12-15 17:28] spficklin commented on #202
The web services use the W3C Hydra vocabulary to make it discoverable.  Part of that discoverability is the API documentation which is provided in JSON for a client application.  You can see what that looks like on our demo site at this link:

http://demo.tripal.info/3.x/web-services/vocab/v0.1

Each content type has a "Class" stanza in the returned JSON will all of the fields listed as properties

[2017-12-15 18:47] bradfordcondon opened #232 "chado_taxonomy tree importer requires analysis"
Checking the create tree box does not allow an analysis to be selected, and i get the following error
[code]

[2017-12-18 10:28] risharde opened #233 "Searching views does not always work"
Hi Stephen, so I upgraded to the latest development version + patched drupal + patched views

Cannot search the name field by creating a filter in views. Not sure if anyone else is experiencing search issues that could shed some light on why this is happening?

[2017-12-18 16:50] spficklin commented on #233
@risharde can you provide more details about what you tried and what behavior you were expecting?  What content type are you trying to use with views?

[2017-12-18 16:51] spficklin commented on #232
Odd.  We specifically took out this requirement or Tv3 and we have tested loading without out it.  Do you have the most recent version of the development code?

[2017-12-18 16:52] spficklin commented on #228
Okay. Thanks for pointing this out. We'll get it fixed.

[2017-12-18 16:54] bradfordcondon commented on #232
I just pulled 7.x-3.x, reran the importer, and still have the error.

[2017-12-18 16:58] spficklin commented on #224
HI @bradfordcondon I'm not sure I understand the first bullet point about the FASTA loader as analysis properties aren't loaded via the FASTA loader...  Can you clarify?

There really isn't an "analysis" loader for Tripal.  Usually the analysis is required to already exist and if there are any properties added via loaders it's to the other data types.

Also, you don't have to lump all analyses int

[2017-12-18 17:01] risharde commented on #233
Thanks for your response Stephen! Tripal Content Type 'Contact'
In particular, when trying to Add a filter in Views by Contact Name and making this filter exposed for users to choose how they want to search Contact Name, it doesn't seem to work - no records are returned. I'll send you a link via Slack so you can perhaps see the issue since I'm unable to describe it any better.

[2017-12-18 17:02] spficklin commented on #222
By default there is a null contact in the contact table for this purpose.  I'm not sure why Chado requires a contact and then adds a NULL contact, but that's the way it is.  The same is true for the NULL pub record.

The error message you're getting sounds like your query just didn't find the NULL contact record....  Are you sure it's using the right values to query?

[2017-12-18 17:04] spficklin commented on #221
Hi @risharde I'm going to mark this one closed after our online discussion about it.  As there's too much to explain here for anyone that comes afterwards I'm not going to attempt it.  Re-open if you want to discuss further.

[2017-12-18 17:04] #221 closed, assigned to nobody

[2017-12-18 17:09] spficklin commented on #233
Okay. we may have a bug here.... can you try a search with instead of "Contains" as the operation to "is equal to" and enter the full contact name?

[2017-12-18 17:11] risharde commented on #233
Is equal to seems to work
Starts with and contains don't seem to work

Length is shorter than gives the following error as well
Error: Call to undefined method tripal_views_query::placeholder() in views_handler->placeholder() (line 604 of /var/www/Drupal/sites/all/modules/views/includes/handlers.inc).

[2017-12-18 17:12] spficklin commented on #233
Okay, we have a bug then that we have to fix.... We'll let you know when it's resolved in the development branch.

[2017-12-18 17:13] risharde commented on #233
Thanks Stephen!

[2017-12-18 17:18] risharde opened #234 "Cannot access type_id field in Contacts"
Trying to filter chado table 'contacts'  by 'type_id' via Views
However, there is no type_id in the Tripal Content Type 'Contact' that returns the relevant data which is usually Person or Organization and therefore no filter on the Views side to do filtering either.
The Contact Tripal Content Type doesn't have any field 'type_id', is this also a bug?

[2017-12-19 03:04] spficklin commented on #234
@risharde I have pushed a fix to the development branch that should fix this problem for you.  There was a bug in that this field wasn't being added.   To get the type field to show up you will need to do the following:

1)  Update the code to the most recent development verison
2)  Go to Admin > Structure > Tripal Content Types  and click 'manage fields' for the Contact content type.
3)  Click th

[2017-12-19 08:55] risharde opened #235 "Boolean search as an editable view or block"
Is there a way to edit the 'view' that returns results when using the find/publications boolean search feature? Need to customize the search results and add other filters to it. Not sure this is possible or if this would fall under a feature request

[2017-12-19 08:55] risharde commented on #234
Great Stephen, thanks a lot, will test and let you know

[2017-12-19 14:14] bradfordcondon commented on #224
I think you understand the issue in general:  there are lots of properties that the individual analysis types used to utilize.   I thought maybe the loader could modify the analysis properties, but based on the rest of your message, it sounds like the correct approach is to re-create the analysis subtypes.

I had not tried creating a content type that didn't represent all entries in the table so h

[2017-12-19 14:33] bradfordcondon commented on #224
While I'm at it, to do this programmatically, when defining the bundle, we set the Storage Args array to:
`type_linker_table` => the prop table (analysisprop in this case)
`type_column` => `type_id`
`type_id` =>   the CVterm ID for the type_id (in this case, analysis_type)
`type_value` => the text value associated with this content type (in this case, analysis_unigene)

Turns out all of this is al

[2017-12-19 14:50] bradfordcondon commented on #224
@spficklin  I have two questions that stem from doing this:

* How do we change existing Analysis entities to their newly defined subtype?
* How do we allow migrating tripal 2 analyses to the new subtype?  We would need to hook into migration, right?  Adding the migration to core is problematic because that site might not have the subtype installed....

[2017-12-19 21:53] spficklin commented on #224
Hi @bradfordcondon, it's not possible to change an existing content type.  But you can leave it for now and create your new analysis content types and when you're happy with the new pages you can remove the old analysis content type.  They can live side-by-side even if they are using the same data (weird but true).

Here's some example code for programmatically creating a content type using a prop

[2017-12-20 13:28] risharde opened #236 "Cannot display field using Manage Displays for custom Chado data"
Hi Stephen, experiencing an issue I cannot wrap my head to resolve. It is regarding the Contact Tripal Content Type. I'm seeing the field 'Topic of Interest' which is tied to what seems to be a custom cvterm name known as 'topic of interest'. The term was added to the field settings via the manage field area. On the manage display, I have made this field visible. Unfortunately, it's not displaying

[2017-12-20 14:08] risharde commented on #236
Was able to get the data to show, apparently it was the wrong display (default). Had to select Full content. However the error message still shows up on the page so still maybe a small 'bug'

[2017-12-20 14:30] almasaeed2010 commented on #236
@bradfordcondon is traveling today but I think he  almost understands this issue

[2017-12-20 14:37] bradfordcondon opened #237 "Adding fields via library"
Hi I commented in  #150  but can't reopen the issue so I will ask here:

I've defined a field in `sites/all/libraries/TripalFields/my__field_name`  Tripal does not find the field.

For a module, I would have a `module_name.fields.inc` file that declares and attaches my fields to my desired bundles.  Do we do that here?  If so how?  If not, what am I doing wrong?

![image](https://user-images.githu

[2017-12-20 14:39] risharde commented on #236
@almasaeed2010 Thanks for the info!

[2017-12-20 14:51] bradfordcondon commented on #236
Did you create the topic of interest field as a chado property for your bundle?  Or Tripal did?

 I imagine you have a contactprop set with the cvterm = topic of interest for one of your contacts.  Is that right?  The problem is that you don't have a matching Cvterm for topic of interest.
This is the line that is giving the error:
`    $cvterm_id = $cvterm->cvterm_id;`

I would first double check

[2017-12-20 18:49] spficklin commented on #237
Hi @bradfordcondon .  You will want to use the libraries folder for fields that users can add to the GUI themselves or for updated widgets/formatter classes.  Tripal should find those automatically.   If you want the field programmatically added then the only way to do that is with a module.  Which makes sense because then it becomes a single installable package (you get fields and they get added

[2017-12-20 18:50] spficklin commented on #234
Let me know if this works and we can close out the issue.  Thanks.

[2017-12-20 19:03] spficklin commented on #236
The code on line 81 of the chado_linker__prop:load() function is trying to get the CV term from the database.  It's failing to get it and causing this error.  Are you sure you have the CV term set for the field and that the CV term is in the database?

[2017-12-20 20:06] bradfordcondon commented on #237
Right I agree.

I thought Tripal hadn't discovered my field, I couldn't find it in the dropdown (add existing field).  It appears there now, although It's not a fair test because I defined it in a module and then moved it to library.  I'll close the issue and reopen if my field isn't discovered in the library folder.

[2017-12-20 20:12] spficklin commented on #237
Just to check, was your test successful?  Were you able to see the field after deleting it and moving the code to the libraries/TripalFields folder?

[2017-12-20 20:23] bradfordcondon commented on #237
Yes I removed the field and reattached it, with it only defined in the libraries folder.  Still, the field is stored somewhere right? Because if i delete the TripalFields library folder (and have no `ero__nucleic..` field defined anywhere), I continue to get this error:

`Notice: Undefined index: ero__nucleic_acid_library in field_ui_existing_field_options() (line 1545 of /Users/chet/UTK/tripal/mo

[2017-12-20 21:10] spficklin commented on #237
If you remove the code but still have the field attached to a content type then that doesn't get rid of the field to Drupal.... It just gets rid of the code.  You must first remove all instances of the field from all content types.  I believe that will get rid of the the field.  But if it doesn't, you can delete it from the field_config and field_config_instance tables of Drupal.

After you add th

[2017-12-20 22:21] bradfordcondon commented on #224
Hi Stephen,

thanks for the thoughtful reply.  For now I'm implementing the types manually...

How can I migrate my tripal 2 analyses to my new tripal 3 subtype?  I dont see my new bundle appearing as an option under migration.

if i can't change the type of an entity then presumably I need to migrate them from the v2 type still, right? Is there a different way of populating the entities im not th

[2017-12-21 14:08] bradfordcondon commented on #224
@spficklin I am thinking the migration code needs to work more like features here.    Analysis is hard-coded in to migrate analysis 1:1 to analysis.

What do you think?  Is there another way to populate my analysis_unigene entity?

[2017-12-21 15:54] risharde opened #238 "Attempting to update contact gives error and so contact does not get updated."
Attempting to edit the details of a contact results in the following error message. Unfortunately the contact data is not updated due to this error.

Error:
Could not save the entity: SQLSTATE[23505]: Unique violation: 7 ERROR: duplicate key value violates unique constraint "contactprop_pkey" DETAIL: Key (contactprop_id)=(10) already exists.
Cannot save entity

[2017-12-21 17:00] chunhuaicheng commented on #230
It seems the 'Cross Reference' field is causing trouble saving organism but I need to confirm this is the culprit. Could you try removing that field (aka. organism_dbxref) and see if the images get migrated?

[2017-12-21 17:16] bradfordcondon commented on #230
I deleted the field, deleted the migrated tripal 3 entity, and remigrated.  I get this error with the organism not migrated:

[code]

[2017-12-21 17:17] bradfordcondon commented on #230
Trying again:

[code]

[2017-12-21 21:39] bradfordcondon commented on #237
I'm not sure what to say, my library-defined field is not discovered on a new site.
I cloned my field into `libraries/TripalFields`, have the libraries module discovered, and cleared the cache (several times).  Have the latest tripal 3 dev branch. My new field doesnt show up in "add existing field".

It's odd to me that once the field was discovered via a module, it could be found again in the lib

[2017-12-21 21:42] bradfordcondon commented on #237
similarly, if I add a new field to the libraries folder (on my original dev site, where the field is discovered but had been enabled originally in a module).... the new field cannot be discovered.

edit:  could the problem be my term isnt in the database? shoot i bet thats it.  edit: no apparently not.... thought for sure that would be the problem.

[2017-12-21 22:28] bradfordcondon commented on #237
https://github.com/statonlab/ero__nucleic_acid_library.git   heres the field if someone else wants to try adding it, the problem could possibly reside with the field itself (even though the field functions within a module?)

[2017-12-22 02:42] chunhuaicheng commented on #230
I'm afraid when you delete the organism entities, you might also delete the underlying chado organism record. Can you try it on a site that organisms have not been migrated? (i.e. remove 'Cross Reference' fields, and clear the cache with 'drush cc all' after migration)

If you really want to migrate organisms the second time, you should delete the  'Organism' entity type instead of the organism en

[2017-12-22 15:32] bradfordcondon commented on #230
I don't think Tripal ever deletes the underlying chado data on principle

I booted a fresh site.  Deleted the cross reference field from organism, cleared the cache, and migrated a tripal 2 organism.

The resulting entity does not have its image associated.

I did get this error during migration:
[code]

[2017-12-22 15:43] bradfordcondon opened #239 "Choosing fields during collection creation"
### Problem

Users don't know necessarily what fields they need to select to generate a given file.   For example @almasaeed2010 created thisFASTA file.  Edit: he did in fact select the sequence field, but it did not show up.  It does show up in the CSV.

[code]

### Discussion

On the one hand the FASTA downloader could handle the error checking (it does appear to so not sure why the above file w

[2017-12-22 15:50] chunhuaicheng commented on #230
hmm... I'm not sure what went wrong. I can't reproduce the error on my machine. Could you try the second method with 6 steps listed above now and see if you get the same error message please?

[2017-12-22 16:40] bradfordcondon commented on #230
nm parallel

[2017-12-22 16:50] almasaeed2010 commented on #239
Hi all,

We also noticed that when a collection job fails, there is no way for the end-user to find out. It currently continues to say `waiting...` even after the job quits.

Thanks!

[2017-12-23 15:48] risharde commented on #238
After further checking, it seems the contactprop_contactprop_id_seq index is showing a value of 40 when there are more items than that in the table. It seems the index became out of sync. Not sure how. Still determining whether it is safe to perform a reindex.

[2017-12-23 17:01] laceysanderson commented on #238
Hi @risharde,

You can easily reset the sequence by first determining what the maximum id already used is:
`SELECT MAX(contactprop_id) FROM chado.contactprop;`

Then just use the result of that query to update the sequence as follows:
`SELECT setval('contactprop_contactprop_id_seq', [max contactprop_id+1]);`

You shouldn't need to do anything on the Tripal side of things thanks to the constraints

[2017-12-23 17:47] laceysanderson commented on #239
I'm also tempted to add the "bug" tag for

and

but I figure we'll wait and see what the discussion brings up.

[2017-12-23 17:51] laceysanderson commented on #238
Also, if you happen upon what caused the sequence to become out of sync, I'd love to hear it! Unfortunately/fortunately it happens so rarely and usually unexpectedly that it's hard to debug.

[2017-12-23 17:59] laceysanderson commented on #237
I had hoped maybe you had switched the `$no_ui` option in the field definition (https://github.com/statonlab/ero__nucleic_acid_library/blob/master/ero__nucleic_acid_library.inc#L79) as this would cause it not to be shown in the drop-down. However, as you can see in the link, that was not the issue. 👍  Adding the comment for others ending up at this issue :-).

[2017-12-23 20:56] laceysanderson commented on #217
Hmmm... chado_linker__contact only attaches when [tablename]_contact exists. In this case arraydesign_contact doesn't exist so it shouldn't be attached. See https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/includes/tripal_chado.fields.inc#L470. Can you confirm this is the case by looking at the "Manage Fields" display?

[2017-12-28 18:48] risharde commented on #238
Hey Lacey, sorry for the delay in responding, thanks for the suggestion, that did work but now when trying to add a new contact, I get another similar message:

Could not save the entity: SQLSTATE[23505]: Unique violation: 7 ERROR: duplicate key value violates unique constraint "chado_bio_data_8_table_record_key" DETAIL: Key (record_id)=(12272) already exists.
Cannot save entity

I cannot determin

[2017-12-28 18:51] risharde opened #240 "Chado fields widget to hold multiple values?"
Hi guys, so it seems Chado fields show up as text fields on edit or create forms. This however poses a challenge because sometimes we want multiple values in a field. Can chado field be extended to cater for such a situation?

[2018-01-02 13:15] bradfordcondon commented on #230
Hi @chunhuaicheng I followed your 6-step instructions and my organisms did not migrate with images.

[2018-01-02 13:46] chunhuaicheng commented on #230
Thank you for trying Bradford. I have no clue what's causing the problem at this point. Could you provide a Postgres db dump so I can try it with your setup please?

[2018-01-02 13:52] bradfordcondon commented on #230
sent via slack:

https://files.slack.com/files-pri/T5DR44C9Y-F8M2K2EN6/download/1-2-18_dump.bak.zip

[2018-01-02 16:18] bradfordcondon opened #241 "Migrating analysis subtypes and switching entity types"
It would be great if analyses could migrate like features migrate.  The features table has a type column, so the migration just uses the cvterm in the type column as the Cvterm for the entity to migrate to.
Unfortunately analysis has no such column.  Instead analysis type is set by the `analysis_type` prop, and should be equal to the module responsible for the type.  I don't know how consistent th

[2018-01-03 02:37] chunhuaicheng commented on #230
Thank you for providing the DB dump. I've committed a fix for the bug. Could you pull the latest code (7.x-3.x) and try again please? You can simply remove and add back the 'Organism' content type, then perform the migration. You don't need to delete any field or clear cache now. Please let me know if there is still a problem.

[2018-01-03 14:19] a2htray commented on #186
thanks for resolving, but i need it working with the chado_search that it is not compatible with 3.x

[2018-01-03 15:32] bradfordcondon commented on #240
Short answer is yes.  Below is the Analysis content type, with the Cross reference, Annotations, and publication fields, all of which allow multiple values.

![screen shot 2018-01-03 at 10 31 07 am](https://user-images.githubusercontent.com/7063154/34526679-3956d4aa-f071-11e7-829d-652fc697a8d9.png)

[2018-01-04 16:11] bradfordcondon commented on #230
Issue is resolved.  Thanks a lot!

[2018-01-04 16:11] #230 closed, assigned to chunhuaicheng

[2018-01-04 21:01] bradfordcondon opened #242 "PDO exception on editing a cvterm"
### Error

[code]

### Solution
the edit url:
http://localhost:8081/organism/226#overlay=admin/tripal/loaders/chado_vocabs/chado_cv/12/cvterm/edit/2789
Pretty sure the arguments are off by and is easily corrected by shifting the page arguments down for `  $items['admin/tripal/loaders/chado_vocabs/chado_cv/%/cvterm/edit/%']`

[2018-01-05 16:35] bradfordcondon commented on #241
I made a dinky module that convert tripal 3 analyses  that are unigene to new entity types: Transcriptome and Genome.

https://github.com/bradfordcondon/tripal_manage_analyses

There are other analyses that I need to convert so ill probably wrap them in here as well.

I don't know about the utility of converting entities in general: in theory migration is fine (just in this case, we had manually m

[2018-01-06 01:11] risharde commented on #240
Hey @bradfordcondon, thanks for the response, do you know how to enable a field to be multifield? I know you answered yes, trying to determine if there is a procedure to do this, could you advise me on this?

[2018-01-06 17:27] bradfordcondon commented on #240
It is going to depend on the field.  If the field maps to a column in Chado (which is the case with many default fields), then it cannot be multifield (because theres just a single column).  The fields I showed you all go through a linker table in Chado and therefore allow multiple values.  Chado property fields also allow multiple values: if you want to define a field using the GUI, this is the r

[2018-01-08 02:01] a2htray opened #244 "multiple landmarks exist with the name?"
The landmark 'scaffold10829' has more than one entry for this organism

![image](https://user-images.githubusercontent.com/12782530/34656866-c219dea8-f45a-11e7-9705-8315cc7430e8.png)

[2018-01-08 02:36] a2htray commented on #186
@shawnawsu ，i had try to using the 7.x-3x branch, also had the same problem

[2018-01-08 17:29] spficklin commented on #186
HI @a2htray.   I'm not sure I understand what you mean when you say you need it to work with chado_search?  Do you mean you need the fix ported to Tripal v2.x as well?

[2018-01-08 18:18] spficklin commented on #244
Hi @a2htray .  The underlying feature table of Chado into which the data from the GFF file is loaded requires that every feature have a name, organism and type that is unique.  So, for example, you can have two features named 'scaffold0829' for the same organism but only if they have two different types (e.g. scaffold and contig).  You are receiving this message because you have multiple entries f

[2018-01-08 18:32] spficklin commented on #240
Hi @risharde can you tell us what Chado field you are hoping to display as a non-text field?

[2018-01-08 18:36] spficklin commented on #241
@chunhuaicheng and I have spoken about creating some API functions to allow an extension module to migrate their own content.    We had to make a decision about migrating analyses that was generic because we just don't know how someone may want to make their analyses available, and for sites that are new that don't have analyses we don't know what kind they will have so, for consistency Tripal mig

[2018-01-08 18:38] spficklin commented on #241
Oh, I don't see a problem with having a module that converts a content type or perhaps splits one later after it's already been created.  Someone created a very similar thing for Drupal node types.

[2018-01-08 18:42] spficklin commented on #235
Apologies for the slow reply.  The end of the year is a bit overly busy!

The find/publication tool was added in Tripal v2 because we could not get Drupal Views to provide a very good search tool for publications.  The Chado pub table that stores publications is a bit problematic in that some properties are built into the table while others are expected to go in the pubprop table.  With Tripal v3

[2018-01-08 18:50] spficklin commented on #238
Hi @risharde.  If you haven't created too many contacts or invested to much effort into creating that content type you may want to delete it and recreate it.   Tripal maintains a chado_bio_data_8 table for mapping your contact entities in Drupal to the record in Chado.  Somehow the values in that table are mismatched still.  So, the easiest thing may be just to delete the 'Contact' content type an

[2018-01-08 19:33] spficklin commented on #237
Hi @bradfordcondon.  Are you sure you want the field to appear in the 'Add existing field' drop down?  That gets used if you have already created the field (say for another content type) and you want to re-use it on another one.  Perhaps what you're looking for is for it to appear in the 'Add new field'?  Can you describe the behavior you want for this field?

I downloaded and tested your field an

[2018-01-08 19:34] spficklin commented on #237
BTW... for your field you'll want to add the chado mapping settings. Here's a diff:

[code]

[2018-01-08 19:48] bradfordcondon commented on #237
In this case it should attach to organism.  But right now I just want Tripal to find the field!

Also, how would I attach it to organism, when thats done in the `fields.inc` file within the module?

So just to confirm: you didnt add any additional code ie a `fields.inc` file?  You cloned into your TripalFields folder within your libraries folder, and it just worked?  I don't understand why I can't

[2018-01-08 20:55] srobb1 commented on #212
Hi,

I figured this one out. It looks like the relations do not affect the filter if the db table for content type of the view is not the table with the refined list of terms. I had to use form_alter to populate the dropdown list. It is working nicely now.

[2018-01-08 20:55] #212 closed, assigned to laceysanderson

[2018-01-08 20:56] srobb1 commented on #172
I think I have this all worked out.

[2018-01-08 20:56] #172 closed, assigned to nobody

[2018-01-08 21:06] srobb1 opened #245 "custom content type with properties unable to add new props on edit"
Hi.
I have been making good progress with a new custom module with a new content type. I think I am almost done with it. It has properties and they get added nicely. BUT, when I edit a new record, I am unable to add more properties. I can remove any that already exist.  When I click the Add button, I get a very nondescript ajax error. Any pointers on how to debug something like this?

I probably s

[2018-01-08 21:14] risharde commented on #238
Hey Steven and Lacey, after doing the seq updates, this seems to have been solved. Thanks to all of you guys for the help!

[2018-01-08 21:14] #238 closed, assigned to nobody

[2018-01-08 21:18] risharde commented on #240
Hey @spficklin  and @bradfordcondon , thank you for your assistance with the issue. I was able to get multi field going partially for the chado field which is research topics and also genus. It seems that for some reason, these fields were drupal fields as opposed to chado fields which caused it to show up as single text boxes. Now that I've go to the point of seeing the add 'Add another item' but

[2018-01-09 18:00] bradfordcondon opened #246 "Managing field display settings gets very slow"
## Issue
Configuring the display of fields for a bundle is prohibitively slow.  Every single transaction takes 15 minutes currently.  This means adding a new field and arranging it can take an hour of waiting easily.  (Side-issue: dragging things around is just broken, usually it autoscrolls to the top of the page.  I can only move a field one space at a time because of this.).

![screen shot 2018

[2018-01-09 19:13] bradfordcondon commented on #246
Our site has become clogged with deadlocks. Something is wrong that is probably not related to this issue: I'll report back when we can figure out the problem and if this issue is resolved.

[2018-01-11 00:33] bradfordcondon commented on #237
I think this is the issue: I was looking for the field in the wrong place!

I'll define a new field and verify this was my mistake and write it up so another thickheaded developer doesn't miss this too

[2018-01-11 03:32] spficklin commented on #240
Hi @risharde. My bio_data/add/8 may not be the same as yours so I can't test it.  Can you post a screenshot?

[2018-01-11 06:30] risharde commented on #240
![1-multifield-addanotheritem-error](https://user-images.githubusercontent.com/33866403/34811432-3b6df8b6-f677-11e7-9a78-40c7cf5289ed.png)

Here's the screenshot, it looks like the Add Another Item button tries to post to /ajax - I'm guessing it should be posting to something else though.

If you need further access, we could reset your password on the dev for you to have a deeper look?

Thanks

[2018-01-11 06:32] spficklin commented on #240
So, one more question.  Is this 'Research Interest' added as a "Chado Property" using the admin GUI?

[2018-01-11 06:44] risharde commented on #240
@spficklin Yes, correct

[2018-01-11 18:37] bradfordcondon opened #247 "hackathon CV: NCIT vs local discussion"
As part of the Controlled Vocabularies breakout session, I thought we'd practice hunting for CVterms for core fields/bundles that still use local.  Turns out most fields are in good shape within core :)

The terms suggested both came from NCIT so I am going to change the issue to NCIT discussion.

## Terms that currently use Local
* contact
* source_data
* project (see chado project)

## Suggested

[2018-01-11 19:00] srobb1 commented on #120
It looks like the OBO record you have is missing the "name: " field. It seems that the author is combining the id and name fields.

Perhaps this line:
`id: CHEBI:15841 ! polypeptide`

could be replaced with these two lines:
[code]

Note:
`id: CHEBI:15841 ! polypeptide` is saying the id CHEBI:15841 has the name polypeptide

See the OBO format doc for required OBO fields:
http://owlcollab.github.io/

[2018-01-11 19:15] taytayp commented on #247
A possibility for **contact** would be using the NCIT term [contact person](https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C25461)

A possible solution for **source_data** could be [data origin](https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C103167)

Will look for some other, non-NCIT solutions,

[2018-01-11 22:15] bradfordcondon commented on #241
Proposed solution agreed with @spficklin  that migration, in the case of analysis,

* Look for the property that analysis uses to assign that analysis subtype
* Migrate to a term that describes that analysis (Bradford will provide the terms)

[2018-01-11 22:21] bradfordcondon commented on #242
@shawnawsu has verified this bug exists

[2018-01-11 22:24] bradfordcondon commented on #190
Thank you Stephen!

For those who are finding this issue:

Crazy but this is how it works!    So...
* Use the GUI to add a chado property.
* Programmatically, just insert the property and check for fields!

[2018-01-11 22:24] #190 closed, assigned to nobody

[2018-01-11 22:39] bradfordcondon commented on #224
We address this in #241

[2018-01-11 22:39] #224 closed, assigned to nobody

[2018-01-11 22:58] bradfordcondon commented on #242
fixed

[2018-01-11 22:58] #242 closed, assigned to nobody

[2018-01-11 23:22] bradfordcondon opened #248 "eimage table not available defining bundle"
I havent looked at the code but how do we know what the chado base tabls are we are going to expose as bundles?

Some users wanted to make an eimage bundle (mage module).

**If you are finding this issue via search:**

Right now we have no perfect way to know if a chado table is a base table or not.   This means we hardcode in a bunch of base tables.
If your table doesn't appear, its an easy fix b

[2018-01-12 00:15] bradfordcondon opened #249 "chado property widget needs work"
* Theres an extra box to start (apparently drupal adds the second one automatically, not Tripal)
* I dont know if setting the cardinality matters: you can keep adding new prop values
* sets one to "delete_me"
* once you add a prop, not a button to remove that prop

<img width="1398" alt="screen shot 2018-01-11 at 7 14 28 pm" src="https://user-images.githubusercontent.com/7063154/34853801-bacb1738-

[2018-01-12 00:22] #232 closed, assigned to nobody

[2018-01-12 03:45] bradfordcondon commented on #248
* Options are created by `chado_get_base_tables` in `tripal_chado.schema.api.inc`
* We hardcode some tables, and then include tables that have a type_id, then try to remove linker tables

[2018-01-12 14:35] bradfordcondon opened #250 "newick loader reroutes to node"
The newick loader menu link brings you to a node, so the loader should be upgraded to a tripal 3 loader.

After converting the loader I realized that there is a command-line drush command.  I assume we want to preserve this?  Can drush instantiate the loader class, or do i need to not put the methods to load the newick tree in the loader class so both the tripal 3loader and the drush loader can ac

[2018-01-12 17:38] bradfordcondon opened #251 "suggestion: issue template"
At the first day of the user's meeting, many people requested the ability to add more information to their issues: they wanted to tag them.   Abdullah suggested writing a github issue template instead.
Check out the issue template [on the react native repo](https://github.com/facebook/react-native/blob/master/.github/ISSUE_TEMPLATE.md) for example.  Basically we just stick a markdown file in `.git

[2018-01-12 17:47] bradfordcondon commented on #248
Added with https://github.com/tripal/tripal/commit/164c2f77c580f7bfd036834bd88efb3d50f22736

closed

[2018-01-12 17:47] #248 closed, assigned to nobody

[2018-01-12 19:29] spficklin commented on #56
This issue is a bit old.  We haven't dealt with it and there hasn't been a lot of pressure to do it.  Tabling this for now.

[2018-01-12 19:29] #56 closed, assigned to laceysanderson, spficklin

[2018-01-12 19:34] spficklin commented on #59
This issue is important for the extension modules but not for Tripal core itself.  So removing from here.

[2018-01-12 19:34] #59 closed, assigned to nobody

[2018-01-12 19:38] spficklin commented on #79
@laceysanderson this is assigned to you. If you think this won't happen perhaps we should close this out?

[2018-01-12 21:32] almasaeed2010 commented on #97
this problem apparently still persists in Tripal2 but not on Tripal3. @mpoelchau is going to attempt to load it using tripal 3 since v2 isn't working.

[2018-01-12 21:36] shawnawsu commented on #60
This request is from 2013 and no followup requests have been made.

[2018-01-12 21:36] #60 closed, assigned to nobody

[2018-01-12 22:02] spficklin opened #253 "Loading OBO without default-namespace"
When loading vocabularies without a default-namespace the following errors occur.  The URL listed as the default namespace gets used as the database name.

[2018-01-12 22:10] spficklin commented on #253
Also, adds a weird entry to the cvterm table where the name is the full accession number.

[code]

[2018-01-13 03:34] laceysanderson commented on #79
I can see the utility for sure but I just don't have the time or personal need to implement this myself *hangs head*. @guignonv this request was made quite a while ago. How are you handling this currently? Have you found an acceptable work around?

[2018-01-13 09:16] guignonv commented on #79
Well, I handle it in two ways: for some records, before calling the bulk loader, I use some DELETE queries on the database and then, the bulk loader will reload removed records or add new ones. For some other types of records, for instance stock_cvterm, I keep all the associated records but change the stock_cvterm.is_not flag instead. For instance, I store in the stock_cvterm table the way biologi

[2018-01-13 14:59] bradfordcondon commented on #247
Thank you Taylor

* I actually dont think contact person is the right term here.

We want our contact term to include contacts that are entire companies.  The contact also may just be an individual, in which case they are not the person acting as a channel between groups.

* Data origin looks pretty reasonable to me (they say "metaphysical source"... which is kind of silly to me?  But if the URI c

[2018-01-15 01:57] bradfordcondon commented on #237
OK-

* Like Stephen pointed out, fields in your library appear under **add new field** not **add existing field**.
* After adding the field, I also got an error.  Returning to the bundle afterwards, the field was not saved.  Looks like we needed to configure the field but couldnt.  Maybe when I update my field stub this will help?

[code]

[2018-01-15 02:07] bradfordcondon commented on #217
Sorry for not getting back on this.

<img width="1409" alt="screen shot 2018-01-14 at 9 01 56 pm" src="https://user-images.githubusercontent.com/7063154/34923940-34e21c6c-f96e-11e7-9535-d8758bd74cae.png">

editing the field i see `chado_linker__contact` so i do think this field does attach?

I do not have an `array_design_contact` table.

[2018-01-16 12:26] chunhuaicheng commented on #241
An API function 'tripal_chado_migrate_tripal_content_type($type)' has been created. It takes one argument that specify the term to be used (see example below) and will create a bundle for the term if it does not already exist. The function will then try to publish all content for the newly created content type.

Example type array:
      $type = array(
        'vocabulary' => 'OBI',
        'acces

[2018-01-16 15:12] bradfordcondon commented on #249
Related bug: AJAX error adding more and more property items
https://github.com/tripal/tripal/issues/240

[2018-01-16 16:20] bradfordcondon commented on #246
I'm closing out this issue: I think it was a symptom of general poor site performance and not tripal.

Discussions with stephen brought to light that writing to watchdog can be slow things down.  I had a couple of broken dbxref links in my site that would raise warnings 20+ times when clearing the cache.  It's possible that these were getting written and causing problems.

[2018-01-16 16:20] #246 closed, assigned to nobody

[2018-01-16 16:47] bradfordcondon commented on #222
Revisiting this.  Submitting works if supplying a valid contact.

Supplying a null contact results in this still:

[code]

I'm confused here:

* Biomaterial's contact_id column (called biosourceprovider_id) **is** nullable.
* is it the user's job to select the null contact?  Or should the field use the null contact if the field's form is submitted empty?

I have two null contacts:  `Not provided`

[2018-01-17 00:32] bradfordcondon commented on #250
resolved in https://github.com/tripal/tripal/pull/252

[2018-01-17 00:32] #250 closed, assigned to nobody

[2018-01-17 00:38] spficklin commented on #253
Adding @srobb1 to this so she knows when this gets worked on.

[2018-01-17 00:54] spficklin commented on #217
Okay, this was a comedy of errors.... Tripal actually has two contact fields. One supports the [base_table]_contact linker tables and another for supporting fields that have an FK constraint directly to the contact table within the base table.   The chado_linker__contact is for the former and the local__contact is for the latter.  But we have made a mistake in that both field use the exact same te

[2018-01-17 01:15] bradfordcondon commented on #217
Thanks @spficklin

What about other fields that require both a FK and linker table?  contacts not the only one.  Will we always propose to use seperate terms?

Manufacturer is[ hardcored for biomaterials right now](https://github.com/tripal/tripal_analysis_expression/tree/master/tripal_protocol/includes/TripalFields/obi__manufacturer) and is missing some calls you've requested elsewhere.  I'll add

[2018-01-17 21:27] bradfordcondon opened #255 "local__is_obsolete field widget prevents creation"
## Description of issue

Cannot manually create libraries, because of the local__is_obsolete field.

## Recreating this issue
a) Migrate a library content type to Tripal 3.  In my case I migrated BAC libraries
b) the local__is_obsolete field will be attached by default
c) Adding to manually create new libraries results in an error
d) The "Is obsolete" box is required but I couldn't find a value th

[2018-01-17 21:57] bradfordcondon commented on #251
I created an example ticket template on my tripal_alchemist page.

[heres when you create a new issue]( https://github.com/statonlab/tripal_alchemist/issues/new)
[heres a blank ticket](https://github.com/statonlab/tripal_alchemist/issues/11) i just filled out

[2018-01-17 22:03] bradfordcondon commented on #232
Fixed at PAG!

[2018-01-17 22:26] bradfordcondon opened #256 "[bug] jobs queue craziness"
I know we're aware of this but I'm making an issue so we can make sure it gets addressed.

jobs accumulate and don't get run.  When you run a job you might learn you have thousands of jobs queued...

running a job today: `2018-01-17 17:58:22: There are 24586 jobs queued.`

there are three culprits:

[code]

If theres some cron configuration we need to set on our sites to prevent this, let's post i

[2018-01-17 22:27] bradfordcondon commented on #256
Sorry I see this is a duplicate with #208

[2018-01-17 22:27] #256 closed, assigned to nobody

[2018-01-17 22:28] bradfordcondon commented on #208
Any update on this?
i had 25,000 jobs this evening on the dev site!  These are the three jobs:

[code]

[2018-01-18 05:29] spficklin commented on #208
Yikes, 25K jobs!  I just committed a fix that should stop this from happening.  If the job already exists in the queue it won't add it again.  When adding a new job you can override this behavior, if you want, by setting the ignore_duplicate parameter to FALSE when using the tripal_add_job() function.    I've tested it and it works, so I'll close the issue, but if you still have a problem please r

[2018-01-18 14:09] bradfordcondon opened #257 "[bug] fatal error: Class 'WebServicesField' not found i"
I think the latest patch @spficklin fixing the jobs queue broke the jobs admin area at  `admin/tripal/tripal_jobs`.

 Visiting there returns

`Fatal error: Class 'WebServicesField' not found in /data/www/html/hardwoods_dev/drupal-7.52/sites/all/modules/tripal/tripal_ws/includes/TripalFields/remote__data/remote__data.inc on line 9`

Same error also prevents cache from being cleared.

[2018-01-18 16:09] bradfordcondon commented on #208
Hi Stephen,

Looking at this with @almasaeed2010 ... it looks like manually calling `tripal_add_job()` wont pass the `ignore_duplicate` parameter.

This is because when the job is created:
[code]

the ignore duplicate would be in $arguments.

But looking at the create method, it checks for ` $details[‘ignore_duplicate’]` and not   `$details[‘arguments’][‘ignore_duplicate’]`

[2018-01-18 16:09] bradfordcondon opened #260 "procedural code for tripal_jobs not updated for ignore duplicate"
sorry for creating a new issue, this is duplicate with #208 .  i just cant open the other issue.

Hi Stephen,

Looking at this with @almasaeed2010 ... it looks like manually calling tripal_add_job() wont pass the ignore_duplicate parameter.

This is because when the job is created:

[code]
the ignore duplicate would be in $arguments.

But looking at the create method, it checks for `$details[‘igno

[2018-01-18 17:01] bradfordcondon opened #261 "Migration issue: duplicate entities created"
## The problem
It's a fairly edge case.  If I migrate a content type, then run [Tripal Alchemist](https://github.com/statonlab/tripal_alchemist/) to convert that entity to a new type... if I migrate again, i'll create a new entity.

The example is Analysis.  Analyses migrate to one type (analysis) and i created Alchemist so i could trnasform analyses to new types (unigene analysis, blast annotatio

[2018-01-18 23:56] spficklin commented on #208
Good catch.  I forgot to extend that argument to the tripal_add_job() function.  I've fixed it.   Although the code in the TripalJob.create() method should be $details['ignore_duplicate'] as the 'arguments' key is meant for arguments that get passed to the callback function and ignore_duplicate is meant for the create function.  This time I'll leave things open until you're happy with it.

[2018-01-19 00:12] bradfordcondon commented on #260
closing this as other issue was reopened.

[2018-01-19 00:12] #260 closed, assigned to nobody

[2018-01-19 03:08] a2htray commented on #186
Hi, @spficklin ,yes, i hope it works well via Tripal v2.x.

[2018-01-19 13:35] bradfordcondon opened #262 "Dynamic Tripal Pane labels"
## Request/Question

Tripal Pane labels that are dynamic and/or can be set by fields.  OR a way to change each organism's tripal pane labels individually.

## Why I'm requesting it

I have two cases so far where I want the Tripal Pane to have a different display name based on properties of the bundle. One is our "Transcriptome/Genome" field attached to organism, which links out to the correspondin

[2018-01-19 14:00] bradfordcondon commented on #241
Here are my term suggestions as promised.

I know the practice is to have the bundle labels == cvterm, but in this case it might be best to use something else.  Largely because the term I found for interpro is so ridiculous....

I know I keep asking this, but are we sure there's no way to build a compound cvterm?  analysis + (term for the database) would do nicely.

Another alternative is to propo

[2018-01-19 14:10] bradfordcondon commented on #241
@chunhuaicheng the addition of `tripal_chado_migrate_tripal_content_type` only partially resolves this issue, because core still migrates analysis subtypes to analysis.  You will end up with duplicate entities: the ones migrated by core to analysis and hte ones migrated via the api call.

My[alchemist](https://github.com/statonlab/tripal_alchemist) module will handle converting entities from one t

[2018-01-19 17:20] bradfordcondon commented on #165
Hi @spficklin @shawnawsu  @almasaeed2010

Bumping this issue, another situation arose on HWG where we wish we had this feature.  When Elasticsearch fails, we want to reload the page and have the elasticsearch box open with a "no results found" message. Very disorienting for the entity to reload in its starting configuration instead of with the elasticsearch pane open.

[2018-01-19 17:25] bradfordcondon commented on #208
looks good to me, thanks Stephen.  I can't close the issue myself anymore lol so please go ahead and close it when you can ready.

e- oops, it was never mine, go figure.  anyway, we're happy so close away

[2018-01-19 19:21] spficklin commented on #262
Hey @bradfordcondon.  Just to make sure I understand.   If you got to Admin -> Structure -> Tripal Content Types, click the content type you are interested in, then find the field and click 'manage fields' link, and on the field you're interested in, click the 'edit' link and change the Label.  Would that resolve the problem?  You could then change the label as needed.

[2018-01-19 19:45] bradfordcondon commented on #262
Hi Stephen:

Unfortunately  no, because when the field is attached to organism X I want the label to read genome, and when the field is attached to organism Y I want the label to read transcriptome.

[2018-01-19 20:07] spficklin commented on #262
What is the controlled vocabulary term you are using?  Does it really cover both?  Should you consider perhaps using two different terms and that would solve the problem.

[2018-01-19 20:16] bradfordcondon commented on #262
That was the solution I did implement.  Two CVterms: one for Transcriptome, one for genome.  I could have more easily implemented a single field: nucleotide assembly, which covered both.  Then have the display change depending on what the field contains.

In the case of a Jbrowse view... I'd need a cvterm for "Jbrowse of a transcriptome aligned to a reference" and "Jbrowse of a genome".   Here it

[2018-01-19 21:16] spficklin commented on #262
I think if you really do want to differentiate then you should use the differentiating ontology term.  Use of the term is where the distinction really lies.  When sharing data between sites, it wouldn't be fair to make the remote site see 'nucleotide assembly' while local user see a difference in the label.  Everyone should understand what that field is regardless if they view it via the web site,

[2018-01-19 21:24] bradfordcondon commented on #262
Pretty fair point I guess.  Thanks for the discussion.

[2018-01-19 21:24] #262 closed, assigned to nobody

[2018-01-19 23:21] spficklin commented on #241
I'm reopening to continue the conversation...

[2018-01-19 23:26] spficklin commented on #261
This is definitely annoying.  However, there's no problems with having two content types that reference the same data.  Tripal can deal with it just fine.  The quick solution is to just delete the unwanted content type after all migration is completed. It's annoying but is a quick fix.  Unless you think this may be a major turn off for folks migrating from Tv2 I'm tempted to put this at the bottom

[2018-01-19 23:28] spficklin commented on #206
Closing as @bradfordcondon fixed this with a pull request.

[2018-01-19 23:28] #206 closed, assigned to shawnawsu

[2018-01-19 23:30] spficklin commented on #257
Fixed with pull request by @bradfordcondon

[2018-01-19 23:30] #257 closed, assigned to nobody

[2018-01-19 23:32] spficklin commented on #251
I'm a bit worried if we complicate adding of issues it may deter folks who may be overwhelmed by a template.  But I don't want to discount the idea.  @laceysanderson any thoughts?

[2018-01-19 23:45] bradfordcondon commented on #261
This is totally fine.... if you aren't using that content type for anything else.  If the content type becomes a mix of stuff you want, and stuff that is duplicated in another type... now that's a headache I'd like to avoid.

It would be OK for hardwoods to consider this low priority.

[2018-01-20 01:34] laceysanderson commented on #251
I think it could be awesome but we would have to be careful not to overwhelm them! I would be tempted to do something like this:
[code]

This way we can give them suggestions which might speed up the debugging process but we're very friendly and clear that all information is optional :-) I would actually be more likely to file an issue if I came across something inviting rather then an empty box.

[2018-01-20 03:19] spficklin commented on #251
Okay, I can be persuaded.   Can we adapt the tripal_alchemist template with Lacey's suggestions and add this text at the top

INSTRUCTIONS: The following template is meant to provide the information that will help other Tripal developers diagnose and reproduce your issue.  Follow the directions below to complete the template.  If the template is not appropriate for your issue you may remove it and

[2018-01-20 03:22] spficklin commented on #261
Oh, can you give an example of how this mix might occur?

[2018-01-20 03:37] bradfordcondon commented on #261
* Migrate analysis content type
* Convert some to the new entity type
* re-migrate (this is an accident, maybe i migrate-all when i meant to migrate a specific entity type)
* Now my analysis entity has a mix of stuff thats duplicated in another entity, as well stuff that i didnt convert that i still want.

Honestly this scenario revolves around accidentally migrating content types a second time, s

[2018-01-20 03:48] bradfordcondon commented on #251
made a basic start of it... i wasn't sure what you wanted from my alchemist draft so let me know...

Ultimately it's just bells and whistles to help issues be more constructive but also encourage people to post who might not otherwise.  If it isn't something that benefits the project no need to include.

[2018-01-20 04:06] #261 closed, assigned to nobody

[2018-01-20 04:08] bradfordcondon commented on #210
- [ ] Analysis FK field (figure out #217) first
- [x] Protocol FK  field #254

I'll track additional FK fields as necessary...

[2018-01-20 04:16] spficklin commented on #261
I'm still not quite following what you mean.  What is the "stuff" that's duplicated and what is the stuff you didn't convert that you want?   All of the fields should be duplicated, right?

[2018-01-20 04:20] spficklin commented on #255
So, I found a bug in the code that prevented the local__is_obsolete or any other checkbox from being shown as a widget when editing a form.  I've committed a fix.  Can you see if that resolves your problem?

[2018-01-20 04:44] spficklin commented on #217
Okay, so here's my suggestion.  We keep the local__contact field, but rather than leave it with the default local:contact term, we programmatically adjust it when we add fields for non linker tables. So we need a CV term for each one.  This way we only need to have one field to handle all of these table columns but each can have it's own settings.

Here is a list of suggestions.  Any objections/ch

[2018-01-20 04:54] spficklin commented on #156
Marking this as closed. If you're still having issues please re-open.

[2018-01-20 04:54] #156 closed, assigned to nobody

[2018-01-20 04:55] spficklin commented on #175
Marking this as closed as well. If this is still an issue for you please re-open.

[2018-01-20 04:55] #175 closed, assigned to nobody

[2018-01-20 05:05] spficklin commented on #143
Fixed in most recent commit.

[2018-01-20 05:05] #143 closed, assigned to spficklin

[2018-01-20 05:06] spficklin commented on #178
Closing this out. If you are still having issues please reopen.

[2018-01-20 05:06] #178 closed, assigned to nobody

[2018-01-20 15:35] bradfordcondon commented on #217
I like that solution.
I like the terms.    communication contact doesn't quite fit:   "A channel for communication between groups".  The field here is for the lab or group who houses a stock collection... how about [owner](https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FNCIT_C42704).  Or [Collected by](https://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri

[2018-01-20 15:53] bradfordcondon commented on #255
Hi Stephen: it doenst show up as a checkbox but as a free text box.  However, now I can create or edit it by submitting 0 or 1.

I tried changing the widget but it still shows up as a free text box after picking, say, single on/off checkbox.  Not sure whats going on here.

[2018-01-20 20:48] spficklin opened #264 "Jquery Update"
The new cv browser requires jquery_update module to work.  Here's an example:

http://demo.tripal.info/3.x/cv/lookup/SO

We could downgrade it to work with default Jquery that comes with Drupal but I was hoping to avoid that work.  Should we require jquery_update module be enable for Tripal?

[2018-01-20 20:50] spficklin commented on #64
These pages were created when the web services were created because local terms needed a URL.  But the pages support all installed vocabularies.  I've just added a tree browser.  Here's an example:

http://demo.tripal.info/3.x/cv/lookup/SO

But, we still need an entry page for all controlled vocabularies (via the 'Controlled Vocabularies' breadcrumb.

I had to add a new materialized view to make i

[2018-01-20 20:53] spficklin commented on #64
@mestato Does this get you closer to the CV tree browser you were hoping to have in Tripal?

[2018-01-21 01:36] spficklin commented on #217
Okay, I'm good with Collected By.  That makes sense.

NCIT provided the best terms for all of these. In general, I try to pick ontologies that make sense for the data being stored.   Most data being stored in Tripal sites is not cancer specific.  But I couldn't find other good alternatives.

[2018-01-21 01:52] spficklin commented on #255
i see what's wrong.  In the feature table the column is_obsolete is boolean but in the library table it's an integer that throws off the field generation.  I've fixed this by forcing all is_obsolete fields to be boolean.  You should be able to remove the is_obsolete field from your library content types and click the "Check for new fields" on the content type page.  This should re-add the field as

[2018-01-21 01:55] bradfordcondon commented on #255
Hi Stephen:

pulled to test and site breaks with this error

[code]

[2018-01-21 01:56] spficklin commented on #247
In reference to this issue #217 I think we have no better alternative than NCIT for the contact FKs.   Tripal sites don't often store cancer-related data and I do try to find ontologies that are more closely related to the data we typically store, but at least for the contact FKs the NCIT terms make good sense.

[2018-01-21 01:58] spficklin commented on #255
Hi @bradfordcondon you'll have to run a 'drush updatedb' on the most recent update.  That should fix the problem.

[2018-01-21 02:02] bradfordcondon commented on #255
duh of course

Great, we've got a checkbox now.  thanks!

[2018-01-21 02:02] #255 closed, assigned to nobody

[2018-01-21 02:12] bradfordcondon commented on #241
I think in #261 we established the duplicate entity issue is annoying but not a deal breaker.

So we can mark it as low priority for core to migrate analysis to the right sub-analysis because Alchemist can handle that.

[2018-01-21 02:12] #241 closed, assigned to nobody

[2018-01-21 02:13] spficklin commented on #264
Nevermind, I fixed the code so it didn't require jquery_update.

[2018-01-21 02:13] #264 closed, assigned to nobody

[2018-01-21 02:44] spficklin commented on #64
I've added a home page for controlled vocabularies.  It's pretty simple and we probably want more functionality but it's there.  I'm marking this as closed.

You can see the full demo here:
http://demo.tripal.info/3.x/cv/lookup

[2018-01-21 02:44] #64 closed, assigned to nobody

[2018-01-22 15:28] #247 closed, assigned to nobody

[2018-01-22 21:52] risharde commented on #240
Hi @spficklin , any update on this one? This is a bit crippling :(

[2018-01-22 22:13] bradfordcondon commented on #237
Hi @spficklin

Specifying the module properly `tripal_chado` does not resolve this error.
neither does having the elementinfo, query, or queryorder method.

after lots of `dpm`ing, my guess is that `tripal_chado_bundle_create_user_field` is executing but perhaps failing silently somewhere.  this is the input parameter in `$new_field`.  Anything obviously wrong to you?

![screen shot 2018-01-22 at

[2018-01-22 22:15] spficklin commented on #240
Hi @risharde. Okay, I've tested adding a Chado Property field onto a Contact content type and I cannot reproduce the problem.   It is supposed to make an AJAX call because Drupal is wanting to add a new form element without reloading the page.  That ResponseText in the error message of your screenshot above is a bit odd.  I've not seen that before.  Can you check your Drupal recent logs and Apache

[2018-01-22 22:34] risharde commented on #240
Hey @spficklin , thanks for the response, I've tested other AJAX related calls and they work fine such as the autocomplete fields but yes, the response is actually from Devel module. I also disabled Devel in hopes it was that but it seems the ajax call itself isn't outputting any data even when devel is off. Only posted here because I've exhausted every possible idea in the book and via the search

[2018-01-22 23:53] spficklin commented on #240
How about your server logs?  Often you can find sources of problems there.  Also, Drupal "recent logs" can be helpful if it's a Drupal related problem.

[2018-01-23 00:16] laceysanderson commented on #237
I don't think you are off base @bradfordcondon. You are correct that the tripal_chado implementation of hook_bundle_create_user_field() only handles prop and cvterm linker fields. I recently had to implement this hook myself to have trpfancy_fields work using the "Add new field" functionality.

I would think we would need to add some generic code to [here](https://github.com/tripal/tripal/blob/7.x

[2018-01-23 02:38] spficklin commented on #237
Yeah, @laceysanderson is right.  We need some generic code to handle fields that aren't attached to modules.

[2018-01-23 16:57] bradfordcondon opened #265 "Tripal 3 migrate: Delete node step spams warning"
### System information

* Tripal Version: 3
* Drupal Version: 7 .57
* PostgreSQL Version: 9.3.2
* PHP Version: 7.0.26

### Issue description

I am currently running the final migration step: deleting tripal content nodes.

The job is currently running.  At every content type the console is spammed with the following warning (1 per content type I would guess?  Enough that I can't scroll up to see a

[2018-01-23 16:59] bradfordcondon commented on #251
well, no one has submitted an issue yet.  i hope thats not because the issue template is intimidating 🤡

Minor suggestion:  Add a "how to get this information" text or at least linkout.  (all of it except OS is available in the drupal system report admin area so i think its pretty user-friendly to ask for this info)

[2018-01-23 17:07] bradfordcondon commented on #251
Abdullah has suggested removing OS from the request: after all, OS is going to be the least frequent offender as opposed to php version.

I like this because then we can say "all information is available in your site's administrator report area.  You can find this in the admin menu at  Administer (or Administration) > Reports > Status report."

[2018-01-23 21:21] bradfordcondon opened #266 "Docs: further explanation of field methods"
I added the elementinfo, query, and queryorder  methods to my protocol field.  [Here's my progress](https://github.com/statonlab/tripal/blob/protocol_extra_methods/tripal_chado/includes/TripalFields/sep__protocol/sep__protocol.inc).  I have some questions.

I'm also sharing the things that i realized i really didnt understand, not just to embarrass myself but with the hopes that we can address the

[2018-01-23 21:48] bradfordcondon commented on #217
@spficklin what do we do in other situations where there is need for both a linker table field and a linker column field?

On my site we use an organism_analysis linker table.  We wrote a really wonky field to query it...  but i realize that a generic organism linker table field would be good.  But we already have the obi__organism linker column field.

I'm looking at chado and trying to predict w

[2018-01-23 22:11] bradfordcondon commented on #217
Analysis is another case.  It's both a foreign key (phylotree, quantification) and sometimes a linker table (analysisfeature?  project_analysis... analysis_pub)

[2018-01-24 04:20] laceysanderson commented on #251
I Love it! Good suggestion 👍

[2018-01-24 08:12] spficklin commented on #217
Actually, now that I think on it a bit more, I don't think we're going to have any conflicts even if the two fields use the same term.  I can't think of any examples where the base table has a contact_id, organism_id, or analysis_id and also has a linker table as well to any of those tables.  So, this means that even though the two contact fields currently use the same term they'll never both be a

[2018-01-24 08:16] spficklin commented on #266
Hey @bradfordcondon rather than answer your question here, I think it might be a good idea to start the document in the Developer's Guide that answers these questions.  Then the answers are accessible to all. Can you wait a bit on answers for us to get that done?

[2018-01-24 08:18] spficklin commented on #265
That's the only message you get.... that strstr() error?

[2018-01-24 12:08] bradfordcondon commented on #265
I'm rerunning today (the job failed because of losing connection to db) and will properly log the console this time:  there were so many they washed away any other errors.

[2018-01-24 12:43] chunhuaicheng commented on #265
A bug was introduced when the Tripal Job API got changed. I've committed a fix. Can you pull and see if you still get the same error?

[2018-01-24 13:01] bradfordcondon commented on #266
Of course.  I'll hold off on further questions until thats together unless you find my misunderstandings helpful in writing the docs.

Also I'm happy to contribute or provide feedback on the documentation, please let me know.

[2018-01-24 13:45] bradfordcondon commented on #265
no change. My previous job had almost finished, so i only had two content types left:  here's the full console output.

[code]

[2018-01-24 18:16] srobb1 opened #268 "Coding sequence (CDS) from alignment not correct"
### System information
* Tripal Version: 2
* Drupal Version: 7
* PostgreSQL Version: 9.2.14
* PHP Version:  5.4.16 (I know I need to upgrade :( )
* Operating System: CentOS7

### Issue description
Has anyone noticed that the CDS sequence derived from the alignment of the mRNA to the genome is not correct? A user just pointed this out to me.

The CDS derived from the alignment is 4 of the correct C

[2018-01-25 14:09] chunhuaicheng commented on #265
hmm... I cannot reproduce this bug. The migration simply calls the 'chado_cleanup_orphaned_nodes()' API function to delete nodes and I didn't get any strtr() warning.

[2018-01-25 17:58] bradfordcondon commented on #268
Ah you beat me to it with your edits: It looks to me like Tripal is accurately displaying the information stored in Chado, is that correct?  If so, we know the problem is with whatever data loader you were using.

[2018-01-25 18:11] srobb1 commented on #268
The data is accurately stored in chado, but is not being displayed correctly.

In my above example, there is 1 CDS feature with 4 distinct featureloc entries. This is correct. The complete CDS does has 4 parts.

What is incorrect is that tripal is displaying the complete CDS 4x.  What i mean by complete CDS (just to make sure we are on the same page) is the 4 featurelocs concatenated into the comp

[2018-01-26 17:10] srobb1 opened #269 "Seeking Advice: Orthologs"
I am looking for information on how anyone is storing orthologs in chado.

Here are some of the ideas I have been thinking about:

- Is it a good idea to store each ortholog as their own feature? This means adding each ortholog's organism as well. Not sure I like this idea.
- Maybe add a property to features, called ortholog and the value can be the accession?
- Just make a custom table with my or

[2018-01-26 17:35] bradfordcondon commented on #269
Hi Sofia,

HWG will be dealing with this soon as well.

In my opinion, it warrants a seperate table.  An ortholog group table.  Then you can have an ortholog_feature table linking a feature to an ortholog group.  Information about the ortholog gorup can stored in the ortholog and orthologprop table.

I do not think storing each ortholog as a feature is a good idea, for the reason you point out.

S

[2018-01-26 17:39] srobb1 commented on #269
Hi Bradford,

Thanks! I was leaning towards your suggested method. I just want to make sure I was not on the wrong track.

[2018-01-26 20:31] srobb1 opened #270 "what should my postgres drupal search_path be?"
Hi,

What should my search_path be in my drupal db?

Here is what I have:

[code]

The reason I am asking, is that I am trying to add a couple of new fields to my user registration form within the manage fields tab (admin->configuration->people->account settings). I keep getting a Duplicate Table error when I hit save the first time.
[code]

When I check my db I see this table in only my chado sch

[2018-01-26 23:30] srobb1 opened #271 "error loading gff: NULL Phase?"
### System information

* Tripal Version: Tripalv2

### Issue description
I have loaded so many GFFs, and have never seen this error before. I am getting an error about a NULL phase. I have a phase. Does anyone see what is wrong with my GFF? I checked the tabs, they are okay.

These are the only lines I am loading:
[code]

Here is my error:
[code]

[2018-01-27 00:00] srobb1 commented on #271
What the heck!! I changed the 0 phase to 1 and now it loads. 0 are valid phases. What is going on here??? And I KNOW I have loaded 0 phases before. I am so confused

[2018-01-27 00:24] srobb1 commented on #271
this fixed it. I am not sure why I didnt have this in my code base already, oh, well it is working now:

https://github.com/tripal/tripal/commit/0a71bba69f3c9b7ae67d2f570718e61cd1361830

[2018-01-27 00:31] #271 closed, assigned to nobody

[2018-01-27 02:51] laceysanderson commented on #270
Mine is:
[code]
And Yes, those tables should be in the public schema. I would drop the table, change the search path and then try again :-)

[2018-01-27 03:10] srobb1 commented on #270
That is what I suspected it should be. How do I permanently change the search_path?
`set search_path to public` only changes it temporarily in the open session.

[2018-01-27 04:03] laceysanderson commented on #237
There. This should work now @bradfordcondon. I found a generic way to set everything but the field cardinality (which I hard-coded to unlimited). Let me know if you run into more issues :-)

[2018-01-27 04:17] laceysanderson commented on #270
I've always done that by altering the search_path for the user connecting to the database (specified in your `sites/default/settings.php` as follows:
[code]

[2018-01-27 04:25] laceysanderson commented on #251
We now have new issues :-)

@srobb1 would you be willing to share your feelings on the new issue template? We'd be happy to get some constructive criticism so we can find the perfect balance of helpful but not intimidating :-) By the way, if you find it easier to be be critical in an email rather then a public forum, feel free to contact me personally (see [my profile](https://github.com/laceysand

[2018-01-27 15:36] srobb1 commented on #270
Great! I will try that. Thank you Lacey!

[2018-01-29 02:23] bradfordcondon commented on #237
Great thanks @laceysanderson

I have the same error but I think it's from having the module set to `tripal_chado`** : my `$function` is still `tripal_chado_bundle_create_user_field`.  I've cleared my cache, checked for new fields etc so not sure why it's still registering at tripal_chado despite me changing my field...

[2018-01-29 02:54] laceysanderson commented on #237
So, just check that I'm understanding correctly: originally you had ` public static $module = 'tripal_chado';` in your field class. However, now you've changed it to something else and you're still receiving the same error?

[2018-01-29 13:10] bradfordcondon commented on #237
Actually I deleted the `public static $module = 'tripal_chado';`  line.   setting it to something else (`tripal_not_chado` naturally) allowed me to create the field.

Thanks!

[2018-01-29 13:10] #237 closed, assigned to nobody

[2018-01-29 18:45] bradfordcondon opened #272 "Tripal 3: time executed parameters?"
Tripal 3 question:

My time executed column only lets me pick a date since 2015.  This is problematic for loading in entries to archive older datasets.

![screen shot 2018-01-29 at 1 44 12 pm](https://user-images.githubusercontent.com/7063154/35528033-8ec731e4-04fa-11e8-87d9-caac98f9da02.png)

I can't find this field  in tripal core, and the field settings dont give me a way to modify the start da

[2018-01-29 18:57] bradfordcondon commented on #268
OK, that makes sense.  Someone else is going to have to weigh in unfortunately, I just am not familiar enough with the tripal 2 code base.

Your issue is clear, the CDS and amino acidsequence is the same sequence 4x, which is happening because you have 4, nonoverlapping entries in featureloc for it.

The question is Tripal is expecting this to be loaded into Chado differently?  Or if Tripal is jus

[2018-01-30 05:07] srobb1 commented on #268
I think I figured it out. I will try to explain, if what I wrote is confusing, I can try again. I made a fix and will submit a pull request. It fixes the derived CDS and does not affect the derivied mRNA.

this query, $sfsql, in tripal_get_feature_sequences [found here](https://github.com/tripal/tripal/blob/7.x-2.x/tripal_feature/api/tripal_feature.api.inc#L272) returns this list of children for o

[2018-01-30 13:40] bradfordcondon commented on #265
It's now clear to me that the cleanup_orphaned_nodes did not run for any of our content, as our site is full of orphaned nodes [like this one](http://160.36.205.61:8095/feature_old/QlobV1.0_scaffold12071_0000210-RA)

We'll see if we can get the cleanup to run and report back.

[2018-01-30 19:32] spficklin commented on #272
Line 919 in the tripal_chado/includes/tripal_chado.fields.Inc file is where the settings for date time fields are set.  I'm not able to dig into it at the moment but I suspect he date range is some field default as it is not set in Tripal.

Are you able to edit the field and change the date range in the field GUI?

[2018-01-30 19:35] spficklin commented on #271
Just curious... What was the fix?

[2018-01-30 19:37] spficklin commented on #269
You might want to pose this question  on the Chado mailing list.  A custom table would lock you into something that may not be used by others and may complicate long term needs such as data exchange.

There was a group module proposed for Chado several years ago.  It may be worth asking about it and see if anyone is using it

[2018-01-30 19:39] spficklin commented on #269
@bradfordcondon has your group discussed this yet with TreeGenes?

[2018-01-30 19:44] spficklin commented on #268
Hey @srobb1. Quick question...  Why does the CDS have multiple locations? Tripal only  expects that a CDS should be in one place.

[2018-01-30 19:49] spficklin commented on #246
Just curious.  Has performance improved?

[2018-01-30 20:25] bradfordcondon commented on #246
Yes.  Fixing the errors that appeared when clearing the cache sped up the site.

Basically inserting CVterms in the database with bad accessions left bad dbxrefs that didn't get changed when the term is overwritten.  Manually deleting these dbxref entries resolved the problem.

[2018-01-30 20:39] bradfordcondon commented on #272
Hi @spficklin -- I looked before and did not find them (honest).  I found them this time around hidden in a fieldset!

So on the bundle settings page, edit the field, and under the bundle specific settings  (the first box) open the fieldset and you can configure the start/end there.

<img width="686" alt="screen shot 2018-01-30 at 3 38 51 pm" src="https://user-images.githubusercontent.com/7063154/

[2018-01-30 20:40] srobb1 commented on #268
@spficklin
MAKER creates a CDS feature per exon but each of these features have the same ID value. I am not sure why MAKER gives each CDS feature (with different locations) of a mRNA the same ID.

[2018-01-30 21:11] almasaeed2010 commented on #265
Just an update on this. We managed to delete the remaining "orphaned" nodes and clear their aliases manually. Apparently, `chado_cleanup_orphaned_nodes()` worked for everything except `chado_feature` and all analyses `chado_analysis_blast` etc.

Thanks!

[2018-01-30 23:03] spficklin commented on #268
This seems odd to me. Can you share a snippet of the GFF file where the CDS uses the same ID and different locations?  I've not used a GFF file in the past that represented CDSs in this way

[2018-01-30 23:05] spficklin commented on #272
Should we set some larger defaults in Tripal for these fields?

[2018-01-30 23:07] spficklin commented on #270
I concur with @laceysanderson. I'm going to mark this closed but comment again if there are still issues

[2018-01-30 23:07] #270 closed, assigned to nobody

[2018-01-30 23:09] mpoelchau commented on #268
@spficklin @srobb1 I'm chiming in here. It's legitimate to represent multiple segments of the same CDS with one ID.

https://github.com/The-Sequence-Ontology/Specifications/blob/master/gff3.md

"In the case of discontinuous features (i.e. a single feature that exists over multiple genomic locations) the same ID may appear on multiple lines. All lines that share an ID must collectively represent a

[2018-01-30 23:12] spficklin commented on #268
Thanks @mpoelchau . How about specifically for CDS features?  It is my understanding that each exon of a CDS should be represented as individual features with their own IDs. This is the way every GFF file that I remeber working with has stored CDS records.

[2018-01-30 23:19] mpoelchau commented on #268
As I understand it, the exon features should be represented as individual features with their own IDs, since they are separate entities. However, CDS features are different in that they collectively represent the entire, continuous coding sequence of their mRNA parent - so the different CDS segments within an mRNA really aren't separate features, but representations of the discontinuous locations

[2018-01-30 23:23] spficklin commented on #246
So how did those bad cvterms get in?  I'm just wondering if this could happen to other folks

[2018-01-31 02:17] cguttai5k opened #275 "Error Upgrading from Tripal v2.1 to v3.0-rc2"
* Tripal Version: 3.0-rc2
* Drupal Version: 7.56
* PostgreSQL Version: 9.6.6
* PHP Version: 5.6.32

While I'm upgrading Tripal v2.1 to 3.0, here are the issues I'm facing

Error 1: Enabled "drush pm-enable tripal"

`php: PDOException: SQLSTATE[42P01]: Undefined table: 7 ERROR:  relation "tripal_bundle" does not exist`

Error 2:  After enabling tripal_chado module

exception 'PDOException' with mes

[2018-01-31 02:39] bradfordcondon commented on #246
Sure.  Steps to reproduce:

* Programmaticaly insert a cvterm (tripal_insert_cvterm), but use the wrong accession.  In my case, I think I goofed and put the term name instead of the accession number.
* Realize your mistake, and update the code.  The tripal insert cvterm will update run again, but leave the bad dbxref associated with it.

So, people will only have this problem when coding custom fi

[2018-01-31 02:45] bradfordcondon commented on #272
I set mine to 20 years in the past, to the present.  The UX is pretty easy for picking a date, we're confronted with setting our birthday from a dropdown where the option is 1900-2017 pretty regularly.  I think it's ok to start at, say, 1990, and go till present day.

 don't know what the use case is for the future date (ie 2019).

[2018-01-31 02:58] srobb1 commented on #268
Thank you @mpoelchau for clarifying my very awkwardly worded comments :)

@spficklin  You asked to see a few lines of GFF containing the CDS with one ID. This is straight from MAKER.
[code]

Multiple features having the same ID is true for five_prime_utr and three_prime_utr features that span exons. Here is a gene that has 2 five_prime_utr features with the same ID.
[code]

Sofia

[2018-01-31 03:16] bradfordcondon commented on #275
Hello!
Are you following the instructions at [tripal.info?](http://tripal.info/tutorials/v3.x/upgrade/2.x-to-3.x)
My first guess would be that you did not disable core before installing the new tripal.
[code]

edit: I see that this isnt your first time upgrading a site so that seems unlikely... maybe there is an issue with the rc2 release?  Let me see if i have the same issue.

[2018-01-31 14:26] cguttai5k commented on #275
@bradfordcondon thanks for responding.... Yes I'm following instructions, disabled tripal core, deleted old Tripal v2 module directories and downloaded new version then enabled tripal, tripal_chado.

Previously when I tested version upgrade it did worked with some interruptions but not sure why I'm having trouble now. Thanks!

[2018-01-31 16:58] almasaeed2010 opened #276 "Drupal index error happens after completing the migration on large sites"
### System information

* Tripal Version: 3
* Drupal Version: 7.56
* PostgreSQL Version: 9.3.20
* PHP Version: 7.0.26

### Issue description
If you are encountering PHP memory issues when running cron, the problem may be similar to this issue. I am posting this here as informational rather than an issue.

The last step of migrating tripal 2 to tripal 3 is to delete all tripal 2 nodes. When there i

[2018-01-31 18:24] bradfordcondon commented on #269
briefly but i dont think we have given much thought to the backend of what we'll do.  the opinion i offered above is my own.

[2018-02-01 00:44] bradfordcondon commented on #275
hi @cguttai5k .  I made a fresh instance coming from Tripal 2 and successfully installed Tripal 3.0-rc2.

Your error is indicating that some of the tables installed in the basic `tripal` module were not created.  I'm not sure why this would happen.  Can you try `drush dre tripal`, which will disable, uninstall, and reinstall tripal?   We want to not see a `php: PDOException: SQLSTATE[42P01]: Undef

[2018-02-01 03:16] cguttai5k commented on #275
thanks @bradfordcondon, `drush pm-enable tripal` enabled successfully.

after running `drush pm-enable tripal_chado` :

 ![image](https://user-images.githubusercontent.com/24276916/35658845-473d8cd2-06d1-11e8-859c-946b15476cb3.png)

[2018-02-01 19:53] bradfordcondon opened #277 "Tripal 3 sio__Annotation field"
The sio__annotation field builds an accession linkout using the db info but then doesnt include it in the table.  The result is there are no linkouts in the table.

[code]

This is an obvious fix that I'll PR.

I have another question though.  In my database, all of my GO and IPR terms are loaded in without defenitions.  Instead, there is a descriptive name.

<img width="828" alt="screen shot 2018

[2018-02-01 19:53] almasaeed2010 opened #278 "DB deadlock caused by tripal_chado"
### System information

* Tripal Version: 3.0-rc1
* Drupal Version: 7.5
* PostgreSQL Version: 9.3
* PHP Version: 7.0

### Issue description

We discovered an odd issue where deadlocks occur with Tripal when parallel or threaded executions happen simultaneously (or very close to each other). Example, when 5 users visit the site at the same time, our site takes a while to load and eventually display

[2018-02-02 21:22] laceysanderson opened #280 "Tripal Job, ignore_duplicates default is TRUE?"
### System information
* Tripal Version: 3

### Issue Description
With Tripal 3, the option to "ignore duplicates" when submitting jobs was added and the default was set to TRUE. This, however, is not backwards compatible, since it doesn't match the behavior of Tripal 2 which didn't have the ability to detect duplicates. This caused unexpected behavior which broke the Tripal Download API.

## Disc

[2018-02-02 21:28] laceysanderson commented on #280
## My Vote
I think we should go for **backwards compatibility**. As I said, this broke the Tripal Download API which shouldn't have needed changes for Tripal 3.

That said, I'm willing to have my mind changed ;-)

[2018-02-05 15:03] almasaeed2010 commented on #165
Hello all,

I think the best solution for this is if we can somehow pass the tripal pane information (html ids and classes of the container pane) to the field formatter one way or another. Is this possible?

Thanks!

[2018-02-06 14:28] bradfordcondon commented on #120
[code]
Does Tripal ignore these import statements?  Maybe I need all of these ontologies loaded prior to loading PTO.

[2018-02-06 14:34] taytayp opened #282 "Tripal OBO Loader fails to create enough terms in cvterm table"
[chebi_edit.obo.txt](https://github.com/tripal/tripal/files/1699442/chebi_edit.obo.txt)

### System information
* Tripal Version: Tripal 7.x-3.0-rc2+174-dev (2018-Jan-21)
* Drupal Version: 7.56
* PostgreSQL Version: 9.5.7
* PHP Version: 7.0.25

### Issue description
For the last few ontology files (.OBO) we have loaded, only a smaller percentage of the terms are actually entered into the Chado `cv

[2018-02-06 23:52] srobb1 commented on #271
@spficklin I found the fix here [0a71bba](https://github.com/tripal/tripal/commit/0a71bba69f3c9b7ae67d2f570718e61cd1361830)

I must have updated my tripal with drush at some point and got out of sync with github. I KNOW that I loaded 0 phase features. I just updated from github and all is good :)

[2018-02-07 00:18] spficklin commented on #280
Code has been fixed for backwards compatibility.  Please reopen if you have further issues.

[2018-02-07 00:18] #280 closed, assigned to nobody

[2018-02-07 00:30] spficklin commented on #275
Hi @cguttai5k

I think the problem is that somehow you must have had an index that was accidentally dropped or renamed on that tripal_jobs table, and now Tripal is having issues because of it during the upgrade.  I just committed some code changes that may help.   Can you pull the most recent development code and try again?

[2018-02-07 00:40] spficklin commented on #268
So, it seems we have two different ways that folks are representing CDS in GFF files. I often encounter the case where each has it's own unique ID.   But it seems Maker and other tools must be using the same ID for the same CDS.  I'll review your pull request @srobb1 to see if we can safety handle both.

[2018-02-07 00:46] spficklin commented on #268
Okay, your pull request with the fix has been applied and I also applied it to the equivalent Tripal v3 code.  Thanks for the fix and thanks @mpoelchau for jumping in.

[2018-02-07 00:46] #268 closed, assigned to nobody

[2018-02-07 00:56] spficklin commented on #276
Hey @almasaeed2010 what module are you using that is updating those tables?  We do not instruct users to use the Drupal search indexing with a default Tripal install, so I'm curious what you did with your Tv2 site to get those tables populated?

[2018-02-07 01:15] spficklin commented on #278
Hey @almasaeed2010. I applied a fix that I hope will fix the issue.  Do you have a way to test the fix?

[2018-02-07 12:58] shawnawsu commented on #245
Hi @srobb1 ,

I think we worked on this at PAG, is this resolved now?

Thanks!
Shawna

[2018-02-07 13:27] almasaeed2010 commented on #278
Hi, I just tested the code with 6 threads and the error hasn't happened so looks like this is fixed!

Thanks!

[2018-02-07 13:34] #278 closed, assigned to nobody

[2018-02-07 13:39] almasaeed2010 commented on #276
Hi,

It seems that our site uses the default search module that comes bundled with Drupal 7. You can find the module in `/drupal-path/modules/search` (not in sites/all/modules). It's automatically enabled during the installation process of Drupal.

Thanks!

[2018-02-07 13:43] almasaeed2010 commented on #276
This might also help. In the modules page, the search module appears as a dependency of Tripal.
<img width="1328" alt="screen shot 2018-02-07 at 8 42 00 am" src="https://user-images.githubusercontent.com/1512664/35919367-dde6c6ce-0be2-11e8-9bf5-24a10c7d15e1.png">

[2018-02-07 18:04] bradfordcondon commented on #269
[groups module wiki with diagram](http://gmod.org/wiki/Chado_Group_Module)

we reached out to the group module github repo but did not hear back.
https://github.com/autochthe/Chado-group-module/issues/1

[2018-02-07 18:34] spficklin commented on #269
I'm just reopening as we still have discussion on this issue.

[2018-02-07 18:39] spficklin commented on #120
Yes, it does ignore them.  Ontologies have changed since we first wrote our OBO loader.   Ontologies are increasingly borrowing terms from other vocabularies and we should revisit the design of the loader to better support that.

[2018-02-07 19:10] bradfordcondon commented on #120
So this particular issue has two solutions (under the current loader implemtentation):

* Import the full ontologies listed in the import
* Import the _import.owl files listed within the import

I noticed an OWL loader is under development: this would allow partial loading of 6 ontologies, which would be really nice.  (they dont have a partial OBO).  Any idea if that will be ready soon?

[2018-02-07 19:42] bradfordcondon commented on #269
Thanks Stephen.

I just wasn't aware of the community discussion re:the group table.  That is now what I recommend as opposed to defining acustom ortholog table.

I'm curious if the grp module will end up in the next release of chado...

edit: is anyone aware of a Tripal module that already implements the group table?  I'm catching up on my reading right now...

[2018-02-07 20:23] srobb1 commented on #268
Great! I am super glad we worked this out and that I could help out!

On Tue, Feb 6, 2018 at 5:46 PM, Stephen Ficklin <notifications@github.com>
wrote:

[2018-02-07 20:34] mpoelchau commented on #268
Yes, thank you for the fix!

[2018-02-08 00:44] btski opened #284 "Regular expressions for parsing BLAST XML file"
### System information

* Tripal Version: 3
* Drupal Version: 7.56
* PostgreSQL Version: 9.5.10
* PHP Version: 7.0.22-0ubuntu0.16.04.1
* Server: AWS cloud instance

### Issue description

I've been trying to get the BLAST module to work with demo sweet orange data. Figured out how to get SwissProt BLAST setup properly, but I'm struggling with NCBInr BLAST. Regular expressions were not provided, an

[2018-02-08 02:35] cguttai5k commented on #275
Hi thanks @spficklin, that did not worked for me, and when I try enabling tripal_chado I'm also getting this again:

[code]

[2018-02-08 03:33] spficklin commented on #275
So, let's look at each problem separately.   First is the one with the missing index.  When you enabled the tripal module did you still get that same message?

[2018-02-08 03:36] spficklin commented on #269
I don't know if it will make it in.  There has been no activity with it for quite a while and I think there were some unresolved concerns with it too... But I cannot remember what those are.

[2018-02-08 03:38] spficklin commented on #120
We started an OWL importer but did not make much progress with it as the fellow who was working on it left and we've not been able to get back to it.   The OWL specification is not easy so I'm not sure how long it will take before we can get to it.

One challenge with following the import statements in the OBO is that we don't always have enough information to add the proper CV and DB records into

[2018-02-08 14:09] bradfordcondon commented on #120
There are OWL-OBO converters out there (albeit it's imperfect).  I might try converting the OWLs to OBO (obo recommends [ROBOT](https://github.com/ontodev/robot/)).  Then I can import these individually without having to load the full ontologies and try importing PTO again.

Maybe for now what the importer should do is, if it finds an import statement and doesnt find the corresponding DB/CV in the

[2018-02-08 14:46] cguttai5k commented on #275
yes Stephen, I'm still getting that same index error when I enable "tripal_chado".

Edit:

sorry that was resolved and now error had changed to duplicate table @spficklin :

`exception 'PDOException' with message 'SQLSTATE[42P07]: Duplicate table: 7 ERROR:  relation "tripal_token_formats_type_application_key" already exists' in /includes/database/database.inc:2227                   [error]
`

[2018-02-08 22:49] spficklin commented on #277
That's odd that you have no definitions. If you search for the terms via Admin > Tripal > Data Loaders > Chado Vocabularieis > Controlled Vocabulary Terms do you see the definitions there?

[2018-02-08 22:54] spficklin commented on #275
Did you start the upgrade process from the beginning or restart it from where you left off?

[2018-02-09 01:38] cguttai5k commented on #275
Again i started updating tripal process with the development version,

1. Successfully disabled tripal core.

   (Here is the step which mislead me to continue going further & enabling 'tripal_chado').

2. when I try to enable tripal "drush pm-enable tripal" I got two messages saying that tripal is already enabled and at the same time saying that there was problem enabling tripal.

[code]

I thoug

[2018-02-10 18:37] bradfordcondon opened #285 "unable to delete CVs via admin interface"
### System information

* Tripal Version: 3
* Drupal Version: 7.56
* PostgreSQL Version: 9.6.1
* PHP Version:7.1.7

### Issue description

Manually deleting CVs in the admin interface has no effect- instead I'm looped back to the edit scene with the name box highlighted.

<img width="725" alt="screen shot 2018-02-10 at 1 37 36 pm" src="https://user-images.githubusercontent.com/7063154/36065357-991

[2018-02-12 05:12] #275 closed, assigned to spficklin

[2018-02-12 10:07] mdondrup opened #287 "Inconsistent use of CV for feature_relationship between Tripal and Perl Chado backend"
### Issue description

Hi,
I am not sure if I had reported that before, but I have noticed that Tripal does not co-exist well together with a GBrowse instance running on the same Chado database. The symptoms could be that GBrowse is unable to render sub-features (exons, UTR) for genes or transcripts in a Tripal installed Chado. I have analysed the code and have the hypothesis that this might be ca

[2018-02-12 11:00] matuskalas commented on #196
Hi @spficklin,

This sounds awesome, and we from the EDAM team will gladly help you in case you have troubles or special requests.

One notable issue is that EDAM in **[OBO format](http://edamontology.org/EDAM.obo)** is extremely outdated (2012), and for the last many years we only provide EDAM in **[OWL](http://edamontology.org/EDAM.owl)**, **[TSV](http://edamontology.org/EDAM.tsv)**, and **[CSV]

[2018-02-12 14:54] almasaeed2010 commented on #215
This issue was fixed in PAG hackathon

[2018-02-12 14:54] #215 closed, assigned to nobody

[2018-02-12 21:50] spficklin commented on #285
I just pushed a fix for this.  Can you try again?

[2018-02-12 21:53] bradfordcondon commented on #285
No change.

For the heck of it i tried changing the name before deleting and have this message:

<img width="1222" alt="screen shot 2018-02-12 at 4 52 39 pm" src="https://user-images.githubusercontent.com/7063154/36121754-2a7e8766-1015-11e8-908c-bf15e94305ac.png">

Another menu item index problem?

[2018-02-12 21:58] spficklin commented on #287
This problem may be due to the fact that the Relationship Ontology has changed dramatically and as a result we had to force Tripal to use other terms.  Maybe @scottcain has some insight here.

[2018-02-12 21:58] spficklin commented on #287
I wonder how GBrowse is dealing with old relationship ontology terms no longer being the same....

[2018-02-12 22:14] bradfordcondon commented on #285
There is no `cv_id` value in the form.

<img width="582" alt="screen shot 2018-02-12 at 5 10 01 pm" src="https://user-images.githubusercontent.com/7063154/36122515-97c91096-1017-11e8-9b7d-476868ec79c8.png">

actually looking at the code, there should be  a select element (line 89) but I dont have one?
here is a dpm of $form right after that select:

<img width="1440" alt="screen shot 2018-02-12 at

[2018-02-12 22:45] spficklin commented on #285
Oh, I forgot to tell you to clear your menu cache...

[2018-02-12 22:47] spficklin commented on #285
Your screen shot isn't quite right.... I replaced the "Delete" button with a link and it uses Drupal's confirm_form instead of that awful popup.

[2018-02-12 22:49] spficklin opened #289 "Tripal + GBrowse"
We need to add to our Demo site a GBrowse instance to help ensure compatibility and avoid issues as described by issue #287

[2018-02-13 14:57] bradfordcondon commented on #285
edit argh there i see the comit, nevermind

[2018-02-13 14:59] bradfordcondon commented on #285
I see the confusion.  [You pushed the commit to the collections branch, not to master](https://github.com/tripal/tripal/commit/06217513fb1729d5f4a115a85e58bf8d4d66ef93).

[2018-02-13 15:00] bradfordcondon commented on #285
I tested that branch and was able to delete 👍 thanks  (leaving issue open until we merge to master)

[2018-02-13 17:16] spficklin commented on #285
Oh, sorry about that.... I'll see if I can merge those fixes into the 7.x-3.x branch.

[2018-02-13 21:39] btski commented on #284
Assuming the NCBI test file is consistent with the corresponding BLAST XML format, I'll probably parse new files with Python to include all desired fields within the <Hit_def> tag. I'm fairly certain you cannot specify XML tags via regular expression. Not sure if the program defaults to- or exclusively reads from the <Hit def> tag.

[2018-02-13 21:58] cguttai5k commented on #275
The above issue got fixed, sincerely thank you for your time @spficklin & @isumoc now I'm at the step where preparing the chado and launch job.

while I'm doing this I had an issue :

[code]

Any thoughts or suggestions??

[2018-02-13 23:24] spficklin commented on #275
I'm glad that pull request fixed that issue for your. This new one is a bit puzzling.  The error message states:

I've not seen this before.  Can you describe your setup?  Is your database server local to your web server?  Were there any network outages during the time you ran the upgrade?

[2018-02-14 01:27] cguttai5k commented on #275
Both project code and database are on the same server, as far as I know there is no network outages or fluctuations during this process.

[2018-02-14 06:48] spficklin commented on #284
Hi @btski .  Have you tried checking the 'Use Genbank Style Parser' when you setup the NCBI nr database?   When BLAST encounters an NCBI formatted FASTA file it parses the definition line automatically and there is no need for regular expressions.  The Tripal BLAST parser can pull the relevant data from the XML instead.  If you have tried that and it's not working then perhaps there's a bug and we

[2018-02-14 07:01] spficklin commented on #275
I think your PostgreSQL server may have had issues during the upgrade.  Do you have any PostgreSQL logs that can help indicate what the problem might be?

[2018-02-14 07:09] spficklin commented on #196
Thanks @matuskalas for the offer!  That's much appreciated, as well as the info about the outdated OBO.  We currently only have an OBO importer, but we have an OWL importer planned.  If we have issues we'll be sure to let you know.

[2018-02-14 14:43] cguttai5k commented on #275
Sure, here is the information I was able to collect from our db admin :

Reviewing the postgresql logs this appears to have started on 2/8/2018.  It's a loop where the postmaster kills the postgresql process attempting to execute a statement:

 s

[2018-02-14 15:40] bradfordcondon opened #290 "newick tree loader db issue"
### System information

* Tripal Version: 3
* Drupal Version: 7.56
* PostgreSQL Version: 9.6.1
* PHP Version: 7.1.7

### Issue description

Two issues:

#### Loader doesnt allow missing accessions despite saying it does

The loader reads:

However, attempting to insert a tree with an accession not in the db fails validation:
`The dbxref provided does not exist in the database: .`

I think this is

[2018-02-14 15:49] bradfordcondon commented on #290
shoot: inserting the term beforehand passes validation, but fails in the load step with

[code]

[2018-02-14 19:24] btski commented on #284
I forgot to mention I've tested the NCBI style parser. When "Use Genbank Style Parser" is selected, the output corresponding to the test file is strange.

<img width="849" alt="screen shot 2018-02-14 at 1 12 32 pm" src="https://user-images.githubusercontent.com/32686196/36223315-a2795f1e-1189-11e8-864f-dd00c573b0bd.png">

The visual looks to be correctly formatted, but parsing for the graph seems

[2018-02-14 23:24] spficklin commented on #284
Yes, this is the current behavior of the code.  The entire hit_def is not shown (there are ellipses at the end) in order to keep the table small with each row being one line only.  The idea is that the user gets enough potential information about the hit and can see more if they click the [more] link.

For the hit name, we just use the hit_id as BLAST provided it with the thought that BLAST indica

[2018-02-15 17:08] almasaeed2010 opened #291 "Installing Tripal 3 fails"
INSTRUCTIONS: The following template is meant to provide the information that will help other Tripal developers diagnose and reproduce your issue. Follow the directions below to complete the template. If the template is not appropriate for your issue you may remove it and describe your issue.

### System information

* Tripal Version: 7.3-3.x (directly from github as of Feb 15, 2018 at 12:00pm/est

[2018-02-15 17:37] spficklin commented on #291
Whoops... looks like a bug introduced by a previous fix.  I believe I have corrected the problem. Can you try it again.

[2018-02-15 17:40] btski commented on #284
That would have been my expectation. It almost appears as though an attempt to parse was made, but the line format was inconsistent across the file. I've noticed that if a regular expression is used that doesn't conform to all lines available, it will fail and default to an output that includes all contents of the target line. For example, if you attempted to parse the following two lines up to ">

[2018-02-15 17:43] spficklin commented on #275
It seems to be clearing out your search_total table and causing problems. This seems related to issue #276.  Can you test the following to see if it fixes it.  Prior to the migration can you run these SQL commands:

[code]

That should clear out your site indexes.  You can then restart the indexing process at /admin/config/search/settings.

If that solves the problem for you then it seems we need

[2018-02-15 17:58] bradfordcondon commented on #120
Hi all:

Here is my current (laughable) solution.

# For a live site

* Remove the nameless terms manually
* Load in the imported ontologies manually first.
  - PECO
  - PATO
  - GO
  - RO
  - CHEBI
* Load the full plant trait ontology

# For a developer site

I tried making miniature PECO's PATO's etc based on the plant trait ontology "includes" files.  But some ontologies still wouldn't load, an

[2018-02-15 18:06] spficklin commented on #120
Let's leave it open as we can fix the nameless term issue in the importer.    Also, ontologies are so critical to Tripal v3 that any trouble we have loading them will hurt adoption.  So, this is an important issue we need to address.

[2018-02-15 18:08] spficklin commented on #251
it seems the new template issue is working well.  I'm going to close this out.

[2018-02-15 18:08] #251 closed, assigned to nobody

[2018-02-15 18:19] spficklin commented on #284
I think this can be an easy adjustment and it makes sense.  But let me bring in a few other folks to get their opinion before we make a change.  @laceysanderson @ekcannon @mestato @bradfordcondon @guignonv @childers @srobb1 @mpoelchau @abretaud

Are there any objections if we change the Genbank style parser to parse the hit name to just include the 4th element with the '|' as the seperator.  So gi

[2018-02-15 18:44] mpoelchau commented on #284
@spficklin - my main concern would be that the GenBank defline format (and RefSeq) seems to have changed since NCBI deprecated GI numbers.

https://ncbi.github.io/cxx-toolkit/pages/ch_demo#ch_demo.T5

GenBank fasta defline format now seems to be gb\|accession\|locus instead of gi\|GInumber\|gb\|accession

[2018-02-15 22:59] mdhar1980 opened #292 "Drupal version 7.56 or 8 for Tripal v3?"
### System information

* Tripal Version: v3
* Drupal Version: ?

### Issue description
Hello. For Tripal v3, is it still recommended to use Drupal 7.56, as in the tutorial, or should the latest, Drupal v 8, be used? Is Tripal v3 compatible with that version of Drupal?

Thank you

[2018-02-16 00:27] bradfordcondon commented on #292
Hi,

Yes, Tripal 3 is designed to work with Drupal 7.  Drupal 8 support is still a ways down the road.

[2018-02-16 15:11] almasaeed2010 commented on #291
Bug fixed. Thanks! 👍

[2018-02-16 15:11] #291 closed, assigned to spficklin

[2018-02-16 16:03] cguttai5k commented on #275
that idea actually worked @spficklin I was able to get through it but with one duplicate record (chado_insert_record) insertion failed into cvterm table, here is the brief copy of that:

[code]

and Stephen there is also a couple of warning messages while I'm running tripal jobs every time:

`Invalid argument supplied for foreach() TripalJob.inc:257

[2018-02-19 16:15] almasaeed2010 opened #293 "Tripal Collections Unable to Create Files Due to Permissions"
### System information

* Tripal Version: 3 (7.x-3.x)
* Drupal Version: 7.54
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

Creating a collection creates the correct folder for each user but fails to detect whether its writable or not.

The error from the job log looks like this:
[code]

Unfortunately a file name is not provided in the log.

The code block that fails:
[code]

[2018-02-20 20:38] spficklin commented on #293
This is curious.... I'll take a look at it..

[2018-02-21 15:15] taytayp commented on #282
Was able to load ontologies correctly.

[2018-02-21 15:15] #282 closed, assigned to shawnawsu

[2018-02-21 15:19] bradfordcondon commented on #282
Hi @taytayp , any insights into what the problem was for those who encounter this error in the future?

[2018-02-21 15:24] taytayp commented on #282
Sure! The trick is that Tripal actually loads terms into multiple different cv's. What I thought was just `gene_ontology` was actually spread into three our four adjacent tables with slightly different names. Accounting for these and combing those tables results in the right number of terms.

Also worth noting that if you load an ontology that has relationships dependent on other ontologies that _

[2018-02-21 15:30] bradfordcondon commented on #282
Oh no, I'm sorry.  If I had understood that was your issue I might have been able to steer you better.  I have [some guides](https://github.com/statonlab/fields_generator) written that might help the ["multiple cv/db" thing make sense](https://github.com/statonlab/fields_generator/blob/master/CV_guide.md).

I find htis interesting because in my experience, relationships that dont exist result in e

[2018-02-21 15:34] taytayp commented on #282
A good resource! I didn't realize y'all had these.

It may have been that errors were thrown, now that I think about them, but I may not have noticed them. I'm chalking this issue up to 95% user error (that user being me).

[2018-02-21 17:29] shawnawsu opened #296 "Tripal Jobs warning messages"
When running tripal jobs the following error message appears:
`2018-02-21 10:44:47: Calling: tripal_tripal_cron_notification()`
`Invalid argument supplied for foreach() TripalJob.inc:257            [warning]`

When running tripal jobs with the galaxy module installed this additional message appears:
`[warning]`
`2018-02-21 10:44:47: Calling: tripal_galaxy_check_status()`

[2018-02-21 17:33] spficklin commented on #282
We are currently looking into addressing the problem when terms from other vocabularies are used. I think the default behavior is to error out when a term cannot be added because it is from a different vocab.

[2018-02-21 20:28] bradfordcondon opened #297 "CV browser design issues: cvalue_id"
# Background

We are creating a CV term browser.  (rather I should stay, stephen has already created a CV term browser).  Ultimately we want to map entities onto the CVterm browser.  The classic case is browsing an ontology (eg Gene Ontology) where counts of features annotated with those terms is in the browser.  The extra challenge is for a given term, we also want to count the features mapped to

[2018-02-21 20:29] bradfordcondon commented on #297
@laceysanderson our group came up with this talking to @spficklin .  We agreed if you had any input it would be super valuable.

[2018-02-21 20:31] bradfordcondon opened #298 "Continuous Integration"
Travis CI testing will involve a few things:

* Script to install a tripal 3 site from nothing
* Script to upgrade a Tripal 2 site to Tripal 3
* PHPUnit Testing

We agreed that the first stage will be simply tripal installation and upgrade testing.
A first CI setup will do minimal Unit testing.
After that is set up, contributors can create (or port over from the tripal_test module) Unit tests to r

[2018-02-21 20:57] isumoc commented on #298
I put some working travis configs here:
https://github.com/isumoc/drupal_tripal_travis_setup

[2018-02-22 10:28] mdondrup commented on #287
I have for now temporarily fixed the problem on the GBrowse side by adding 'feature_relationship' to the CV names to search in Bio::DB::Das::Chado.

[2018-02-22 10:38] mdondrup commented on #289
I support that proposition. In addition I would also recommend to test the Tripal instance with content added by the Perl Chado data loaders to ensure compatibility and also mixed imports.

[2018-02-22 16:17] mdhar1980 commented on #292
Thanks!

[2018-02-22 17:13] bradfordcondon opened #299 "Cvalue support for the property linker field"
### Background

* Tripal Version: 3

Cvalue columns are coming to chado prop tables.  You can use cvterms instead of raw text in the v alue column to describe your property values now!  This means that the **value** column can be **superceded** by the cvalue_id column.

The prop linker field will need some recoding to reflect this.   I've gotten started with that [here](https://github.com/statonla

[2018-02-26 20:56] bradfordcondon commented on #298
Thank you for your configs @isumoc , made my life easier for the tripal 2 to tripal 3 upgrade.

We went with docker containers instead.  I think there's the desire to launch docker containers iwth actual data in Chado for the unit testing which will be neat.  We lose out on matrix builds this way which is a shame though.

[2018-02-27 13:16] bradfordcondon commented on #298
Some thoughts for discussion while leaving this issue open:

* Should we migrate the upgrade/install process out of dockers and into Travis, enabling matrix builds of multiple PHP/Postgres versions?
* Is the implementation of PHPUnit clear?
* Other thoughts/suggestions?

[2018-02-27 20:00] bradfordcondon commented on #292
Sounds like your question is answered: I'm going to go ahead and close the issue.

[2018-02-27 20:00] #292 closed, assigned to nobody

[2018-03-05 19:25] bradfordcondon opened #303 "OBO loader feature request -- SPEED"
This has come up before in several places, but it needs its own ticket.

Loading OBO files is slow. Specifically updating the cvtermpath.

I currently have been loading the KEGG OBO file and am running for more than 72 hours. It seems like system specs play a role here, as others (Shawna) cite loading goes through within 24 hours.

Either way, speeding up this step would be really nice.

[2018-03-05 22:35] btski opened #304 "Assistance installing Tripal on Bluehost server (CentOS 6)"
The Tripal installation guides correspond to Ubuntu and CentOS 7. Will this limit me from installing Tripal on a server with CentOS 6? I'm currently trying to use Bluehost, which exclusively supports CentOS 6. I'd like to avoid losing support if possible. I speculate that my installation problems are caused by cPanel changes to config files or non-compatible operating system (perhaps the Tripal in

[2018-03-05 22:37] bradfordcondon commented on #304
Hi,

so you are trying to install, and getting error messages?  Can you share them?

At what steps?

[2018-03-05 22:38] spficklin commented on #304
I think the CentOS installation on the User's Guide will get you along fairly well. I'm not 100% sure of the differences between vs 6 and v 7.  But if you want to post to this issue any differences oddities you find we can create a document on our User's Guide for CentOS 6, and we can certainly try to help out if you get stuck on something.

[2018-03-05 22:42] bradfordcondon commented on #304
@spficklin if its a question of "will it build" we need only change the starting point of our docker from centos7 to centos6 and see if we the container builds.  I'll try that now.

edit: rebuilding fails from centos6 not surprisingly, becaus we get all our dependencies for centOS6. `remi-release-7.rpm`  I don't have time tonight to set up teh build properly tonight perhaps tomorrow...

[2018-03-05 22:46] btski commented on #304
Thanks for the quick replies @bradfordcondon and @spficklin. From what I can tell, my dependencies are adequate. Looks like my SSH privileges have changed (again). Have to reset them so I might be a little slow.

Errors are the following:
[code]

Edit1:
PHP version: 5.6.33
postgresql version: 9.5.12
drush: 7.4.0 (note, was having problems with v9.2.1)
Drupal: none prior to installation (should be

[2018-03-05 22:52] btski commented on #304
PHP version: 5.6.33
postgresql version: 9.5.12
drush: 7.4.0 (note, was having problems with v9.2.1)
Drupal: none prior to installation (should be installed during Tripal setup?)

[2018-03-05 22:57] bradfordcondon commented on #304
Drupal [must be installed prior to set up ](http://tripal.info/tutorials/v3.x/installation/drupal), there's a guide for it on tripal.info.

The Tripal 3 install requires a functional Drupal environment.  Which guide are you following, the quick install or manual step by step?  I think either way you need Drupal installed and set up first.

[2018-03-05 22:58] btski commented on #304
I've been having problems troubleshooting errors due to oddities in the server itself. For example, there was no sudo group. Any calls to sudo would fail (triggering an uninformative error prompt) even when on root user (which has no unique user privileges). The only solution I could find was to designate a environmental path for sudo itself (along the format of sudo env "PATH=$PATH" drush --inclu

[2018-03-05 23:04] btski commented on #304
Pay no attention to the accidental closure.

I've tried both. In my previous installation of Tripal on an AWS ubuntu server I don't recall manually installing Drupal (it seems to be included during the rapid installation). When attempting to install Tripal step-by-step, I managed to make it to the web-based steps. I've currently got WordPress installed as a pageholder for the site (http://swinepat

[2018-03-06 06:10] spficklin commented on #304
@btski, our Tripal demo site runs on Bluehost.  http://demo.tripal.info/3.x/

You're right, bluehost gives you a chroot'ed environment and you do not have sudo access. You are at the mercy of the tools that bluehost provides.  So, you won't be able to follow the tutorial as it is currently written.  Fortunately, bluehost provides everything you need, as evidenced by our demo site.

Have you been t

[2018-03-06 08:39] mdondrup commented on #304
Hi,
we had our site running under CentOS 6 for while and have just recently updated to 7.

One of the major concerns with CentOS 6 is that its stock versions of php (5.3.3) and
postgres (8.4 ?) were rather old. So you might want to install them from the EPEL
or another more up to date repository, which as I understand you already did. But then,
even using these archaic ones, for us it worked fine

[2018-03-06 17:05] btski commented on #304
Thanks for all the advice and information. I think my plan going forward will be:
1.) uninstall WordPress and see if I can make more progress on the web-based steps for manual Tripal installation
2.) create CentOS 6 AWS instances to practice rapid/manual installations and draw comparisons to bluehost
3.) switch to a different operating system on bluehost (Ubuntu or CentOS 7). I don't believe eithe

[2018-03-07 18:55] bradfordcondon commented on #297
hi @laceysanderson - were you able to think about this at all?  Im sure youre busy getting back up to speed with everything.

@spficklin assuming we go ahead with this plan, who is getting this done?  Should abdullah and I work on it, or does your group have plans?

[2018-03-07 20:58] laceysanderson commented on #297
@bradfordcondon sorry I'm still drowning in the back-to-work chaos... Feel free to keep reminding/tagging me on specifics you want feedback on and I'll do my best :-)

A bit of clarification:
- tripal_cvterm_index.cvterm_accession = are you thinking this would be a cvterm_id?
- tripal_cvterm_index.entities = would this be a postgres array of entity_ids? Perhaps it would be better as a JSONB field

[2018-03-08 05:51] risharde opened #305 "Sudden issue with contact record not being created + error"
HI guys and @spficklin , suddenly I have come across a problem regarding creating a contact. Cannot track this back to any change made. When creating the contact by entering data and clicking submit, I get the following error:
[code]
After some debugging, I have traced it back to the file:
sites/all/modules/tripal/tripal_chado/includes/tripal_chado.field_storage.inc
[code]

**$base_record_id is bl

[2018-03-08 13:20] bradfordcondon commented on #305
You're creating contacts directly (ie from add tripal content -> contact) right? Or is this a field widget of some sort?  If thats the case are you able to create contacts directly?

I'm able to create contacts in this manner on current master.  But your error looks to me like a misconfigured field - possibly the column id for contact (contact_id) wasn't specified?

[2018-03-08 20:30] risharde commented on #305
Hey @bradfordcondon thanks for your contribution, yes I am trying to create directly from add tripal content -> contact
I thought so as well but no field seems to be misconfigured since no changes were made to the fields since prior to working
A bit stumped on what could have done this

[2018-03-08 22:54] spficklin commented on #305
Do you have a custom field that works with records in the contact table?

[2018-03-09 00:20] risharde commented on #305
Hey @spficklin , no custom field that works with records in the contact table. It's like I just woke up today to test it and it just spurts the error. It seems as though because it cannot get the $values[] array populated, nothing gets created in the contact table and so no record id is returned for additional inserts

[2018-03-09 03:39] spficklin commented on #305
What is bio_data_8 on your site... is it the contact content type?

[2018-03-09 04:09] risharde commented on #305
@spficklin Correct!

[2018-03-09 04:37] spficklin commented on #305
If you look in your recent logs under the Reports menu do you see any other interesting/related messages?

[2018-03-09 10:54] risharde commented on #305
@spficklin Unfortunately not, just the SQL error :(

[2018-03-09 11:37] risharde commented on #305
@spficklin

`
TYPE | tripal -- | -- Friday, March 9, 2018 - 06:35 risharde
/Drupal/bio_data/add/8
PDOException: SQLSTATE[22P02]: Invalid text representation: 7 ERROR: invalid input syntax for integer: "" LINE 1: ...chado_bio_data_8 (entity_id, record_id) VALUES ('65300', '') ^: INSERT INTO chado_bio_data_8 (entity_id, record_id) VALUES (:db_insert_placeholder_0, :db_insert_placeholder_1); Array (

[2018-03-09 14:23] bradfordcondon commented on #297
yeah!  so at each node of a CV tree (which is a CVterm) you can look up all the children for that node.

We were thinking an array... your solution sounds smarter.    Although wouldnt that connecting info be a duplicate of what is in CVterm path?

[2018-03-09 14:24] bradfordcondon commented on #305
maybe a weak suggestion but have you tried deleting your contact bundle and re-creating it?

Doing so should not delete your contacts although you may have to republish them afterwards.

[2018-03-09 15:59] laceysanderson commented on #297
I'm thinking more like tracking how the term connects to each entity: entity type, type field (feature.type_id), additional type of some sort (i.e. some other field), cvterm linking table, key of values array, etc. That way you could break down the count in the cvterm viewer by "strength" of the connection :-) We will need to remember that using JSONB pulls up our required PostgreSQL version to 9.

[2018-03-09 17:28] spficklin commented on #305
What fields do you have attached to your Contact content type?

[2018-03-09 18:20] shawnawsu commented on #305
#236

[2018-03-09 18:23] shawnawsu commented on #285
@spficklin Has this been merged into master?

[2018-03-09 18:24] shawnawsu commented on #305
Related: #236

[2018-03-09 18:28] shawnawsu commented on #234
@risharde I am going to close this ticket. If the problem is not fixed please reopen it.

[2018-03-09 18:28] #234 closed, assigned to nobody

[2018-03-10 01:04] risharde commented on #305
@spficklin A few fields well, some are custom properties that worked fine and others are some local fields as well like ORCID which stores basic text data etc which all worked fine up to about 2 -3 days ago. Either way, should those fields affect base table array which is suppose to contain fields? Again, it seems to stem there, without any fields in that array, it seems it cannot generate an init

[2018-03-10 01:34] bradfordcondon commented on #305
Yeah I meant the contact bundle type.  A better idea might be to disable all of your custom fields and try to create a contact.  If that works, re-enable custom fields one by one and test contact creation.

[2018-03-12 15:40] laceysanderson commented on #208
I'm experiencing this again on the most recent dev version :-( I'm looking into the problem.

[2018-03-12 17:07] #304 closed, assigned to nobody

[2018-03-12 20:14] spficklin commented on #208
The issue resurfaced with this fix for issue #280

I've not hat time to sit down and dig into it....

[2018-03-12 20:16] spficklin commented on #305
I agree with @bradfordcondon.  You can't really disable the field though, you'll have to delete them from the Contact content type.  You can easily add them back later and it doesn't affect the data in your database.

[2018-03-12 20:31] laceysanderson commented on #208
It looks like a parameter was just missed causing a shift in the parameters. Specifically, Priority is missing

[code]

Notice that there are two `1` in the updated code versus the original code. I figured it would be good to set the priority low on these jobs and assume you specified `1` as the UID to ensure it was ran by the admin user rather then the current user?

I'm working on another branch

[2018-03-12 21:47] shawnawsu commented on #236
@risharde indicated in #305 that this issue is resolved.

[2018-03-12 21:47] #236 closed, assigned to nobody

[2018-03-12 22:35] laceysanderson commented on #208
Fix Merged into 7.x-3.x :-)

[2018-03-12 22:55] #208 closed, assigned to laceysanderson

[2018-03-12 23:00] risharde commented on #305
Hey guys @spficklin @bradfordcondon @shawnawsu , okay so I have news on this bug, both good and bad...
The good news is that I found where the issue is, the bad news is that it seems to be a bug of some sort.
Time to explain...
After an entire weekend of guessing, trying and having adrenaline rushes lol, I discovered that under the manage fields section of the Tripal Content Type -> Contact
Name w

[2018-03-13 00:17] bradfordcondon commented on #305
Hi, by caption, do you mean the field label?

I was able to recreate your issue I think by changing the label for name to First name, last name.  (see attached screenshot, which is me submitting a new contact with the modified field).

<img width="724" alt="screen shot 2018-03-12 at 8 16 50 pm" src="https://user-images.githubusercontent.com/7063154/37315877-516a0854-2632-11e8-9582-1a74e6ba2bee.png

[2018-03-13 00:39] risharde commented on #305
Correct @bradfordcondon Label, sorry about the different terminology

[2018-03-13 02:59] risharde commented on #240
Just an update on the solution, I found out that while altering the form using a custom module, the add more items button uses AJAX which is incompatible with $form['no_cache'] = true;
Therefore, to avoid getting this issue, make sure that no modules or custom modules are hooking into the form and altering this variable. $form['no_cache'] should be set to false when utilizing AJAX callback.

[2018-03-13 12:39] oklonova opened #308 "Protein families in Chado"
Hi,

I need some help to find a way to store information about a protein superfamily and its subfamilies in a Chado database.
The overall structure is as follows:

etc.

I was thinking of two ways of doing this: either 1. via a property table or 2. via hierarchy of terms in a cv (is it possible?).

1. Create new terms and use the featureprop table in a way similar to the one described here [https:

[2018-03-13 14:11] mestato commented on #308
My group is also working on storing gene family groups and/or ortholog relationships.  We looked at the group module and contacted Mara Kim - she said they have deprecated that module and they have started using dbxref as well. We are opting to go the route of using the db and cv tables. The CV would have to be created to support the hierarchy. @bradfordcondon has thought about this a good bit mor

[2018-03-13 14:50] bradfordcondon commented on #308
An important question you need to ask is, how will your site display the family relationships.   The problem with using props is you won't really be granted visualizations of your families.  We are working on an entity/CV term browser mapper with Tripal 3 that might improve this but I just broke ground on it.

If you went the featureprop route, you can have multiple entries for the same property w

[2018-03-13 20:52] spficklin opened #309 "Data Search vs Tripal Search Block"
There are two search blocks provided by Tripal one named Data Search and the other named Tripal Search Block.  The first provides searching using default views and I think the other is for site-wide searching of Tripal content.  We need better names for these to help the user distinguish them better.

[2018-03-13 21:18] bradfordcondon opened #310 "Tripal style guide"
I would appreciate some sort of standard Tripal codebase style guide.  I use PHPstorm which lets me set a style and auto-format the code to it.

The XML hosted [here](https://raw.githubusercontent.com/Erikdekamps/phpstorm-drupal/master/Phpstorm.xml)  might be on the money.  Applying the formatter to random lines of code mostly finds minor formatting errors in the code itself (extra spaces etc).

T

[2018-03-14 13:07] oklonova commented on #308
Thank you! Really quite a number of ways to choose from! I will try different and report later what we have adopted.

[2018-03-14 23:35] spficklin opened #311 "Unit Test Protocol"
I've setup this issue for anyone who wants to discuss how we should organize our unit testing protocols.  In a discussion on pull request #307 @bradfordcondon stated:

In response.... I think we may want a combination of both.   I think it is possible to have tests run in a specific order (https://phpunit.de/manual/current/en/organizing-tests.html).  So, perhaps we could organize set of "states" w

[2018-03-15 05:55] spficklin commented on #228
You beat us to it! Your pull request has been applied. Thanks for fixing it.   I'm closing this out but reopen if you still have issues.

[2018-03-15 05:55] #228 closed, assigned to laceysanderson

[2018-03-15 06:01] spficklin commented on #308
Hi All,

Does it make sense to come up with a set of tables for properly storing this data?  It doesn't seem right to try and shove it into existing tables that don't really handle it well.  One suggestion was to just create group tables for each "module" (e.g. feature_group, stock_group, etc.).  It's simple and I don't think we'd have a problem getting it approved for Chado 1.4.   @bradfordcondon

[2018-03-15 06:53] spficklin commented on #305
That was really helpful @risharde .  I was able to identify where the problem was coming from and I applied a fix. It's currently in pull request #313 waiting for another core developer to review it.

[2018-03-15 12:45] bradfordcondon commented on #308
#269   Maybe the more substantial discussion was over the phone.

I'm OK with a `*_group` schema.   presumably theres also a group table with at least a type_id, and groupprop.

[2018-03-15 14:27] bradfordcondon commented on #285
this is in #307 @shawnawsu . I'ts not merged yet but will be soon so i think we can reasonably close this issue.

[2018-03-15 14:27] #285 closed, assigned to spficklin

[2018-03-15 16:11] #179 closed, assigned to shawnawsu

[2018-03-15 16:39] shawnawsu commented on #310
Drupal has extensive coding standards: https://www.drupal.org/docs/develop/standards/coding-standards

Given Tripal is a contributed module it's best practice to stay within the guidelines set out in their documentation.

I use Visual Studio Code setup using this as a guideline: https://www.drupal.org/docs/develop/development-tools/configuring-visual-studio-code

This page lists most of the popula

[2018-03-15 18:22] bradfordcondon commented on #297
now that I'm working on this I'm hitting some roadblocks.  We were thinking, create a *field* type that the user can create.  the cvbrowser field would let the user specify which CV to display the tree for, it would automatically only show entities related to the field instance (what im calling the anchor entity, below), and it could be configured to only show entitys of certain bundle types.

Nam

[2018-03-15 18:59] bradfordcondon commented on #310
Thanks Shawna.  Looking over the XML I linked, that reflects the style guidelines (which if you are a hack like me you don't want to read and conform to, you want to import and not worry about it).   The IDE guide you link has some configuration files for some editors but not others .

I know the coding standards link is in the developer guide.  I'll add a link to specific style import profiles as

[2018-03-16 17:16] bradfordcondon commented on #311
Organizing tests is more for subtesting to save you  from running the WHOLE SUITE during TDD.  You are working on a certain feature so you just want to run tests in that group.  I also create a group "failing" so you can just run those failing tests.  Then your CI runs ALL tests when you push (or you just run it before pushing).

creating and cleaning up database state for tests is called Fixtures

[2018-03-16 17:25] bradfordcondon commented on #308
You know, the *Relation* module i previously used could also handle grouping.  It had the problem of not being in chado because its linking entities, but I want to put it in the discussion, particularly because it also might provide a solution to the cvterm mapping relationship #297

edit to elaborate, what the module does is you define a relationship type, and it creates a new entity type for tha

[2018-03-16 17:27] bradfordcondon commented on #305
This PR has been merged.  @risharde please let us know if the isn't wasnt resolved and we'll reopen.

[2018-03-16 17:27] #305 closed, assigned to spficklin

[2018-03-16 20:39] spficklin commented on #311
Okay, planning tests on this scale is new for me as well.... So would it make sense then to create some base classes that in their setup set the database a certain way.  So if we need a whole genome loaded we could have a whole genome base class that doesn't have any tests itself but just provides setup.  We can then extend that class for any actual testing classes that need that setup?  It would

[2018-03-17 15:57] bradfordcondon commented on #277
it was null in Chado, so no.  we've since overwritten the definition with the name.

[2018-03-20 18:55] shawnawsu opened #315 "New tripal v3 site with chado 1.11 or 2 install fails"
### System information
* Tripal Version: 7.x-3.x
* Drupal Version: 7.56
* PostgreSQL Version: 9.5.12
* PHP Version: 7.0.28

### Issue description
When standing up a new tripal v3 site choosing chado version 1.11 or 1.2 results in the following error:
[code]

[2018-03-21 15:17] bradfordcondon commented on #310
Summarizing slack discussion:

The new Drupal coding standard conventions use `[]` instead of `array()`.

[Drupal coding standards also discourage pushing changes that are for style only.] <--- edit, contradictory with below...

edit: after reading the [coding standards](https://www.drupal.org/docs/develop/standards/coding-standards) I have pulled out the two relevant sections:

Therefore:

* Only

[2018-03-21 16:02] shawnawsu commented on #249
I'm working on https://github.com/tripal/tripal/issues/240 but everything listed (except delete_me) here is all Drupal based and it's not a good idea to override drupal defaults.

- The extra box is added by drupal as it's an unlimited value field.
- I'm not sure what this second point means but this unlimited value fields allow for drag and drop in drupal.
- delete_me can be rmeoved and a default

[2018-03-21 16:02] #249 closed, assigned to shawnawsu

[2018-03-22 14:30] bradfordcondon commented on #293
hi all @spficklin any thoguhts/updates on this?

[2018-03-22 14:55] bradfordcondon commented on #311
Abdullah and I have two projects that I think we can use to great effect for this problem:
* https://github.com/statonlab/tripal_dev_mini_dataset
* https://github.com/statonlab/TripalTestSuite

The test suite provides a test class with some built in cool stuff, such as db connectivity, transactions, automatic PHPUnit and Travis CI testing setup.
The seed dataset provides a single, standardized dat

[2018-03-22 17:16] mestato commented on #297
Could you write in support for the most common "anchoring" use cases (organism to feature, analysis to feature, biomaterials to analysis) and then provide the admin a way to specify their own linker relationship?  I'm not sure exactly how this would work in practice (SQL clauses? not pretty but could work), but if we have well documented cases of properly configuring the field with the most common

[2018-03-22 20:43] bradfordcondon opened #317 "FASTA loader adds text to the sequence field"
### System information

* Tripal Version: current master 7.x-3.x
* Drupal Version: 7.56
* PostgreSQL Version: 9.6.1
* PHP Version: 7.1.7

### Issue description
Using the FASTA importer...
Sequence to try: https://raw.githubusercontent.com/statonlab/tripal_dev_mini_dataset/master/sequences/fExcelsior_scaffolds.fasta

uploading a fasta file starting with

[code]

results in the below sequence in the

[2018-03-23 21:21] spficklin opened #318 "Tripal rapid install failing."
### System information

* Tripal Version:  3.x
* Drupal Version:  7.56
* PostgreSQL Version:  10.2
* PHP Version: 7.2.3
* OS Version: Ubuntu 18.04 (pre-release)

### Issue description
During install I get the following errors:
[code]
I'm installing on a brand new Ubuntu 18.04 pre-release setup. I'm not sure if this issue is related to the ne OS or recent changes we've made in the code.

[2018-03-23 21:21] spficklin commented on #318
@bradfordcondon how hard would it be to add the rapid install to our current installation unit tests?

[2018-03-23 21:27] bradfordcondon commented on #318
doesn't the rapid install clone a specific release?  Doesnt this just tell you that rc-2 doesn't install properly (which we already knew?), and adding it to the test would just tell you the build status at the state of the release?

Anyway if its worth doing, not hard at all.  Just spin an extra docker container from the drupal base, same as the tripal install.  But change the build process to fol

[2018-03-24 01:51] spficklin commented on #253
Fixed with pull request

[2018-03-24 01:51] spficklin commented on #188
Fixed with pull request

[2018-03-24 01:51] #188 closed, assigned to shawnawsu

[2018-03-24 01:53] spficklin commented on #186
This should be fixed in the current 7.x-3.x branch with the pull request from @shawnawsu .  Please comment if there continue to be issues.

[2018-03-24 01:59] spficklin commented on #120
This issue still exists despite the fix from the pull request #314 .  This is probably because some of the BFO terms got moved over to the Relationship Ontology but the BFO prefix was kept. This is a problem with the ontology which we reported here BFO-ontology/BFO/issues/218 and with EBI here: EBISPOT/OLS/issues/192.  EBI has updated the record for the 'part_of' term.  But, if there are others, w

[2018-03-24 02:21] spficklin commented on #317
I have tested this and I cannot duplicate the error. The FASTA loader seems fine for my tests.  Also I cannot find any code in Tripal that creates text that looks like what is inserted into those FASTA records, so it's not clear to me where that could be coming from.

[2018-03-24 13:31] almasaeed2010 commented on #318
I'd suggest keeping the tests out of the main tripal and adding it to the rapid install repo itself. Since the installer pulls a specific tripal version, the build process will be auto triggered on travis every time you change that version. I'd also suggest not using docker for this one and implementing a travis environment, which gives us the advantage of testing a tripal install on multiple php

[2018-03-24 17:33] bradfordcondon commented on #317
Really?  Could it have something to do with my local memory settings?

Turns out i get this behavior not just with the local JS file loader, but also supplying a remote path (and presumably a local path as well).

[2018-03-24 18:00] bradfordcondon commented on #318
I'm inclined to agree with Abdullah here.  Trigger a new build on the rapid install repo with every new release candidate.

[2018-03-24 19:59] bradfordcondon opened #319 "menu settings area for tripal entities?"
Tripal 3 question:

Previously, one could go to the "menu settings" section of a content type to manage the menu settings.  You could make the content available to be added to menus.    Is it possible to add this for Tripal entities?  It would be nice to allow organisms to appear automatically in a menu list, for example.

Apologies if this is something that is no longer possible going from nodes

[2018-03-24 21:21] bradfordcondon commented on #317
super embarrassing: this text was added by the IDE.  Publishing the entities, the seqeunces are normal: entries are fine in the database.

So sorry.   i am seriously going to stop working sick.

[2018-03-24 21:21] #317 closed, assigned to spficklin

[2018-03-26 14:17] bradfordcondon commented on #277
I think we can close this, given that its pretty fixable and hackable.  Just wasn't sure if others also had lots of terms without definitions for some vocabularies.

[2018-03-26 14:17] #277 closed, assigned to nobody

[2018-03-26 19:18] shawnawsu opened #320 "Tripal Fields with unlimited cardinality are not passing values for fields added through 'add more items' button"
After significant testing, this is verified as happening across multiple user's installs.

Currently looking at using default values as a way to force correct value array builds.

The issue was originally identified in #240 & #249.

This is not a high priority fix because data can still be input it just requires users to save after each input to generate the next available field for input.

[2018-03-26 19:19] #240 closed, assigned to shawnawsu

[2018-03-27 10:04] oklonova commented on #308
I see the ongoing discussion about the group module in Chado, but I am still curious if things could be done simply in our case.

We chose the cv route, as we have to create our own definitions of the terms anyway.
I uploaded our own cv from an .obo file which lists all the terms and relationships. Now each protein in our database is associated with a type (the type is given in the data file). Thi

[2018-03-27 16:16] almasaeed2010 commented on #318
Hello,

I've added travis integration to the tripal_install repo in this PR: https://github.com/tripal/tripal_install/pull/3

The PR supports matrix testing so the command will get tested against all of php 7.x versions automatically once enabled.

Thanks!

[2018-03-27 16:33] shawnawsu commented on #318
I did some testing of rapid install in ubuntu 16.04 and on Mac OS and everything works as expected, so I believe it's your php/ubuntu/drush version. Did you get a site up and running and are the tripal drush commands working?

[2018-03-28 09:22] guignonv opened #322 "Tripal 3 Chado preparation issue when reloading a Chado dump"
* Tripal Version: 7.x-3.x
* Drupal Version: not related
* PostgreSQL Version: not related
* PHP Version: not related

Note: this is a minor issue as it should only happen to advanced users manipulating the database directly.

When you install and initialize Chado with Tripal (job) using "Prepare Chado" interface, materialized views are created correctly and everything is fine. However, if you clea

[2018-03-29 14:39] almasaeed2010 commented on #311
I am referencing this here in case it matters to anyone

[TripalTestSuite](https://github.com/statonlab/TripalTestSuite) now supports database seeders which allows you to seclude your data providers from your tests. They can also be set to run automatically which would put the data in your DB before the tests start and then roll them back once the tests are done. This makes the seeders shareable,

[2018-03-29 15:30] shawnawsu opened #323 "Tripal Entities API documentation questions"
- [x] function tripal_entity_permissions --> this is commented out, should it be removed?

- [x] function tripal_insert_entity --> Are we keeping this in? I'm not sure it's finished or what the use case for it is.

- [x] function tripal_update_entity --> This is empty, should this be removed?

Please see the 7.x-3.x-api-docs branch for an updated doc.

[2018-03-29 18:06] shawnawsu opened #324 "Tripal Fields API documentation questions"
- [x] function hook_bundle_fields_info_alter --> I can't find this implemented anywhere in a module_implement nor can I find this being used. Are these in use/required?

- [x] function hook_bundle_instances_info_alter -->  I can't find this implemented anywhere in a module_implement nor can I find this being used. Are these in use/required?

[2018-03-29 21:56] laceysanderson commented on #324
I think they are required although I haven’t needed to use them yet. As I understand it, they would allow module developers to alter the way a field registered by another module or core is defined.

[2018-03-31 00:28] laceysanderson commented on #319
@bradfordcondon are you referring to the “menu settings” section on each node edit page? For example, you go to a specific organism page (e.g. spruce), click edit and it was in the vertical tabs near the bottom?

[2018-03-31 00:35] laceysanderson commented on #320
Assigning myself as a means to add it to my todo list :-)

[2018-03-31 01:10] laceysanderson commented on #297
I think you can do this using the original table structure by storing the entity relations as a hierarchical tree in JSONB then querying it using [recursive CTEs](http://tatiyants.com/how-to-navigate-json-trees-in-postgres-using-recursive-ctes/). I’ll try to play with this in the next couple of work days to see if I can get a proof of concept for you.

[2018-03-31 03:08] bradfordcondon commented on #297
for what its worth i've got a likely too-slow draft of the backend up at https://github.com/statonlab/tripal/tree/cvbrowser with just a serialized array.  I haven't modified the js tree to plot out the data though.

[2018-03-31 16:00] bradfordcondon commented on #319
yeah!  For that individual node edit page menu setting option to appear, you have to "make the content type available" for menus, but that option isnt available for tripal bundles

[2018-03-31 16:25] mdhar1980 opened #325 "After Tripal v3 rapid install, get "page isn't working...HTTP ERROR 500""
### System information

* Tripal Version: v3
* Drupal Version: 7.56
* PostgreSQL Version: 9.5.10
* PHP Version: 7.0.25-0

### Issue description

Hello, and thanks for your attention. I installed Tripal/Drupal using the rapid installation method recommended here (http://tripal.info/tutorials/v3.x/installation/rapid). I then checked the site. It at first said it could not access .htaccess -- I then

[2018-04-02 16:58] laceysanderson commented on #319
I will also need this functionality back :-) although I don't know yet how to make it appear. I imagine this functionality is not node-specific but that making it appear for Tripal Entities is obviously up to us and likely not well documented ;-) Never the less, where there's a will, there's a way.

[2018-04-02 18:10] spficklin commented on #319
We do have to implement it on our own because we define the entity.  To add a tab for adding a menu we need to edit the TripalEntituUIController and edit the function tripal_entity_form.   there you will see the fieldset named 'additional_settings' and in there is where we would need to add the code to set the menu for each entity.

[2018-04-02 18:20] spficklin commented on #319
Oops... didn't mean to close that.

[2018-04-03 15:55] bradfordcondon commented on #325
Hi Michael,
if you can't get a dummy `index.html` to show up then the problem is almost certianly with your server setup.  I'm assuming youre following this guide:
http://tripal.info/tutorials/v3.x/installation/server-setup
which OS are you installing under?

[2018-04-03 16:31] sdash-github opened #326 "Documentation needed for adopting non-Chado schema in Tripal 3"
Tripal3 supports non-Chado schema per announcement.  It will be very useful to have documentation to implement this feature.

At NCGR we have developed a new generic schema (outside our Chado instance) for RNASeq/gene expression data and have been serving this expression data via a Drupal module.  My specific need is to explain the schema to Tripal so that I can develop a Tripal extension that int

[2018-04-03 17:09] spficklin commented on #326
Okay! We'll prioritize getting that together for you!

[2018-04-03 17:10] spficklin commented on #326
Oh, and perhaps we should have a meeting to discuss your needs in this regard so we get the documentation containing what you need.

[2018-04-03 17:22] isumoc opened #327 "Enabling Collections with anything other than data_search/content-type"
Has anyone enabled Data Collections with anything other than the built-in searching ?

This line makes it not happen right now:
https://github.com/tripal/tripal/blob/445cbb56c50fc80f098f82f9f99bee6e73307356/tripal/views_handlers/tripal_views_handler_area_collections.inc#L23

Any notes or pointers would be appreciated.

[2018-04-03 17:30] sdash-github commented on #326
Thanks.  The following may give you some idea on what I am expecting.
Level: Not expert developers.
Need:
1. Where to start.
2. Examples to specify tables, relations and table columns.
3. Any tricks to relate to Chado tables (particularly to feature table).
4. Just enough code examples to extract the data in template files.

Meeting:  Good idea!
Please suggest a time (below are times I don't have

[2018-04-03 17:30] laceysanderson commented on #326
Hi @spficklin, I talked to @sdash-github at the recent LegFed workshop regarding this module. You can find the [module code here](https://github.com/legumeinfo/lis_expression) and an [example here](https://legumeinfo.org/feature/Phaseolus/vulgaris/gene/Phvul.009G108100.v1.0#pane=geneexpressionprofile). I already advised them to move the functionality into a custom Tripal3 Field ([Documentation](ht

[2018-04-03 17:36] bradfordcondon commented on #327
Our Elasticsearch module creates collections  https://github.com/tripal/tripal_elasticsearch

I've also used collections in an entity converter utility.

What are you trying to do?  It looks like you're trying to use the collections view someplace outside of that view?    Should you instead be using the collections API to write your own new view?  ie in `tripal/api/tripal.collections.api.inc`.

[2018-04-03 17:39] sdash-github commented on #326
@laceysanderson:
-- Same database as Chado and I access the tables with ongenome.*  #schea name: 'ongenome'
-- All the tables are in ongenome schema.

[2018-04-03 21:16] bradfordcondon opened #328 "Can entity IDs be filterable for views?"
Hello,

I'm happy to report I'm making some progress with entity mapping and the cvbrowser.  #297 I don't know that it's still appropriate for core, but, a conversation for another time/place.

I have an array of entity ID's associated with a given node in the CVterm tree.  I want to provide a link for users that they can click that will populate a view with those entities.  (EG, browsing GO I see

[2018-04-04 15:31] mdhar1980 commented on #325
Hi, Bradford,
Thanks for your response. We have Ubuntu 16.04.2 LTS.

Yes, that's the installation guide use.

Thanks!
--Michael

[2018-04-04 16:02] spficklin commented on #324
I think those are left over from previous iterations of the code and they can go away.   We don't call those hooks anywhere in the code.   If we need them we can put them back in a later version.

[2018-04-04 16:11] spficklin commented on #323
Remove the tripal_entity_permission function. If we want to provide entity level permissions we need a full design which is probably why that function is commented out.

The tripal_insert_entity and tripal_update_entity functions are meant to be used for generic  inserting and updating an entity.    Let's take them out of the Doxygen group but leave the code so we can finish them up later.

[2018-04-04 19:02] srobb1 commented on #253
@shawnawsu @spficklin I am super excited! I will test this out as soon as I get a bit of time. I have been in the weeds. I was just cleaning out my inbox and saw the messages about this. This is a great reason to clean up my inbox :)

[2018-04-06 15:12] bradfordcondon commented on #325
Sorry for the super slow responses.
According to the guide, apache should give you the default page after:  `   sudo apt-get install apache2` before Tripal or even Drupal enters the scene.

Can you check your server logs at `/var/log/httpd/error_log`  ?  Here's a [general apache 500 error resolution guide](https://www.1and1.com/cloud-community/learn/web-server/server-management/how-to-fix-http-err

[2018-04-09 13:21] almasaeed2010 commented on #325
It sounds like the server permissions are not set properly. If the issue persists, I'd recommend setting all folders to 755 and files to 644. Here is a command to do that automatically:
[code]
That will loop through the entire directory recursively and fix the permissions based on file type (directory vs regular file).

As for `index.html`, if you've put it alongside `.htaccess`, then it was overr

[2018-04-09 19:27] mdhar1980 commented on #325
Hi, all -- thanks much for these responses, and sorry for my own delay. Will look into these fixes and logs shortly and report back. Thanks!

[2018-04-09 20:23] shawnawsu opened #330 "Tripal Chado Deprecate API functions"
As we write the API docs it's become apparent that the naming conventions in the Tripal Chado api docs are not consistent, there is a mix of tripal, tripal_chado, and chado.

The suggestion is to change all the names to chado_function_name and deprecate the old names.

For example:
function tripal_get_publication would become function chado_get_publication and tripal_get_publication would end up i

[2018-04-09 22:38] spficklin commented on #330
I like changing all API functions in the tripal_chado module to have just a 'chado_' prefix as opposed to 'tripal_chado' as the prefix as it's shorter and I think a namespace that probably won't ever have a conflict...

[2018-04-09 22:41] spficklin commented on #253
@srobb1 we have yet to backport this fix to Tripal v2, so it may not work for you just yet....

[2018-04-09 22:41] spficklin commented on #253
I'm reopening just to remind us to backport to Tripal v2.

[2018-04-09 22:45] spficklin commented on #328
Hey @bradfordcondon I'm not quite following what you'd like to do.  Do you want a user to be redirected to a Drupal view that lists the entities when the user clicks the 'x records' link in the CV tree?

[2018-04-09 23:45] bradfordcondon commented on #328
yes exactly!

I built a custom page to do to this in the interim.    However if I had a view instead I could take advantage of sorting/filtering/collections.

But the problem is entity id is not something that is filterable/sortable so I can't link to a view of say genes based on the entity ID...

[2018-04-10 09:01] abretaud opened #331 "Drupal.org git sync"
INSTRUCTIONS: The following template is meant to provide the information that will help other Tripal developers diagnose and reproduce your issue. Follow the directions below to complete the template. If the template is not appropriate for your issue you may remove it and describe your issue.

### System information

* Tripal Version: 3.x
* Drupal Version: 7.58
* PostgreSQL Version: 9.5
* PHP Vers

[2018-04-10 09:04] abretaud commented on #202
Was there some progress made on this?
I have pushed the original python code I wrote in december to work with entities in https://github.com/galaxy-genome-annotation/python-tripal/pull/1, I'm wondering if it's something I can try to finish before the new python-tripal release, or if I should wait for the tripal code to be ready

[2018-04-10 15:48] shawnawsu commented on #324
changes incorporated into 7.x-3.x-api-docs branch

[2018-04-10 15:48] #324 closed, assigned to laceysanderson, spficklin

[2018-04-10 15:49] shawnawsu commented on #323
changes incorporated into 7.x-3.x-api-docs branch

[2018-04-10 15:49] #323 closed, assigned to laceysanderson, spficklin

[2018-04-10 15:53] shawnawsu opened #332 "Tripal API Documentation updates required"
The following api docs need a bit more information describing them. Feel free to just reply to this ticket or create a pull request on the 7.x-3.x-api-docs branch.

- [x] tripal_chado.analysis.api.inc
/**
 * @defgroup tripal_analysis_api Chado Analysis
 * @ingroup tripal_chado_api
 * @{

 * @}
 */

- [x] tripal_chado.contact.api.inc
/**
 * @defgroup tripal_contact_api Chado Contact
 * @ingroup tri

[2018-04-11 21:55] chunhuaicheng opened #333 "Bug in API function 'chado_generate_var' causes a blank page"
### System information
* Tripal Version: 7.x-2.x
* Drupal Version: 7.56
* PostgreSQL Version: 9.4
* PHP Version: 7.0.28

### Issue description
Bug in API function 'chado_generate_var' causes a blank page. When displaying cvterms that have backslash '\\' in its definition, in this case: the 'cell death' cvterm, on a feature page through the template 'tripal_feature_terms.tpl.php', the site will bre

[2018-04-11 22:11] chunhuaicheng opened #334 "drush command failed when running in an NFS mounted webroot directory"
### System information
* Tripal Version: 7.x-3.x
* Drupal Version: 7.56
* PostgreSQL Version: 9.4
* PHP Version: 7.0.28

### Issue description
drush command  'drush trp-run-jobs' failed when launching data loading (i.e. 'Importer') jobs in an NFS mounted webroot directory. Tripal tried to load all importers from the local webroot path instead of the NFS path. This was working in 7.x-2.x

[2018-04-12 22:06] laceysanderson commented on #330
Is this specific to the API functions carried over from Tripal2 or does it include new API functions in Tripal Chado?

When we last went through making API functions consistent, we went with
 - `tripal_[verb]_*` for general Tripal API functions
 - `chado_[verb]_*` for general Chado API functions
 - `tripal_chado_[verb]_*` for API functions in specific modules (e.g. publication, organism, etc.)

So

[2018-04-13 01:05] zhuyiqin commented on #186
hi, I'm currently working on the 2.x branch and met the same issue when loading the Gene Ontology obo file. Is there any way to deal with it now, or do I have to upgrade to the 3.x branch? Thanks.

[2018-04-13 08:24] mdondrup opened #336 "views-sql-compliant-three-tier-naming FAILS after update to Views 3.19"
### System information

* Tripal Version: 7.x-2.x
* Drupal Version: 7.58
* PostgreSQL Version: 9.3
* PHP Version: 5.4

Project views was updated successfully. Installed version is now 7.x-3.19.

### Issue description

After updating to Views 3.19 today, the sql-compliant-three-tier-naming patch reports 2 failed hunks. Tripal Views do not work after the failed patch.

drupal/sites/all/modules/views

[2018-04-13 13:24] abretaud opened #337 "Trouble creating publish jobs programmatically"
### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.58
* PostgreSQL Version: 9.5
* PHP Version: 7.2

### Issue description

Hi,
Still trying to support some tripal 3 stuff in python-tripal.
I'd like to create jobs for publishing content. I've seen that the jobs should call the tripal_chado::tripal_chado_publish_records callback to do this. So I have a function which creates this

[2018-04-13 13:30] mdhar1980 commented on #325
Hi, Bradford -- Just saw your edit: This is a production instance, so it's on a VM. Looking into your other suggestions now. Thanks!

[2018-04-13 13:31] mdhar1980 commented on #325
(I meant non-production instance)

[2018-04-13 13:55] mdhar1980 commented on #325
Thanks, Alma -- that command fixed the issue, and the page now loads. Thanks a lot!

[2018-04-13 13:55] #325 closed, assigned to nobody

[2018-04-13 16:06] laceysanderson commented on #336
We have a patch for this in Tripal3 (thanks @abretaud ) but have yet to backport it. In the mean time you can use it directly by downloading it here: https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado_views/views-sql-compliant-three-tier-naming-1971160-30.patch

[2018-04-13 16:18] laceysanderson commented on #331
I just updated drupal.org so hopefully there is a new dev release soon. That said, since all active development occurs over here, I would recommend cloning git if you want to ensure you have the most recent dev version...

I'm going to close this issue as I have updated drupal.org but if for some reason you don't see a new release (they're created nightly) or if you feel cloning through github is

[2018-04-13 16:18] #331 closed, assigned to nobody

[2018-04-13 16:22] laceysanderson commented on #333
I don't have the term 'cell death' in my site. Which ontology is it from and what is the description which causes the error?

[2018-04-13 16:29] chunhuaicheng commented on #333
It is from the Gene Ontology's 'biological_process'. Its definition reads:
Any biological process that results in permanent cessation of all vital functions of a cell. A cell should be considered dead when any one of the following molecular or morphological criteria is met: (1) the cell has lost the integrity of its plasma membrane; (2) the cell, including its nucleus, has undergone complete fragm

[2018-04-13 16:47] bradfordcondon commented on #333
Hi all: If it helps with testing, this term is included in the [plant GOslim](http://www.geneontology.org/ontology/subsets/goslim_plant.obo), which loads in ~2 minutes as opposed to the full GO which takes a very long time on my dev instance.

[2018-04-13 16:55] chunhuaicheng commented on #333
Thanks Bradford. Could yo check if your 'cell death' definition has backslash '\\' in it? I wonder if it's just me. I think I loaded GO with Tripal OBO loader and 'cell death' is not the only one with backslash in it.

[2018-04-13 16:56] bradfordcondon commented on #333
checked teh DB, no escapes there either.

[2018-04-13 16:58] bradfordcondon commented on #333
Unfortunately I can't cross check against our dev site: it didnt use the OBO loader at all.

[2018-04-13 17:04] chunhuaicheng commented on #333
Okay. I think I'll manually remove those back slashes in the DB to avoid the bug for now. I thought I shouldn't do that but you confirmed the backslash shouldn't be there in the first place. Thanks for checking.

[2018-04-13 17:22] laceysanderson commented on #333
Interestingly it looks like the definitions are slightly different: @bradfordcondon doesn't have `(3)  its corpse (or its fragments) ...`. This implies someone should try to reload the full GO to see if the newest version contains the backslash or not.

[2018-04-13 17:26] bradfordcondon commented on #333
The mini GO set is purposefully missing terms and relationships.

You can just look at the full OBO http://purl.obolibrary.org/obo/go.obo .

[2018-04-13 18:41] laceysanderson commented on #333
*slaps forehead* good point about just checking the file.

Confirmed that neither the quotes or backslash are supposed to be there in the most recent version of GO.

[2018-04-13 22:28] carolyncaron opened #338 "Dashboard on a newly created Tripal3 site gives PHP Warning related to tripal_daemon"
### System information

* Tripal Version: 7.x-3.x commit a98e03f0e4b357c67d8b44b7b5c4ce75cac1cf51
* Drupal Version: 7.55
* PostgreSQL Version: 9.3.15
* PHP Version: 5.5.9

### Issue description

I've created a brand new Tripal 3 site on which to develop an extension module, and noticed the following PHP error at the top of the "Dashboard" page. I have not yet started the daemon, only created an or

[2018-04-17 22:24] laceysanderson commented on #336
This is fixed thanks to the PR by @abretaud :-)

[2018-04-17 22:24] #336 closed, assigned to abretaud

[2018-04-18 00:49] dedenmatra opened #340 "Rapid installation Error, Tripal 3"
Dear Tripal Admin,

I try to install Tripal through Rapid installation but its not complete. I atached error log below

HTTP request sent, awaiting response... 200 OK
Length: 3277833 (3.1M) [application/x-gzip]
Saving to: 'drupal-7.56.tar.gz'

drupal-7.56.tar.gz               100%[=========================================================>]   3.13M  9.84MB/s    in 0.3s

2018-04-18 07:43:17 (9.84 MB

[2018-04-18 16:36] btski commented on #340
Are you trying to install over an existing installation of Tripal? What are your dependencies (Drupal Version, PostgreSQL Version, PHP Version, operating system)?

[2018-04-19 04:06] isumoc opened #341 "Problem/Error implementing basic search filtering via TripalFieldQuery"
* Tripal Version: 3.x (latest via github)
* Drupal Version: 7.56
* PostgreSQL Version: 9.5.10
* PHP Version: 7.1.13

I get this error message when attempting a basic filter:
Query callback function did not provide a numeric value: tripal_field_storage_query

This error message comes from an exception thrown and logged here:
https://github.com/tripal/tripal/blob/a98e03f0e4b357c67d8b44b7b5c4ce75cac1

[2018-04-20 16:38] laceysanderson opened #342 "Tripal Collections + Drupal Search API Incompatibility"
### System information
* Tripal Version: 7.x-3.x
* Drupal Version: 7.x

### Issue description
Currently the Tripal Collections Views Handler requires the attached view to be using the query plugin `tripal_views_query`. This is not the case for views based on the Drupal Search API. Furthermore, the current Tripal Collections Views Handler form is geared towards displaying options for a single entit

[2018-04-20 18:12] spficklin opened #343 "Data Collections for Anonymous Users"
As requested by @isumoc.  Can we support anonymous users with Data Collections.

[2018-04-20 22:00] spficklin opened #344 "Discussion: Future Tripal - Governance"
I'm starting this issue as a place for discussion about the creation of more formal rules to govern how we accept code into Tripal and how Tripal should look going forward.  We have a really good opportunity with Tripal v4 and Drupal 8 to streamline development.  I'm specifically leaving this vague to solicit thoughts regarding issues.

However I would like to add a few items do get the discussion

[2018-04-20 22:58] bradfordcondon commented on #344
I read through some of the [governance structures for open soruce projects](https://opensource.guide/leadership-and-governance/#what-are-some-of-the-common-governance-structures-for-open-source-projects) and im wondering where you think Tripal falls.  How many people do you imagine having write access?  How many people have it right now and is that working?

I think having clear policies for PR st

[2018-04-20 23:10] bradfordcondon commented on #328
Update: I have cases where thousands of entities might  be included, which is too many to pass as an argument.  I therefore restructured the results page to look up the appropriate entities, instead of being supplied them as a list.  That means this is a moot issue for me.

@spficklin please close if you don't see a use for this

[2018-04-23 16:35] spficklin opened #345 "tripal_phylogeny_import_tree_file needs updating"
The tripal_phylogeny_import_tree_file() function in the tripal_chado.phylotree.api.inc file needs to be updated to use the new NewickImporter class.  Currently it is still calling the function in the legacy tripal_phylogeny module.

[2018-04-23 16:48] spficklin commented on #332
I've refreshed the comments for those API files mentioned above.

[2018-04-23 16:48] #332 closed, assigned to laceysanderson, spficklin, shawnawsu

[2018-04-23 17:05] shawnawsu commented on #330
I'm a bit confused now. Most of the methods in the tripal_chado/api/module folder all start with `tripal_[verb]_*` instead of `tripal_chado_[verb]_*`.

Excluding those files the `tripal_[verb]_*` are:

tripal_chado.cv.inc
[code]

tripal_chado.mviews.api.inc
[code]

tripal_chado.query.api.inc
[code]

tripal_chado.semweb.api.inc
[code]

[2018-04-23 17:08] spficklin commented on #344
Thanks for sharing those two docs @bradfordcondon. In regards to the first, I don't think a BDFL is the right model to go with.  I suppose in the recent past, myself and @laceysanderson have been co-BDFLs, but mostly because we've been most active.   Perhaps we need a guiding document that lays out our long-term wishes for Tripal and so long as we have like-minded individuals who can respect the d

[2018-04-23 17:25] spficklin commented on #330
I suspect that the tripal_chado_[verb]_* may be in the legacy folders and are now deprecated.

[2018-04-23 17:55] bradfordcondon commented on #344
For the sake of argument, let me propose we're going to use the [meritocracy structure](http://oss-watch.ac.uk/resources/meritocraticgovernancemodel), with an oversight committee, as a loose template.

I think that this will in fact meet our needs, because the PMC can be composed of groups who are not necessarily actively funded and contributing to Tripal.

  This consists of

* Contributors
* Com

[2018-04-23 18:10] nathanweeks commented on #336
I just updated to Views 3.20, and the latest patch doesn't seem to apply cleanly:

[code]

[2018-04-23 18:16] nathanweeks commented on #336
Whoops, sorry---false alarm. I had an old version of the patch. The latest version seems to work.

[2018-04-23 20:50] mestato commented on #344
I was going to comment on the PMC and committing decisions. Not to make this too complicated but I think we really need two separate things here.

Advisory/Steering Board - long term view, funding, overall plan of development - you know, the philosophical debates - composed of PIs and any long term contributors/stakeholders

Committer group - people with their daily work lives in with the codebase

[2018-04-23 23:04] laceysanderson commented on #344
My priorities:
1. Protect the voice of unfunded sites, keep Tripal generic and lead us not into temptation of feature bloat
2. Help everyone feel welcome to contribute (comments, feature requests, bug reports, PR's all count in my books -you can be a contributor without ever writing a line of code!)
3. Ensure lots of communication without a lot of meetings ;-)

With that focus in mind:
 - The meri

[2018-04-24 20:44] bradfordcondon opened #347 "problem with CI build script causing PR failure:needs 7.x-2.x branch"
PRs will fail if the fork doesnt have a 7.x-2.x branch, because it builds the tripal 2 container via github (the `git checkout 7.x-2.x` step of hte script.

The solution is to automate building the Tripal 2 docker container.  When a change is commited to 7.x-2.x branch, rebuild the Tripal 2 test docker.

In the core build script, launch the tripal 2 docker without linking the tripal repo (since we

[2018-04-24 21:54] btski opened #348 "Tripal site incredibly slow due to tripal_analysis_blast module?"
* Tripal Version: 3
* Drupal Version: 5.10.0
* PostgreSQL Version: 9.5.12
* PHP Version: 7.0

I've noticed incredibly slow load times on every page of my Tripal site. Some quick research told me the likely cause was a misbehaving module. Admittedly, when attempting to install tripal_analysis_blast, I made several mistakes and did not properly disable/uninstall. However, there seems to be an additi

[2018-04-25 00:16] bradfordcondon commented on #348
Hi,

When errors get written to watchdog it can slow down the site considerably.  Deleting any module without first disabling will cause this problem.

You said you tried reinstalling but could not: how are you doing that?
I would `git clone https://github.com/tripal/tripal_analysis_blast.git` into `/var/www/html/sites/all/modules/tripal_analysis_blast` (which is where Drupal is looking for your m

[2018-04-25 00:19] bradfordcondon commented on #348
Regarding option 2 (if you can redownload the module and disable ie follow step 1, my above suggestion, your life will be easier):

[code]

How about `drush sql-query "DELETE from public.system where type = 'module' AND name = 'tripal_analysis_blast';"`  (note **public**.system)

[2018-04-25 14:45] bradfordcondon commented on #348
hi @btski
after reviewing your issue again, a couple more things:

[code]

this is telling you that drush couldnt connect to the db.  make sure you are running this command in `/var/www/html`

you also have permissions issues

[code]

run this from web root (usually /var/www/html)  to fix

[code]

[2018-04-25 15:02] bradfordcondon commented on #344
@almasaeed2010 has brought to my attention that we want to consider the liberal contribution model, because it doesnt require voting on everything.

Maybe we want a hybrid where PRs implementing new features trigger a vote, other PRs are handled by committers without requiring vote/consensus.  Really we want (IMO) faster fixes, responsibility distributed a little more among committers.

i'm siding

[2018-04-25 16:10] btski commented on #348
Thanks @bradfordcondon for the helpful suggestions. I can't recall if I was appropriately running drush from the /var/www/html directory. I seem to forget to do that fairly often. I have now run "DELETE from public.system where type = 'module' AND name = 'tripal_analysis_blast';" on two servers/instances. I have also run find . -type d -exec chmod 755 {} \; && find . -type f -exec chmod 644 {} \;

[2018-04-25 18:20] spficklin commented on #330
Here is a suggestion for API documentation naming

| Module Type | Naming Scheme |  Notes |
| ------------- |-------------| -----|
| Tripal Core Modules | `tripal_[verb]_*` |  This includes tripal, tripal_ds, tripal_bulk_loader, tripal_ws, etc. modules.  |
| Tripal Chado | `chado_[verb]_*` | For backwards compatibility we will keep Chado API calls without a 'tripal' prefix for all API functions in

[2018-04-25 19:17] laceysanderson commented on #330
I like your suggested naming @spficklin.

At first I was hesitant to change the current tripal_[verb]_ functions in tripal chado... But after looking at @shawnawsu list above, I agree that all those functions should be chado_[verb]_ to reduce conflict with similar support for alternate storage backends.

[2018-04-25 23:34] risharde opened #349 "Required multi field adds new field on editing"
Hi guys, so we have a few required fields (allowing multiple values) under the contact content type. It seems that everytime I go to the edit form, an additional multiple field is added. So say I had 2 values under the multifield, when I go to the edit form, I see three appearing with the last one having no value (empty). Because of this, when I try to submit, it says that I must enter a value in

[2018-04-26 14:54] almasaeed2010 opened #350 "Update CV Term Path Job Fails"
### System information

* Tripal Version: 3 (7.x-3.x)
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description
We've encountered the following error while attempting to populate cvtermpath for cellular_component (part of GO).

[code]

Worth noting that biological_process didn't have this particular issue but that could be because we updated it before anything else

[2018-04-26 15:02] almasaeed2010 commented on #349
Hello @risharde

To be able to help you better, could you please let us know the following:
1. Have you created this content type/bundle manually?
1. Is this a custom field added by a module? Or is it provided with Tripal?
1. To be able to replicate the error on our end, could you please provide the steps to add the field?

Thanks!

[2018-04-26 15:15] almasaeed2010 commented on #348
Hello @btski

I noticed that you are trying to install tripal_analysis_blast using `drush`. Unfortunately, the version in drush does not support Tripal 3. To install the module correctly, you'll have to use `git`.

[code]

This guarantees you have the version that supports Tripal 3. Note the last command may take a few minutes.

Regarding the permissions issue, if you have root access (sudo privil