[2017-02-13 19:36] laceysanderson opened #24 "Tripal3 Prepare Chado Tripal Jobs Errors"
Tripal Version: 7.x-3.0-beta1

I followed the tutorial (http://tripal.info/tutorials/v3.x/installation/tripal) and the step "prepare both Drupal and Chado" produced many errors when the Tripal job was launched. Furthermore, despite all the errors, my Tripal3 site now says "Your site is prepared." in green.

I've attached the entire log from running the Tripal job.
[tripal3.preparechado.txt](https:

[2017-02-13 20:51] spficklin commented on #24
Oops... Yep, a bug in the order of things that get run during preparing of Chado.   I've just committed a fix.  Can you pull the most recent dev version try it out.

[2017-02-13 21:49] laceysanderson commented on #24
Much Better :-)

I now only see a single error

[2017-02-13 22:59] spficklin commented on #24
Yep, that's one that we didn't get time to fix.  But not a big deal. It just means you won't have a 'miniref' field on your publication entity.

I'll create a new beta release as this will cause problems for folks.

[2017-02-14 00:38] #24 closed, assigned to nobody

[2017-02-14 19:16] laceysanderson opened #26 "Unable to create organism entity"
Following http://tripal.info/tutorials/v3.x/example-genomic-site/organism, there appears to be a bug adding the image.

If I fill in everything as instructed including **clicking the "upload" button** after browsing for the image then on submit the entity is not created, the form is reset and I see the following error:

If I fill out the form, browse for the image but **don't click upload** before

[2017-02-14 21:29] laceysanderson opened #27 "Small gotcha's related to the tutorial"
### Gotcha 1)
When creating an analysis (http://tripal.info/tutorials/v3.x/example-genomic-site/analysis), the tutorial specifies the Time Executed as Feb 1, 2011. However, the time executed field in Tripal 3 only provides 2014-2020 as options in the year drop-down. Either we should change the tutorial or configure this field to have a textfield for the year.
![screen shot 2017-02-14 at 3 27 26 pm

[2017-02-14 21:57] spficklin commented on #27
Oh, that's interesting. It's a drupal date field and I just noticed that if you edit the field then you can set the range of years that will appear in the dropdown.  The default is +-3 years.  Perhaps we should change the default to +10?

[2017-02-14 21:58] spficklin commented on #27
Oh, and for the time being... I fixed the tutorial to not specify an exact date.  Thanks for pointing that out.

[2017-02-14 22:03] spficklin commented on #26
This is odd.  We saw this error on an upgrade site, but then it disappeared so we were not able to reproduce it.  On our tests we've been able to create organism pages just fine.  For some reason, when the organism image field is created programmatically, the Drupal Field for Images isn't creating the table to store it's information.   Are you creating a site from scratch or upgrading?

[2017-02-14 22:11] laceysanderson opened #28 "No Tripal Panes by default when Tripal DS is enabled"
When following the Tripal 3 tutorial (http://tripal.info/tutorials/v3.x/installation/tripal), you
1. Install Tripal Core
2. Install Tripal Chado
3. Install Chado schema & prepare chado/drupal (created basic content types including organism)
4. Install Tripal DS

Following this workflow I don't get the default arrangement of Tripal Panes for all the original basic content types created via preparin

[2017-02-14 22:11] laceysanderson commented on #26
I'm creating it from scratch as per the tutorial

[2017-02-14 22:13] laceysanderson commented on #27
I figured it could be changed in config :-) Setting a default of +10 might be sufficient...

[2017-02-14 22:31] laceysanderson commented on #27
### Gotcha 2)
The tutorial shows screenshots and describes the Tripal Panes layout but due to #28, users following the tutorial won't see those layouts.
![screen shot 2017-02-14 at 4 30 33 pm](https://cloud.githubusercontent.com/assets/1566301/22952498/f0e4ee6a-f2d2-11e6-8c75-e9877c4c6565.png)

[2017-02-15 03:18] laceysanderson commented on #27
### Gotcha 3)
The Citrus_sinensis-orange1.1g015632m.g.gff3 GFF3 won't load because scaffold is not a term in the Sequence Ontology.

This is confirmed both my searching my database as well as sequenceontology.org. We're supposed to use supercontig: http://www.sequenceontology.org/browser/current_svn/term/SO:0000148

Fixed File:
[Citrus_sinensis-orange1.1g015632m.g.gff3.txt](https://github.com/trip

[2017-02-15 03:29] laceysanderson commented on #27
Gotcha 4)
When I publish the gene I see the following errors:

The genes and mRNA are still published though :-)

[2017-02-15 08:10] spficklin commented on #26
Okay, the problem was in the chado_set_active() function.  There was a bug in that it wasn't returning the correct previous database and the 'field_data_data__image' table was being created in the 'chado' schema rather than the 'public' schema.  That function is fixed and I tested loading from scratch and it works now.  You'll need to grab the development version.

For a quick fix, just move the '

[2017-02-15 08:10] #26 closed, assigned to nobody

[2017-02-15 08:15] spficklin commented on #27
For gotcha #2 we'll have a fix for issue #28

[2017-02-15 10:37] spficklin commented on #27
For gotcha #3 the cvtermsynonym table was being emptied after OBO loading in the Chado/Drupal prepare step.  This is why 'scaffold' could not be found.  The GFF loader accepts terms and their synonyms so it should have worked.   I've committed a fix and tested and I no longer encounter the problem.

The quick fix is to reinstall the ontologies.

[2017-02-15 10:39] spficklin commented on #27
For gotcha 4 that's shows up quite a bit... we need to figure that out.  I'm going to close out this issue. Gotcha #2 will be fixed when Issue #28 is fixed.  And gotcha #4 will get fixed eventually....

[2017-02-15 10:39] #27 closed, assigned to nobody

[2017-02-15 10:39] spficklin commented on #27
BTW... if you think any of these gotchas need to remain open can you post each one as a separate issue so it's easier to close them out :-)

[2017-02-15 17:10] laceysanderson opened #29 "Database Reference not formed correctly when loading FASTA"
Working through the tutorial (http://tripal.info/tutorials/v3.x/example-genomic-site/genomic-data), I load the mRNA FASTA and add in the "Advanced Options" for automatically creating the database references. During loading the Tripal job doesn't report any errors yet when I go to the mRNA page after publishing content, the database reference link is `<a href="https://phytozome.jgi.doe.gov/phytomin

[2017-02-15 18:18] spficklin commented on #28
Fixed in two ways:

1. Reorganized the Tripal tutorial to have the tripal_ds module installed before Chado/Drupal is prepared
2. Added a link on the "Manage Display" page of each content type that allows you to reset the layout to the default Tripal Layout.  This way if you have a content type that was created prior to have tripal_ds enabled you can still switch it over.

[2017-02-15 18:18] #28 closed, assigned to spficklin, shawnawsu

[2017-02-15 21:32] spficklin commented on #29
The problem is with the Tutorial and not with the FASTA loader.  There were two problem:

1.  The URL Prefix for the Phytozome database should have been:  https://phytozome.jgi.doe.gov/phytomine/portal.do?externalid=PAC:{accession}.  Note the {accession} token.   Tripal v3 supports two tokens in the URL prefix: {accession} and {db}.  This is because not all URLs schemas want the {db}:{accession} a

[2017-02-15 21:32] #29 closed, assigned to nobody

[2017-02-16 03:04] laceysanderson commented on #29
Oh! That's Awesome new functionality! Glad this one was a documentation issue rather then a bug :-)

[2017-02-16 20:05] NicHerndon opened #30 "tripal-7.x-3.0-beta3 failed at drush pm-enable tripal"
Trying to install Tripal3 beta3 on CentOS 7 failed with following error.

# drush pm-enable tripal
The following extensions will be enabled: tripal, php
Do you really want to continue? (y/n): y
PHP Parse error:  syntax error, unexpected '.', expecting ',' or ';' in /var/www/html/sites/all/modules/tripal/tripal/includes/TripalFields/TripalField.inc on line 18
Drush command terminated abnormally due

[2017-02-16 22:21] almasaeed2010 opened #31 "Enabling tripal_chado Module Throws an Exception"
Hello,

When upgrading from Tripal v2 to v3-beta3 I got this error during installation of tripal_chado.
However, running the command a second time doesn't throw any errors and executes successfully.

[code]

[2017-02-16 22:27] almasaeed2010 opened #32 "Preparing Chado Fails"
Hello,

When running the tripal job to prepare chado, I got this error. The error occurred only on the first run. Running the job a second time does not cause the same error and the job completes successfully.

[code]

[2017-02-16 22:43] laceysanderson commented on #30
@NicHerndon that appears to be a PHP syntax error which I would think is a system-independant error however I am not able to repeat it on Debian. Where did you get your Tripal3 beta3 from and are you using a clean Drupal site or upgrading a Tripal2 site?

After setting up a clean drupal site, I used `drush pm-download tripal-7.x-3.0-beta3` which grabs the package from Drupal.org. Unfortunately I d

[2017-02-16 23:18] NicHerndon commented on #30
Lacey,

Thank you for looking into this issue.

I followed the installation instructions at Tripal v3.x User's Guide (beta)<http://tripal.info/tutorials/v3.x>, and got to http://tripal.info/tutorials/v3.x/installation/tripal#toc-install-tripal--76bkilOc.

I installed this on a ‘fresh’ system (a virtual machine with nothing else on it).

Nic

On Feb 16, 2017, at 5:43 PM, Lacey-Anne Sanderson <notif

[2017-02-18 01:29] spficklin commented on #32
Very strange. I've not seen this error before when installing Tripal v3.   Do you know what steps I could take to reproduce this?

[2017-02-18 01:34] spficklin commented on #31
This error seems to be occurring when the Image module is enabled.  The Image module is a dependency of the tripal_chado module.   The error seems to indicate a failure when trying to create the 'cache_image' table.  The message seems to be truncated but it looks like it's indicating that the 'cache_image' table already exists when it's trying to create it.  I've seen this type of behavior before

[2017-02-18 01:40] spficklin commented on #30
Nic, what version of PHP are you using on your CentOS machine?  Here's that line of code that the error message above reports as causing problems for you:

[code]
Note the period at the end means concatenation and the rest of the line wraps around.  That period seems to throw off your PHP. It seems to want a semicolon or comma.  I'm not sure why....

I'm using PHP version 7.0.8

[2017-02-18 01:48] NicHerndon commented on #30
$ php -v
PHP 5.4.16 (cli) (built: Nov  6 2016 00:29:02)
Copyright (c) 1997-2013 The PHP Group
Zend Engine v2.4.0, Copyright (c) 1998-2013 Zend Technologies

Let me try to update the PHP. I’ll keep you posted.

On Feb 17, 2017, at 8:40 PM, Stephen Ficklin <notifications@github.com<mailto:notifications@github.com>> wrote:

Nic, what version of PHP are you using on your CentOS machine? Here's that li

[2017-02-18 03:01] NicHerndon commented on #30
$ php -v
PHP 7.1.2 (cli) (built: Feb 15 2017 08:36:40) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2017 Zend Technologies

Upgrading PHP did the trick. Proceeding with Chado install now.

Thank you Stephen.

Nic

On Feb 17, 2017, at 8:40 PM, Stephen Ficklin <notifications@github.com<mailto:notifications@github.com>> wrote:

Nic, what version of PHP are you

[2017-02-18 15:16] spficklin commented on #30
What version of PHP did you have before you upgraded?  I want to update the tutorial to instruct folks on CentOS to update PHP.  Do you have the commands you used to update PHP on CentOS?

Thanks

[2017-02-18 15:39] mdondrup commented on #30
Hi Stephen,

could you indicate the minimal version requirement for PHP in Tripal 3. The standard version of CentOS 6 is
still PHP 5.3.3 for example, I am not sure PHP 7 is available even in CentOS 7 repos. External
repos like webtatic.com or EPEL could be a way.

Michael

[2017-02-19 00:41] NicHerndon commented on #30
Stephen,

I upgraded from 5.4.16 to 7.1.2. I followed the instructions at https://rpms.remirepo.net/wizard/.

Nic

On Feb 18, 2017, at 10:16 AM, Stephen Ficklin <notifications@github.com<mailto:notifications@github.com>> wrote:

What version of PHP did you have before you upgraded? I want to update the tutorial to instruct folks on CentOS to update PHP. Do you have the commands you used to update

[2017-02-19 00:50] NicHerndon commented on #30
I continued with the installation and got another error at Prepare Chado and Drupal (http://tripal.info/tutorials/v3.x/installation/tripal#toc-prepare-chado-and-drupal-cOni2qZc).

I installed Chado.

[root@localhost html]# drush trp-run-jobs --username=drupal --root=/var/www/html
Tripal Job Launcher
Running as user 'drupal'
-------------------
Calling: tripal_chado_install_chado(Install Chado v1.3

[2017-02-22 19:35] spficklin opened #33 "Backwards compatibility of Templates"
When the tripal_ds module is enabled the backwards compatibility support for using old templates doesn't work.

[2017-02-27 13:36] almasaeed2010 commented on #31
I agree with you. This happened to me before with other modules but I couldn't understand why. Thanks for the explanation!

[2017-02-27 13:36] #31 closed, assigned to nobody

[2017-02-27 13:44] almasaeed2010 commented on #32
This happened when upgrading our site to Tripal 3. Fortunately, it doesn't occur when in a fresh install.

The method I used to update our site:
- drush dis tripal_core
- drush pm-update tripal-7.x-3.0-beta3
- drush en tripal_core
- Enabled rest of tripal modules using drupal's interface.
- Prepared chado and got this error.

Sorry for the delayed response!

[2017-03-07 17:46] #32 closed, assigned to nobody

[2017-03-07 17:54] almasaeed2010 opened #34 "Question: Tripal 3 Organism Page Example"
Hello,

After upgrading to Tripal 3, the organism, feature and analysis pages are not displaying the left sidebar they used to. Is that the intended behavior?

| Tripal 2 | Tripal 3 |
| -------- | ------------- |
|  ![screen shot 2017-03-07 at 12 49 09 pm](https://cloud.githubusercontent.com/assets/1512664/23670227/0f68ecf2-0335-11e7-9f98-ce3d56cc5130.png)  |  ![screen shot 2017-03-07 at 12 48 41

[2017-03-07 18:03] spficklin commented on #34
Hello. It looks like you may not have enabled the tripal_ds module.   If you turn that on and then navigate to Administer -> Structure ->  Tripal Content Types.  Then click on 'manage display' for the Organism content type.  At the top you'll find a link that says "Apply Default Tripal Layout" and click that.  It will then apply the layout that you're accustomed too, but with some variation.

You'

[2017-03-07 18:06] spficklin commented on #34
Also.... the reason the tripal_ds module is separate and not part of the core of Tripal, and not automatically installed, is to give those who want more freedom the ability to turn off that module and manage the display of their content types with total freedom.

[2017-03-07 18:11] spficklin commented on #32
It may be due to the order that you're enabling modules during the Tripal v2 to Tripal v3 upgrade.   We don't yet have those instructions in the User's Guide, but we do have some in a README.   Try following the instructions here in the section titled "Upgrade from Tripal v2.x to v3.x" and see if that resolves the problem for you.  https://github.com/tripal/tripal/blob/7.x-3.x/README.md

[2017-03-07 18:15] almasaeed2010 commented on #34
Thanks for the quick response! That solved the issue.

[2017-03-07 18:15] #34 closed, assigned to nobody

[2017-03-07 18:19] spficklin commented on #30
Hi @NicHerndon. It's been a few weeks since you posted.  I'm catching up on issues.  I'm not able to duplicate this problem.  Are you still experiencing this?

[2017-03-07 21:10] spficklin opened #35 "dpm in Tv3 beta3 version"
Error: Call to undefined function dpm() in tripal_field_instance_settings_form_alter_process() (line 433 of /var/www/html/hops/sites/all/modules/tripal/tripal/includes/tripal.fields.inc).

[2017-03-07 21:22] spficklin opened #36 "Publication field not working"
A publication has been added to both an organism and analysis.  They are present when editing the field, but they don't show up on the page when viewing.

[2017-03-07 21:26] spficklin opened #37 "FASTA importer..."
prints out too much to the screen when there are too many items.

[2017-03-08 21:39] spficklin opened #38 "Organism Importer"
When importing an organism, a link to the taxonomy record should be added to the organism_dbxref table.

[2017-03-14 18:42] spficklin commented on #30
Closing this out as there's not been input recently. Please reopen if the issue is still present.

[2017-03-14 18:42] #30 closed, assigned to nobody

[2017-03-20 19:30] spficklin opened #39 "[TG] Content type Filter for Published/Non Published not working"
When viewing the list of Tripal content types the published/not published filter doesn't work.  Reported by TreeGenes

[2017-03-22 00:22] spficklin opened #40 "sequence checksum field may be broken"
On tripal v3 after editing a content type that has a sequence field the checksum disappears... It should be deprecated

[2017-03-30 21:51] laceysanderson opened #41 "Entities with data in chado.stock table are given an invalid title by default."
There's a bug in setting the default title for an entity where the data is stored in the chado.stock table. Currently it's assigned `[stock__name]` which is not a valid token resulting in an empty title for published entities. It should be assigning `[schema__name]` which is the equivalent.

[2017-03-30 22:11] laceysanderson opened #42 "Errors when editing Publication field on Organism Entity."
You see the following errors at the top of the page when editing the Publication field (Home » Administration » Structure » Tripal Content Types » Organism » Manage fields):

[code]

[2017-03-30 22:50] laceysanderson opened #43 "Small Typos in the interface"
The following small typos were reported to me so I'm leaving a note here for reference :-)

On Import Vacabulary Page: Home » Administration » Tripal » Vocabularies ([tripal3site]/admin/tripal/terms/import):
Once you select a file to import, the form element description for "Remote URL" is missing the closing bracket on the e.g.

On Add Tripal Content Type Page: Home » Administration » Structure »

[2017-03-30 22:57] laceysanderson opened #44 "Errors when editing Relationship field on Organism Entity."
You see the following errors at the top of the page when editing the Relationship field (Home » Administration » Structure » Tripal Content Types » Organism » Manage fields):

[code]

[2017-03-30 23:51] laceysanderson opened #45 "Errors when editing Contact field on Project Entity."
You see the following errors at the top of the page when editing the Contact field (Home » Administration » Structure » Tripal Content Types » Project » Manage fields):

[code]

[2017-03-31 00:03] laceysanderson opened #46 "Hide Empty panes by default"
I need the ability to hide empty panes from the display completely. For example, if there are no publications for a given page then that pane shouldn't show up in either the table of contents or alongside the other panes --this is the current functionality in Tripal2. This should likely be a configuration option on the "Manage Display" since some groups have opted for the "display everything even

[2017-03-31 00:09] laceysanderson opened #47 "Ability to update all Titles and URLs for a given Tripal Content Type."
Currently if you change the page title format in the entity edit form, you have to edit each and every single entity/page of that type to see the new title take effect. Since Tripal Content often has a large number of pages, this isn't feasible. We should add a Tripal Job which can be scheduled from the entity edit page that will programmatically update each entity/page to the new title.

This is

[2017-03-31 00:22] laceysanderson opened #48 "Ability to control which Tripal panes are shown on page load."
My Perspective:
My users are strongly against the long page of content... Thus the default Tripal2 display was really well suited to them :-) I like the new Tripal3 default but would like to only show one pane by default not all of them...

More general suggestion:
It would be good to have the ability to configure in "Manage Display" whether a Tripal pane is shown on page load or not. This way adm

[2017-03-31 00:32] laceysanderson opened #49 "Chado Views error when cache is cleared."
I recieve the following chado views error repeated 7 times whenever I clear the cache.

[code]

[2017-03-31 02:07] laceysanderson opened #50 "Disabled Tripal Panes still show up in the table of contents."
When I disable a Tripal pane in manage display, it still shows up in the table of contents on the page. However when I click the link, the disabled pane doesn't show up in the right side. For example, the following screenshot shows the manage display page for a SNP with all but the summary and relationship panes disabled:
![screen shot 2017-03-30 at 8 03 20 pm](https://cloud.githubusercontent.com/

[2017-04-01 06:04] spficklin opened #52 "GFF3 importer: discontinuous features"
This issue is being copied over from the Drupal issue queue:  https://www.drupal.org/node/2796857

The GFF3 spec has a section describing discontinuous features which allows a feature to have the same ID and span multiple district regions. This is not supported by the Chado Perl based loader and it's not directly supported by Chado either. However if we want to fully handle the GFF3 spec we should

[2017-04-01 06:08] spficklin opened #53 "Parallel Loading of GFF/FASTA/etc files."
Issue copied from Drupal Issue queue:  https://www.drupal.org/node/2764463

As per the comment made on this thread in the mailing list: https://sourceforge.net/p/gmod/mailman/message/35214518/

We should explore parallel loading of GFF/FASTA files to improve loading time.

Some other potential ideas to speed performance: http://stackoverflow.com/questions/12206600/how-to-speed-up-insertion-perform

[2017-04-01 06:23] spficklin opened #54 "No drupal_write_record() in API functions"
Copying issue from Drupal Issue queue:  https://www.drupal.org/node/2757465

During a major upgrade (i.e. from D6 -> D7) all of the Tripal modules are typically disabled. Some of the API functions are using drupal_write_record but unfortunately this function doesn't work when modules are disabled because it requires the module's schema be available (which it's not when disabled). We should therefo

[2017-04-01 06:25] spficklin opened #55 "Issues with upgrade of Chado v1.11 -> v1.2 -> v1.3"
Copied issue from Drupal issue queue:  https://www.drupal.org/node/2754831

During an upgrade of a Chado v1.2 database to v1.3 an error occured that prevent the upgrade using the Tripal upgrader. The view so.unorient_intra_transposition uses the feature table and when that table is altered to change ints to bigints for Chado v1.3 the upgrade crashes. This View is created in Chado v1.11 but is not

[2017-04-01 06:32] spficklin opened #56 "Bulk Loading of Publications"
Issue copied from Drupal issue queue:  https://www.drupal.org/node/2499303

It was brought up at the June Tripal Developers meeting that Sook/Jing need a means to bulk load publications that are not in PubMed. This can be done by creating a spreadsheet format and matching Tripal Bulk Loader template but this won't be very flexible on the fields required/expected for a journal article. Stephen sugg

[2017-04-01 06:36] spficklin opened #57 "GFF3 load + sync at one time"
Issue copied from Drupal issue queue:  https://www.drupal.org/node/2053069

It has been requested that we add the ability to load a GFF3 file and sync the features all at one time. We can do this if we add a textbox on the GFF3 loader form that lets the user specify which feature types should be synced. Then after the GFF3 file is completely loaded, features that match those sequence types could b

[2017-04-01 06:38] spficklin opened #58 "Drush command naming/creation"
Copied from Drupal issue queue:  https://www.drupal.org/node/2314235

There has been some requests for more drush commands to support administrative functions that are currently only available using the web interface. Some folks want the ability to do as much as possible on the command-line. This has the advantage of making Tripal scriptable as well.

Development of all of these drush commands isn

[2017-04-01 06:39] spficklin opened #59 "feature_cvterm evidence levels"
Copied from Drupal issue queue: https://www.drupal.org/node/2265611

When adding cvterms using KEGG/GO/InterProScan those terms should be annotated with the evidence level of those assignments so that viewers do not assume they are fully curated terms. Using the GO evidence codes (at http://www.geneontology.org/GO.evidence.shtml) may be a good set to follow.

[2017-04-01 06:41] spficklin opened #60 "GFF3 Exporter"
Copied from Drupal issue queue:  https://www.drupal.org/node/2052833

A request has been made via the mailing list for a GFF3 exporter:
http://sourceforge.net/mailarchive/message.php?msg_id=31206560

[2017-04-01 06:49] spficklin opened #61 "Better Job Error Reporting"
Copying from Drupal issue queue:  https://www.drupal.org/node/2069953

A recent email on the Tripal mailing list.

Hi,

I am working with some Tripal jobs which sometimes fail, e.g. due to bad input files etc. I found myself inserting
debug output via print sometimes. When a job fails I get "Error Message	Job has terminated unexpectedly."
in the job details, and running jobs on the console (via tr

[2017-04-01 06:51] spficklin opened #62 "Bulk loader to featureloc can be very slow"
Copying from Drupal issue queue: https://www.drupal.org/node/1816142

When loading records to the featureloc table the loading can be extremely slow. This is the case when the srcfeature_id is for a large chromosome already exists, is being selected for by the loader and has the 'residues' field fully populated with DNA sequence. It takes a while to retrieve and transfer that large of a record so

[2017-04-01 06:53] spficklin opened #63 "Custom table referring tables"
Copied from Drupal issue queue: https://www.drupal.org/node/1803920

Currently we can create custom tables using the Tripal web interface, but there is no way to associate the custom table as a referring table to another table. We should adjust the code to make that connection for custom tables by examining the FK relationships, or add a field to let the user specify. I think the first option is b

[2017-04-01 07:11] spficklin opened #64 "Public cvterm pages exposing vocabularies to users"
Copied from Drupal issue queue: https://www.drupal.org/node/2499301

Andrew expressed a desire for public cvterm pages that could be linked to in views and listing. These would provide addition information to users and could include term hierarchies, etc.

NOTE: currently we have administrative pages only for cv/cvterms and even then we don't have a view (only edit) page.

[2017-04-01 07:17] spficklin opened #65 "Delete unwanted nodes(entities) without deleting Chado data"
Copied from Drupal issue queue:  https://www.drupal.org/node/2784501

In the event that a site developer "syncs" content types that they no longer need/want the only way to remove the nodes without removing the data in Chado is to manually remove the records from the corresponding chado_xxxxx table and then clean up orphaned nodes. This is a bit unfriendly. We should have a way to "unsync"

[2017-04-01 07:18] spficklin commented on #65
This initial request is specific to nodes but is also applicable to Tripal v3 entities.

[2017-04-01 07:19] spficklin opened #66 "expose genomic information as a webservice to JBrowse"
Copied from Drupal Issue queue:  https://www.drupal.org/node/2702831

Would be great if I could add a REST track to JBRowse by pointing to a TRIPAL instance:

The API is: http://gmod.org/wiki/JBrowse_Configuration_Guide#JBrowse_REST_Feature_St...

example:

{
    "label":      "Orange Genes",
    "key":        "Orange Genes",
    "type":       "JBrowse/View/Track/HTMLFeatures",
    "storeClass": "

[2017-04-01 07:57] spficklin opened #67 "Job's view is not dynamic"
Copied from Drupal issue queue:  https://www.drupal.org/node/2832554

When a user submits a job and goes to the jobs page to look at it they see 'execute' and 'cancel' links but those may not be appropriate given the job state. Those links should disappear or be present as appropriate.

[2017-04-01 08:03] spficklin opened #68 "Pull Gff3 from Apollo webservices"
Copied issue from the Drupal issue queue:

The webservices can be found directly on the Apollo instances, but they should be globally available:

http://icebox.lbl.gov/Apollo2/WebServices/

You should want IOServices -> write

An example script written in groovy is here:

https://github.com/GMOD/Apollo/blob/master/docs/web_services/examples/gr...

Some more doc here:

http://webapollo.readthedocs.

[2017-04-01 08:15] spficklin opened #69 "Record Creation Form Reconfiguration in Bulk Loader"
Copied issue from Drupal issue queue: https://www.drupal.org/node/2477443

When creating a new Bulk Loader template record, I initially found the order of inputs a little confusing. It might have been more clear if the "Type of Field" entry was moved below the record naming fields with a line or some other separator drawn between the record-related and field-related fields. This would make it clea

[2017-04-01 08:17] spficklin opened #70 "Genetic_code, so and frange PostgreSQL schemata ownership when using multi-chado instances"
Copied from Drupal issue: https://www.drupal.org/node/2825357

From @guignonv:

When using several Chado instances using the Multi-Chado module, on installation of a new instance the common schemata 'genetic_code', 'so' and 'frange' are dropped and re-created.
The PostgreSQL user account used to create the new Chado instance will be the owner of those schemata. The default Drupal account or event

[2017-04-01 08:18] spficklin opened #71 "Agricola Pub Importer doesn't work"
Issue copied from the Drupal issue queue:  https://www.drupal.org/node/2765823

The AGL importer for the Pub module is no longer working. A very cursory look at the problems seems to indicate that the response from the Agricola Z39.50 compliant server is not what is expected (http://agricola.nal.usda.gov/help/z3950.html).

[2017-04-01 08:19] spficklin commented on #71
We (myself and @chunhuaicheng) have looked into this and it seems the AGL server is not responding properly.  The code has not changed.  So the problem seems to be a change at AGL.  We'd need to reach out to them to see what might be different about their Z39.50 site.

[2017-04-01 08:21] spficklin opened #72 "Tripal 3 legacy API has diverged from Tripal 2 -Bring it back up to date"
Copied from Drupal isssue queue: https://www.drupal.org/node/2713125

Various bug fixes have been made to Tripal 2 since Tripal 3 development began. These bug fixes should be merged into the Tripal 3 API where applicable. Due to the massive changes this will have to be done on a per commit bases...

According to this comparison this will be a doozy of a job :-(
https://github.com/tripal/tripal/com

[2017-04-01 08:22] spficklin opened #73 "chado_generate_var 'return_array' doesn't seem to work recursively"
Copied from the Drupal issue queue:  https://www.drupal.org/node/2696487

Using:

$featuremap = chado_expand_var($featuremap, 'table', 'stock_relationship', array('return_array' => TRUE));

Then the relationship from the object_id is an array or an object depending on how many relationship records there are.

$featuremap->featuremap_stock->stock_id->stock_relationship->object_id

Shouldn't the 're

[2017-04-01 08:23] spficklin opened #74 "Document custom tables/mviews"
Copied from the Drupal issue queue: https://www.drupal.org/node/2694039

We are missing documentation in the User's guide for the Materialized Views interface and the Custom Tables interface: http://tripal.info/node/121

[2017-04-01 08:24] spficklin opened #75 "Improper regex for loading FASTA files causes errors"
Copied from the Drupal issue queue: https://www.drupal.org/node/2691787

It was reported on the mailing list (https://sourceforge.net/p/gmod/mailman/message/34924927/) that if the regular expression used for importing a FASTA file is incorrect that an error message occurs. This should be handled gracefully with a more intuitive notice given to the user. Here is the message recieved:
[code]

[2017-04-01 08:25] spficklin opened #76 "Update cv loader to meet OBO 1.4 specification"
Copied from the Drupal issue queue: https://www.drupal.org/node/2562005

Latest OBO specification is 1.4 and can be found here: https://oboformat.googlecode.com/svn/trunk/doc/GO.format.obo-1_4.html.

The 1.4 spec ^does^ allow terms without names whereas 1.2 did not. As the Tripal loader fails to load the ENVO ontology (which contains a set of nameless terms), it should be updated to meet the 1.4 s

[2017-04-01 08:26] spficklin opened #77 "Creating of proteins by GFF3 loader should be optional"
Copied from the Drupal issue queue:  https://www.drupal.org/node/2550979

Creation of protein features when importing a GFF3 file was recently added. This was done to make the Tripal GFF loader similar to the perl Chado loader. However, this functionality should be optional as those protein features are technically not in the GFF3 file and may confuse folks when they unexpectedly appear.

[2017-04-01 08:27] spficklin opened #78 "Non table unique constraint for bulk loader"
Copied from Drupal issue queue:  https://www.drupal.org/node/2537322

Request was made by Sanjuro to have a unique constraint that is not specifically set in the table where data is being housed:

Is "there is a way for the Bulk Loader to flag a field that isn't specified as unique in the database as something that should be treated as unique for an upload. "

[2017-04-01 08:29] spficklin opened #79 "Allow Bulk Loader to Delete Records"
Copied from Drupal issue queue: https://www.drupal.org/node/2499299

Valentin expressed a need for the bulk loader to delete records.

From the meeting Notes:

Is there a way to remove (or replace) data that was added via the bulk loader. For instance, for the stock_cvterm table. I have a stock linked to the cvterm ‘in vitro collection’ (through stock_cvterm table) and I’d like to have it linked (

[2017-04-01 08:31] spficklin opened #80 "Optimize Views Pager Query"
Copied from the Drupal Issue queue:  https://www.drupal.org/node/2496025

It has been brought to our attention that the Drupal Views pager query is not very efficient and could cause Tripal Views of large tables to timeout. Although this is a Drupal Views issue we are adding a Feature Request in the Tripal Issue queue since we generally encounter much larger tables than other Drupal sites and as s

[2017-04-01 08:33] spficklin opened #81 "Additional Links on Bulk Loader Project Pages"
Copied from Drupal issue queue:  https://www.drupal.org/node/2425449

It might be nice to have a couple of links to other Bulk Loading pages from the individual Bulk Loading Jobs pages. One I've frequently wished for is a linkified value for the Template Name. Another is just a link going back to to the list of Bulk Loader Jobs. Doing this using the back button can get a bit weird if I've been mod

[2017-04-01 08:34] spficklin opened #82 "Conflict between Drupal table names and CHADO ones"
Copied from the Drupal issue queue:  https://www.drupal.org/node/2415131

Please see the Drupal issue queue for the in depth discussion by @guignonv  and @laceysanderson about this issue.  Subsequence comments/responses should be made here rather than the Drupal issue queue.

[2017-04-01 15:38] laceysanderson commented on #82
I have been unable to reproduce this issue. @guignonv if you are still experiencing this issue, please let us know!

[2017-04-01 16:04] laceysanderson commented on #64
I would also like public cvterm pages. In a Tripal 3 context, I think we should be able to choose the cvterm table as the base for a Tripal Entity with filtering available based on cv_id. One use case for this is Andrew's wish for public pages describing his ontologies, and another is that in KnowPulse Phenotype Traits are stored as cvterms which we would want trait pages for. I don't think making

[2017-04-01 16:10] laceysanderson commented on #59
@spficklin should this be moved to the issue queue for the individual analysis modules?

[2017-04-01 16:53] spficklin commented on #35
Fixed... Although the Tv3 dev branch is highly active so these may accidentally reappear.

[2017-04-01 16:53] #35 closed, assigned to nobody

[2017-04-01 17:03] spficklin commented on #36
Fixed in 7.x-3.x branch

[2017-04-01 17:03] #36 closed, assigned to nobody

[2017-04-01 17:05] spficklin commented on #50
This problem is now corrected in the 7.x-3.x branch.

[2017-04-01 17:05] #50 closed, assigned to nobody

[2017-04-01 17:07] spficklin commented on #42
This does not appear to a problem in the current 7.x-3.x branch.   I do not see it so I assume its fixed.  Please reopen if you still do.

[2017-04-01 17:15] spficklin commented on #44
Fixed in the 7.x-3.x branch.   Some settings for the field accidentally got misplaced.  But this means that even if you update to the most recent branch you'll still get the same error.  So, to fix this just delete the relationship field.  Then click the '+ Check for new fields' link at the top.  The relationship field will be re-added with the correct settings and the error goes away.

[2017-04-01 17:15] #44 closed, assigned to nobody

[2017-04-01 17:16] spficklin commented on #49
I cannot reproduce this now so I assume it's fixed in the 7.x-3.x branch. Please reopen if it is still there after you update.

[2017-04-01 17:16] #49 closed, assigned to nobody

[2017-04-01 17:21] spficklin commented on #45
Fixed in 7.x-3.x branch

[2017-04-01 17:21] #45 closed, assigned to nobody

[2017-04-01 17:26] spficklin commented on #41
Oh, dump oversight on our part.  Thanks for noticing.  Fixed in the code. It's such a simple fix I'm assuming the behavior is corrected.  But if not please reopen.

[2017-04-01 17:26] #41 closed, assigned to nobody

[2017-04-01 17:44] laceysanderson commented on #42
I'm still seeing these errors even after I update the code, the database and deleted/re-added the field as suggested for the relationship in #44. I'll look into it further.

[2017-04-01 18:38] spficklin commented on #44
I did a bunch of pushes this morning.  If you pulled prior to this fix you may need to pull again. Could it be you might still need to pull to get the most up to date?

[2017-04-01 20:11] laceysanderson commented on #44
I just pulled again and it says I'm up "Already up-to-date"... The errors for the Relationship field are fixed. It's just the publication field that's still causing issues (#42) . I can try on a fresh install on Monday.

[2017-04-01 22:12] spficklin commented on #44
Oh I see. My mistake. I've fixed that and noticed the problem in the alternate_name (synonym) field as well.  So, I think that will take care of it.  Fixes have been pushed

[2017-04-03 19:03] laceysanderson opened #83 "Unable to create Tripal Content"
In the current dev version of Tripal 3 (9f502b108bc221e3d6d7e2d854db5db6b9f12efa), I can't create Tripal content of any kind. This is on a clean install of Tripal 3 at the before specified commit. The error I receive is:

PDOException: SQLSTATE[22P02]: Invalid text representation: 7 ERROR: invalid input syntax for integer: "" LINE 1: ...ri, timeexecuted FROM chado.analysis WHERE analysis_id = '' ^

[2017-04-03 19:22] laceysanderson commented on #83
Further checking has shown that in tripal_chado/includes/tripal_chado.field_storage.inc line 68 were the linking record is supposed to be created:
- The $chado_entity_table is correctly determined (e.g. chado_bio_data_1 for organism)
- The $record does contain the correct entity_id and record_id/organism_id
- drupal_write_record() is failing.

This is likely due to how the chado_bio_data_1 table i

[2017-04-03 20:05] laceysanderson commented on #83
Adding the table definition to hook_schema() does fix the content creation :-)
Just completing a clean install to ensure it doesn't break something else ;-)

[2017-04-03 20:25] laceysanderson commented on #83
Confirmed it doesn't break install. Issue Fixed :-)

[2017-04-03 20:25] #83 closed, assigned to laceysanderson

[2017-04-03 21:48] laceysanderson commented on #42
Now this is fixed :-)

[2017-04-03 21:48] #42 closed, assigned to nobody

[2017-04-04 10:44] shawnawsu commented on #33
I can't reproduce this. What I did find is that during the upgrade process modules required for rendering are disabled, like Tripal Publication or Tripal Bulk Loader. Once those modules are enabled everything renders.

Are there any screenshots of what you're seeing? Can I get a run down of the steps that led to this problem?

[2017-04-06 22:17] laceysanderson opened #84 "During upgrade tripal_cv_obo index already exists on Tripal Chado install"
Following the upgrade instructions in the Tripal 3.x README, I get the following error when I enable Tripal Chado in Step 5:

[code]

This causes a PDO Exception at the end of the upgrade process that renders the site completely unusable:

[code]

[2017-04-06 22:23] laceysanderson commented on #84
I was able to get around this issue by dropping the index `tripal_cv_obo_tripal_cv_obo_idx1_idx` after Tripal 2 was disabled but before enabling Tripal 3.

`DROP INDEX tripal_cv_obo_tripal_cv_obo_idx1_idx;`

[2017-04-07 18:20] shawnawsu commented on #84
It looks like lines 273-298 && 369-380 from the tripal_chado.install file are commented out but they contain updates which would stop this error. I didn't comment these out, so I'd like to check with @spficklin as I assume they were commented out for a reason. On my local once those lines are included the error goes away.

These are the lines that are commented out:
`
if (db_table_exists('tripal_c

[2017-04-07 20:09] laceysanderson commented on #84
Awesome --Good catch! We'll wait till Stephen weighs in :-)

[2017-04-07 21:29] laceysanderson opened #85 "Undefined table: field_revision_field_resource_titles"
Process: Upgrade from 2.1 => 3.0-beta3: content migration for a generic Tripal 2.1

Steps:
1. Choose to Migrate content (step2: admin/tripal/storage/chado/migrate) for Tripal v2 Analysis'
2. Run Tripal job and receive errors (see full output below).
3. Check interface, my single Analysis Tripal Entity has been created correctly...
4. Check the database, the table field_revision_field_resource_titl

[2017-04-07 21:45] laceysanderson commented on #85
Repeatable for all content types...

[2017-04-07 22:05] laceysanderson opened #86 "Migrated organism missing its image"
Process: Upgrade from 2.1 => 3.0-beta3: content migration for a generic Tripal 2.1

Steps:
 - Choose to Migrate content (step2: admin/tripal/storage/chado/migrate) for Tripal v2 Organisms
 - Check the organism page after running the Tripal job... there is no image.
I would guess this is because the Tripal v2 organism image is not stored in Chado. Anyway, not critical but thought I would mention it

[2017-04-07 22:18] laceysanderson opened #87 "When migrating 1 node type => multiple entity types, only migrates the first."
Process: Upgrade from 2.1 => 3.0-beta3: content migration for a generic Tripal 2.1

Steps:
- Choose to Migrate content (step2: admin/tripal/storage/chado/migrate) for Tripal v2 Features
- Select "Gene", "Supercontig", and "mRNA" from the Tripal v3 content type checkbox list and click "Migrate Feature"
- Run Tripal job
- Check "Find Tripal Content" and see only Genes have been sync'd :-(

Repeating

[2017-04-07 22:55] spficklin commented on #86
There should be an image there. We specifically tried to address this issue.  I guess it broke. Assigning to Chun-huai.

[2017-04-10 18:09] spficklin commented on #84
What version of Tripal v3 are you using?  Is it the most recent beta version or the most recent development head?

[2017-04-10 18:23] laceysanderson commented on #84
Most recent development head (See label tripal-7.x-3.x rather then tripal-7.x-3.0-beta3 :-) )

[2017-04-10 23:45] dedenmatra opened #88 "tripal_feature has some problem."
Dear All

When I installed new tripal 7.x-2.1, then enable the tripal_feature, my site cant open. however, if tripal_feature was disabled, the site can open again. have some bug in tripal_feature?

thank you

--------
-jailshell-4.1$ drush pm-enable tripal_feature
The following extensions will be enabled: tripal_feature
Do you really want to continue? (y/n): y
tripal_feature was enabled successful

[2017-04-11 16:49] laceysanderson commented on #88
Hi @dedenmatra,

I just tried to reproduce your error with a clean install of Tripal 2.1, Drupal 7.54 and did not experience the same issues as you did...

I'm running Debian GNU/Linux 7, PostgreSQL 9.4.5 PHP 5.6.7-1, Apache 2.4.10. What are your system versions?

Clarification: when you say your "site can't open" are you referring to seeing a white screen with no text when you open your website i

[2017-04-11 23:19] dedenmatra commented on #88
hi @laceysanderson,

I hosted my site in Bluehost (Shared hosting), and the configuration system refers to Bluehost conf default.

The site only clear screen without any text.

[2017-04-12 01:14] spficklin commented on #88
Hi @dedenmatra it looks like you disabled the tripal_feature module in the log you posted.  Why was that?  Also, I don't see anything in the log you posted that indicates  a problem.   Can you look at your server logs from bluehost and see what error message appears there?

[2017-04-12 04:10] dedenmatra commented on #88
thanks @spficklin for your comments.

because I cant open site, i tried to disable tripal_feature module. then, the site can open again.
but when i was disable the tripal_feature, some error message shown like :

Unable to find a view by the name of 'tripal_feature_user_feature'. Unable to disable this [error]
view.
Unable to find a view by the name of 'tripal_feature_admin_features'. Unable to di

[2017-04-12 04:25] dedenmatra commented on #88
hi @spficklin ,

I found error shown in below :
PHP Parse error:  syntax error, unexpected T_FUNCTION, expecting ')' in /home2/rujakbas/public_html/test/sites/all/modules/tripal/tripal_feature/includes/tripal_feature.gff_loader.inc on line 313

thanks

[2017-04-12 04:47] spficklin commented on #88
Hi @dedenmatra

I believe in bluehost you have the ability to update to a more recent version of PHP.  In your previous comment you indicate that you're using PHP v5.6.7.   Can you try upgrading to PHP 7.  You can find instructions on bluehost here:  https://my.bluehost.com/cgi/help/447

[2017-04-12 16:08] spficklin commented on #84
Looks like there's a different index name for the tripal_cv_obo table.  I've committed a fix that will hopefully fix this problem.  Let me know.

[2017-04-12 16:14] spficklin commented on #86
Do you have the most recent development branch?

[2017-04-12 16:15] spficklin commented on #85
Are you using the most recent development version or the beta3 version?

[2017-04-12 16:16] spficklin commented on #87
Are you using the most recent development version or beta3 version?

[2017-04-12 16:17] spficklin commented on #87
Also, just curious... you have supercontig pages?

[2017-04-12 18:23] spficklin opened #89 "New fields aren't positioned in default layout"
The Tripal Analysis Blast module is trying to add a new field 'Blast Results' to any bundle associated with the Sequence Ontology (vocabulary == 'SO').  When adding this new field it shows ups as disabled in the display for the entity.  This is probably a good thing because it allows users to turn it on for the bundles they want it turned on for.  But if the user wants to enable it they are forced

[2017-04-12 18:25] spficklin opened #90 "Tripal Panes with empty fields don't work"
If a Tripal pane has a fieldset inside of it and then a field inside of the fieldset and that field returns nothing to display then the link appears in the sidebar but when clicked nothing appears.

[2017-04-12 18:29] spficklin opened #91 "Fieldset shows up as title in Tripal Pane"
The purpose in nesting a fieldset inside of a Tripal Pane was so that someone could swap out the fieldset for something else if they didn't like the fieldset. However, the titles in the TOC are using the fieldset titles rather than the Tripal Pane titles.   We need to fix the TOC so it uses the Pane title rather than the fieldset.  Maybe needs more discussion....

[2017-04-13 11:20] shawnawsu commented on #89
Can we ask the user during the process of adding the field in the Tripal Analysis Blast if they'd like it to be a Tripal Pane? Then we can just set a simple function that wraps and builds the Tripal Pane for them.  If that's not ideal maybe we can add another button at the top of the "Manage Fields" tab that  is for creating a new tripal pane, we can have an auto-populated list of fields to choose

[2017-04-13 17:31] laceysanderson commented on #89
I hate to be "that person" ;-) but I think that we should have both
1. an API function that creates a Tripal Pane and adds a set of fields to it
2. a button on Manage Fields that creates an empty Tripal Pane.

The first would allow Tripal Analysis and other modules to automatically put their fields into panes (preferably after prompting the user :-) ) and the second would allow Tripal Admin who ar

[2017-04-13 17:33] laceysanderson commented on #91
I agree that the Tripal Pane title would be most intuitive as the title in the TOC :-)

[2017-04-13 17:36] laceysanderson commented on #87
I was just upgrading content from the Tripal 2 tutorial to Tripal 3 before launching into a full KnowPulse upgrade :-) KnowPulse doesn't have supercontig pages, although it does have chromosome and contig pages :-)

[2017-04-13 17:37] laceysanderson commented on #85
I was as of the posting of this issue. I always check the most recent dev before posting an issue :-)

[2017-04-13 17:38] laceysanderson commented on #86
I did when I posted this issue. Would you like me to re-check?

[2017-04-13 18:15] spficklin commented on #86
No worries.  just checking.  I believe @chunhuaicheng  is looking into it so we'll be back in touch!

[2017-04-13 22:13] chunhuaicheng commented on #86
Hi Lacey,
Could you pull the latest code and check if the problem is resolved please? The organism image migration was fixed after 3.0-beta3 was released. It checks if an organism image is uploaded as a Drupal managed file first. If it's not, the code will try to migrate the organism images found in the 'sites/default/files/tripal/tripal_organism/images' folder using the [Genus]_[species].jpg or [

[2017-04-13 22:24] chunhuaicheng commented on #87
Hi,
I can not reproduce this problem. I checked three feature types (i.e. 'bin', 'chromosome_arm', and 'QTL') and they're all migrated in the first run. Could you try if it's fixed in the latest development branch please?

If the problem still exists, could you add a 'print_r($migration)' inside the 'tripal_chado_migrate_records($migration, $job_id = NULL)' function (i.e. line 574) to this file: '

[2017-04-13 22:41] chunhuaicheng commented on #85
Hi, I added a check to skip the migration of the resource blocks/titles/links if a site wasn't set up for these. Could you check if this fixes the bug please?

[2017-04-14 20:53] spficklin opened #92 "Taxonomy Importer"
It would be be nice for the current Tripal NCBI Taxonomy importer to have a bulk load functionality rather than just importing data for organisms you already have in the database.  This way folks could supply a list of NCBI Taxonomy IDs or taxonomic names and those could be imported automatically into Tripal.

[2017-04-17 18:24] shawnawsu commented on #91
After discussion next steps are:
- Remove the intermediary fieldset from the tripal_ds layout build, this will result in boxes that do not collapse
- Title and description fields from Tripal Pane will now be displayed in the right box
- Title of Tripal Pane will be TOC link text
- Summary will be the only Tripal Pane displayed on initial page load

[2017-04-17 18:29] shawnawsu commented on #33
Fix in 7.x-3.x-dashboard branch.

Fix deletes the ds layout settings and field groups created when the tripal content type is created.

[2017-04-18 17:22] spficklin opened #93 "Analysis records should not be required by loaders."
The analysis table of chado is a bit inflexible and can't store everything about a protocol.   Rather than requiring an analysis for loading data perhaps we should just ask for meta data annotations that get stored in somewhere.....  Let's discuss

[2017-04-18 17:26] spficklin opened #94 "Is Tripal FAIR?"
https://www.force11.org/fairprinciples

[2017-04-19 15:07] laceysanderson commented on #93
Specifically, one restriction relates to the fact that a file often results from multi-step pipelines. Which program do you highlight in the analysis table directly since you can only mention one program/version.

One approach may be to make the analysis record reflect the pipeline as whole but then where do you store the components of the pipeline? Using the analysisprop table can be restrictive

[2017-04-19 15:30] spficklin commented on #93
One recommendation may be that the entire pipeline is the analysis and that the pipeline description can be documented with the analysis. What do you think of that approach?

[2017-04-19 19:51] laceysanderson opened #95 "Tripal Installation Profile"
We need to remember to make Tripal Installation profiles for Tripal3! This would make Tripal way easier to set-up and could provide more guidance to new users.

I think these should be geared towards subject area (e.g. Genomic, Breeding, etc.) and include:
- enable Tripal modules (pre-select those relevant to the particular area),
- install Chado,
- load relevant ontologies,
- include relevant ext

[2017-04-20 22:34] spficklin opened #96 "Add drush commands for TripalImporter class for command-line loading"
enough said....

[2017-04-26 18:41] almasaeed2010 opened #97 "Sequence Ontology Loader Fails to Update Existing Records"
Hello all,

Attempting to update our sequence ontology causes the following error:
[code]

My understanding is that the record should be updated if it exists but tripal_cv is not finding the existing record and attempts to add a new one causing the duplicate records error.

Any help on this matter is appreciated. Thanks!

[2017-04-28 16:26] shawnawsu commented on #91
All updates in branch 7.x-3.x-dashboard, ready for testing.

[2017-05-01 20:17] spficklin opened #98 "Notify developer of bad implementation"
It would be helpful to notify the site developer who is creating custom fields when they are not properly following  recommended standards.  For example, the keys in the value array returned by the TripalField::load() function should always be in the <db>:<term> format.

[2017-05-01 20:19] spficklin commented on #97
Hi @almasaeed2010 yes, it should perform an update rather than an insert.   What is the OBO you're trying to load?   Have you loaded it before successfully and now you're trying to update or is this message from the first attempt to load it?

[2017-05-01 20:20] spficklin commented on #97
Oh, and which verion of Tripal is this?  v2.1 or development 2.x or 3.x branch?

[2017-05-01 20:32] almasaeed2010 commented on #97
Hello Stephen,

This is the latest stable 2.1 version. We were attempting to update the sequence ontology that's provided by this URL: http://purl.obolibrary.org/obo/so.obo. When attempting on a fresh install, everything works fine. However, updating a preexisting term is what's causing the issue.

Thanks!

[2017-05-01 20:59] spficklin commented on #97
I've tested re loading the SO on an existing database and I have no issues....  Could you do me a favor and run this SQL query:

[2017-05-01 21:01] almasaeed2010 commented on #97
That's what I got when running the query:
[code]

[2017-05-01 21:25] shawnawsu commented on #89
Do we want the button created empty tripal pane (2) to be placed in a region or have it placed in the disabled section?

[2017-05-01 21:31] laceysanderson commented on #89
We might want to revisit this now that the hierarchy of Tripal Panes has been reduced. This was needed before because admin had to create both a Tripal pane and a fieldset and then move the new field within. Now they just create a TripalPane (no nested fieldset) which seems simple enough. Thus I don't think we need this button. The API function would still be helpful though.

Thoughts?

[2017-05-01 22:42] shawnawsu commented on #89
I've got the button working and think it makes sense because to achieve the float functionality (hidden at initial page load) you need to get the classes applied correctly, so the button removes that possible misstep. But I'm not attached to it if it makes more sense to remove it.

[2017-05-02 14:33] shawnawsu commented on #95
Can we start building out this doc with the different installation profiles that are needed: https://docs.google.com/document/d/1XxpyimeaZWv4axm0-YY7VzLB7_-HZWIhb1xuW6btbwc/edit?usp=sharing

I would suggest we publish some content (maybe a few small content types, like organism) to demonstrate what the site can do. Maybe we only do that for a demo site install profile.

[2017-05-02 16:53] laceysanderson commented on #95
I've started (not complete) 3 profile specs: generic, genomic, breeding. I think that all should share the same theme with the main difference being extension modules and content types.

When it comes to demo functionality and demo content, I think it would be helpful to have a step in the installation for all 3 profiles that let's them say: "Yes, load demo content" :-)

I would also like to see t

[2017-05-03 15:10] laceysanderson commented on #95
There should be enough information in the GoogleDoc for you to start :-) It's not complete but it's safe to assume all items in black will be staying.

[2017-05-03 15:12] shawnawsu commented on #95
Is there a preference for theme? I'm inclined just to throw a bootstrap or foundation theme on. If there is a drupal theme that works better for science sites please let me know, I'm still new to this!

[2017-05-03 17:42] laceysanderson commented on #95
Not a huge preference :-) It seems that Tripal admin prefer to
- have excessive top menus
- like to colour code their sites based on crop/organism.
- I love fluid width and think it's important b/c you can show more data but that said, KnowPulse is the only fluid-width tripal site and it can be a burden development wise.
- It should be a more modern theme then Bartik b/c not all Tripal sites will

[2017-05-03 18:32] spficklin opened #99 "Creating new types"
When creating a content type some users may want to use a cvterm in the prop tables.  The current implementation doesn't support this. For example, some folks may want to distinguish between different types of analyses but there is no type_id in the chado.analysis table.

This is being listed as a bug because it was always intended to work this way but it currently isn't.

[2017-05-05 16:43] laceysanderson opened #100 "Improve Gene pages for Tripal v3"
There has often been well-deserved criticism of gene pages in Tripal which is an unfortunate consequence of being a general platform supporting both genomics and/or breeding focused websites.

However, with Tripal v3 we can greatly improve gene pages without losing that generality! Entities in Tripal v3 will allow for pages dedicated to genes (rather then generic "feature" pages in Tripal 2) and t

[2017-05-05 17:00] laceysanderson commented on #100
Examples of Custom Tripal Gene Pages:
 - I5K: https://i5k.nal.usda.gov/OFAS001265
 - LegumeInfo: https://legumeinfo.org/feature/Arachis/duranensis/gene/Aradu.00992
 - PeanutBase: https://peanutbase.org/feature/Arachis/duranensis/gene/Aradu.000JC
 - GDR: https://www.rosaceae.org/node/1031
 - PlanoSphere: https://planosphere.stowers.org/feature/Schmitea/mediterranea-sexual/transcript/SMED30002427

E

[2017-05-05 17:08] laceysanderson commented on #100
Tripal Field Ideas:
 - Transcript listing: Shows all the transcripts for a given gene including all the functional information & annotation for each transcript.
   - Could simply embed Transcript view modes (e.g. Teaser) allowing admin to change the view mode and completely customize what shows up in this sub-listing.
- JBrowse Field to show a region of a JBrowse instance on any page.
  - This wil

[2017-05-06 12:02] abretaud opened #101 "feature_relationship/sequence change"
Hi,
While chasing a bug in the docker image, I found that the change in [this commit](https://github.com/tripal/tripal/commit/eb19a57b02a8842ffbc043489492f2c7145542b2#diff-7fa69e7fdb5f641ffbb18f79fcb8ef88L236) was reverted in the [next commit](https://github.com/tripal/tripal/commit/9a34e7512e98d290e749ac8c780d35a4a4c980a9#diff-7fa69e7fdb5f641ffbb18f79fcb8ef88L236). Looking at the last commit, I f

[2017-05-09 03:17] laceysanderson opened #102 "Tripal Views API: excessive errors and key assumptions."
As is brought up in UofS-Pulse-Binfo/nd_genotypes#8, Tripal Views API assumes each field in a custom table or mview schema definition has the following keys defined:
- name
- title
- description
- type
It also attempts to access these fields (https://github.com/tripal/tripal/blob/7.x-2.x/tripal_views/api/tripal_views.api.inc#L704) before checking to see if they exist producing `undefined index` er

[2017-05-11 00:02] spficklin opened #103 "Integrate the Tripal Daemon module into the core Tripal package"
We now have a TripalJobs class that is capable of logging all messages.  This makes it easy to spot problems if a job fails.  However jobs need to be converted to use the new Job class to support this.

But, with this functionality, this means we can incorporate the The Tripal Daemon into the core Tripal package.

[2017-05-11 14:16] #91 closed, assigned to shawnawsu

[2017-05-11 14:17] shawnawsu commented on #90
Fix for issue in newest 7.x-3.x-dashboard branch.

[2017-05-11 14:17] #90 closed, assigned to shawnawsu

[2017-05-11 14:59] laceysanderson commented on #101
@spficklin did you see this? Thanks for pointing it out @abretaud!

[2017-05-11 15:00] laceysanderson commented on #99
This is now working in the most recent dev version thanks to work by @spficklin

[2017-05-11 15:00] #99 closed, assigned to nobody

[2017-05-11 15:08] laceysanderson commented on #48
First suggestion has been solved by @shawnawsu :-) Now only the summary shows by default. However, this behaviour is not configurable. For example, if I wanted to show the most helpful panes but not all of them by default, I couldn't do that. Do we want to revisit having a configuration option for the in the "Manage Display" settings of the Tripal Pane?

@spficklin what do you think? This maybe is

[2017-05-11 15:12] shawnawsu commented on #48
So there is a quick fix for this just while it's decided if the configuration option is the best bet. All you need to do is go into "Manage Display" and remove the class 'hideTripalPane' from the panes you want to show on load. Or add it to ones you don't want shown on load (like summary).

[2017-05-11 15:17] laceysanderson commented on #46
This is still a really big need! Having Publications show up in the sidebar and then a user clicks on it only to see there are none is misleading. I think this needs to be a **configuration option** since Dorrie Main's group seems to like to show these so users know what information might be available for other content.

This is needed for all fields including those that simply appear in a table w

[2017-05-11 15:20] laceysanderson commented on #91
This is now in the main branch and looks perfect :-) Thanks @shawnawsu!

[2017-05-11 16:34] laceysanderson opened #104 "Unable to submit OBO Loading job."
When I select a OBO file from the dropdown on admin/tripal/loaders/chado_obo_loader and click the "Load OBO file" button I receive the following errors and a job is not scheduled.
[code]

I'm using the most recent dev code; commit: e7310eee02a48c2c624fcd71d7d07f979fcce8e8.
I created this Tripal3 site from scratch (no upgrade) at commit f3ea847 and then pulled the most recent changes when I encount

[2017-05-11 18:06] spficklin opened #105 "Add cvterm as a base table for Tripal entities"
This will be useful for phenotypes, in particular, because the attr_id specifies the trait but the phenotype table is mean to store actual measured values.  So it doesn't make sense to use the phenotype table as a base table.  Perhaps take the phenotype table out as a base table.

[2017-05-11 18:09] spficklin commented on #105
Solution is
1) To add 'cvterm' as a base table
2) If the user selects 'cvterm' then allow the user to specify a 'cv' that is the selector for the records.

[2017-05-11 18:40] spficklin commented on #88
Marking this one as closed. If you still have the problem @dedenmatra please re-open the issue.

[2017-05-11 18:40] #88 closed, assigned to nobody

[2017-05-11 18:43] spficklin commented on #82
Marking this as closed. Please re-open if issue persists.

[2017-05-11 18:43] #82 closed, assigned to nobody

[2017-05-11 18:51] spficklin commented on #48
How about we add a checkbox to the field formatter settings form so that our non-tech users don't have to worry about messing with classes @shawnawsu

[2017-05-11 18:53] spficklin commented on #61
the TripalJob class now supports better logging.  It requires that job callback functions accept as the last parameter a TripalJob object and then use the $job->logMessage() function for any printing or watchdog or tripal_report_error in order for the job to log properly.

[2017-05-11 18:53] #61 closed, assigned to nobody

[2017-05-11 23:20] laceysanderson commented on #72
In order to go through it commit by commit, we would have to check the following:
- [x] cc79e48963514069c545d9c36625e58b5ba3f9f9
- [x] 43077a9f78b5fb68017007de9e770b5345b8fa50
- [x] a5ca25cd66c73402a341651d0103deecb97bccac
- [x] f6a519777358f23f73cae0c35119aa3f6a425ba0
- [x] 4c8dc943518b375f4f9812496d094b5a04979fb8
- [x] 9a34e7512e98d290e749ac8c780d35a4a4c980a9
- [x] eb19a57b02a8842ffbc043489492f2

[2017-05-12 07:56] spficklin commented on #104
This should be fixed.  Can you test?

[2017-05-12 07:56] spficklin commented on #105
Done... Can you test @laceysanderson and let me know if this works for you?
BTW... you'll have to prepare your Chado site again to pick up some new ontology terms I added.

[2017-05-12 17:35] laceysanderson commented on #72
Got started on this last night with commit 929d03b and 2a22113.
From now on, commit messages should read: `Issue #72: Updating API to include 2.1 improvements: commits AAA..BBB` where AAA and BBB are the first and second, respectively, 7.x-2.x commits you included in your changes.

For example, in my first commit I looked at 7.x-2.x commits cc79e48, 43077a9, a5ca25c, f6a5197, 4c8dc94, 9a34e75 and

[2017-05-18 13:09] shawnawsu commented on #48
@spficklin checkbox now available for testing on 7.x-3.x-dashboard. Will require deleting and re-adding existing content types or rebuilding the display for the content type by "Applying Default Tripal Layout" to test the new functionality.

[2017-05-19 12:22] mdondrup opened #106 "Sequence box outputs wrong exon splice pattern for - strand mRNA features"
This seems to be introduced in 2.1 release.

We are testing version 2.1 on our test system. When looking at features with alignment based sequence on the reverse strand, the exon coloring is seemingly wrong, showing the whole transcript as one exon. This did not happen on a 2.0 based Tripal. Here are some examples:

https://blowfly-test.cbu.uib.no/?q=EMLSAT00000000011 compare to
https://licebase.o

[2017-05-19 12:35] mdondrup opened #107 "Make it easier to select and copy from feature sequence box."
It might be unnecessarily tedious copying sequence to clip board under chrome and firefox on mac, I have seen users struggling even more on windows especially without a mouse.

- It is hard to select all the text in the box. Sometimes double click works, but not in all boxes, ⌘-A selects all the text on the web page. Therefore one has to scroll the text box to select everything.
- While the sequen

[2017-05-19 12:44] mdondrup opened #108 "Provide access to spliced mRNA sequence from feature sequence page."
And another feature request:

Currently, there doesn't seem to be an easy way to access the spliced mRNA or CDS sequence of a feature of type mRNA, except than splicing the sequence manually guided by exon coloring.

[2017-05-19 22:25] spficklin opened #109 "Issue with tripal_ds and legacy templates"
This code was added to line 780 of the tripal_chado.module file in the tripal_chado_theme function:

[code]
I think this code should be in the tripal_ds module rather than the tripal module as the table won't exist if the tripal_ds module isn't enabled.  Also, the 'entity_type' field doesn't exist in the table and the code breaks.

[2017-05-22 12:00] shawnawsu commented on #109
That's very odd, I must have accidentally dropped that in the wrong place. It's been removed in the latest 7.x-3.x-dashboard push.

[2017-05-22 12:00] #109 closed, assigned to shawnawsu

[2017-05-22 12:02] shawnawsu commented on #46
This is available for testing in the 7.x-3.x-dashboard branch I just pushed. I have not fully tested this on non-tripal_ds sites so would be great if that could happen before we merge it into 7.x-3.x.

[2017-05-22 19:06] spficklin opened #110 "Problem with property fields"
Currently field instances are not being created when new data is added to a prop table (example NCBI Taxonpmy loader). Fields are added but not instances. The problems seems to be with the SQL code.

[2017-05-23 08:18] spficklin opened #111 "memory leak in new FASTA loader"
...enough said

[2017-05-24 17:42] laceysanderson commented on #46
This is perfect for my needs :-) I checked it for both with and without tripal panes and both show/hide empty fields setting and it performs as expected.

Since this is now in the main 7.x-3.x branch, I'm marking this as closed.

[2017-05-24 17:42] #46 closed, assigned to shawnawsu

[2017-05-24 17:55] laceysanderson commented on #48
I just tested this functionality and it works great 👍
Since this is now merged into the main 7.x-3.x branch, I'm marking this issue as closed :-)

[2017-05-24 17:55] #48 closed, assigned to spficklin, shawnawsu

[2017-05-24 19:07] laceysanderson opened #112 "Table of Contents should be sorted by weight to match order in Manage Display"
The Table of Contents on Tripal Content Pages is generated by the tripal_content_type_toc view (a listing of TripalPanes). This view has no sort applied to it. Furthermore, there is no "weight" exposed to views so I cannot even alter the view to be sorted by weight.

Note: Often the orders seem to match by chance. To confirm that the orders do not ALWAYS match, simply update the title of a Tripal

[2017-05-24 19:30] laceysanderson commented on #105
Tested and this perfectly meets my needs 👍  Thanks!
Since this is in the main 7.x-3.x branch, I'm marking this as closed. :-)

[2017-05-24 19:30] #105 closed, assigned to spficklin

[2017-05-24 20:13] #43 closed, assigned to laceysanderson

[2017-05-24 20:14] laceysanderson commented on #104
Confirmed that it's fixed 👍

[2017-05-24 20:14] #104 closed, assigned to spficklin

[2017-05-24 20:19] spficklin commented on #105
I just pushed a fix for another content type creation problem so you might want to pull again.

[2017-05-24 20:19] shawnawsu commented on #112
We just pushed an update that should now order the toc items in the order they are listing under the 'manage display' tab. I'm just working on making the initial order alpha but you should now be able to reorder items on the manage display tab, the alpha order will only apply to new content types or 'apply default tripal layout'. The update does require an drush updatedb.

[2017-05-24 20:25] laceysanderson commented on #105
Thanks, pulled and re-confirmed 👍

[2017-05-24 20:32] laceysanderson commented on #112
Awesome, confirmed that it now works as expected 👍

[2017-05-24 20:32] #112 closed, assigned to shawnawsu

[2017-05-25 11:19] shawnawsu commented on #47
I'm concerned about creating 404s if altering url structures and retroactively adjusting urls and titles (if urls are built using the title value). So I'd like to implement this using 2 Drupal modules, Pathauto (https://www.drupal.org/project/pathauto) and Redirect (https://www.drupal.org/project/redirect).

Any objections?

[2017-05-25 15:14] laceysanderson commented on #47
Currently, titles and URLs are altered using two different tokenized strings. You can edit them on the Tripal Content Type edit page, which I think is an intuitive place for Tripal Admin.

If we switch to using Pathauto and redirect, will we be able to keep the same configuration section on the entity edit page?
Also, will we be able to keep the same tokens? (I assume this one is less an issue bec

[2017-05-26 15:03] shawnawsu commented on #47
So I have one question before I try and answer your last paragraph. What do you mean by this, 'in the past we've greatly minimized the chance of 404's by restricting the URL alias' to fields that are required in chado'?

So I've done a bit of research before answering, so apologies for the delay when I know we have a deadline coming up!  Let me try and answer your questions:

_Can you explain your

[2017-05-26 23:27] spficklin opened #113 "errors if Tripal Pane exists but tripal_ds disabled"
If a content type has the Tripal Pane fieldgroup but the tripal_ds module is disabled a bunch of errors appear on the content type admim page:

[2017-05-27 03:57] laceysanderson commented on #103
I just merged Tripal Daemon into core :-) It's completely usable at this point but I would like to do the following before marking this closed:
 - [ ] add better integration with the new TripalJob->logmessage()
 - [ ] implement parallel jobs
 - [x] add block to access the log file

[2017-05-27 20:05] laceysanderson opened #114 "Tripal Dashboard vs. Drupal Dashboard"
@spficklin , why did we create a Tripal-specific "dashboard" at admin/tripal/dashboard when Drupal already provides a Dashboard at admin/dashboard?

## Advantages of Tripal-specific dashboard (feel free to edit)
- Conveniently located under the Tripal administration menu

## Advantages of Drupal dashboard
- Conveniently located on the Drupal Administration Toolbar
- Allows admin to see both Drupal

[2017-05-31 17:37] shawnawsu commented on #47
@laceysanderson  Thoughts?

[2017-05-31 17:55] laceysanderson commented on #47
Sorry! Thanks for the *bump* 👍

tl;dr: You've convinced me --go for it :-)

I think it should be ok with views due to the redirecting. I'll test it once you have it implemented. I think maintaining the old interface is important so I'm glad we can do that easily. I don't need a walk-through but thanks :-) I did use Pathauto a long time ago so I'm sure I'll pick it up again once it's implemented -p

[2017-06-01 04:09] laceysanderson commented on #103
### Update
- Parallel jobs implemented but still needs configuration built to allow it to be turned on.
- Decided to leave logging up to TripalJob
- Blocks implemented

### Remaining
- Find a way to turn on parallel processing.

This is more difficult then it at first sounds because no drush options from trpjob-daemon are available to the TripalDaemon class (@see drush_invoke_process() in Drush Da

[2017-06-01 13:05] shawnawsu commented on #113
@spficklin I've put a hook_disable function in the install file that will output an error message when tripal_ds is disabled. The function checks for tripal panes and then lists any content types with associated tripal panes. The message will look like this:
[code]

[2017-06-01 14:40] shawnawsu commented on #114
In dashboard-7.x-3.x branch. To see the notifications block move (if you already have the dashboard setup) you'll need to update the block by hand.

[2017-06-01 14:40] #114 closed, assigned to shawnawsu

[2017-06-01 14:40] #113 closed, assigned to shawnawsu

[2017-06-02 02:41] laceysanderson opened #115 "Error enabling tripal during upgrade from 2 => 3."
Using the most recent dev version: 2454d17286fbb1c1d7a0e4b5cfc2a5c5dcd3a779

Trying to upgrade KnowPulse to Tripal 3 following the instructions outlined here: http://tripal.info/tutorials/v3.x/upgrade/2.x-to-3.x

On step 1.4 When I enable tripal:
[code]

This renders the site completely unsavable. I can't even disable the module.

[2017-06-02 19:50] laceysanderson commented on #115
Further investigation implies that this is a KnowPulse-specific issue... For anyone else who ends up with this error, try checking that the following drupal variables are FALSE. If not, the culprit might be a partial upgrade done before you took the database dump of your Tripal2 site...

To check variables, enter the following on the command-line:
[code]
To fix this issue, you can try simply setti

[2017-06-02 19:51] #115 closed, assigned to nobody

[2017-06-03 07:52] abretaud opened #116 "Call to undefined function _tripal_feature_load_relationships() in tripal_feature_get_aggregate_relationships()"
Hi,
It looks like commit f828e9f586dd7f9011671321db022390bd83af8d broke something: I get this error when viewing a simple mRNA page loaded from gff:

`Error: Call to undefined function _tripal_feature_load_relationships() in tripal_feature_get_aggregate_relationships() (line 300 of /var/www/html/sites/all/modules/tripal/tripal_feature/theme/tripal_feature.theme.inc).`

Looking at the commit, I thi

[2017-06-05 18:24] laceysanderson commented on #116
@spficklin did you see this? @chunhuaicheng commented as well on the commit directly.

[2017-06-05 20:08] laceysanderson commented on #84
As of last commit, it's now fixed.

[2017-06-05 20:08] #84 closed, assigned to laceysanderson

[2017-06-05 20:56] laceysanderson commented on #87
Confirmed that either this is fixed in the most recent dev or no longer repeatable. Marking as fixed 👍

[2017-06-05 20:56] #87 closed, assigned to laceysanderson, chunhuaicheng

[2017-06-05 21:02] laceysanderson commented on #85
Confirmed this issue is fixed in the most recent dev version (3df04d61728ae8527db892def40d3479cb6a8e78).

[2017-06-05 21:02] #85 closed, assigned to laceysanderson, chunhuaicheng

[2017-06-05 21:06] laceysanderson commented on #86
Confirmed that this is working now, although the image didn't appear at first. I had to re-order the fields on "Manage Display" and then it appeared?

[2017-06-05 21:06] #86 closed, assigned to laceysanderson, chunhuaicheng

[2017-06-05 22:13] laceysanderson opened #117 "TripalPanes disabled by default?"
After migrating content from nodes to entities, it seems all TripalPanes are disabled by default for some content types (analysis, mRNA,gene but not organism, supercontig). This results in a page with a table of contents on the left and no panes on the right. The table of contents includes appropriate links (ie: Summary, Properties, etc.) but clicking on them does nothing. Manually dragging them i

[2017-06-05 22:21] laceysanderson opened #118 "TripalPane Close button only works on Panes open on initial page load."
On a Tripal Content Type Page, clicking the "X" icon in the top right corner only works on Panes open on initial page load. For example, looking at an mRNA page if only the summary is shown when the page first loads then that pane is the only the X icon works for (actually removes the pane). For any other panes opened via the table of contents, the "X" icon does nothing. Furthermore, once I use th

[2017-06-06 08:19] spficklin opened #119 "Can't share views with the current setup :-("
Views made with TripalEntities cannot be shared among sites because each entity has a unique bio_data_[id] table which will not be the same on each site... We should revisit the Views setup to see if we can fix this.

[2017-06-06 16:35] bradfordcondon opened #120 "Error loading plant trait ontology (nameless terms)"
I was trying to load the plant trait ontology [OBO file](http://www.obofoundry.org/ontology/to.html) and  encountered the below error:
[code]

My belief is that the nameless terms at the top of this OBO file throw the error:

id: CHEBI:15841 ! polypeptide
is_a: CHEBI:16670 ! peptide
is_a: CHEBI:33839 ! macromolecule

I'm able to load other ontologies that lack these termless definitions at the hea

[2017-06-06 17:26] spficklin opened #121 "Move TripalImporter progress functions to the TripalJob class"
It would be nice for all jobs to have the same ability to provide progress updates in a consistent way as the TripalImporter class does.  It should be pretty easy to move that functionality over and have the TripalImporter call it from the TripalJob class instead.

[2017-06-06 18:19] spficklin commented on #116
I believe this was a problem with the 2.x branch of Tripal (not 3.x).  Apologies for the missing function!  It has been corrected and added back.  Can you test and make sure it's working for you?  I've just committed to the 7.x-2.x branch a fix.

[2017-06-06 18:27] spficklin commented on #106
Hi @mdondrup Thanks for posting these issues.   Apologies with the slowness in getting to them.  We've been focused on the Tripal v3 release.   I believe we'll be able to get to this and the other feature requests you've added once we get through the v3 business.

[2017-06-06 18:28] spficklin commented on #107
Great idea... We've also thought about adding a download button in Tripal v3 to each pane....

[2017-06-06 18:31] spficklin commented on #108
For Tripal v3 we have a CDS field that creates the coding sequence.  It is currently written but is disabled at the moment because it's too slow to to build the CDS on the fly from data in Chado....

It is possible to also do this in Tripal v2 but would require the creation of a new template and calling the right function.

We'll get back to this once we finish up with the Tripal v3 release.

[2017-06-06 18:37] spficklin commented on #101
Thanks for having such a careful eye with the code!   I think though that the second commit is correct.  The tripal_get_default_cv() function looks for the controlled vocabulary to use for type_id fields in Chado tables.  There is no 'sequence' table but there is a 'feature_relationship' table and the second commit looks like the proper call of the function.

Did this line of code cause a problem

[2017-06-06 18:39] spficklin commented on #97
Wow, this got away from us.  Does this problem still exist for you?

[2017-06-06 18:50] almasaeed2010 commented on #97
I haven't attempted to load it again but I think the issue persists since issue #120 seems to address a similar "duplicate unique value" and null values.

I'll close this issue and follow up on #120.

[2017-06-06 18:55] shawnawsu commented on #47
@laceysanderson I've got a completed version of this working but wanted to let you know I've removed the pathauto dependency. After consideration it just was too much for what needed to be achieved. Instead I stuck within the existing setup and just added the redirect module (to avoid the 404s when aliases are updated).

@spficklin Everything is in the 7.x-3.x-dashboard branch. It needs to be test

[2017-06-06 19:19] spficklin commented on #119
Fixed!

[2017-06-06 19:19] #119 closed, assigned to spficklin

[2017-06-06 19:44] shawnawsu commented on #118
Ok, a few tweaks in the hierarchy caused my css not to be targeted enough, that's all fixed now in the 7.x-3.x branch.

[2017-06-06 19:44] #118 closed, assigned to nobody

[2017-06-06 19:47] shawnawsu commented on #117
I've encountered this before, I must have introduced the problem when I started processing for alpha order. I will dig into this now.

[2017-06-06 19:56] spficklin commented on #97
Actually let's keep this one open as it may be two different issues.  At least that way we can be certain that if #120 is fixed that we need to check this as well to make sure it's fixed too..

[2017-06-07 01:45] laceysanderson commented on #102
This is now fixed in both Tripal 2 and 3.

[2017-06-07 01:45] #102 closed, assigned to laceysanderson

[2017-06-07 16:51] abretaud commented on #101
No problem, I just noticed the change while looking for something else. No problem to close this if you think it's ok

[2017-06-07 18:41] shawnawsu commented on #117
@laceysanderson Can you just confirm which tripal 7.x-3.x (drupal.org beta/alpha or a pull from github) you were using or when you last pulled before this? I notice your fields are not in alpha order (Relationship, Summary, Name) and need to know if I need to look at that as well.

[2017-06-07 20:27] laceysanderson commented on #117
Looks like I was on 3df04d61728ae8527db892def40d3479cb6a8e78. I just rebuilt a generic tripal3 site (79fb833f642c0d7f1fb7d36243a32bc5cd14a476) and see the following order for the Map content type:
![screen shot 2017-06-07 at 2 26 44 pm](https://user-images.githubusercontent.com/1566301/26899788-699dff96-4b8d-11e7-9ada-71f34867bccc.png)

[2017-06-07 21:29] spficklin commented on #101
Great. I'll close it.  Thanks again for contributing!

[2017-06-07 21:29] #101 closed, assigned to spficklin

[2017-06-08 11:24] shawnawsu commented on #117
I cannot get this error to occur on my installations (I've tried 3 different sites, including building a fresh one). So I need more info:
1. what php version are you on?
2. are you seeing errors in the log?
3. what happens when you click the 'Apply Default Tripal Layout (will reset current layout)" button in manage display?
4. do you have any site specific functions that are targeting the content

[2017-06-08 14:44] laceysanderson commented on #117
Hmmmm.... that's weird. It's seems highly repeatable on my system. I've been doing a lot of testing that requires a full site re-install and every time I'm seeing this issue. I've also seen it on my KnowPulse upgrade test site and my generic Tripal upgrade site (also no custom extensions).

- PHP Version: 5.6.7-1
- There are no errors in either the Drupal or Apache logs; nor did I see any when I p

[2017-06-08 18:42] shawnawsu commented on #117
@laceysanderson Thanks for the additional info! I spoke with Stephen about it and he's run into similar problems but found a cache clear usually sorted things out. So I dropped a cache clear at the end of the function. Can you test to see if that helps with the problem? I am not able to reproduce the problem but I'm also running php 7.1.1 and wondering if that might be a reason I am seeing differe

[2017-06-08 19:42] abretaud commented on #116
Thanks, it's fixed now!

[2017-06-08 21:20] spficklin commented on #116
Great! closing this issue then.

[2017-06-08 21:20] #116 closed, assigned to nobody

[2017-06-08 22:12] spficklin commented on #47
I've tested and it works great!  I made one change so that when clicking the bulk buttons that it will also save the changes to the bundle as well.  I was afraid someone would change the URL or Title format and not realize to make it stick they would have to first save the bundle then go back in and click the bulk update button.  So now the button does both.

[2017-06-08 22:12] #47 closed, assigned to shawnawsu

[2017-06-08 22:12] spficklin commented on #47
Forgot to mention, it's now merged into the dev branch.

[2017-06-09 14:44] shawnawsu commented on #117
I found the problem when I stood up another new site today. Line 137 of the tripal_ds.ds.inc file has this call: '    $all_field_groups = field_group_info_groups('TripalEntity', $bundle_name); '. It is returning nothing. I'm not entirely sure why, as the hook_bundle_postcreate is called after tripal_create_bundle_fields so the fields should be there. What does pull in info is field_info_instances

[2017-06-09 17:38] shawnawsu commented on #117
This is fixed in the latest 7.x-3.x-dashboard branch. I've tested it extensively but if anyone else wants to have a test that would be fine by me!

[2017-06-13 23:05] #110 closed, assigned to spficklin

[2017-06-14 00:25] spficklin commented on #72
I'm working on these.  It's probably best to work bottom up so that we don't accidentally overwrite a fix with a previous fix in the same place that is older.

[2017-06-14 03:25] laceysanderson commented on #103
Added a way to turn on parallel processing (72a733810b9e0db3d3f93728b2a90a46f6fb75de) :-D. That makes this task complete 👍

[2017-06-14 03:25] #103 closed, assigned to laceysanderson

[2017-06-15 00:41] spficklin commented on #72
I've run through all of the remaining.  It took me almost all day :-/  I cannot guarantee I didn't miss any or mess any up through human error..  But they've all been looked at.

[2017-06-15 00:41] #72 closed, assigned to laceysanderson

[2017-06-15 04:21] laceysanderson opened #122 "Search API Integration"
We need to integrate Tripal Entities with the Search API in order to enable a single keyword search for all Tripal Content. This was completed once over 2 years ago but since the architecture of Tripal 3 has changed so much during that time it is unknown if it still works. That said, it should be relatively straight forward to get working again _* fingers crossed *_.

Original Commit: d1e9c6e9e7af

[2017-06-15 14:56] laceysanderson commented on #122
Just set up a search index according to the tutorial.

- One thing I noticed right away is that not all Tripal/Chado Fields were available in the list to be indexed. 👎
- On the up side, I just looked at the index in the database and it contains text!!! That means we're pretty close to this working already. 👍

NOTE: I'll have to remember to check that only the "value" is being indexed to make sure

[2017-06-15 15:58] spficklin commented on #122
In some cases the fields have an array as a value with sub elements.  Those sub elements are described by the elementInfo() function. I'm not as familiar with how the indexing works but if possible can you index each sub element?

[2017-06-15 17:08] laceysanderson commented on #122
Good reminder! I'll make sure that works too -it won't be a problem.

[2017-06-15 20:18] spficklin opened #123 "Problems with title and url replacement tokens"
When editing a bundle (content type) it's possible to set the URL and title using replacement tokens.  But there are a few problems
1) The tokens are not always a complete list of what's available.
2)  The tokens are sometimes from a field that has multiple sub elements which would not be appropriate for a substitution.

It would be best to only use field with single value or to provide tokens for

[2017-06-16 03:57] laceysanderson commented on #122
I have it all working 👍

I'm leaving the issue open with the following in mind:
- [x] Check that documentation is up to date and incorporated into Tripal 3.x Handbook
- [ ] Create default search index for Tripal Content
- [ ] Create default search view w/ result listing and search block

That said, none of this needs to hold back further testing or release so I'm removing the release blocker label

[2017-06-21 07:08] spficklin opened #124 "Field Testing"
The TripalFields need testing before release.  Each field needs to test the following:

1. Create: the content type with the field attached can created a brand new entity, with the field field out
2.  Value Edit:   For a field of cardinality 1 then the field value can be changed successfully.  For a field with >1 cardinality, new value can be added, and existing values can be changed.
3.  Value De

[2017-06-27 04:36] spficklin opened #125 "create_point problems"
Whenever the featureloc.fmin and fmax columsn are queried it uses several indexes that call the create_point() PgPLsql function.  But, because chado is not in the search_path the query fails.   The SQL statements below fix this problem, but requires that the chado database be in the 'chado' schema, which may not always be the case for every Tripal site.  We need a way to perhaps fix these indexes

[2017-06-27 22:45] spficklin opened #126 "field replacement tokens"
When editing a content type the user is able to set URLs and titles using tokens from field values.  However, these don't always correspond to single values. Some fields have multiple sub elements.  We need to use the elementInfo() function from fields to create replacement tokens rather than just the field names.

[2017-06-27 22:46] spficklin commented on #126
Oops Duplicate of issue #123

[2017-06-27 22:46] #126 closed, assigned to nobody

[2017-06-28 21:00] laceysanderson opened #127 "Cannot create new publication"
When I try to create a publication, I receive the following error:

My Test Entity:

The Publication Type is showing up as a non-required textarea 👎  when I would expect a required drop-down...

[2017-06-28 21:01] spficklin commented on #127
Okay. I'll look into it.

[2017-06-29 04:26] spficklin opened #128 "Field Debugging Mode"
If you are writing a new field, it can be challenging to determine where problems may be occurring when it doesn't work as expected.  We need a way to turn on some helpful debugging to help developers work through debugging their custom fields.

[2017-06-29 04:48] spficklin commented on #127
This is now fixed with the latest commit.  You'll need to run a 'drush updatedb' for some necessary fixes.

[2017-06-29 04:49] spficklin commented on #127
I'll wait to close this until you can test it on your end.

[2017-06-29 17:18] laceysanderson commented on #127
This is still not working for me.

I tried:
1. Using my existing site, pulling code changes, running updatedb and clearing the cache excessively.
2. Creating an entirely new Tripal 3 site.
Both resulted in similar behaviour...

What I see: Now I see a "Publication Type" dropdown 👍  however, it has no terms 👎  so I can't select a type and it's still not required 👎 .

[2017-06-29 17:27] laceysanderson commented on #117
@shawnawsu I'm still experiencing this on freshly created Tripal3 site (built just this morning using fff99517). Did these changes ever make it into core?

My Current Environment:

- Ubuntu 14.04.5 LTS (trusty)
- Apache 2.4.7
- PHP 5.5.9
- PostgreSQL 9.3.15
- Drupal 7.55
- Drush 8.1.12
- PHP-daemon Library v2.0
- Tripal 3.x Development branch (fff99517)
- No custom modules

Clicking "Apply default

[2017-06-29 20:04] laceysanderson commented on #125
I didn't find the above fixed fmin/fmax in views for me... However, simply creating a duplicate of the functions in the public schema (including create point) fixed it for me.

[code]
This works b/c Postgresql allows the same function to exist in multiple schema and then it simply uses the first one it comes across. Thus even if you have both public and chado in the search_path this won't cause a

[2017-06-29 22:06] spficklin commented on #127
One of the updatedb functions was supposed to run the cvtermpath table on the tripal_pub vocabulary.   If you see no publication types that's why.  Did you have any problems running the updatedb?    Also, I think the problem is we must have commented out the code to run the cvtermpath after importing OBOs.  We need to add that back in.  But @shawnawsu has a fix for the GO problem and we have a com

[2017-06-29 22:34] laceysanderson commented on #127
Unfortunately the old site no longer exists but I specifically remember running the updatedb and it saying updating the cvtermpath without errors...

Anyway, I just checked by running the code inside the update hook in my fresh tripal site and as promised it fixed the emptiness of the drop-down :-)
[code]
Furthermore, once I was able to select a type, I was also able to create a publication.

**Up

[2017-06-30 00:31] spficklin commented on #127
Great!  I'm going to close out this issue then.  I'm testing Shawna's fix for the cvtermpath problem and if all goes well we'll replace the old PgPLsql call with the new PHP version.

[2017-06-30 00:31] #127 closed, assigned to spficklin

[2017-06-30 00:35] spficklin commented on #117
We may have forgotten to merge in fixes for this from a branch where the fix was applied. We have merged all of those fixes now.  Can you try and see if this is resolved now?

[2017-06-30 01:07] laceysanderson commented on #117
Sorry guys... I just built a new site (commit de232a94) and 5 out of 7 default content types are showing this behaviour...

[2017-06-30 09:05] shawnawsu commented on #117
Ok, I found the problem. When I was cleaning up the branch I commented something back in that I shouldn't have. I have tested this 2 times, by standing up new sites, and it's working for me. Please do test.

[2017-06-30 16:32] laceysanderson commented on #117
I can confirm it's fixed for me in your 7.x-3.x-dashboard branch :-)

I'm going to leave the issue open until it's been merged back into 7.x-3.x and tested one last time --just so we don't forget ;-)

[2017-06-30 22:25] laceysanderson commented on #117
The fix is in the main branch and tested 👍

[2017-06-30 22:25] #117 closed, assigned to shawnawsu

[2017-07-01 02:25] spficklin commented on #124
Some of the fields still have issues with missing widgets that need to be implemented.  I think there's a problem with really long field names for Views as some of the filters don't work for really long names.  Otherwise all is good!

[2017-07-01 02:25] #124 closed, assigned to nobody

[2017-07-01 03:58] spficklin opened #129 "Test publishing filters"
We need to double check that the publishing filters are being applied properly when publishing tripal content type.

[2017-07-01 04:21] spficklin opened #130 "Publication Import Settings"
In Tv2 there was the ability to set how publications will be matched when importing.  This is no longer available in Tv3.  Do we need to add it back?  The User's Guide has been updated to remove the description of this ability.

[2017-07-07 14:11] GreenInnovator opened #131 "Can't enable 7.x-3.0-rc1"
$drush pm-enable tripal
Do you really want to continue? (y/n): y
PHP Fatal error:  Can't use function return value in write context in /var/www/html/sites/all/modules/tripal/tripal/includes/tripal.entity.inc on line 385
Drush command terminated abnormally due to an unrecoverable error.                                                               [error]
Error: Can't use function return value in w

[2017-07-07 15:18] laceysanderson commented on #131
This error looks like it's related to the PHP version you are running Drupal/Tripal with. **Tripal requires at least PHP 5.5**. Are you using a lower version of PHP? And if so, does upgrading fix your problem?

[2017-07-13 08:49] GreenInnovator commented on #131
$ php -v
PHP 5.6.25 (cli) (built: Oct 21 2016 18:00:07)
Copyright (c) 1997-2016 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2016 Zend Technologies
$ sudo drush pm-enable tripal
The following extensions will be enabled: tripal
Do you really want to continue? (y/n): y
PHP Fatal error:  Can't use function return value in write context in /var/www/html/sites/all/modules/tripal/tripal/includes

[2017-07-13 09:03] GreenInnovator commented on #131
Sorry,  was to fast with previous response. Used "scl enable rh-php56 bash" there. Stable update to php 7.0 solved the problem.

[2017-07-13 10:08] GreenInnovator opened #132 "7.x-3.0-rc1 Add Tripal Content links to Organism content type"
Added an organism, but can't navigate to the Add Tripal Content and click on the link Analysis as Add Tripal Content links directly to Organism content type.

[2017-07-15 13:42] spficklin commented on #132
I think the problem is due to the installation problems you encountered in issue #131.  I've seen this behavior when not all of the content types are available.  I think you've got two options:

1) Start over with the installation to ensure the php compatibility issues from the previous steps don't continue to cause other problems for you.

or ...

2)  Try and prepare Chado again by navigating to

[2017-07-15 13:43] spficklin commented on #131
Marking as closed as it looks like this has been resolved.

[2017-07-15 13:43] #131 closed, assigned to laceysanderson

[2017-07-25 21:01] cguttai5k opened #133 "v3.0-rc1 "Prepare the site" tripal job not executed"
currently we are using tripal v2.1 & trying to upgrade it to v3.0-rc1 and facing an issue with one of the final step in Step1 from the [documentation](http://tripal.info/tutorials/v3.x/upgrade/2.x-to-3.x).

Modules are updated to v3.0-rc1

![image](https://user-images.githubusercontent.com/24276916/28592806-21d24a0a-7158-11e7-8f8d-22efd8717bc2.png)

![image](https://user-images.githubusercontent.c

[2017-07-26 14:43] bradfordcondon opened #134 "7.x.3 Biomaterials migration"
We are unable to migrate our Biomaterials.  Selecting biomaterials at migration step 2 gives `no data for migration or all have been migrated` (screenshot below).  We have Biomaterials in V2, and they have not been migrated.

We are also not able to add new v3 biomaterials via add tripal content.

![screen shot 2017-07-26 at 10 36 08 am](https://user-images.githubusercontent.com/7063154/28627075-b

[2017-07-26 17:10] laceysanderson commented on #134
Ah yes. You would be unable to since this table is not exposed as a potential base table. This will take a little fixing in core Tripal and some input from your group but it is fixable :-)

Quick Question: If you were creating this Tripal Content Type, would you expect all records in the biomaterial table to be of the same Tripal Content Type? Or do you have types of biomaterials indicated in some

[2017-07-26 17:18] laceysanderson commented on #133
@cguttai5k could you provide me with the following information:
- the full command used to execute the tripal job on the command-line
- any output from that command so far
- information about your server (e.g. linux distribution, PHP and PostgreSQL versions)

Thanks!

[2017-07-26 17:21] laceysanderson commented on #132
@uitde007 just checking in to see if @spficklin's suggestions helped? I have also experienced this in the past when errors were encountered during site preparation and re-preparing the site fixed it for me.

[2017-07-26 17:22] bradfordcondon commented on #134
Hi Lacey,

Thanks for getting back.  Let me preface my response by saying we're still getting our heads around how things will work in Tripal 3...  I actually have lots of questions but I'll keep this discussion to this issue

I believe that HWG uses biomaterials only for RNA-seq type records, so in our case I'd definitely expect them to be the same type.  Even if we used it more broadly, I still

[2017-07-26 17:36] laceysanderson commented on #134
That was my thought as well but I wanted to make sure I wasn't missing something. What is your timeline for migration? I'm quite swamped this week but I could try to get to this next week...

Side Note: Even with all the fields being the same it might be a different type. In my mind there are two ways to determine whether you have more then one Tripal Content Type in a given table. 1) From a biolo

[2017-07-26 18:00] bradfordcondon commented on #134
Timeline:  whatever it is, it extends far beyond next week so don't sweat it for now.

[2017-07-26 18:33] bradfordcondon commented on #134
Also, when you say Tripal Content Type, you mean Bundle in the new V3 vocabulary right?  [ie this issue?
](https://github.com/tripal/tripal_example/issues/8)  I think the terms are being used interchangeably but want to be sure...

[2017-07-26 18:39] laceysanderson commented on #134
Yes, they are interchangeable :-) Have you seen this page: http://tripal.info/node/347?

[2017-07-26 18:42] bradfordcondon commented on #134
Yes I've read all the documentation but I can't keep the terms straight in my head yet... hopefully will get easier with use.    Thanks again!

[2017-07-27 13:46] cguttai5k commented on #133
Thank you Lacey for following up this issue, now i'm able to execute the command when i reinstalled the whole setup again & to answer your question here are the details:

- drush trp-run-jobs --username=administrator --root=(Drupalbase path)
- php - 5.6.31
- psql - 9.3.17
- redhat

After tripal job is successful here is the display db error i received:

![image](https://user-images.githubuserconte

[2017-07-27 14:30] GreenInnovator commented on #132
1 . Dropped the postgres drupal db and re-installed from there but the "Add Tripal Content" still links directly to the Organism content type.
2. no luck either

[2017-07-27 17:18] laceysanderson commented on #132
Hmm. I am still unable to reproduce this behavior.
1. Can you check Admin Toolbar > Structure > Tripal Content Types (admin/structure/bio_data) to confirm you see all 7 default content types?
2. Try clearing the cache a number of times using `drush cc all` and then try again. If the answer to #1 was yes, this appears to be an issue on Drupal's side where it is not rebuilding the menu system to pic

[2017-07-27 17:47] laceysanderson commented on #133
### Focusing on the first error (during site preparation):
This error is confusing as the insertion of that cvterm is set to update an existing term if present.

Can you look at the controlled vocabularies in your live Tripal 2.1 site (pre-upgrade) for me. Either go to Tripal > Chado Modules > Controlled Vocabularies > Terms and enter "Analysis Type" into the "Name Contains" filter. What is the Vo

[2017-07-27 18:44] cguttai5k commented on #133
Lacey, actually live site is running on tripal v2.0 it has:

- Vocabulary - analysis_property
- Database - Tripal
- Accession - Analysis Type

But dev & stage environments are upgraded to v2.1 which is not pushed to prod yet, I checked the controlled vocabularies on stg but it seems like there are no terms associated with this selected vocabulary.

[2017-07-28 08:38] GreenInnovator commented on #132
`druch cc all ` solved it ;Thank you!

[2017-07-28 08:38] #132 closed, assigned to nobody

[2017-07-28 16:34] almasaeed2010 opened #136 "Error Occurs When Adding a New ChadoField"
It appears that inserting a new cvterm as part of hook_instance_bundle_fields_info() issues the error below.

[code]

Here is the function call:
[code]

Thanks!

[2017-07-28 17:32] laceysanderson commented on #136
Interesting. It looks like you caught a weird edge case where checking the cvterm name and cv says the term doesn't exist but checking using the dbxref says the term does exist. Thanks for pointing out the bug :-)

Note to self for fixing this one: We need to select the dbxref on tripal/tripal_chado/api/modules/tripal_chado.cv.api.inc line 1230 to ensure it is available in this edge case.

On an u

[2017-07-28 19:12] bradfordcondon opened #137 "Migration of tripal 2 to 3 type: table of content"
After migration, we're looking for what happens to additional content we've added to our organism nodes (manually).  This content is of the Tripal type Table of Content, so we're hoping it is ( will be ?) migrated.  Our new 3.0 nodes don't have this content.  Please see for example [the predicted SSR pane of this organism.](http://160.36.205.61:9090/organism/Persea/borbonia?pane=tripal_organism_pa

[2017-07-28 19:38] laceysanderson commented on #137
@bradfordcondon, unfortunately I don't know the answer to this one. I've tagged @spficklin and @chunhuaicheng since they worked more on the upgrade path and should have more insight. FYI. there might be a bit of a lag in response as @spficklin is just coming back from a month off ;-)

[2017-07-28 19:51] almasaeed2010 opened #138 "How to Attach to Table of Contents"
Hello,

Is it possible to attach to the table of contents in Tripal v3? If so, any direction would be appreciated.

We are trying to develop a new field and would like the content to be visible in a Tripal Pane.

Thanks!

[2017-07-28 20:28] laceysanderson commented on #138
Yes, it's not only possible but is also more flexible than in Tripal 2.x.

## From a system administrators perspective:
To add to the Tripal Table of Contents, go to Structure > Tripal Content Types > [Content Type of interest] > Manage Display then click on "Create an empty Tripal Pane". The label you give the Tripal Pane is what will be displayed in the Tripal Table of Contents and any fields yo

[2017-07-28 21:12] laceysanderson commented on #133
Hmm... So just to clarify:
- the database dump you are using for the upgrade process as your starting point is your current staging site?
- the staging site doesn't have any terms associated with the analysis_property vocabulary?
- does the staging site have an "Analysis Type" term in general (associated with a different vocabulary or dbxref)?

[2017-07-28 21:54] almasaeed2010 commented on #136
Oh my bad, the name of the module is `tripal_jbrowse_instance` and I copied `instance` with it by mistake. I am actually using `hook_bundle_fields_info()`.

Thanks!

[2017-07-28 21:55] almasaeed2010 commented on #136
Here is a link to the module in case it could help : https://github.com/statonlab/tripal_jbrowse_instance

(it doesn't currently do anything other than create the field)

[2017-07-29 01:42] chunhuaicheng opened #139 "API function chado_db_select() uses up all database connection."
When calling chado_db_select() multiple times (such as in a loop), it uses up all available database connections and causes a blank page. This does not happen if one uses Drupal db_select() instead.

PDOException: SQLSTATE[08006] [7] FATAL: remaining connection slots are reserved for non-replication superuser connections in chado_db_select() (line 2017 of /local/sites/tripal3/sites/all/modules/tri

[2017-07-29 02:00] chunhuaicheng commented on #137
Yes, Tripal v3 migration will also migrate those additional resource content. Can you go 'Structure » Tripal Content Types » manage fields (Organism)' and see if a new field was created with the machine name 'bio_data_1_rsc_<your_ssr_pane>'?

[2017-07-29 20:56] bradfordcondon commented on #137
I don't believe so.  Below are my available fields for organism.  There's no sign of the ssr pane here or on the organism page.

![screen shot 2017-07-29 at 4 54 44 pm](https://user-images.githubusercontent.com/7063154/28748164-b60ca732-747e-11e7-9258-6097e97e8ff4.png)

I see I'm able to add fields such as tripal_ssr_motify but those fields are blank when added.  No options with biodata...

[2017-07-30 21:52] spficklin commented on #137
Hi @bradfordcondon how did you add the data to your organism pages?  Did you use the supported method described in the User's Guide: http://tripal.info/node/290?  If so, then @chunhuaicheng is correct that those should be migrated automatically. If you used a different approach then they probably won't be migrated, @chunhuaicheng, can you confirm?  If you used the documented approach and it didn't

[2017-07-30 22:37] bradfordcondon commented on #137
@almasaeed2010 @MingChen0919 Can you help answer?

[2017-07-30 22:49] almasaeed2010 commented on #137
They are added using the the extra panes form on the node's edit page as shown below:

<img width="1252" alt="screen shot 2017-07-30 at 6 46 47 pm" src="https://user-images.githubusercontent.com/1512664/28757742-870f4262-7557-11e7-833a-609a459a9992.png">

[2017-07-30 23:07] spficklin commented on #137
Can you take a screenshot of the Node admin page at Structure > Content Types  and click the 'manage fields' link.  I'd like to see the naming of the fields.

[2017-07-31 12:19] chunhuaicheng commented on #137
Yes, Stephen. The migration code will try to migrate 'resource_titles',
'resource_blocks', and 'resource_links' fields if they were found in the
process. If the fields were named otherwise, they won't be migrated.

Chun-Huai

On Sun, Jul 30, 2017 at 2:53 PM, Stephen Ficklin <notifications@github.com>
wrote:

[2017-07-31 14:39] almasaeed2010 commented on #137
Structure > Content Types > Organism > Manage Fields

![download](https://user-images.githubusercontent.com/1512664/28782865-80e5ddda-75dc-11e7-95f0-a2376d73cff8.png)

[2017-08-01 13:16] bradfordcondon opened #140 "Gene Ontology loading runs out of memory at 2GB"
Attempting to load the Gene Ontology results in running out of memory with 2GB memory allocated.  Tripal `7.x-3.0-rc1`.  Is this the recursive loop issue for cross-referring terms?  If so is there a modified GO obo that we can put on the main Tripal repo?

The full output is below.

[code]

[2017-08-01 16:14] spficklin commented on #137
So it looks like the naming of these fields is different from what is expected which explains why they aren't migrated.  How much time would it take you to manually move this content?

[2017-08-01 18:04] shawnawsu commented on #138
That API has been started but it's not finished. I've got it on the radar for the next release.

[2017-08-01 18:37] bradfordcondon commented on #137
So the machine name of the would want to be `field_extra_pane_blocks` instead of `field_extra_pane_content` ?  I'm assuming just renaming the table wouldn't work... sounds like the easiest way would be to manually migrate.

[2017-08-02 01:27] chunhuaicheng commented on #137
Actually, the only machine names that would work are
'field_resource_titles', 'field_resource_blocks', and
'field_resource_links', as Stephen mentioned in the online document
http://tripal.info/node/290

On Tue, Aug 1, 2017 at 11:37 AM, Bradford Condon <notifications@github.com>
wrote:

[2017-08-02 15:11] spficklin opened #141 "TripalField namespace issue"
If two TripalField classes have the same name there will be a scope problem. Morever, if two fields use the same term there will be potential problems as well.

[2017-08-02 16:37] laceysanderson commented on #141
The issue where two fields have the same term is actually quite a big one. For example, I had used rdfs:type in my property table to indicate the genetic marker type (e.g. Exome Capture). In this situation Tripal simply didn't create a property field displaying that data. There was no warning/error anywhere that I could see. At the very least we need to add some warnings :-)

[2017-08-02 16:42] laceysanderson commented on #138
Switching this to a release blocker so we remember to add the API to do this programatically. In the meantime does the UI solution meet your needs @almasaeed2010?

[2017-08-02 17:11] almasaeed2010 commented on #138
Stephen clarified to me that auto attaching the field to a tripal pane programmatically is only useful  if the user has Tripal DS enabled and therefore we have to account for users who don't have that enabled anyway. For now, we can develop our modules and attach the new fields to panes using the GUI.

Thank you all for the help!

[2017-08-02 19:37] spficklin opened #142 "Taxonomy Importer Node Issue"
When importing a large number of species the following error was observed:

The word "node" is related to the XML parser, not a Drupal node and it probably doesn't affect import, but it's annoying and causes concern. It should be looked at.

[2017-08-02 20:12] spficklin opened #143 "Organism Image not showing in Web Service."
The following message appears in web services when an image is attached to an organism:

"error": "The key, 'image', has not yet been added to the context. Use the addContextItem() function to add this key prior to adding a value for it."

[2017-08-02 23:04] spficklin opened #144 "Delete content if edit is given"
If the Edit permission is given for a content type the 'Delete' button still works even if they don't have delete permissions.  This needs to be fixed.

[2017-08-03 20:58] cguttai5k commented on #133
I pulled all the code, db from prod base & after that I upgraded tripal v2.0 to v2.1 on dev site, In this process of upgradation, I also applied "drush updatedb" cmd as per the documentation which results in the below image:

![db_update1](https://user-images.githubusercontent.com/24276916/28942371-21faab9a-7869-11e7-9d48-e579dd1c400a.PNG)
![image](https://user-images.githubusercontent.com/2427691

[2017-08-03 21:26] almasaeed2010 opened #145 "Undefined Variable $type"
The OBOImporter uses an undefined variable while inserting a record to chado::tripal_obo_tmp.

Please review line 1159 where the variable $type is not previously defined: https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/includes/TripalImporter/OBOImporter.inc#L1159

Also review line 1079 where the variable $name is undefined: https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/inc

[2017-08-14 15:10] bradfordcondon commented on #134
Hi, any word on this?  I'm exploring implementing it myself right now but want to make sure it hasn't already been done.

Thanks!

[2017-08-14 16:43] spficklin commented on #134
Hi @bradfordcondon

I'm jumping in....  So, to summarize, it sounds like you need:

1) The ability to associate a biomaterial content type using the biomaterial table of Chado, which isn't showing up in the table dropdown on the add new Tripal Content page...
2) Your biomaterial content types didn't migrate over during your upgrade, most likely due to the same problem.

This shouldn't be hard to f

[2017-08-14 16:54] bradfordcondon commented on #134
Hi Stephen!

Your summary sounds about right.

No clue!  I'm working through the migration API to understand whats going on and was hoping I could discover the problem.   I originally thought I would need to add something to the migration ie below, but I can see that tables not explicitly addressed should be migrated if they're in Chado, right?

[code]

[2017-08-14 19:23] spficklin commented on #134
Okay, I just committed code that will allow you to create a biomaterial content type.  I've also added a new field to support the biosourceprovider_id (local__contact field) and adjusted the obi__organism field to support the 'taxon_id' field of the biomaterial table.   Can you test?  I did not test migration, but now that the table is supported it may work.  @chunhuaicheng can help us further if

[2017-08-17 15:28] bradfordcondon opened #147 "Switching vocabulary terms of bundles and fields"
This issue arose working on the Biomaterials migration.  Assuming a goal is to use "correct" ontology terms for most fields and bundles and use less local terms, we would want to switch terms from local to CVs.
Biomaterial, for example, is a term that i think is better described as the [NCIT term Biosample
C43412](http://www.ebi.ac.uk/ols/ontologies/ncit/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%

[2017-08-17 16:41] spficklin commented on #147
As an updated... @bradfordcondon (via a slack conversation) resolved to use the term "biological sample" (http://www.ebi.ac.uk/ols/ontologies/sep/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2Fsep_00195).

Tripal is now updated to create a 'biological sample' content type during preparation so that folks don't accidentally use the local 'biomaterial' term.

[2017-08-17 16:41] #147 closed, assigned to nobody

[2017-08-18 15:43] bradfordcondon opened #148 "cvterm not in database, field cannot be shown"
@almasaeed2010 and I both have the following problem when trying attach a field to organism [(here is the simple module with the problem)](https://github.com/statonlab/tripal_ssr/tree/use_SO_term).

The term is indeed in the database.  Through `dpm` I've traced the problem to the below call in `tripal_chado.vocab_storage.inc`, but trying to look at `chado_generate_var` is pretty tough.

[code]
The

[2017-08-18 16:29] laceysanderson commented on #148
@bradfordcondon and @almasaeed2010, I ran into this error as well when working on fields.

The problem is in your Tripal Field class: https://github.com/statonlab/tripal_ssr/blob/use_SO_term/includes/TripalFields/so__microsatellite/so__microsatellite.inc#L64.
[code]

The `term_accession` should be the chado dbxref.accession field (in your example, `microsatellite`) as shown here: https://github.co

[2017-08-18 16:50] laceysanderson commented on #145
@spficklin could you take a look at this? I'm not sure what the $type was meant to be...

[2017-08-18 17:29] bradfordcondon commented on #148
That was the problem, thank you!

[2017-08-18 17:54] laceysanderson commented on #148
Great :-)

[2017-08-18 17:54] #148 closed, assigned to nobody

[2017-08-18 18:11] laceysanderson commented on #133
@cguttai5k sorry for the delay on this -I've just gone on maternity leave. @spficklin could you help? The Prepare Chado code is failing on ensuring the "Analysis Type" term is there. The check determines the term is not there but then insert fails due to duplicate term... I wonder if it's not related to this bug: https://github.com/tripal/tripal/issues/136#issuecomment-318715792

[2017-08-18 18:57] cguttai5k commented on #133
Congratulations Lacey!! no worries, I actually was able to fix that "**Analysis_type**" or "**analysis_property**" term issue by replacing some of the deprecated functions which I missed earlier to update on our custom modules.

now the only issue was with recent log messages :

`chado_select_record: the foreign key definition for 'type_id' on table 'feature' returned no results where the definiti

[2017-08-23 13:15] bradfordcondon opened #150 "Adding an Analysis Field: new module or add here?"
I'm creating this issue at @spfickli 's request.

We are creating a simple field to attach to Organism that will list analyses associated with the organism, to mirror our V2 hardwood genomics set up.

My first instinct was that this functionality was too small for its own module, doesn't fit in neatly with our other modules, and therefore would make a good addition to the tripal core, so i was add

[2017-08-23 13:24] bradfordcondon opened #151 "Vocabulary term: Analysis"
As suggested in the tripal documentation, I'll be creating issues for discussion about CVterms that effect the community.

I think that moving all central terms over from local to CV is in the spirit of Tripal 3.  If I'm going overboard, just let me know: maybe we like having local terms for things like this.

First on the block is analysis (to match the simple field we're adding: #150 ).  I see t

[2017-08-23 17:13] spficklin commented on #133
Hi @cguttai5k I'm sorry you're having issues with the upgrade.   Does the most recent error message you list above occur during the prepare chado phase?  If so can you cut-and-paste any surrounding messages.

[2017-08-24 12:01] bradfordcondon commented on #134
Thanks to @chunhuaicheng and @spficklin for your help!

[2017-08-24 12:01] #134 closed, assigned to nobody

[2017-08-24 14:09] Ferrisx4 opened #152 "Run jobs on internal cluster"
Would it be possible to have jobs run on an internal cluster?
 Example: the BLAST UI module spawning BLAST+ jobs on cluster instead of web server.

[2017-08-27 15:13] cguttai5k opened #153 "PDO exception feature not supported, Cross db error when run solr indexing"
when I'm indexing content to apache solr, getting this exception error in recent logs:

`PDOException: SQLSTATE[0A000]: Feature not supported: 7 ERROR: cross-database references are not implemented: "chado.chado.feature_synonym" LINE 1: select s.synonym_id, s.name from chado.chado.feature_synonym... ^: select s.synonym_id, s.name from chado.chado.feature_synonym fs, chado.synonym s where fs.synony

[2017-08-27 15:23] cguttai5k commented on #133
Thanks for looking into this @spficklin. issue had been resolved when i tried reinstalling it.

[2017-08-27 15:23] #133 closed, assigned to nobody

[2017-08-28 03:44] cguttai5k commented on #153
issue has been resolved, it was due to the chado query

[2017-08-28 03:44] #153 closed, assigned to nobody

[2017-08-28 14:04] bradfordcondon opened #154 "Tripal 3 loader error"
Currently getting the following error with all new Loaders (Chado FASTA loader, GFF3 loader)...  after pressing "Upload File" on both local dev and our Hardwoods dev site:
`SyntaxError: Unepected token { in JSON at position 48`

![screen shot 2017-08-28 at 10 02 06 am](https://user-images.githubusercontent.com/7063154/29776869-15b5673a-8bd8-11e7-924e-010e70b767e9.png)

Currently investigating `tri

[2017-08-28 14:21] bradfordcondon commented on #154
output: I have 1 chunk successfully written. Below is the contents of `tripal_upload.log`

`a:1:{s:14:"chunks_written";a:1:{i:0;s:2:"27";}}`

[2017-08-28 18:40] spficklin commented on #154
Is this the case where the file is only the size of a single chunk?  Otherwise, I've not encountered this problem before.

[2017-08-28 18:41] spficklin commented on #153
Was it just an incorrectly implemented call to chado_query or was there a problem with the function?

[2017-08-28 18:42] spficklin commented on #133
Okay. Great. Thanks for letting us know.  I suspect there may be some residual problem with upgrading that is causing this.   But, I'm glad you got it.

[2017-08-28 18:43] spficklin commented on #152
What cluster scheduler would you like supported?

[2017-08-28 18:44] bradfordcondon commented on #154
Yes it was.  However the chunk size is pretty large (2GB I believe?) so i'd imagine it will occur.

Edit:  oops its 2MB.  `this.chunk_size = (1024 * 2000); // 2024MB` the human name is 2GB though :P

[2017-08-28 20:10] spficklin commented on #151
Yep, I agree that this is a better term than the local term we were using. I've adjusted the code to use this term when creating new Analysis content types.

[2017-08-28 20:10] #151 closed, assigned to nobody

[2017-08-28 20:23] spficklin commented on #145
Thanks for pointing out the two problems.  The code has been fixed for both Tripal v3 and v2.

[2017-08-28 20:23] #145 closed, assigned to nobody

[2017-08-28 20:39] spficklin commented on #138
Marking as closed...

[2017-08-28 20:39] #138 closed, assigned to nobody

[2017-08-28 20:41] spficklin commented on #137
I'm closing this as there's not been any further comment.  But please reopen if it still needs attention.

[2017-08-28 20:41] #137 closed, assigned to nobody

[2017-08-29 13:25] cguttai5k commented on #153
incorrect implementation of chado_query @spficklin

[2017-08-29 15:46] Ferrisx4 commented on #152
Our cluster uses SLURM but for our purposes it would be useful if it was just able to utilize a remote server (not the webserver). In our case we have a dedicated app server (not part of cluster) that would work better to run BLAST.

[2017-08-29 22:09] spficklin commented on #152
I think this would call for a new tripal_remote_job module.  We'd have to add a hook to let other modules handle job submission into the core of Tripal and then this new module could be used to launch any job remotely.  As time progressed it could be used for running a job on a remote server or submitting a job to a cluster.

[2017-08-31 17:40] ligmanowski opened #156 "Jobs not running"
![tripal error](https://user-images.githubusercontent.com/31517564/29936776-d1e322f2-8e59-11e7-95a9-d7701c1136a6.PNG)

Hi there Tripal community, howdy? I recently installed a GMOD Cloud image at Amazon AWS where I intend to deposit 30+ organisms - black yeast specifically - to form a HUB of these family. But, Im having an issue I have no clue how to fix it. Attached at this you can see my Jobs, a

[2017-09-01 00:01] spficklin commented on #156
Hi Raphael,

Thanks for posting the issue. There are three ways to get your jobs to launch:

1)  Run the jobs manually:  to do this log on to your VM instance and change to the directory where Drupal is installed and run this command:

drush trp-run-jobs --user=administrator

2)  Setup the site cron.  You can find instructions on the Tripal install docs for this:  http://tripal.info/tutorials/v2.x

[2017-09-07 15:51] spficklin opened #158 "Drush installation on documentation needs updating"
The version of Drush that our installation instructions suggests is out of date.  We should provide these instructions instead:

https://www.drupal.org/node/1248790

[2017-09-07 15:52] spficklin commented on #156
Hi Raphael, were you able to get this resolved?

[2017-09-07 21:12] ligmanowski commented on #156
Hi Stephen, thanks for reaching me out, I appreciate.

I stopped the AWS instance I had running and started one based on Docker
using Tripal 2.X. Im doing locally at a VM than Ill send it to cloud one
step at the time (hehe).

As soon as I finished that, what I expect to do at this weekend Ill let you
know.

Thanks for the help,

Raphael

Em 7 de set de 2017 12:52, "Stephen Ficklin" <notifications

[2017-09-11 18:24] bradfordcondon opened #159 "Feature request: Select multiple files for TripalImporter file upload"
I love the new TripalImporter!  We have a few cases where it would be nice to select multiple files for upload.

It's worth noting that supplying a directory in Server Path works as well, so you can switch to the TripalImporter class and direct users to supply a path for multiple files.

[2017-09-14 14:09] almasaeed2010 commented on #141
We've also encountered the same issue trying to create multiple `schema:description` fields for the `chado.protocol` bundle. The table has 3 description fields, `softwaredescription`, `hardwaredescription` and `protocoldescription`. The properties didn't show up on the bundle manage fields page and Tripal did not issue any warning. Further, it looks like Tripal creates the machine name of the fiel

[2017-09-14 15:49] srobb1 opened #160 "Question about chado_node_sync_select_query usage"
I have question about using the hook_chado_node_sync_select_query()

I have created a custom module and am trying to sync select cvterms to create cvterm pages. I have successfully altered the sync form, now I want to apply my results from the sync form in a mymodule_chado_node_sync_select_query call. I am a bit confused and have not been able to find any examples. I want to incorporate the cv_id

[2017-09-14 18:45] bradfordcondon opened #162 "TripalImporter upload and AJAX calls"
I am using the Tripal Importer to upload XML files for biosamples/biomaterials, and utilize a "check" button that performs an AJAX call to sample the file and look in the db for CVTerms that match XML attributes.

After rebuilding part of the form, the File Uploader goes haywire (screenshot below).  It loses sight of the uploaded file, and adds a second "upload file" column.

To make matters weird

[2017-09-14 19:14] bradfordcondon commented on #160
Hi Sofia,
Youre right, both the examples using this hook only pass in `null` for the where argument, not a variable one would retrieve from the form state.  I don't think you can pass the form state into the hook.

Is there some way to get the organism_id as part of your SQL query?  It only exists in the form state?

Can you elaborate a bit on what youa re trying to do in a broader sense?  Maybe t

[2017-09-14 19:31] srobb1 commented on #160
Thank you for your reply Bradford,

I want to create nodes for only cvterms that are in the expression_cvterm table for a specific organism and cv library.

In my sync form, I want to be able to select the cv library and an organism to use in a query for cvterms to sync.

here is the query i want to use:
[code]
The :cv_id and :org_id are values I retrieve from the sync form.

In case you want to s

[2017-09-14 20:15] bradfordcondon commented on #162
An even simpler (but possibly related) problem:  If you upload a file, then submit a form that won't pass validation, you lose the file in the form (but you dont get that duplication of headers).

[2017-09-15 15:24] bradfordcondon commented on #160
I apologize, I haven't used this hook or the expression module/tables at all.
Hopeflly someone more central to Tripal can join us.

I have a stupid suggestion.  Are you sure `tripal_expression_cvterm_chado_sync_form` is properly hooking in?  I ask because i the hook to me looks like `chado_node_sync_form`: are you sure you arent missing the *node* between chado and sync?

Actually, looking at your

[2017-09-15 16:29] srobb1 commented on #160
Good Catch!! TYPO!! I forgot the 'node' part. Ok, I will try again and see what happens. I had some ideas last night on some things to try to get my query working.

[2017-09-15 20:06] srobb1 commented on #160
Ok, I almost have it. I hijacked type_id to hold my cv_id and retrieved the value from the original query before rewriting my select, joins, where_clauses, and where_args.

I get records in my node table!! Yeah!!

But I have one more issue. How do I get records in my linker table? I assumed that when nodes got entered into node table a corresponding record would be entered into the linker table. T

[2017-09-15 21:59] spficklin commented on #154
Hi @bradfordcondon I submitted a fix for this problem that is different from your pull request #155.  I'll comment on that pull request but the fix proposed didn't quite fix the real issue which was an accidental incorrect naming of a function that made it look like a hook when it wasn't.

[2017-09-15 22:12] spficklin commented on #162
I merged your pull request #163 so that should fix this problem for you.  If not just re-open this issue.

[2017-09-15 22:12] #162 closed, assigned to nobody

[2017-09-15 22:19] spficklin commented on #159
I added a new $cardinality parameter to the TripalImporter class.  You can set this to be any  number of files you want to allow to be uploaded.  By default it will be 1.  If you want an unlimited number then set it to 0 in your class.  Can you test it?  Also, if I remember correctly it should give you as a result a set of file IDs separated by a '|' character when the form submits.

[2017-09-16 03:16] spficklin commented on #159
Actually, I am incorrect with the IDs. I had to make some additional fixes.  Now, when you write your own importer there is a new 'files' entry in the arguments:

`$file_path = $this->arguments['files']`

You should be able to loop on those files to iterate through all those that were uploaded.  So disregard what I said above.

[2017-09-16 03:20] spficklin commented on #159
Oh, you'll need to run a 'drush updatedb' to get all the proper fixes with the update.

[2017-09-18 14:15] bradfordcondon commented on #154
Hi Stephen, the current branch works for us, thank you so much!

[2017-09-18 14:15] #154 closed, assigned to nobody

[2017-09-18 14:28] bradfordcondon commented on #160
Hi Sofia,

Looking at `function chado_node_sync_form_submit($form, $form_state) {`
...

[code]
Can you confirm that your `$form_state` contains the right linking table upon submission (and everything else while we're at it?)

It defaults to `'chado_ ' . $base_table` if you dont supply a linking table.

While we're at it, which linking table?  Do you get records in the base table?

[2017-09-18 15:59] bradfordcondon commented on #159
Great!  Looks like it's working ok.

As a future improvement, it would be better if the file selector could allow shift-clicking instead of having to press the "upload file" button for each individual file for cases when you have hundreds of files.

(or, perhaps, allow specifying a directory if thats easier to implement)

[2017-09-18 16:29] srobb1 commented on #160
Hi Bradford,

Everything looks correct to me.

[code]

As you can see my base table is expression_cvterm and I created a table called chado_expression_cvterm in the public schema. I made it manually. I plan to incorporate its creation into the install of my module, but have not gotten that far yet. Are there permissions that I need to change on tables? I have not been getting any errors in my post

[2017-09-18 17:19] bradfordcondon commented on #160
If you made the table manually can you verify that the columns are correct?  vid nid expression_cvterm I guess from looking at the other node-entity linker tables in public, compare it to one of the existing linking tables....

I can verify that the issue isnt permissions unfortunately.  My bet is that the table isnt set up right or we aren't understanding the hook properly.

[2017-09-18 18:33] srobb1 commented on #160
Here is what I have:

[code]

Too bad!! Permissions seems like such a nice problem to have :)

[2017-09-18 18:57] almasaeed2010 opened #164 "Hooking into Bundle Forms"
Hello,

We are wondering if there is a way to hook into the bundle create form to alter the form. For example, when creating a new Gene, we'd like to alter the options of the organisms field programmatically by running an SQL query. Since running SQL is not possible through the GUI, we'd need a way to do this programmatically.

This is most useful to us when modifying fields that Tripal Bundles au

[2017-09-18 20:47] almasaeed2010 opened #165 "Feature Request: Tripal Pane Browser History"
Hi,

Recently we encountered a situation with Tripal Panes where we needed a specific pane to be auto displayed if the pane had paginated content and the user requested a page other than the first. We are not sure if a solution for this has already been implemented, but we'd be happy to help create it if it hasn't been created yet.

I'd propose using [browser history](https://developer.mozilla.org

[2017-09-19 16:05] srobb1 commented on #160
@laceysanderson @spficklin Maybe one of you might have an idea on what I should try next. To summarize, I created a custom module, which adds selected records of a new content type (chado_expression_cvterm) to the node table. This actually happens!! Yea!!

@bradfordcondon has been super awesome in helping to get me to this point!

The issue I am having is that when the records are added to the nod

[2017-09-20 15:53] laceysanderson commented on #160
Hi Sofia,
Do you have this module up on github? I'll have a lot easier of time spotting the problem when I can see the context (and you might get additional tips while I'm at it ;-) )?

[2017-09-20 16:00] laceysanderson commented on #160
When you implemented hook_node_info() did you add the chado_node_api keys as shown in this example: [chado_node_sync_form](http://api.tripal.info/api/tripal/tripal_core%21api%21tripal_core.chado_nodes.api.inc/function/chado_node_sync_form/2.x)?

[2017-09-20 16:54] srobb1 commented on #160
Hi Lacey,

I just put my [code](https://github.com/srobb1/tripal_expression_cvterm) up on github.  I very carefully went over the examples. I *believe* that I followed them to a 'T'. But I could have messed up something somewhere (quite likely).

[Here](https://github.com/srobb1/tripal_expression_cvterm/blob/master/tripal_expression_cvterm.module#L85) is my set up of chado_node_api.

THANK YOU!!!!

[2017-09-20 19:11] laceysanderson commented on #160
My guess is simply that you haven't gotten far enough yet :-). The sync functionality uses the same hooks as when a node is created through the interface; however, you haven't yet implemented this functionality (likely because our documentation didn't make it clear enough that you needed to). Thus it's creating the node just fine but it has no association with chado because you have yet to tell it

[2017-09-20 19:28] srobb1 commented on #160
Great! I need to digest all of this, but I *think* I get it :) I will likely have more questions along the way.

Question about your suggestion about the sync filters. I want to use cv_id and organism_id in the selection of cvterms to sync. In the code I have now, I got the values for my sync query from the sync filters. If I set these to 'FALSE' how do I get cv_id and organism_id into the query?

[2017-09-20 20:18] srobb1 commented on #160
I have included the new chado_expression_cvterm_insert hook into my tripal_expression_cvterm.module.

I don't think my hook is being called.  I added a print statement, [here](https://github.com/srobb1/tripal_expression_cvterm/blob/master/tripal_expression_cvterm.module#L262), and I don't see it print to the screen when I run my job with drush. And another hint that it isn't running is that no rec

[2017-09-20 20:22] laceysanderson commented on #160
## Question about sync filters
Oh, I missed that. The API was designed with the intent that you wouldn't have to implement the sync form. That's why in hook_menu() it says to call chado_node_sync_form. Are you seeing the effects of changes in [chado_expression_cvterm_chado_node_sync_form](https://github.com/srobb1/tripal_expression_cvterm/blob/master/tripal_expression_cvterm.module#L113) because i

[2017-09-20 20:44] srobb1 commented on #160
**Question about sync filters**
I do in fact see my changes to chado_expression_cvterm_chado_node_sync_form. It looks like it definitely should be called [here](https://github.com/tripal/tripal/blob/de8a5bdbac42892d38dabdef503dfd310ace545b/tripal_core/api/tripal_core.chado_nodes.api.inc#L645)

**chado_expression_cvterm_insert() not being called.**
I added [chado_expression_cvterm_form](https://git

[2017-09-20 21:00] laceysanderson commented on #160
## Question about sync filters
Good call, missed that -sorry my brain is not fully recovered from childbirth yet :-p. In that case, you should be good to ignore my suggested changes to the sync filters.

## chado_expression_cvterm_insert() not being called.
Weird. You are naming them correctly. Have you cleared the cache multiple times? Maybe you also need chado_expression_cvterm_update() and chad

[2017-09-20 21:25] srobb1 commented on #160
**Question about sync filters**
I know what you mean!! Some days are worse than others for the brain :) Congratulations by the way!

**chado_expression_cvterm_insert() not being called.**
- Yes, I tried clearing the cache a few times.
- Added chado_expression_cvterm_update(), no luck, this one isn't being called either.
- Added chado_expression_cvterm_delete(), no luck, this one isn't being called

[2017-09-21 16:54] srobb1 commented on #160
Maybe this info will spark some ideas:

I am probably missing some important hook.

**Functions used in tripal_example and used(bold) or not used(Strikethrough) in tripal_expression_cvterm**
-------------------------------------------------------------------------------

**tripal_example.module:function tripal_example_permission()**
**tripal_example.module:function tripal_example_menu()**
~~tripal

[2017-09-21 18:20] laceysanderson commented on #160
The hooks needed for a custom node type (ones you're missing are crossed out):
- includes/tripal_example.chado_node.inc:function tripal_example_node_info()
- ~~includes/tripal_example.chado_node.inc:function tripal_example_node_access($node, $op, $account)~~ (not sure if this one is required since I've always needed it ;-) )
- includes/tripal_example.chado_node.inc:function chado_example_form($nod

[2017-09-21 19:19] srobb1 commented on #160
Ok, probably a silly question, but where can I find the form that I create with hook_form()?

[2017-09-21 19:23] srobb1 commented on #160
I think I know, When I edit the entry from the contents page, or add a new content type of my type. If this is true, I do not see my fields, only the default body field.

[2017-09-21 19:24] srobb1 commented on #160
BTW, I added:
- hook_access()
- hook_load()

[2017-09-21 19:36] srobb1 commented on #160
Ok, a little bit of progress. I just added tripal_expression_cvterm_form_alter() and removed the body like in the tripal_example. My print statement "I am here: tripal_expression_cvterm_form_alter" appears in the top of my browser and I don't have body in my newly added record! So this hook is working! Yeah! It isn't really accomplishing anything with my main issue, but at least I know I can make

[2017-09-21 20:21] srobb1 commented on #160
I added tripal_expression_cvterm_node_presave() and it gets called!!
But something weird, is I added this print statement:

`
print "I am here: tripal_expression_cvterm_node_presave\n";
`

and this get printed in the terminal when I run my job with drush:

<pre>
I am here: tripal_expression_cvterm_node_presavey: 41,296,728 bytes.
I am here: tripal_expression_cvterm_node_presavery: 42,237,312 bytes

[2017-09-21 20:30] laceysanderson commented on #160
All of the hook_node_X() functions will be called for all node types (not just your custom one) so unfortunately that doesn't help you. The same is said for hook_form_alter() which is called for all forms. I'm just starting up my Tripal2 dev site and then I'll install your module and see if I can see what's going on. It seems like your node type is not being detected properly by the drupal magic w

[2017-09-21 20:39] srobb1 commented on #160
If you are installing my module, warning, I have not tested any of the code in tripal_expression_cvterm.install

- I made my linking table with the tripal custom table tool and then in psql altered the schema to public.
- I created my content type manually in the structure->Add content type.

One of these might be why my code isn't working...

[2017-09-21 20:59] laceysanderson commented on #160
Ahhh! Neither is good... The custom table tool creates tables in the chado schema whereas your linking table needs to be in the public schema. Also hook_node_info should programatically create the content type so if you did it manually there will be a conflict. Personally, I would start with a clean development site...

### Good News
When I installed your module it created the linking table correc

[2017-09-21 21:11] srobb1 commented on #160
Oh Good!  That is great news.

As an aside: I did change the schema to public on my linking table because I saw it was in chado. But, if it get created...

Yeah, happy that you tested my hook_schema for me :) I had not tested it yet.

Yeah, yeah, you told me to change it, but I got side tracked :)

Okay, let me know when what happens when you try to sync something.

I have a bulk loader template f

[2017-09-21 21:24] laceysanderson commented on #160
I made some quick changes for testing: https://github.com/laceysanderson/tripal_expression_cvterm
Basically, commented some things out, removed a few functions and changes prints to drupal_set_message() since I find it works better for testing (you won't always see all prints through the UI).

I was able to confirm that your form, insert, update, load and delete are all being called when explored

[2017-09-21 21:50] srobb1 commented on #160
Thank you. I will let you know how it goes!

[2017-09-21 22:10] srobb1 commented on #160
I know you said fresh install, but that requires a lot of work with my IT to get a new VM.

So, deleted my linker table, deleted all nodes of my content type, deleted my content type, uninstalled and moved my module out, cloned your version, changed 'example' to my content type like you said, and activated the module. I cleared the cache in between some of the events.

My content type gets created

[2017-09-21 22:13] srobb1 commented on #160
Is the hook_schema supposed to be $hook_prefix . "_schema" ? or $module_name . "_schema"?

Mine is called tripal_expression_cvterm_schema()

[2017-09-21 23:27] laceysanderson commented on #160
Yours is named correctly 👍 . Unfortunately I have no idea what you missed cleaning up :-(

Another idea:
Do you have permission to create new databases on your VM? If you do, simply drop the database -this effectively gives you a clean install since almost everything for your drupal site is stored in the database. You then start at [this point in the Tripal2 install guide](http://tripal.info/tutor

[2017-09-22 01:42] srobb1 commented on #160
Ok.
- My linking table gets created!!! This is a step in the right direction!
- I get records in my node table
- I see my content type and the insert/edit form with the fields I created in the hook
- I get **NO** records in my linking table :(
- I get these two checks printing when I run my job:
      - I am here: chado_expression_cvterm_validate
      - I am here chado_expression_cvterm_insert
-

[2017-09-22 02:50] laceysanderson commented on #160
Nice! So close! That means the problem is either in the if statement creating the linking record or in the SQL pulling out the records to be sync'. I would check in the _insert() to make sure the variables contain what they're supposed to.

[2017-09-22 15:13] bradfordcondon commented on #160
Thanks for stepping in Lacey, I have no experience with any of these hooks so great learning experience for me too.   PS Jealous of your baby time, enjoy and thanks for making time for us.

[2017-09-22 15:38] laceysanderson commented on #160
No problem 👍  It helps to keep my brain working. Plus I get bored during baby naps ;-)

Might the problem be as silly as a misplaced space during copy/paste? It looks like there's a space before expression_cvterm_id in both [this line](https://github.com/srobb1/tripal_expression_cvterm/blob/master/tripal_expression_cvterm.module#L271) and [this line](https://github.com/srobb1/tripal_expression_cvt

[2017-09-22 15:41] laceysanderson commented on #160
Also, Sofia I added my changes as a pull request so that if you want them you can just click the merge the button and keep working with your own repository. It will make downstream changes easier this way ;-)

[2017-09-22 15:50] srobb1 commented on #160
I noticed that this morning when my little guy was having breakfast. He insists that I sit right next to him, so I was going over the code on my phone. I saw that space!

I will get the code all fixed up and try it out, I know it will work this time.

Yes thank you for helping out. I really appreciate your time. And if you need more brain teasers, I am sure I could give you a steady list. Just let

[2017-09-22 15:54] srobb1 commented on #160
Yes! It did work! Finally!

THANK YOU @laceysanderson and @bradfordcondon !!!!!

[2017-09-22 15:54] #160 closed, assigned to nobody

[2017-09-22 16:05] laceysanderson commented on #160
Yay! 👍  Ironically I also saw the space while sitting beside my older son who insists I sit right next to him at breakfast while he watches cartoons & ignores me ;-)

[2017-09-22 16:06] srobb1 commented on #160
That is exactly!!! the same with me!!

[2017-09-22 17:46] bradfordcondon opened #166 "Migrating "other" content type"
Similar to my previous issue migrating Biomaterials, we also need to support migrating Protocol and Array_design types.  HWG doesn't actually use these content types, but in the interest of saying the Tripal Analysis Expression module supports Tripal 3, we need to address this.

I'm open to how it could be solved.  Specifying terms for these types in the Tripal Migration, allowing for custom terms

[2017-09-22 20:50] bradfordcondon opened #167 "Conflicting hook"
Hello!

I am writing a quick little module to use the [Drupal Relation](https://www.drupal.org/project/relation) module.   The [Tripal Relation Module](https://github.com/bradfordcondon/tripal_relation) finds relation types that are between Tripal Entity and provides support for Chado-linking them to autogenerate relationships.  The result is you get "free" fields from the relation module to displ

[2017-09-27 13:20] bradfordcondon opened #168 "label callback function doesnt exist?"
The relation module is calling the [`entity_label` method.](https://api.drupal.org/api/drupal/includes%21common.inc/function/entity_label/7.x)  I see that Tripal entities have the label callback function correctly defined as `tripal_entity_label`.  However, `function_exists(tripal_entity_label)` returns false and I cant find the callback in the code.  Am I missing something or is this still on the

[2017-09-27 16:52] spficklin commented on #167
Hey @bradfordcondon Can you give an example for when you would use the Relation module?  Many of the existing fields handle the relationships in Chado so I was curious what the difference was.

[2017-09-27 16:57] spficklin commented on #160
Thanks @bradfordcondon and @laceysanderson!

[2017-09-27 17:02] spficklin commented on #165
Ah... thanks for noticing this issue.  I'm looping in @shawnawsu so we can talk on this one.

[2017-09-27 17:07] spficklin commented on #164
The form that appears for a bundle (i.e. Content type) is generated by the collection of fields attached to the bundle.  So, if you want to alter the form for a specific field (e.g. the organism) then you have to create a new widget for that field.  In Tripal we have abstracted the Drupal hooks for working with fields into three classes:  TripalField, TripalFieldWidget and TripalFieldFormatter.  I

[2017-09-27 17:09] spficklin commented on #159
Yes, a shift-click would be nice, we can put that on our TODO list...

To clarify, you should be able to press the upload button at the very end after selecting your files and all of them get uploaded at once!

[2017-09-27 17:09] #159 closed, assigned to nobody

[2017-09-27 17:20] spficklin commented on #141
Hi @almasaeed2010

In the case of the chado.protocol table I would recommend against using the 'schema:description' term for all three of those columns even if they are all descriptions.  The reason is that the 'schema:description' term is too generic for what data those columns contain.  I don't think it makes sense for an entity to have multiple fields with the same term.  If the same term is us

[2017-09-27 17:29] bradfordcondon commented on #167
I've got this fear that this module is totally unnecessary.  If so thats OK, it was really quick to make.

I want to list all the...
*  biomaterials derived from an organism at a given organism page.
* analyses involving an organism at a given organism page.
* biomaterials included in an analysis at a given analysis page.

As far as I could tell, the (existing, SIO__relationship) relation field is

[2017-09-27 17:30] almasaeed2010 commented on #141
Thanks @spficklin. This totally makes sense.
We did end up using more specific terms for each field but they are `local` terms. Searching through NCBI didn't yield anything that we thought was appropriate, unfortunately.

Thanks!

[2017-09-27 17:33] almasaeed2010 commented on #164
Ok this makes sense. Thanks for the explanation!

[2017-09-27 17:33] #164 closed, assigned to nobody

[2017-09-27 18:32] spficklin commented on #150
I just committed a fix to this that will allow you to place your fields in the sites/all/libraries/TripalFields directory.  This way you don't need to create a new module to add new fields.   You'll need to pull the most recent copy of the code and enable the [libraries API module](https://www.drupal.org/project/libraries).  If you don't enable the libraries API module then it won't work but Tripa

[2017-09-27 18:39] spficklin commented on #164
FYI... a new commit was just added to allow you to add your new field classes to sites/all/libraries/TripalFields if you don't have a module.  So if you want a new organism widget you can either place it in a custom module in the includes/TripalFields directory. Or, if you don't have a module you can place it in the libraries folder.

[2017-09-27 18:40] spficklin commented on #141
If you don't mind me asking, what were the terms you came up with?

[2017-09-27 18:42] almasaeed2010 commented on #141
They were very straight forward:
[code]

[2017-09-27 23:09] spficklin commented on #158
Done

[2017-09-27 23:09] #158 closed, assigned to nobody

[2017-09-27 23:10] spficklin opened #170 "Tripal Daemon needs documenting in the User's Guide"
This page needs updating:  http://tripal.info/tutorials/v3.x/installation/job-automation

@laceysanderson when you have time could you update this?

[2017-09-28 21:57] spficklin opened #171 "Changing the lable of the organism_image field wipes out the term..."
enough said.

[2017-09-28 21:59] spficklin commented on #152
Marking this as closed as we have a new module in development to handle this at https://github.com/Ferrisx4/tripal-remote-job

[2017-09-28 21:59] #152 closed, assigned to nobody

[2017-10-05 22:39] srobb1 opened #172 "More questions about custom modules"
If you have time @laceysanderson can you look at this since you are the one who is most familiar with my code? Sorry to bug you. Feel free to ignore me.

I realized the my last module was not quite what I needed. I was syncing too many records. I created a new module with a couple of tweaks that works much better!

I am having an issue when I want to edit content that was created by my module. I m

[2017-10-06 11:51] bradfordcondon commented on #140
Hi all,
Any word on this?

I'm still unable to install GO with the OBO loader on the tripal 3 dev branch.  Same error.

Thanks

[2017-10-06 17:29] srobb1 commented on #172
It now exists. I uncommented and modified the code in chado_expression_cvterm_organism_load().

I am having a new issue now, but this one is solved!!

My new issue is that now I get a error when loading the 'edit' page. I get a very nondescript 'The website encountered an unexpected error. Please try again later.'

I will investigate. Any tips are appreciated :)

Thanks!

[2017-10-06 17:45] srobb1 commented on #172
I got this one too!!

dpm() helped me out!

I  had to change [line](https://github.com/srobb1/tripal_expression_cvterm/blob/13521065c0fe69c9c54e166beddc9d3267aabca9/tripal_expression_cvterm_organism.module#L401) this:
    `$cvterm_id  = $expression_cvterm_organism->cvterm_id;`

to this:
    `$cvterm_id  = $expression_cvterm_organism->cvterm_id->cvterm_id;`

my $expression_cvterm_organism->cvterm_i

[2017-10-08 21:55] ligmanowski opened #173 "user and pass for docker installation"

[2017-10-08 22:00] #173 closed, assigned to nobody

[2017-10-10 20:35] btski opened #174 "Sept 29th online Tripal training"
Does anybody happen to have a recording of the training? I wasn't able to follow along with the demonstrations, and I believe solutions to problems I'm currently having were covered.

Thanks,
Blake

[2017-10-11 20:27] bradfordcondon commented on #120
Hi all,

Looks like this issue persists (along with my OBO memory issue #140 ).  See the error below.

I can try my hand at resolving these myself this week if it has not been fixed already.

Thanks!

[code]

[2017-10-13 11:05] shawnawsu commented on #140
We're working on it but it's a time consuming error to troubleshoot. I'll update this ticket once we've got a fully tested fix. Thanks for your patience!

[2017-10-16 03:22] ligmanowski opened #175 "Installation failing"
Im trying to install Tripal but no success. I tried two methods and both failed at different points. Here I brougth the automatic drush installation I created the drupal DB and drupal user at Postgres than I add another DB and user to check if it was the problem, but both failed.

Thanks and best regards,

Raphael Carvalho

Drush was not able to start (bootstrap) Drupal.                      [erro

[2017-10-16 07:54] ligmanowski commented on #156
Hi Stephen, sorry for the delay.

I tried to use cron and running manually, in both cases I got this error:
$ /var/www$ drush trp-run-jobs --user=ubuntu
The drush command 'trp-run-jobs' could not be found.  Run `drush     [error]
cache-clear drush` to clear the commandfile cache if you have
installed new extensions.

I trying this command at GMOD Cloud running at AWS

Can you help me please? Sorry

[2017-10-18 17:28] btski commented on #175
Raphael,

I saw in previous posts you were using AWS to host Tripal. Assuming you're still trying to use AWS and aren't hosting locally, I can share the series of commands I used to get my Tripal instance working. Unfortunately, I'm still new and unable to help with specific issues.

-Blake

[2017-10-20 16:54] btski commented on #175
I'm not familiar enough with Tripal to troubleshoot specific problems, but I see that earlier you were attempting to launch Tripal through AWS. Here's some command line documentation for starting a Tripal instance. At the very least, it should get you a working site. Then perhaps we can learn how to use the Tripal features together.

When launching an ubuntu instance, make sure you have ports 22 (

[2017-10-20 23:58] spficklin commented on #175
Hi @ligmanowski let us know if @btski's suggestions work.   If not we can try to dig deeper.    If you're getting this messge: "pg_query(): Query failed: ERROR: relation "tripal_bundle" does not"  Then there must have been something that went wrong well before this message appeared.

[2017-10-21 00:00] spficklin commented on #156
Typically the directory for the Drupal installation is /var/www/html rather than /var/www.  Although it doesn't have to be.  Should you run this in the /var/www/html directory?  The drush command must be run from withing the Drupal installation somewhere.

Sorry for the delay in response.  This week has been a bit to busy!

[2017-10-21 00:02] spficklin commented on #174
Hi @btski.  Yes!  we do have a two hour recording of that training session.  Although it has not yet been posted to YouTube. We're working on that and we will have it up shortly.  It needs to be chopped into smaller chunks for viewing pleasure..

[2017-10-21 00:04] spficklin commented on #172
HI Sofia, it's been a bit of time since you posted this.  Are you still having issues?  If so, do you have your code on GitHub so we can take a look at it?

[2017-10-21 00:06] spficklin commented on #141
To add to this, can you share the description you used for each of these as well?

[2017-10-24 16:02] ligmanowski commented on #156
No worries to take your time to answer. Ill double check in what folder Im trying to run the commands. Ill let you know if I made any progress. Thanks and best regards.

[2017-10-24 16:07] ligmanowski commented on #175
Hi @btski @spficklin Ill try some of @btski ideas. In this thread I was trying to install only Tripal without all GMOD Cloud features and tools. In this case I was doing a clean installation at my machine running Ubuntu 16.04. Its not a virtual machine to remove any variable from equation... hehehe I saw that you use sudo to install drush, is that working for you guys? Because tutorial says its no

[2017-10-24 19:59] btski commented on #175
Any deviation from recommended commands was likely a result of trial and error. I can try relaunch an instance without running sudo for the drupal installation. It takes about 15 minutes to launch a Tripal site from scratch. I don't think running sudo commands on a new cloud instance is risky (easily replaceable if something happens). Probably less advisable to use sudo in a developed instance or

[2017-10-25 10:42] guignonv opened #176 "Views integration missing filters"
Branch: Tripal 7.x-2.x
Module: tripal_views

Today, I just noticed a weird bug related to views integration. In my Tripal instance, I overriden some integrations for several reasons a long time ago. Yesterday, I needed to add a relationship to my custom integration of "stock" table. I did so and noticed some of my views were messed up.

I had a "Broken/missing handler (= 46774)" in the "Filter cri

[2017-10-26 20:51] btski opened #177 "Custom Tripal tables unavailable content type"

[2017-10-28 05:33] spficklin commented on #177
Hi @btski .  Apologies for the slow reply on this.  I noticed you closed it without a response and removed the message.  Were you able to figure something out, or would you still like some help?

[2017-10-30 10:01] a2htray opened #178 "view the Organism, throw this Exception"
`PDOException: SQLSTATE[42703]: Undefined column: 7 ERROR: column orel.object_organism_id does not exist LINE 1: ...tionship ORel INNER JOIN chado.organism O on ORel.objec... ^: SELECT O.genus, O.species, O.organism_id, CO.nid, CVT.name as rel_type FROM chado.organism_relationship ORel INNER JOIN chado.organism O on ORel.object_organism_id = O.organism_id INNER JOIN chado.cvterm CVT on ORel.type_i

[2017-10-30 16:27] btski commented on #174
Any update on the training recording @spficklin? I haven't been able to find a link on the Tripal site directing to the video, and I haven't been able to find it on YouTube either.

[2017-10-30 21:58] spficklin commented on #174
I'm still working on it.  Apologies. I'll try and have it up by this Friday.

[2017-10-30 22:06] spficklin commented on #178
Hi @a2htray Are you using an Chado v1.2 where you added the organism_relationship table?  Or have you upgraded from Chado v1.2 where you added the organism_relationship table prior to upgrading to Chado v1.3?  The query above is trying to join on the organism table via the organism_relationship.object_organism_id field.  The organism_relationship table was added new in Chado v1.3 and it does not h

[2017-10-30 22:29] spficklin commented on #176
Thanks @guignonv.  This is an interesting bug because there has been no change to that bit of code in several years.  Could it have been several years since you last noticed this?  Can you confirm?

If so, then perhaps your solution works, but we'd have to add a few more handlers to the list.

@laceysanderson Any thoughts on this one?

[2017-10-31 01:36] a2htray commented on #178
thanks for your comment, i will try to add the organism_relationship table.

[2017-10-31 01:43] a2htray commented on #178
i find the this `create table` statement via [https://raw.githubusercontent.com/GMOD/Chado/master/chado/schemas/1.31/default_schema.sql](https://raw.githubusercontent.com/GMOD/Chado/master/chado/schemas/1.31/default_schema.sql)

[2017-10-31 09:56] abretaud opened #179 "Prepare database from command line"
Hi, I'm working on updating https://github.com/erasche/docker-tripal to tripal 3
I need to be able to run the "Prepare Drupal for Chado" from the command line while starting up the container. Would it be possible maybe to create a drush task for it?

[2017-10-31 11:23] abretaud opened #180 "Missing license"
Just a minor thing I noticed: tripal.info mentions that tripal is released uneder GPL license, but I couldn't find a LICENSE file distributed in the release tarballs or in the github repo.
I think it would be good (and probably easy) to add this file, I thing github provide an automatic way to do it.

[2017-10-31 13:03] MingChen0919 commented on #179
Hi @abretaud, there is a drush task for installing tripal 3 (including Prepare Drupal for Chado). here are the links:
http://tripal.info/tutorials/v3.x/installation/rapid
https://github.com/tripal/tripal_install

[2017-10-31 13:37] abretaud commented on #179
Ah yes, I saw it
I can't use it as is though as it does some things that are already done elsewhere in the build/startup process
Maybe I'll just make a light version of it (that's why I created https://github.com/tripal/tripal_install/issues/2)

[2017-10-31 16:37] btski commented on #177
Response time wasn't an issue. It was just a poorly conceived question. I've been having trouble depositing information into Chado with the bulk loader, likely due to constraints on input data. I should be able to sort that out, but I've shifted focus to creating a custom Chado table to house all of my metadata (some of which fails to fit well within the existing Chado schema). I'm planning to pop

[2017-11-03 11:48] guignonv commented on #176
Yes, it could have been several years before I noticed it.

[2017-11-03 13:16] bradfordcondon opened #181 "Tripal Importer class should replace existing files"
Right now, if you upload a file with the same name as an existing file using the Tripal Importer, it will skip the upload and use the file existing on the server.

I would propose that the importer should overwrite the existing file.  Often I will upload a file, test it, make some changes, and re-upload, so renaming it (and remembering to rename it!) is a hassle.  Alternatively, you might upload a

[2017-11-03 15:47] btski commented on #181
Can you clarify what you mean by 'Tripal Importer'? I don't have problems overwriting files via the scp Linux command for the bulk loader (which can also be used for the fasta/gff3 loaders).

Edit - I was able to reproduce the problem using the file selector (gui) for the fasta/gff3 loaders. As a short term solution, consider using the scp command to load data onto the Tripal server.

[2017-11-03 16:14] bradfordcondon commented on #181
Hi, as your edit confirm I'm refering to the GUI of the new TripalImporter class in Tripal 3.  Sorry I wasnt more clear.

[2017-11-03 16:32] btski opened #182 "Creating backup through AWS"
I'm trying to backup my AWS Tripal instance. The steps I've used are as follows:

- Created a snapshot of the base/current Tripal instance
- Created a volume from that snapshot
- Created a new/empty ubuntu instance with appropriate security permissions
- Attached the volume onto the new/empty instance (now has a total of two volumes)
- Mounted the volume (installed nfs-common when I encountered pr

[2017-11-03 17:31] spficklin commented on #182
Hi @btski Are you mounting this volume via NFS or is it available to your instance as a local volume for mounting?  I've not tried to use AWS with Tripal so I'm not sure what the issue might be.

[2017-11-03 17:34] spficklin commented on #181
Hi Bradford.  Good point.  The purpose of not overwriting the file is because the importer is supposed to pick up where it left off if the upload gets interrupted.  But, it should be easy enough to test if the upload is completed and re-start the upload.

[2017-11-03 17:42] spficklin commented on #180
Hi @abretaud

Drupal requires that modules do not have a LICENSE file as it wants to add it to the modules when it packages them up for release.  And Drupal enforces GPLv2 license for everything.  Although I went searching just now to find those instructions and cannot find them....  You make a good point thought, as we are hosting the code in both places (Drupal.org and GitHub) we should probably

[2017-11-03 17:45] spficklin commented on #177
Okay, it looks like we have a bug here with custom tables now showing up in that list for creating new content types.  I've marked this as a bug and task to look at.

Can you describe your custom tables and the data you're putting into them?

[2017-11-03 17:48] spficklin commented on #179
Hi @abretaud .  @shawnawsu did that work on the rapid install.  Can you explain the issues you have with it on your docker image and maybe we can accommodate?

[2017-11-03 18:16] btski commented on #177
My metadata consists of an automatically generated unique ID, genBank accession (if available), strain/isolate name, strain/isolate source, genotype, author/s, collection location, and collection date. Some of this should fit within existing Chado tables (and link together). However, I've been having trouble depositing data (likely due to null field values or incompatible characters). My solution

[2017-11-03 18:32] btski commented on #182
I'm not entirely sure what you're referring to, but everything was done entirely on the AWS servers (nothing installed locally). I expect to begin working with a Ubuntu server and transitioning away from AWS soon, so this isn't really a pressing issue. AWS is a nice way to test data loading without much risk of overwriting or breaking things. It can be a bit inconvenient to relaunch an instance, s

[2017-11-03 22:32] spficklin commented on #182
It sounds to me that you have a mounting issue on your instance.  You mentioned installing the nfs-common package which would imply you're trying to mount the volume via NFS.  But I wasn't sure how AWS made that backup volume available to your instance.  I think you might need to ask this question to AWS support to help on this one as I've not worked with AWS in quite a while.

[2017-11-03 22:38] spficklin commented on #177
I think, @btski, that you can store all of your meta data in regular Chado tables.  What you describe sounds typical of what other folks are storing without creating custom tables.  One suggestion would be to reach out on the Chado mailing list to ask how other folks are storing similar data.  https://sourceforge.net/projects/gmod/lists/gmod-schema.   One advantage of storing data in similar ways

[2017-11-06 14:59] abretaud commented on #179
So, here's a first draft of our tripal3 docker image:
https://github.com/erasche/docker-tripal/tree/v3.x

And the light version of the rapid install script: https://github.com/erasche/docker-tripal/blob/v3.x/tripal_install.drush.inc

I've just removed things that are already done elsewhere in our case: settings, drupal install, db loading, ...

I wonder if this should be merged to https://github.c

[2017-11-06 14:59] abretaud commented on #180
Ah ok, I didn't know about drupal not wanting this file.
If synchronisation between github and drupal is automatic I guess scripting the removal of the file before sending to drupal should be doable?

[2017-11-06 15:50] shawnawsu commented on #179
Hi @abretaud,

Thanks for the info. It looks like you're calling this once the drupal site is already installed and functional so it would make more sense to put the drush command into the existing tripal drush file. Let me chat with Stephen to see if that will work.

Thanks!
Shawna

[2017-11-06 15:58] btski commented on #177
Thanks for the input @spficklin. I've attempted to contact the Chado mailing list and did not receive a response. I've tried to categorize my data to corresponding Chado tables/features but there's no guaranteed agreement with community consensus. I'll look into Drupal views. Thanks for the suggestion.

[2017-11-06 21:16] taytayp opened #184 "Ontology file (.OBO) fails to load"
Upon loading a .obo ontology file to the Chado OBO loader, and running the job through drush, the error returned is:

`Invalid OBO ID provided: '0'.`
`WD tripal_job: Invalid OBO ID provided: '0'.`

The file in question does not have any IDs similar to '0.'

[ftp://ftp.ebi.ac.uk/pub/databases/chebi/ontology/chebi.obo](url) is the file in question.

[2017-11-06 21:19] spficklin commented on #177
If you want to post a new issue requesting feedback on your storage design I can try to ping a few folks to give you feedback on it.

[2017-11-06 21:28] spficklin commented on #168
Pull request has been applied.  Thanks for providing the fix.

[2017-11-06 21:28] #168 closed, assigned to nobody

[2017-11-07 19:09] btski opened #185 "Fitting data to Chado schema"
At @spficklin's suggestion, I'd like to ask the Tripal community for help/feedback on my data assignments to the Chado schema, as shown in the following PowerPoint sheet:
[Chado_load.pptx](https://github.com/tripal/tripal/files/1451232/Chado_load.pptx)

A summary of my data fields: unique ID, source accession, strain/isolate name, strain/isolate source, genotype, author/s, collection location (cou

[2017-11-08 07:01] a2htray opened #186 "throw an Error when load the obo file for gene_ontology"
current environment

1. postgresql9.5
2. drupal-7.56
3. tripal 2
4. chado 1.3

`WD tripal_cv: Could not fill cvtermpath table: SQLSTATE[54001]: Statement too complex: 7 ERROR:  stack depth limit exceeded                                                   [error]`

[2017-11-08 07:02] a2htray commented on #186
some one says it is an issue of postgresql, any way to resolve it?

[2017-11-10 17:43] bradfordcondon commented on #185
Happy to give my opinion.  Looking at your slide, am i correct that your main boxes are structure as  Proposed chado table (current data field/table)

Apologies but I find that slide confusing to look at (hopefully it was helpful for you to make it!) so instead, I might direct you this way.

You want to load into several tables, namely:

* organism
* biomaterial
* feature
* genotype
* contact

If

[2017-11-13 17:04] bradfordcondon commented on #184
Hi there,

Sorry you haven't gotten any feedback yet.
Are you still getting this issue?  I've had it before but when I re-run the import it has worked- I wonder if creating the new ontology reference needs to happen before the job runs?

[2017-11-13 17:14] taytayp commented on #184
No worries about the delay.

Still seems to be an issue. I am aware it works if you select the ontology again upon revisiting a page, and am currently uploading one now.

[2017-11-14 17:44] bradfordcondon opened #188 "Unable to load GOSlim"
In attempting to find a solution to loading GO, I thought maybe we can load in a [GOSlim](http://www.geneontology.org/page/go-slim-and-subset-guide) instead. I tested with the Plant GOSlim and the generic with the same error for both.
The resulting error isn't too helpful but thought I'd report the issue anyway.

[code]

[2017-11-14 19:48] shawnawsu commented on #186
Hi @a2htray,

We are actively working on this. The root of the problem is a self referential relationship in the gene ontology. We are hoping to have a fix soon and will let you know as soon as it's ready, hopefully by the end of the week.

Thank you for your patience!
Shawna

[2017-11-15 14:45] bradfordcondon commented on #167
Hi @spficklin
I had the urge to use this module again so thought I'd ask to think about it again.

- Our old site had a libraries tab on organism
- Libraries are converted as entities (BAC and Genomic libraries +), but to get them to be listed on organisms we'd have to create a new field
- My tripal_relation module would allow libraries to be linked and displayed on the organism page with no addit

[2017-11-15 18:28] bradfordcondon opened #190 "Adding properties when creating or editing tripal 3 entities"
Sorry if this is in the documentation and I missed it, but I believe this feature is missing.

When creating an entity manually via  Content->Tripal Content -> Add Tripal Content, there is no widget for adding properties.  For example when manually creating a biological sample I would want to specify a treatment, or when creating a gene feature I might want to specify an intron start.

Because in

[2017-11-15 18:33] srobb1 opened #191 "admin/content error: something to due with Resource Links??"
Hi,

When I navigate to admin/content I get an error "The website encountered an unexpected error. Please try again later"

These messages below appear in my log.  This is happening on two of my sites. I am running Tripal 2. I did some updates about a month ago. I am pretty sure I visited this page since then... I am not sure what has changed.

Any ideas?

Thank you,
Sofia

[code]
[code]

[2017-11-16 16:32] almasaeed2010 opened #193 "Annotations field failing to load"
Hi,

The sio__annotations field is causing the following errors in our site.

[code]

Thanks!

[2017-11-16 17:02] srobb1 commented on #191
I know one thing that I did. I added "**Resource Links**", "Resource Titles", and "Resource Blocks" to my organism content type. I already had them on my Analysis content page so I only had to add existing fields to my organism content. I see that the last error I posted is something about " field_data_field_resource_links" .

[2017-11-17 06:36] spficklin commented on #167
Hi @bradfordcondon.

You are right in that "relationships" in Chado are mapped through [base]_relationship tables and those relationships typically refer to records within the same table.   What you're describing are relationships but these falls within the "linker" category: i.e. two different types of records being associated with one another.

Tripal can handle these if a linker table exists (e

[2017-11-17 06:40] spficklin commented on #178
Hi @a2htray. Just curious if this is resolved for you.  If so, I'll go ahead and close out this issue. If not let us know if we can help further.

[2017-11-17 06:46] spficklin commented on #193
Can you tell me what content type you are getting this error?

[2017-11-17 06:53] spficklin commented on #191
Hi @srobb1

I don't think this is caused by the resource links/titles/blocks.  This appears to be an error with a PHP eval() statement.  For example this message shows in your log above:

Notice: Undefined variable: DBFILE in eval() (line 17

So somewhere on your site there is some PHP code that is being run through an eval() statement that is doing some database query using these variables: db, q

[2017-11-17 06:59] spficklin commented on #190
Hi @bradfordcondon

Yes, you can do this.  But, you're right this is missing in our documentation in the User's Guide.   To add a property to an existing content go to Administation > Structure > Tripal Content Types.   Click on the 'manage fields' link for the content type to which you want to add a property.   Scroll to the bottom of the page to the section where you can add a new field.  And un

[2017-11-17 07:02] spficklin commented on #182
Hi @btski .. any updates on this issue?  Let us know if you need additional input or if we can close this out.

Thanks

[2017-11-17 07:06] spficklin commented on #175
HI @ligmanowski Any updates on this issue?  Do you need any further input?  If so let us know. If not , I'll close this out.  Thanks.

[2017-11-17 07:09] #150 closed, assigned to nobody

[2017-11-17 07:11] spficklin commented on #156
Just checking in on this one as well @ligmanowski .   Do you need additional help on this one?

[2017-11-17 07:13] spficklin commented on #33
Hey @shawnawsu Is this fixed?

[2017-11-17 07:15] spficklin commented on #37
The new FASTAImporter handles this.

[2017-11-17 07:15] #37 closed, assigned to nobody

[2017-11-17 07:25] spficklin commented on #39
The development branch of 7.x-3.x now has a fix for this.

[2017-11-17 07:25] #39 closed, assigned to nobody

[2017-11-17 07:27] spficklin commented on #40
Verified this is fixed

[2017-11-17 07:27] #40 closed, assigned to nobody

[2017-11-17 07:28] #53 closed, assigned to nobody

[2017-11-17 07:30] spficklin commented on #54
This is such an old issue and D6 is unsupported now. it's time to close this out.

[2017-11-17 07:30] #54 closed, assigned to nobody

[2017-11-17 07:31] spficklin commented on #57
This issue isn't appropriate for Tripal v3 and we won't fix for Tripal v2.

[2017-11-17 07:31] #57 closed, assigned to nobody

[2017-11-17 07:32] spficklin commented on #58
This is definitely on our list of things to do.  But it's not a priority.  Rather than keep this in the issue queue indefinitely I'm closing it out.

[2017-11-17 07:32] #58 closed, assigned to nobody

[2017-11-17 07:38] spficklin commented on #180
I've added a license.txt file.  We'll see if Drupal complains :-)

[2017-11-17 07:38] #180 closed, assigned to nobody

[2017-11-17 14:37] almasaeed2010 commented on #193
It happened immediately after enabling the field on the "manage display" tab on any feature type. Specifically, it happened on mRNA and Gene entity types.

Oddly, the error caused the entire site to stop working except for the administration pages.

Thanks!

[2017-11-17 17:12] spficklin commented on #193
So, the error is caused when the sio__annotation load() function is called.  This is only called when a page first loads data from the database.  Thereafter, field data is cached.   The problem seems to be that the feature_cvterm table is not being returned by the chado_get_schema() function.    So, if you have a site-wide problem other than with the administration pages then I don't think this is

[2017-11-17 17:18] almasaeed2010 commented on #193
What's posted above are all the error messages the we got.

Would the result of the field get cached if a fatal error gets thrown in the `load()` function?

[2017-11-17 17:31] almasaeed2010 commented on #193
I think this problem was caused by a php cache issue in our end (OPCache). Once I restarted OPCache and enabled the field, it worked without any errors! So I am gonna assume this a cache issue not related tripal.

Thanks!

[2017-11-17 17:32] #193 closed, assigned to nobody

[2017-11-20 10:01] spficklin commented on #92
This has now been added with conversion of the loader to a new TripalImporter instance.

[2017-11-20 10:01] #92 closed, assigned to nobody

[2017-11-20 10:01] spficklin commented on #38
This seems to be occuring...

[2017-11-20 10:01] #38 closed, assigned to nobody

[2017-11-20 13:59] srobb1 commented on #191
Hi Stephen,
I did a `grep -ri` for 'DBFILE', 'QUERYFILE', and 'OUTFILE' in my module and theme directories. I can't find them, so strange. These terms all see like they could be apart of a BLAST wrapper, but they are not apart of the BLASTUI module. So far I can't find them. I will keep looking.
Thank you,
Sofia

[2017-11-20 14:19] srobb1 commented on #191
Hi Stephen,
I found the text!!! It is in a couple of my analysis pages in a pre tag.  I wrapped it in pre code tags and it is fine now. Thank you for directing me!
Thank you so much!
Sofia

<pre><code>
#!/usr/bin/env bash
# map_transcriptomes.sh query_fasta db_fasta out_file
query=$1
db=$2
OUTFILE=$3
QUERYFILE=`basename ${query}`
DBFILE=`basename ${db}`
</code></pre>

[2017-11-20 14:19] #191 closed, assigned to nobody

[2017-11-20 19:11] btski commented on #185
I appreciate the feedback @bradfordcondon and thank you for correcting my misconception with using the cvterm table. I'll refer to your written guide as well and make adjustments accordingly.

[2017-11-20 19:13] btski commented on #182
I was unable to figure out how to make a backup on AWS cloud servers @spficklin. However, I plan to begin using a local Ubuntu server, which should be much easier to backup. I'll close this thread.

[2017-11-20 19:15] #182 closed, assigned to nobody

[2017-11-20 19:16] btski commented on #174
Any update on training videos @spficklin?

[2017-11-21 22:33] btski commented on #185
Some follow up questions:

I'm still a little confused with the cvterm and cv table. The cv table requires selection of a predefined ontology. The cvterm table is a term associated with the cv that the user creates. If I'm understanding everything correctly, a biomaterialprop table with year data could have a biomaterial.value of "2011" and then link to a cvterm table with cvterm.name "input_year"

[2017-11-22 14:24] bradfordcondon commented on #190
Great, thank you!

[2017-11-22 15:59] bradfordcondon commented on #185
CVs and CVterm: [Take a look at the Chado CV module for some background help](http://gmod.org/wiki/Chado_CV_Module).

Close, but no.  The **biomaterialprop**.value is 2011.  The biomaterialprop links to the biomaterial via the biomaterialprop.biomaterial_id column, and to the CVterm via biomaterialprop.type_id (which is the cvterm id).
cvterm.name is year.  Not sure where you are getting input_yea

[2017-11-22 17:54] btski commented on #185
Thanks for that detailed explanation @bradfordcondon.

I was under the impression that cvterm and cv were basically redundant information where cvterm was human assigned and cv was linked to an established ontology. It makes more sense that cv describes the source of the ontology and cvterm describes the ontology details.

I felt that the secondary accession would work best within the dbxref table

[2017-11-22 18:43] bradfordcondon commented on #185
OK great so you've got 2 sets of features, the transcript and the derived polypeptide.  Our site does the same thing.

Would it work to include the frameshift info as featureprops?  We do this with SSRs: for example, https://hardwoodgenomics.org/feature/WO454_contig12027_v2?pane=predicted_ssr  .  In this example each featureprop has the key = > value pair of for example SSR start => 23

[2017-11-22 19:03] btski commented on #185
It seems a bit strange to house the start/end points of polypeptides and corresponding frameshift locations in separate tables, but I agree that's probably the best way to categorize the data within the Chado schema. I can always reassemble the locations in a more meaningful way after performing an SQL query. To demonstrate my interpretation of your suggestion with an example:
ORF1ab coding range

[2017-11-22 19:29] bradfordcondon commented on #185
Apologies for not being in a viral frame of mind.

I'd definitely have the parent feature be the RNA.  You can then associate multiple polypeptide sequences with that parent RNA feature.  You want to indicate where the frameshift is occurring somehow.

I'm not sure why you cant say 192-12073 is the coding range.  You could then add a featureprop where the cvterm = frameshift 2x read (hopefully a l

[2017-11-22 19:57] btski commented on #185
I think I should be able to represent each frameshift as a single featureprop value. I just need to find a character to separate the numeric values for parsing into a more legible format on query. Not sure what the character restrictions would be (seems to permit numbers/letters but perhaps not special characters).

Last question: Would it be feasible to consolidate all data into a tab delimited f

[2017-11-22 20:03] bradfordcondon commented on #185
Either approach should be possible.  I haven't seen your delimited data but I would probably load in the fasta first and the metadata after via the bulk loader. So...

* Load all features using the Chado FASTA loader.
* Load additional annotations using the bulk loader.

That way you can keep the data you are importing via the bulk loader more forward as TSV/CSV.  (which I guess you can do with se

[2017-11-22 20:19] btski commented on #185
Thanks for the suggestion. I'll try using the two separate file formats to preserve file readability.

[2017-11-22 20:25] bradfordcondon commented on #185
No problem.  Good luck testing your site out, feel free to reach out again here or on Slack

[2017-11-23 07:17] spficklin opened #196 "EDAM ontology"
We use so many terms from the EDAM ontology that we should probably consider loading it with the install of Tripal.

http://edamontology.org/EDAM.obo

[2017-11-24 15:00] abretaud opened #197 "Undefined function drush_tripal_trp_run_jobs_install()"
Hi,
It looks like https://github.com/tripal/tripal/commit/2f21625b83d223ec2d562a669dea2d794a96fb00 broke something in the chado preparing mechanism, I get this error when my docker starts:

[code]

In the commit, a call to drush_tripal_trp_run_jobs_install() [was added](https://github.com/tripal/tripal/commit/2f21625b83d223ec2d562a669dea2d794a96fb00#diff-10418dd263a5aa72a8da32c41b29e4f9R315) but t

[2017-11-27 14:47] bradfordcondon commented on #167
Hi Stephen,
Thanks for your response on this.  To be honest I wasn't aware of the linker tables.  It sounds like the advantage I gain with ease of implementation is lost by storing the data outside of Tripal.
I'll try implementing the relationships this way.

[2017-11-27 14:47] #167 closed, assigned to nobody

[2017-11-27 15:19] shawnawsu commented on #179
Hi @abretaud ,

Sorry for the delay. The new drush commands for tripal are now available in the 7.x-3.x branch. Can you pull and test if they work for your docker setup process?

Thanks!
Shawna

[2017-11-27 15:20] #33 closed, assigned to shawnawsu

[2017-11-27 15:22] shawnawsu commented on #89
I am going to close this issue out and if it crops up again as problematic we can reopen or start a new ticket.

[2017-11-27 15:22] #89 closed, assigned to shawnawsu

[2017-11-27 15:24] shawnawsu commented on #95
We've moved this into an install drush command. We can build out different install drush commands as needed. So I am going to close this out and we can open single tickets for each new drush command we want to create.

[2017-11-27 15:24] #95 closed, assigned to shawnawsu

[2017-11-27 15:36] shawnawsu commented on #197
I must have accidentally deleted that while I was cleaning up the new drush commands I put in. I will get a fix for this out today.

[2017-11-27 16:00] shawnawsu commented on #197
Hi @abretaud ,

I replaced that drush command. Please let me know if it's working for you.

Thanks!
Shawna

[2017-11-28 14:38] abretaud commented on #179
Cool, thanks!
Looking at the code, the `trp-prepare-chado` command will be perfect (I haven't tested it yet though)

For `trp-set-permissions`, the code I use is not prompting for the db credentials nor using pg_query (see https://github.com/erasche/docker-tripal/blob/v3.x/tripal_install.drush.inc). Do you think it would be possible for you to to skip this prompt (it is needed for me as everything

[2017-11-28 16:35] btski opened #198 "Bulk loader bug"
I've noticed a strange bug with the bulk loader (Tripal v3). It seems to occur after I've deleted a record insertion to a Chado table (perhaps in the process creating a link to a non-existing/removed record). The resulting bug is found when a new record/field is created. The new record/field will automatically be assigned a used Unique Record Name, which is normally empty by default. If you fail t

[2017-11-28 22:21] btski opened #199 "Errors using bulk loader"
#I'm trying to load some tab delimited text files using two different bulk loader templates. I encounter the same errors for both:

* Notice: Use of undefined constant STDOUT - assumed 'STDOUT' in tripal_bulk_loader_progress_bar() (line 1094 of /var/www/html/sites/all/modules/tripal/tripal_bulk_loader/includes/tripal_bulk_loader.loader.inc).
* Warning: fputs() expects parameter 1 to be resource, s

[2017-11-29 14:12] bradfordcondon opened #200 "Tripal.chado.cv.api inserts into undefined table"
### Error
I'm trying to get tripal analysis expression to install on tripal 3 with a clean bill of health, and i have the following error:

[code]

Note this is using Ming's docker as a base, which is i believe the quick, pre-install of tripal 3 in the .info site.

### Proposed cause and solution
the tripal 3 chado.cv function `tripal_set_default_cv` deletes and inserts into `tripal_cv_defaults`.

[2017-12-01 16:44] abretaud opened #202 "API to create organism, analysis, ..."
Hi,
I'm working on porting python-tripal to tripal3. I need to create new organisms (or analysis, ...) using the API.
With tripal2, I was using the Services module which exposed CRUD methods for nodes.
Now that organisms are no longer nodes in tripal3, I wonder how to create them programmatically.

Is there in the Tripal code a magic function like tripal_add_organism which would create the entity

[2017-12-01 18:57] dsenalik opened #203 ".- should be .= in tripal_core.chado_nodes.api.inc"
tripal/legacy/tripal_core/api/tripal_core.chado_nodes.api.inc
Error on line 886
$query .- " ORDER BY " . $base_table_id;
should be
$query .= " ORDER BY " . $base_table_id;

This typo generates an error of the form:
Sync'ing feature records.  A non-numeric value encountered tripal_core.chado_nodes.api.inc:886

[2017-12-01 20:16] btski commented on #199
Still haven't been able to troubleshoot a problem. I've tried deconstructing the bulk load template to bare minimum (dbxref and db tables) and get the same errors. File inputs seem fine.

My reduced template:
[{"table":"dbxref","record_id":"dbxref_swinedb","mode":"insert","fields":[{"type":"table field","title":"accession","field":"accession","required":0,"spreadsheet column":"1","exposed":0,"expo

[2017-12-01 20:31] btski commented on #199
It seems like the first two errors are code based and prompt the third error (a drush command for returning an error message). I'll try using a bulk load template that's worked for me in the past to see if the errors persist. I might also try creating a fresh Tripal instance. Any other suggestions appreciated!

[2017-12-01 20:31] shawnawsu commented on #203
Hi @dsenalik ,

Are you working on a tripal site that has upgraded from v2 to v3?

Thanks,
Shawna

[2017-12-01 20:33] dsenalik commented on #203
It is a copy of the CottonGen template from the MainLab group, but I see
the same error in the code on GitHub.
version = 7.x-2.1
Doug

On 12/01/2017 02:31 PM, Shawna wrote:

--
Doug Senalik
USDA ARS Vegetable Crops Research Unit
University of Wisconsin-Madison
1575 Linden Dr.
Madison, Wisconsin 53706
dsenalik@facstaff.wisc.edu
Office: 608-262-7407  Fax: 608-262-4743

[2017-12-01 20:46] shawnawsu commented on #202
HI @abretaud ,

Just so I understand, you're asking about creating new organisms (entity) when the organism content type (bundle) already exists?

If you are looking to do entities have you looked at using the tripal.importer.api? That will load your info then you could use the tripal.entities.api to load them.

Thanks,
Shawna

[2017-12-01 20:50] shawnawsu commented on #199
Hi @btski,

I'm just looking at this now, it might take me a little while to dig in but the errors look like they are only related to showing the progress bar. Have you tried commenting out lines 1088 to 1138?  That might allow you to load the files while we sort out the problem.

Thanks,
Shawna

[2017-12-01 22:04] btski commented on #199
After some additional testing, my other templates (to custom tables, which I am familiar with querying) produce the same error message but generally work. I've seen some odd behavior where only the first line in a document is read in (still trying to figure that one out). I'll try to search through the default chado tables via terminal to see if my templates added anything. I'm still getting used

[2017-12-02 09:26] abretaud commented on #202
Hi

Yes that's it!

Yes I know about the new importer mechanism, I use it now for loading fasta, gff, blast, interpro and go.
I didn't want (but maybe I'm wrong!) to use it for organism-like entities because I was looking for a more lightweight way to create them, without creating a job.
I've looked at tripal.entities.api but it's not clear to me how I can use it :/

Anthony

[2017-12-02 23:26] spficklin opened #204 "Issue Creating Map Content Type"
When creating a content type using the featuremap table there is no type_id column.  This throws off the form. It doesn't automatically provide the ability to use the featuremapprop table.  The user is forced to selected the unittype_id field, then select '--None--' to get the property elements to appear.

[2017-12-03 04:32] spficklin opened #205 "Views "Contains Filter" for Tripal content types isn't working"
This is visible on the 3.x demo site on the Tripal.info site.

[2017-12-04 13:58] shawnawsu commented on #203
Hi @dsenalik ,

@chunhuaicheng fixed this for you over the weekend.  Let us know if you run into any other problems.

Thanks,
Shawna

[2017-12-04 13:58] #203 closed, assigned to nobody

[2017-12-04 14:03] shawnawsu opened #206 "Remove function tripal_set_default_cv from tripal_chado.cv.api.inc"
Per the conversation in the closed pull request, https://github.com/tripal/tripal/pull/201, we need to remove function tripal_set_default_cv (line 1617 of tripal/trupal_chado/api/modules/tripal_chado.cv.api.inc) as it's no longer used and we do not want to continue with the use of the tripal_cv_defaults table.

[2017-12-04 14:07] bradfordcondon commented on #200
consensus is that this method is deprecated in Tripal 3.  So rather than defining the schema, `tripal-set_default_cv` should be deprecated.

[2017-12-04 14:08] bradfordcondon commented on #206
note #200 duplicate issue , I'll just close that one

[2017-12-04 14:08] bradfordcondon commented on #200
duplicate issue with #206

[2017-12-04 14:08] #200 closed, assigned to nobody

[2017-12-04 17:27] spficklin commented on #206
Yes, this should be removed the Tripal v3 but it should get moved back to the Legacy API for backwards compatibility.

[2017-12-04 20:00] spficklin commented on #202
Hi Anthony,

This is a very good question.  There is currently no API function to create organisms programatically.  We need to do this.  Technically, you can do this now by creating an entity object programmatically.   For this you create a new entity instance and as long as you add the fields with appropriate values you can save the entity and the Tripal code will try to do the insert. It will w

[2017-12-05 02:13] ghost opened #207 "Just some suggestions about PHP 5.5+"
I checked the code and I realized that half of it is object-oriented while another half is structural code. I think the code would be more coherent if you'd use only a single paradigm.

Includes in structural code could be totally replaced with [`use` statements](http://php.net/manual/en/language.namespaces.importing.php) and [autoloading](http://php.net/manual/en/language.oop5.autoload.php) and i

[2017-12-05 02:16] ghost commented on #207
Hmm I might be wrong and this kind of structure is required because of Drupal.