[2018-11-06 17:58] almasaeed2010 commented on #588
If we want to steer clear from global variables we could instead use `drupal_static()`.

Setting the active job:
[code]

Retrieving the job:
[code]

This guarantees that the object is contained within the process and that it's automatically destroyed by the end of each job even when fatal errors occur (unlike `variable_set()`). This will also work when running jobs in parallel since each process h

[2018-11-07 13:11] almasaeed2010 commented on #665
For the record: using PHP 7.1 and the solution @laceysanderson linked to did not resolve the error for me.

[2018-11-07 13:46] bradfordcondon commented on #733
hi @kyrenya was the doc i linked helpful?  I had to wait a day or two for the kEGG annotation job to finish running for teh citrus demo data, but now that it has I can try and get the "official" guide out this week.  I'll post the draft here for you so you wont have to wait for the PR to get accepted.

[2018-11-07 13:51] bradfordcondon commented on #732
Hi all,

I'd really like some input from the community.

Because my first attempt tried to include all annotations, properties, coordinate info, and sequences, the result is quite cluttered i fear.
![screen shot 2018-11-06 at 5 11 01 pm](https://user-images.githubusercontent.com/7063154/48135087-e4a0ff80-e269-11e8-9e58-0d14135c80a3.png)
I like having the collapsible fieldset: on that screen you've

[2018-11-07 14:30] almasaeed2010 commented on #665
Running @bradfordcondon's http request returns the following for me:

[code]

[2018-11-07 14:45] mdhar1980 commented on #731
Hi, Bradford, thanks for the response -- and sorry for the delay on my end.

It seems that Chado may still be installed from the first time: I was able to add the controlled vocabularies. On the Install Chado Schema page, it does currently list 1.2 as installed.

And I see your edit: By install Chado, I just mean what the tutorial says: "Next, we must next install Chado. In the web browser, naviga

[2018-11-07 14:56] laceysanderson commented on #732
What about going the route the blast module did for blast results? That way you would have a table with each child mRNA (PAC:18136223, 224, etc) including name, id, type, location with an arrow on each row that can expand a hidden panel to show the sub-features?

For example, the first screenshot shows a mock-up when everything is collapsed and the second shows the first mRNA expanded.

**Collapse

[2018-11-07 15:07] bradfordcondon commented on #665
@almasaeed2010 we dont have your error when running the importer in this thread, can you remind me is it identical to laceys?

[2018-11-07 15:08] almasaeed2010 commented on #665
This is the error I am currently getting:

[code]

[2018-11-07 15:09] almasaeed2010 commented on #665
So the ontology is different it seems like.

[2018-11-07 15:11] bradfordcondon commented on #665
can you please try running the query for the ontology term yours is failing to find instead of the BFO one?  so CHEBI:25248 ?

[2018-11-07 15:41] bradfordcondon commented on #665
ok we've deduced that abdullahs error is ad ifferent one.  his importer runs for a while.  it is caused from getting a `response` but with `drupal_json_decode($response->data)` returning null.  so we can add an additional check, just prior to looking for an error:

[code]

the question remains if we should continue or exit in this case.  I suspect we might want to exit since a weird response more

[2018-11-07 17:30] bradfordcondon commented on #680
OK, new issue, using the branch for PR #707 , confirmed by myself and @almasaeed2010

[code]

Tjhis term is pretty clearly some problem with the PO and/or the TO: heres the term page
https://www.ebi.ac.uk/ols/ontologies/to/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPO_0028006

question one: why the `?iri=`?  i dont have that in m other terms.
however, https://www.ebi.ac.uk/ols/ontologies/t

[2018-11-07 17:46] bradfordcondon commented on #680
ok, i added a much needed failsafe i think: (line 1752 of the importer)

[code]

Basically if our lookup failed we want to ignore the stanza.

[2018-11-07 19:49] bradfordcondon commented on #733
OK unfortunately the `tripal_analysis_kegg` module has an incompatibility with the final tripal 3 release.  Please don't try to use it until it's resolved.
https://github.com/tripal/tripal_analysis_kegg/issues/18

Apologies.

[2018-11-07 20:54] bradfordcondon commented on #712
ok, confirmed at http://tripal.test/admin/tripal/storage/chado/views-integration/export as well.  Thank you for reporting.

[2018-11-07 21:02] bradfordcondon commented on #712
`tripal_export_views_integration` is being called with the string `views-integration` in the query
[code]
I get this at

http://tripal.test/admin/tripal/storage/chado/views-integration/export

and any int for http://tripal.test/admin/tripal/storage/chado/views-integration/export/2, 3, 4, whatever you pass in.

I dont have any background info whatsoever here so i cant make sense of your fix, but il

[2018-11-07 21:06] bradfordcondon commented on #712
so to fix the problem @risharde has reported I think the answer is to update the `page argument` for the variable from .4 to 6 here:
https://github.com/tripal/tripal/blob/a2f3c1e3414011adfced99e98b15365326904792/tripal_chado_views/tripal_chado_views.module#L117-L125

but what about when no variable is passed:

https://github.com/tripal/tripal/blob/a2f3c1e3414011adfced99e98b15365326904792/tripal_ch

[2018-11-07 21:28] bradfordcondon commented on #407
do we actually want a unique term for each table?

Linker tables, for example, are a base type which has a term (featureloc), and then the linker field provides the second term (featurelocpub)

Also prop is a weird one. In that case, the field providing the cvterm is specifc for each prop, it isnt table-wide.

Base tables yeah we should get a term for each base table.

[2018-11-07 21:46] bradfordcondon commented on #642
after trying out the file field myself, i feel silly for this request.  It's SO easy to just create a file field for the analysis and upload it yourself when you create teh analysis.

I wish we had a bit more control over the file system (so that you could, say, organize the file system by organism) but other than that i think this feature isn't necessary given how well the file field works.

I'm

[2018-11-07 21:46] bradfordcondon commented on #642
/remind me in one week

[2018-11-07 21:47] bradfordcondon commented on #642
/remind me in one week

[2018-11-08 01:47] laceysanderson commented on #729
Thank you for reporting this @abretaud. The fix submitted by @bradfordcondon has been merged so this should be fixed in the most recent dev version.

[2018-11-08 01:47] #729 closed, assigned to nobody

[2018-11-08 02:01] laceysanderson commented on #712
I agree with @bradfordcondon fix and have confirmed it fixes the problem for me. Can you check the most recent dev version @risharde and see if it resolves the problem for you as well?

**Note: You will need to clear the cache after updating in order to see the change.**

/remind me in one week

[2018-11-08 02:46] #730 closed, assigned to nobody

[2018-11-08 02:47] bradfordcondon commented on #728
This question looks resolved to me. if thats not correct please let me know and ill reopen, thanks.

[2018-11-08 02:47] #728 closed, assigned to nobody

[2018-11-08 02:52] bradfordcondon commented on #672
ok, looks like your PR was merged, and i apologize for the confusion about the headers.  looks to me like we can close this, thanks lacey.

[2018-11-08 02:52] #672 closed, assigned to nobody

[2018-11-08 09:40] kyrenya commented on #733
oops, ok, I wait for news!  Same for rest of functional annotation modules? where should I look at for blast, interpro.. ?  Thanks again.

[2018-11-08 13:30] bradfordcondon commented on #733
hi @kyrenya
Those documents are in a PR but not merged yet.

I have built a beta version of said docuentation for you: you can find it here: https://tripal.readthedocs.io/en/689_tv3_ips/user_guide/example_genomics/func_annots.html

If you have any feedback, please leave it in https://github.com/tripal/tripal/issues/689 .

Thank you!

[2018-11-08 13:32] kyrenya commented on #733
that is super nice! thank you so much! I will keep you posted!

[2018-11-08 17:08] almasaeed2010 commented on #665
This now loads for me using @bradfordcondon's branch. There are however a couple of malformed terms:

[code]

[2018-11-08 18:06] spficklin opened #739 "OBO Loader missing support for default objects"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version:  N/A
* PostgreSQL Version: N/A
* PHP Version: N/A

### Issue description

The official OBO instructions indicate that there are several Typedef objects that are implied to exist in every OBO.  I'm not sure if our OBO importer is handling all of them correctly. It certainly deals with the ``is_a`` term, but here is

[2018-11-09 01:53] bradfordcondon commented on #723
Update:  I'm reaosnably certain this is from null values in the filters for fields that are date related.

ie:

<img width="1324" alt="screen shot 2018-11-08 at 8 51 16 pm" src="https://user-images.githubusercontent.com/7063154/48238195-0f897180-e398-11e8-97d1-13e365536a65.png">

Looking at these fields, i woudnt even know what sort of values to input to filter by unless i looked in the db.

Furth

[2018-11-09 02:04] bradfordcondon commented on #723
So i can resolve these errors by just skipping the validation for the date fields, by adding this check to the start of the field loop building the filters:

[code]

https://github.com/tripal/tripal/blob/01bb492049e6286dbf954c3da84f7484fee48ed5/tripal_chado/includes/tripal_chado.publish.inc#L54-L57

Anyone have input?  Does it make sense to filter by date?  It might, even though the timestamp is d

[2018-11-09 02:29] bradfordcondon commented on #272
i got bored and looked into this tonight. (well i was looking for easy issues to close)

`['years_back']['#maxsize']` defaults to 10, as does `years_forward` in the date module.  So i actually dont see how this gets translated into +/- 3 :|

[2018-11-09 10:06] colthom commented on #732
Hello !

Good idea to take on this problem ! We struggle too with scattered information between gene, mRNA, polypeptide...

As annotations (annotated terms, cross references, relationships...) can be quite extensive, maybe it would be better to leave them on a specific page ?

Would something like that, for exemple, be more informative ?
![proposition_annotations](https://user-images.githubusercon

[2018-11-09 11:36] kyrenya commented on #677
13 days uploading gff file.. and it still didnt finish.. any help or comments?

[2018-11-09 13:12] bradfordcondon commented on #732
hi  @colthom

thanks for the feedback.

This is pretty much the crux of the issue.  On the one hand, moving annoations, sequences, and properties of *child features* into the associated field makes a lot of sense.  On the other hand, it requires building some shared storage of child feature info (such as for an example an mview), and then extending the existing fields to iterate through these chil

[2018-11-09 13:19] bradfordcondon commented on #677
hi, no it isnt.  I'll download the data and check.

Is there any information in your logs?  Did you run via drush or cron?  if via drush can you share the terminal output?

[2018-11-09 13:45] kyrenya commented on #677
well, it didnt finish.. so basically what I've been seeing the last 13 days is this:
![image](https://user-images.githubusercontent.com/43243429/48265894-ae0fe400-e425-11e8-9c9d-ca7a52647f1d.png)
the numbers keep changing.. so I think its actually scanning the gff...

[2018-11-09 13:51] bradfordcondon commented on #677
You dont have features in your database named "XM_02404400.1" etc so it will fail and be slow.

BEFORE you load the GFF, you must load a FASTA file with the landmark featurse.  In this case, thats the genomic fasta file on the project page you linked:  ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/906/115/GCF_002906115.1_CorkOak1.0/GCF_002906115.1_CorkOak1.0_genomic.fna.gz

Load those features fi

[2018-11-09 13:52] kyrenya commented on #677
OK, I will try and let you know!
Thanks!

[2018-11-09 13:54] bradfordcondon commented on #677
i see this is exactly what stephen suggested above.

Can you share the output of the FASTA importer with us so we can verify it runs without error?

edit:

[code]

as stephen noted the genomic file is just missing *missing* these features.

Can you contact the people who created this dataset and ask about the missing features?   It's going to be slow because of the error logging, but theres no way

[2018-11-09 14:03] bradfordcondon commented on #677
OK here's my advice:

verify you have loaded the genomic scaffold file.  then, ALSO load the transcript FASTA file: ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/906/115/GCF_002906115.1_CorkOak1.0/GCF_002906115.1_CorkOak1.0_rna.fna.gz

Since these transcripts are getting reffed in a way that the GFF loader wants them pre-loaded.

If there are still transcripts giving you an error that it cant fin

[2018-11-09 14:04] kyrenya commented on #677
Oops, true story, sorry for that, at some point, I re-started this thing and looked again in how I did with the short files that worked fine following the docs order, I didnt thought ion the impact of the warnings for a huge file.

[2018-11-09 14:07] bradfordcondon commented on #677
typically if you are getting that "cant find landmark error" it means you forgot to load the reference FASTA file first and you should cancel the job, load the FASTA, and try again :)

[2018-11-09 14:33] kyrenya commented on #677
ok, just to be sure:

I'm chosing (loading the FASTA GCF_XX_genomic.fna)
sequencetype: region
method: update only
Namematch type UNIQUE NAME

Reg Exp for Unique name ^(\S*)

loading the GCF_XXX_rna.fna:

seqtype:  mRNA
method update only
namematch: name

the mRNA fasta entries look like:

roduct=putative leucine-rich repeat receptor-like serine/threonine-protein kinase At2g19230
] [transcript_id=X

[2018-11-09 14:36] bradfordcondon commented on #677
i think this is your problem.  Have you tried not providing a regexp?

[code]

by default (no regexp), this sequence will get loaded in as `NW_019805504.1` which is what you want.

Please ignore the mRNA for now, and reload the genomic regions fasta with no regexp.

THis is also incorrect, you need to set it to insert.  Update means it wont insert new features, which is what you want to do!

As I

[2018-11-09 14:38] kyrenya commented on #677
ok! its running! I'll paste the output as soon its done!

[2018-11-09 15:07] almasaeed2010 commented on #731
Hello @mdhar1980

I've encountered this issue before with Postgres. I think the fix is to adjust the settings to allow for more memory if your machine allows for it.

Which version of Postgresql do you use?

Thanks!

[2018-11-09 15:17] kyrenya commented on #677
done!
![image](https://user-images.githubusercontent.com/43243429/48270686-883d0c00-e432-11e8-961b-1a5e826ec084.png)

[2018-11-09 15:32] kyrenya commented on #677
true. Yes,  Update Only was ok when I uploaded  the gff before the fasta..  not the case now!  thx for noticing!

[2018-11-09 16:11] btski commented on #731
My interpretation was that he re-installed over an existing installation instead of following proper version update protocol or starting from a fresh instance. Note he's linked to instructions to install Tripal v2.x when Chado is already loaded. But I'm pretty confused and might be misunderstanding.

[2018-11-09 16:17] mdhar1980 commented on #731
Hi,
Yes, I was following the initial Tripal installation guide. We had to go back and install a different version of Tripal (before having done much else) because the patches didn't work with version 2.1. I did not realize that the previous Chado installation would still be there once Tripal 2.1 was removed. In any event, the re-install attempt of Chado did not proceed, so the previous version see

[2018-11-09 16:21] bradfordcondon commented on #731
while all that may be true, i agree with abdullah that if the problem we are discussing is "I am getting a `max_locks_per_transaction` error" then the solution is "adjust your postgres settings".

Have you resolved your issue with the old chado installation?  If so, and thats what we are discussing, should we close the issue?

put another way... you can please summarize your current status on this

[2018-11-09 16:23] mdhar1980 commented on #731
Agreed. Thanks for your help. I think the Chado situation is fine then. I'll close.

[2018-11-09 16:23] #731 closed, assigned to nobody

[2018-11-09 17:15] colthom commented on #732
Concerning the minimum informations to keep on annotations in the shared storage, are you thinking of a cvterm_id list or something like that ?

 I would have use of an information on the link between the annotation and the derived-feature (maybe a list of feature_cvterm_id, feature_dbxref_id, etc), in addition to the annotation itself. This way it's possible to retrieve properties or other linked

[2018-11-09 17:58] bradfordcondon commented on #732
Ideally it would be a nested structure of feature_ids.  So from the parent feature, you'd have children A and B (say, mrna) and then as keys each of their children C, D, E, (say, CDS), and so on.  As far as the minimum information in addition to that, i dont know.  probably just the IDs.  then each field (sequence, relationship, etc) is responsible for pulling the relevant child info in its load.

[2018-11-09 18:26] bradfordcondon opened #740 "Docs: exporting and importing field configurations with Drupal Features"
You can find the guide I wrote for myself to test the feature out and learn about the module here

https://www.bradfordcondon.com/2018-11-09-understanding_drupal_features/

In short, the module lets you configure your fields, their  display, etc, and then export them as simple modules which get enabled.  The tutorial I attach a file upload field (for a FASTA file) to analysis, put it in a tripal p

[2018-11-09 18:31] bradfordcondon opened #741 "ability to override fields being added disabled?"
I am hoping to use the Drupal Features module (Please see #740  ) to develop field configurations on a dev set and deploy on a live site (which i myself dont have access to).

There are two hurdles.  1) . bundle_ids may not be consistent across sites.  For now, I just suggest relabeling manually.  2) (**this issue**):  fields are imported disabled by default.
Consider the entire point of this Feat

[2018-11-09 19:01] bradfordcondon commented on #703
hi all,

this works **out of the box** with the [Field Permissions module](https://www.drupal.org/node/2802067)

In short:

* enable the module
* go to the bundle and click to edit the field
* choose custom permissions in the field settings
* you can choose if people can create, edit, or view the field values

![screen shot 2018-11-09 at 1 56 48 pm](https://user-images.githubusercontent.com/706315

[2018-11-09 20:21] laceysanderson commented on #740
I think this would be great in the developers guide!

[2018-11-09 20:39] bradfordcondon commented on #703
HQ guide for this is at:

https://tripal-hq.readthedocs.io/en/latest/setup/install.html#additional-module-installation

and
https://tripal-hq.readthedocs.io/en/latest/setup/field_permissions.html#field-specific-permissions

Might still be relevant to Tripal non-HQ users who want to hide certain fields from view?  IE lacey's use case she described?

Lacey if you want me to reopen this issue and sub

[2018-11-09 20:45] bradfordcondon commented on #740
ok thanks lacey, I'll look into porting it to RST.

[2018-11-09 20:52] bradfordcondon commented on #703
after discussing with @laceysanderson I am going propose the guide in tripal core instead, and link to it from tripal HQ.

reopening the issue to match the doc PR.

[2018-11-10 15:38] bradfordcondon commented on #734
Hmmm... so what I typically do is have the count query fetch ALL and the regular query fetch whats in the pagination.  This is indeed a much faster way to run the query than fetching all results and then counting them (since you only fetch the fields for whats in your pager).

Sure.  Or count being 0, i would think.  Which is what we attempt to do:

https://github.com/tripal/tripal/blob/5bcbff466b

[2018-11-10 23:57] bradfordcondon commented on #719
i just read that Drupal 7.61 officially supports PHP 7.2:  https://www.drupal.org/blog/the-end-of-php-5

[2018-11-11 13:28] bradfordcondon commented on #689
the blast and interpro guides have been merged into master, so i am removing the development branch guide i put up for your @kyrenya please use the guides on master:  https://tripal.readthedocs.io/en/latest/user_guide/example_genomics/func_annots.html?highlight=functional

[2018-11-11 17:29] laceysanderson commented on #741
I would also like this ability (attach fields enabled in the display by default). @shawnamspoor is this possible already?

[2018-11-11 17:32] laceysanderson commented on #239
Since Tripal is moving towards classes (as is the whole Drupal world), your approach @bradfordcondon is likely the better one :-) @spficklin what are your thoughts on this?

[2018-11-11 17:43] laceysanderson commented on #692
I created public "Tripal" google calendar here: https://calendar.google.com/calendar/embed?src=37ndpec8u9sav2ujf23m1888is%40group.calendar.google.com&ctz=America%2FRegina

**Thoughts about where we want to put it on tripal.info?** Maybe in a block on the frontpage and/or on it's own page?

Code to embed it for easy reference:
[code]

[2018-11-11 17:58] laceysanderson commented on #177
I think a setting on the custom table creation page would be the most intuitive. We should also allow this setting to be set programmatically of course for custom tables created by modules.

[2018-11-11 18:40] laceysanderson commented on #656
## Current Blurb
For context, this is what is currently on the front-page of Tripal.info

[2018-11-11 19:00] laceysanderson commented on #656
## My Suggestion:
Tripal is a toolkit for construction of online biological (genetics, genomics, breeding, etc), community database web portals, and is a member of the [GMOD family of tools](http://www.gmod.org/). Tripal is open-source (GNU General Public License version 2), allows for extensive customization and is backed by a helpful user community. Customization and extension of Tripal can be s

[2018-11-11 19:05] laceysanderson commented on #511
I'm concerned that no input is forthcoming and I feel the current publication page reflects badly on Tripal. Furthermore, due to the number of fields it is non-trivial to configure. I think my suggestions are very generic and more easily changed due to the grouping of properties/metadata. **Can we go with my suggestion for now @spficklin but be open to change it in the future?**

For easy readabil

[2018-11-11 19:20] bradfordcondon commented on #692
Probably a link in the topmost menu bar.

I dont know where it would make sense to put it on the front page, seems like we'd have to displace something to make room

[2018-11-11 20:30] kyrenya commented on #719
Already updated to 7.61 thanks! 👍

[2018-11-11 20:31] kyrenya commented on #689
Thanks I will!

[2018-11-11 21:03] laceysanderson commented on #344
I like the idea of accepting it via vote online (doodle poll with options agree/disagree) to ensure participation by everyone who wants to be involved (not just those at PAG). Then we can have our first meeting at PAG?

I like the scientific advisory board + PMC (project management committee) and agree with @ekcannon's summary although I consider the PMC a bit broader then just feature requests. T

[2018-11-11 21:26] laceysanderson commented on #402
I would like to put this to a pmc-vote:

### Proposition:
Replace [Extensions](http://tripal.info/extensions) menu item with a link to [Github search for Tripal tag](https://github.com/search?q=topic%3Atripal).

### Pros
- No maintenance needed for Tripal PMC.
- Helpful to users by providing full details, README's downloads, etc. for each module
- Nice for module developers since they just need to

[2018-11-11 21:35] laceysanderson commented on #540
@spficklin can we add a this to the agenda for the next users call (Nov 13)?

[2018-11-11 21:38] laceysanderson commented on #540
Another idea is to implement a "collaboration-wanted" tag on GitHub and encourage groups wanting to collaborate to tag their github project with it. This way we could add a link in the developers guide showing an updated list of people open to collaboration.

This idea goes hand-in-hand with my proposal to add a collaboration page to the developers guide with any advice, known pitfalls, etc.

[2018-11-11 21:39] laceysanderson commented on #561
@risharde are you still experiencing this? Can you provide us with some examples of pages where you see this appear so we can confirm?

[2018-11-11 21:55] laceysanderson commented on #367
How did you end up solving this @bradfordcondon (hoping you did)?

[2018-11-11 22:36] bradfordcondon commented on #719
does it resolve the problems you reported ie https://github.com/tripal/tripal/issues/719#issuecomment-432655610 ?

[2018-11-11 22:44] bradfordcondon commented on #540
We have a "discuss at next meeting" tag :)

[2018-11-12 09:49] kyrenya commented on #719
uhmm... the warnings still there
![image](https://user-images.githubusercontent.com/43243429/48339489-42fe2180-e660-11e8-92d6-5213ed6c5e2d.png)

[2018-11-12 10:02] kyrenya commented on #677
Hi again! Shall I upload the mrna file now? for easier reading.. I repeat here my doubts concerning the upload of htis file:

loading the GCF_XXX_rna_from_genomic.fna:

seqtype: mRNA
method: update only
namematch: name

the mRNA fasta entries look like:

    lcl|NW_019805508.1_mrna_XM_024058643.1_2 [gene=LOC112022923] [db_xref=GeneID:112022923] [p
    roduct=putative leucine-rich repeat receptor-l

[2018-11-12 10:12] ekcannon commented on #402
Not on PMC, but I agree with this proposal, in part because keeping descriptions and documentation up to date in two places is challenging. It's better to put these efforts into GitHub only.

[2018-11-12 13:58] bradfordcondon commented on #677
im still confused why we would need to load the mRNA to get the GFF to load.  I'm goign to try loading just the genomic and then the GFF myself and see if i get errors.

[2018-11-12 14:00] bradfordcondon opened #744 "all bundles in "other" ?"
## BUG/ERROR report

### System information

* Tripal Version: latest master
* Drupal Version: 7.1

We had bundles grouped by type to make the bundle page not overwhelming.  Somehow on my dev site, I got this:

![screen shot 2018-11-12 at 8 58 56 am](https://user-images.githubusercontent.com/7063154/48351848-535ece00-e659-11e8-99d5-35a5b0e8ff17.png)

So, all content is in "other", defeating the pu

[2018-11-12 14:13] mboudet commented on #734
Do you mean in  `$this->count` ? I think the variable is set to True no matter what, since we called `count()` on the query. [According to the docs](https://api.drupal.org/api/drupal/includes%21entity.inc/function/EntityFieldQuery%3A%3Acount/7.x), this variable is just set to indicate it's a count query. (Unless it's modified later?)

As far as I know, they are located in /data_search/*entity_name

[2018-11-12 14:24] bradfordcondon commented on #734
oh its checking the query type not the count 😆 nevermind.  we can do what you propose, check if the key exists/check if there are results before looking for the key.... are you interested in making the PR yourself?

[2018-11-12 14:38] bradfordcondon commented on #677
After running myself, it looks like the GFF 99% loads no problem assuming you just load the genomic features fasta **without a regexp**.

You get errors for perhaps 10 landmark features.  You get these errors because those features were aligned to this target feature.  IE, it references a transcript that hasnt been loaded yet.

If you want the warning to go away you will need to load the mRNA feat

[2018-11-12 14:55] bradfordcondon commented on #677
I can confirm that loading the mRNA file AS IS (without a regexp) resolves the missing features warning.

[2018-11-12 14:59] kyrenya commented on #677
ok! I'm gonna go for it and I'll let you know!
Thanks so much!!

[2018-11-12 15:07] mboudet commented on #734
Sure, I'll add it soon.

[2018-11-12 15:18] kyrenya commented on #677
could be one of my problems that I was actually using the XXXX_rna_from_genomic.fna file instead of the rna.fna?

[2018-11-12 15:21] bradfordcondon commented on #677
yep.

the file i linked (`GCF_002906115.1_CorkOak1.0_rna`) has hte headers so they'll be loaded correctly automatically without a regexp:

[code]

heres the link again

ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/002/906/115/GCF_002906115.1_CorkOak1.0/GCF_002906115.1_CorkOak1.0_rna.fna.gz

[2018-11-12 15:22] kyrenya commented on #677
everything starts to make a lot of sense...  :S

[2018-11-12 15:54] kyrenya commented on #677
ok I used:

Sequence type: mRNA
Method: Insert and Update
Name Match type: Unique Name

Found 65969 sequences,  its currently running.. 54% done.  I think its going fine. If all goes good, then its just uploading the gff with no extra options, right? as soon its done I will let you know.
Thanks for all the support.

[2018-11-12 16:47] kyrenya commented on #677
uhmm.. my gff upload job is hanged like this:
![image](https://user-images.githubusercontent.com/43243429/48362014-9ab97e80-e69a-11e8-92e0-0c6b5f28ce68.png)

[2018-11-12 17:00] kyrenya commented on #677
forget it! started uploading, its just it took 10 minutes to show the first line showing the 1.oo % done :)

[2018-11-12 17:16] bradfordcondon commented on #677
yes that GFF file is much slower than others i've tried.  I'd assume its because it has so much cross-linking info.

Let me know if the load isnt successful.  Otehrwise I'll close this issue as resolved in a couple of days.

/remind me in 48 hours

[2018-11-12 17:33] kyrenya commented on #677
yes sure, I will let you know! Thanks!

[2018-11-12 20:38] bradfordcondon commented on #461
I feel like we've got a good path forward with the Python API plan, so I'm closing this.

[2018-11-12 20:38] #461 closed, assigned to nobody

[2018-11-13 14:25] bradfordcondon commented on #734
thanks for the PR! I'm leaving the issue open because i want to add some documentation for where the search is located since this is the second time its come up and i couldnt find it.

[2018-11-13 15:47] bradfordcondon commented on #740
merged, thanks for the reviews

[2018-11-13 15:56] spficklin opened #747 "New class needed for MViews"
We have already converted many API's over to classes.  To cotinue with this, we should consider creating a class for working with materialized views.

[2018-11-13 15:56] bradfordcondon commented on #734
ok never again will i have to ask for help finding the default search views!  Thanks for reporting the issue and submitting the fix @mboudet

[2018-11-13 15:56] #734 closed, assigned to nobody

[2018-11-13 15:57] spficklin opened #748 "New class for Custom Tables"
We have already converted many API's over to classes. To cotinue with this, we should consider creating a class for working with custom tables.  Perhaps this should be combined with an MViews class?  See issue #747

[2018-11-13 22:35] bradfordcondon commented on #402
@spficklin suggested having an extensions module section on the RTD site.
Here's what such a page would look like:

![screen shot 2018-11-13 at 5 22 46 pm](https://user-images.githubusercontent.com/7063154/48447695-98265a00-e76a-11e8-8ab1-7efdb0e8307b.png)

https://github.com/tripal/tripal/blob/docs_extensions_page/docs/extensions.rst

(I'll build on RTD once it refreshes and update this post...)

[2018-11-14 00:28] spficklin commented on #740
Perhaps we should move this over to the User's Guide? Perhaps we could create a new section for topics related to managing a development and production site.  There really isn't any coding required to export field setups, and it's something a site developer would want, but the site developer may not be a coder and would still want to do this.

[2018-11-14 00:36] spficklin commented on #677
Thanks @bradfordcondon for jumping in while I was away.

[2018-11-14 00:40] spficklin commented on #744
Was this dev site updated from a pervious version of the 7.x-3.x branch?

[2018-11-14 00:46] spficklin commented on #719
I can confirm that I get those same errors using PHP 7.2 with Drupal 7.61.  I think there must still be an issue with full support of PHP 7.2 and Drupal.    However, I have been using PHP 7.2 with Drupal and Tripal for many months and aside from the annoying warning messages it works just fine.

[2018-11-14 00:47] spficklin commented on #540
Report:  we ran out of time to discuss more on this in the 11/13/2018 meeting.

[2018-11-14 00:48] spficklin commented on #367
@laceysanderson we have fields with Tripal that do this. Are you needing this functionality?  If you can describe what you are wanting to do I think I can point you at an example.

[2018-11-14 00:54] spficklin commented on #344
This topic was supposed to come up in our 11/13/2018 User's meeting.  We ran out of time.

I also like Science Advisory Committee as a name.  I agree with @mestato starting guidelines.   Here's my suggestion to get started.  How about we request volunteers to serve on the first Interim SAC and it will be the job of the SAC + PMC to set out the guidelines for the SAC.  This way we get something sta

[2018-11-14 00:59] spficklin commented on #692
@shawnamspoor is working on the upgrade to Drupal 8 for our tripal.info site.    @shawnamspoor do you know if it's possible to show upcoming events from our Google calendar on the Tripal home page?

[2018-11-14 01:00] spficklin commented on #692
Oh, I just noticed @laceysanderson provided an <iframe> example.

[2018-11-14 01:00] spficklin commented on #692
I think a block under the "Sites Using Tripal" would be a good place if there's room.

[2018-11-14 01:06] spficklin commented on #511
Just to clarify, you think the default page for publications is bad?  Here's what the demo site shows:

http://demo.tripal.info/3.x/bio_data/667

And it's what I get on my setup as well.

[2018-11-14 01:10] spficklin commented on #656
Yes, I do like the text.  It's better.   One thing I'm wondering if we should make it clear that Tripal is meant for folks who really want to engage their research communities.   It really is mean for "Enterprise" level community databases, and it may be overkill for someone who just wants to put up downloadable FASTA files and leave it at that (although that's not out of the question).

Alternati

[2018-11-14 01:20] spficklin commented on #239
is it really a burden for users to select fields?  BioMart allows this.  By default, when creating collections using Drupal Views, the fields in the view are pre-selected and the user only need add fields if they want more details.  Also, the supported file type for each field is listed next to the field.  See screenshot:

![image](https://user-images.githubusercontent.com/1719352/48453335-ceaea58

[2018-11-14 01:49] laceysanderson commented on #656
I like the idea of an about page! What about instead of the paragraph on the front-page, we do a word-cloud?

PS. On the note of "Enterprise" level, I don't want to scare away the smaller groups like I was when I started ;-p But you're right about it being for "folks who really want to engage their research communities" :-)

[2018-11-14 02:05] laceysanderson commented on #511
yes 😬  I feel that it's nothing like what users/admin expect out of a publication page... but that very minor changes would fix it.

The biggest things are
- the abstract in the table --you would never see that on a journal website
- 90% of the meta data is excluded from the display (disabled) by default. This hurts my meta-data loving heart and is a pain to remedy since there are so many fields a

[2018-11-14 02:31] laceysanderson commented on #402
I Really like the RTD idea but also still feel attached to the ease of the github link. Can we compromise by having both?

I would be tempted to have something very similar to @bradfordcondon's mockup requiring module maintainers to include the general description, repo link and docs link (could just link to readme if that's all they have) and then have a final section like "Explore Github" which

[2018-11-14 03:43] bradfordcondon commented on #239
I think the elasticsearch collection form could be improved in this regard, i don't think we displayed the file information OR the field information.  Still, you can have a LOT of fields.  And an end user is likely to not know what a large number of them are.   But more importantly

the user I have in mind is *not* super tech literate, so yes it is a pretty big deal imo to bring up a UI of all tho

[2018-11-14 03:50] bradfordcondon commented on #744
If we want i can figure out the exact date i built the site, looks like mid October.

I just updated, yesterday, a site from tripal 2 to tripal 3 current dev branch.  I only have one bin for Tripal content: other. So its definitely an issue on the current master.

[2018-11-14 03:51] bradfordcondon commented on #677
no problem.  @kyrenya any update on your job?

[2018-11-14 03:55] bradfordcondon opened #749 "request: support field permissions module in web services"
## Feature Request/Discussion

Background #742

I wrote a guide demonstrating field-level permissions implemented ia the drupal field_permissions module, but web services dont support them.  If you make a field admin only, two things happen:
* admin only fields show up in web service requests
* You get this warning:

[code]

## resolution
At first glance, looks easy to resolve the warning by addin

[2018-11-14 09:20] kyrenya commented on #677
still running! I think still needs a couple of days maybe.. its at approx 30%

[2018-11-14 09:20] kyrenya commented on #719
I also by now have only those warnings, if I have major issues I will let you know thanks :)

[2018-11-14 11:09] ekcannon commented on #402
RTD? It's kind to spell out acronyms. ;-)

[2018-11-14 12:44] bradfordcondon commented on #402
oops sorry ethy :P . read the docs, its the documentation packaged with the code that gets built at https://tripal.readthedocs.io/en/latest/

[2018-11-14 13:26] bradfordcondon commented on #367
the snippet i wrote above works, but like i said i wasn't sure if i was doing it the "right" way or not.

I also wasnt setting the cvterm in the field definition which I needed to do, but  I think if I had time to revisit that, wouldnt be too hard to get that done...

[2018-11-14 16:06] mboudet commented on #727
@laceysanderson I updated the first post for clarity, I actually have 3 separate issues (though some might be from drupal..).

[2018-11-14 16:46] spficklin commented on #402
I vote to include both the short description + link to doc + link to module and the link to all modules with the tripal tag in GitHub.

[2018-11-14 16:49] spficklin commented on #719
Sometimes those warnings will appear for your users which is not great.  You can hide them by going to Admininstration > Configuration > Development > Logging and errors and clicking the "None" radio button.  Users will still see Drupal warnings/errors but these PHP warnings should go away.  It also states "It is recommended that sites running on production environments do not display any errors".

[2018-11-14 16:49] #719 closed, assigned to nobody

[2018-11-14 16:51] spficklin commented on #677
Just curious... how long has it been running so far?

[2018-11-14 16:53] spficklin commented on #744
For the sake of testing can you try to prepare Chado again and see if that fixes it?

[2018-11-14 16:57] spficklin commented on #239
So, the fields do have descriptions for what they are and I don't think it requires someone tech savy.  But I do recognize that an unfamiliar interface may not be intuitive to a new user.   To play devil's advocate, is the extra code development needed to help with this worth it, or would a link to a tutorial on the page be sufficient for now?

[2018-11-14 16:59] bradfordcondon commented on #703
thanks to abdullah lacey and stephen for the thoughtful review.  merged.

[2018-11-14 16:59] #703 closed, assigned to bradfordcondon

[2018-11-14 17:00] spficklin commented on #511
I honestly don't see a problem with the abstract in the table.  I don't find it ugly.   But if you feel strongly about it I'm not opposed to moving it out.  If you think we should include more of the metadata I think a properties tab would be good for all of that other "stuff".

[2018-11-14 17:01] laceysanderson commented on #402
As implied above, I also vote for both the Readthedocs (RTD) implementation while keeping the link to the Github topic for module maintainers who don't create the PR.

Specifically, the RTD implementation should have

(same as Stephen)

[2018-11-14 17:04] bradfordcondon commented on #744
Logs below.  All content still listed under Other in "Add Tripal Content" (see screenshot).

Looks like i might have to delete the bundles and re-add them for this to be a fair test, i'll try that for the bundles I dont use...

![screen shot 2018-11-14 at 12 04 02 pm](https://user-images.githubusercontent.com/7063154/48498990-6f06d780-e805-11e8-8191-e3ef6b30b862.png)

[code]

[2018-11-14 17:04] spficklin commented on #656
Agreed...

I'm not a fan of word clouds....

@shawnamspoor any ideas?

[2018-11-14 17:12] spficklin commented on #732
Here's an idea.... what if instead of trying to display "nested" data on a single page.  What if the nesting occured in the sidebar?  If for instanace, we could add an indent for child features, and clicking on a child feature would open up it's list of fields which a user could click on and have brought up on the page.

This solution, would require, however, that every child that you wanted in th

[2018-11-14 17:13] bradfordcondon commented on #402
i built that branch (420_rtd) on the live readhtedocs.  you can preview it here
https://tripal.readthedocs.io/en/402_rtd_module_list/extensions.html

I have a commented template at the start.  Just edit it to however you'd like I'm ok with what you all specified.

[2018-11-14 17:18] spficklin commented on #744
I don't think you need to remove bundles, although I suspect that may do it.  There is a function for automatically organizing these... I need to dig a bit to find it.

[2018-11-14 17:19] spficklin commented on #744
I like it we need to add the Tripal Galaxy module in there somewhere. It has RTD documentation too.

So that list of modules just shows how productive you and @almasaeed2010 have been!

[2018-11-14 17:32] laceysanderson commented on #402
Great, thanks @bradfordcondon! I'll work on including all my modules on that branch as well and update the template to that agreed here.

[2018-11-14 17:36] kyrenya commented on #677
HI! there's a screenshot:
![image](https://user-images.githubusercontent.com/43243429/48500878-c328b080-e833-11e8-9305-6ca912b28eaf.png)

one day and 3 hours approx,  34%.

[2018-11-14 17:40] kyrenya commented on #719
cool, good to know! thx!

[2018-11-14 18:00] spficklin opened #750 "Docs: Port documentation from tripal.info to readthedocs"
We have many very old documents on the Tripal.info site that are of the content type Document.  I think they need to be removed or moved into the User's Guide.    @laceysanderson would you mind taking a look at those when you have a chance and say what you think?

[2018-11-14 18:04] spficklin commented on #750
Also the Tutorial content type is really old as well...

[2018-11-14 21:41] bradfordcondon commented on #732
@spficklin and i discussed this today.

In short, the goal is to utilize the relationships field, which has already traversed the feature_relationship table and fetched the child records.  By sharing those records, other fields can simply check to see if that field has loaded, and use the returned children to work with.

The specific gene page implementation is still up in there. trying to support

[2018-11-14 21:43] bradfordcondon opened #751 "cache entiites"
Right now, fields get cached, but not entities.  The solution we came up with for #732 was to have the relationship field put the returned child feature record in the field (but not in the value.) . This is OK, but could be redundant if lots of fields are doing it.  Instead, they could update the entity itself, but, because we dont think the entity is cached, it wouldnt be available to other field

[2018-11-14 22:17] mestato commented on #239
I am completely on board with the Bradford/Lacey solution. Elasticsearch results to collections functionality doesn't display the field descriptions yet, which I admit would definitely help a lot. But choosing fields when building a file and only if necessary still makes the most sense to me.

As to file formats where the fields must be selected correctly up front - gff is one, vcf is another.  Fr

[2018-11-15 01:44] bradfordcondon commented on #740
can't argue with that.

I think it is especially relevant in the user's guide in terms of publishing site configurations as exported field configurations for content types.  This is Tripal's "Genomics" organism config vs breeding organism config for example.

Anywhere in particular you propose?  How about immediately after https://tripal.readthedocs.io/en/latest/user_guide/content_types/configurin

[2018-11-15 03:47] laceysanderson commented on #402
Ok, I've added all Tripal3 compatible modules from:
 - github.com/tripal
 - tripal.info/extensions
 - UofS-Pulse-Binfo modules which should have been on tripal.info 🙃

Additionally, I did a small amount of themeing and expanded categories.

### Are we content with the following categories?
![screen shot 2018-11-14 at 9 46 07 pm](https://user-images.githubusercontent.com/1566301/48528995-d8fb9d00-e

[2018-11-15 09:43] kyrenya commented on #677
found this this morning.... had to start over.. any ideas of why this happened?

![image](https://user-images.githubusercontent.com/43243429/48544085-d29f0c80-e8ba-11e8-834f-d4b0bd3b971a.png)

[2018-11-15 13:20] bradfordcondon commented on #677
You lost connection to the db... normally I'd say this was a broken connection and you should run really long jobs with `screen` or `nohup`  to prevent this from happening.

Im a little unsure though because your session lost connection to the db, not to the server, so im not positive...

[2018-11-15 13:27] kyrenya commented on #677
uhm.. that is weird because in fact I'm using a tmux session..  so that is exactly my fear, that is something else..   I will keep you posted if it happens again.. but now I'm again in the 11%  :(

[2018-11-15 13:28] bradfordcondon commented on #677
ok so its not that.... maybe someone else has an idea, sorry

[2018-11-15 13:28] kyrenya commented on #677
no problem, let's see if I'm lucky and it doesnt happen again.

[2018-11-15 13:46] bradfordcondon commented on #712
No response from submitter and PR has been merged.  Please let us know if you have further issues.

[2018-11-15 13:46] #712 closed, assigned to nobody

[2018-11-15 14:19] bradfordcondon commented on #677
after consulting with @almasaeed2010 you are running out of transactions, so the only real remedy for that is to increase the number of allowed transactions or to close the process.

So if it fails again, what I'd suggest is breaking up the GFF into pieces.  Sounds like quarters or thirds would do it.  You can associate each one with the same analysis.

[2018-11-15 14:25] kyrenya commented on #677
Thank you so much for the ideas! I will let it run again, just to check at which percentage fails again, and to be sure its not going to be uploaded, and then I will try your suggestions and let you know!

[2018-11-15 16:45] laceysanderson commented on #239
I actually had to remove collections on KnowPulse due to too many user complaints regarding the complexity of choosing fields. So yes, I feel the extra development time is worth it 🤷‍♀️

When a user is just trying to save their results for later, they don't want to have to worry about which information they may need and they seem to be quite overwhelmed with the list. Moving the field selection to

[2018-11-15 16:52] laceysanderson commented on #732
I'll up my priority on the relationship field. I've made lots of changes in there and don't want us to run into major conflicts 😬

[2018-11-15 17:00] laceysanderson commented on #750
I definitely do not want to see any of that documentation removed.

My vote would be to
1. move anything still applicably to Tripal3 into our new ReadtheDocs documentation
2. port all Tripal2-applicable docs into the Tripal2 user guide "book"
3. port the remaining pages into "Basic Page" format.

This allows you to remove those content types without losing the information.

[2018-11-15 17:05] laceysanderson commented on #367
No, I'm good :-) Just trying to go through old issues and make sure they are solved so we can close them. @spficklin was @bradfordcondon's approach the "right" way?

[2018-11-15 17:28] bradfordcondon opened #752 "migration tool: custom field migrator"
Hi all,

Tripal 2 -> migrator doesn't deal with custom fields attached to your content.

I wrote a little gist to convert content attached to nodes via Drupal fields (ie, not in Chado) into Chado properties.

https://gist.github.com/bradfordcondon/0dddfd015ff6ef1f545364c2ceff1f0b

(Ill add a README there soon).

Is this useful to anyone?  If so I can make a guide or we can write a form or somethin

[2018-11-15 17:54] bradfordcondon commented on #732
oh yikes, i hadnt thought of that.

All im going to do is add the full expanded record as a base key (ie not in value), so it actually should just be a 1-line change ( i think)....  is most of your work in the base, or the formatter or the widget?

[2018-11-15 17:59] laceysanderson commented on #732
My work is throughout and the last small one-line change is why it's not ready for review yet 🙁  Can you give me today to finish it? 😬

[2018-11-15 19:18] shawnawsu commented on #741
For clarity, do you mean fields that are coming in and being added to existing content types?

[2018-11-15 19:19] bradfordcondon commented on #741
yes, precisely.  Adding fields with a certain layout to the organism content type, for example.

[2018-11-15 19:20] shawnawsu commented on #692
This iframe has a specified time zone, can we create a calendar that adjusts based on the views timezone? Right now it's set to Regina, so I think if we can't we should probably move it to a more recognized time zone, like EST or PST.

[2018-11-16 02:42] laceysanderson commented on #692
Ok, I made the default timezone for the calendar EST since there doesn't seem to be a way to not pick a timezone... If people add the Tripal calendar to their own google calendar then it should show the events in their timezone. However, I think the iFrame will always show it in the timezone it's set for.

Pacific
[code]

Eastern
[code]

Saskatchewan
[code]

[2018-11-16 02:47] bradfordcondon commented on #692
does this help?  use this js library to get the user's timezone?

https://stackoverflow.com/questions/31821974/support-user-time-zone-in-embedded-google-calendar

[2018-11-16 18:22] spficklin commented on #727
Hi @mboudet I ran through the same procedure you did, using the exact same token string that you did for the URLs and I was able to duplicate the problem.    Here's what I get when I try to use this URL:  `/feature/Citrus/sinensis/mRNA/PAC:18136223`

![image](https://user-images.githubusercontent.com/1719352/48636186-12c7c300-e97f-11e8-8e1f-2bc21a8ae608.png)

Can you confirm that this is the error

[2018-11-16 19:04] mboudet commented on #727
That's interesting, it's seems like it might be another bug (regarding the feature part).
My issue with aliases not working is slightly different : aliases created automatically (using the pattern set in the entity setting) are not working until an alias is manually created ( via the /config/search/path tools, or with a script). Once the alias is created, all the other aliases start working..

![i

[2018-11-16 21:35] laceysanderson commented on #744
I can confirm this happens on a dev built today off 7.x-3.x. Re-preparing Tripal/Chado didn't help

[2018-11-16 21:39] laceysanderson commented on #694
I cannot duplicate this on a clean install after clearing the cache multiple times 😕 Is this still an issue for you @almasaeed2010?

[2018-11-16 21:51] almasaeed2010 commented on #694
I am not sure how but the issue resolved itself. I don’t have this on any of our sites (dev or live). Thanks for checking @laceysanderson!

[2018-11-16 21:51] #694 closed, assigned to nobody

[2018-11-17 02:09] spficklin commented on #744
I don't think we have this problem on the 3.0 release.  So something must have broken it....

[2018-11-17 02:13] laceysanderson commented on #744
I have a PR being made as we speak

[2018-11-19 09:44] kyrenya commented on #677
hi again!
I update you of my gff fight status:

last week, the server were I am installing the database site, crushed. I lost connection to it and it was completely frozen. I didnt related this with the gff upload. I rebooted it, and since I was going to re-run the gff job, I made the following changes in order to not run out of transactions:

I set up:
max_connections = 350
Shared_buffers = 512 M

[2018-11-19 14:21] #665 closed, assigned to nobody

[2018-11-19 14:21] bradfordcondon commented on #680
merged!  Thank you for the reviews all.

For the remaining issue with malformed terms please see here #708

[2018-11-19 14:21] #680 closed, assigned to bradfordcondon

[2018-11-19 14:32] bradfordcondon commented on #120
this is resolved thanks to a lot of hard work from @spficklin and @shawnamspoor .  thanks all.

[2018-11-19 14:32] #120 closed, assigned to nobody

[2018-11-19 14:44] bradfordcondon commented on #561
i haven't seen this error in a long while.

Could be the `array_key_exists` call at 358 (different from 396 in the log, but the file has changed  since this issue was posted )

https://github.com/tripal/tripal/blob/13679f3c55c555b33e87ced5c9aab2204bf0cdaf/tripal/api/tripal.terms.api.inc#L339-L361

if im right, its cases where `$term` is null.  We know `$vocabulary` and `$accession` arent null beca

[2018-11-19 14:57] bradfordcondon commented on #669
I think this is resolved but want to verify.

[2018-11-19 15:54] laceysanderson commented on #561
I like the idea of adding a `!$term` check as it's own "if stanza". That way, we can log an error and return FALSE since if there's no term, we can't find details for it.

[code]

[2018-11-19 16:23] bradfordcondon commented on #744
thank you to @laceysanderson for resolving.

[2018-11-19 16:23] #744 closed, assigned to nobody

[2018-11-19 17:35] bradfordcondon commented on #165
Discussing with @spficklin

"If you use AJAX this isnt a problem"

So the tripal field has coding that allows you to do paging via AJAX.  Its in the base field and/or the formatter.

We're going to add documentation.  Then we'll check with @almasaeed2010 and see if thats good enough or if it still should be added somehow to core.

[2018-11-19 17:39] bradfordcondon commented on #660
after discussion, we like unpublish and delete support.

Need to clarify permissions ie current delete is unpublish, and create new permission for uber deleting.
warning on uber delete.

[2018-11-19 17:39] spficklin commented on #660
I agree

[2018-11-19 17:41] bradfordcondon commented on #749
@bradfordcondon will make the pr and explicitly ask @spficklin

[2018-11-19 18:40] bradfordcondon opened #756 "migrate satellite documentation in markdown into RTD"
* Move documentation for contirbuting, testing, etc, into RTD
* Have sub-README link out to RTD instead

pre-approved after discussion with @tripal/project-managent-commitee-pmc

[2018-11-19 19:17] bradfordcondon opened #757 "PR review policy: relax second review"
To go in #756  but here for clarity and discussion

@tripal/project-managent-commitee-pmc discussed and approved relaxing second review criteria, until we have more active code reviewers.

First review is standard, second doesn't need to be functional review....

So, when you review, be clear if this was just a pair of 👁 👁  👁  or if you functionally tested.

[2018-11-19 19:51] bradfordcondon commented on #752
with no feedback from community, PMC suggests just leaving a gist.  let me know if you need help y'all.

[2018-11-19 19:51] #752 closed, assigned to nobody

[2018-11-19 22:53] bradfordcondon commented on #756
ok, im ready for a PR but i want to wait for #754
Originally I was going to create a new "contributing" section that has testing, governance, PR guidelines..

should it instead be a "community" section?  And it cna also include the extension module list?

[2018-11-20 02:45] laceysanderson commented on #756
I kinda like the idea of it living in the developers guide since that's who it's intended for?

[2018-11-20 03:21] bradfordcondon commented on #756
testing definitely, pr guidelines.  i think the governance stuff might be broader than that?  otherwise yeah agree.

[2018-11-20 13:08] kyrenya commented on #677
starting in a new machine.... I will keep you posted once I'm again in gff step...

[2018-11-20 13:16] kyrenya commented on #687
hi! I take advantage of this thread to ask a maybe naive question.
For the installation of the last version of Tripal, is it better to run latest version of drush with
$ composer global require drush
or use the 7.* version as written here following documentation's link: https://www.drupal.org/node/1248790
$ composer global require drush/drush:7.*

Thanks in advance!

[2018-11-20 13:22] almasaeed2010 commented on #165
I've used the AJAX paging before and it does work 👍 we just have to make sure all fields implement this method. I still would recommend adding basic browser history support, which would allow users to share an open tab simply by sharing the link. I've implemented this for HWG and can easily port over to tripal ds if desired.

Here is an example of what I mean. Results for gene search in an organis

[2018-11-20 13:38] bradfordcondon commented on #687
i've run into problems using drush 8 since some of the commands change i think.  I'd recommend using drush 7

[2018-11-20 13:40] kyrenya commented on #687
ok, thanks a lot!

[2018-11-20 15:47] bradfordcondon commented on #732
The relationship field is not actually recursive, so it only fetches direct relationships.  we need to discuss if we want ot make the relationship field recursive, or, have a new "recursive relationship" field for just features that gets all descendant children

[2018-11-20 16:04] bradfordcondon commented on #756
heres my previous setup

![screen shot 2018-11-20 at 11 01 49 am](https://user-images.githubusercontent.com/7063154/48785919-b41e8400-ecb3-11e8-86e7-4a110d4dc0e0.png)

new setup per lacey's rec:

![screen shot 2018-11-20 at 11 03 59 am](https://user-images.githubusercontent.com/7063154/48786060-02cc1e00-ecb4-11e8-8eed-c0113b301b60.png)

I'll make the PR for this so we can review easier.

not convi

[2018-11-20 16:22] bradfordcondon commented on #757
here i the PR policy as laid out in #758

[code]

so most relevant:

[2018-11-20 19:43] shawnawsu opened #759 "Tripal registration page"
* This feature does attempt to solve an existing problem with Tripal
* I am open to developing or collaborating on an extension module if this is not a good fit for Tripal Core

* This feature is Not Urgent

### Description
Tracking mechanism for tripal use, so we know how many sites are using it and we can notify them when updates are available.
-Registration page:
--A message for why this is imp

[2018-11-20 19:46] bradfordcondon commented on #759
tracking extension module usage would be so awesome.  I am therefore very excited about this integration.  We should consider additional ways to make this useful to the Tripal community to encourage its use.

Note that

is going to change over time.  It might want to be associated with a time frame.  (2012-2016: NSF XXXX.  2017-2018- NULL.  2019-present: USDA XXXXX)

So i realize now, you pretty m

[2018-11-20 20:34] bradfordcondon opened #760 "error grouping field widgets"
## BUG/ERROR report
Note this error is **not** for the field display.  its for the widgets.  Arranging my fields into a Table throws warnings, if the field has help text display.

![screen shot 2018-11-20 at 3 30 16 pm](https://user-images.githubusercontent.com/7063154/48801136-949a5200-ecd9-11e8-85f3-2a0fa855d393.png)
it works, my input fields are now in a table which is pretty awesome:

![screen

[2018-11-20 20:34] bradfordcondon commented on #760
note also that putting them in tripal_pane causes them to not display at all.

[2018-11-20 21:45] laceysanderson commented on #760
I can duplicate these errors:

[code]
I see these errors on the field edit page (e.g. Administration » Structure » Tripal Content Types » Organism » Manage fields » Species) for any field once there is a table group in the Manage Fields section for a specific content type.

[2018-11-21 00:02] laceysanderson commented on #717
There is a temporary fix of removing the contact field from the tripal content type using manage fields.

[2018-11-21 01:24] spficklin commented on #759
That funding source should have unlimited cardinal so that users can add new sources over time.

[2018-11-21 01:26] bradfordcondon commented on #717
is anyone working on this issue?  I can look into it tonight...
edit sorry not getting to it tonight, maybe tomorrow...

[2018-11-21 01:51] spficklin commented on #717
I am not

[2018-11-21 01:54] spficklin commented on #732
I think it would make it overly complex if it is recursive...  However, in line with our previous discussion

1)  Save the record in the relationship field.
2) In your new field use that same record to recursively expand children you are interested in.

So you do the recursion in your new field rather than in the relationship field.

[2018-11-21 01:57] spficklin commented on #677
Just curious was that most recent error related to the same run you started 6 days before?  Or did that one finish and this error is from a different job?

[2018-11-21 02:13] laceysanderson commented on #717
Feel free if you end up having time! I haven’t even had the chance to look at it yet

[2018-11-21 02:37] zhuyiqin commented on #733
hi,
I'm using tripal v2, and want to upload the kegg annotation. Since the KAAS doesn't provide the hierarchical file any more, can I prepare a similar file from the output of KAAS?

[2018-11-21 03:23] #687 closed, assigned to nobody

[2018-11-21 03:28] mdhar1980 opened #761 "GFF file upload keeps stalling at 37% of parsed lines"
Hello!

I am attempting to upload a GFF file on Tripal 7.x-2.x (https://github.com/tripal/tripal.git). However, the job keeps stalling at around 37% of parsed lines.

There is no error output from the Drush command. The Tripal Jobs list just says, "Error." So I'm not sure how to troubleshoot.

I first increased the PHP memory_limit value, as advised in the tutorial, to 2048M. I then raised it to 5

[2018-11-21 06:06] mdhar1980 commented on #761
Update: I then set memory_limit to 10240 (10x the tutorial's suggested) and the GFF load still stalled out at 37.88% of lines parsed.

[2018-11-21 11:20] kyrenya commented on #677
no, it didnt finished. but also didnt give error, it just happened that the connection to the remote pc was lost because the machine crashed. We think maybe the machine was not stable for some reason, I'm starting again the tripal site in a machine that is not 'desktop' version, but 'server' version. Did I explain myself? I will keep you updated as soon as I try to upload again the gff.

[2018-11-21 15:08] spficklin opened #762 "Relationship Widget Minor Fixes"
## BUG/ERROR report

### System information

* Tripal Version:  3.x
* Drupal Version:  N/A
* PostgreSQL Version  N/A:
* PHP Version: N/A

### Issue description

After @laceysanderson did a wonderful job of fixing the relationship widget, there are a few minor outstanding items that need fixing on the widget.  I've moved them to this new issue from the discussion on PR #726.

1.  When adding a new

[2018-11-21 15:20] spficklin commented on #727
So, this is a bit bizarre, I'm not able to reproduce the problem as I don't seem to encounter this. Once I do the bulk update of the URLs they just work. I don't have to manually add a URL via the GUI (or programmatically) to get it to work.... I will test again.

[2018-11-21 16:23] mboudet commented on #727
Interesting. My process is this : launch a new tripal instance, edit the 'organism' tripal content to change the default link path, save it, and then add organism (through the web UI this time).
The alias is then properly generated, but non functional.

I'm deploying tripal trough docker, so the issue might come from a missing module in the docker image? I'm going to look into it.

[2018-11-21 18:51] mdhar1980 commented on #761
With memory_limit set to -1 (or unlimited), the job still stalled at 37.19% of lines parsed.

The reason I thought memory_limit might be relevant is because, in a previous (non-production) attempt at loading Tripal, we'd adjusted that value to get past a stalling GFF load. It does not seem to be the issue this time.

[2018-11-21 19:55] laceysanderson commented on #761
I have never experienced this myself... Can you provide us with more information about the file? How many lines is it? and can you provide an excerpt or is it private? Have you confirmed that it's correct GFF3 format; maybe using an [online validator](http://genometools.org/cgi-bin/gff3validator.cgi)?

I notice you are using Tripal2... would it be possible to upgrade your site to Tripal3 legacy mo

[2018-11-21 20:10] mdhar1980 commented on #761
Hi, Lacey,

Thanks for the response. I've attached a sample from the file [UPDATE: To avoid the copy-paste issue, I've uploaded a new sample]. The whole file is 590,798 lines.

EDIT: Adding the version header was trivial, as I suspected. I was able to validate the entire GFF file (had to break it in two) and both halves were validated, with some warnings of this sort:

NOTE: I was able to upload a

[2018-11-21 20:19] mdhar1980 commented on #761
Adding the version header, I get this from the validator:

[2018-11-21 22:36] mdhar1980 commented on #761
I tried uploading a smaller version (first five lines) and that finished fine.

(I deleted previous comments I made here about column number from the validator, as that was the result of a copy-and-paste. Will attempt validating again.)

[2018-11-21 23:06] mdhar1980 commented on #761
I validated the sample I uploaded above, and it was validated (once I added the version line).

It did say the following:

[2018-11-22 01:30] mdhar1980 commented on #731
Hi, almasaeed2010 -- what settings in Postgres did you change? I have Chado installed, it seemed, but now I am having trouble uploading our GFF. The job just halts, while a smaller file does load. This makes me think it might have something to do with memory, so maybe I do still need to adjust those Postgres settings you were talking about. Thanks!

[2018-11-22 10:54] mboudet opened #763 "Issue with tripal_ds_update_ds_layout function"
## BUG/ERROR report

### System information

Tripal: 7.x-3.0
Drupal : 7.59
Postgres: 9.5.8
Php: 7.1.23

### Issue description
I'm trying to setup fields and fields group programmatically (As in, enable fields, set them up in the field group, and place them).
The tripal_ds_update_ds_layout function should take some field groups and fields, enable them and set them up. However, nothing happen when t

[2018-11-22 14:12] #725 closed, assigned to nobody

[2018-11-22 14:16] mdhar1980 commented on #761
I updated my response above to say that I validated the entire file (had to break it up in two due to size). Both halves were validated, with some warnings of this sort:

[2018-11-23 09:54] mboudet commented on #727
So, I looked into TripalEntityController.inc. When adding an entity, we setup the alias in the url_alias table, but we never call drupal_path_alias_whitelist_rebuild, so the alias list is not really set. (Though there are traces of it in comments).

When using the drupal function path_save (used when creating a new alias), this function is used after adding the values in DB.

Calling drupal_path_a

[2018-11-24 13:57] almasaeed2010 commented on #731
Hello @mdhar1980

I found this post helpful: https://stackoverflow.com/questions/40654766/how-to-increase-max-locks-per-transaction

It simply states that you should change the max_locks_per_transaction option in your postgres.conf file. This file can be found by running the following SQL query: `SHOW config_file;`

Thanks!

[2018-11-24 15:30] mdhar1980 commented on #761
NOTE: I was able to upload a smaller GFF taken off the head of the larger GFF file in question, and it loaded fine. So, I'm doubting the above ##sequence-region lines are the issue. Seems file size, and therefore maybe a memory setting? But I don't know what that might be. Lacey, or others, are there any memory settings (in PostGRES, Drupal itself, PHP -- though we've adjusted several of those alr

[2018-11-25 00:22] laceysanderson commented on #761
Since time is of the essence, I would be tempted to break your GFF3 file into 4 chunks and see if that works. That way you'll be able to move forward and we'll confirm there is nothing wrong with the file.

PS. I work on a breeder-focused portal and thus do not have any direct experience with the GFF3 loader -just trying to help as I can 😬

[2018-11-25 01:16] laceysanderson commented on #761
Oh, I meant to confirm that you do not need to add the `##sequence-region` lines to your GFF3 file. However, are you sure you've pre-loaded all the backbone sequences (those referenced in the first column)? Also, have you looked for errors in the apache error log (for me `/var/log/apache2/error.log`) or in the Drupal Watchdog log (Admin > Reports > Recent log messages)?

[2018-11-25 19:56] bradfordcondon commented on #763
Have you checked out the Drupal features module?  It lets you do exactly this.  Granted, its for exporting and sharing your field configuration, so if you must define the groupings programmatically to begin with it won't help you.
  I wrote a full tutorial:

https://tripal.readthedocs.io/en/latest/dev_guide/exporting_field_settings.html

[2018-11-25 22:02] mdhar1980 commented on #761
Hi, Lacey,

Thanks for your response. I attempted breaking up the file. The first quarter loaded fine. The second quarter stalled partway through the setting ranks of children stage. This is similar to what happened last time, before we had increased the PHP memory_limit setting (that is, both the whole GFF and later, smaller fractions would stall). So, I still suspect it's a memory setting somewh

[2018-11-26 01:12] bradfordcondon commented on #761
do the third and fourth quarters load fine?

Is it possible theres a circular relationship of some sort described in around the 37% (halfway through the second quarter?) mark thats short circuiting the loader?

[2018-11-26 03:48] bradfordcondon commented on #717
oops- this looks pretty straight forward.  The linker contact field should be attached, not the base table contact field.

The fix- less straight forward, since the project fields arent directly added but inferred somewhere along the way...

[2018-11-26 03:56] bradfordcondon commented on #717
heres where the contact field gets added. I'm going to sleep on it.  It looks to me like the **base** contact field gets added if the linker table exists? ie instead of `local__contact_widget`, attach `chado_linker__contact_widget` ???  But that can't be right, otherwise, all tables with a contact linker would be broken?

https://github.com/tripal/tripal/blob/be494de1cb223bcb8c4a4d556410fe702b9622

[2018-11-26 04:02] bradfordcondon commented on #717
Yep changing the widget and formatter to `chado_linker__contact_widget` resolves the error.... just a simple mistake then?  since the `local__contact` field is manually added to the tables that use it.  I'll submit a PR but let's think on it before labeling it a simple fix...

[2018-11-26 11:34] kyrenya commented on #677
done!! :) :) :)

[2018-11-26 11:46] kyrenya commented on #677
I have a new issue though:
I've just published gene records, and I got this as a result (chose one just to explain the situation)

![image](https://user-images.githubusercontent.com/43243429/49012185-8da78f80-f170-11e8-9978-f9e583195f62.png)

as you see, the cross reference wont work, because as ID is chosen 'gene=162'
 how could I fix this?

Thanks in advance!

[2018-11-26 13:15] kyrenya commented on #677
I have a new issue though:
I've just published gene records, and I got this as a result (chose one just to explain the situation)

![image](https://user-images.githubusercontent.com/43243429/49012185-8da78f80-f170-11e8-9978-f9e583195f62.png)

as you see, the cross reference wont work, I guess because I dont have an accession there.. Is there a way of fixing this without uploading again everything?

[2018-11-26 17:36] kyrenya commented on #677
I solved it adding a URL to the databases GeneID and GeneBank automatically produced by the gff upload.  Now I have Cross Reference active links, but I still dont have anything in the  Accession field. I've seen that in the in the citrus example also that field is empty..

[2018-11-27 00:36] mdhar1980 commented on #761
Hi, Lacey,

I preloaded the Fasta file with the sequences (Pdac_Barhee_chr_unan_180126.all.maker.transcripts_HC.fasta). It has headers of this sort:

I also preloaded the reference genome.

Regarding the error logs:

The Apache2 log has a bunch of entries for today of this sort:

I'm not sure what that's related to or if it's relevant to the Chado loading, but I haven't attempted a load today. I w

[2018-11-27 00:42] mdhar1980 commented on #761
Bradford,

I still need to prepare and try loading those. But I can say this: The entire GFF stalled at various numbers around 36-37% of the parsing-lines step. The second quarter stalled at about 10.19% of the next step, the Setting Children step. Then, I tried running the second quarter as ""Import only new features" (not import and update) and it stalled at around 90% of the Setting Children st

[2018-11-27 02:50] bradfordcondon commented on #677
The accession field is the **primary dbxref**, which is an **internal accession** number.  IE if my site is the waffle_database, a gene might be waffle:00001: its internal to my site.  This means I wouldn't expect it to be set when loading the GFF.

The feature.dbxref_id field defaults to NULL.  i think this field needs to be tweaked so the label doesnt appear if NULL.

Does that make sense?  With

[2018-11-27 02:57] bradfordcondon opened #765 "primary accession field not considered NULL when NULL"
i noticed this when helping a user in #677 .

The primary accession field (ie feature.dbxref) is set to NULL in a weird way when its empty.

https://github.com/tripal/tripal/blob/be494de1cb223bcb8c4a4d556410fe702b9622cd/tripal_chado/includes/TripalFields/data__accession/data__accession.inc#L58-L64

this mean the field displays on the feature page even if its null (see image from #677)

![image](ht

[2018-11-27 06:21] mdhar1980 commented on #761
The third quarter of the GFF also stalled/quit (at about 99% of lines parsed). Output from the apache2 error logs looks similar as what I listed above, with a lot of lines like this (but with various specifics listed as not found):

script '/var/www/tripal/web/image.php' not found or unable to stat

[2018-11-27 09:49] kyrenya commented on #677
ok, so if I understood well, tha accession  is the primary dbxref,  and its saved in the feature.dbxref_id, and its for my site accession.   Dummy question:   that will be NULL always, or it will be useful to have an id (like waffle:00001).. when does that happen? yes, maybe we can close this issue, since the gff is already correctly uploaded and we can discuss thid in #765.

Thanks a lot one more

[2018-11-27 11:20] kyrenya opened #766 "functional modules v3.0"
Hi there!
I'm trying to follow the manual for functional annotation:
https://tripal.readthedocs.io/en/latest/user_guide/example_genomics/func_annots/setup.html

When checking for new fields in STructure--> Tripal Content Types, the manual says check manage fields in mRNA but the image shows the fields in Gene. Anyway, when I do it in both places, I don't see anything similar to the example. No new

[2018-11-27 11:41] kyrenya commented on #766
taking a look at the modules, I see I have Tripal extensions: Tripal Blast and Tripal Interpro (probably this is what I am interested in, right?  but tripal V2 Legacy modules are also enabled (dont know when this happened, since I thought I had made a clean installation of tripal 3.0). Should I disable Tripal Core and everything in Tripal V2 Legacy?

![image](https://user-images.githubusercontent.

[2018-11-27 12:49] bradfordcondon commented on #677
it happens when **you** set it somehow (manualy, sql, a custom module).  it could always be null.  or you could decide my tripal site is going to have accession numbers, and set them.

[2018-11-27 13:07] bradfordcondon commented on #766
before you can add the field, you need the 7.x-3.x version of the module enabled.  You must follow the git instructions for installing for now until we make an official drupal release.

* disable and delete the 7.x-2.x versions
* go to the module repo (ie https://github.com/tripal/tripal_analysis_blast), clone the module, and enable it.
* We have recently made the default branch of each 7.x-3.x, b

[2018-11-27 13:52] kyrenya commented on #766
ok, I'll do so and let you know.
other question.. why inside Tripal V2 Legacy the modules are 7.x-3.0 versions? should I then disable all inside that Tripal V2 Legacy box?

[2018-11-27 15:22] bradfordcondon commented on #766
those are the legacy modules.  The version is 7.x-3.x because they are distributed with tripal 7.x-3.x and we changed all the versions in that module... maybe it should instead be 7.x-2.x, what do you think @tripal/project-managent-commitee-pmc ?

eitehr way, the answer to your question is, keep them enabled if you are running legacy code, and you can disable them if you are not.

[from the docs:]

[2018-11-27 16:52] kyrenya commented on #766
ok! Crystal clear! thanks!

[2018-11-27 17:01] kyrenya commented on #766
ok, I already git cloned the modules, but now in the site I see this:
![image](https://user-images.githubusercontent.com/43243429/49098086-063c4800-f266-11e8-9130-4f3aca208f22.png)
This is a thing for you guys to develop this modules.. or am I supposed to update?

[2018-11-27 17:03] bradfordcondon commented on #766
oh the recommended version?  yeah dont worry about that, you're all set, you can try to add hte fields now.

[2018-11-27 17:04] kyrenya commented on #766
Thxx! I will keep you posted about my progress :)

[2018-11-27 17:21] spficklin commented on #766
@bradfordcondon in regards to the version number of the legacy modules. The code that comes in the legacy modules has been gutted quite a bit, and so those modules do merit a major version increment.  So, I think the 3.x version is correct.    Also, we can't downgrade the version now that Tripal v3 is out in the wild.  Drupal stores the current version of the installed modules and upgrades will go

[2018-11-27 17:22] bradfordcondon commented on #766
ah yes of course, forgot we really cant downgrade versions. thanks stephen.

[2018-11-29 00:58] spficklin commented on #727
Hi @mboudet I tried again to replicate the problem but setting aliases always works with no problems.  But to hopefully help in your case, I have added the call to `drupal_path_alias_whitelist_rebuild()` function right after bulk updating of aliases.  It's in the branch named `727-tv3-bulk_aliases`.   Are you comfortable testing that branch to see if it fixes the issue?

[2018-11-29 21:10] btski opened #767 "Removed"
Removed.

[2018-12-01 10:04] spficklin opened #768 "API Embedded in RTD with User's Guide and Dev Handbook"
So, it is possible to integrate our Doxygen style commenting in Tripal with Sphynx and Read the Docs.  That would place our User's Guide, Developer's Handbook and the API all in one RTD interface.  It would allow us to update the API quicker because we wouldn't have to fight with the Drupal API site we currently maintain.   I really like this idea but there are some caveats.

1.  We have to commit

[2018-12-01 15:39] #767 closed, assigned to nobody

[2018-12-01 21:18] bradfordcondon commented on #768
OK so our previous attempts were unsuccessful because we didnt specify the type for each input parameter the way it expected?

[2018-12-01 21:23] bradfordcondon commented on #733
sorry for not responding, i dont undertsand your question.  Can you make your own KAAS heirarchy file?  You might be able to, but I wouldn't know how--- i haven't even seen the file, as it was discontinued by the time i started work...

I'm sorry to report we haven't had time to make hte kegg OBO file compatible with the new OBO loader, so this issue is still open...

[2018-12-01 21:24] bradfordcondon commented on #718
i'm going to bet this is the same problem as #717 and will be resolved with  #764

[2018-12-03 16:48] mboudet commented on #727
Hi, sorry for the delay! Thanks for your commit.
It did fix the bulk update not activating the aliases, but not the aliases not being functional before the bulk_update being used, due to drupal_path_alias_whitelist_rebuild not being called when an entity is created.
I added back drupal_path_alias_whitelist_rebuild [here](https://github.com/tripal/tripal/blob/7.x-3.x/tripal/includes/TripalEntityCon

[2018-12-03 19:22] patricksis opened #769 "Can't remove publication from organism page"
## BUG/ERROR report

### System information

* Tripal Version: 3.0
* Drupal Version: 7.61
* PostgreSQL Version: 9.6.11
* PHP Version: 7.2.11

### Issue description
Publication was link to the organism page instead of reference genome and now the publication cannot be remove from organism page.

#### Steps to reproduce
Create organism page and link the publication. Attempt to edit and remove public

[2018-12-04 09:33] kyrenya commented on #677
hi again!
so as you know everything went in the end ok with uploading gff and fastas.
When trying to add blast results data, I got a warning saying that my feature IDs (the XM_####) were ambiguous..  and then is when I have noticed that after uploading gff and fastas, when publishing mRNAs, I got approx the double of records I expected having this:
![image](https://user-images.githubusercontent.co

[2018-12-04 13:43] bradfordcondon commented on #677
so you have two mrnas with the same name.  one identifier (uniquename) is the same as the name, the other is rna31.

furthermore I can see that theone whose identifier is XM_024014517.1 mRNA has no relationships, or other information.  All of the info is tied to rna31.

Finally, one mRNA has CDS sequence (rna31), the other has the raw sequence.  I beleive that if you use SQL to query your features

[2018-12-04 14:02] bradfordcondon opened #770 "request: dbxref widget create new accessions like the primary accession widget can"
## feature request

A checkbox on the dbxref input widget, that allows you to create a dbxref (accession) if it doesnt already exist.

### Description

Right now, it's difficult to create a dbxref accession via the GUI.  If you want to use the GUI, you have to insert a cvterm.  The dbxref admin area only lets you look up, not insert, accessions.

What I propose and @almasaeed2010 supports and will

[2018-12-04 14:06] bradfordcondon commented on #770
oops: is this a bug instead?

https://github.com/tripal/tripal/blob/e9f107bf41e70658f003d4e659bbb024d029c7d9/tripal_chado/includes/TripalFields/data__accession/data__accession_widget.inc#L140-L150

@almasaeed2010 can you please provide the message for failed submission with a novel accession?

[2018-12-04 14:09] almasaeed2010 commented on #770
The error message on a publication entity:

[code]

Similar error on organism entities:

[code]

[2018-12-04 14:49] bradfordcondon commented on #770
sorry i got confused because the c ode i linked above is for data__accession, which is for a primary accession.  we are discussing cases of secondary accessions, handled by the sbo__database_cross_reference widget.

So we're back to feature request: can this widget also create accessions, gated behind a checkbox (or perhaps a field setting?) if necessary?

either way the bug component is that the

[2018-12-04 16:26] ekcannon commented on #636
The ISU proposal for generic, high-level components and flow of control/data/requests:
https://docs.google.com/document/d/1AiNIqPa4BDmzyKX9ze1fyT_0RM2Ie634QsOanjhnpQU

[2018-12-04 17:56] kyrenya commented on #677
thanks... I think I uploaded it with those parameters, but since Im not sure because of these duplication issue and your comment, I will upload again. Maybe I use a minified version of the data to check faster. I will keep you posted of my progress!

[2018-12-06 00:56] spficklin opened #772 "Missing File Mangement Instructions in the User's Guide"
We are missing the file management instructions from the User's Guide

[2018-12-06 03:00] laceysanderson commented on #770
I Vote yes. I don't even think it needs to be gated behind a checkbox since that's what I would expect to happen

[2018-12-06 13:22] bradfordcondon commented on #756
merged.

[2018-12-06 13:23] #756 closed, assigned to bradfordcondon

[2018-12-06 13:24] bradfordcondon commented on #717
resolved with #764

[2018-12-06 13:24] #717 closed, assigned to bradfordcondon

[2018-12-06 13:31] bradfordcondon commented on #718
now that #764 is merged, i tested this and did not encounter any errors when updating with no changes or when updating the description of a project, with or without a contact.

closing but please reopen @laceysanderson if you feel this wasnt resolved.

[2018-12-06 13:31] #718 closed, assigned to bradfordcondon

[2018-12-06 13:58] bradfordcondon commented on #669
confirmed **unresolved**.  once set, you cannot unsett the abbreviation or the common name field of an organism, for example.

Heres what I think is going on:

we assign fields and widgets to the base columns first by looking up the semantic web term, and then adding the appropriate widget based on the value type:

https://github.com/tripal/tripal/blob/c3b0ea1914b4a80aeeaf5b62fe638d3987a3a695/trip

[2018-12-06 14:32] kyrenya commented on #677
ok, so I did this with a minified version and there are no replicated mRNAs entries anymore!
I'm not sure if what happened is that I chose insert and update when I uploaded the mRNA fasta, or that at some point I picked unique name instead of name.. but with your advice it worked! so now I'll go for the big ones! thx again :)

[2018-12-06 14:59] bradfordcondon commented on #669
ok my plan is to replace the base text_textfield and text_textarea widgets with widgets that extend ChadoFieldWidget.

I plan on calling them `chado_base__textfield_widget` (to mesh with the `chado_linker` named fields.) . No need to define a new field, just the widget.

Replacing the common name textfield widget with my new `chado_base__textfield_widget` allows me to null out the common name, so

[2018-12-06 16:51] #772 closed, assigned to spficklin

[2018-12-06 16:59] spficklin opened #774 "Tripal Module Rating System"
There has been a discussion among the Project Management Committee (PMC) to implement a module rating system such that others who want to potentially use extension modules for Tripal can judge how well it might work for them before installing it.   It's easy to say a module is Tripal v3 compatible but that doesn't mean it properly uses the Tripal API, or that it provides generic configuration such

[2018-12-06 18:18] spficklin commented on #669
@bradfordcondon I think there may be an easier way.  Before you get too deep into this let me spend some time on it.

[2018-12-06 19:05] bradfordcondon opened #776 "clearing previously set fields is more confusing than it could be"
https://github.com/tripal/tripal/blob/c3b0ea1914b4a80aeeaf5b62fe638d3987a3a695/tripal_chado/includes/TripalFields/data__sequence/data__sequence_widget.inc#L77-L82

clearing previously set fields is confusing.  you need to remember to set the `value` to something, like above, so that the field storage empties out the field, instead of just ignoring it.  See  #775  for a fix for this issue for requi

[2018-12-06 19:06] bradfordcondon commented on #669
easier way is an understatement, thanks @spficklin

[2018-12-06 21:34] #669 closed, assigned to spficklin

[2018-12-06 21:37] #770 closed, assigned to almasaeed2010

[2018-12-06 21:56] spficklin commented on #776
Agreed. We should find a better way to recognize this condition.

[2018-12-06 21:56] spficklin commented on #776
I added this to the 3.2 project so we can revisit it when we start thinking about that release.

[2018-12-06 22:06] #676 closed, assigned to bradfordcondon

[2018-12-06 23:04] spficklin opened #777 "Backport of File Usage/Quotas to Tripal v2."
The Tripal Galaxy module relies on quotas.  We have the user file quotas in Tripal version 3 but not Tripal version 2 and The Tripal Galaxy module is compatible with both.   We should consider adding that functionality to Tripal v2?

[2018-12-06 23:08] spficklin opened #778 "missing chunks error when uploading big files (~5G) #34"
## BUG/ERROR report

### System information

* Tripal Version:  3.x
* Drupal Version:  7.x
* PostgreSQL Version: N/A
* PHP Version: N/A

### Issue description

This issue was reported on the Tripal Galaxy module, but it is really a Tripal problem because Tripal provide the uploaders.  Please see the issue there for more details.  https://github.com/tripal/tripal_galaxy/issues/34.

#### Steps to re

[2018-12-07 14:17] kyrenya commented on #677
ok, everything run fine when I used the minified data. But now I'm starting over the upload of the gff, the genomic fasta and the mrna fasta, and this is what happens:

in order to not have the replicate mrna entries, I do the following:

load genomic.fasta first:
matching NAME, and INSERT ONLY way of upload.

load mrna.fasta second:
matching NAME, and UPDATE ONLY.

load the gff: here comes the pr

[2018-12-08 00:57] #402 closed, assigned to laceysanderson

[2018-12-08 01:01] spficklin commented on #402
I have replaced the Extensions link on the tripal.info file to the page in the documentation where Extension modules are now listed.

[2018-12-08 08:27] spficklin commented on #165
I removed the bug tag because this isn't a bug, the AJAX-enabled pager exists to handle the underlying problem.  I have submitted a pull request that provides new documentation that describes how to add an AJAX-enabled pager to a field formatter.  For now I think that should satisfy the need.

@almasaeed2010 and @bradfordcondon I don't quite understand the browser history solution nor the exact pr

[2018-12-08 08:34] spficklin commented on #727
We had to take out that `drupal_path_alias_whitelist_rebuild` because it dramatically slowed down bulk aliases. I wish we knew why we are seeing different behavior and why it's not working for you.

I think perhaps, if we can't find out it may be better to close out this issue, especially since you have a work around.  If this pops up with someone else and we can see that it's happening in multipl

[2018-12-08 08:57] spficklin commented on #769
Hi @patricksis I can confirm that this does occur as you have indicated.  I've marked this as a bug and added it to our milestones to fix before our v3.1 release which we hope to put out in the next few weeks.

In the meantime I'll look into this and see what's going on and try to make a fix.

[2018-12-08 09:45] spficklin commented on #769
@patricksis I believe I have fixed the problem and I've committed a pull request for review by others on the Tripal core development team.  If you feel comfortable with pulling branches would you mind testing to see if the fix works for you?  If not, we'll perform the test and let you know if successful when it's available in the main branch.

[2018-12-08 14:33] mboudet commented on #727
Sure. I think I managed to pinpoint the issue for the tokens, so I'll make another issue when I have a fix for it.

For the record, my workaround is manually creating an alias using the path_save function in a custom module I used.
Since drupal_path_alias_whitelist_rebuild needs to be called only once for the aliases to start working, it's enough.

[2018-12-08 15:57] bradfordcondon commented on #774
this could be addressed by #714 .  In the course of getting some sort of automated code coverage report, we would also get a style checker.  We could then point users in the right direction for automated drupal style checking.  [Drupal has a codesniffer](https://www.drupal.org/node/1419988) and maybe thats what we should be using, my first attempt at iwas pretty disastrous though 💥

Question, what

[2018-12-10 14:47] almasaeed2010 commented on #165
Hello @spficklin

Currently, when visiting a page, the summary pane shows up by default. If I click on any other tab, such as `sequences` on a Gene page, the pane is displayed and brought to the top. If I then copy the link to share it, the link will show only the summary pane again and more navigation has to be done to get to the sequences tab. With the browser history solution, when the URL is s

[2018-12-10 17:37] bradfordcondon commented on #714
hi all, i've gotten code coverage working with one of my modules.  Basically I configured it to run the php sniffer with the Drupal code standards.  Enabling this will allow us to ensure that new PRs are formatted properly which would be a pretty big deal.

I wrote a setup guide here https://www.bradfordcondon.com/2018-12-10-drupal_sniffing/
 this guide is mostly for configuring hte sniffer and be

[2018-12-10 18:26] spficklin commented on #165
Oh, I understand now.  Thanks for the explanation. Yes, I think this is a good thing.  I approve of this feature being added.

[2018-12-10 18:33] spficklin opened #783 "Field Pagers"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version:  7.x
* PostgreSQL Version: N/A
* PHP Version: N/A

### Issue description

When creating a pager for a field you are expected to give it a pager index.  Drupal expects that all pagers have an index this is because you can have more than one on a page and the index is used to distinguish which one the user is expect

[2018-12-10 19:12] bradfordcondon opened #784 "GOslim ontology runs out of memory in test"
frustrating loading the goslim ontology exhuasts my memory when running local unit tests.  I see this happen in hte travis environment all the time as well, causing tests to fail.  rerunning fixes the issue.

we should probably change this test to not load the full goslim plant obo.

[code]

[2018-12-10 19:22] spficklin commented on #784
That seems like a lot of RAM for the GO Slim. 2GB or RAM.... I forget does it consume that much on our machines?

[2018-12-10 19:27] spficklin commented on #774
Good point.  Reflecting on this a bit I think maybe we should take out that requirement.  Do we want to force folks to use the Chado API? They could just write straight SQL.  What other benefit other than consistency is there?  It's different from requiring the use of the Web Service class and TripalFields because those classes directly integrate with expected Tripal functionality.

We can have a

[2018-12-10 20:50] spficklin opened #785 "Read the Docs integration missing from Developer's Guide"
enough said....

[2018-12-10 20:51] bradfordcondon commented on #785
starting point https://www.bradfordcondon.com/2018-08-26-read_the_docs/

[2018-12-10 21:04] spficklin commented on #783
Also, the documentation in the developer's User's Guide needs to be updated.

[2018-12-10 21:08] spficklin commented on #727
Okay.  Thanks!

[2018-12-10 21:08] #727 closed, assigned to nobody

[2018-12-10 22:55] mestato commented on #774
I'm a bit worried about "Should install on any Tripal site."  What about modules that are specifically tied to a version? Lets say we develop a new module for v3. Since it won't install on v2, does it not qualify? Is it reasonable to expect developers to maintain modules for every supported Tripal version?

I guess I'm voting to change to something like "Should install on any Tripal site built fro

[2018-12-11 02:39] bradfordcondon commented on #774
we were writing these guidelines specifically thinking about Tripal 3.

Future versions of the docs will be tied to release so this will always be in reference to that specific version (in this case, tripal 3- these standards are only saying it will install on a Tripal 3 site, not Tripal 2 or future versions).

[2018-12-11 03:02] spficklin commented on #774
Thanks @mestato  for commenting!  You make a good point.  I think we can expand these rules to support all current version of Tripal.

[2018-12-11 03:08] spficklin commented on #774
@mestato and @bradfordcondon I updated the rules at the top to be more Tripal version specific.  Let me know if you are okay with this.

[2018-12-11 13:17] bradfordcondon commented on #774
looks good!  I'd think that what will happen is upon the next major Tripal release, we update the list to be about Tripal 4 compatibility and standards.  The cool think about ReadTheDocs is the Tripal 3 list won't go anywhere: it will be listed at the same place on the 3.x version of ReadTheDocs.

edit- looking again, I think for the reason above we don't need general and v3 specific criteria.  Un

[2018-12-11 17:41] spficklin commented on #774
Good point @bradfordcondon so I think our badges should have the version number built in...

One benefit for using the Chado API is that we maintain backwards compatibility.  Drupal did a major switch from 6 to 7 and we had to rewrite all of our SQL.  But anyone who used the Chado API to pull out data did not.   So there are benefits but it doesn't make your module any more compatible with Tripal

[2018-12-11 18:14] spficklin commented on #344
I'm going to open a new issue for the advisory committee discussion. This thread has become a bit too long.  After I do that are we safe to close out this issue?  We have the Tv4 proof of concept and with my new issue for the advisory commitee I think those two things meet our two outstanding items.

[2018-12-11 18:21] spficklin opened #786 "Tripal Advisory Committee"
This issue summarizes discussion from this issue #344 regarding a Tripal Advisory committee for Tripal.
The Advisory Committee is different from the Project Management Committee (PMC).  The PMC's role is to provide oversight over code development. It ensures quality standards, approves feature requests, and accepts pull requests.  The Advisory Committee is meant to provide guidance for the future

[2018-12-11 18:27] spficklin commented on #786
Thoughts regarding "Eligibility" (item 4 above).  I would like to broaden that a bit to perhaps allow external folks with a high-level of experience with Cyberinfrastructure and that may or may not be someone within our typical Tripal community.   It is important that Tripal meets scientific needs but also prepared for modern technological advances too.

[2018-12-11 18:28] bradfordcondon commented on #786
I believe elsewhere we discussed that Tripal serves users who might not be contributing to the core code and thats a good thing, and we would therefore like to include such a PI to ensure their needs are met.  So I'd 👍 loosening that criteria.

[2018-12-11 19:05] bradfordcondon commented on #784
that error is from my machine not from travis, so yes.

running just the OBO tests passes.  When running the full test suite, the test fails for me.

[2018-12-11 19:13] bradfordcondon commented on #784
im submitting a PR that removes this problematic test.  I'm removing it
a) because its too big of an OBO file to load during testing
b) because teh OBO in question is hosted remotely, thereby making this a network test which is discouraged

we should instead be testing a small OBO file, which we do, in all the other tests.

[2018-12-11 19:52] spficklin commented on #784
PR merged...

[2018-12-11 19:52] #784 closed, assigned to nobody

[2018-12-12 05:08] laceysanderson commented on #165
I approve as well!

[2018-12-12 11:17] guignonv opened #789 "Is it (still) possible to join Chado data and Drupal field data in Drupal views?"
branch: Tripal 3

I tried to create a Drupal view that would allow me to display both data from Chado and Drupal on a same page without any success. On Tripal 2, this could be achieved using Drupal views relationship between Drupal node and the corresponding Chado table. On Tripal 3, I didn't find the possibility to join those 2 sides.

I can only either create a view on "Chado stock" or create a

[2018-12-12 16:19] bradfordcondon commented on #714
I added code coverage reporting to my module:
https://www.bradfordcondon.com/2018-12-11-drupal_code_coverage/

My thoughts:

### sniffer

The drupal standard sniffer is very very very particular.  Even running the beautifier theres tons of issues that must be manually corrected.  I could run the check on core since our comments are generally Drupal styled but even so I imagine there will be lots o

[2018-12-12 17:18] bradfordcondon commented on #714
i ran the code sniffer on the tripal_chado module`phpcs --standard=Drupal --extensions=php,module,inc,install,test,profile,theme,css,info,txt,md --ignore=node_modules,bower_components,vendor tripal_chado`

we will end up with thousands of reported warnings and errors that cant be automatically fixed (and many many more that can).

[tripal_chado_sniff_report.txt](https://github.com/tripal/tripal/fi

[2018-12-13 13:09] mboudet opened #790 "[Tripal3]Aliases token not filled (empty)"
## BUG/ERROR report

### System information

System info:
Tripal: 7.x-3.0
Drupal : 7.59
Postgres: 9.5.8
Php: 7.1.23

### Issue description
Hi,
I noticed that some of my automatically created aliases are malformed (missing some tokens).
This occurs for the mRNA entity type.
My alias pattern is as follows : features/[obi__organism,TAXRANK:0000005]/[obi__organism,TAXRANK:0000006]/[rdfs__type]/[data__

[2018-12-13 14:43] bradfordcondon opened #791 "warnings when running taxonomy importer"
## BUG/ERROR report
I get the below errors when running the Taxonomy Importer with just an NCBI taxon accession (72004):

[code]

also:

[code]
I only get these warnings when running the importer via my [EUtils module](https://github.com/NAL-i5K/tripal_eutils), i cant recreate them when running it with the base importer.  I'm guessing this is because they arent reported the same way when run in a

[2018-12-13 15:28] bradfordcondon commented on #769
merged and confirmed.  thanks for bringing this to our attention!

[2018-12-13 15:28] #769 closed, assigned to nobody

[2018-12-14 20:19] bradfordcondon commented on #789
I think the best solution is to attach fields to the accession (the tripal 3 entity that maps to your chado.stock type of interest).   The first example you give is stock.organism_id.  This maps to the `obi__organism` field: https://github.com/tripal/tripal/tree/7.x-3.x/tripal_chado/includes/TripalFields/obi__organism

it should already be attached to your stock.   if we look at the `query` functi

[2018-12-14 20:23] bradfordcondon commented on #774
further thoughts:

I think if your tests are written using another framework (say Simpletest) thats still 👍

lets be more specific.  I now have guide for people to set up CI for:
- testing
- code sniffing
- testing coverage

i think that what we're most focused on is testing, though, so lets just say "CI testing" :)

Also, how about "handles uninstall gracefully" (something which i can be lazy abo

[2018-12-14 20:40] bradfordcondon commented on #749
doing as i suggest above resolves the warning, but the content still appears...

https://github.com/tripal/tripal/tree/749_webservices_field_permission

ah ok, but there is a field_permission key.  it has a tpe value, but i think just retruning if the key is set at all is good enough?

[2018-12-17 15:22] Ferrisx4 commented on #371
It looks like this change, and the database update `tripal_chado_update_7329` exposed the fact that one of our entries in that table has `''` (empty string) for `type_id` and is disallowing the update to be performed. This may shed light on why the column had previously been `varchar` (or at least why our site did not complain). However, I doubt it was ever intentional for this field to be an empt

[2018-12-17 15:27] bradfordcondon commented on #371
hi @Ferrisx4 : are you saying running the `update_db` was unsuccessful because you have a type_id with value `' '` ?  If so I'd suggest creating a fresh issue and we can modify the `update_db` to check for type_ids set this way, as you may not be the only site with that setup.

[2018-12-17 15:31] Ferrisx4 commented on #371
@bradfordcondon Yes, that is the exact case. I will create a new issue, thank you.

[2018-12-17 15:49] Ferrisx4 opened #797 "chado_bundle type_id is empty string, blocks tripal_chado_update_7329"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.0
* Drupal Version: 7.61
* PostgreSQL Version: 9.5.7
* PHP Version: 7.0.29

### Issue description

In database table chado_bundle, one row has its `type_id` field set as `''` (empty string).
tripal_chado_update_7329, related issue #371, requires that the field be an integer instead of varchar.
It may be possible, however unlikely

[2018-12-17 16:36] spficklin commented on #797
Hi @Ferrisx4.  Do you know how the empty string was added to that column?  I suspect it may be a result of some older bit of code. As you all were early adopters of Tripal v3 I think it may be safe to just set that record's type_id to NULL and then perform the update.

[2018-12-17 16:46] spficklin commented on #789
I @guignonv all of that Views support from Tripal v2 should still be available.  If it is not working as before then we may have inadvertently broken in.  I'll look at it.

[2018-12-17 17:01] Ferrisx4 commented on #797
Hi @spficklin We discussed this issue as part of our meeting just now and we also think that it is an old condition as you suspect.
Setting that field to NULL is not an option currently as the field is constrained to `not null`. Would changing that constraint temporarily break anything as far as compliance with Tripal table schema definition is concerned?

[2018-12-17 17:06] bradfordcondon commented on #797
why not assign it a random cvterm_id not used by anything else and unset it after migrating?

[2018-12-17 17:13] spficklin commented on #797
Sorry, @Ferrisx4 I was confused.  You're right that column is required.   Every record in that table must have a type_id.  It maps the type for the content type (bundle) to the actual cvterm in Chado.  In the screenshot you provided above, the bundle ID is 28.  It maps to the contact table.  I suspect that without a type ID you're probably not using that bundle?  Can you look in the ``tripal_bundl

[2018-12-17 19:45] spficklin commented on #749
I think this is now resolved with the PR.  Closing but if not please reopen.

[2018-12-17 19:50] bradfordcondon commented on #749
I thought of an edge case i want to test before i close this issue.

if field permissions are set for editing, but anonymous users are allowed to view the field, will it show up in web services?

[2018-12-17 20:54] Ferrisx4 commented on #797
Ah, @spficklin it looks like content type 28 is a "Tripal Contact Profile" type, which is created by an internal module. We're debugging to see why it was not created with a `type_id`.

[2018-12-17 23:06] spficklin commented on #797
If you use the Tripal API functions then that content type should have been created with a type_id.  So, I'm guessing it may have been created in the buggy days of the code?   If you need that conent type then we may have to do some SQL additions to get you past this.

[2018-12-17 23:53] spficklin commented on #790
I agree with the fix for issue # 1.  Thanks for spotting it!

For issue # 2...  The ``tripal_no_storage`` back-end is meant for fields that store data inside of the Drupal tables. The ``rdfs__type`` field pulls data from the bundle so that makes sense.  Any data that comes from Chado should use the ``field_chado_storage`` back-end.  This includes fields that are implemented using the TripalField c

[2018-12-18 00:02] spficklin commented on #774
Okay, I changed the language above to read:

I changed the language for CI to:

It's not that hard to encourage code sniffing, although it is a royal pain to fix if you have thousands. But I'm tempted to require an A or B rating for code sniffing.  What say ye?

[2018-12-18 00:04] bradfordcondon commented on #774
do you require sniffing is set up, or that its smell free?  big difference.  And do you speicfy the standard (Drupal) or do you allow PSR2...

[2018-12-18 09:10] mboudet commented on #790
Well, among the tokens I use, only the rdfs__type is tripal_no_storage. The two tokens I have issue with (that I have tried) are [data__identifier] and [schema__name], using the field_chado_storage backend, and text type.

The issue is that

[code]
 does not actually load fields which are not not TripalField class (so, text type and possibly other).

[code]

The _if_ part is not used because tripa

[2018-12-18 17:29] spficklin commented on #790
Hi @mboudet .  So, in the PR #796 you added code to the hook for the `tripal_field_storage_load()` function.  Did that actually work for you?

[2018-12-18 20:51] bradfordcondon commented on #732
I've [written a custom "all children info" field.](https://github.com/statonlab/tripal_manage_analyses/tree/gene_field/includes/TripalFields/data__sequence_features)  It uses chado_expand_var to expand the residues, props, _cvterms, and featurelocs of each child feature.  It stores it in an indexed array where each ndoe is the feature_id, with keys info (the expanded info) and children (an array o

[2018-12-18 21:01] srobb1 opened #800 "Questions about upgrade from Tv2 to Tv3"
CentOS 7.2.15.11
tripal-7.x-2.1-beta2 --> tripal-7.x-3.0-rc3

We are getting errors pretty early on in our upgrade. We are following the instructions on [tripal.info](https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/upgrade_from_tripal2.html).

When we disable tripal-core we find that we are missing many views. What should we do to repair this?

Thank you,
Sofia

[code]

[2018-12-18 21:23] bradfordcondon commented on #768
breathe no longer breaks if theres no type on the parameter (although the more info to display, the prettier breathe is).
I've also got it set up on one of my modules: see here . https://tripal-eutils.readthedocs.io/en/latest/development.html

actually we can have RTD run doxygen. .  see:  https://breathe.readthedocs.io/en/latest/readthedocs.html
I am doing this on the above linked eutils module.

[2018-12-18 22:11] bradfordcondon commented on #800
those warnings dont worry me too much: for whatever reason you dont have the views, and we're trying to disable them.  We can see the modules are disabled successfully.  I'd continue with the upgrade process.

As for why you dont have them, that i don't know: they are provided by their respective legacy module.

[2018-12-18 22:21] srobb1 commented on #800
@bradfordcondon Thanks for your help. I just want to make sure I don't skip over any important errors.

I have no idea either why I would not have those views.

We have more errors. This is about tables already existing.  Are these serious?

`exception 'DatabaseSchemaObjectExistsException' with message 'Table  [error]`

 Here is what we did:

[code]

[2018-12-18 22:37] bradfordcondon commented on #800
i dont think it will help with this error, but theres a more recent tripal release v3.0, its up on the drupal release too at https://www.drupal.org/project/tripal/releases/7.x-3.0.

In answer to your question, yeah, now I'd take pause and lets figure out what the problem is.
Tripal 3 supposedly is smart about this:    It moves the old tripal tables and migrates them, see here:

https://github.com/

[2018-12-18 22:43] bradfordcondon commented on #749
unfortunately i've confirmed my fix was too simplistic.
if we set custom permissions allowing admins to set the value, but anyone to view it....
![screen shot 2018-12-18 at 5 42 29 pm](https://user-images.githubusercontent.com/7063154/50187540-5437ef00-02ec-11e9-8050-3003d358977b.png)

The field will appear on the content page, but not on web services: we exclude it because the field permission is

[2018-12-18 23:05] bradfordcondon commented on #749
@spficklin what is hte permission level of web services?
The below snippet works as intended assuming web services should have permissions of an anonymous user.
Or does web services have a user account, and i should use `$global user` ?

[code]

[2018-12-19 03:44] srobb1 commented on #800
@bradfordcondon
Let me walk through this to make sure everything is as it should be.

For me to manually rename a table I need to:
[code]
Is all of this as expected? Could there be some sort of permissions errors?

[2018-12-19 08:00] mboudet commented on #790
Yes it did. However I only tested for the mRNA entity, so I'm not sure if it would works for all types.

[2018-12-19 15:54] srobb1 commented on #800
I am trying again. And before I started I checked for all those views that can't be found. They are there. Why would be reported as not being there?

[2018-12-19 16:54] bradfordcondon commented on #732
Here is the **child property** field, which consists of collapsible fieldsets.  The idea is the gene has child features for mRNA, which in turn have all sorts of children and grandchildren.  The field collects all featureprops associated iwth all children/grandchildren, etc, and displays them in each mRNA's collapsible fieldset.

![screen shot 2018-12-19 at 11 38 19 am](https://user-images.githubu

[2018-12-19 17:18] bradfordcondon commented on #762
I can use the term `part_of` no problem.

Now that Im looking at your screenshot, you use the term "I-box promoter motif" and thats what is giving you a problem.  I can recreate the error, but look what happens if i look for this cvterm: `select * from chado.cvterm where name='I-box promoter motif';`

I think the actual issue is that there are **Sequence ontology terms in the autocomplete that don

[2018-12-19 17:22] bradfordcondon opened #801 "sequence ontology term autocomplete includes synonyms which form may not handle"
noticed in #762 but the issue pertains to all sequence ontology lookups.

Some terms appear in the lookup ('I-box promoter motif') but are not in my sequence ontology.

![screen shot 2018-12-19 at 12 19 22 pm](https://user-images.githubusercontent.com/7063154/50236506-93b41900-0388-11e9-832a-e16e14925660.png)

[code]

This affects everything that has a term lookup: for example, the annotation fiel

[2018-12-19 17:25] bradfordcondon commented on #801
[code]

![screen shot 2018-12-19 at 12 24 16 pm](https://user-images.githubusercontent.com/7063154/50236667-04f3cc00-0389-11e9-8fd4-53d683956d34.png)

OK figured it out.  the autocomplete includes SYNONYMS.  There is no I-box promoter motif term, just I-box, with the other term serving as a synonym.

.  so we need to either a) cut synonyms, or b) accommodate synonyms when looking up terms.

[2018-12-19 19:41] srobb1 commented on #800
Any idea what version of PHP is being used on CentOS 7 when the system is upgraded from Tv2 to Tv3?

[2018-12-19 19:50] bradfordcondon commented on #800
in the test environment its 7.1 .

[2018-12-19 20:36] srobb1 commented on #800
drush version 8.1.16
php version 7.1.25

Thanks. We upgraded to PHP 7.1. This seems better because any other PHP upgrade broke the functionality of the Tv2 site and with this version of PHP Tv2 site is still working! Yeah!

We still get messages about the missing views and the table tripal_jobs already exists.

We tried to proceed to the prepare chado db step. We get this errors. Does anything pop

[2018-12-19 20:39] bradfordcondon commented on #800
something is very weird.  `tripal_expire_files`,  `tripal_tripal_cron_notification` these are all functions that are defined by the module `tripal`.  erego, you don't seem to have `tripal `enabled.

can you clarify exactly what upgrade step you are at?  can you verify tripal is enabled ie

[code]

looking at it again, it looks like you have tripal_core still enabled (ie tripal 2), `/var/www/html/s

[2018-12-19 20:58] srobb1 commented on #800
We are going to try from the beginning again to make double sure that we are disabling and deleting the old modules. We have done this a bunch of times now, maybe we missed something this time.  Ill post something helpful soon, hopefully.

[2018-12-19 22:32] laceysanderson commented on #791
Thanks for the Fix @bradfordcondon! Pr was merged so I'm closing out this issue :-)

[2018-12-19 22:32] #791 closed, assigned to nobody

[2018-12-20 03:45] bradfordcondon commented on #724
pr merged

[2018-12-20 03:45] #724 closed, assigned to bradfordcondon

[2018-12-20 07:20] risharde commented on #797
Hi guys, the following code was used to create the bundle, this was most likely executed a few months ago to create the bundle:

		$args = array(
			'vocabulary' => 'local',
			'accession' => 'tripal_contact_profile',
			'term_name' => 'Tripal Contact Profile',
			'storage_args' => array(
				'data_table' => 'contact',
			)
		);
		$bundle = tripal_create_bundle($args, $error);

@spficklin Any advi

[2018-12-20 16:36] laceysanderson commented on #732
Looks good @bradfordcondon!

I'm personally leaning towards core as it looks like a nice, generic solution for child/grandchild properties and I can see many uses for it. Is it generic enough to work on any chado table with an associated relationship table (e.g. stock, project)?

I think it does need to be included in the field's `value` so that this information can be made available on web-servic

[2018-12-20 16:42] bradfordcondon commented on #732
no but it easily could be.  It's basically a super-relationship field that loads in stuff about the children via `chado_expand_var`.  So, each content type could have different tables to expand, no problem.  What tables would you want expanded for stock and project?

That's fine, but i need help from people in the now on how to make other fields "wait" for the master field to load.  Right now im c

[2018-12-21 04:09] laceysanderson commented on #732
Found [this comment](https://www.drupal.org/project/computed_field/issues/378312#comment-7755311) regarding controlling the order of field loading (i.e to ensure this field is loaded last)

[2018-12-21 19:44] srobb1 commented on #800
We could not resolve these issues. I am going to start with a fresh install of Tv3 and reload all the data.

[2018-12-21 19:44] #800 closed, assigned to nobody

[2018-12-21 19:49] srobb1 opened #803 "Rapid install and tripal git repo"
Hello,

Are there any suggestions on how to replace the tripal directory created with the rapid install with the tripal git repository? We tried disabling tripal, deleting the directory and cloning the repo. When trying to enable tripal again we get errors that tripal is already enabled. But it isn’t and the site is not functioning.

Thanks,
Sofia

[2018-12-21 21:04] laceysanderson commented on #803
In the past I have put the site in maintenance mode, left tripal enabled, deleted the directory and replaced it with the git clone. That said, I'm surprised your method (which is the correct way to replace modules) didn't work...

[2018-12-27 03:47] spficklin commented on #763
I believe this is now resolved given the merged pull request.

[2018-12-27 03:47] #763 closed, assigned to nobody

[2018-12-27 04:05] spficklin commented on #623
@laceysanderson does this new doc page address this issue?

https://tripal.readthedocs.io/en/latest/dev_guide/custom_field/create_instance.html

[2018-12-27 04:06] spficklin commented on #762
Hi @laceysanderson just checking on this.  Will we have a fix for the v3.1 release soon?  Thanks.

[2018-12-27 04:54] spficklin opened #804 "Project vs Analyses for Whole Genome"
Should we update the documentation to use a project for the whole genome example rather than use an analysis?

https://tripal.readthedocs.io/en/latest/user_guide/example_genomics/analyses.html

[2018-12-28 08:54] spficklin opened #805 "Fields disappearing even when not empty"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version: N/A

### Issue description

When hiding of empty fields for a content type is turned on, then fields that are marked to not auto attach (meaning they should be loaded via AJAX) are automatically removed from the Tripal Pane table.  This is because they are technically "

[2018-12-28 10:29] spficklin opened #807 "JS function calls after AJAX loading of fields"
## Feature Request/Discussion

* This feature doesattempt to solve an existing problem with Tripal
* I am open to developing or collaborating on an extension module if this is not a good fit for Tripal Core

* This feature is Not Urgent

### Description

When fields load via AJAX (i.e. they are not attached by default to the entity) any content that they provide does not get run through the Drupal

[2018-12-28 10:33] spficklin commented on #785
I believe this is resolved.

[2018-12-28 10:33] #785 closed, assigned to bradfordcondon

[2018-12-29 04:41] laceysanderson commented on #623
Unfortunately not. We need a page showing how to create an instance of the class in order to retrieve select values and/or test it. This would be for use in a custom form, search or views handler.

The documentation you linked to shows how to attach the fields to  content types.

[2018-12-30 01:48] bradfordcondon commented on #804
* projects offer very little- just a few columns.  i dont think we have many functional linker fields, either.

So the example will just have a name and a description, and whatever linkers work out of the box.

* I'm against the adoption of projects for NCBI databases other than BioProject.  I think its confusing, I think it is forcing data into Chado for the sake of Chado.  I think Anayses should

[2018-12-30 04:51] spficklin commented on #623
Hmm... I'm not sure the class was ever meant to do that.  I would think you would be able to test the field classes by using the Drupal functions for dealing with entities and making sure that the entity object has the correct elements.

[2018-12-30 04:54] spficklin commented on #803
A cache clear may be needed as well.

[2018-12-30 17:13] laceysanderson commented on #762
I took some much needed time for family this holiday season :-) Working on it today.

[2018-12-30 18:16] laceysanderson commented on #762
### Remaining Issues (original numbering):
1.  When adding a new entity for a content type that has relationships it's not clear how to refer to the record being added such that it can be used in a relationship. It's only possible to set relationships for entities that already exist and editing them.

6. On some theme's, the widget expands out of the box. [original screenshot](https://user-images.

[2018-12-30 18:45] laceysanderson commented on #762
PR Submitted for current fixes.

[2018-12-31 02:25] spficklin opened #810 "TODO: move functional docs out to extension modules"
We have the docuemnts for the tripal blast, interpro and kegg modules inside of the Tripal's User's Guide.  I think we can easily move them over to RTD setups for those modules on their own and then just link to them.  As long as we make sure they continue to use the same example data I don't see a problem with this and it ensures that no extension module docs are in the the core documentation.

W

[2018-12-31 14:02] laceysanderson commented on #804
I think projects offer an intuitive grouping mechanism for analysis'. **However, I think we should hold off on switching the documentation until we have a field allowing a user to intuitively link/create multiple analysis' for a project.** I feel this way since we don't want to lose metadata they would associate with an analysis.

Currently projects offer:
- name
- description
- cross reference
-

[2018-12-31 14:21] laceysanderson commented on #810
**My Vote: yes, move it out to each extension module and link to it in the Tripal RTD.**

I like the idea of moving it out since it gives each extension module more presence, better accessible documentation and makes it easier to update the documentation with each code update to the module.

[2018-12-31 16:06] bradfordcondon commented on #810
sure.  we do lose searchability is the only drawback i can think of, but im still in favor of moving.

[2018-12-31 18:15] bradfordcondon commented on #108
done in tripal 2 with #617 but looks like this issue is actually for t3 so leaving open.

[2018-12-31 18:31] bradfordcondon commented on #804
I'd really like to discuss and consider the analysis->project mapping more.  Perhaps its something that will have to wait for PAG.

Please consider loading a genome for Bos taurus: lets pick one of the 3 available assemblies: https://www.ncbi.nlm.nih.gov/assembly/GCF_002263795.1

this is assembly is already part of at leaset 2 projects:
[Project](https://www.ncbi.nlm.nih.gov/bioproject/416842)
[Pr

[2018-12-31 20:39] bradfordcondon commented on #803
is this related to your other issue?

disable and uninstall the module and delete the directory. clear the cache as stephen suggests.  You get warnings at this step?

[2018-12-31 20:43] bradfordcondon commented on #797
do you also have the base contact bundle when that code was run? ie with term `local:contact`?  If so you have two bundles trying to use that base table, with no type differentiating them, could result in the lacking type_id.

Similarly.... what is the contact bundle whose tpe_id is 2820?
  here is my vanilla contact:

[code]

In your table you have two contact types, neither of which says it has

[2018-12-31 20:50] bradfordcondon commented on #757
we've implemented this.

https://tripal.readthedocs.io/en/latest/dev_guide/contributing/pull_requests.html

its added to the docs.  no discussion.  im closing.

[2018-12-31 20:50] #757 closed, assigned to bradfordcondon

[2018-12-31 21:08] bradfordcondon commented on #749
looks like there is a `$user` for web services?  I get access denied incognito, and user reporting as admin otherwise.

So im still not positive thats correct: something using web services will have a drupal account on the local site, and we want to check the permission of that account?

[2019-01-02 17:58] spficklin commented on #810
Sounds good! I'll add it to the 3.2 release milestones.

[2019-01-02 17:59] spficklin commented on #762
Does the PR fix all the outstanding issues?

[2019-01-02 18:26] laceysanderson commented on #762
Unfortunately not. Problems 1 & 6 above are still outstanding. However, they do not need to make it into the 3.1 release (in my opinion).

[2019-01-02 19:26] spficklin commented on #762
Okay.  Thanks. I've removed them from the 3.1 milestone/project

[2019-01-02 19:38] srobb1 commented on #803
@bradfordcondon Not related to my other issues. This is a 100% new install on a new VM.

When I try to disable it I get this:
[code]

[2019-01-02 19:51] srobb1 commented on #803
I got it!!

I Did Not disable, I Did Not uninstall. I just deleted the tripal dir and cloned the repo and cleared the cache. Your way @laceysanderson works great!!

Thanks everyone!

[2019-01-02 23:01] spficklin commented on #803
Glad you got it!

[2019-01-02 23:01] #803 closed, assigned to nobody

[2019-01-03 00:27] srobb1 opened #812 "Tried to import GO get type_id violates not-null constraint for goslim_agr"
I have a brand spanking new tripal3 install with the rapid installer. I replaced the tripal module dir with the github repo today.

The very first thing I have tried is to import GO. I am getting an error. Should I have done something else before this. What did I miss???

Is this critical? Or something I can ignore?

Thanks,
Sofia

[code]

[2019-01-03 13:53] laceysanderson opened #813 "Unable to create cvterm-based content type"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x (668b07ce27c26f0481fa8887005608a9b2fcc67b)
* Drupal Version: 7.61

### Issue description
I get a WSOD when I trying to create a content type where the base table is cvterm. This seems to be caused by a missing function to generate the options for a cvterm content type.

#### Steps to reproduce
1. Go to Admin > Structure > Tripa

[2019-01-03 14:06] bradfordcondon commented on #813
https://github.com/tripal/tripal/blob/668b07ce27c26f0481fa8887005608a9b2fcc67b/tripal_chado/includes/tripal_chado.field_storage.inc#L1211-L1228

i searched for similar function names, im guessing it was stubbed and never defined?

[2019-01-03 14:08] laceysanderson commented on #813
It was defined a long time ago. I had to go back to before 7.x-3.0 to find it.
I started work on branch 813-cvterm_entitytype

[2019-01-03 14:17] bradfordcondon commented on #714
Nice argument for adding code sniffing: #813

issue is still unfolding but a function was either renamed or removed in a PR, but the old function name was called in the form.  @laceysanderson had to go back several releases to find it.

If we had sniffer integration, calling an undefined function would get flagged in the PR and we wouldnt make this mistake.

[2019-01-03 14:38] laceysanderson commented on #813
@spficklin I seem to be missing something...

I can now fully submit the create content type form for a cvterm-based type. However, when running the job, I get:
[code]

I set the data table here: https://github.com/tripal/tripal/blob/813-cvterm_entitytype/tripal_chado/includes/tripal_chado.field_storage.inc#L1897-L1899

PS. The full changes so far are here: https://github.com/tripal/tripal/compare

[2019-01-03 15:11] bradfordcondon commented on #706
A rough fix for this issue is to  enable **Load field using AJAX** in the bundle settings (structure -> tripal content types -> (mrna, or whatever feature type is giving you this error) -> edit

The PDO error occurs, but it no longer breaks the site.

as for WHY the problem occurs... Im not sure.  the SQL itself looks OK (albeit very complex.  is it a good idea to have so much logic packed into th

[2019-01-03 17:35] laceysanderson commented on #813
Got it! PR to follow

[2019-01-03 18:25] bradfordcondon commented on #812
Hello,

Looks like some of the property terms werent defined.  In this case its `addSubset` so should be term `NCIT:C25693`.  This term is inserted on tripal_chado install which makes me nervous.

Can you try running `drush updatedb`?  and/or are the re any jobs in the tripal jobs queue that havent run?

edit- to answer your question, the error itself isnt particularly critical (although it sugges

[2019-01-03 18:37] bradfordcondon commented on #706
hi @laceysanderson if you rerun devseed this should be resolved.

You can confirm by `select residues from chado.feature where name='Contig10011'; ` and verifying it isnt a string of a bunch of fasta header tags.

See https://github.com/statonlab/tripal_dev_seed/issues/73

That said, in other contexts, this error will still occur when the featureloc coordinates exceed the bounds of the actual feat

[2019-01-03 18:51] laceysanderson commented on #706
That's a hard call. Ideally in this case we would have a Tripal error rather then a PDO error but I'm not sure it's worth the time added by an extra query to check first... It could go either way -what are your thoughts?

PS. I'm glad to hear it's fixed in DevSeed!

[2019-01-03 18:57] bradfordcondon commented on #706
I agree throwing a tripal error first would be ideal.

the problem is i'd have to understand that SQL statement to know what to check for to ensure we dont end up with a negative substring, and i already sank more time in it than its worth.

With that in mind I guess i move to tag as wontfix and note that this error occurs when the parent residues wont support whats specified in featureloc.

If I

[2019-01-03 19:09] bradfordcondon opened #815 "OBO importer tests run out of memory at > 2GB in Travis"
The travis build is inconsistently failing, resulting in half passes/half fails. its really annoying and it makes it easy to ignore actual failures in the build/test.

I previously modified it to not test on the GOslim OBO, but thats not enough.  https://travis-ci.org/tripal/tripal/jobs/474957282

As the below excerpt from the log shows, the `tripal_obo_test` vocabulary exhausts memory (sometimes)

[2019-01-03 19:16] bradfordcondon commented on #815
right ok problem is obvious now: we need to up the mem limit for PHP within the travis container.  2GB should be better.

lets jsut try upping the mem limit in the before script:

[code]

[2019-01-03 20:05] bradfordcondon commented on #815
we're running out of memory on the OBO test with 2GB memory.  loading a 120 line OBO.

@spficklin this is definitely a memory leak issue yeah?

[code]

[2019-01-03 21:29] srobb1 commented on #812
I don't have a log of the console. Is there a log file generated. But I do not remember any errors. I think the GO job completed with the error and It did not roll back.

There are quite a few updates needed:
[code]
Perhaps one of these will help with my GO upload.

Ah, now the load is working. So I should up done the updatedb. That is what I missed.

Thank you @bradfordcondon

[2019-01-03 21:31] bradfordcondon commented on #812
great.  the rapid install uses discrete releases and i believe its still set to rc3, meaning its quite a bit behind the current master (and we did a 3.0 release after rc3).

So any time you upgrade core its smart to try `drush updatedb`.

closing.

[2019-01-03 21:31] #812 closed, assigned to nobody

[2019-01-03 21:53] bradfordcondon opened #818 "web services test fails and error with organism web service api?"
the basic web services test fails for me.  it accesses organism web services.  When i visit it: http://tripal.test/web-services/content/v0.1/Organism

[code]

[2019-01-03 21:56] bradfordcondon commented on #818
- i have an organism entity published (not that it should matter).
- other similar ws succeed, empty or not (ie http://tripal.test/web-services/content/v0.1/Analysis , http://tripal.test/web-services/content/v0.1/mRNA) i've tried ~15 content types and only Organism fails.

[2019-01-03 22:05] bradfordcondon commented on #815
im proposing we disable the tests for the OBO file until this is resolved as it makes dealing with all other PRs a pain.

[2019-01-03 22:13] bradfordcondon commented on #801
im proposing to resolve this by not displaying synonyms in the autocomplete box.  the alternative solution means all fields that use autocomplete need to be aware of this issue, OR `chado_get_cvterm` needs to automatically accommodate synonyms which seems weird to me in other contexts.

`chado_get_cvterm` already accomodates synonyms, but it requires the caller to *know* that they are synonyms, wh

[2019-01-03 22:44] bradfordcondon commented on #801
note some forms did react to synonyms: consider the chado fasta importer:

[code]

this change wont break this (although this code is now irrelevant and the check could be removed).

[2019-01-04 02:25] bradfordcondon commented on #801
from @spficklin

so i think the thing to do is look where autocomplete is used and use these functions instead and see if that resolves the problem.  We will have the issue that the term the user inputs is not the term that ends up being used, but that might be ok.

[2019-01-04 05:24] spficklin commented on #815
I'm not sure if that's a memory leak per se.  I don't know why it's consuming 2GB of RAM.

[2019-01-04 05:25] spficklin commented on #801
It was my intention to do that and I thought I had.  I guess I forgot some.

[2019-01-04 05:29] spficklin commented on #818
This looks like the error message from the response you pasted above.

So when web services runs it writes the `@context` to a file (e.g. `public://tripal/ws/context/content.v0_1.organism.json`) rather than including it as part of the JSON response.  User's who want it can retrieve it.  It looks like web services is having problems creating the context JSON file on your site.

Here's the lines of

[2019-01-04 05:30] spficklin commented on #818
Its weird though that other content types don't have this problem.....

[2019-01-04 05:38] spficklin commented on #818
Oh, that was just a warning message.  Here's the real error:

TripalWebService->getResponse() (line 231 of /Users/bc/tripal/sites/all/modules/tripal/tripal_ws/includes/TripalWebService.inc).

Seems to be missing the version and content type in the json file name....

[2019-01-04 06:00] spficklin commented on #818
Okay, I understand the warning/error sequence, but I don't know why you're getting the error and why just for that one content type.   But here's what's going on. Here's the code:

https://github.com/tripal/tripal/blob/32264515df93d61bc2318bfaf73e7c81eaf8ab7b/tripal_ws/tripal_ws.module#L203-L217

Line 207 tries to create the response, but it fails because the file can't be opened. If you look in t

[2019-01-04 06:10] spficklin commented on #812
Just FYI... I have updated the rapid installer to use Drupal 7.61 and Tripal 7.x-3.0.  It still needs testing to make sure there's no unaccounted for side-effects.   Sorry about that @srobb1

[2019-01-04 13:24] bradfordcondon commented on #818
Thanks a lot for the help.

The file exists.
deleting `sites/default/files/tripal/ws/context/content.v0_1.organism.json` resolved the issue.  I was sleepy and deleted it right away without making sure that it was readable like a fool, so I can't answer your other questions.

Foolish now we wont be able to debug the issue :|

[2019-01-05 19:00] spficklin commented on #818
Okay, well perhaps we can close this out and when/if the issue comes up again we can reopen the investigation?

[2019-01-05 19:04] spficklin commented on #813
@laceysanderson I'm not sure who this got lost, but I'm glad you brought it back. I think the PR fixes this so I'm closing.

[2019-01-05 19:04] #813 closed, assigned to laceysanderson

[2019-01-05 19:13] spficklin commented on #804
So @bradfordcondon and I had a conversation yesterday where I proposed that really we are trying to use the Project/Analysis tables for more than what they were designed for.  We are trying to capture information from two types of workflows

1.  Project Design Flow:  this captures information about a project, whose working in it, what components are part of it, etc.  An example may be a consortium

[2019-01-05 19:24] spficklin commented on #774
Oh good point.  I think just setup would be nice.  Yeah, I think it's important that folks know the Drupal coding standards as it helps encourage folks to think outside of their bubble.

[2019-01-05 21:34] bradfordcondon commented on #818
I guess so.  Sorry for fumbling our chance at tracking the cause.  Thanks for the help.

[2019-01-05 21:34] #818 closed, assigned to nobody

[2019-01-05 23:28] laceysanderson commented on #815
I had to re-run tests on 7.x-3.x multiple times today until they passed. I consider this issue critical since it will show in our readme if our tests on master are failing. @spficklin can we disable the OBO test until we figure out why it's consuming so much memory?

[2019-01-06 16:59] srobb1 commented on #812
@spficklin I can redo my build with the new rapid installer. I will let you know if I see any issues.

Thanks!
Sofia

[2019-01-06 19:23] spficklin commented on #815
Sure. No complaints from me.

[2019-01-07 11:12] guignonv commented on #789
Thanks! So we don't have to deal with relationships in views now and only rely on fields. So far, I gave a quick look into what you proposed and it seems ok. But I need to investigate more. I'll let you know if I face new problems. I also have to investigate other uses cases with a colleague.

[2019-01-07 12:25] guignonv commented on #789
Thanks! So we don't have to deal with relationships in views now and only rely on fields. So far, I gave a quick look into what you proposed and it seems ok. But I need to investigate more. I'll let you know if I face new problems. I also have to investigate other uses cases with a colleague and I'm not sure your solution fits but we'll try.

[2019-01-08 16:21] bradfordcondon commented on #801
`tripal_get_term_lookup_form` will not work as is:

I am pretty sure this is because **fields with cardinality dont support fieldsets**.

You can confirm this for yourself by adding the below code to the `form` function of any widget.

[code]

The fieldset and text field will appear on a field with cardinality = 1 (in my experiment i used `taxrank__infraspecific_taxon_widget`).

For a field with u

[2019-01-08 18:53] bradfordcondon commented on #815
PR merged, renaming issue to describe current status, which is that the OBO tests cause the test env to run out of memory.

[2019-01-09 09:30] spficklin commented on #801
@bradfordcondon can you confirm you mean "fieldsets" in your description above?  As in Drupal form fieldsets?

[2019-01-09 09:46] spficklin commented on #789
You should be able to use views on Chado tables just like you did in Tripal v2.  I'm sorry I haven't had time to dig into it to make sure it's working yet....

[2019-01-09 11:55] bradfordcondon commented on #801
hi @spficklin yes Drupal form fieldsets.  I cannot add fieldsets to widgets with cardinality > 1

[2019-01-10 18:14] guignonv opened #821 "tripal_cv_load_obo_v1_2() function not available in legacy mode"
Tripal Version: 3.x (head)
Drupal Version: 7
PostgreSQL Version: not relevant
PHP Version: not relevant

Function tripal_cv_load_obo_v1_2() was available in Tripal 2 but is not present in Tripal 3 legacy mode.

[2019-01-10 21:27] laceysanderson commented on #821
The problem is due to the fact that the legacy obo loader was removed when the new one was created... We got around it by upgrading the module to check/default to the new obo loader if it's available.

That said, this does break backwards compatibility of extension modules in Tripal 3 legacy mode.

[2019-01-12 22:27] bradfordcondon commented on #810
unanimous support so im removing the voting tag.

[2019-01-14 08:16] songtaogui opened #822 "Questions about GFF loading and alignment sequence"
Hi,
I have some custom descriptions for genes recorded in the GFF files as "description=XXXXXX" or "product=XXXXXXX", is it possible to show these information in the result-table of "search gene" or "search sequence" tools ?
Besides, the `mRNA` sequences from the alignment failed to wrapped (concatenated by " " rather than "\n" every 50 characters), while  manually uploaded sequences and `CDS` seq

[2019-01-14 12:33] mboudet commented on #790
Since I still have the issue, is there any better implementation to fix it?
While #796 might have been too heavy-handed, we should still manage the case.

[2019-01-15 10:14] kyrenya opened #823 "fields check"
Hi there,
I'm unable to check for new fields, the site gets frozen there... someone with same issue?

screen doesnt finish loading..
![image](https://user-images.githubusercontent.com/43243429/51173880-5753da00-18ae-11e9-9c5e-9eb465246d23.png)
thx!

[2019-01-15 13:41] almasaeed2010 commented on #823
Hello @kyrenya

Could you please provide your system information?

Tripal version, Drupal version and PHP version.

Thanks!

[2019-01-15 13:45] kyrenya commented on #823
yes, of course! sorry

Drupal core 7.61
Tripal 7.x-3.0
Drush version 7.4.0
php 7.2
Ubuntu 18.04

[2019-01-15 13:54] almasaeed2010 commented on #823
I installed a new tripal site on the same environment and the fields check works for me. Are you using any custom tripal modules?

[2019-01-15 14:14] kyrenya commented on #823
nop, I only added the functional ones: blast and interpro
the strange thing is that I also have other site with a minified version of my data, where the check fields works perfectly fine. But in this big one, it doesnt. The other stuff like manage field and manage display also work fine, the trouble is only with check new fields :S .

[2019-01-15 14:21] almasaeed2010 commented on #823
hmmm you might need to update your tripal version to the latest master branch. I recall this issue was fixed not long ago. Do you know how to get tripal from github instead?

[2019-01-15 14:26] kyrenya commented on #823
sorry I was thinking in your comment above.. and I've just remembered at some point, I had an issue with the mRNA and gene fields, I wanted to unpublish everything, but that was not possible (or I didnt know how to do it..), and making it one by one was not fine (65000 entries approx), so I ended up making the dirty thing of deleting the field and creating it again.. (I completely forgot about tha

[2019-01-15 14:30] almasaeed2010 commented on #823
Yeah tripal does not offer a way to delete from Chado yet but you can clear orphaned pages using tripal. Try visiting `/admin/content/bio_data/unpublish` then choose mRNA to see if there are any "orphaned" content. If there is, you should clear it.

[2019-01-15 14:31] kyrenya commented on #823
Thanks, I'll take a look.. anyway I'm checking right now the fields issues in other fields, and I have the same trouble.. so maybe the problem is not because of the custom ones...

[2019-01-15 14:32] almasaeed2010 commented on #823
If that doesn't fix the issue, I'd definitely try upgrading tripal next.

[2019-01-15 14:38] kyrenya commented on #823
ok,
so now specific question to do that.
I installed tripal with the rapid installation method in the documentation..
in order to update my tripal version to the latest master branch, is this process the right way to proceed?
go to /var/www/html/sites/all/modules          and git clone https://github.com/tripal/tripal.git  there?

[2019-01-15 14:50] almasaeed2010 commented on #823
Yes. You just have to backup the old version before running the `git` command (you can simply move the tripal folder to another location).

[2019-01-15 14:50] kyrenya commented on #823
cool, thanks!

[2019-01-15 17:18] bradfordcondon commented on #774
I personally dislike Drupal naming rules for branches, and prefer to use the industry standard branch names (master instead of 7.x-3.x etc).

The releases we create follow Drupal rules however (or at least i try to, i still find them confusing).

Do you think this is an important requirement?

In general when Drupal does something different from industry in terms of project management i raise the

[2019-01-16 20:22] bradfordcondon commented on #786
Progress summary from PAG on this issue at: https://docs.google.com/document/d/1cyv3cGDKqAYXpZ9UNsDwPMO4QI7fsJuXUIAiCuzMeEE/edit#heading=h.ss2d09glm34k

im grateful to those present for meeting and discussing.  Were there any action items created in terms of forming the committee/taking first steps?  @mestato ?

[2019-01-17 05:05] spficklin commented on #786
Yes, we decided to dedicate Febuary's Tripal User's Meeting to this topic as well as the white paper that Dorrie mentioned.

[2019-01-17 05:09] spficklin commented on #774
I do think that following Drupal branch/release naming rules is important and would be a good requirement.   This git repository is mirrored on Drupal.org and I don't see how we could have different releases on GitHub and Drupal.   I think that would create confusion.... @laceysanderson your thoughts?

[2019-01-17 14:27] bradfordcondon commented on #774
Drupal releases arent listed as part of the ratings, so if thats the main reason....

(we said releases, which i thought included releasing via github.  If we did have a drupal release as a standard, i'd definitely think it would be gold.)

[2019-01-17 15:02] almasaeed2010 commented on #774
Hello all,

I have to agree with @bradfordcondon in that conforming to this naming convention is not necessary to produce quality modules. We recently published tripal elasticsearch on the Drupal website without having to convert to this way of naming. Drupal did not complain and it allowed us to pick the branch that we consider the main `master` branch.

I do agree though that versioning in the D

[2019-01-17 15:10] almasaeed2010 commented on #823
Hello @kyrenya

Just to follow up. Did upgrading work for you?

[2019-01-17 15:15] kyrenya commented on #823
nop, it didn't. I suspect that maybe the reason was the fact that mRNA and gene fields were custom ones, and I ended up building again the site from scratch, because managing fields was not working at all, even with the upgrading. No trouble by now with the new built. Thank you!

[2019-01-17 16:01] laceysanderson commented on #774
I believe the bronze standard should be releases which conform to the Drupal naming scheme: `drupal version - module version` but I think branch names should be flexible. I also think releases via GitHub should hold the same weight as releases via Drupal. Developers need to be able to choose the system (github/Drupal.org) they feel is best, as well as, the branch-ing scheme which works best for th

[2019-01-17 16:02] bradfordcondon commented on #774
while we're talking about this, what version should the module start at?  I notice that galaxy starts at 7.x-1.x (https://github.com/tripal/tripal_galaxy) whereas, say, jbrowse started at 7.x-2.x and is now at 7.x-3.x .   Functional annotation modules also follow the tripal version (but they've been around and their releases correspond to Tripal releases).

Put another way, should the module versi

[2019-01-17 16:06] laceysanderson commented on #774
I think we can make a recommendation for where versions should start but not a requirement :-) I'm very inconsistent here as my views keep changing 😝 not sure what I would even recommend

[2019-01-17 16:08] almasaeed2010 commented on #774
My vote would be to start from `1.x` and inform the user that this version works with tripal X. In my mind at least I wouldn't release a new module starting from v3 when v1 and 2 don't exist 😅

[2019-01-17 17:08] almasaeed2010 opened #824 "Tripal DS should trigger a window resize event after showing a pane"
## BUG/ERROR report

### System information

* Tripal Version: 3
* Drupal Version: 7.6
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

Tripal DS uses jquery animations to show/hide Tripal panes. Many modules, including tripal_analysis_interpro and tripal_analysis_blast, draw charts that show up after the page has loaded. Since they are in a hidden container, the width/height o

[2019-01-17 19:04] kyrenya commented on #823
other point to comment in the same line:
I've created a custom field: CDS, and  I am experimenting also issues with the check new fields option, and also in managing display, I have the problem that I cannot choose Full Mode instead of Teaser, any help with that?
![image](https://user-images.githubusercontent.com/43243429/51341997-950d5a00-1a8a-11e9-8ae6-3acfddc218e3.png)
when I click Save.. the p

[2019-01-17 21:36] bradfordcondon commented on #822
hello, sorry about the slow response.

I believe that the GFF loader will load all unexpected attributes in the Chado featureprop table, using the `feature_property` namespace: these will consequently be available on the feature entity page using hte Chado property field.   Because they are available as properties, yes, they will be searchable although you might have to set up a custom search page

[2019-01-18 03:33] songtaogui commented on #822
Thank you for your kind reply.

For example, at the [cottongen.org](https://www.cottongen.org) demo-site, while visit the `sequence` tag of the detail page for a transcript, such as [Cotton_D_gene_10013074-BGI-CGP_v1.0](https://www.cottongen.org/node/535317#1566635-413)

The `mRNA sequence` ( from manually uploaded mRNA.fa, I guess ) works fine:
![image](https://user-images.githubusercontent.com/1

[2019-01-18 14:29] bradfordcondon commented on #822
the first sequence is associated with the mRNA feature (the feature.residues column value).  The second, with the spaces, is derived from the sequence of the parent feature (chr8).

So If I understand you, you'd like the `"  "` whitespace characters to be newlines in the presentation of the CDS, is that right?
Honestly its kind of strange to see the spaces there at all...

[2019-01-19 01:15] bradfordcondon commented on #823
I think tripal content only supports full mode, not teaser mode.

[2019-01-19 11:37] kyrenya commented on #823
I have other tripal content pages as teaser,  is the default mode I think,  and they work fine.  I only changed to full in mRNA content  because of interpro and blast visualisation issues..  But now I'm not able to go back to teaser mode...

[2019-01-19 15:13] laceysanderson commented on #823
Hi @kyrenya, I've also noticed issues when clicking save on the Structure > Manage Display page for Tripal Content Types. Do you end up with the same page time out when changing the order of fields on the manage display page and then clicking save? Also, is it consistent or does it sometimes work?

[2019-01-19 16:08] kyrenya commented on #823
Exactly! I’ve observed that behaviour too!

[2019-01-19 16:46] laceysanderson commented on #823
This seems to be a performance related issue due to scanning directories for Tripal Field files.

![screen shot 2019-01-19 at 10 44 16 am](https://user-images.githubusercontent.com/1566301/51429740-36a1c200-1bd7-11e9-803d-a68b2bc068b7.png)

Specifically, the following calls
[code]

If these are commented out and `$field_files = array();` is added (see [823-debugging.patch](https://github.com/tripa

[2019-01-19 19:06] kyrenya commented on #823
Thanks a lot, I'm gonna try!

[2019-01-19 19:33] kyrenya commented on #823
it seems to work, because now changes are supposed to be loaded,  but got some bugs, i.e, I have configured the Organism Image label to be hidden, and is still displayed..
Thanks for your help, I'll come back to this in monday :) have a very nice weekend !

[2019-01-20 18:26] laceysanderson commented on #823
See branch [823-file_scan_performance](https://github.com/tripal/tripal/compare/823-file_scan_performance) for my current progress... [NOT READY FOR TESTING]

[2019-01-21 11:26] guignonv commented on #774
That's what I use (Drupal code sniffer) for my modules and it's just a pain the first time(s). :-) Then you learn and know what to do or not to do and the next passes are usually easy to fix. And then, your code is easy to read by everybody and that's the very important point. Regardless you like it or not (I personally don't like all the Drupal coding standards), it's the common way to share your

[2019-01-22 11:28] kyrenya commented on #823
ok, I'll be paying attention to that! Thx!

[2019-01-22 14:44] laceysanderson commented on #823
It's ready to test now! I'll be creating a PR for it in the next hour or so. I was just confirming that another bug I observed was not caused by this fix :-) 👍

[2019-01-22 15:14] laceysanderson opened #826 "Unable to configure field display with Tripal DS enabled"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x dev (3244f2dc184513d1c4576fb29b2d72e6f61d4413)
* Drupal Version: 7.63
* PostgreSQL Version: 9.4.10
* PHP Version: 7.1.25

### Issue description
When configuring the display for any Tripal content type, I am unable to configure any field. For example, when trying to configure the relationships formatter for an organism, I click

[2019-01-22 15:54] laceysanderson commented on #823
I've submitted the PR [here](https://github.com/tripal/tripal/pull/828). It would be great if you could test it @kyrenya :-)

[2019-01-22 16:00] kyrenya commented on #823
sure! stupid question, should I just make a git pull in my tripal module, to update it and then make the test? or shall I change manually any file before? Thx so much for taking care of this! I will let you know if it works for me as soon as I can test it! :)

[2019-01-22 16:07] bradfordcondon commented on #823
[code]

that should be it (dont think you need to clear cache looking at it)

[2019-01-22 16:08] kyrenya commented on #823
ok, I think I have it! got this!
![image](https://user-images.githubusercontent.com/43243429/51548288-f739d680-1e5f-11e9-90f7-7dfc760be8ee.png)

thx thx

[2019-01-22 16:11] bradfordcondon commented on #823
no problem.  dont forget to check out the main branch again (7.x-3.x) when the fix has been merged so you can continue to get updates.

[2019-01-22 17:39] kyrenya commented on #823
perfect! fields managing and display working much better! Thanks so much!

[2019-01-22 21:01] bradfordcondon commented on #732
I've wandered a bit on this so I'm posting what I've got to solicit feedback.

The proto fields are available at https://github.com/statonlab/tripal_manage_analyses if you want to try them out.

Heres what we have:

`data__sequence_features` is the master field.  it loads first.  It stores data as follows:

[code]
So each direct child of the entity gets its own value element.  The end result is (h

[2019-01-22 21:23] laceysanderson commented on #732
I like this approach and feel it should be core functionality 👍 From discussions with users, I feel this is expected functionality which currently causes our gene pages to fall short. Thanks for all your work on this @bradfordcondon!

[2019-01-22 21:45] laceysanderson commented on #732
I like the idea of making the feature_cvterm functionality an alternate formatter. I personally think we should simply add the recursive loading to the current SIO__annotations->load() and add a setting for the field to turn off recursive loading. It can be on by default but this way if it provides problems for larger sites then they can turn it off

[2019-01-23 16:07] bradfordcondon commented on #749
merged, thanks for the reviews all.

[2019-01-23 16:07] #749 closed, assigned to bradfordcondon

[2019-01-23 19:23] bradfordcondon commented on #815
ok we've got two things going on here.

## importer test fails with too many organisms

The taxonomy importer test, that checks the import_existing flag is what runs out of memory.

https://github.com/tripal/tripal/blob/85b3c2988e5ebc8083c67b34ed8fa1ef7efd253e/tests/tripal_chado/loaders/TaxonomyImporterTest.php#L18-L47

it does this because the taxonmy importer does no error checking from NCBI whe

[2019-01-23 19:40] bradfordcondon commented on #815
I added a `sleep` failsafe to prevent sending more than 3 requests/second to NCBI, thus fixing the taxonomy Importer.

I'm at a loss why we still have organisms in our database....

[2019-01-24 13:37] almasaeed2010 commented on #815
Here is why we have organisms, stocks and projects in our DB (and their corresponding entities) https://github.com/tripal/TripalTestSuite/issues/136#issuecomment-457186961

I've implemented the solution suggested in that issue and will submit a PR soon.

[2019-01-24 14:20] bradfordcondon commented on #823
this has been merged.  Thank you @laceysanderson for the fix and @kyrenya for bringing the issue to our attention!

[2019-01-24 14:20] #823 closed, assigned to nobody

[2019-01-24 16:21] bradfordcondon commented on #815
ok.  this is resolved on both sides.  big thanks to @almasaeed2010 for providing the other half of the fix.

[2019-01-24 16:21] #815 closed, assigned to bradfordcondon

[2019-01-24 16:23] bradfordcondon commented on #531
this has been merged so im closing.

a child issue was created #762 for additional problems with the widget.

[2019-01-24 16:23] #531 closed, assigned to laceysanderson

[2019-01-24 16:42] bradfordcondon commented on #824
merged. thanks for the fix.

[2019-01-24 20:14] bradfordcondon commented on #732
im not sure what to do about gracefully adding the SIO__annotation information.

heres the base field for reference: https://github.com/tripal/tripal/blob/7.x-3.x_732_gene_pages/tripal_chado/includes/TripalFields/data__sequence_features/data__sequence_features.inc

Heres the relvant part of hte SIO__annotation field

https://github.com/tripal/tripal/blob/effd01dc0da2530865b69455e8778a4c62544654/tr

[2019-01-24 21:21] laceysanderson commented on #826
I'm at a bit of a loss here. @shawnawsu  do you have any ideas what might be causing this?

[2019-01-25 14:19] bradfordcondon commented on #824
I'm reopening this issue: it appears this fix isn't effective for safari or firefox

[2019-01-25 14:26] almasaeed2010 commented on #824
My opinion is that since manually resizing the window on Safari /FF doesn't fix, then this is a library issue not a Tripal issue. The library may have implemented the event listeners to support only Chrome.

[2019-01-25 14:29] almasaeed2010 commented on #824
If you want to verify it is not a Tripal issue, simply add a `console.log()` and make sure it fires when you click on the pane link.

[code]

[2019-01-25 20:02] bradfordcondon commented on #824
updating our featureviewer library to 1.0.4 resolved the problem.  abdullah is correct its a library issue not a Tripal issue.

[2019-01-25 20:02] #824 closed, assigned to nobody

[2019-01-28 02:45] bradfordcondon commented on #805
#806 was merged so closing this as resolved.

[2019-01-28 02:45] #805 closed, assigned to nobody

[2019-01-28 13:57] mboudet opened #838 "Weird field behavior with Ajax calls in field formaters"
Hello,

I'm currently working on updating tripal_analysis_go for Tripal 3.
Thanks to #607, I managed to include an Ajax call in the field, allowing me to replicate the module features.

However, when I make the Ajax call, I have some weird behavior : the 'close' button on all fields is duplicated.

Example:

![image](https://user-images.githubusercontent.com/17642511/51840623-d284a980-230c-11e9-8b

[2019-01-28 14:04] almasaeed2010 commented on #838
Hello @mboudet

Could you please provide your system information?

tripal version:
drupal version:
php version:
browser name and its version:

It'd be very helpful if we can also take a look at the code that builds the field.

Thanks!

[2019-01-28 14:08] bradfordcondon commented on #838
hey @mboudet total aside but did you use the guide i wrote in that issue?  was it helpful?

I decided against adding it to the official documentation but if you had the same question and that helped maybe i should reconsider :)

[2019-01-28 14:08] mboudet commented on #838
Sure :

System info:
Tripal: 7.x-3.0
Drupal : 7.59
Postgres: 9.5.8
Php: 7.1.23

The code for the field would be available here : https://github.com/mboudet/tripal_analysis_go/tree/7.x-3.x/includes/TripalFields/local__go_results

Most of it was auto-generated with the field generator. I added a drupal_get_form to generate the form.

The form itself is build like this :

[code]

[2019-01-28 14:10] mboudet commented on #838
@bradfordcondon Yes it was great, since I had no idea how to make it work.
I think having it part of the official documentation would be a great help for module developer, since it helps creating complex fields.

[2019-01-28 14:18] bradfordcondon commented on #607
@mboudet has suggested that this was a useful guide.  Since another user had the same problem and found this writeup helpful to solving it, im going to PR it to the core docs.

[2019-01-28 14:20] almasaeed2010 commented on #838
Can you try adding the following to tripal_ds.js just before this line:

https://github.com/tripal/tripal/blob/3869f760ee00deaf43f47ee3b55ca45d6d9f3bc3/tripal_ds/theme/js/tripal_ds.js#L6

[code]

If that works let us know please.

[2019-01-28 14:23] mboudet commented on #838
Works perfectly!

[2019-01-28 14:24] almasaeed2010 commented on #838
Ok great! I'll submit the fix as a PR for consideration.

[2019-01-28 14:39] bradfordcondon commented on #838
merged, thank you both.

[2019-01-28 14:39] #838 closed, assigned to nobody

[2019-01-30 02:30] mestato commented on #786
New draft of advisory committee at the end of the "Tripal Community: Draft Guidelines for encouraging open communication" document, which can be found here:

https://docs.google.com/document/d/12bgwGcoH_od6hyle-Aa4USrc-DS8cZ9bbJvfB3jQGyQ/edit?usp=sharing

Comments and edits welcome! For anyone really wanting to dig in deeper on this, I found a few online definitions/examples of advisory board poli

[2019-01-31 12:39] HadarAmira opened #841 "The Drush launcher could not find a Drupal site to operate on"
Hi,
I am new at Tripal and so far just installed Tripal (http://tripal.info/tutorials/v3.x/installation) under Linux Mint 19.1 Cinnamon 4.0.8 and Bootstrap 3.

I have tried to install BLAST function into a Tripal  site using this command: https://media.readthedocs.org/pdf/tripal-blast-ui/latest/tripal-blast-ui.pdf

I got to the 1.2.3 Install Tripal BLAST stage which says to do the next step:
cd /v

[2019-01-31 12:43] bradfordcondon commented on #841
Do you know the exact path of where you installed your drupal website?  The "default" location is `/var/www/html`: this command

[code]

see the software installation section of http://tripal.info/tutorials/v3.x/installation/drupal if you did the step-by-step install.

Is your install location different from `/var/www/html` ?

[2019-01-31 12:54] HadarAmira commented on #841
Thank you for your rapid answer! :)

No. I didn't change anything during the installation or after...
When I am inside the /var/www/html I can see the tripal_install, drupal-7.61, moduls, sites atc. directories

[2019-01-31 12:56] almasaeed2010 commented on #841
Hi @HadarAmira

Are you able to visit your site using the browser?

[2019-01-31 12:57] HadarAmira commented on #841
Yes :)

[2019-01-31 12:58] almasaeed2010 commented on #841
Can you try going to `/var/www/html/sites/all/modules` and run `drush pm-download tripal_blast libraries`?

[2019-01-31 13:01] HadarAmira commented on #841
Got that message again...
The Drush launcher could not find a Drupal site to operate on. Please do *one* of the following:
  - Navigate to any where within your Drupal project and try again.
  - Add --root=/path/to/drupal so Drush knows where your site is located.

[2019-01-31 13:02] almasaeed2010 commented on #841
Hmmm that's odd

Can you run `drush --version`?

[2019-01-31 13:04] HadarAmira commented on #841
Now it says the following:

Drush Launcher Version: 0.6.0
The Drush launcher could not find a Drupal site to operate on. Please do *one* of the following:
  - Navigate to any where within your Drupal project and try again.
  - Add --root=/path/to/drupal so Drush knows where your site is located.

whenever I write "drush" I get that message...

[2019-01-31 13:05] HadarAmira commented on #841
whenever I write "drush" I get that message...

[2019-01-31 13:06] almasaeed2010 commented on #841
Ok I am not sure what `Drush Launcher` is. Mine simply says:
[code]
 How did you install `drush`? Did u follow a certain guide?

[2019-01-31 13:10] bradfordcondon commented on #841
drush launcher is a composer based package.  but Drupal 7 doesnt really support composer for the drupal site itself.
Note: drush launcher is **not the same** as drush.  It's a wrapper thats really intended to work with Drupal 8 +.

Other users have reported this issue with a Drupal 7 site:
https://github.com/drush-ops/drush-launcher/issues/45

you could try the fixes there, but we wont be able to

[2019-01-31 13:12] bradfordcondon commented on #841
in addition, we've moved the guides over to https://tripal.readthedocs.io/en/latest/user_guide/install_tripal.html . So you might want to follow the documentation there in the future.

[2019-01-31 13:14] bradfordcondon opened #842 "old drupal guide is still up"
we changed the links on tripal.info to the updated guides, but the pages are still there.    A user was using the old guide, probably landed there via google.

We need to disable, delete, or permission those pages.

[2019-01-31 13:16] bradfordcondon opened #843 "install drush page should provide link to drush 8 docs"
https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/drush_installation.html

The "main" drush guides point you to the composer way of installing assuming d8+.  We should explicitly point to the d7 drush (drush 8) install instructions with a note about drupal versions.

[2019-01-31 13:16] HadarAmira commented on #841
I installed drush according Drupal guide: https://www.drupal.org/node/1248790 .
I will try to install drush 7 and the fixes there @bradfordcondon

Thank you both!
have a great weekend :)

[2019-01-31 13:17] bradfordcondon commented on #841
that guide works too, **if** you specified drush v7:  `composer global require drush/drush:7.*`

[2019-01-31 13:17] almasaeed2010 commented on #841
I recommend `Drush 8` (not 9) since it's better maintained and supports Drupal 7.

[2019-01-31 13:56] bradfordcondon commented on #842
see #841 , users are finding the old docs page.

[2019-01-31 14:30] HadarAmira commented on #841
![screenshot from 2019-01-31 16-28-25](https://user-images.githubusercontent.com/33876267/52060706-71134380-2575-11e9-8842-403ea6e0174c.png)

That is what I got when I tried to update the drush version...

[2019-01-31 15:36] almasaeed2010 commented on #841
Try running the following line by line

[code]

This will update your current drush

[2019-01-31 18:29] laceysanderson commented on #842
Old guide has been unpublished 🤞

[2019-01-31 18:29] #842 closed, assigned to nobody

[2019-01-31 18:37] bradfordcondon commented on #842
if you were using the old guide please find hte new guide at https://tripal.readthedocs.io/en/latest/

(@hadiramira)

[2019-02-03 07:20] HadarAmira commented on #841
I wrote the first line and waited until it finished, than I wrote the second line and got that message:
mv: cannot move 'drush.phar' to '/usr/loca/bin/drush': No such file or directory
@almasaeed2010

[2019-02-03 12:20] almasaeed2010 commented on #841
There was a typo in the command. I corrected it above.

Instead of “loca” it should be “local”

[2019-02-03 12:25] HadarAmira commented on #841
I have the same message :(

[2019-02-03 12:58] almasaeed2010 commented on #841
Can you run

which drush

And post the output please?

[2019-02-03 13:08] HadarAmira commented on #841
I just removed my VM. I'm trying to start over ...
Thank you!

[2019-02-03 23:39] laceysanderson commented on #740
Sure, sounds like a good place to me 👍

[2019-02-03 23:49] laceysanderson commented on #649
Merged so I believe this can be closed 🎉

[2019-02-03 23:49] #649 closed, assigned to almasaeed2010

[2019-02-04 14:30] bradfordcondon opened #846 "warning building guide: JSON not valid code block type"
## BUG/ERROR report

This is a simple bug in the build script.

[code]
So, this file uses JSON as a language.  Someone needs to look up what the correct language should be to properly style JSON for Sphinx/RTD  (javascript perhaps?).

[2019-02-04 18:40] kyrenya commented on #387
hi! I'm trying to use the tripal_blast module, and actually got stuck in the tripal_daemon documentation.
I get this message
The Drush Daemon API module requires the PHP-Daemon library v2.0 (Download) Please install it as per the Libraries API Instructions before trying again. (Currently using PHP Daemon Not Installed)

but I cannot figure out how to install the library needed.
when I do
l$ drush

[2019-02-04 19:09] laceysanderson commented on #387
Hi @kyrenya,

I think it's a matter of case sensitivity for your drush command as the following works for me:
[code]

[2019-02-04 19:24] laceysanderson commented on #843
PR Merged 🎉

[2019-02-04 19:24] #843 closed, assigned to nobody

[2019-02-04 19:54] bradfordcondon commented on #607
merged, thank you for the reviews.

[2019-02-04 19:54] #607 closed, assigned to bradfordcondon

[2019-02-05 09:42] kyrenya commented on #387
yep, oops, I was copy-pasting and I didn't pay attention to that, thanks!

[2019-02-05 14:23] bradfordcondon commented on #822
Just revisiting this.... those feature pages are with the legacy feature templates, here:
https://github.com/tripal/tripal/blob/7f35a59c5e48bd173d06da51e28d8abbfebc8594/legacy/tripal_feature/theme/tripal_feature.theme.inc#L286

So once this site switches to full tripal 3 entities, this should be a non-issue.  I'd have to have the GFF to confirm that it looks as we'd hope.

[2019-02-05 14:26] bradfordcondon commented on #801
pinging this issue.  Our status is:

* we want term lookups to use synonyms.  (that's the easiest solution: remove synonyms from autofill.  we ruled it out because we want synonym support).
* therefore we encourage use of `tripal_get_term_lookup_form` for cvterm lookup in fields, since it will handle synonyms.
* However, `tripal_get_term_lookup_form` will not work in fields with cardinality `!=` 1

[2019-02-05 14:29] bradfordcondon commented on #821
i think `tripal_cv_load_obo_v1_2` can just wrap the new tripal 3 loader, right?  That's the solution I would propose if you need that function.

[2019-02-05 14:30] bradfordcondon commented on #797
hi @Ferrisx4 any update on this?  thanks

[2019-02-05 14:33] bradfordcondon commented on #436
i'm adding this to the 3.2 project.  I think collections are ham-stringed by this issue (and also by the field picking which we can discuss as well) and its worth addressing.

[2019-02-05 14:39] bradfordcondon commented on #269
While I think this is a very important issue, I think its definitely a Chado issue and/or a tripal extension module issue so I'm closing this one. Thanks for bringing it up @srobb1 , if you disagree let me know and ill reopen.

[2019-02-05 14:39] #269 closed, assigned to nobody

[2019-02-05 14:41] bradfordcondon commented on #65
Closing this issue as a) moot because deleting in tripal 3 **doesnt** delete the chado record, and b) duplicate with #660 where we got some discussion.

[2019-02-05 14:41] #65 closed, assigned to nobody

[2019-02-05 15:21] laceysanderson commented on #387
Glad it works for you now! I updated the docs with the fix -thank you for bringing it  to our attention!

[2019-02-05 17:52] almasaeed2010 commented on #841
A quick follow up @HadarAmira. Have you managed to get `drush` to work with your new VM?

Thanks!

[2019-02-06 14:39] Ferrisx4 commented on #797
Hi @bradfordcondon, and thanks. The code that was run on our site has been fixed and no longer puts the database in that condition. Between that and a few manual database fixes, we seem to be in good shape.

I'll close this.
Thanks again

[2019-02-06 14:39] #797 closed, assigned to nobody

[2019-02-06 15:39] guignonv commented on #821
I think we try (during the codefest at PAG2019) to use the v3 loader but it does not work like the `tripal_cv_load_obo_v1_2` does. And I think I remember Lacey saying the new version is more restrictive (@laceysanderson can you confirm?). So maybe the idea might be to grab the old obo lodaer version and put it in a legacy module? :-s I don't know.

[2019-02-06 16:24] bradfordcondon commented on #821
if the new loader wont work, then this is the same problem I have currently for tripal_analysis_kegg, where i have a custom OBO that no longer meets the standards the new OBO loader requires: https://github.com/tripal/tripal_analysis_kegg/issues/18

The answer there was "fix the OBO".  i think to move this discussion forward we would need you to link the OBO that wont work with the new loader and

[2019-02-06 17:25] guignonv commented on #821
Don't worry about the OBO, it has been fixed already. :)

[2019-02-06 17:30] spficklin commented on #821
Hi Folks, I thought @shawnawsu and I made sure that the OBO loader was backwards compatible. The same function names should have been used. IF it is not then we have a problem.  Can someone provide details about what's different?

@guignonv you said this above:

The new OBO loader should not be more restrictive, it should actually handle the OBO correctly now, especially at OBOs are increasingly b

[2019-02-06 17:45] bradfordcondon commented on #821
`tripal_cv_load_obo_v1_2` is not in the code base anymore.  see:  https://github.com/tripal/tripal/search?q=tripal_cv_load_obo_v1_2&unscoped_q=tripal_cv_load_obo_v1_2
So thats was my suggestion to implement this function, but creating a OBOImporter class and running it.

edit: I'm also just assuming that said function ever existed :D

[2019-02-06 18:35] spficklin commented on #821
oops... clicked the wrong button

[2019-02-06 20:42] laceysanderson commented on #821
The related issues are https://github.com/tripal/brapi/issues/7 and https://github.com/tripal/brapi/issues/6. The `tripal_cv_load_obo_v1_2` function existed in Tripal 2 but not in much of Tripal 3. To get around this we ended up only using the new obo loader when in legacy mode and fixing the OBO to work with it.

[2019-02-06 22:54] spficklin commented on #821
Oh, right, we moved all of that code into the OBO loader.  Now I remember.  Thanks, Lacey.  So, I was wrong we wouldn't have tried to make that backward's compatible because those functions were part of the loader and not part of the API.

I think your solution is just fine.

[2019-02-08 15:27] bradfordcondon commented on #540
pinging this issue: do we still want to discuss it next meeting?

We've added the module list to the documentation (https://tripal.readthedocs.io/en/latest/extensions.html)

The other suggestion

Do we want to try this next meeting?  I think thats maybe why i added the "discuss next meeting" tag, but then i didn't read the issue 😆 looks like its been kicked down the road every month...

[2019-02-11 20:24] ekcannon commented on #786
A draft of the formal Tripal governance document is here:
[https://docs.google.com/document/d/1iRGmZzKnAm8c5Q9yYLiTctSJaRqnT6Bm0eix1uzoTxw](https://docs.google.com/document/d/1iRGmZzKnAm8c5Q9yYLiTctSJaRqnT6Bm0eix1uzoTxw).

Meg and I, acting co-chairs of the Scientific Advisory Committee (SAC), are requesting comments, particularly on the SAC portion of the document by next Monday (Feb 18).

Please

[2019-02-11 20:26] ekcannon commented on #344
This issue has been replaced with this one:
https://github.com/tripal/tripal/issues/786

[2019-02-11 20:36] bradfordcondon commented on #344
Given theres been no additional discussion on PMC and day-to-day governance, I'll close this out.

Advisory committee discussion should continue in #786

[2019-02-11 20:36] #344 closed, assigned to nobody

[2019-02-12 09:51] guignonv commented on #786
Sounds good to me. Nothing to add. :)

[2019-02-12 13:36] guignonv commented on #789
I'm currently investigating the code and I think I got what's wrong.
In "tripal/tripal_chado_biews/tripal_chado_views.views.inc", hook "tripal_chado_views_views_data_alter", the loop line 610:
[code]
iterates on base names but these can't be used as linking table. So we got a list of linking table like that "chado_acquisition, chado_analysis, chado_assay,etc." while we should have instead a list l

[2019-02-12 16:00] shawnawsu commented on #826
@laceysanderson  I cannot for the life of me reproduce this. I've tried different php and drupal version combos and different branches. Are you still experiencing this?

[2019-02-12 16:30] guignonv commented on #789
I created a pull request #850 that partially solves the problem right now.

[2019-02-12 19:34] laceysanderson commented on #826
🎉 I was experiencing this still about 5 days ago but just checked again and it's working!!! Unfortunately I have no idea what has changed so I guess we'll just hope no one runs across it again? 🤷‍♀️

The weird thing is when I first started experiencing it, it was very reproducible. I was able to re-create it on both KnowPulse clones and generic Tripal sites repeatedly.

Thank you Very much for loo

[2019-02-12 19:34] #826 closed, assigned to nobody

[2019-02-12 20:41] bradfordcondon opened #851 "publish/unpublish orphaned for ALL bundles"
## Feature Request/Discussion
If you want to publish or unpublish orphaned content, you have to do it bundle by bundle.

This is annoying for me as I frequently drop all content from my dev site and need to unpublished orphans bundle by bundle (its easier to just rebuild the website from scratch but then I have to do stuff like reload OBOs...).

I imagine some sites would like to be able to publis

[2019-02-12 21:35] almasaeed2010 commented on #851
Hi!

We decided to limit by bundle for performance related issues. On our live site, it took over 15 minutes to figure out what content has been orphaned when we didn’t limit by bundle. This obviously would be very frustrating for many site maintainers. If you’d like we can add an extra option to select all bundles but we should also warn of how slow the process can be for large sites.

[2019-02-13 15:57] bradfordcondon opened #852 "unable to publish many content types due to no module widget callback"
## BUG/ERROR report
I'm currently unable to publish most content types on my site.

undefined function `_field_widget_form()` in `tripal_chado.publish.inc` line 96.

<img width="1274" alt="screen shot 2019-02-13 at 10 54 36 am" src="https://user-images.githubusercontent.com/7063154/52724700-d86dc200-2f7d-11e9-8f2f-d3ab471b5550.png">

It seems the only content i don't have this error for is project

[2019-02-15 13:01] EugeneKim76 opened #853 "About deletion of features and organism"
Dear all
I'm using Tripal 2.x.
I deleted an organism(deleted at /#overlay=admin/content) and its features (deleted at /#overlay=admin/tripal/chado/tripal_feature/delete).
After deletion I upgraded Materialized Views.

However, I found deleted data are still exist in chado tables by using postgres command lines below.
 SELECT * FROM chado.organism WHERE organism_id = 55
 SELECT * FROM chado.feature

[2019-02-15 16:47] btski commented on #853
You seem to have deleted content pages corresponding to organisms in your database. To delete the database entries themselves, I believe there are two options:

1.) You can revert a bulk load job entirely. This would require tracking the entries inserted into your Chado tables (an option provided in the bulk loader job submission form). I've encountered memory issues using this feature, which does

[2019-02-15 17:11] laceysanderson commented on #853
Thanks @btski, I think that summarizes the current options well. My only comment would be for (2) if you do have content then you'll want to clean up orphan pages after by going to Admin > Content > Tripal Content > Unpublish Orphan Content.

Additionally, there has been more discussion for developing a better way to delete content from chado in #660.

[2019-02-16 12:27] EugeneKim76 commented on #853
Thanks a lot.

I tried to delete by using commend lines below.
DELETE FROM chado.organism WHERE organism_id = 55;
DELETE FROM chado.feature WHERE organism_id = 55;

However, same error occurred as shown below.
Could you please tell me what must be causing the error to occur when I try to delete data?
best,

ERROR:  function create_point(integer, bigint) does not exist
LINE 1: SELECT box (create_po

[2019-02-16 14:30] btski commented on #853
You might find [this](http://tripal.info/documentation/migrate_chado) helpful. From the source:

[code]

It is necessary to run these SQL commands because of an error that can be found in the db_restore.log file.  The error appears as follows: psql:tripal.sql:1932580: ERROR:  function create_point(integer, integer) does not exist LINE 1: SELECT box (create_point(0, $1), create_point($2,500000000))

[2019-02-18 01:16] EugeneKim76 commented on #853
Thanks @btski!
I used command lines you suggested before deletion.
In my case,

drupal=# SET search_path = frange,chado,pg_catalog;
SET
drupal=# CREATE INDEX bingroup_boxrange ON featuregroup USING gist (chado.boxrange(fmin, fmax)) WHERE (is_root = 1);
ERROR:  relation "bingroup_boxrange" already exists

Anyway, after running SQL commands, deletion were done successfully.
Thanks a  lot.
Best,

[2019-02-18 15:58] mboudet opened #854 "Incorrect behaviour for empty fields"
## BUG/ERROR report

### System information
System info:
Tripal: 7.x-3.0
Drupal : 7.59
Postgres: 9.5.8
Php: 7.1.23

### Issue description

Hello,

Currently, there is an issue for several fields (at least two), where they do not display properly when empty.

![image](https://user-images.githubusercontent.com/17642511/52962778-71497680-339e-11e9-80ce-0d0114bc0345.png)

Based on the code, both field

[2019-02-18 18:05] bradfordcondon commented on #854
There is the option to hide or display empty fields in the bundle settings (see checkbox at bottom of one of my bundle settings pages).

![screen shot 2019-02-18 at 1 01 16 pm](https://user-images.githubusercontent.com/7063154/52969144-574b6c00-337d-11e9-9c5d-d7feb794e5f4.png)

So what i think we really want is a) fields dont display if empty and box is checked, and b) if show empty fields isnt ch

[2019-02-19 00:06] #853 closed, assigned to nobody

[2019-02-19 08:35] mboudet commented on #854
I'm all for having an 'official' stance on fields behaviour when empty.

Yes I think that would be for the best, since hiding/showing empty field are both valid display choices by the admin, both should be supported fully.

[2019-02-19 12:44] bradfordcondon commented on #854
I don't think we need a vote but would like to hear any other @tripal/project-managent-commitee-pmc input

[2019-02-19 18:34] bradfordcondon commented on #642
closing.  if you find that you want to offer the file to your users, simple create a field for it on the bundle of your choice using the base Drupal file module: https://www.drupal.org/docs/7/core/modules/file/overview

[2019-02-19 18:34] #642 closed, assigned to bradfordcondon

[2019-02-19 18:59] #720 closed, assigned to nobody

[2019-02-19 20:20] bradfordcondon commented on #765
checking the "hide empty fields" box will prevent this empty field from displaying.

![screen shot 2019-02-19 at 3 19 10 pm](https://user-images.githubusercontent.com/7063154/53044701-bda5bc80-3459-11e9-865a-b4365b6dc637.png)

I'm closing this issue. I think we can consider if the content should hide empty fields by default(probably) and/or how to standardize empty fields disappearing vs displayin

[2019-02-19 20:20] #765 closed, assigned to bradfordcondon

[2019-02-20 01:18] laceysanderson commented on #774
Github Style badges:

[![Gold Tripal Extension](https://img.shields.io/badge/tripal-GOLD-%23DAA520.svg?logo=%20data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAYAAAD0xERiAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAC4jAAAuIwF4pT92AAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS4

[2019-02-21 15:50] mboudet opened #857 "Warnings about sbo__relationship during initialisation"
## BUG/ERROR report

### System information

System info:
Tripal: 7.x-3.0
Drupal : 7.59
Postgres: 9.5.8
Php: 7.1.23

### Issue description
During boot, several warnings pop up relating to the sbo_relationship field.
`Invalid argument supplied for foreach() sbo__relationship.inc:228`      [warning]`

#### Steps to reproduce
It seems to pop up during the init phase, when content types are created.

[2019-02-25 08:51] mboudet opened #858 "Crash when using drupal pm-enable for multiple modules"
## BUG/ERROR report

### System information

System info:
Tripal: 7.x-3.0
Drupal : 7.59
Postgres: 9.5.8
Php: 7.1.23

### Issue description
Hello.

We decided to update our Tripal version on the docker-tripal repo.
Starting from [this commit](https://github.com/tripal/tripal/commit/8474410e47e71d170545432e8046e9ae27981cf2), we started seeing crashes during the install phase.

Namely, we have a step

[2019-02-25 12:33] songtaogui opened #859 "How to use h5ai for FTP downloading in tripal"
Hi,

I have noticed the demo site [treegenesdb](https://treegenesdb.org/) uses [h5ai](https://larsjung.de/h5ai/) as FTP server interface, and I would like to use h5ai too, is there a tutorial on how to set h5ai for tripal FTP server?

Thank you,

Best wishes,

Songtao Gui

[2019-02-25 17:19] laceysanderson commented on #774
This is now live! See it here https://tripal.readthedocs.io/en/latest/extensions/module_rating.html

And the badges now work 🎉
[![Tripal Rating Bronze Status](https://tripal.readthedocs.io/en/7.x-3.x/_images/Tripal-Bronze.png)](https://tripal.readthedocs.io/en/7.x-3.x/extensions/module_rating.html#Bronze)

[2019-02-26 14:43] bradfordcondon commented on #859
would someone from treegenes be able to respond?

 @tripal/wegrzynlab

[2019-02-26 14:59] Ferrisx4 commented on #859
Hello @songtaogui and thanks @bradfordcondon for highlighting.

It should be noted that h5ai is not a true FTP (as in the protocol) server, but merely a pretty HTML indexer for public files. Additionally, there is no direct integration between Tripal and h5ai currently.

In the case of TreeGenes, we have a collection of files that we have made available in a directory on our webserver. This direct

[2019-02-26 16:14] bradfordcondon commented on #858
looks like the expression module's field isnt available when creating the interpro entity.

I can reproduce this problem on my own site (apache, postgres running natively on OSX)

[code]

I'm in agreement that the problem can be sidestepped easily (enable one by one instead). I'm thinking the solution is to trigger the entity/field connection at the end of each module enabling or something like th

[2019-02-26 18:51] spficklin commented on #774
Wonderful!  I'm going to mark this as closed.  If we need to adjust the text for the ratings I think it would be best to start a new issue.  But if anyone disagrees please reopen.

[2019-02-26 18:51] #774 closed, assigned to nobody

[2019-02-27 01:45] a2htray commented on #859
@Ferrisx4 We did as you say, but how to resolve the problem of URL path for drupal? the following is the configuration:

[code]

The error of `404 Page Not Found` occurrences when we access these URL without prefix `/drupal`

[2019-02-27 07:17] songtaogui commented on #859
Hi, @Ferrisx4, @bradfordcondon

[2019-02-27 07:19] songtaogui commented on #859
Hi,
@bradfordcondon @Ferrisx4

Thank you for your kindly help.
We have finally get the h5ai working.

Thank you 👍

Best wishes,
Songtao Gui

[2019-02-27 07:19] #859 closed, assigned to nobody

[2019-02-27 10:51] Yosra3 opened #860 "Chado Bulk Loader Job Error"
Hello
I want to load my data using Chado Bulk Loader module.  I have crate a new template with my columns and a new job.

When i run the drush command i have this error

ERROR : Job execution failed: SQLSTATE[25P02]: In failed sql transaction: 7 ERROR: current transaction is aborted, commands ignored until end of transaction block

Thank you

[2019-02-27 13:40] bradfordcondon opened #861 "custom importer guide example code has problems"
The [custom importer guide](https://tripal.readthedocs.io/en/latest/dev_guide/custom_data_loader.html) calls `fgets` on a string instead of on an open file, as reported by user @yosra3

https://github.com/tripal/tripal/pull/643#issuecomment-467811152

Looks like ` while ($line = fgets($file_path)) {` failed for you, so it tried to load afeature named `` and couldn't. Looking at the example on the

[2019-02-27 14:43] bradfordcondon commented on #774
what would you all think about including this markdown snippet for easy issue tracking

[code]

[2019-02-27 15:38] Yosra3 commented on #861
Thank you for your quick reply. Now there is no warning but i wont to know if it is normal to have this :

The feature, test_gene_1, does not exist in the database
The feature, test_gene_2, does not exist in the database
The feature, test_gene_2, does not exist in the database
array(4) {
  [0]=>
  string(16) "this is running!"
  [1]=>
  string(1) "5"
  [2]=>
  string(67) "/SV/WWW/GEN03/tripal/site

[2019-02-27 15:45] bradfordcondon commented on #861
ok great.

`The feature, test_gene_1, does not exist in the database`

This means the feature isn't in your database.  Do you have any features in the `chado.feature` table?   Do you have any whose unique names are `test_gene_1`?  If no, then this is the expected behavior.

Have you already worked through the [Tripal User's guide ](https://tripal.readthedocs.io/en/latest/user_guide.html)?  If your

[2019-02-27 16:28] bradfordcondon opened #863 "chado_db_query must be improved"
## Feature Request/Discussion

* This feature [does ] attempt to solve an existing problem with Tripal
* This feature is [somewhat URGENT]

edit: i wrote this issue thinking we need to fix the lack of join support but really i think the base class is just broken.  see this [basic test](https://github.com/tripal/tripal/commit/c400380bcf71) which is failing right now.

### Description
the `chado_db_

[2019-02-27 18:09] almasaeed2010 opened #864 "Request for a hook when a bundle is updated"
## Feature Request/Discussion

* This feature [does] attempt to solve an existing problem with Tripal
* I [am] open to developing or collaborating on an extension module if this is not a good fit for Tripal Core
* This feature is [Not Urgent]

### Description

Currently, bundle creation and deletion trigger hooks for other modules to respond to the event. However, we are missing the `update` hook

[2019-02-28 19:25] btski commented on #860
Could you please copy the output for your Bulk Load Template export?

[2019-03-01 00:05] risharde opened #866 "How do I attach an image field to Tripal Content Types programmatically"
Hi guys, so I'm looking to add an image field to a Tripal Content Type but I'm not exactly sure how to do that. I see examples when I search in Google on how to do this with a normal drupal content type but I'm not sure that would work for Tripal Content Types. Anyone have any ideas on this?

Please let me know, thanks!
@bradfordcondon @spficklin @mestato

[2019-03-01 02:50] risharde commented on #866
I was able to partially attach an image using the following but it wasn't able to assign a cvterm. Could you advise me on the proper code to do that? Here's what I have currently:

			// Create the field base.
			$field = array(
			  'field_name' => 'tcp_photo',
			  'type' => 'image',
			);
			field_create_field($field);

			// Create the field instance on the bundle.
			$instance = array(
			  '

[2019-03-01 16:31] mestato commented on #786
A new round of edits and discussion has been added to the document by the interim steering committee:
https://docs.google.com/document/d/1iRGmZzKnAm8c5Q9yYLiTctSJaRqnT6Bm0eix1uzoTxw/edit?usp=sharing

We're getting close to a final version! Please feel free to comment here or on the document. We'll be discussing and voting at the next Tripal dev meeting.

[2019-03-01 17:39] bradfordcondon commented on #863
we have a PR up at #867 .  In making it we uncovered a problem that we need a decision on.

`chado_db_query` and `chado_query` do not work the same way.

* Chado_query uses `{}` for chado tables and `[]` for Drupal tables.
* Chado_db_query uses no prefixes in the input.  It does support both chado and public, but not if the two tables have the same name.

I think its confusing to have the two APIs

[2019-03-01 17:43] almasaeed2010 commented on #863
I think I have a solution that is not a breaking change.

We can do the following:
- If `{}` or `[]` is provided in select/join, we use the replace method
- Otherwise, revert to the old implementation of figuring where the table comes from

If we do it this way, every one is happy!

[2019-03-01 18:09] almasaeed2010 commented on #431
Hello @guignonv

Did you try passing your condition as an argument?

[code]

I think that should work.

Thanks!

[2019-03-01 18:13] laceysanderson commented on #863
I vote for consistency (i.e. keeping the table prefixing for both) especially if it can be a non-breaking change

[2019-03-01 18:16] almasaeed2010 commented on #863
So I guess to make sure it is none breaking we have to implement it as I suggested above. We should also add a deprecation notice to the old way of doing things and make people aware that this will change in the future. Agreed?

[2019-03-01 18:30] almasaeed2010 commented on #431
Just a note that this seems like a limitation in the Drupal way of doing the replacement. That is, if we attempt the following query, it will also break the query:

[code]

As you can see, it removed `{}` from the `test` condition.

Whereas, if we do the following:
[code]

It properly converts the query to  (you can see this if you can [watch active queries in postgres](https://paquier.xyz/postgre

[2019-03-01 18:35] spficklin commented on #863
We are not different than Drupal's API. `db_select` does not require brackets around tables, but `db_query` does.   So, do we want consistency in our own API or consistency with Drupal's API?

But there is still the problem of accessing non-Chado tables.

[2019-03-01 18:45] spficklin commented on #863
An idea....
So, we always know what the current Chado and Drupal schema names are using these two API functions calls:
`chado_get_schema_name('chado')`
`chado_get_schema_name('drupal')`

My preference would be to keep `chado_db_select` as similar to Drupal's `db_select` as possible.  So I would vote not to use the brackets (`{}`, `[]`) around table names in the `chado_db_select` function.  What if

[2019-03-03 22:40] bradfordcondon opened #868 "Description field assumes text filter machine name"
## BUG/ERROR report
After migrating a tripal 2 site to tripal 3 and migrating content, all content with description fields wont display descriptions.
The description widget has the full description, with the text format set to: `-select-`.    Picking any option and submitting results in still no description, and, if i go back to edit, the text format is set back to `-select-`

<img width="1055" al

[2019-03-04 14:41] bradfordcondon commented on #868
This looks to be the problem: I dont have a `full_html` filter availalbe on this site (despite it showing up in the select box?  and despite it working if i manually create a multiline text field and select the `full_html` filter?)

![screen shot 2019-03-04 at 9 40 08 am](https://user-images.githubusercontent.com/7063154/53740200-ac00e380-3e61-11e9-8d22-5a581e654c09.png)

[2019-03-04 14:43] almasaeed2010 commented on #868
In a previous version of drupal the text formats were represented as numbers. The new drupal way is to give them a machine name (using alpha numerical characters instead of only numbers). Unfortunately, I don't remember finding a way to fix this issue. I ended up having to create new fields and marking old ones with a do not use label.

[2019-03-04 14:45] almasaeed2010 commented on #868
Go to `/admin/config/content/formats` to see the formats. Click configure to see the machine name.

[2019-03-04 14:45] bradfordcondon commented on #868
Yep that looks like whats going on:

[code]

VS the looking online, i see `format` set to `full_html` instead of 1.  You're spot on.

![screen shot 2019-03-04 at 9 46 18 am](https://user-images.githubusercontent.com/7063154/53740516-609b0500-3e62-11e9-9fc0-fc4063e8f3f4.png)

No way to set the machine name.

Is there somewhere in the core code where we assume the machine name = filtered_html?  can

[2019-03-04 15:25] bradfordcondon commented on #868
So older sites will have the machine name for their filters as ints instead of, say, `full_html`.

Users experiencing this problem where they can't set a filter can fix by creating new filters with the expected machine name.  heres what we have on hWG:

[code]
note we keep (but rename) the old filters to prevent breaking content using them.

A better fix would be for Tripal to acommodate filters t