[2019-03-04 22:00] #790 closed, assigned to nobody

[2019-03-04 22:01] #854 closed, assigned to nobody

[2019-03-04 22:02] bradfordcondon commented on #854
merged but im leaving this issue open until we verify that
* all fields included behave as we want
* documentation specifies expected behavior

[2019-03-04 22:02] spficklin commented on #790
This issue seems to have been closed automatically when I merged the PR.  Is all fixed or do we need to reopen for further work?

[2019-03-05 17:09] risharde commented on #866
Anything that could help me on this? Still awaiting a possible solution, can't seem to find anything related on the docs. @bradfordcondon @shawnawsu @mestato @spficklin

[2019-03-05 17:36] shawnawsu commented on #866
Hi Risharde,

Have you looked at the organism tripal content type? It has an image field attached to it. The image is attached as such in the tripal_chado.field.inc file:

[code]

These two bits of code make the previous bit of code work (you don't need to implement these I just wanted to show you how the data__image is handled):
[code]

So if you create the field as a data__image there are functi

[2019-03-05 17:49] risharde commented on #866
Thank you @shawnawsu ! Really appreciate it!!

[2019-03-05 20:13] Yosra3 opened #870 "Warning with the new version Tripal v3.1"
Hello
After updating tripal v3.1 i have this warning on the home page :

Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in require_once() (line 64 of  /tripal/sites/all/modules/tripal/tripal_chado/tripal_chado.module).

what it means? it is a problem of updating ?

Thank you

[2019-03-05 20:18] almasaeed2010 commented on #870
Hello @Yosra3,

Could you please provide information on your system?

[code]

Thanks!

[2019-03-05 20:19] almasaeed2010 commented on #870
You can get this information by visiting the status report page at `/admin/reports/status`

[2019-03-06 07:36] Yosra3 commented on #870
@almasaeed2010  thanks for your reply

drupal-7.64
PHP 7.3.2

[2019-03-06 09:28] guignonv commented on #431
Yup it works :-) , but I would call it a "workaround" :-s as a basic user/developer who is not aware of that issue will not understand what's going on when he/she will not use a placeholder for a static value that has brackets.
I didn't check if this issue on Drupal core has been reported (I should check I guess... :-p ) but I agree it's a Drupal limitation... for curly brackets! :-)

However, we

[2019-03-06 09:56] guignonv commented on #431
For issue 2, should I create a pull-request with something like that:

[code]
?

[2019-03-06 14:18] Yosra3 opened #872 "currval of sequence "feature_feature_id_seq" is not yet defined in this session"
Hello

I want to import a file of genetic markers on tripal. I used chado bulk loader module.
After creating a new template and a job, i had this error with the drush command  :
In failed sql transaction: 7 ERROR:  current transaction is aborted, commands ignored until end of transaction block

On the log file i found this :
ERROR:  current transaction is aborted, commands ignored until end of tra

[2019-03-06 14:21] almasaeed2010 commented on #870
Ok I managed to get my hands on a vm that has php7.3 installed. This error only happens in php7.3:

<img width="1440" alt="screen shot 2019-03-06 at 9 08 51 am" src="https://user-images.githubusercontent.com/1512664/53887095-89043a00-3fef-11e9-8696-41e09fa41cdf.png">

There is a simple fix for this. I'll push the changes today but it probably won't be available until tripal version 3.2. The easies

[2019-03-06 14:44] almasaeed2010 opened #874 "Should we add php 7.2 and 7.3 to travis"
Hello,

Now that [php 7.0 is no longer supported (not even security updates)](http://php.net/supported-versions.php), I think we should update .travis.yml to build on 7.1, 7.2 and 7.3.

I'll create a PR for this but this issue is here for discussion.

[2019-03-06 14:56] Yosra3 commented on #870
thank you i have no more this warning !!

[2019-03-06 15:07] bradfordcondon commented on #872
hi @Yosra3 to help you troubleshoot we will likely need

a) your bulk importer
b) the file you are importing?

Thanks!

[2019-03-06 15:21] almasaeed2010 commented on #874
Turns out drupal 7 only supports 7.1 and 7.2 https://www.drupal.org/docs/7/system-requirements/php-requirements#php_required

[2019-03-06 15:34] Yosra3 commented on #872
@bradfordcondon  Thank you for your your reply

**_The bulk importer that i use :_**

[{"table":"feature","record_id":"Markers","mode":"insert","fields":[{"type":"table field","title":"Organism","field":"organism_id","required":0,"spreadsheet column":"1","exposed":0,"exposed_description":""},{"type":"table field","title":"feature_type","field":"type_id","required":0,"spreadsheet column":"2","expos

[2019-03-06 15:39] Yosra3 commented on #872
@bradfordcondon Thank you for your your reply

**_The bulk importer that i use :_**

![image](https://user-images.githubusercontent.com/47979265/53894339-37c86a80-4030-11e9-8c20-15c46d12e987.png)

[{"table":"feature","record_id":"Markers","mode":"insert","fields":[{"type":"table field","title":"Organism","field":"organism_id","required":0,"spreadsheet column":"1","exposed":0,"exposed_description":

[2019-03-06 19:22] almasaeed2010 opened #876 "Show publication on feature pages"
## Feature Request/Discussion

* This feature [does] attempt to solve an existing problem with Tripal
* I [am] open to developing or collaborating on an extension module if this is not a good fit for Tripal Core

* This feature is [Not Urgent]

### Description

It would be nice to see which publication a particular feature (gene, mRNA) is associated with if the parent analysis is associated with a

[2019-03-06 19:37] almasaeed2010 commented on #874
PR submitted https://github.com/tripal/tripal/pull/875

[2019-03-06 20:09] bradfordcondon opened #877 "7.x-3.0 listed in code"
## Feature Request/Discussion

need to update `7.x-3.0` to `7.x-3.1` in the `.info` files

[2019-03-06 20:18] bradfordcondon commented on #877
is there some way we can automate the numbering in the RST and all the `.info` files?  Like in the `composer.json` file?

[2019-03-06 21:40] bradfordcondon commented on #876
I think you need to distinguish between pubs associated via `feature_analysis` => `analysis_pub` and pubs associated via `feature_pub`.   To me this suggests a custom "analysis-linked pub" field.

[2019-03-07 00:02] laceysanderson commented on #874
Merged 👍

[2019-03-07 00:02] #874 closed, assigned to almasaeed2010

[2019-03-07 12:51] #872 closed, assigned to nobody

[2019-03-07 12:54] bradfordcondon commented on #870
Thank you @Yosra3 @almasaeed2010  for reporting and fixing.

[2019-03-07 12:54] #870 closed, assigned to almasaeed2010

[2019-03-07 13:55] guignonv opened #879 "Tripal entity title link uses dash instead of underscore"
## BUG/ERROR report
* Tripal Version: 3.x-dev
* Drupal Version: 7.64
* PostgreSQL Version: 9.4
* PHP Version: 7.2

### Issue description
When you go on a Tripal entity page, the title link uses dash instead of underscore and does not link to the entity page (the same page in fact).

#### Steps to reproduce
Create a new Tripal data entry and publish it. Go to its page (using the "admin/content/bio_

[2019-03-07 13:57] guignonv commented on #879
I created a PR #880

[2019-03-07 14:44] guignonv opened #881 "Missing query preview for views on Tripal entities."
## BUG/ERROR report

### System information
* Tripal Version: 7.x-3.x-dev
* Drupal Version: 7.64
* PostgreSQL Version: 9.4
* PHP Version: 7.2

### Issue description
When you create a view on a Tripal entity type and enabled the "show SQL query" on views settings, you will get the following PHP warning in your Drupal logs (Reports > Recent log messages):
`Warning: strtr() expects parameter 1 to be

[2019-03-07 15:15] bradfordcondon commented on #868
this is indeed in the documentation at the end:

https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/upgrade_from_tripal2.html#troubleshooting

I guess this is not something we're able to automate, so I'm closing this.

[2019-03-07 15:15] #868 closed, assigned to nobody

[2019-03-07 15:48] guignonv commented on #634
* Should ChadoRecord->values() be a chado variable and should we have generate/expand var functionality in this class?

I would say yes. Otherwise, what could it be? A simple (limited) array?

* What should be checked when values are set? This was easy in the original API functions because it was specific to the action being performed but with the class it's less clear. For example, If I'm intendi

[2019-03-07 18:50] #877 closed, assigned to nobody

[2019-03-08 00:03] spficklin commented on #310
Code changes are updated.   Do we have the expected code style documented anywhere?

[2019-03-08 00:48] bradfordcondon commented on #310
we now follow the up-to-date Drupal style standards.  https://www.drupal.org/docs/develop/standards/coding-standards
we should link to them here; https://tripal.readthedocs.io/en/latest/dev_guide/contributing.html

we might have more to say about style in the future if we employ code sniffing... for now doesnt have to be much.

[2019-03-08 12:53] almasaeed2010 commented on #866
Looks like this has been addressed 👍

Please feel free to reopen if not.

[2019-03-08 12:53] #866 closed, assigned to shawnawsu

[2019-03-08 13:11] almasaeed2010 commented on #876
If we are taking this route (new field), I think this warrants a PMC vote since it's a new feature. @tripal/project-managent-commitee-pmc

[2019-03-08 15:01] bradfordcondon commented on #881
thanks for reporting and resolving @guignonv .  If this issue shouldnt be closed please let me know.

[2019-03-08 15:01] #881 closed, assigned to nobody

[2019-03-08 15:02] bradfordcondon commented on #879
oops!   Thank you for the report and the fix.

[2019-03-08 15:02] #879 closed, assigned to nobody

[2019-03-08 15:25] laceysanderson commented on #876
I vote in favour of adding a new field to show publications associated with an analysis on a related feature page. I think this would be extremely helpful to users and is generic enough to be useful for multiple groups 👍

[2019-03-08 17:30] almasaeed2010 opened #884 "Cross Reference Field Adds Empty Records"
## BUG/ERROR report

### System information

* Tripal Version: master branch
* Drupal Version: 7.6
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

The `sbo__database_cross_reference` field creates an empty placeholder that does not get removed in the load function. This is causing the field to always to display the message "There are no cross references," even though the `hide

[2019-03-11 01:01] bradfordcondon commented on #876
I'm also ok with it.

While we're talking, do we have an ontology term?

[2019-03-11 19:42] bradfordcondon commented on #884
merged, thank you @almasaeed2010

[2019-03-11 19:42] #884 closed, assigned to nobody

[2019-03-11 19:43] bradfordcondon commented on #864
I am in favor of this, and think it doesn't warrant a PMC vote.

[2019-03-11 19:48] bradfordcondon commented on #860
hi @Yosra3 have you resolved this?  We'll need to see your bulk loader template and input file to help.

[2019-03-11 19:52] bradfordcondon commented on #645
As lacey has pointed out, Chado needs documentation as it migrates out of the wiki!  This is exactly the sort of thing that would be great to have.  I no longer see a need to keep this issue open, but i encourage

* People to document their strategy in the Chado wiki
* People to create extension modules implementing their strategy and share them in the extensions module area of our documentation.

[2019-03-11 19:52] #645 closed, assigned to nobody

[2019-03-11 20:06] bradfordcondon commented on #750
I'm listing the pages i see as possibly helpful integrations into the RTD guide. I don't distinguish between published /unpublished, just going on titles.

The rest is stuff for tripal 1 or 2 .  For example, ["Upgrade from Tripal v2.0a to v2.0-rc"](http://tripal.info/documentation/upgrade_2.0a_to_2.0-rc).   Given the objection about deleting, seems unlikely this will get touched as it requires a b

[2019-03-12 08:25] zhuyiqin commented on #733
hi @bradfordcondon
I read the doc you provided above and have loaded the kegg obo file.  In the doc the KEGG file is 'f_excelsior_ko.txt', but I don'n know the format of this file. Can you give me an example? Thanks!

[2019-03-12 15:18] Yosra3 commented on #860
Hi !!
Yes i resolved the problem thank you !!

[2019-03-12 16:36] #860 closed, assigned to nobody

[2019-03-12 20:46] eglabmsu commented on #387
I had trouble with the line
`mv v2.0.tar.gz PHP-Daemon`
in the Job Management instructions.

What worked for me was
`mv PHP-Daemon-2.0 PHP-Daemon`

[2019-03-12 21:03] eglabmsu opened #887 "Warning using OBO Vocabulary Loader"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.59
* PostgreSQL Version: 10.6
* PHP Version: 7.1

### Issue description

I have a problem similar to closed issue #253 when trying to load a Plant Ontology .obo file from their git repository using the OBO Vocabulary Loader . I also tried a .owl file (http://purl.obolibrary.org/obo/po.owl) with similar resul

[2019-03-13 01:53] bradfordcondon commented on #841
Hi @HadarAmira please comment if you need this thread reopened, im assuming its been resolved.

[2019-03-13 01:53] #841 closed, assigned to almasaeed2010, bradfordcondon

[2019-03-13 20:12] eglabmsu commented on #887
Seems the problem was with the .obo file. I sourced http://purl.obolibrary.org/obo/po.obo and the loader is now happy. Please mark resolved. Thanks!

[2019-03-13 21:54] laceysanderson commented on #887
Awesome :-) 👍

[2019-03-13 21:54] #887 closed, assigned to nobody

[2019-03-14 09:17] mdondrup opened #889 "views-sql-compliant-three-tier-naming-1971160-30.patch fails after update to Views 3.21"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-2.1 but might affect 3 as well
* Drupal Version: 7.64
* Views Version: 7.x-3.21
* PostgreSQL Version:
* PHP Version:

### Issue description

After a security update to View, the patch fails to apply.

#### Steps to reproduce

 - Update to views 7.x-3.21
 - Apply patch.

#### Error messages and screenshots

[code]

[2019-03-14 10:12] mdondrup opened #890 "Legacy templates and migration confusion"
Hi,
I am trying the migration from 2.1 -> 3.1

So far, the update worked nicely as documented. But I find the inline documentation on the migration part confusing. In particular, I wish to switch on and off legacy templates and new templates to compare their functionality. Under Migration step 3, it appears as if legacy templates can be switched on and off without additional steps required, howeve

[2019-03-14 11:09] mdondrup opened #891 "No sequence from alignment in Tripal 3.1 templates?"
## BUG/ERROR report

### System information

* Tripal Version: 3.1
* Drupal Version: 7
* PostgreSQL Version: 10.4, server 10.3
* PHP Version: PHP 7.1.16

### Issue description

After updating Tripal 2.1 -> 3.1 it seems that the new templates do not show sequence derived from alignments, while legacy templates do display sequence.

Example:

https://blowfly-test.cbu.uib.no/feature/Tigriopus/kingsej

[2019-03-14 14:00] mdondrup commented on #889
The rejected hunk has moved to lines 1309 - 1312

[2019-03-14 14:13] almasaeed2010 commented on #876
I've developed a field to do this for features specifically. I think we can take this field and expand on it to include other types of records as well.

- Code https://github.com/statonlab/tripal_feature_pub
- Demo https://hardwoodgenomics.org/bio_data/158359?tripal_pane=gp_schema__publication49321

The term used here is [sio:000087 (publication)](https://www.ebi.ac.uk/ols/ontologies/sio/terms?iri

[2019-03-14 14:16] mdondrup commented on #889
This should work:
[code]

[2019-03-14 14:27] almasaeed2010 commented on #857
Hello @mboudet

Sorry for the delay on this! I tried to replicate this error but I couldn't. It is possible that the underlying issue has been fixed in newer versions. This is the output from the install script on an Ubuntu system https://travis-ci.org/tripal/tripal/jobs/504878022#L798

Could you try using 7.x-3.1 instead of 7.x-3.0?

Thanks!

[2019-03-14 20:37] bradfordcondon commented on #891
I could have sworn we have an open an issue for this but I can't find it.

https://github.com/tripal/tripal/blob/dd88e9fa9b497fe046913e97110b4f4721431edc/tripal_chado/includes/TripalFields/data__sequence/data__sequence.inc#L81-L176

You can see the field has the code to do this, but it's all commented out.  Im guessing for performative reason?  If you enable this code do you have what you want?

I

[2019-03-14 20:42] bradfordcondon commented on #890
Pinging @chunhuaicheng as I think he's the primary author of the migration.  In particular i dont know anything about the legacy templates...

i dont understand the question/problem... you would compare the entity page to the node page.

Re step 4 at least- you cant re-publish to nodes because now they will publish to tripal 3 entities.  You'd have to downgrade back to T2 and that would cause so m

[2019-03-14 20:43] #861 closed, assigned to bradfordcondon

[2019-03-14 21:38] chunhuaicheng commented on #890
Here's some clarification about the Tripal v3 content types (i.e. Drupal Entity) and Tripal v2 content types (i.e. Drupal Node):

The Tripal v3 content types have a URL of '/biodata/[eid]' and you can choose to apply the 'legacy templates' for them so they'll look the same as the old v2 content. If you 'switch off' the legacy templates, the v3 content will have the default look which you can confi

[2019-03-15 09:14] mdondrup opened #892 "After update: Could not find details about the vocabulary: SOFP."
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.1
* Drupal Version: 7.61
* PostgreSQL Version: 10.3
* PHP Version: 7.1

### Issue description

After updating from Tripal 2.1 to Tripal 3.1, I get a lot of warnings about missing ontology SOFP. I searched the documentation, the code and google, but the only mention is on the demo.tripal.org site and in 3 files on git: https://git

[2019-03-15 09:22] mdondrup commented on #891
Ok, thank you @bradfordcondon. I have edited the file as suggested and cleared caches. Now I am getting an Ajax spinner at least, not sure if that is related to #892?

A warning associated with the Ajax call appears in the log:

![image](https://user-images.githubusercontent.com/893151/54420892-84d0ce80-470b-11e9-8383-9d49ef9df9a1.png)

[2019-03-15 13:16] bradfordcondon commented on #892
hi @mdondrup I  have seen this on another site.

These are the SOFP terms I had on the site:

[code]

I thought that maybe these were old Sequence Ontology terms (Sequence ontology Feature Property) I could find some of them for example [`non_canonical_start_codon`](https://www.ebi.ac.uk/ols/search?q=non_canonical_start_codon)

but not others (ie, `orf_classification`).

Anyway, until I know what

[2019-03-15 13:19] bradfordcondon commented on #891
definitely not related to #892 .   Warning also looks unrelated.

I think that theres a reason the code is commented out :P

[2019-03-15 15:05] bradfordcondon commented on #876
Awesome!

Looking at the code everything seems 👍
The only thing im wondering about is the term.  Is it confusing to have schema:publication and sio:publication in use?  I wonder if it would be better to use a local term, to the tune of "indirectly associated publication"

[2019-03-15 15:28] almasaeed2010 commented on #863
A quick update on this. Over a discussion on Slack, it's been decided that `public.` will be replaced with the current public schema if different. Same goes for `chado.`. Also, if no schema is provided, the function will revert back to it's previous behavior of attempting to find out whether the given table is a chado table or a public one then add the schema to it. However, if an unknown schema i

[2019-03-15 15:41] mdondrup commented on #891
Guess there is. Looking at the code it used direct SQL queries, wouldn't it make sense to separate front-end and back-end logic by using Tripal API calls for getting the seqs? I remember there was an API call to retrieve all sequences per feature reliably.

[2019-03-16 10:00] mdondrup opened #893 "How to migrate external node references to entity references for Tripal 3.1 templates?"
I have a content type that is linked to tripal features by their node reference.

See https://blowfly-test.cbu.uib.no/node/884214
and https://blowfly-test.cbu.uib.no/node/711864

![image](https://user-images.githubusercontent.com/893151/54473688-61755480-47db-11e9-8a9e-77c76c1053eb.png)
![image](https://user-images.githubusercontent.com/893151/54473909-78697600-47de-11e9-85bb-3c36b1e207aa.png)

In

[2019-03-18 08:50] mdondrup commented on #892
First, I should maybe mention that our site has been migrated all the way through since the early days, from Tripal 1 - 2 - 2.1 - 3.1
And in addition we have used the perl chado loader to load our data. Maybe there is some debris there.

So SOFP is, in fact, a DB? Following your example I did the following:

[code]

[2019-03-18 13:04] bradfordcondon commented on #893
I'm confused- is your RNAi content type a feature?  And/or any other Chado content type?  Is it associated with the parent gene feature in some way- feature_relationship, etc?

If so the best solution is to write a simple custom field.  In general things are going to work better "out of the box" with Tripal if you are making use of Chado.

Let's say you did want/need to only use node references, w

[2019-03-18 13:32] bradfordcondon commented on #892
I'd agree the most likely cause is custom terms introduced either by the perl loader or an early version of tripal.

[code]

So SOFP is the db, feature_property is the cv.

[code]

Now we can see in the mview that the feature_property cv is getting linked as null instead of to SOFP.

The actual mview is this:

[code]

ok the problem is `CVT.is_relationshiptype = 0`.

[code]

[code]

So, we've lear

[2019-03-18 16:14] bradfordcondon opened #894 "create content menu link"
## Feature Request/Discussion
theres a link for publish and unpublish tripal content in the admin menu, but not create content.

![Screen Shot 2019-03-18 at 12 12 44 PM](https://user-images.githubusercontent.com/7063154/54545016-2b6cd780-4977-11e9-9169-ff46085acb6c.png)

Instead we have to go tripal content and press the "Add Tripal Content" button.

Admin menu link for /bio_data/add please!

[2019-03-18 17:23] mdondrup commented on #893
Sorry for the confusion, making our LIMS the way we did felt to be the most agile way at that time ;)

RNAi is, in fact, a pure Drupal content type (entity), it contains node references to chado feature nodes though. It contains a bunch of other data types, like dates, drupal taxonomy fields for the phenotypes, and other annotation. This is our complete LIMS containing the collected results from 8

[2019-03-18 17:33] bradfordcondon commented on #893
OK.  So you want to update the Tripal-type node references on the RNAi  non-Chado entity.  In that case, i would write a script that crawls the field instances and looks up  the `nid` in `chado_bio_data_x`.

Check out this gist i have for [migrating Drupal-based fields into Chado](https://gist.github.com/bradfordcondon/0dddfd015ff6ef1f545364c2ceff1f0b): you'll want to be doing pretty much the same

[2019-03-18 19:23] bradfordcondon opened #896 "error upgrading chado 1.2 to 1.3"
## BUG/ERROR report

see also #372

### System information

* Tripal Version:  7.x-3.1
* Drupal Version: 7.59
* PostgreSQL Version: 9.2.23
* PHP Version: 7.1.15

### Issue description

I'm attempting to upgrade a live site from chado 1.2 to 1.3

[code]

in my previous frolick through this process, I had ot manually drop all the views: #372
However, in this case, the script thinks `all_feature_name

[2019-03-18 22:37] bradfordcondon commented on #894
merged, thanks for the quick review @almasaeed2010 @laceysanderson

[2019-03-18 22:37] #894 closed, assigned to nobody

[2019-03-20 02:27] laceysanderson commented on #106
Looks like this was fixed in PR #668. As such, I'm closing this issue but please comment if I'm mistaken :-)

[2019-03-20 02:27] #106 closed, assigned to nobody

[2019-03-20 02:36] laceysanderson commented on #891
I think the original issue was #108? However, I think there is more info in this issue now... perhaps we should close the other as a duplicate?

Also, I believe the API function is [`chado_get_feature_sequences()`](http://api.tripal.info/api/tripal/tripal_chado%21api%21modules%21tripal_chado.feature.api.inc/function/chado_get_feature_sequences/3.x)

[2019-03-20 02:41] laceysanderson commented on #52
Was this fixed by #268/#274?

[2019-03-20 02:52] laceysanderson commented on #67
Closing due to no activity. If you need this feature, please comment and I'll re-open 😃

[2019-03-20 02:52] #67 closed, assigned to nobody

[2019-03-20 02:52] laceysanderson commented on #63
Closing due to no activity. If you need this feature, please comment and I'll re-open 😃

[2019-03-20 02:53] laceysanderson commented on #62
Closing due to no activity. If you need this feature, please comment and I'll re-open 😃

[2019-03-20 02:53] #62 closed, assigned to nobody

[2019-03-20 02:53] #63 closed, assigned to nobody

[2019-03-20 02:54] laceysanderson commented on #69
Closing due to no activity. If you need this feature, please comment and I'll re-open 😃

[2019-03-20 02:54] #69 closed, assigned to nobody

[2019-03-20 02:57] laceysanderson commented on #78
Closing due to no activity. If you need this feature, please comment and I'll re-open 😃

[2019-03-20 02:57] #78 closed, assigned to nobody

[2019-03-20 02:58] laceysanderson commented on #79
I'm going to close this issue as @guignonv has a work around and I simply do not have the time to implement this feature. If you still really need this functionality, please comment and I will reconsider

[2019-03-20 02:58] #79 closed, assigned to laceysanderson

[2019-03-20 03:00] laceysanderson commented on #81
Closing due to no activity. If you need this feature, please comment and I'll re-open 😃

[2019-03-20 03:00] #81 closed, assigned to nobody

[2019-03-20 03:06] laceysanderson commented on #122
Closing due to no activity and lack of progress on my part. Since it is functional and the statonlab Tripal elasticsearch provides an awesome alternative, I'm closing this out

[2019-03-20 03:06] #122 closed, assigned to laceysanderson

[2019-03-20 03:16] laceysanderson commented on #128
It is still very difficult/impossible to test fields/widget/formatters using TripalTestSuite... Perhaps some documentation on how to debug custom fields might be more realistic.

[2019-03-20 03:18] laceysanderson commented on #129
Confirmed 👍

[2019-03-20 03:18] #129 closed, assigned to nobody

[2019-03-20 03:18] laceysanderson commented on #166
@bradfordcondon did you find a solution for this? and/or is it still needed?

[2019-03-20 03:20] laceysanderson commented on #176
I seem to remember this being fixed... @guignonv can you confirm?

[2019-03-20 03:39] laceysanderson commented on #186
Unfortunately there is not the developer hours to backport this to Tripal2. Please upgrade to Tripal 3, using legacy-mode if needed.

[2019-03-20 03:39] #186 closed, assigned to spficklin, shawnawsu

[2019-03-20 03:42] laceysanderson commented on #196
Was there any progress on an OWL importer @spficklin?

[2019-03-20 03:44] laceysanderson commented on #198
I'm closing this issue due to a lack of activity. If you are still experiencing this issue, please comment and I will re-open

[2019-03-20 03:44] #198 closed, assigned to nobody

[2019-03-20 04:00] laceysanderson commented on #777
I worry there are not the developer hours for this @spficklin... and I believe ppl should be upgrading to Tripal3 (even in legacy mode) at this point. Perhaps this should be closed?

[2019-03-20 04:02] laceysanderson commented on #783
I see the documentation made it in https://tripal.readthedocs.io/en/latest/dev_guide/custom_field/custom_formatter.html?highlight=pager#creating-pagers 🎉

Is this resolved @spficklin?

[2019-03-20 09:34] mdondrup commented on #108
This was solved for 2.x in #617

[2019-03-20 11:00] mdondrup commented on #891
I have experimented a bit and came up with a quick fix that works for testing. But there are some issues left:

- The entity interface doesn't support displaying multiple sequences. In the node interface, additional items could simply be added to the list and displayed adding HTML output. The commented out code tried to add more sequences to the output by assigning like this: `$entity->{$field_nam

[2019-03-20 12:25] bradfordcondon commented on #166
I think we can close this and if a user needs a specific content type not supported by the current migration, they can ask and we can try to make it happen.

[2019-03-20 12:25] #166 closed, assigned to spficklin, chunhuaicheng

[2019-03-20 13:21] bradfordcondon commented on #196
I think its a WIP but not near finished.  Given the scale of the OBO loader I think we'd need someone really motivated to finish it.

[2019-03-20 16:06] chcir opened #898 "Error during associating publications to an organism"
## BUG/ERROR report

### System information

* Tripal Version:
* Drupal Version:
* PostgreSQL Version:
* PHP Version:

### Issue description

#### Steps to reproduce

#### Error messages and screenshots

[code]

[2019-03-20 16:10] #898 closed, assigned to nobody

[2019-03-20 19:24] bradfordcondon commented on #732
I've made these fields available [via the `tripal_manage_analyses` module](https://github.com/statonlab/tripal_manage_analyses#gene-page-fields).  These fields don't implement web services correctly as we discussed above: the "child" features just have a value of TRUE, and they "borrow" the information from the parent field in the formatter.  However I just couldnt get the weighted loading to work

[2019-03-20 21:26] laceysanderson commented on #891
We often supply multiple values to fields in the exact manner you're describing ([example](https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/includes/TripalFields/sbo__database_cross_reference/sbo__database_cross_reference.inc#L154)). Looks like it's not working for this field due to the corresponding formatter which should [loop through each value](https://github.com/tripal/tripal/blob/7

[2019-03-20 21:33] reynoldtan opened #899 "Create Additional Widget Type Option"
Hello! I would like to create an additional widget type option (as shown by the mockup below) for the `data_identifier` field which currently only supports "text field". The widget type should be able to:

https://github.com/tripal/trpfancy_fields/issues/11

![add-widget](https://user-images.githubusercontent.com/15472253/54717346-9821d680-4b1d-11e9-8ebe-8c1b0ab2637d.png)

I tried creating a field

[2019-03-20 21:38] laceysanderson commented on #196
In that case, I'm going to close this issue as it's unlikely to happen with the D8 upgrade looming. If anyone specifically needs the full EDAM ontology, feel free to comment!

[2019-03-20 21:38] #196 closed, assigned to nobody

[2019-03-20 21:44] laceysanderson commented on #821
Since we have a solution and `tripal_cv_load_obo_v1_2` is not an API function and thus doesn't need to be backwards compatible... I'm going to close this issue. Comment if you disagree.

[2019-03-20 21:44] #821 closed, assigned to nobody

[2019-03-20 21:53] laceysanderson commented on #890
@mdondrup is the process more clear to you now?

The current [step 2 documentation on tripal RTD](https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/upgrade_from_tripal2.html#step-3-use-legacy-templates-optional) states

But [step 3 on RTD](https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/upgrade_from_tripal2.html#step-3-use-legacy-templates-optional) doesn't actual

[2019-03-20 21:58] laceysanderson commented on #899
I'm not sure how to do this since `data__identifier` uses the Drupal text field rather then a Tripal field. Simply setting the widget [`$field_types`](https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/includes/TripalFields/data__accession/data__accession_widget.inc#L9) to `data__identifier` doesn't seem to work. Is there another step @spficklin?

[2019-03-20 22:20] laceysanderson commented on #852
Hmmm.... I just tested this on a new Tripal site and am not able to reproduce. Specifically, I published analysis, genes and cultivars. In all three cases `$instance['widget']['module']` is correctly set to `tripal`. Are you still experiencing this problem @bradfordcondon ?

[2019-03-21 00:05] bradfordcondon commented on #852
no, but i never figured out what caused the issue :|

[2019-03-21 01:59] laceysanderson commented on #723
Even though I can see some cases where you may want to filter by date, I think we should simply remove these filters from the publish form. Thoughts?

[2019-03-21 02:57] laceysanderson commented on #681
How about these changes to fix it?
[code]

[2019-03-21 09:19] guignonv commented on #176
I don't think it has but if nobody else reports the issue, it's not a big deal then as I kind of fixed it on my site. It was just 2 lines missing. I created a PR #902.

[2019-03-21 12:24] almasaeed2010 opened #904 "Tripal 2 upgrade process fails"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-2.x
* Drupal Version: 7.6
* PostgreSQL Version: 9.6
* PHP Version: 7.3

### Issue description

Starting from scratch with a new drupal site, installing tripal 2, installing chado and enabling all sub modules such as tripal_feature and tripal_stock then disabling tripal_core causes an error.

#### Steps to reproduce

- Create a new

[2019-03-21 13:14] Yosra3 opened #905 "ERROR to import legacy OBO Relationship Ontology (RO)"
Hi !
when the job, to import an obo ontology relationship (RO), is running through drush command, the error returned is:
WD php: TypeError: Argument 2 passed to t() must be of the type array, int given, called in                                      [error]
sites/all/modules/tripal/tripal/includes/TripalImporter.inc on line 582 in t() (line 1748 of
/tripal/includes/bootstrap.inc).

any help please

[2019-03-21 15:31] laceysanderson commented on #176
Thanks for the PR, I'll review today :-) Just trying to clean up old issues and make sure everything was resolved.

[2019-03-21 15:54] bradfordcondon commented on #904
~~`tripal_custom_quota` should not already exist.   It isnt in the tripal 2 codebase at all, only in Tripal 3.~~

oops lacey is right.  I must not have pulled before checking the branch.

[2019-03-21 18:30] bradfordcondon commented on #723
I'm ok with that.  However, I wouldnt underestimate the importance of filtering by date.  You might not want to publish all your genes, but only the genes you imported in the past 3 days.

[2019-03-22 01:24] spficklin commented on #899
Okay, so it's been awhile since I worked on this.  But, I believe you should be able to create a new widget class.  Place it in this location:

`sites/all/libraries/TripalFields/{field_name}/{field_name}_widget.inc.`

Even though you are creating just a widget for an existing field, you have to give it a name as if it were a full field.  Then create the {field_name}_widget.inc file that defines yo

[2019-03-22 01:29] spficklin commented on #899
Alternatively, if you want this in a module, you can put the new widget class in you module in a similar path:

`sites/all/modules/{your_module}/includes/TripalFields/{field_name}/{field_name}_widget.inc.`

[2019-03-22 14:21] mdondrup commented on #891
Hi,
here is a small example from the Ls Rhabdovirus genome. There is only a single exon per gene for now. Hope this works out.

[lsrhab9.gb_.gff.sorted.fasta.zip](https://github.com/tripal/tripal/files/2996856/lsrhab9.gb_.gff.sorted.fasta.zip)
[lsrhab9.gb_.gff.sorted.zip](https://github.com/tripal/tripal/files/2996864/lsrhab9.gb_.gff.sorted.zip)

[2019-03-23 18:08] laceysanderson commented on #891
Hi @mdondrup,

You can check out `891-tv3-derived_sequence` for a simplified sequence field which works for both
- features with sequence in feature.residues
- features aligned to a parent feature with residues

It will support multiple sequences and uses the `chado_get_feature_sequences()` API function. It also shows the fasta record with the fasta defline. It also removes the height restriction

[2019-03-24 02:57] laceysanderson commented on #904
It must have been backported?
https://github.com/tripal/tripal/blob/7.x-2.x/tripal_core/api/tripal_core.quotas.api.inc
https://github.com/tripal/tripal/blob/7.x-2.x/tripal_core/tripal_core.install#L111

[2019-03-25 13:28] almasaeed2010 commented on #904
Addressed in #906

Thanks all!

[2019-03-25 13:28] #904 closed, assigned to nobody

[2019-03-25 19:21] laceysanderson commented on #899
Ok, after much digging I figured out why this wasn't working! As suspected it was because data__identifier is actually a drupal text field.

# Corrected Instructions
In your widget Class definition, you need to enter which field **Types** this widget it compatible with. In the case of Tripal/Chado fields, this will be the machine name of the field (e.g. `obi__organism`). However, some fields on Tr

[2019-03-25 19:40] risharde opened #907 "Is it possible to insert a tripalentity form into user registration form?"
Hi guys, I know this is a strange question but hopefully not an abomination to perhaps Drupal standards but I have a unique issue in which I have a Tripal Content Type submission form that I'd like to be a part of the user registration process and thus the question in the title.

Can you guys let me know if that should be possible?
Just to clarify, I want to insert the Tripal content type submissi

[2019-03-25 22:52] spficklin commented on #907
Can you provide a bit more details?  For example, are you wanting to submit a record to the Chado `contact` table(s) when someone signs up for the site?

[2019-03-26 13:00] almasaeed2010 opened #908 "Tripal 3 Field Warning on New Install"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.6
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

I've been getting the following warning when preparing Drupal and Chado.

[code]

Does this mean that we are trying to attach the same field twice?

#### Steps to reproduce

Install Tripal3 from master on a new server/site and run the pre

[2019-03-26 13:07] bradfordcondon commented on #908
duplicate with https://github.com/tripal/tripal/issues/681

[2019-03-26 13:07] #908 closed, assigned to nobody

[2019-03-26 18:50] risharde commented on #907
Hi @spficklin thank you for responding, yes that's exactly it. What we have built is a module that creates "Tripal Contact Profile"(s) which populates the contact and contactprop tables in chado. It works fine standalone but we'd like to for a better word 'force' the user to enter data during registration. So  basically we'd like to add the tripal entity submission form (the fields essentially) in

[2019-03-26 19:09] spficklin commented on #907
I don't think that's possible to do without custom code.  The reason is that Tripal manages the entities that it creates (e.g. gene, publication, contact, etc), and Drupal manages the entities it creates (users, node, story, etc.).  I think you'd need to do is

1.  Add the fields to your registration page.
2.  Write a module that implements the [hook_user_insert](https://api.drupal.org/api/drupal/

[2019-03-26 19:11] spficklin commented on #907
On second thought.... It may be possible to embed a form form one entity type onto another entity type. But I'm not entirely sure how to do that.  @shawnawsu thoughts?

[2019-03-26 19:14] risharde commented on #907
Thanks @spficklin , your detailed post is exactly what I thought and what I was trying to avoid for maintenance reasons (duplicate data, fields etc) but not off the books considering we want the best user experience possible. I'll await for @shawnawsu 's response on whether the embed form is a possibility or not and work from there. Thank you so much for your speedy response, really appreciated!

[2019-03-26 19:28] bradfordcondon opened #909 "Important caveat for field specific permissions"
## BUG/ERROR report

https://tripal.readthedocs.io/en/latest/user_guide/content_types/field_permissions.html?highlight=field%20permissions

i recommend the field permissions module to users looking to customize input options for different users.  @almasaeed2010 has pointed out that configuring the permissions for a given field will also configure those permissions for **all other instances** of th

[2019-03-26 20:05] bradfordcondon commented on #907
Could you use something like the ctools wizard to have step 1) register, step 2) fill out the contact entity form, best case scenario with values pre-populated from step 1?

I had started work on this but stopped due to falling out of scope.  I was thinking a contact_drupal linker table to prevent double-storing any information.

I agree with Stephen that theres no clean and easy solution.

[2019-03-26 20:14] shawnawsu commented on #907
Embedding a form within a form isn't allowed or good practice but Bradford's suggestion makes sense. Have you thought about putting the chado specific data fields in the user profile and creating a small function that just checks the field's been filled out before allowing the person to perform any functions on the site? I'm making the assumption they'll be doing something on your site and not jus

[2019-03-27 08:44] mdondrup commented on #889
This seems to have been fixed in 3.x, may be closed then.

[2019-03-27 17:18] bradfordcondon opened #911 "relationship formatter does not find subject or object analysis entity name"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.1
* Drupal Version: 7.59
* PostgreSQL Version:  9.2.23
* PHP Version: 7.1.15

### Issue description

Working on a side upgrading from t2 to t3, i came across the relationship reporting a relationship as:  "The analysis, , derives from analysis, "  Both analyses have `analysis.names`, and the name field is populated.  Yet, `schema

[2019-03-27 17:24] bradfordcondon commented on #911
Easy fix:

The constructor doesnt set`  $this->base_name_columns` for analysis, biomaterial, cell_line, quantification, and acquisition.

https://github.com/tripal/tripal/blob/d0d52df57057600aa987d2372c6ab36254828784/tripal_chado/includes/TripalFields/sbo__relationship/sbo__relationship.inc#L237-L278

setting it to `['name']` populates the field (although i still dont have entity links).

![Screen

[2019-03-27 19:29] bradfordcondon commented on #892
Wish I had thought to search the legacy codebase before all that digging-

https://github.com/tripal/tripal/blob/7f35a59c5e48bd173d06da51e28d8abbfebc8594/legacy/tripal_feature/files/feature_property.obo

Very few of these terms look like relationship type terms to me.

Those that i consider relationships:

* `linked_to`

Here is what i propose:

Except for the relationship_type terms, create an `u

[2019-03-28 20:44] bradfordcondon commented on #52
looks to me like the issue of the CDS being constructed correctly is resolved.  But this issue might be rephrased as "Do we need to break up CDS into multiple features".

It looks to me like the solution of using multiple featurelocs to describe a discontinuous CDS is already whats done.    And it makes sense to me, because the GFF doesnt assign multiple IDs to the CDS.  Its a single CDS id, in mu

[2019-03-28 23:18] spficklin commented on #52
A discontinuous feature, in my understanding, is an alternative way to represent a feature with multiple "regions" but without specifying the parent attributes. Instead it relies on using the same ID for all of the distinct rows. So, this is indeed a different issue from #268/#274, and we still do not currently handle it in the GFF3 importer.  According to the note in the post above, Maker does ut

[2019-03-29 11:54] kyrenya opened #914 "access denied"
Hi there, I'm using Drupal core 7.65, Tripal 7.x-3.1.
It happens that when I use the search form to find Genes, or CDS, and get a table with results,
when I click in any of them, instead of taking me to the Gene or to the CDS page, I get an **Access denied page**. I have all permissions enabled to administrator, and I'm logged in. The curious thing is that this doesnt happen when I use the filters

[2019-03-29 13:40] risharde commented on #907
thanks @bradfordcondon and @shawnawsu I have been looking at the ctools wizard to see if that would be a solution. Thank you so much for responding. I won't know if that works until I do some extensive testing of the wizard, if it does, I'll update this question accordingly!

Thanks again for all you help!
Risharde

[2019-03-29 14:00] shawnawsu commented on #914
That sounds very odd. In the table results what are the urls of the links that give you the access denied result?

[2019-03-29 14:02] risharde opened #915 "Warning error during adding additional value to multifield"
Hi guys, so I'm experiencing the following error when trying to add an additional value to a text multifield within tripal

` Notice: Undefined offset: 1 in chado_linker__prop_widget->form() (line 55 of
/var/www/html/sites/all/modules/tripal/tripal_chado/includes/TripalFields/chado_linker__prop/chado_linker__prop_widget.inc).`

Users are reporting the error but it seems to not affect saving the fo

[2019-03-29 14:25] bradfordcondon opened #916 "does the chado_get_feature_sequences API return sequences in the correct order?"
## BUG/ERROR report

### Issue description

I'm writing code that makes use of the very convenient `chado_get_feature_sequences`.  I'm looking at a negative strand CDS, and comparing the "correct" sequence in feature.residues to that returned with the `derive_from_parent` option... and the two appear to be at odds.

![Screen Shot 2019-03-29 at 10 21 49 AM](https://user-images.githubusercontent.com

[2019-03-29 15:01] kyrenya commented on #914
Hi! Great clue!
So I didnt know that the order in these elements (pic)
![image](https://user-images.githubusercontent.com/43243429/55241681-7dddac00-5233-11e9-9eb7-cf7ba6e0a12f.png)
is key to decide where the link of the feature points at:
issue solved just by ensuring that entity ID is the first in the list.

Thanks!

[2019-03-29 15:36] shawnawsu commented on #914
Great! Ok for me to close out this issue?

[2019-03-29 15:55] spficklin commented on #907
Thanks @risharde for the question.  Since you are going to look into this further I'm going to close out the issue. Please respond back if you find a solution!

[2019-03-29 15:55] #907 closed, assigned to nobody

[2019-03-30 13:56] btski commented on #761
@mdhar1980 I've had this problem with the tab delimited bulk loader. Tracking inserted records is hugely memory inefficient and will cause larger jobs to fail midway through. Perhaps that's your problem? Behavior is identical to what I have experienced. Here's my previous [post](https://github.com/tripal/tripal/issues/490).

[2019-04-01 08:24] kyrenya commented on #914
yes! Thx!

[2019-04-01 12:50] mdondrup opened #918 "Powered by Tripal block not displayed correctly on pages with existing path prefix"
## BUG/ERROR report

This is just a minor issue affecting the Powered by Tripal block, but it might cause hard to debug race conditions on pages that contain ajax calls and include this block as a footer (in particular when using extension code that uses $_SESSION variables).

### System information

* Tripal Version: 7.x-2.x I just noticed that this only affects 2.x!
* Drupal Version: not relevan

[2019-04-01 15:48] bradfordcondon commented on #916
i see this was specifically fixed in https://github.com/tripal/tripal/issues/415

i wonder if the fix didnt encompass the use case of my site for whatever reason.

Here's the PR:  https://github.com/tripal/tripal/pull/667/files

[code]

[2019-04-02 01:25] risharde opened #919 "Some more warning errors during submitting custom TripalEntity"
Hi guys, also received the following repeatable errors with Tripal 3 (seems to be the latest at the time of writing but nearly sure this happens in older v3 tripal as well) and have some questions. The following seems to happen on submitting the form for Tripal Contact Profile (our customized contact TripalEntity). It seems I might not be generating the $field in an array format and throwing a tex

[2019-04-02 01:37] bradfordcondon commented on #918
this seems straight forward to me, i'd welcome a PR to fix

[2019-04-02 08:35] mdondrup commented on #918
Sorry, this is only in 2.x not 3.x. In 3, $base_path is used which does give the correct path.

[2019-04-02 08:35] #918 closed, assigned to nobody

[2019-04-02 12:38] bradfordcondon commented on #919
I'm thinking that the problem was changing the cardinality of fields directly instead of using the `field_info_instance` API.

In general i encourage you to use the `hook_field_info` and `hook_bundle_instances_info` hooks to attach fields to bundles: theres [a chapter in the guide here](https://tripal.readthedocs.io/en/latest/dev_guide/custom_field/create_instance.html).  It should prevent you fro

[2019-04-02 15:04] almasaeed2010 opened #921 "Tripal WS Bad Request"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.6
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

Remote field keeps giving me an error indicating that the remote server has returned a `Bad Request` response. However, when I visit the URL using the browser directly, I get an appropriate JSON response.

#### Steps to reproduce

1. Add a re

[2019-04-02 16:35] shawnawsu commented on #915
Hi Risharde,

I don't know if this is a known issue in Tripal, I don't think I've seen other tickets about it but I might have missed them.

Is this problem happening only when updating existing content? Are you using AJAX to set values in the form?

If you're working on a production site you should have error message turned off, it's best practice.

-s

[2019-04-02 16:40] shawnawsu commented on #905
Hi Yosra3,

Is the import failing? That appears to be a problem with writing to the log, what does your watchdog log look like?

Thanks,
Shawna

[2019-04-02 16:54] bradfordcondon commented on #905
Also please supply a link to the OBO you are loading so we can try to replicate the problem.  Or  do you mean one of the preset ontologies?  If so, which one: relationship, or relationship (Legacy) ?  edit--- nevermind i think they are duplicate files, since one is the legacy tripal_cv' module's and the other is included in tripal_chado as legacy... probably not necessary to have that second copy.

[2019-04-02 16:56] bradfordcondon commented on #905
i get this error trying to load the legacy relationship OBO:

We need to update the OBO to include some of the default properties at the top that the new loader requires.

[code]

[2019-04-03 11:53] almasaeed2010 commented on #921
This issue is extremely puzzling 🤔

I ran the same code that gets data from the same URL in `drush php` and it works. However, when ran as part of the whole page, it fails with `400: Bad Request`.

[2019-04-08 15:48] bradfordcondon opened #922 "warning in tripal_chado.fields.inc when running jobs"
[code]

confirmed on 2 different sites.  Occurs after the "Remapping Chado Controlled vocabularies" step of running an importer.

[2019-04-09 17:01] bradfordcondon commented on #896
for those curious, we drop the table as if it were a view, and it gets recreated as a view.  I won't be modifying the migration script so closing this issue.

[2019-04-09 17:01] #896 closed, assigned to nobody

[2019-04-09 18:15] bradfordcondon commented on #893
hi @mdondrup how did this turn out? any further thoughts or needs for help?  Can I close the issue?

[2019-04-09 18:26] bradfordcondon commented on #740
Since writing this guide, I've found two things.

1)  When Tripal creates a field set, it appends random numbers at the end, presumably to make sure its unique.  However, this essentialy breaks support for the Drupal field module.
2)  Using the features module appears to mess with Entiites in some way, such that it can prevent modules from creating entities ([such as HQ](https://github.com/statonl

[2019-04-09 21:06] bradfordcondon commented on #889
closing as requested.

[2019-04-09 21:06] #889 closed, assigned to nobody

[2019-04-09 21:14] bradfordcondon commented on #922
This warning occurs when `$schema` is null in `tripal_chado_bundle_fields_info_custom`.

Why would schema be null?

[code]

if i `var_dump($details` I get:

[code]

additional dumps:

[code]

details is all null.  info is an empty array.  Entity is `TripalEntity`.  The Tripal Bundle is a custom bundle I defined for organism.  It was created manually so theres no code telling Tripal about the bundl

[2019-04-09 21:33] #922 closed, assigned to nobody

[2019-04-21 15:28] mdhar1980 commented on #761
@btski Thanks very much for commenting! I'm (belatedly) looking through your post. I'll see if there's any solution there that works for me. Alternatively, did you figure anything out that's not listed there?
Thanks!

[2019-04-23 03:48] mpoelchau commented on #761
@mdhar1980 in our case it helps if the gff3 file has ### directives between each gene model. (See https://github.com/The-Sequence-Ontology/Specifications/blob/master/gff3.md). You can add these directives using our program gff3_sort: https://github.com/NAL-i5K/GFF3toolkit

[2019-04-23 15:17] spficklin commented on #52
For many years this issue has sat in the queue and no one has ever asked for it.  So, I'm marking it for "Maybe Later" and closing it out.

[2019-04-23 15:17] #52 closed, assigned to nobody

[2019-04-23 15:21] spficklin commented on #70
Hi @guignonv .  is this still an issue for you?  it's been in the queue for over 2 years.

[2019-04-23 15:22] spficklin commented on #73
This has been in the queue for 2 years and no one has complained about it or worked around it.  I'm marking as "Maybe Later" and closing.

[2019-04-23 15:22] #73 closed, assigned to nobody

[2019-04-23 16:43] spficklin commented on #75
This is low hanging fruit and has been in the queue for 2 years. We should fix this.

[2019-04-23 16:44] spficklin commented on #80
I don't think this is a problem with Tripal v3. This has been in the queue for many years without any attention, so I'm closing.

[2019-04-23 16:44] #80 closed, assigned to nobody

[2019-04-23 16:45] #94 closed, assigned to nobody

[2019-04-23 16:47] spficklin commented on #96
We need this but there's no time at the moment. I'm marking as Maybe later and closing.

[2019-04-23 16:47] #96 closed, assigned to nobody

[2019-04-23 16:49] spficklin commented on #107
This is a bit old, and is necessary but given the larger issues that have priority I'm not sure we can get to this quickly. @mdondrup do you have any ability to work out a suggested solution?

[2019-04-23 16:52] spficklin commented on #125
Since we have bigger fish to fry and I think we've got plenty of work arounds for this for major functionality I think we can close until someone hits on the problem again elsewhere.

[2019-04-23 16:52] #125 closed, assigned to nobody

[2019-04-23 16:53] spficklin commented on #128
This is awesome but I think will be a lot of work.  I'm marking as 'Maybe Later'.

[2019-04-23 16:53] #128 closed, assigned to nobody

[2019-04-23 16:53] spficklin commented on #142
This is such low hanging fruit I think we can fix for 3.2 release.

[2019-04-23 16:55] spficklin commented on #165
@almasaeed2010 .  I just did a quick read through of this again.  Is this still being worked on?

[2019-04-23 16:56] spficklin commented on #176
Looks like the PR got merged in! I'm closing this.

[2019-04-23 16:56] #176 closed, assigned to laceysanderson

[2019-04-23 16:57] almasaeed2010 commented on #165
Hello @spficklin unfortunately the solution isn't suitable for all cases and I couldn't figure out a way to make it more general. So perhaps we should mark this as `Maybe Later`.

[2019-04-23 16:58] spficklin commented on #177
This is low hanging fruit, so I'm tagging for a fix for v3.2 release.

[2019-04-23 17:01] almasaeed2010 commented on #165
For reference if anyone is interested, this is how we re-implemented TripalDS to save the state.

[code]

The issue with this solution is that there is no way for the PHP side in field formatters to know about the ID of the pane. Not to my knowledge at least. So, creating links to the pane from php becomes a bit hard and would require hardcoding the ID `?tripal_pane=MY_ID`.

[2019-04-23 17:01] spficklin commented on #202
@abretaud .  This is a bit of an old issue.  We definitely need this capability, but I'm curious if you are still working on this, or expecting a fix, or if you have worked around it?

[2019-04-23 17:03] spficklin commented on #235
This has sat in the queue with no further comment for a while. I'm closing, but @risharde if you need any additional input/help with this please comment.

[2019-04-23 17:03] #235 closed, assigned to nobody

[2019-04-23 17:05] spficklin commented on #239
I think this is easy enough to fix.  I'm going to be optimistic and assume we can get a fix for the 3.2 release on this.

[2019-04-23 17:07] spficklin commented on #272
This is low hanging fruit, I think.  I'm marking for v3.2 release.

[2019-04-23 17:08] spficklin commented on #289
Great ideas here, but due to time constraints, i'm going to close this out, but mark it as "Maybe Later".

[2019-04-23 17:08] #289 closed, assigned to nobody

[2019-04-23 17:08] spficklin commented on #318
This is old. We've worked on the rapid installer. I think it's working. But comment if not.

[2019-04-23 17:08] #318 closed, assigned to shawnawsu

[2019-04-23 17:09] #310 closed, assigned to nobody

[2019-04-23 17:14] spficklin commented on #326
Getting back to this. It will require a bit of work to come up with an example use case and document it and make sure there are no bugs in the code to support another back-end.  So, I'm marking this for a 3.3 release.

[2019-04-23 17:15] spficklin commented on #342
The PR for this got merged. I'm assuming this is resolved.

[2019-04-23 17:15] #342 closed, assigned to laceysanderson

[2019-04-23 17:18] spficklin commented on #356
This would be great. But given lack of time. I"m marking this for maybe later in the hopes someone who wants it will just do it :-)

[2019-04-23 17:18] #356 closed, assigned to nobody

[2019-04-23 17:20] spficklin commented on #370
I think this has been fixed. I have recently installed a new Tripal instance and the publication types are present.  I'm sure we fixed this along the way and forgot to update this issue.

[2019-04-23 17:20] #370 closed, assigned to nobody

[2019-04-23 17:21] spficklin commented on #397
I believe this is resolved.  I'm closing but please comment if there are further issues.

[2019-04-23 17:21] #397 closed, assigned to nobody

[2019-04-23 17:23] spficklin commented on #387
Tripal Daemon is so important to Tripal v3 we really need the docs for it here:  https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/automating_job_execution.html

[2019-04-23 17:24] spficklin commented on #406
This is rather old and we've reworked that code. I'm closing but if this becomes an issue again we can reopen.

[2019-04-23 17:24] #406 closed, assigned to nobody

[2019-04-23 17:26] spficklin commented on #517
There's not been any further discussion since October, so I'm closing this. Please comment if not.

[2019-04-23 17:26] #517 closed, assigned to nobody

[2019-04-23 17:27] spficklin commented on #518
There's been no further discussion since August.  I'm assuming this is resolved. Please comment if not.

[2019-04-23 17:27] #518 closed, assigned to shawnawsu

[2019-04-23 17:27] spficklin commented on #165
Okay Thanks for the update @almasaeed2010 !

[2019-04-23 17:27] #165 closed, assigned to spficklin, shawnawsu

[2019-04-23 19:44] spficklin commented on #692
@shawnawsu just pinging on this one now that the D8 tripal.info is done.

[2019-04-23 19:46] spficklin commented on #689
Since there's been no more conversation on this in a few months I'm going to close this out, but please respond if you'd like it reopened for more discussion.

[2019-04-23 19:46] #689 closed, assigned to nobody

[2019-04-23 19:52] spficklin commented on #561
This looks like it was fixed but never closed.

[2019-04-23 19:52] #561 closed, assigned to nobody

[2019-04-23 19:54] spficklin commented on #909
This looks like the PR got merged but this issue wasn't closed.

[2019-04-23 19:54] #909 closed, assigned to nobody

[2019-04-23 19:55] spficklin commented on #766
There's been no further conversations in a few months on this.  I'm going to close it out. Please comment if more is needed.

[2019-04-23 19:55] #766 closed, assigned to nobody

[2019-04-23 20:00] spficklin commented on #919
There's not been any additional messages on this so I'm going to close it out. Please comment if more is needed.

[2019-04-23 20:00] #919 closed, assigned to nobody

[2019-04-23 20:01] spficklin commented on #905
I'm not sure we need to support the legacy REL OBO.  Does anyone still need it?

[2019-04-23 20:02] spficklin commented on #899
Looks like this was resolved!

[2019-04-23 20:02] #899 closed, assigned to nobody

[2019-04-23 20:08] spficklin commented on #893
I submitted a PR to include a link to @bradfordcondon 's documentation in our upgrade docs online so this knowledge is not lost.

[2019-04-23 20:13] spficklin commented on #783
I'm not sure!  I forgot all the changes made.  I need to check it.

[2019-04-23 20:14] spficklin commented on #786
As we have the TAC worked out and documented elsewhere, I'm going to close this out.

[2019-04-23 20:14] #786 closed, assigned to nobody

[2019-04-23 20:15] spficklin commented on #777
It has been decided by the PMC not to do more updates to Tripal v2 due to the reasons @laceysanderson points out.

[2019-04-23 20:15] #777 closed, assigned to nobody

[2019-04-23 20:19] spficklin commented on #751
I'm not sure we want to cache an entire entity, but I see your point about having fields caching the record repeatedly.  Maybe we could setup an entity cache that caches the record object so it's always available?

[2019-04-23 20:21] spficklin commented on #748
This is needed but not urgent. To clear out the queue I'm marking this as "Maybe Later".

[2019-04-23 20:24] #748 closed, assigned to nobody

[2019-04-23 20:57] bradfordcondon commented on #905
@Yosra3 do you know why you were trying to load it?

[2019-04-23 21:13] spficklin commented on #599
Since we're not doing any Tv2 backporting, I'm closing this out.

[2019-04-23 21:13] #599 closed, assigned to nobody

[2019-04-23 21:13] spficklin commented on #747
This is needed but not urgent. To clear out the queue I'm marking this as "Maybe Later".

[2019-04-23 21:13] #747 closed, assigned to nobody

[2019-04-23 21:17] spficklin commented on #583
This is important, but given lack of time I'm going to mark this as Maybe Later. If we get a lot more interest in using the loader to import Newick files we can re-open.  @bradfordcondon If you disagree give your experience prior to your new position please reopen.

[2019-04-23 21:17] #583 closed, assigned to nobody

[2019-04-23 21:19] spficklin commented on #636
I'm closing this out... not because this is completed, but because we have online docs and the slack channel for continued discussion and planning.  I think this issue has served its purpose to jump start work and more discussion should be held elsewhere.

If anyone disagrees please comment.

[2019-04-23 21:19] #636 closed, assigned to nobody

[2019-04-23 21:24] spficklin commented on #890
Since there's been no further comments since March I'm closing this out.  Please comment if you think it should be reopened.

[2019-04-23 21:24] #890 closed, assigned to nobody

[2019-04-23 21:26] spficklin commented on #876
@almasaeed2010 were you going to submit a PR for this field?  It's been several months since this was discussed?

[2019-04-23 21:28] spficklin commented on #858
Hi Folks, just checking if anything needs to be done for this.

[2019-04-23 21:30] spficklin commented on #857
Since there's been no further conversation in the past month and the issue can't be replicated I'm closing this out. Please respond if we need to keep this issue opened.

[2019-04-23 21:30] #857 closed, assigned to nobody

[2019-04-23 21:43] spficklin commented on #741
I realize this isn't an old issue, and its desired, but given that @bradfordcondon would have spearheaded this, and he has moved onto greener pastures, I'm going to mark as "Maybe Later" and close this out.

[2019-04-23 21:43] #741 closed, assigned to nobody

[2019-04-23 21:44] spficklin commented on #768
I'm going to retract this request. We have the Tripal Galaxy API and it is not as usable as it is the way we have it now.  I prefer our current approach.

[2019-04-23 21:44] #768 closed, assigned to nobody

[2019-04-23 21:45] spficklin commented on #852
This fix got merged, so I'm closing.

[2019-04-23 21:45] #852 closed, assigned to nobody

[2019-04-23 21:48] spficklin commented on #822
There has been on additional comments on this in a few months so I'm closing out the issue.  @songtaogui please comment if you are still having issues and we can try to help further.

[2019-04-23 21:48] #822 closed, assigned to nobody

[2019-04-23 21:54] spficklin commented on #915
@risharde.  In the process of trying to duplicate the problem I see there is something wrong here with saving new properties.  I'll add this to be fixed for v3.2 release.

[2019-04-23 21:56] spficklin commented on #891
@mdondrup and @laceysanderson I'm just following up on this.
@mdondrup can you confirm if branch @laceysanderson mention's fixes the issue for you.  @laceysanderson do you want to issue a PR for that fix?

[2019-04-23 21:59] spficklin commented on #851
Perhaps we could just add a button that says 'Drop all orphans' so that a user can bypass the summary.

[2019-04-23 22:04] spficklin commented on #733
I'm going to close this out as this conversation really belongs on the Tripal Analysis KEGG Issue queue:
 https://github.com/tripal/tripal_analysis_kegg/issues queue.

In summary, the primary hold-up for getting a KEGG module that works is
1) KEGG stopped providing .heir files for results
2) The KEGG vocabulary does not properly fit into Chado :-/

More details can be found at these issues:
https:

[2019-04-23 22:04] #733 closed, assigned to bradfordcondon

[2019-04-23 22:04] spficklin commented on #733
Thanks @bradfordcondon for helping here!

[2019-04-23 22:05] spficklin commented on #733
I should also add... if there is anything unresolved related to this, please feel free  to open a new conversation on the Tripal Analysis KEGG Issue queue:
https://github.com/tripal/tripal_analysis_kegg/issues queue.

[2019-04-23 22:10] spficklin commented on #614
Given our current load I don't think we have time to explore this...

[2019-04-23 22:10] #614 closed, assigned to nobody

[2019-04-23 22:12] spficklin commented on #706
Since this is not urgent and we don't have resources to dig into it. I'm marking it as maybe later.

[2019-04-23 22:12] #706 closed, assigned to nobody

[2019-04-23 22:35] spficklin commented on #598
@bradfordcondon my plan is to start writing on a Chado + Semantic Web later this spring.  I'm going to close out this issue for the sake of freeing space on the issue queue.

[2019-04-23 22:35] #598 closed, assigned to nobody

[2019-04-23 22:41] spficklin commented on #540
I'm going to close this out as I think we've the extensions page finished and the badges available. We need to do a better job of advertising this.  We can definitely improve on user engagement but I think this issue has served its purpose for now.

[2019-04-23 22:41] #540 closed, assigned to nobody

[2019-04-23 22:42] spficklin commented on #505
This issue is a bit old, and we've reworked the rapid install and tested it so I think this is probably resolved. Please comment if not.

[2019-04-23 22:42] #505 closed, assigned to nobody

[2019-04-23 22:45] spficklin commented on #437
I think this is resolved as there is a merged PR and no other comments and the PR references follow-up issues.

[2019-04-23 22:45] #437 closed, assigned to nobody

[2019-04-23 22:47] spficklin commented on #407
I'm going to close this out.  When we do the Chado and the Semantic Web paper we will have to visit every Chado table and get any with missing terms resolved.  I agree with @bradfordcondon that we probably don't want a term for tables.

[2019-04-23 22:47] #407 closed, assigned to shawnawsu

[2019-04-23 22:48] spficklin commented on #367
@bradfordcondon is this still an issue we should keep open?

[2019-04-23 22:50] spficklin commented on #287
@mdondrup when you say you temporarily fixed it, do you mean you had to change the GBrowse code?

[2019-04-23 22:51] spficklin commented on #276
I think this will be an issue with few sites.  So, I'm going to mark this as closed. Thanks @almasaeed2010 for documenting the problem and the fix!

[2019-04-23 22:51] #276 closed, assigned to nobody

[2019-04-23 23:04] spficklin commented on #276
I added your tips to the upgrade documentation @almasaeed2010

[2019-04-24 07:23] abretaud commented on #202
I think that's still something that would be useful, but I'm not actively working on it. Currently python-tripal is able to create organism and analysis entities, even if the [fields are hard coded](https://github.com/galaxy-genome-annotation/python-tripal/blob/master/tripal/organism/__init__.py#L122)

[2019-04-24 07:45] mboudet commented on #858
Well in our case, we sidestepped the issue by looping on the drush enable.
If no changes are made, it might be good to add a warning about the issue in the docs.

[2019-04-24 15:16] bradfordcondon commented on #367
i dont know.  i think my solution was pretty hacky/bad and had problems with the implementation.

If you're confident this is the case then we can close-- i cant think of any though (that use default storage but have a custom formatter).

The specific implementation is not an issue anymore though- i advocate using the DRupal core file field instead.  With that in mind, I'm OK closing.

[2019-04-24 15:16] #367 closed, assigned to nobody

[2019-04-24 15:28] bradfordcondon commented on #583
nope i approve- the data i was loading didn't need multiple trees, worst case scenario someone can write a script to parse through a multitree file, write out individual trees, and batch import.   When I created the issue i was just aware that this format support multiple trees.

[2019-04-24 19:47] mpoelchau opened #926 "Tripal2 gff3 loader won't load all Ontology_term values"
## BUG/ERROR report

### System information

* Tripal Version: 2
* Drupal Version: 7.64
* PostgreSQL Version: 9.6.12
* PHP Version: 7.1.28

### Issue description

I've started loading KEGG, InterPro and GO annotations via the Tripal gff3 loader, using the reserved gff3 attribute Ontology_term, based this discussion: https://github.com/GMOD/Chado/issues/74. Previously we've loaded these using the D

[2019-04-24 19:49] spficklin commented on #858
@abretaud do you have any thoughts on this as it involves the Docker images?

[2019-04-24 19:50] spficklin commented on #202
Okay, I'll add this to be worked on for a v3.3 release.  Hopefully we'll be able to work on it!

[2019-04-24 19:52] spficklin commented on #926
Thanks for reporting this issue @mpoelchau.

I think it should work correctly :-)  As in all terms being loaded.

Just curious how did you get InterPro and KEGG terms to load as there are no official OBOs for those and @bradfordcondon and I have had some discussions about how to get the KEGG vocabulary properly represented in Chado and there are some issues with it.  Did you load them without the

[2019-04-24 20:00] mpoelchau commented on #926
I didn't get InterPro to load, since I couldn't find an obo file.

For Kegg I used this: https://github.com/tripal/tripal_analysis_kegg/blob/7.x-3.x/kegg.obo

[2019-04-24 20:26] spficklin commented on #926
Okay, I think we can fix this easy enough.  I suspect it gave up once it hit that first IPR term that couldn't be loaded but it should continue with all of them.

[2019-04-24 20:32] mpoelchau commented on #926
Awesome, thanks!

[2019-04-25 00:17] spficklin commented on #926
@mpoelchau . The GFF loader is not importing attributes not in the GFF3 spec (e.g. locus_tag, gene_biotype, end_range, etc...).  Were you hoping those would be imported as well?

[2019-04-25 01:11] spficklin commented on #926
Whoops. It did import the attributes. I forgot to attach any newly added properties to the content types which is why I thought it hadn't happened. But it did. So, that is good.

I did fix the bug with not loading the ontologies terms.  Can you checkout this branch and re-run your GFF import and see if the problem is fixed: `926-tv3-GFF_ontology_import`

[2019-04-25 14:10] mpoelchau commented on #926
@spficklin thanks for the fix! Unfortunately I can't test now since 1) our main site (where I originally found the bug) is still on Tripal v2; and 2) we have a tripal3 testing site, but I managed to screw something up so the gff3 won't import and probably won't get around to fixing it for another 2-3 weeks. Apologies...

[2019-04-25 14:17] abretaud commented on #858
Well, it seems like it's not specific to docker images as @bradfordcondon reproduced it outside docker.
It would be great to either warn people that enabling several modules at one can fail, or find a way to avoid the error.
As @mboudet I'm happy with enabling one by one until then

[2019-04-25 15:03] spficklin commented on #926
Okay. no worries. I'm going to issue a pull request for this to get it into the core code then. I ran the exact GFF snippet that you posted above and all of the GO terms went in as expected. I don't have KEGG or Interpro loaded so those didn't get imported.

[2019-04-25 15:19] spficklin commented on #858
Thanks @abretaud .  I should have read this more closely. As these are all extension modules, i'm not sure we can do anything about it in the core Tripal package.

If the problem is that the Tripal Analysis Expression module can not create the field for the term `data:gene_expression_data` then I would suspect there's a dependency that isn't being met properly in the module?  You should be able to

[2019-04-25 15:26] mboudet commented on #858
As far as I recall, the issue is not related to the Analysis_expression module in itself.
If I use another set of modules, (or just don't install this one), it will crash on another module with another field error.

It's been a while, but I think the issue was that tripal starts enabling other modules without waiting for them to be properly set up..

I'm not exactly sure how the commit broke this

[2019-04-25 15:31] spficklin commented on #858
Okay, thanks for the clarification... we'll have to test further to see what went wrong.

[2019-04-25 15:32] bradfordcondon commented on #858
yep if i recall, it isn't a dependency issue.  Whats going on is a field from module X will try to attach to a bundle defined in module Y.  Im not sure which isnt ready- the field or hte bundle.

To reproduce cleanly, define a custom anaysis bundle in one module, and a field that attaches to any analysis bundles in another, and enable them at once.  It shouldnt be module specific (IE a problem wit

[2019-04-26 00:12] spficklin commented on #921
@almasaeed2010 I just tested this and It seems to be working for me in two different cases:

Case 1 I created an organism that you have on hardwoods:
![case1](https://user-images.githubusercontent.com/1719352/56775573-78b14580-677c-11e9-890a-3e2c18456067.png)

Case 2: An organism not on hardwoods.
![case2](https://user-images.githubusercontent.com/1719352/56775574-7a7b0900-677c-11e9-8a31-229a87459

[2019-04-26 00:17] spficklin opened #928 "BUG: Expanding field names in Web services with Spaces"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: N/A
* PostgreSQL Version: N/A
* PHP Version:

### Issue description

If you are using web services and you want to expand a field that has a link (expandable field) and if that field name has a space in it, then web services breaks.

#### Steps to reproduce

#### Error messages and screenshots

For example if you

[2019-04-26 11:45] almasaeed2010 commented on #921
It still does not work for us but if it works for you it's likely a configuration issue on our part. Also, no one else reported the issue which probably is another indicator that it is only our sites. I'll close for now and update this thread if I find the issue on our side.

Thanks for looking into this @spficklin!

[2019-04-26 11:45] #921 closed, assigned to nobody

[2019-04-26 15:52] #928 closed, assigned to nobody

[2019-04-26 15:54] spficklin commented on #893
PR has been merged. I'm closing this out.

[2019-04-26 15:54] #893 closed, assigned to nobody

[2019-04-26 15:55] spficklin commented on #602
Done!

[2019-04-26 15:55] #602 closed, assigned to spficklin

[2019-04-26 22:52] spficklin commented on #431
@guignonv I've applied a fix that should correct the first problem you mention. Take a look at the PR I just posed related to this issue.

As per the second issue, I'm not sure I understand why there's a problem.  If you really want to hard code a prefix on a table you can do it.  Drupal just won't try to adjust the schema or add a table prefix.   In the latter case, Tripal isn't compatible with D

[2019-04-27 00:43] spficklin commented on #177
Okay, I thought this would be low-hanging fruit but it was more involved than I thought.  But I have a PR for it.

[2019-04-29 15:34] spficklin commented on #656
I updated the home page blurb following @laceysanderson's suggestion with a few tweaks.  @laceysanderson if you feel my tweaks need further clarification can you edit the website directly? Drupal 8 is awesome and let's you alter code in-line on the page!

[2019-04-29 15:34] #656 closed, assigned to nobody

[2019-04-29 15:46] bradfordcondon opened #933 "add all contributors section and bot to acknowledge project contributors?"
The spec-

https://allcontributors.org/

The idea-

People who contribute to Tripal get to be acknowledged in a cute little graphic at the bottom of the README.  Maintaining/creating it is super easy thanks to the bot.

I put it up on one ouf or modules to demo:

https://github.com/tripal/tripal_analysis_expression#contributors

![image](https://user-images.githubusercontent.com/7063154/56908494-6

[2019-04-29 16:07] spficklin commented on #682
@abretaud can you help me debug this by providing the steps you use to build the images?

[2019-04-30 17:18] laceysanderson commented on #933
I'm definitely in favour of this functionality.

I love that tripal.info shows the contributing organizations since that is succinct and visual for tripal.info. I feel that adding this section to our github readme reaches a different audience; specifically, tripal.info reaches the PIs and planners, whereas, github reaches those asked to implement Tripal. This section will hopefully make the "imple

[2019-04-30 17:20] laceysanderson commented on #656
I like it, Thanks @spficklin!

[2019-04-30 21:07] #783 closed, assigned to spficklin

[2019-04-30 21:07] spficklin commented on #783
There is no problem it works as advertised!  I added a PR to fix some bug in the spinner but that's all.

[2019-04-30 21:11] spficklin commented on #892
I think this issue is resolved with the PR that was just merged.  If there are outstanding issues please comment.

[2019-04-30 21:11] #892 closed, assigned to bradfordcondon

[2019-05-04 19:58] bradfordcondon commented on #933
no negative thoughts so im going to init it.  we can almost remove and disable if we dont like it.
I'm actually not sure what all icons to add for PMC members so im going to start small

[2019-05-04 19:59] bradfordcondon commented on #933
@all-contributors please add @spficklin  for code

[2019-05-05 02:56] laceysanderson commented on #933
Ooo! Theres a `projectManagement` icon that we could use for PMC members :-D

[2019-05-05 14:14] liumwei opened #935 "Why threre is no the distribution forTriple v3.x?"
Triple v3.x demo（http://demo-3x.tripal.info）is very intuitive for the fresh person.  So why not release the distribution with sample data as Triple v3.x demo？

* Although there is docker version for Tripal, but many errors appear when upgrading with the drush command line
* Please make it come true for the Triple v3.x demo with sample data, Thanks a  lot!

[2019-05-05 14:48] EugeneKim76 opened #936 "Is there any one installed Tripal on OS other than Ubuntu or CentOS?"
Dear all,
Recently, I attempt to install Tripal on openSUSE.
However,  I failed to install Tripal from the first step.
I failed to install httpd as shown in the manual in Tripal.info.
The manual shown in Tripal.info is based on Ubuntu and CentOS7.
I want to follow the manual, however, it is hard to install new OS on our server.
Is there any one installed Tripal on openSUSE?
Is there any problem to

[2019-05-05 18:31] bradfordcondon commented on #936
I imagine you can install Tripal on openSUSE, but will need to use that operating system's specific commands for installing packages. The server setup section is installing and configuring apache/http, php, and postgres.  You could try following a guide on [setting up that stack for openSUSE](https://en.opensuse.org/SDB:LAMP_setup) and then [starting the guide at the drush installation step](https

[2019-05-05 18:37] bradfordcondon commented on #935
can you elaborate on this please?  Which docker are you using?  Both docker distrubtions in use offer Tripal 3 versions.

- [simple all-in-one container](https://github.com/statonlab/docker-containers)
- [customizable container](https://github.com/galaxy-genome-annotation/docker-tripal)
   If you have errors, you could report them on the repository for that docker instance.

We have discussed this

[2019-05-05 19:18] bradfordcondon commented on #933
i did the first round via the command line #937 .  I added projectManagement for PMC.  it would be cool to also acknowledge advisory committee.  Grantwriters too.

[2019-05-05 19:24] bradfordcondon commented on #519
Because I had to look this up:

https://www.drupal.org/forum/support/post-installation/2011-06-02/difference-between-disabled-and-not-installed-module

when a module disables, its configuration is untouched.

Therefore, only when a module is uninstalled should the fields it is responsible for be uninstalled as well.

When a module is **disabled**, my gut says the fields should also be disabled but

[2019-05-08 05:06] liumwei commented on #935
I just use the command line "docker pull mingchen0919/docker-tripal-v3" from the webpage "https://hub.docker.com/r/mingchen0919/docker-tripal-v3".

em, let me try the repository as you mentioned.

Thank a lot!

[2019-05-09 09:53] guignonv commented on #70
Hi! Sorry for the late answer, being in vacation 2 weeks ago and in BrAPI hackathon last week (where my computer died by the way...). Yes, it is still an issue but I have a workaround. If I really need something cleaner, I'll post a PR.

[2019-05-09 10:09] guignonv commented on #431
PR reviewed.

[2019-05-09 17:02] spficklin commented on #431
Thanks @guignonv.  I've merged that PR in and the first issue should now be fixed.   Can you clarify the second issue. I'm not sure what you're looking for. Here's a repeat of my last comment:

[2019-05-09 17:03] spficklin commented on #70
Okay. I'm going to close this out then.  Please comment again if you want us to revisit it and we can reopen it.

[2019-05-09 17:03] #70 closed, assigned to nobody

[2019-05-09 17:04] spficklin commented on #935
Hi @liumwei. Just checking in. Are you still having issues?

[2019-05-09 17:05] spficklin commented on #519
Ah. I think I have an easy fix for this.  When I get a free moment I'll work on it.

[2019-05-09 17:07] spficklin commented on #933
Just thought of something. This requires that all contributors have GitHub accounts. But some folks, especially the folks who find funding may not.... we don't want to leave folks off because they don't have github accounts.

[2019-05-09 18:43] bradfordcondon commented on #935
the github link in that dockerhub repo is to here: https://github.com/tripal/docker-tripal-centos .  which notes that project is deprecated and you should use one of the two repos i listed instead. @MingChen0919 any chance you can update the dockerhub page to redirect?

[2019-05-09 18:48] bradfordcondon commented on #933
we could hardcode them in.  Having a GitHub account [isn't a requirement of the spec](https://allcontributors.org/docs/en/specification#mandatory).  It just makes it much much easier.

[2019-05-09 21:53] laceysanderson commented on #911
PR Merged 🎉

[2019-05-09 21:53] #911 closed, assigned to nobody

[2019-05-10 15:21] EugeneKim76 commented on #936
Thanks for kind reply.
I will add comments when I have a better understanding of this issue.
Best

[2019-05-10 15:23] #936 closed, assigned to nobody

[2019-05-14 21:23] spficklin commented on #926
Fix has been pushed. @mpoelchau let us know if you have problems on your Tv3 sites.

[2019-05-14 21:23] #926 closed, assigned to spficklin

[2019-05-14 21:24] bradfordcondon opened #938 "some SO- based bundles defined with wrong term name"
## BUG/ERROR report

See:  https://github.com/UofS-Pulse-Binfo/nd_genotypes/issues/34

Take the Sequence Variant bundle.

[code]
the term is `sequence_variant` not `Sequence Variant`.  unfortunately its important to fix because when fields attach and if they chose to attach via the term name instead of the accession, it will cause problems.

Confirmed that the fix on install is this simple:

[code

[2019-05-14 21:46] spficklin opened #939 "Performance issues with fields."
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.x
* PostgreSQL Version:
* PHP Version:

### Issue description

1) When fields use code that also has AJAX the field code won't run properly if the field was loaded using AJAX.  For example cv_xray module field that is attached to an organism.

2) Also, Tripal may load fields that are hidden from display are also

[2019-05-15 02:35] bradfordcondon commented on #938
PR submitted with an updatedb.

This raises the question... why can we create a  tripalterm without a === matching cvterm?  Answer: because we dont want to be Chado dependent, right?

[2019-05-15 10:17] kyrenya opened #941 "search missing info"
Hi there!
When using my search forms, now I dont have any information in some of the results fields:

![image](https://user-images.githubusercontent.com/43243429/57768145-e9f07280-7702-11e9-9137-a7fa1391606f.png)

I don't know if this has something to do with views module, but anyway, its updated and patched!
Any help?

(Using last version of drupal core as well).

Thanks a lot

[2019-05-15 15:31] laceysanderson commented on #941
Hi @kyrenya, are the fields behind `Gene` and `Product` displayed on your Tripal Content page (i.e. enabled on Admin > Structure > Tripal Content Types > mRNA > Manage Display)? If not, it needs to be in order to see it in views to ensure the same data is shown across services.

[2019-05-15 15:38] kyrenya commented on #941
solved! It was that!  Thanks a mil!!

[2019-05-15 15:40] laceysanderson commented on #941
Awesome! Glad it worked :-)

[2019-05-15 15:40] #941 closed, assigned to nobody

[2019-05-16 00:51] bradfordcondon commented on #681
FYI the Assay Design bundle (?) is using the term accession for Array design:
https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0000269

should be fixed in this issue

[2019-05-17 09:27] martacsilva opened #942 "Tripal Content - no records showing"
Hi!

My page for Tripal content is not working properly and I honestly can't figure out what's going on. When I filter my search for a specific type of content, it shows a "no content can be found" while also displaying the message "found X records". It's doing this for all types of content, as far as I can tell.
![Capture18](https://user-images.githubusercontent.com/47527249/57918213-35835780-788

[2019-05-17 09:50] martacsilva commented on #942
Apparently it fixed itself!
Thank you.

[2019-05-17 10:04] martacsilva commented on #942
It might be a bug? Because it just happened again. As I'm filtering the results, at some point it stops showing the records.
Apparently closing the tab and re-opening, fixes it.

[2019-05-22 13:42] abretaud commented on #682
@spficklin sorry for the delay
I think all the information is there:
- docker is built with this Dockerfile: https://github.com/galaxy-genome-annotation/docker-tripal/blob/v3.x/Dockerfile
- at startup the scripts in this directory are launched in alphabetical order: https://github.com/galaxy-genome-annotation/docker-tripal/tree/v3.x/scripts/pre-launch.d
- specifically https://github.com/galaxy-gen

[2019-05-26 19:27] laceysanderson commented on #863
The associated PR has been merged so I'm closing this issue. If there was anything unresolved by the PR please comment and we will re-open!

[2019-05-26 19:27] #863 closed, assigned to nobody

[2019-05-29 14:41] #938 closed, assigned to bradfordcondon

[2019-06-03 09:08] guignonv commented on #431
Well, I don't really know how to explain that in a few words, I'm afraid. :-s Basically, I don't think Tripal needs to prefix Drupal tables with "public."; it should remain implicit and Tripal could remain compatible with Drupal table prefixing. The SQL query "SET serach_path..." (in tripal_core.chado_general.api.inc) does the job already: PostgreSQL will search into 'chado' first and then 'public

[2019-06-14 15:42] almasaeed2010 commented on #933
@all-contributors please add @almasaeed2010 for code

[2019-06-21 18:20] theBowja opened #956 "questions about uploading files"
Hi I have a few questions and I first have to mention that I don't have a background in biology.

I have a gff file that I wish to upload via the gff3 file loader however there may be problems with my gff file. More specifically, the ID attribute for both gene and mRNA features are the same.
Example: gene and mRNA both have the ID=002606F-0.0 and mRNA has parent=002606F-0.0
![image](https://user-i

[2019-06-21 18:48] #956 closed, assigned to nobody

[2019-06-21 18:54] spficklin commented on #956
Hi @theBowja.  That's a great question.   Sometimes GFF/FASTA files do require some massaging because to make them compatible.  I see you closed it the issue. Were you able to answer the question on your own?

[2019-06-21 19:08] theBowja commented on #956
I only resolved my problem with IDs. Turns out my gff file was a stripped version so just need to unstrip "-mRNA-1" from the ID for mRNA (and also from all the parent attributes). From there I just need to add "-mRNA-1" to every ID in the fasta file. Not sure if the IDs of the CDS being identical will cause problems though.

I still want to ask the last two questions: Are the extra attributes in t

[2019-06-21 19:53] bradfordcondon commented on #956
hi @theBowja , extra attributes are going to end up as annotations and will be displayed on the feature's page (with some configuration).  The parser stores it in featureprop or feature_cvterm depending on the annotation (and i think AED goes in featureprop.

Assuming Tripal 3, once you've run the importer, if you check for new fields, it should create new featureprop fields for them.

[2019-06-24 13:42] theBowja commented on #956
thanks, I found those extra attributes

[2019-06-24 15:26] theBowja opened #957 "deleting uploaded data"
Let's say that I recently uploaded a fasta file or gff file that I want to undo. How would I go about doing that?

Thanks

[2019-06-24 15:34] theBowja commented on #957
I'm thinking of creating a backup before each upload I do. Would this suffice or is there a better way?

[2019-06-24 15:59] btski commented on #957
Depends on upload size. If you track inserted records (option for bulk loads), you can just revert the upload. However, the track upload option can cause issues for largish uploads, as it uses memory inefficiently (from my experience). If you max memory while uploading, the upload breaks. Don't think you can revert at that point, making the memory difficult to free.

Alternatively, you can manuall

[2019-06-24 16:04] btski commented on #942
Looks like you accidentally had it set to filter by type "Analysis". Hitting the reset button should have fixed your problem.

[2019-06-24 16:07] martacsilva commented on #942
But I only want to see Analysis, and I know I have 21 of them, as shown in the "Found 21 records".

[2019-06-24 21:56] btski commented on #942
Ah my mistake, should have read more carefully. I haven't been able to reproduce your problem.

[2019-06-25 15:24] laceysanderson commented on #942
Hmmm... I'm also unable to reproduce your problem. I tried filtering for different content types with reset in between about 10X and it worked every time. I'm marking this as a potential bug. If you could keep an eye on it trying to notice what might trigger it, that would be extremely helpful. In the meantime I guess the less satisfying fix is just to refresh the page when this happens.

[2019-06-25 15:43] martacsilva commented on #942
So I was able to reproduce it, but bear with me because this is a bit weird. I also don't remember if I did exactly this to trigger it the first time but oh well.

- In Tripal Content, select a Content Type ( in my case I've been using Analysis)
- After you filter it, SOMETIMES (I didn't get this if I had refreshed or reset the page previously) the option to choose a page number still appears at t

[2019-06-25 18:43] laceysanderson commented on #942
Oh, interesting! I added `?page=2` to the end of the URL when I knew there wasn't a second page and can reproduce: "no results" message when the page count says there are records:
<img width="837" alt="Screen Shot 2019-06-25 at 12 42 14 PM" src="https://user-images.githubusercontent.com/1566301/60124374-ae57b800-9746-11e9-9300-0358e03ac5ca.png">

I still didn't see the pager show up when there sho

[2019-06-25 19:57] spficklin commented on #942
Hi @martacds are you using Tripal v2 or Tripal v3?

[2019-06-25 20:01] spficklin commented on #942
@all-contributors please add @btski for question

[2019-06-25 20:07] spficklin commented on #957
Unfortunately, there's not a good way to remove data once it's in using core Tripal.  I'm tagging this as a feature request as this is something we probably should look into.

But I wonder if the [Tripal Headquarters](https://tripal-hq.readthedocs.io/en/latest/introduction.html)  module might help. @bradfordcondon or @almasaeed2010 what do you think?

[2019-06-25 20:23] spficklin commented on #933
Some additional contributions:

@all-contributors please add @shawnawsu for content,doc,code,review
@all-contributors please add @jlwegrzyn for fundingFinding
@all-contributors please add @ekcannon for ideas,eventOrganizing
@all-contributors please add @mestato  for eventOrganizing
@all-contributors please add @spficklin for eventOrganizing

[2019-06-25 20:23] spficklin commented on #933
@all-contributors please add @shawnawsu for content,doc,code,review

[2019-06-25 20:23] spficklin commented on #933
@all-contributors please add @shawnawsu for content ,doc, code, review
@all-contributors please add @jlwegrzyn for fundingFinding
@all-contributors please add @ekcannon for ideas, eventOrganizing
@all-contributors please add @mestato for eventOrganizing
@all-contributors please add @spficklin for eventOrganizing

[2019-06-25 20:24] spficklin commented on #933
@all-contributors please add @shawnawsu for content, doc, code, review
@all-contributors please add @jlwegrzyn for fundingFinding
@all-contributors please add @ekcannon for ideas, eventOrganizing
@all-contributors please add @mestato for eventOrganizing
@all-contributors please add @spficklin for eventOrganizing

[2019-06-25 20:24] spficklin commented on #933
oh goodness gracious....

@all-contributors please add @shawnawsu for content, doc, code, review

[2019-06-25 20:24] spficklin commented on #933
@all-contributors please add @jlwegrzyn for fundingFinding

[2019-06-25 20:24] spficklin commented on #933
@all-contributors please add @ekcannon for ideas, eventOrganizing

[2019-06-25 20:25] spficklin commented on #933
@all-contributors please add @mestato for eventOrganizing

[2019-06-25 20:25] spficklin commented on #933
@all-contributors please add @spficklin for eventOrganizing

[2019-06-25 20:25] spficklin commented on #933
@all-contributors please add @laceysanderson for eventOrganizing

[2019-06-25 20:26] spficklin commented on #933
@all-contributors please add @bradfordcondon for eventOrganizing

[2019-06-25 20:27] spficklin commented on #933
So, I have learned from this, you should only do this one at a time, and merge the PR before issuing another!

[2019-06-25 22:24] spficklin commented on #936
@EugeneKim76 just checking to see if you were successful with OpenSUSE?

[2019-06-25 22:26] spficklin commented on #935
Hi all. I'm just following up with this to see if there's more we need to do?

[2019-06-26 02:12] bradfordcondon commented on #957
Tripal headquarters is for creating "draft" records with an end-user focus- letting users propose chado records that need to be approved before they go into Chado.  It sounds like @theBowja wants to rollback FASTA/GFF imports which is pretty different- headquarters would be more for letting users propose an anaysis record and upload/link the FASTA file, that the admin would later load.

Backups ar

[2019-06-26 02:14] bradfordcondon commented on #759
this is merged, closing.  Thanks @shawnawsu

[2019-06-26 02:14] #759 closed, assigned to nobody

[2019-06-26 09:39] martacsilva commented on #942
Hi @spficklin , I'm using Tripal v3

[2019-06-27 15:10] Yosra3 opened #966 "How to manage users access to Tripal content views"
Hi
I created different views on Tripal but only the admin has access to the content.
Please how can i grant access right to all  authenticated user ?

Thank you

[2019-06-27 15:35] laceysanderson commented on #966
How to change permissions on views: Edit the view and change the "permission" settings as shown in the screenshot.
<img width="1417" alt="Screen Shot 2019-06-27 at 9 24 55 AM" src="https://user-images.githubusercontent.com/1566301/60279348-1da3e800-98be-11e9-809e-2aa501720c86.png">
<img width="811" alt="Screen Shot 2019-06-27 at 9 27 22 AM" src="https://user-images.githubusercontent.com/1566301/60

[2019-07-02 16:27] srobb1 opened #969 "after Tv2 data migration, views can't find cv table"
Hello,

I finally managed to upgrade from Tv2 to Tv3 (7.x-3.2). We followed the steps for the migration. Now the first thing I wanted to try is to add a new content type. I want to check to see if the term gene_group(SO:0005855) is in the db. I go to both 'Mange Chado CV Terms' and 'Manage Chado CVs'. I try to do a search with no filters to get the full list back, but I get nothing. I do into 'edi

[2019-07-03 20:06] srobb1 opened #970 "issue upgrading chado 1.2 to 1.3"
Hello,

I am expanding on a question I asked [here](https://github.com/NAL-i5K/T2-to-T3-Upgrade-Guide/issues/1)

My original question and response from @bradfordcondon:

----
We we try to upgrade from chado 1.2 to 1.3. When we are done, Tripal still tells up we have 1.2.

We tried your [premigration script](https://github.com/NAL-i5K/T2-to-T3-Upgrade-Guide/blob/master/pre_migration.sh), then try t

[2019-07-03 23:20] spficklin commented on #970
Hi @srobb1 .  The `featuregroup` table is in the `frange` schema.  Tripal doesn't use, but it is part of Chado.  Do you see it  there on your site?

This problem does look to be index related.  The `int4_ops` is the class that PostgreSQL uses to search through an index.  So an `int8_ops` would be more appropriate for a `bigint` column which is what all of the ID columns in Chado tables get changed

[2019-07-03 23:28] spficklin commented on #969
:tada:

If you are getting nothing back from the "Manage Chado CV Terms" it may be because you've updated the Views module recently and you need to reapply the Views patch. See instructions here:
 https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/manual_install/install_tripal.html#apply-patches.

The message `Undefined table: 7 ERROR: relation "cv"` is a bit odd.... If you are gett

[2019-07-03 23:37] spficklin commented on #966
@Yosra3 does @laceysanderson 's response address your question?  Let us know and we can close this issue out if so, and if not we can help more.

[2019-07-05 10:57] martacsilva opened #971 "Error - BioMaterial Loader (relation "cv" does not exist)"
Hi guys!
I've recently updated everything (Drupal, Tripal, and all modules that I have installed) to the latest version and am now trying to upload some Biomaterials in an .xml format that I have uploaded before. The files haven't been altered in any way.

I got the following error message:

[code]

Can you help me please?

Thank you!

[2019-07-05 15:25] laceysanderson commented on #971
Hi @martacds,

The most recent version of Tripal introduces a prompt to "Please register your Tripal Site. Registering provides important information that will help secure funding for continued improvements to Tripal."... It looks like this message is interrupting your ajax. I would go to your website and register your Tripal instance (there's an option for development sites or you can choose to o

[2019-07-05 15:29] martacsilva commented on #971
Hi @laceysanderson !
Just a small problem. This is currently a testing website that is under development but the idea is to make it the official one in the future.

Am I correct in assuming that if I register it right now as development I won't be able to change that later? We are interested in making it public later on.

Thanks!

[2019-07-05 15:51] martacsilva commented on #971
I see this "You can return later and register at any time." in the registration page. Does it mean that I can go back and re-do the registration?

[2019-07-05 15:58] spficklin commented on #971
Hi @martacds.  Yes, you can return at any time and update the registration details.  Also, what are you using the load the biomaterials?

In the error message you post I see this:
[code]
The `INNER JOIN CV` should be `INNER JOIN chado.cv`.  So, that makes me wonder if there's a bug in that statement.  We don't have a biomaterial loader as part of core Tripal so that's why I'm wondering what module

[2019-07-05 16:03] martacsilva commented on #971
Hi @spficklin ,
Thanks for the answer regarding the registration!

Unfortunately I'm not the one who installed everything so my knowledge is limited. What I know is that inside `admin/tripal/loaders` I have an option for Chado Biological Sample (Biomaterial) Loader.  This is what I'm using to upload my Biomaterials.

I assumed this was the right to place to ask but maybe not?

[2019-07-05 16:09] martacsilva commented on #971
Found it! I think it's:
https://github.com/statonlab/tripal_biomaterial
But I think it comes with https://github.com/tripal/tripal_analysis_expression

[2019-07-05 16:18] spficklin commented on #971
Okay, I think I see what is wrong.  This may be something we can fix with Tripal itself.  In their code they build the SQL using a capital `{CV}` for the table named `cv`.  The Tripal API function is supposed to add the `chado.` prefix to table names surrounded by brackets but only if it recognizes the table.  We had to recently adjust that function and I think we may have broken it for case-insen

[2019-07-05 16:25] martacsilva commented on #971
Yeah, I think do! Will try to do it and will report back!

[2019-07-05 16:29] spficklin commented on #971
Okay, I just posted a pull request that I think fixes the problem for you: #972.

To try out the fix, you will have to clone Tripal. I'm guessing you have installed Tripal using drush.  To swap it out with the GitHub development version try these steps:

1. Move the original tripal module out of the `sites/all/modules` directory.
2. Clone Tripal from GitHub
[code]
Then retry importing your biomate

[2019-07-05 16:30] spficklin commented on #971
When you move the tripal module out of the `sites/all/modules` directory make sure it is no where that Drupal can find it or you'll get a conflict.

[2019-07-05 16:38] martacsilva commented on #971
Did what you said. When trying to load the Biomaterial an error still shows up:
[code]

[2019-07-05 16:44] spficklin commented on #971
If you are available on the Tripal slack channel it might be easier to try and resolve.
I realized after I sent the post above that I flubbed up the fix and quickly reworked it.  I was hoping to get it before you pulled but perhaps you pulled before my rework.  Can you try to run this command:

[code]
If it pulls updates then can you try to reload the biomaterial?

[2019-07-07 21:08] spficklin commented on #971
As this is fixed as per the positive review on PR #972.  I'm going to close this out.  Thanks for reporting the problem @martacds

[2019-07-07 21:08] #971 closed, assigned to nobody

[2019-07-08 18:07] srobb1 commented on #970
Hi @spficklin

I am happy to see that I do have the `featuregroup` table in the `frange` schema :)

Here are my indexes for this table.
[code]

I am missing the bingroup_boxrange for `featuregroup` that you have listed.

Sofia

[2019-07-08 21:23] spficklin commented on #970
So, it's very interesting that you have this problem only on the `featuregroup` table (so far). I don't understand why an index class change would be problematic for this table but not others.  One idea is to do as @bradfordcondon suggests and remove the indexes and try again.  Before you do so, you can dump the table SQL from postgres. That way if you need to restore the indexes afterwards you ha

[2019-07-09 03:07] songtaogui opened #974 "Problems of displaying functional annotations in tripal3"
Hi,

I have had some problems when uploading Functional Annotation data (Blast, GO & Interpro) to tripal3. The uploading step was following the [offical tutorial](https://tripal.readthedocs.io/en/latest/user_guide/example_genomics/func_annots.html), and no error occured during the uploading.

However, after uploaded the annotation data, they can be searchable in the `search gene` chardo search:

b

[2019-07-09 13:03] bradfordcondon commented on #974
hello, did you follow the [setup section](https://tripal.readthedocs.io/en/latest/user_guide/example_genomics/func_annots/setup.html) for this guide?  Specifically-

- did you remember to press the `check for new fields` button on the gene bundle configuration page?
- did you remember to **enable the display** of the new fields in the display configuration page?

your gene bundle display page shou

[2019-07-09 13:06] bradfordcondon commented on #969
hi @srobb1 this should have been resolved by @spficklin PR #972 (hopefully).  Can you update Tripal and retest?

[2019-07-10 02:08] songtaogui commented on #974
Hi，@bradfordcondon

Thank you for your kindly reply. We have tried to `check for new field` and it said `No new fields were added`.

[2019-07-10 12:52] bradfordcondon commented on #974
hi @songtaogui can you please share a screenshot of your field display config (the far right tab of the bundle) so we can confirm these fields are configured to  display correctly?

[2019-07-11 06:19] webfaqtory opened #975 "Get the Entity_ID from the Feature_ID (in the features table) in V3.2"
I am converting our search module from V2 to V3.

In the V2 the version the search returns a list of feature_id(s) from The Chado features table and then loads the node with:

[code]
We then create a link to the Feature's page with:

`l($node->title, 'node/' . $node->nid) ;`

My question is: In V3, how do I get the link to the Features page from the feature_id of the Chado features table?

[2019-07-11 13:39] bradfordcondon commented on #975
https://github.com/tripal/tripal/blob/82e052df1c3d912d8616756af735a262067ee893/tripal_chado/api/tripal_chado.entity.api.inc#L51-L68

So it is simply: `chado_get_record_entity_by_table('feature', $feature_id)`

Then to link, you can link to `/bio_data/x`.  If im not mistaken, the `entity` also has a `title` key just like node.

[2019-07-14 00:57] bradfordcondon commented on #935
closing due to inactivity

[2019-07-14 00:57] #935 closed, assigned to nobody

[2019-07-17 03:21] songtaogui commented on #974
hi @bradfordcondon , sorry for the late reply. The problem was solved, it is because that the uploaded annotation was based on protein IDs rather than the gene IDs.

Sorry for the careless and thank you for your kindly help.

[2019-07-17 03:21] #974 closed, assigned to nobody

[2019-07-23 13:49] bradfordcondon commented on #975
hi @webfaqtory did this answer your question?  If not please let us know, otherwise ill close out this issue.

[2019-07-23 14:43] webfaqtory commented on #975
Hi Bradford,

Yes all good. Many thanks

[2019-07-23 14:47] #975 closed, assigned to nobody

[2019-07-25 06:13] webfaqtory commented on #891
The sequence display works on the demo site. See http://demo-3x.tripal.info/bio_data/609

Tried the 3.2-dev branch and we still get "There is no sequence." for a mRNA that does have a sequence display in V2

[2019-07-29 13:51] spficklin commented on #891
@webfaqtory.  Can you tell me how you loaded your mRNA sequences?  Did you load them via a FASTA file or were you hoping they would show up due to an alignment to a whole genome sequence?  If the latter, how did you load your mRNA... via GFF file?

[2019-07-30 01:30] bradfordcondon commented on #966
looks like this question was answered.  If you still have questions please feel free to comment and I'll re-open.

[2019-07-30 01:30] #966 closed, assigned to nobody

[2019-07-30 02:00] bradfordcondon commented on #75
I couldnt recreate this exact error, but i did add validation that I think is pretty straight forward in the form.  In addition i improved the error reporting.

[2019-07-30 02:10] bradfordcondon commented on #214
this can be accessed via [`system_get_info`](https://api.drupal.org/api/drupal/modules!system!system.module/function/system_get_info/7.x).  so, might not be necessary.

`dpm(system_get_info('module', 'tripal'));` yield this:

<img width="948" alt="Screen Shot 2019-07-29 at 10 09 52 PM" src="https://user-images.githubusercontent.com/7063154/62095206-a0b5b680-b24d-11e9-9e77-a42e8b795f98.png">

so we

[2019-07-30 02:17] bradfordcondon opened #977 "dead link in contributing.md"
link is to: https://tripal.readthedocs.io/en/latest/dev_guide/contributing.html

[2019-07-30 02:36] toefish commented on #891
@spficklin. The mRNA sequences were originally loaded via FASTA files, with a follow-up loading of a GFF file that delineates the different features of the mRNA. The site @webfaqtory is working on is an upgrade from Tripal 2.x to Tripal 3.2. The 2.x site displayed the sequences fine. It does seem odd that sequence display seems to work on the demo 3.x site, but not on our 3.2 site.

[2019-08-01 14:24] theBowja opened #979 "indexing items immediately"
Hi.

I have an custom index on two bundles: mRNA and Transcript (I added this one). When I publish tripal content like mrna or transcript, the index does not show that there are any new things to index. It'll say something like 0/0 indexed. I have to disable then enable the index in order for those published content to show up for indexing.

Within the edit tab for adding an index there is an opti

[2019-08-01 15:08] bradfordcondon commented on #979
Sounds like you talking about [tripal elasticsearch](https://github.com/tripal/tripal_elasticsearch) integration?  In theory there is a hook that triggers when an entity is published that will index the new entity.  I've created an issue on that module, hopefully someone will be able to look into it.

[2019-08-01 15:12] theBowja commented on #979
I do not have elasticsearch module enabled. I am using [Search API](https://tripal.readthedocs.io/en/latest/user_guide/searching/search_api.html). Do you think elasticsearch supports what I'm looking for?

[2019-08-06 14:23] par12005 opened #980 "Possible bug in so__genotype->load($entity)"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.1
* Drupal Version: 7.67
* PostgreSQL Version: 10.9
* PHP Version: 7.2.19

### Issue description

I am having a problem with the default so__genotype Tripal Field class that comes with tripal_chado. Whenever I add this field to a Tripal Bundle, I don't experience any errors, but all of my Tripal Content with this field shows "no

[2019-08-06 14:23] par12005 commented on #980
patch:
[code]

[2019-08-06 17:53] theBowja commented on #979
Is there hook for when a publish job ends?

[2019-08-07 01:23] bradfordcondon opened #981 "404 not found when uploading files"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3. latest
* Drupal Version: 7.64
* PostgreSQL Version: 9.5.14
* PHP Version: 7.1

### Issue description
I'm struggling with a error with all file uploads handled by the tripal importer class.
the upload dialog simply returns Not Found, with two urls in the network tab giving a 404:

[code]

the files are not added to my site/defaul

[2019-08-07 13:12] webfaqtory opened #982 "Custom field not displaying"
We have a Custom field that displays a panel containing a jBrowse genome browser that is working fine. However if 'Hide empty fields' is checked on the the bundle's edit page, our menu link & panel never shows. I'm sure we are missing some simple setting in hook_bundle_instances_info() or the ChadoField sub class but can't find anything. Help please.

[2019-08-08 13:33] bradfordcondon commented on #982
your field probably doesn't have the `value` set.  In the base field class (not the formatter) make sure that the field value is set.  Something like ` $entity->{$field_name}['und'][0]['value']`.  If the field doesnt use load any data yo ucan simple set it to true or 1.

If that doesnt fix your issue please link the field code so we can better troubleshoot.

[2019-08-08 17:35] srobb1 opened #983 "Questions: Issue with using chado grp table and displaying data. Issue with displaying BLAST analysis."
Hello. I am finally running Tripal 7.x-3.2 ... well on a dev site. I really want to get it on my production site asap. I have to figure out just a couple more things.  Let me know if I should break this up into two issues.

In my tripal 2 site I had added a gene groups pane using theme_registry_alter. The data is stored in the chado table grp and the linked tables.

I think I would prefer to use t

[2019-08-08 17:42] srobb1 commented on #970
We have this worked out. @bradfordcondon was correct. We started with deleting the feauregroup_idx*. The next error was with the index for cvtermpath. We deleted those and got the next table. So we deleted all indexes for all chado tables.

We followed @bradfordcondon example and generated drop index statements with this
[code]

Before we dropped the indices as @spficklin suggested, we dumped the

[2019-08-08 17:45] srobb1 commented on #969
Sorry for the long delay. Once we were able to overcome our issues with updating Chado from 1.2 -> 1.3 #970 we no longer had this problem.

[2019-08-09 13:09] webfaqtory commented on #982
Many thanks, all sorted now

[2019-08-09 13:10] #982 closed, assigned to nobody

[2019-08-09 15:47] laceysanderson commented on #970
Glad it worked!

[2019-08-09 15:47] #970 closed, assigned to nobody

[2019-08-09 15:47] #969 closed, assigned to nobody

[2019-08-11 12:40] bradfordcondon commented on #983
### layouts
sorry i cant help you there, maybe someone who ha sused the legacy templates can offer some help.

###  Missing BLAST
What content are you checking for new fields on?  mRNA right?  Blast Analysis entities... they will get converted to "vanilla" analysis entities when you run the t2-t3 migrator.  This is specifically why i created [tripal alchemist](https://github.com/statonlab/tripal_a

[2019-08-13 14:50] spficklin commented on #979
Hi @theBowja.  If I remember correctly, the Search API is quite slow and problematic which is one of the reasons the Tripal ElasticSearch module exists. It works wonderfully well with Tripal v3.  @laceysanderson perhaps remembers the issues we had with the Search API.

[2019-08-13 14:52] spficklin commented on #980
This is great @par12005 .  Thanks for contributing.  Are you comfortable enough creating a pull request with this fix? If so, then you will get credit within the GitHub and the Tripal repo for this fix. It also helps us keep track of how many code contributions we get from those outside of the core developers.

[2019-08-13 14:59] par12005 commented on #980
Thanks @spficklin! I think I can figure out a pull request, is it the same process as creating pull requests for extension module badge updates?

[2019-08-13 15:15] spficklin commented on #75
Thanks @bradfordcondon for working on this older issue :+1:

[2019-08-13 15:17] spficklin commented on #214
Oh, I agree @bradfordcondon.  I think this should be sufficient.  We could easily wrap this up in a nice little Tripal API function to make it easy on module developers.

[2019-08-13 15:19] spficklin commented on #980
Hi @par12005. Yes I believe it is.  You should be able to make your changes through the GitHub web GUI and submit as a pull request.  Alternatively, you can fork Tripal, make the changes in your fork and then follow instructions in GitHub to push the pull request back to the core Tripal repository.  For simple changes the former is probably easiest, for larger changes the latter would be easier.

[2019-08-13 15:58] spficklin commented on #981
Does your `admin/config/media/file-system` page look like this:

![image](https://user-images.githubusercontent.com/1719352/62956840-79f89380-bda8-11e9-8847-d32b824edcfe.png)

[2019-08-13 15:59] spficklin commented on #891
@toefish sorry for the slow reply. I was on vacation.  Could you share snippets of the FASTA file and GFF file for those sequences?

[2019-08-13 16:13] spficklin opened #984 "Monthly User's Meeting Format Change"
This issue is to request comments for a suggested change to the monthly Tripal User's Meeting.  Now that we have a formal Project Management Committee (PMC) and a formal Tripal Advisory Committee (TAC) and we are using GitHub for core functionality discussions, it has been suggested that we change the meeting format to help build synergies between different Tripal User's.   Here's the suggested fo

[2019-08-13 17:29] theBowja commented on #979
Hi. I'm not sure if Tripal ElasticSearch can do what I'm looking for. I want to join the organism, organismprop, feature, and featureprop tables to search and filter: scientific name and common name in organism table, order in organism prop, name in feature table, and description in featureprop table. At first glance, it seems like Tripal ElasticSearch can only index fields from a single table?

[2019-08-13 17:37] almasaeed2010 commented on #979
Hello @theBowja

If you can create a Materialized View containing the data you want, ElasticSearch will be able to generate a form for you and index the data from your MView. However, this means that you have find a way to auto-update the mview when data is added and then update the index after the mview is created. I am not sure if it's possible to reach complete autonomy.

[2019-08-13 17:46] bradfordcondon commented on #981
yes, it did originally.  I was following some suggestions and changed the temp directory to a new temp deirectory, tmp2 , but this didn't work.  I also have private files pointed at  `/var/www/private`

[2019-08-13 19:02] #75 closed, assigned to bradfordcondon

[2019-08-13 23:39] spficklin commented on #981
@bradfordcondon that GET and PUT URLs look okay to me.  I just checked that I'm seeing the same thing on a test upload.  Did you check the Apache log file to see if there are any messages there?

[2019-08-14 03:20] songtaogui opened #987 "'Analysis' sidebar option in gene detail page in Tripal3"
Hi,

In tripal2  there is an 'Analysis' sidebar option in the gene detail page:

which shows analysis related to this gene feature:

![image](https://user-images.githubusercontent.com/14274330/62992275-6d963880-be85-11e9-836d-40a2a9ffb545.png)

However, in tripal3, this sidebar was disappeared.

So how could I add an 'analysis' sidebar to Tripal 3 gene page?

Thank you

Songtao Gui

[2019-08-14 14:21] par12005 commented on #980
@spficklin, I created the pull request: #985. Please let me know if there is anything else I can do!

[2019-08-14 15:31] spficklin commented on #980
Wonderful thanks! When I get a bit of free time today I'll test it.

[2019-08-15 14:21] mestato commented on #984
Just to clarify item 2, I think asking the TAC to show up to every meeting is unrealistic for some members. So it would be the TAC chair and any other present members getting feedback from the community. I just want this clarity as the Tripal governance document (https://tripal.readthedocs.io/en/latest/contributing/governance.html) specifies TAC members meet once a quarter. Since we've barely gott

[2019-08-15 20:53] theBowja commented on #979
hey @almasaeed2010 I'm not sure how to work this out.

I've created the materialized view with
`CREATE MATERIALIZED VIEW keywordsearch AS select etc...`

When I go to Tripal ElasticSearch Create Index and select 'Database Table' for Index type, I don't see my materialized view in select tables.

[2019-08-16 12:24] almasaeed2010 commented on #979
I think you have to create the materialized view using the Tripal interface at `/admin/tripal/storage/chado/mviews/new` That's where ES looks for mviews.

[2019-08-21 20:44] spficklin commented on #984
Yes, I agree @mestato. Sorry if that was confusing. It was meant to mean 5-15 minutes of time set aside for TAC if they wanted to communicate anything to the larger Tripal community. But it can certainly be a discussion of item the community might want to bring to the attention of the TAC as well.

[2019-08-21 21:17] spficklin commented on #980
I @par12005 .  I merged in your pull request. Thanks for the submission.

I do have a question for you though... specifically how are you getting that field to work on your site?  The reason is that the code in Tripal that would automatically attach that field to a content type (bundle) is commented out. So neither the so__genotype or sbo__phenotype will get attached to a field on it's own and it'

[2019-08-22 13:41] par12005 commented on #980
Thanks @spficklin! Here is the code snippet where I add the so__genotype field to my bundle:
[code]

In this excerpt, the `$bundle` variable comes from:

[code]

And the "Stock" bundle is the new Tripal Content Type that I created with `tripal_create_bundle`.

[2019-08-22 14:41] spficklin commented on #980
Okay, I see.  So you have your own module and you wrote code to make this happen. Great!  The only thing about those fields is that we never completed them.  I'm glad you found use out of them the  way they are.  But, if we ever do get around to finishing them you may have a problem in that they change on you.... which wouldn't be good.  So to prevent that from happening to you, could you particip

[2019-08-22 15:13] spficklin commented on #987
Yes, in Tripal v3 there is no field that connects features with analyses in which those features are used. I'm not sure if we missed it or if it was purposely excluded. I'm going to tag this issue as "Discussion" to get input from the @tripal/project-managent-commitee-pmc.

For some content types that link to Chado tables with an `analysis_id` column in the table, there should be a field for the a

[2019-08-22 15:23] par12005 commented on #980
Yes, this code is part of the [TPPS module](https://github.com/par12005/TPPS). The functions that do the actual storing of genotype/phenotype data can be found in [this file](https://github.com/par12005/TPPS/blob/7.x-1.x/includes/file_parsing.inc). More specifically, phenotype information is stored in the database starting on [this line](https://github.com/par12005/TPPS/blob/7.x-1.x/includes/file_

[2019-08-23 21:28] bradfordcondon commented on #987
I'd welcome this as a contribution.  If we decided it didn't fit into core, i think it would fit nicely in [manage-analyses](https://github.com/statonlab/tripal_manage_analyses).

[2019-08-28 14:13] mdhar1980 opened #989 ""null value in column id value" Error when restoring database on backup VM"
Hello!

We have a Tripal (v 2.1) installed and running on a production server, and had copied over files and used archive/restore of the database to copy everything onto a VM to serve as backup/development server. The sites look identical when visited as a user. However, when signing into the VM/development version, an error appears and freezes the site if you click on any admin menu item other th

[2019-08-28 14:48] spficklin commented on #989
Hi @mdhar1980 . If you look at the table structure for the Drupal `queue` table, you'll see that the `item_id` column has a default value that gets populated by the `queue_item_id_seq` sequence.

![image](https://user-images.githubusercontent.com/1719352/63866323-e1494280-c967-11e9-8ece-8d1fdb49ccb0.png)

 If Drupal is trying to insert a value into that table (as indicated in the error message you

[2019-08-28 14:52] mdhar1980 commented on #989
Hi, Stephen,

Thanks for your response!

For the dump and restore, I simply used those drush commands. Unless I misused them, would that then mean those methods miss some items? Is there a way to ensure dump/restore doesn't miss primary keys?

Thanks again,
Michael

[2019-08-28 15:06] spficklin commented on #989
What drush commands did you use?

In the past, I've used this command to dump the database:

`pg_dump --no-owner  -h [host] -U [user] -W -f [database].sql [database] `

And this to restore:

`psql -U [user] -h [host] -d [database] -f [database].sql`

[2019-08-28 15:08] mdhar1980 commented on #989
Hi, Stephen,

Thanks, I'll give those a try.

I used drush commands:

drush sql-dump > /share/Backups/database-backup_7-18-19.sql
`drush sql-connect` < ~/Backups/server-database-backup_7-18-19.sql

[2019-08-28 15:08] spficklin commented on #989
Yeah, sorry. I see you posted those in your original message above. Hopefully the PostgreSQL dump command work for you.

[2019-08-28 15:09] mdhar1980 commented on #989
There's some automatic formatting going on here, but there are back tics around "drush sql-connect"

[2019-09-01 15:38] mdhar1980 commented on #989
Hi, reporting back: Unfortunately, those backup/restore commands resulted in the same error:

[2019-09-01 16:32] mdhar1980 opened #991 "Can't "sudo su - postgres": Get "This account is currently not available.""
Hello,

I've been having some issues with restoring a backup of my postgres db to a VM (development instance: see here: https://github.com/tripal/tripal/issues/989#issuecomment-525779743).

So I wanted to create a test database on our production server. However, I'm unable to change to the postgres user, as described here: https://tripal.info/tutorials/v2.x/installation/drupal

I get "This account

[2019-09-04 03:45] bradfordcondon commented on #981
this is a [known issue](https://github.com/galaxy-genome-annotation/docker-tripal/issues/41) with how the docker Tripal stack hosts the site at `somewhere.com/tripal`.  hopefully i'll resolve there eventually but not a Tripal issue so closing.

[2019-09-04 03:45] #981 closed, assigned to nobody

[2019-09-04 03:46] bradfordcondon commented on #933
im closing this issue.  if anyone wants to keep using it as a scratch pad adding users, they can continue to do so.

[2019-09-04 03:46] #933 closed, assigned to bradfordcondon

[2019-09-04 03:49] bradfordcondon commented on #714
Ultimately i dont think we're interested in this right now.  closing.

[2019-09-04 03:49] #714 closed, assigned to nobody

[2019-09-04 14:54] jwest60 opened #992 "Annotations pane hidden when empty field is added"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.1
* Drupal Version: 7.61
* PostgreSQL Version: 10.5
* PHP Version: 7.1.20

### Issue description

Under **Admin->Structure->Tripal Content Types->mRNA** there is a field called Annotations that appears under a pane called Annotations. When an empty field is added under this pane and is structured before the Annotations field, the

[2019-09-09 17:04] jhumann opened #993 "Tripal 3 error when loading GFF3"
## BUG/ERROR report

### System information
* Tripal Version: 7.x-3.2
* Drupal Version: 7.67
* PostgreSQL Version: 10.10
* PHP Version: 7.0.33

### Issue description
I was loading a GFF3 file of genome scaffolds and the GFF loaded fine, but during the final steps of the process, I got this error message:

Remapping Chado Controlled vocabularies to Tripal Terms...
WD tripal_chado: PDOException: SQL

[2019-09-09 20:25] laceysanderson commented on #993
Hi @jhumann, I believe this was fixed in this PR: https://github.com/tripal/tripal/pull/954. To test, you could either update to the development version of Tripal or try to apply the patch from that PR: https://patch-diff.githubusercontent.com/raw/tripal/tripal/pull/954.patch

[2019-09-09 23:08] jhumann commented on #993
@laceysanderson , that did the trick.  My file loaded fine.  Thanks a bunch!

[2019-09-09 23:08] #993 closed, assigned to nobody

[2019-09-10 12:50] EugeneKim76 opened #994 "About ERROR: relation "arraydesign" does not exist"
Dear all,
I'm now installing Tripal 3.0 as in the manual of 'tripal.info'.
However, after 'prepare both Drupal and Chado' process. the error message below was shown.

WD tripal_chado: PDOException: SQLSTATE[42P01]: Undefined table: 7 ERROR:  relation "arraydesign" does not exist

[2019-09-10 13:15] bradfordcondon commented on #994
If you dont [have the arraydesign table](https://chado.readthedocs.io/en/rtd/_static/schemaspy_integration/tables/arraydesign.html), then something is wrong with your Chado setup.

- Are you installing Tripal from scratch, or upgrading from Tripal 2?  If installing, are you following the rapid or step-by-step guide?  See the guides at: https://tripal.readthedocs.io/en/latest/user_guide/install_tri

[2019-09-10 13:20] bradfordcondon commented on #991
https://unix.stackexchange.com/questions/441683/why-cant-i-su-postgres

Have you tried some of the suggestions here such as `sudo -u postgres -i` or giving ~~your `postgres` user a password~~ edit---- nevermind thats a security hole apparently, dont give the user a password.

Your issue is definitely a systems level permission one though

[2019-09-10 13:22] almasaeed2010 commented on #994
I think this issue is caused by a typo that we've fixed here https://github.com/tripal/tripal/pull/954

Specifically, notice the space before `arraydesign` in `SELECT platformtype_id FROM { arraydesign} GROUP BY platformtype_id `

Did you download tripal from github or drupal (using drush or other methods)?

[2019-09-11 02:16] EugeneKim76 commented on #994
I downloaded tripal using command line below.
drush pm-download tripal
I think the error is related to the tripal downloaded from drupal.

After downloading tripal from github, tripal was successfully installed.
Thanks for kind comments!

[2019-09-11 02:16] #994 closed, assigned to nobody

[2019-09-12 17:20] jhumann opened #995 "Title of Publication Feature page is truncated at certain formatting"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.2
* Drupal Version: 7.67
* PostgreSQL Version: 10.10
* PHP Version: 7.0.33

### Issue description
This is an issue with the T3 Pub Importer.  It truncates and stores the title in the title field of the 'tripal_entity' table.

When a publication title has italics or super/sub-script formatting, the feature page title is being trun

[2019-09-12 18:04] jhumann opened #996 "Number of published items not displayed properly"
## BUG/ERROR report

### System information
Tripal Version: 7.x-3.2
Drupal Version: 7.67
PostgreSQL Version: 10.10
PHP Version: 7.0.33

### Issue description
Just a minor thing I observed when publishing some recently uploaded genes and mRNA.  I did confirm that all the data actually loaded.  The terminal output seems to only publish the last 3 digits of the number of successfully loaded items.  e

[2019-09-12 19:50] #846 closed, assigned to nobody

[2019-09-12 20:07] #977 closed, assigned to bradfordcondon

[2019-09-17 21:54] bradfordcondon commented on #957
hi @theBowja did any of the responses help you?  Any more questions before i close this?

[2019-09-17 21:56] theBowja commented on #957
Unfortunately I didn't have the time to figure this one out. I'll close this since I probably won't be working on this question anymore.

[2019-09-17 21:56] #957 closed, assigned to nobody

[2019-09-17 21:56] #979 closed, assigned to nobody

[2019-09-17 21:57] bradfordcondon commented on #984
no disagreement so I'm closing this.  See y'all in the new format!

[2019-09-17 21:57] #984 closed, assigned to nobody

[2019-09-17 21:58] bradfordcondon commented on #876
@almasaeed2010  are you still interested in this field?

[2019-09-17 22:05] bradfordcondon commented on #980
thanks for the contribution

[2019-09-17 22:05] #980 closed, assigned to nobody

[2019-09-18 17:49] jhumann opened #997 "GFF load fails when it sees lnc_RNA feature type"
## BUG/ERROR report

### System information
Tripal Version: 7.x-3.2
Drupal Version: 7.67
PostgreSQL Version: 10.10
PHP Version: 7.0.33

### Issue description
I am loading a gff of annotated features from a genome and the gff loader job fails when it encounters the feature type of lnc_RNA, which is a SO type.  The lnc_RNA is related to a gene, like a mRNA is to a gene, in the GFF files.  I can post

[2019-09-19 16:02] btski commented on #996
Could it be working as intended? Is it possible that 58,000 records already existed prior to attempting to publish all 58,213; resulting in only 213 unique records being published? It sounds like you ended up with what you wanted/expected.

[2019-09-19 16:06] jhumann commented on #996
I uploaded a new genome annotation and all the records were brand new and not in the database before.  That is why I was initially panicked that only 213 had been published.

[2019-09-19 21:35] mdhar1980 commented on #989
Hi,

I was able to resolve this by upgrading the postgres version on our backup VM. (It had been set up earlier, and so I realized it had postgresql v 9.5, whereas the production server has v 10.8).

I upgraded to postgres 10 (using the method described here: https://gist.github.com/mdesantis/ebab306c0bf13f785b93e7894ca0cde2)

The existing database, updated from the 9.5 version, still had the same

[2019-09-19 21:35] #989 closed, assigned to nobody

[2019-09-20 01:07] laceysanderson commented on #989
Great, thanks for sharing the solution!

[2019-09-20 14:18] bradfordcondon commented on #997
hi @jhumann  my first hunch would be that you dont have this term in your database.  Can you find it when searching the terms on your site?

edit- i checked on my standard tripal site, i do have the term, so we'd have to see your GFF to understand hte problem more

It would be great if you could share a) the full error message and b) a snippet of the GFF (or a link to the full GFF)

[2019-09-26 11:38] martacsilva opened #998 "Gene Sequence does not show up in Feature page"
Hi!
I am currently trying to display the sequence of my genes in their feature page. My Manage Display currently looks like this:
![Screenshot from 2019-09-26 12-34-47](https://user-images.githubusercontent.com/47527249/65685607-4755e200-e05a-11e9-95b9-79b56d9d53e4.png)

The Sequence Coordinates display just fine but not anything else. I've tried moving to other groups and changing from Hidden to

[2019-09-26 11:51] bradfordcondon commented on #998
Unfortunately this is not a bug but a known issue.
you might want to look at this issue:
https://github.com/tripal/tripal/issues/732

Currently with Tripal, if you want gene sequences to display on the gene page, you need to associate sequences directly with the gene features, as [the sequence field only looks in that features->residues field](https://github.com/tripal/tripal/blob/e4d4c57fa53bb0d9

[2019-09-26 12:00] martacsilva commented on #998
Thanks for the quick answer!
I am almost sure that we did load a FASTA for our gene features but I will confirm that and get back to you. But in case we didn't, simply loading it should fix my problem without any further issues, right?

[2019-09-26 12:01] martacsilva commented on #998
Also I do have the `tripal_manage_analyses` module and it's great, but it's not exactly what we were looking for :(

[2019-09-26 12:15] bradfordcondon commented on #998
if the residues are directly associated with the feature type you are looking at, they should load.  Please double check thats the case and if its not we'll figure it out

[2019-09-26 14:41] martacsilva commented on #998
Hi again @bradfordcondon !
Can you give an example of the kind of FASTA file you are mentioning?

[2019-09-26 14:52] bradfordcondon commented on #998
In the [Tripal tutorial](https://tripal.readthedocs.io/en/latest/user_guide/example_genomics/genomes_genes.html#loading-feature-data) there are two FASTA files: one for the scaffolds and one for the mRNA.
- Citrus sinensis-scaffold00001.fasta
- Citrus sinensis-orange1.1g015632m.g.fasta

If you follow this guide, you get sequences on your mRNA and scaffolds.  You don't get seuqences on your gene pa

[2019-09-26 15:58] martacsilva commented on #998
I loaded a FASTA file with the format of:

sequence...

And still no sequence shows up in my gene page. Is there something else I can try?

EDIT: It did work! But not for all features? One of the genes still has no sequence and that was the one I was looking at.

[2019-09-26 16:35] martacsilva commented on #998
All good! All my genes (or at least the ones I've looked at) have sequences!

Thank you so much @bradfordcondon !

[2019-09-26 16:35] #998 closed, assigned to bradfordcondon

[2019-10-01 16:48] jhumann commented on #997
Okay, we checked and the SO term for lnc_RNA was not on the CV table.  So, I tried to update the CV terms using the OBO Vocabulary Loader.  I selected the "Sequence Ontology" option and clicked Update Ontology Details.  I immediately get a message that says the SO vocabulary has been updated (seems a bit too quick).  However, the term is still not in the database.  I checked the OBO file at the UR

[2019-10-01 18:02] bradfordcondon commented on #997
Update ontology details is to change the name of the ontology/external url.  You need to reimport the OBO

[2019-10-01 18:07] bradfordcondon commented on #991
this is a Drupal/postgres config issue not Tripal, and I havent heard back so I'm closing the issue.  Let us know if you still need help.

[2019-10-01 18:07] #991 closed, assigned to nobody

[2019-10-01 22:43] jhumann commented on #997
Okay, user error:-).  I updated the SO and it seems to be loading just fine now.  Thanks for all the help.

[2019-10-01 22:43] #997 closed, assigned to bradfordcondon

[2019-10-02 15:49] par12005 opened #1001 "schema__publication field only populates data after an entity has been "viewed""
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.56
* PostgreSQL Version: 9.5.7
* PHP Version: 7.0.30-0ubuntu0.16.04.1

### Issue description

Information in the schema__publication Tripal Field only gets populated for an entity after the entity has been viewed. When entities are created through the `bio_data/add` form this is not a problem because the for

[2019-10-02 17:51] par12005 commented on #1001
Wow, I can't believe I just spent all morning on this.

The schema__publication field has a field setting `'auto_attach' => FALSE`, which prevents it from being attached during a load without being explicitly included in the `$field_ids` parameter of tripal_load_entity. To fix the "issue" I described above, you simply need to include the field id of the schema__publication field when calling tripa

[2019-10-02 17:51] #1001 closed, assigned to nobody

[2019-10-03 00:08] laceysanderson commented on #1001
Hi @par12005, I'm glad you were able to figure this out! Can you provide a code sample here so we can better document it and help others who may run into the same observation you did?

[2019-10-03 15:34] par12005 commented on #1001
Hi @laceysanderson, sure! Did you want the code sample in a separate file,
or in a comment on this issue similar to the snippet above?

On Wed, Oct 2, 2019 at 8:08 PM Lacey-Anne Sanderson <
notifications@github.com> wrote:

[2019-10-03 16:00] bradfordcondon commented on #1001
either is fine although if it's a separate file, please link to it here from a stable place (use a gist for example).  the idea is the next user with a similar problem might find this issue and benefit from your solution.  And, thank you :)

[2019-10-03 17:33] par12005 commented on #1001
Here is a code snippet that you can run which demonstrates the issue and a solution to it:

[code]

I hope someone finds this to be helpful!

[2019-10-03 17:50] laceysanderson commented on #1001
This is great! Thank you @par12005!

[2019-10-07 17:24] jhumann opened #1002 "Option to store sequences from GFF annotation file"
## Feature Request/Discussion
* This feature is Not Urgent

### Description
When we load genomes into chado, we store the GFF and fasta of the assembly and the gff of all the annotated features (gene, mRNA, etc.).  The feature sequences are displayed on the feature pages for genes and mRNA on the website, so chado knows the sequences based on the coordinates from the gff.  But, when the annotation

[2019-10-07 18:21] spficklin commented on #1002
So just to add a bit of Chado details to what @jhumann says.  The Tripal GFF loader will only add the sequence for each feature in the GFF file to the `feature.residues` column of Chado if the sequences are in the GFF file at the bottom in a `##FASTA` section.  If they are not, then this requires that the user load the FASTA sequence file of any genes, mRNA, etc through a separate FASTA loading st

[2019-10-07 18:25] jhumann commented on #1002
A checkbox and possibly a place to limit which features get parsed (e.g. gene, mRNA) would be excellent.  That way dbs can control what gets stored.  Some may want all features, other dbs may only want certain features.

[2019-10-07 21:21] risharde opened #1003 "Trying to upgrade or install of latest Tripal"
## BUG/ERROR report

### System information

* Tripal Version: 3.2?
* Drupal Version: 7.61
* PostgreSQL Version: 9.2.24
* PHP Version: 5.6

### Issue description
During clone from the latest Tripal git in an attempt to upgrade to latest version, I get the following error:

[code]

[2019-10-07 21:24] bradfordcondon commented on #1003
https://github.com/tripal/tripal/blob/e4d4c57fa53bb0d9d8807b3e99ee84c77769bc63/tripal/includes/tripal.registration.inc#L296

PHP 7 vs 5.6 is the problem.  I'd just disable those lines if you must keep using PHP 5.6, but we have dropped support for PHP 5.6 as it is [past its EOL](https://www.php.net/supported-versions.php)

[2019-10-07 21:25] risharde commented on #1003
Thanks @bradfordcondon, will up to 7

[2019-10-07 23:55] risharde commented on #1003
Updated rapid installer to now install PHP 7 instead of 5.6. Check it out at https://gitlab.com/TreeGenes/tripal_rapid_installer_for_centos_7

[2019-10-07 23:55] #1003 closed, assigned to bradfordcondon

[2019-10-08 00:45] risharde opened #1004 "Strange empty record seen while testing issue 995"
Tripal Version: 3.0
Drupal: 7.67
PHP: 7.2
Postgres: 9.2.24

ISSUE:
An "empty" publication appears as well as the imported publication. (2 publications, one blank and the other is the actual publication). Issue #995 reported truncated title but cannot reproduce that error - this is another possible error.

REPRODUCE INSTRUCTIONS:
Clean install of Tripal Version 3.2
Use the Bulk Publication loader a

[2019-10-08 01:03] risharde commented on #995
The TreeGenes team could not reproduce this issue on our development environment.
I also was unable to reproduce this specific issue but ended up with another issue 1005 which has been posted.

[2019-10-08 12:23] bradfordcondon commented on #995
This makes me think that verifying the entity's title configuration would be helpful.

If you go to admin -> structure -> tripal content types -> Publication, and click "edit", what does your page title config look like?

<img width="453" alt="Screen Shot 2019-10-08 at 8 22 51 AM" src="https://user-images.githubusercontent.com/7063154/66395250-e48f0f80-e9a4-11e9-970b-c0b2965fdec3.png">

if theres

[2019-10-08 12:26] bradfordcondon commented on #905
I'm closing this issue, as I dont see the need for supporting the legacy relationship ontology.  @Yosra3 if thats not the case please let us know.

[2019-10-08 12:26] #905 closed, assigned to nobody

[2019-10-08 15:46] jhumann commented on #995
I double checked the entity's title configuration and it is as you show above, so that is set correctly.

As far as the NCBI record request, are you looking for the file that the pub importer is actually pulling from NCBI?

[2019-10-08 17:37] risharde opened #1005 "Deleting a Database results in the following error message"
Tripal: 3.0
Postgres: 9.x
PHP: 7.2

Deleting a created 'TEST' database results in the following error, just a heads up? I have added a test vocabulary and also a test cv term. I suspect it may be failing since this data exists? Maybe a better way would be to have a checkbox that forces the removal of the database and all tied in data?

[code]

[2019-10-08 19:19] risharde opened #1006 "Warnings when adding a new field to a Tripal Content Type"
Adding a new arbitrary field seems to output this error. It does not affect field addition.

Notice: Undefined index: name in tripal_field_instance_settings_form_alter_process() (line 523 of /var/www/html/sites/all/modules/tripal/tripal/includes/tripal.fields.inc).
Notice: Undefined index: description in tripal_field_instance_settings_form_alter_process() (line 523 of /var/www/html/sites/all/modul

[2019-10-08 21:07] risharde opened #1007 "Notice errors when checking for new fields created programmatically"
Tripal: 3.2
Drupal. 7.67
Postgres: 9.x
PHP: 7.2

Experiencing multiple warnings like the following when I click on check new fields for the Tripal Contact Profile content type. Any ideas what would be causing this? It's more of a nuisance - functionality does not seem to be affected. @bradfordcondon @spficklin ?

Notice: Undefined variable: pkey in tripal_chado_bundle_instances_info_linker() (line

[2019-10-08 21:31] risharde commented on #1007
Could it be that type_id needs to be specified via the chado_insert_property function?

[2019-10-10 14:20] bradfordcondon commented on #1007
Entities are assumed to have a primary key.  In the case of most chado content, the primary key is `[table_name]_id`.  I'd imagine that this isnt set properly on your custom bundle somehow?

(heres an example usage, i know its not where you are seeing the error but it should demonstrate what it expects)

https://github.com/tripal/tripal/blob/dd88e9fa9b497fe046913e97110b4f4721431edc/tripal_chado/in

[2019-10-14 21:13] heh30 opened #1008 "tripal_daemon parallelization"
Documentation surrounding the tripal_daemon is a little sparse.  I've not found anything explicitly saying this can/cannot be done, I'm just not sure how to enable it if it is currently available.

Not Urgent
Tripal 7.x-3.2

### Description
Allow ability to specify parallel=1 when starting the tripal_daemon

### Your Specific Use Case
When manually running drush trp_run-jobs it's possible to speci

[2019-10-15 03:44] laceysanderson commented on #1008
Hello @bcuser30, I'm sorry we haven't written that information into ReadtheDocs yet. If you run `drush trpjob-daemon --help` within your Drupal root you recieve

[code]

Specifically, in answer to your question, yes the Tripal Daemon does support parallel jobs! When you start your daemon do so as follows `drush trpjob-daemon start --parallel=1 --max_jobs=3` This will allow at most 3 jobs to run in

[2019-10-15 03:54] laceysanderson commented on #1008
PS. You can monitor your Daemon by going to your Drupal site and clicking on Dashboard in the administration menu.
![tripaldaemondashboard](https://user-images.githubusercontent.com/1566301/66799125-1f290880-eecd-11e9-9e35-0fb1aef0b1b9.png)

[2019-10-15 15:50] heh30 commented on #1008
Thank you so much for your help.  I swore I'd invoked the help menu and did not see those details before.

Additional thank you on the dashboard.  That's not something we had configured.

One more question, related but not.  When running jobs manually we're able to see progress details output to the terminal.  When using the daemon, is there a way to also see this output?  It's available on the jo

[2019-10-15 16:28] laceysanderson commented on #1008
Unfortunately those details are not available during the job. I cannot make them available through the interface during job execution due to transactions and I cannot print them to the daemon log due to jobs running in parallel (output for separate jobs would end up mixed in the log). I agree real-time job logging would be beneficial but have yet to figure out a good way to accomplish it 🤷‍♀

[2019-10-15 17:18] #1008 closed, assigned to nobody

[2019-10-16 20:41] jhumann commented on #660
Is there any more movement on this?  I am very interested in the options to "Unpublish" and "Delete" mainly because the pub importer occasionally imports a publication we don't want.  And in T2, when I deleted the feature on the website, it also removed it from chado.  Now with T3, I have to make sure I note the pubID number, delete it on the website (which I guess is 'unpublish') and then use a s

[2019-10-16 21:06] spficklin commented on #660
Thanks @jhumann for bringing this back up.  After looking over all of the previous comments here's what I think we need to do

1.  Have permissions that distinguish between "Unpublish" and "Delete" so that the site admin can fine-tune those.
2.  Have both an "Unpublish" and "Delete" button on each entity page.

For concern #2, there is no fancy delete query for that needs to be executed that could

[2019-10-17 18:25] jhumann opened #1009 "Not able to search existing Chado Databases in Admin menu"
## BUG/ERROR report

### System information

Tripal Version: 7.x-3.2
Drupal Version: 7.67
PostgreSQL Version: 10.10
PHP Version: 7.0.33

### Issue description
I have the need to edit the URLs in existing Chado Databases on our sites.  The Tripal admin menu has a page to do this (/admin/tripal/loaders/chado_db), but I cannot see all existing dbs by clicking Search or by entering a search term.  I a

[2019-10-17 18:30] laceysanderson commented on #1009
Hi @jhumann,

The patch is still available it has just moved into the [tripal_chado_views](https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado_views/views-sql-compliant-three-tier-naming-1971160-30.patch) submodule.

Applying the patch should fix your issue 🤞

[2019-10-17 19:06] spficklin commented on #1009
For reference, the instructions for applying that patch are here in the User's Guide:

https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/manual_install/install_tripal.html#apply-patches

[2019-10-17 19:29] reynoldtan opened #1010 "Web Services - Invalid Content Type"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7
* PostgreSQL Version: 11.3
* PHP Version: 7.1.30

### Issue description

When content types comprise of multiple words separated by spaces, Web Services format the url with a + (plus sign) instead of _ (underscore) as seen in other section. This causes invalid content type error.

### **AN UPDATE**
I was abl

[2019-10-17 20:30] jhumann commented on #1009
Yep, that solved the problem.  Thanks!!

[2019-10-17 20:30] #1009 closed, assigned to nobody

[2019-10-21 12:33] bradfordcondon opened #1012 "travis builds failing w/ postgres"
## BUG/ERROR report
bug is in CI builds.

[code]

Probably a change in how it supports postgres:  https://docs.travis-ci.com/user/database-setup/#postgresql

[2019-10-26 02:31] bradfordcondon commented on #1005
its true.  I dont think we get a ton of use out of the delete db interface, but, if someone did want it to cascade, the would probably want to know how many attached records would be deleted.

I could also see us just adding instructions that you need to remove all dbxrefs from the db before this would work.

[2019-10-26 02:48] laceysanderson commented on #1012
PR Merged -Thank you for the fix @bradfordcondon!

[2019-10-26 02:48] #1012 closed, assigned to nobody

[2019-10-26 02:49] #74 closed, assigned to nobody

[2019-10-26 03:03] spficklin commented on #631
This will get addressed in the Tripal v5 design so I'm closing.

[2019-10-26 03:03] #631 closed, assigned to nobody

[2019-10-26 03:13] laceysanderson commented on #107
@mdondrup I am going to close this issue since as @spficklin noted we just don't have time to develop a solution. We would welcome a PR from you if you work out a solution and we will keep in mind easy download of page data for Tripal 4. Thank you for your feedback ❤️

[2019-10-26 03:13] #107 closed, assigned to nobody

[2019-10-26 03:14] laceysanderson commented on #108
Closing this issue as there is more documentation in the referenced #891

[2019-10-26 03:14] #108 closed, assigned to nobody

[2019-10-26 03:18] laceysanderson commented on #891
@toefish, @webfaqtory  I'm just following up on this, can you update us on your situation and perhaps provide file snippets for testing purposes?

[2019-10-26 03:25] bradfordcondon commented on #1005
i built it out to just block the delete and provide a notice as its easiest/safest and definitely laziest: https://github.com/tripal/tripal/commit/cd5a9c55a7c8a7645cd418e979276bba594018ce#diff-ad8ca83a8fb3d11bfdc15152c7a9a956

what do we think?  worth adding to prevent the SQL error?

[2019-10-26 03:30] laceysanderson commented on #789
@guignonv do you still feel the need for a full solution?

[2019-10-26 03:36] laceysanderson commented on #609
I'm closing this as development is moving to Tripal 4. The next version of Tripal is being developed with testing as we go and as such, this will happen without this issue.

[2019-10-26 03:36] #609 closed, assigned to nobody

[2019-10-26 03:41] laceysanderson commented on #550
I'm not feeling motivated to complete this functionality as I've moved away from using Views on KnowPulse. I'm going to close this issue but if anyone needs this functionality -feel free to comment and I'll re-open.

[2019-10-26 03:41] #550 closed, assigned to laceysanderson

[2019-10-26 03:42] laceysanderson commented on #549
Just following up on this. Were you able to get this implemented @spficklin and/or does Cartogratree still actively need this functionality?

[2019-10-26 03:43] laceysanderson commented on #511
Closing as it's just not a priority.

[2019-10-26 03:43] #511 closed, assigned to nobody

[2019-10-26 03:48] laceysanderson commented on #436
This is only a problem for people using the Drupal Search API views. KnowPulse no longer uses this functionality and I simply do not have the time to work on this. I suggest closing it out.

[2019-10-26 04:02] laceysanderson commented on #761
@mdhar1980 were you able to find a solution to your problem?

[2019-10-26 04:12] laceysanderson commented on #700
Closing as a duplicate of #549

[2019-10-26 04:12] #700 closed, assigned to shawnawsu

[2019-10-26 15:39] laceysanderson commented on #1007
Steps to duplicate:
1. Use the following code to add a property on your site. I execute this in the devel "Execute PHP"
[code]
2. Go to Admin > Structure > Tripal Content Types > Contact > Manage Fields and click "    Check for new fields"

**This affects all content types with property tables.**

[2019-10-26 15:45] laceysanderson commented on #1007
See PR #1015 for a potential fix. @risharde could you test this for me?

[2019-10-26 16:02] laceysanderson commented on #1006
Hi @risharde are you still experiencing this? I attempted to replicate your problem by
1. Going to an arbitrary content type (e.g. Gene) Manage Fields page.
2. Adding a new field through "Add new field" with a type of "Chado Property"
3. Clicking Save without selecting a term.

This produced the following errors which are similar to yours:
[code]

Can you confirm if this is the same process you us

[2019-10-26 16:40] mdhar1980 commented on #761
@laceysanderson No, at some point when I have more time for this issue, I'll come back to it. But in the meantime, we just sidestepped it to get most of the content we wanted up (e.g., setting up a JBrowse instance on our server and linking to it). So, it's not solved yet, but I plan on trying again at some point.

[2019-10-26 17:01] laceysanderson commented on #761
Thanks @mboudet for the update and sorry you haven't yet found a solution! We are unfortunately not able to support Tripal 2 as we've moved on to Tripal 4 development at this time... However, feel free to comment back here when you have time to work on this and we'll help you as we're able.

[2019-10-26 17:52] laceysanderson commented on #1004
Hi @risharde, I believe the empty record you encountered is the null publication. This is inserted by Tripal on install to act as a value for the pub_id of various tables when there is no publication.

I selected all publications from the table before importing a publication (on a clean tripal site)
[code]
Then ran the importer you describe
[code]

Then checked the table again.
[code]

This shows

[2019-10-26 17:52] #1004 closed, assigned to nobody

[2019-10-26 18:04] laceysanderson commented on #1005
PR Merged

[2019-10-26 18:04] #1005 closed, assigned to nobody

[2019-10-27 16:46] laceysanderson commented on #995
I was also unable to duplicate this. I used the following importer:
![Screen Shot 2019-10-27 at 10 44 19 AM](https://user-images.githubusercontent.com/1566301/67638099-c1ba9180-f8a6-11e9-8afb-882da9437e24.png)
and ran the job:
[code]
Then looked at the published page without editing:
![Screen Shot 2019-10-27 at 10 45 37 AM](https://user-images.githubusercontent.com/1566301/67638111-e6166e00-f8a6-1

[2019-10-27 19:11] laceysanderson commented on #996
I've created PR #1017 to fix this issue. @jhumann could you test it please?

[2019-10-27 19:22] laceysanderson commented on #519
@spficklin since you've been too busy to get to this, can you explain your solution so someone else can take a stab at it?

[2019-10-27 19:57] laceysanderson commented on #723
I just submitted a PR along the same lines suggested by @bradfordcondon. The main difference is that I skipped by field type in order to ensure all datetime fields are skipped.

If this issue has been bugging you, please go review PR #1018

[2019-10-27 20:26] laceysanderson commented on #992
Hi @jwest60, Thank you for reporting this. The problem is a bit more complicated then it at first seems.

 **Set the content type is set to "hide empty fields"**

When the cache is cleared or the first time the page loads, the pane is missing is if contains any empty fields.
![firstpageload](https://user-images.githubusercontent.com/1566301/67641127-559b5600-f8c5-11e9-8350-57ae3432640f.png)

Howev

[2019-10-27 20:32] laceysanderson commented on #983
Hi @srobb1, did you make any progress on this? Unfortunately, Issue #931 is still on hold although there is a PR submitted.

[2019-10-27 20:47] laceysanderson commented on #915
@spficklin do you remember what the problems with saving new properties are? Descriptions would allow others to fix the problems -time permitting.

[2019-10-29 14:28] guignonv commented on #789
Nope.

[2019-10-29 15:27] laceysanderson commented on #789
Ok, thank you for getting back to me. I'm going to close the issue for now but if your needs change, please comment and I'll re-open

[2019-10-29 15:27] #789 closed, assigned to nobody

[2019-10-29 16:04] chunhuaicheng commented on #996
The fix works! Thank you.

[2019-10-29 16:04] #996 closed, assigned to nobody

[2019-11-01 17:23] reynoldtan opened #1019 "Web Services - hydra:member not rendered"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7
* PostgreSQL Version: 11.3
* PHP Version: 7.1.30

### Issue description

An empty array or list in members.

![Screen Shot 2019-11-01 at 10 48 32 AM](https://user-images.githubusercontent.com/15472253/68041391-15a5eb80-fc96-11e9-8dda-42de0d9e1b8e.png)

When implementing an instance of hydra:member in the fie

[2019-11-03 20:07] bradfordcondon commented on #1010
Thank you for contributing this fix

[2019-11-03 20:07] #1010 closed, assigned to nobody

[2019-11-05 01:35] #1007 closed, assigned to nobody

[2019-11-05 01:35] #681 closed, assigned to nobody

[2019-11-05 01:35] #723 closed, assigned to nobody

[2019-11-06 14:52] reynoldtan opened #1022 "Web Services - Limited access works only in viewing an entity (for anonymous user)."
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7
* PostgreSQL Version: 11.3
* PHP Version: 7.1.30

### Issue description

Limited access to content only works in viewing an entity and does not work in listing and viewing content types. For example:

I've limited access to Genetic Maps to anonymous user in the permissions panel.
![Screen Shot 2019-11-05 at

[2019-11-11 02:26] #762 closed, assigned to laceysanderson

[2019-11-11 02:29] laceysanderson commented on #876
@almasaeed2010 I'm going to close the issue as there has been no movement on this issue for awhile and you do have a working solution. We would still greatly welcome a contribution back so feel free to open a PR to that effect when you find time!

[2019-11-11 02:29] #876 closed, assigned to nobody

[2019-11-11 02:36] laceysanderson commented on #776
I'm closing this our focus has moved to Tripal 4 and this is currently functional although I agree not ideal.

[2019-11-11 02:36] #776 closed, assigned to nobody

[2019-11-11 02:37] laceysanderson commented on #760
I'm closing this as it has been a year with no progress. If this bug is causing you difficulties, please comment and we will re-open.

[2019-11-11 02:37] #760 closed, assigned to nobody

[2019-11-11 02:39] laceysanderson commented on #751
Closing as it has been a year with no movement. Please comment if you would like to revive the conversation on entity caching.

[2019-11-11 02:39] #751 closed, assigned to nobody

[2019-11-11 02:42] laceysanderson commented on #692
Closing as there has been no movement on this in a year and I'm not sure how useful the calendar is as it only contains a single event (Tripal Users Meeting) of interest to the general community.

[2019-11-11 02:42] #692 closed, assigned to shawnawsu

[2019-11-11 02:43] laceysanderson commented on #559
Closing as there has been no movement on this in over a year. If users find this is not working correctly, they can report it as an error at that time.

[2019-11-11 02:43] #559 closed, assigned to nobody

[2019-11-11 02:45] laceysanderson commented on #494
Closing as there has been no movement on this in over a year. If someone is loading CDS by means other then GFF and runs into this problem, they can report the error then.

[2019-11-11 02:45] #494 closed, assigned to nobody

[2019-11-11 02:54] laceysanderson commented on #490
I'm closing this as there has been no movement in over a year. Furthermore, the conversation has become long enough that I'm no longer certain what needs to be fixed. If this is still a problem, please create a new issue describing the problem and we'll take another look at it.

[2019-11-11 02:54] #490 closed, assigned to nobody

[2019-11-11 02:56] laceysanderson commented on #343
I'm closing this issue as there has been no movement in over a year. If you still need this functionality, please comment and we'll look into it further.

[2019-11-11 02:56] #343 closed, assigned to nobody

[2019-11-11 02:57] laceysanderson commented on #319
I'm closing this as there has been no movement on this in over a year and our focus has moved to Tripal 4. Please comment if you need this functionality and we will re-open

[2019-11-11 02:57] #319 closed, assigned to nobody

[2019-11-11 03:00] laceysanderson commented on #299
I'm closing this as it has been over a year with no movement. Please comment if this is still functionality you need and we'll re-open

[2019-11-11 03:00] #299 closed, assigned to nobody

[2019-11-11 03:01] laceysanderson commented on #287
I'm closing this as it has been well over a year with no movement. Furthermore, the original submitter has found a solution that is working for him.

[2019-11-11 03:01] #287 closed, assigned to nobody

[2019-11-11 03:49] laceysanderson commented on #272
I've submitted a PR to fix this: #1024. If this issue is bugging you, please review the PR to get it fixed 😃

[2019-11-11 03:51] laceysanderson commented on #202
There has still been no progress made on this front and development focus is moving to Tripal 4. Since @abretaud has a work around for python-tripal I'm going to close the issue. That said, if anyone would like to collaborate on adding this functionality, we would be happy to work with you!

[2019-11-11 03:51] #202 closed, assigned to nobody

[2019-11-11 03:53] laceysanderson commented on #142
I'm closing this as there has been no movement on it for over 2 years and there is not actually something broken -just a message causing concern. Please reopen @spficklin if you would still like to work on it.

[2019-11-11 03:53] #142 closed, assigned to nobody

[2019-11-11 03:54] laceysanderson commented on #436
Closing this out as I simply do not have the time/need to work on it. I would be happy to collaborate if someone else needs the functionality though!

[2019-11-11 03:54] #436 closed, assigned to nobody

[2019-11-11 03:56] laceysanderson commented on #353
I'm closing this as there has been no progress made in over a year and this is not a bug just a nice feature. If you would like to collaborate on implementing this functionality, I would love to work with you!

[2019-11-11 03:56] #353 closed, assigned to nobody

[2019-11-11 03:58] laceysanderson commented on #995
@jhumann what version of Tripal are you using? Can you screenshot your exact Tripal Pub importer page as I did above?

[2019-11-11 19:52] laceysanderson commented on #431
@guignonv I believe this thread has become a little confusing. To summarize, the problem yet to be solved is:
- Removing the brackets around Drupal table names breaks drupal table prefixing (i.e. tableprefix_drupal_table`). Solution is for the Chado Query API to add curly brackets to the Drupal tables after schema prefixing the Chado tables.
- Schema prefixing Drupal tables with `public.` breaks y

[2019-11-11 19:55] laceysanderson commented on #181
This has gone over a year without progress and feels like an important update. @spficklin do you have time to fix this one? If not, could you explain what your logic would be so someone else can jump in on it?

[2019-11-11 19:56] laceysanderson commented on #177
@spficklin just checking in on this one. The PR is still waiting for some changes and this functionality has been requested by a number of people.

[2019-11-11 20:08] laceysanderson commented on #239
Just to weigh in on this to get the discussion going again.

- While I feel the development time is worth it, I am not using collections and thus cannot prioritize this development.
- @mestato how are you feeling on this functionality and may you have a developer with time to contribute towards a fix?
- @spficklin could you describe what you solution would look like so someone else could potential

[2019-11-11 20:23] laceysanderson commented on #1002
I think this is a generic enough enhancement that a contribution to Tripal Core would be welcome 👍 Note: with the switch PMC development focus to Tripal 4 there is no current plans by the PMC to add this functionality.

[2019-11-11 20:24] laceysanderson commented on #992
@almasaeed2010 do you have time to take a look at this?

[2019-11-11 20:26] laceysanderson commented on #987
I'd also welcome this as a contribution. Depending on the design, it may fit nicely into core.

Note: with the switch PMC development focus to Tripal 4 there is no current plans by the PMC to add this functionality.

[2019-11-11 20:29] laceysanderson commented on #939
@spficklin could you describe this further? Do you have a potential solution in mind?

[2019-11-11 20:32] laceysanderson commented on #864
I would welcome a contribution adding such a hook!

Note: with the switch PMC development focus to Tripal 4 there is no current plans by the PMC to add this functionality.

[2019-11-11 20:34] laceysanderson commented on #851
@bradfordcondon a PR has been submitted by @par12005 for this functionality. If you have time, it would be great you get your review on it

[2019-11-11 20:37] laceysanderson commented on #807
This is a big deal for many of the modules used on KnowPulse. Any thoughts towards a solution?

I'm also labeling this as a bug since it causes behaviour contrary to what is expected. I expect that if my field attaches Javascript the Drupal Way (using behaviours) that it should work with Tripal Fields and currently it doesn't on the first page load.

[2019-11-11 20:42] laceysanderson commented on #810
I'm tagging this as a good first issue. If you have reached this issue based on that tag, the task which needs to be done is:

- The docs under https://tripal.readthedocs.io/en/latest/user_guide/example_genomics/func_annots.html are for extension modules not included in this repository.
- Create a PR on each extension module containing the docs page from this repository and adding it to the docs f

[2019-11-11 20:46] laceysanderson commented on #804
Perhaps this would be a good PAG Hackathon topic. Almost all Tripal sites have genomes to model. If we could decide as a community how best to store this metadata and implement fields to make it intuitive and useful it would be of great use to the community.

[2019-11-11 20:47] laceysanderson commented on #778
@spficklin is there any plan to fix this?

[2019-11-11 20:49] laceysanderson commented on #739
@spficklin how critical is this? With the development focus switching to Tripal 4, I'm not sure there is enough time to fix this. Perhaps we should mark it as "Please Contribute"?

[2019-11-11 20:52] laceysanderson commented on #740
If you are here due to the tag "Good first issue" what needs to be done is: Create a documentation PR adding warnings to https://tripal.readthedocs.io/en/latest/dev_guide/exporting_field_settings.html#drupal-features-tutorial. The warning which need to be added were articulated above by @bradfordcondon

[2019-11-11 21:07] laceysanderson commented on #626
@oklonova I'm sorry that this issue seems to have fallen through the cracks! Do you still need a better solution?

[2019-11-11 21:10] laceysanderson commented on #623
I'm closing this issue as the class was not meant to be interacted with in this manner.

[2019-11-11 21:10] #623 closed, assigned to nobody

[2019-11-11 21:13] laceysanderson commented on #610
I'm marking this as a good first issue. If you have landed here based on that tag... what needs to be done is to transfer the Chado API docs from http://api.tripal.info/api/tripal/3.x to our read the docs. This has been started in `610-tv3-chado_api_docs`

[2019-11-11 23:49] laceysanderson commented on #916
I think I've confirmed via tests that this is a bug with the `chado_get_feature_sequences()` function when negative strand derived features are supplied. You can see the tests on the `916-chado-get-feature-seqs` branch.

When inserting data to test this, I noticed the docs say ["fmin: The leftmost/minimal boundary in the linear range represented by the featureloc."](https://chado.readthedocs.io/en

[2019-11-12 01:55] laceysanderson commented on #916
Hmmmm.... according to the following comment in the code, I'm wondering if the function is doing exactly what it's designed to do -it's just not intuitive. This makes me worry that if we "fix" it, we'll actually break the Chado Fields depending on this function.

[code]
https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/api/modules/tripal_chado.feature.api.inc#L318-L330

[2019-11-12 15:37] mpoelchau commented on #804
@laceysanderson great idea! We had to think about this a fair amount for the tripal eutils module (which @Ferrisx4 will be giving a talk about during the Tripal session at PAG). I'd be happy to contribute to or lead a discussion on this during the PAG hackathon.  I suspect that this is not quite ready for anyone to start coding by PAG.

[2019-11-12 18:51] almasaeed2010 commented on #992
Hello @laceysanderson

Sorry I haven't noticed that I was tagged previously!

I spent all morning looking at this but couldn't really figure out what's happening. The issue is very strange since the code that checks whether a field should be attached is the same regardless of whether the entity is cached. There is probably something in the lifecycle of the entity that I am missing. Because there a

[2019-11-12 21:06] jhumann commented on #995
@laceysanderson, sorry for the delayed response.  We are pretty sure this is a display issue, not an importer issue.  We are doing some internal testing and will get back to you.  We haven't seen this issue on recently imported pubs, so it may be resolved.  We will let you know if we can replicate it.

[2019-11-12 21:18] laceysanderson commented on #995
Thank you for the update! Please also let us know if you are not able to replicate it so we can close the issue.

[2019-11-12 23:48] jhumann commented on #995
Okay, we cannot replicate it anymore.  The Tripal updates must have fixed it.

[2019-11-12 23:48] #995 closed, assigned to nobody

[2019-11-14 13:36] guignonv commented on #431
I'll do my best. Quite busy on 2 other projects right now... :-s

[2019-11-14 19:43] Ferrisx4 opened #1025 "New Proposed Module: Tripal File Module"
As mentioned in the [Tripal User's Meeting on Nov 5, 2019](https://docs.google.com/document/d/1o-7fAYxhtvMwdKErTr2a5Nu0dyRiv_OKd5MUUQ5JmaQ/edit#), several groups have expressed interest in the development of a Tripal File module. The design and goals of this module can be found in the [original specification sheet (2017)](https://docs.google.com/document/d/12ON7YpYwj2Iy81vnogu4ixfqWJydKM2SicoAMgbB

[2019-11-14 22:45] spficklin opened #1026 "API function for adding files to the user's quota system."
## Feature Request/Discussion

* This feature [does / does not] attempt to solve an existing problem with Tripal
* I [am/am not] open to developing or collaborating on an extension module if this is not a good fit for Tripal Core

* This feature is [URGENT/Not Urgent]

### Description

It would be helpful if extension modules were able to easily add files to the User's quota system so they don't h

[2019-12-02 21:03] risharde commented on #1006
Sorry for the late response @laceysanderson, I didn't add my fields via the UI like you did but via code programmatically (similar to you UI procedure) - looks like it applies to both our methods

[2019-12-04 15:24] Ferrisx4 commented on #1025
Currently, the development of this module is on hold due to its hugely overlapping feature set with functionality that will be provided natively in Drupal 8.

In order to avoid duplication of work, development of this module will focus primarily on Tripal 4.

[2020-01-08 02:30] songtaogui opened #1027 "Tripal3: Search by feature IDs in URL"
Hi,

In Tripal2, there is a convenient function that the URL "www.mytripal.com/feature/{Gene_ID}" will lead to the search result of this gene record. This is very useful that I could link gene IDs elsewhere to their detail pages in Tripal.

I was wondering that is there similar function in Tripal 3?

Thank you.

Best wishes,

SongtaoGui

[2020-01-09 04:22] spficklin opened #1028 "Registration page opt-out confusion"
## BUG/ERROR report

### System information

* Tripal Version: 3.2
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version: N/A

### Issue description

On a brand new install of Tripal the user is asked to register the site. They can opt-out if they want. When they check the opt-out checkbox, nothing happens, and the message at the top of the page asking to opt-out doesn't go away.

[2020-01-09 18:59] laceysanderson commented on #1028
Good catch, I'll try to get to the associated PR today!

[2020-01-10 14:49] mestato commented on #804
PAG codefest update - We tackled the question of analytical workflows/pipelines today and decided the analysis_relationship table could be used to associate the "master" analysis (such as genome assembly) with the individual analysis steps (such as skewer, AllPaths, Canu). Would be nice to expand the description of the analysis table in chado as it currently does not support this approach and to d

[2020-01-10 19:18] mpoelchau opened #1030 "Relationship widget in tripal analysis content entry page expects analysis_id when it can't exist yet"
## BUG/ERROR report

### System information

* Tripal Version: 3
* Drupal Version: 7.59
* PostgreSQL Version: 9.6.16
* PHP Version: 7.3.13

### Issue description
We'd like to use the analysis_relationship table to represent more complex analyses such as pipelines and workflows. For example, a genome assembly usually is the result of several analysis steps, say read trimming, assembly, scaffolding.

[2020-01-14 21:53] mpoelchau opened #1031 "New form to create nested analyses"
## Feature Request/Discussion

* This feature does attempt to solve an existing problem with Tripal (or rather, Chado) - see https://github.com/GMOD/Chado/issues/113
* I am open to developing or collaborating on an extension module if this is not a good fit for Tripal Core
* This feature is Not Urgent

### Description
At the PAG Tripal Codefest, we petitioned to expand the description of the chado

[2020-01-21 21:11] laceysanderson commented on #1031
I support this and feel it is a good fit for Tripal Core as it would encourage increased metadata for analysis pipelines. I can see this being done a number of ways:

A. Creating a child analysis field.
   - This allows child analyses to be added during analysis creation through the core Tripal form.
   - Users will have a visual cue to add extra detail to all analysis.
   - Also handles rendering

[2020-02-26 20:33] dsenalik opened #1033 "Pubmed importer fails because of 3/second request limit by NCBI API"
## BUG/ERROR report

### Issue description
Pubmed importer has two major and one minor issues.

1. Multiple errors because requests are placed to the NCBI API more frequently than the 3/second limit for requests without an NCBI API key.
Example of error: Warning: fopen(http://www.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?rettype=null&retmode=xml&retstart=0&retmax=1&db=Pubmed&query_key=1&WebEnv=NC

[2020-02-28 20:50] cornellyujy opened #1035 "The following module is missing from the file system: tripal"
Hi,

I upgraded my Tripal from v2.0 to v2.1, and it works well. But I got these errors:
###########################################################
User warning: The following module is missing from the file system: tripal. For information about how to fix this, see the documentation page. in _drupal_trigger_error_with_delayed_logging() (line 1156 of /var/www/html/includes/bootstrap.inc).
User war

[2020-03-03 16:43] ekcannon commented on #100
It often helpful, if depressing, to see what the "human" folks are up to. Here's a gene page to aspire to:

[https://www.genecards.org/cgi-bin/carddisp.pl?gene=MYC]()

[2020-03-03 19:24] #1035 closed, assigned to nobody

[2020-03-03 19:25] cornellyujy commented on #1035
I have git the drupal and tripal from GitHub, and these errors disappeared.

[2020-03-03 19:30] cornellyujy opened #1036 "Exception: String could not be parsed as XML in SimpleXMLElement->__construct()"
Hi,

I have installed drupal-7.x and tripal-7.x-2.x in my server. After finished, I got this error:
###################################################
Exception: String could not be parsed as XML in SimpleXMLElement->__construct() (line 16 of /var/www/html/sites/all/modules/tripal/tripal_core/includes/tripal_core.extensions.inc).
###################################################
This error is f

[2020-03-03 21:53] cornellyujy commented on #1036
And there is a warning here:
Warning: file_get_contents(http://tripal.info/rss/extensions.xml): failed to open stream: HTTP request failed! HTTP/1.1 404 Not Found in tripal_core_extensions_form() (line 10 of /var/www/html/sites/all/modules/tripal/tripal_core/includes/tripal_core.extensions.inc).
Exception: String could not be parsed as XML in SimpleXMLElement->__construct() (line 16 of /var/www/ht

[2020-03-03 21:54] cornellyujy commented on #1036
And there is a warning here:
Warning: file_get_contents(http://tripal.info/rss/extensions.xml): failed to open stream: HTTP request failed! HTTP/1.1 404 Not Found in tripal_core_extensions_form() (line 10 of /var/www/html/sites/all/modules/tripal/tripal_core/includes/tripal_core.extensions.inc).
Exception: String could not be parsed as XML in SimpleXMLElement->__construct() (line 16 of /var/www/ht

[2020-03-16 20:45] par12005 commented on #1033
Thanks for this pull request! Do you think it might be worth it to add an option to provide an NCBI API key for the importer? Then users could make up to 10 requests/second. Perhaps the option could go somewhere under `admin/tripal/loaders`?

Otherwise I was able to load 840 publications in ~15 minutes with no fatal errors.

[2020-03-16 20:57] par12005 commented on #1036
Hello @cornellyujy, thanks for submitting this issue!

It looks like the RSS feed at that location no longer exists, which is probably why you're getting this error.

My first question is: is there a reason you're using Tripal `7.x-2.x` instead of `7.x-3.x`? As far as I know, `7.x-3.x` does not have the problems you're describing here.

Next, if you are going to continue using `7.x-2.x`, could you

[2020-03-18 03:01] laceysanderson commented on #1033
The original PR has been merged -Thank you @dsenalik!

Regarding @par12005 suggestion for an option to provide an API key for NCBI -we would welcome this contribution with the option on the `admin/tripal/loaders/pub` page. This addition would need to be optional but would help speed up large uploads. The 7,985 set I uploaded as a test took well over 2 hrs on my desktop.

[2020-03-18 16:04] par12005 commented on #1033
@laceysanderson, I've submitted a PR which allows you to add an API key, if you wouldn't mind taking a look!

[2020-03-18 16:23] laceysanderson commented on #1033
Nice! I'll try to take a look at it tonight

[2020-03-31 13:39] par12005 commented on #1027
Hi @songtaogui, thanks for the submission!

This feature may already exist in Tripal 3, but it depends on what you're actually trying to do, and what you mean by the gene ID. [This link](https://treegenesdb.org/gene/121202) goes to a gene in the TreeGenes database. That number, `121202`, in the url is the Tripal Entity ID of that gene, which is different from the gene name, `PSME_00045988`, and is

[2020-04-03 03:11] laceysanderson commented on #1027
If you did want to link to the gene name (e.g. `PSME_00045988`) in Tripal 3, you can do this by setting the path accordingly. Specifically, by going to Structure > Tripal Content Types > Gene > Edit as shown in the following screenshot:
<img width="1361" alt="Screen Shot 2020-04-02 at 9 04 19 PM" src="https://user-images.githubusercontent.com/1566301/78320257-4aa8b980-7526-11ea-912f-eda8d5e2fcc1.p

[2020-04-03 13:59] par12005 commented on #1027
That's a great idea, I forgot about this feature! Thanks @laceysanderson!

[2020-04-05 07:21] spficklin opened #1038 "Small Fixes for v3.3 release"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version:  7.x
* PostgreSQL Version: N/A
* PHP Version: N/A

### Issue description

During testing of Tripal prior to release I found two issues:
1.  The references field would be present on a publication page even if there were no references.
2.  Creating collection files failed because the interval was not set for the Job

[2020-04-06 01:25] #1038 closed, assigned to nobody

[2020-04-06 02:40] laceysanderson opened #1329 "Registrations: Tripal 4 vs. 3 cannot be told appart"
The current registrations do not identify the Tripal version.

[2020-04-06 13:00] bradfordcondon commented on #1329
we should definitely specify the major version.  are we also not specifying the minor version?  I suppose that would also mean we want to update the minor version when the system updates.

I added a `major_tripal_version` and `complete_tripal_version` (output of `drupal_get_installed_schema_version('tripal')`) field to the Registration content type on D8.  I can make a merge to t3 to add these fie

[2020-04-08 19:33] mpoelchau opened #1040 "Long load times for gff3 loads"
## BUG/ERROR report

### System information
* Tripal Version: 2
* Drupal Version: 7.69
* PostgreSQL Version: 9.6.17
* PHP Version: 7.3.16

### Issue description
Loading gff3 files into the feature table via the GFF3 loader has been taking a really long time. The last GFF3 file that we loaded had 16,017 genes  and 24,093 mRNAs (we load subfeatures such as exons as well). It took about 4 days to loa

[2020-04-13 16:40] dsenalik opened #1041 "Documentation typo for "Manual Creation of a Tripal Field""
This typo had me stuck for quite some time, so hopefully fixing it will help others in the future.
On page
https://tripal.info/http%3A//tripal.info/tutorials/v3.x/developers_handbook/custom-field/manual

`/sites/all/modules/[your_module]/includes/TripalField/[field_name]/[field_name].inc`
`/sites/all/modules/[your_module]/includes/TripalField/[field_name]/[field_name]_widget.inc`
`/sites/all/modul

[2020-04-19 19:10] bradfordcondon commented on #1041
thanks @dsenalik .  want to submit a PR fix for the credit?
https://github.com/tripal/tripal/edit/7.x-3.x/docs/dev_guide/custom_field/manual_field_creation.rst

[2020-04-19 19:11] bradfordcondon commented on #1033
merged, so closing.  thanks all.

[2020-04-19 19:11] #1033 closed, assigned to nobody

[2020-04-21 12:35] #1041 closed, assigned to nobody

[2020-04-22 21:38] dsenalik opened #1043 "Agricola Pub Importer can be restored to functionality"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.69
* PostgreSQL Version: 12.2
* PHP Version: 7.2

### Issue description

The issue is as described in closed issue #71, which is that the National Ag Library publication importer has been disabled because it doesn't work. I have made quite a few changes to restore it to working order.

Relevant pull request

[2020-04-23 18:56] guignonv opened #1045 "Survey on VueJS vs ReactJS and Tripal (& extensions)"
This is more a Tripal community question rather than a core Tripal question.

**Context**:
Drupal 9 should be released in 2020 and Drupal 7 will be end-of-life in November 2021. The  community is currently working on Tripal 4 for Drupal 8 which *should* be easily ported to Drupal 9 as well (minor work expected). It means that you will soon be strongly encouraged to move to Drupal 8/9 and setup you

[2020-04-24 01:05] risharde commented on #1045
This is a tough one and I must admit I have not used both of these frameworks really out of fear that I would have lack of control in my development or slow down my development speed (I'm kind of impatient when something takes months to code to see a result). With that being said I don't have full confidence in some of the decisions made to Drupal 8/9 - example: even composer installs can be a pai

[2020-04-24 03:32] spficklin commented on #1045
I have not used either framework before but my vote is to go with the one that gives us the best support. If the Drupal community is going with ReactJS and that is where the support focus will be then I think we would be better off in the long-term sticking with the crowd.

But I agree with @risharde regarding his thoughts on composer. I'm not a fan of it.

[2020-04-24 13:05] almasaeed2010 commented on #1045
We use both frameworks in the Staton lab to develop applications outside of Drupal. I haven't used either with Drupal yet.

Although I do like the simplicity of VueJS, I think we should stick with what Drupal supports out of the box mainly because it doesn't make sense to me to load 2 major JS libraries into a single application. Integrating VueJS components into ReactJS and vice versa is possible

[2020-04-27 19:12] spficklin commented on #933
@all-contributors please add @par12005 for code

[2020-04-27 19:31] spficklin commented on #933
@all-contributors please add @katherynbuble for code

[2020-04-27 19:31] spficklin commented on #933
@all-contributors please add @srobb1 for code

[2020-04-27 19:32] spficklin commented on #933
@all-contributors please add @risharde for code

[2020-04-27 19:33] spficklin commented on #933
@all-contributors please add @srobb1 for code

[2020-04-27 19:35] spficklin commented on #933
@all-contributors please add @katherynbuble for code

[2020-04-27 19:40] spficklin commented on #933
@all-contributors please add @srobb1 for code

[2020-05-01 14:34] dsenalik opened #1055 "National Ag Library publication loader UTF-8 mixed with HTML entities"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.69
* PostgreSQL Version: 12.2
* PHP Version: 7.2

### Issue description
Some publications imported from the National Ag Library will have UTF-8 characters mixed with characters encoded as HTML entities. When the information, for example the abstract, is passed through
mb_convert_encoding($pub['Abstract'], 'U

[2020-05-11 17:35] par12005 commented on #1040
@spficklin, I have submitted PR #1057 which tries to resolve some performance issues and implements some unit tests. Please take a look when you get the chance!

[2020-05-12 22:21] bradfordcondon commented on #177
note work started in `117-tv3-custom_tables_as_base`

[2020-05-19 19:09] scottcain opened #1058 "Broken link in PMC section of v3 users guide"
## BUG/ERROR report
In https://tripal.readthedocs.io/en/latest/contributing/governance.html#the-tripal-project-management-committee-pmc https://tripal.readthedocs.io/en/latest/contributing/governance.html#committers and  there is a link whose anchors are  "guidelines for contribution(s)" but those links are broken.

Presumably, they should be fixed to point at https://tripal.readthedocs.io/en/late

[2020-05-25 03:19] songtaogui opened #1059 "How to override a Dbxref item in tripal3"
Hi,

I have met a problem while dealing with the dbxref infomation.

For example, if I would like to upload a gff with dbxref information as "**Dbxref=DB1:A_B_C;**", but I mistakenly wroted that information as "**Dbxref=DB1:A,B,C;**". This will lead to a result of:

[code]

And if I reloaded the correct record "Dbxref=DB1:A_B_C;", the result would be:

[code]

But all what I what is just:

[code]

[2020-05-25 19:48] spficklin commented on #1059
Hi @songtaogui .  Thanks for pointing out the problem.  It sounds like you can get the correct data into Tripal but cleaning up the incorrect data is where the problem lies.   I tried to provide some instructions for how you can do this and I realized Tripal is missing a few necessary forms to help.  First, we need to add a check in the GFF loader to make sure this doesn't happen again.  Second, w

[2020-05-25 20:08] spficklin commented on #1043
This was resolved with the PR. Thanks @dsenalik.

[2020-05-25 20:08] #1043 closed, assigned to nobody

[2020-05-25 20:09] spficklin commented on #1055
Fixed with PR. Thanks @dsenalik

[2020-05-25 20:09] #1055 closed, assigned to nobody

[2020-05-25 20:13] spficklin commented on #1036
Thanks @par12005 for responding on this.

@cornellyujy I'm going to close this out as there has been no further conversation since March.  If you would like further response please respond and we will reopen it.

@all-contributors add @par12005 for question

[2020-05-25 20:13] #1036 closed, assigned to nobody

[2020-05-27 19:16] Ferrisx4 opened #1064 "Chado 1.2-1.3 upgrade - nonexistent sequences are not created"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.1 (540e0795e4bd63d97254e2d8ee058f361a8ed667)
* Drupal Version: 7.68
* PostgreSQL: 10.12
* PHP Version: 7.2.24

### Issue description

Upgrading from Chado 1.2 to 1.3 via the GUI process causes numerous errors about relations not existing. These relations are the sequences listed in the tripal_chado.install.inc file (linked below

[2020-05-27 19:18] Ferrisx4 commented on #1064
Note: for the purposes of i5k and Tripal 2 to Tripal 3 migration, including Chado upgrade from 1.2 to 1.3, uncommenting the CREATE SEQUENCE statements from the upgrade SQL file and adding IF NOT EXISTS allows the Chado upgrade to succeed on a test version of the site.

[2020-05-28 05:45] spficklin commented on #1064
Hi @Ferrisx4 .  This seems like a logical fix to me.  Did you want to submit a small little PR with your fix?

[2020-05-28 13:26] Ferrisx4 commented on #1064
Hi @spficklin, I have a PR ready on my fork if we're OK with the hard requirement of Postgres 9.5+

[2020-05-28 13:58] #1058 closed, assigned to nobody

[2020-05-28 14:01] bradfordcondon commented on #1064
https://www.postgresql.org/support/versioning/

the previous version's (9.4) final release was Feb 2020 so not so long ago but also past its EOL so there's an argument for dropping support for it.

[2020-05-28 15:21] laceysanderson commented on #1064
I'm not against the hard requirement of Postgres 9.5+. However, I think we should include a warning message about this requirement when people choose upgrade 1.2 => 1.3 as well as in RTD on install and in the README.

[2020-05-28 16:50] spficklin commented on #1058
Thanks @scottcain the bad link is now fixed.

[2020-06-14 20:02] mdhar1980 commented on #761
Hi, @laceysanderson -- Thanks again for your responses. I wanted to ask, as I had made note of your comment here about Tripal 4 development, if there was a timeline for that. I did find the development site for it (https://github.com/tripal/t4d8) but couldn't get an idea of timing. Is this something you know: when Tripal 4 is likely or planned to be released? Or any idea on how close that is? My l

[2020-06-14 22:47] laceysanderson commented on #761
Hi @mdhar1980, we're working on solidifying a timeline right now and will hopefully have a better idea in ~2 weeks. For now, we're hoping to have a full release of Tripal 4 by the end of this year. This is with the Drupal 7 end-of-life planned for Nov 2021 in mind as we know many will have extension modules and sites to upgrade and we want to provide as much time as possible for that.

[2020-06-14 23:43] mdhar1980 commented on #761
OK, thanks!

[2020-06-16 11:53] martacsilva opened #1066 ""Annotation Term Accession" filter in searches not working"
Hi!
I have opened an issue on tripal_analysis_interpro (https://github.com/tripal/tripal_analysis_interpro/issues/31) but I haven't had an answer yet, and I'm not even sure if that is the right place. I am cross posting here in hopes that somebody will point me in the right direction.
I am trying to filter my features my Annotation Term Accession (IPR and GO terms). I have uploaded them and they s

[2020-06-16 15:41] laceysanderson commented on #1066
Hi @martacds, unfortunately I'm not familiar with this extension module enough to help. Perhaps @spficklin may be able to help but he's away this week. I'm tagging him here in the hopes he sees this once he gets back but if there is still no answer in 2 weeks, please ping us again. Sorry for the delay you've been experiencing receiving an help!

[2020-06-16 16:01] martacsilva commented on #1066
Thanks for the quick answer! And no worries on the delay, it happens.
Alright, 2 weeks. See you then!

[2020-06-22 15:21] par12005 opened #1068 "Multiple-insertion Chado Query API function"
## Feature Request/Discussion

* This feature does not attempt to solve an existing problem with Tripal (although it could help with the performance of several other Tripal tools)
* I am open to developing or collaborating on an extension module if this is not a good fit for Tripal Core

* This feature is Not Urgent

### Description
It would be nice to have a Chado Query API function that can inse

[2020-06-27 00:30] risharde commented on #1068
Version for testing released: https://github.com/risharde/tripal/blob/7.x-3.x-chadoapi-insertquery/tripal_chado/api/ChadoRecord.inc

- Function name changed to insertMultiple to conform with similar function names within the ChadoRecord class.
- Function name setInsertPartitionLimit(int) can be used to set partition limit to insert per specified number of rows (default: 10000)
- Function name Chad

[2020-06-29 16:15] par12005 commented on #1068
Thanks @risharde! This looks pretty good! I just have a couple notes:

- It looks like the current implementation doesn't support loading default values, since it uses all of the table columns when specifying the fields: `->fields($this->column_names)`
- There isn't any validation for the `$records` array to make sure that all of the not null columns are provided and that there are no columns that

[2020-06-29 20:57] risharde commented on #1068
Thanks for the suggestions @par12005 , I'm going ahead and tag the other core devs just to see if they agree as well on the suggestions @laceysanderson @spficklin

The second suggestion, I'm wondering if we need that validation versus the cpu time required to check each record before performing inserts. If the insert does not conform to the db specification, it should fail (safely) as is?

Third p

[2020-06-30 19:13] Ferrisx4 opened #1069 "Tripal 2 -> Tripal 3 Upgrade - Tripal Chado Views index issues"
# Background
A site is being upgraded from Tripal 2 to Tripal 3. After removing the previous Tripal and cloning the latest, and while attempting to enable tripal_chado, the following database error is received:
[code]

The tripal_views table with the offending key:
[code]
Various basic database integrity techniques have been employed including vacuuming and recreating indexes prior to running thro

[2020-06-30 22:42] mdhar1980 commented on #761
Hi, again, @laceysanderson -- and thanks again for your responses. We finally have some time to go back to our Tripal issues and would like to upgrade to Tripal 3, ahead of the 4 debut. So, I just wanted to check on something you'd said before: "_would it be possible to upgrade your site to Tripal3 legacy mode?_"
My question: Is an upgrade to "Tripal 3 legacy mode" a special sort of upgrade? I fou

[2020-06-30 23:23] risharde commented on #1068
@par12005 I tried returning results from the insertMultiple function but unfortunately it seems to only return the last primary key created, not the entire list. I'm not sure if there is a way to retrieve all primary keys / ids created using multiple inserts. If you have experience in this area, I'd loved to hear of some suggestions on this?