[2018-08-09 19:36] btski commented on #534
Sounds like you might have a problem with a config file for the rapid install. When building from scratch, are you running "drush pm-enable tripal" from the correct directory (/var/www/html)?

I've posted my own personal notes for rapid install (found [here](https://github.com/tripal/tripal/issues/175)). Perhaps comparing what you've tried might be able to help solve your problem/s.

Please confir

[2018-08-09 19:38] laceysanderson commented on #534
Can you paste the full transcript from the terminal for us? Note: use ``` above and below to make it more readable :-)

[2018-08-09 21:02] btski commented on #534
Actually there does appear to be a problem (at least with rapid install). Installing Tripal is failing post Chado version (1.3) selection and resulting in the following errors:

[code]

It seems the github repository was modified ~2 months ago. The last time I ran a full installation was at least 4 months ago.

[2018-08-10 09:26] igcbioinformatics commented on #534
Hello:

[code]

[2018-08-10 10:54] igcbioinformatics commented on #534
Another attempt:
Did exactly the same as before, but now tried the manual installation

[code]

[2018-08-10 14:26] igcbioinformatics commented on #534
I've tried the automatic process with 16.04 and seems to be working now.

[2018-08-10 14:50] shawnawsu commented on #505
@risharde Is there any update on this?

[2018-08-10 14:51] shawnawsu commented on #515
@risharde Is there anything else you need on this issue?

[2018-08-10 14:51] shawnawsu commented on #516
@risharde Can you let me know if Bradford answered your question or you need more info on this?

[2018-08-10 14:56] almasaeed2010 commented on #538
I did a quick profiling and here are my results for a brand new tripal site with 200 mRNA, 1 Organism and 1 Analysis

|Number of items in menu|Time to load the home page|
|-------------------------|---------------------------|
|2|328 ms|
|3|493 ms|
|4|545 ms|
|5|689 ms|
|6|728 ms|
|7|878 ms|

The items in the menu point to `bio_data/#` links. There is an obvious increase in time and it would proba

[2018-08-10 15:52] almasaeed2010 commented on #538
So changing the following lines to not use `$wildcard` and instead pass the entity id fixes the issue. This requires reimplementing `tripal_view_entity()` and `tripal_entity_access()` to handle the id instead of expecting an object. With that, we can load only a single field using `tripal_load_entity()` instead of loading all the fields. Or if there is a better function to pull the bundle name wit

[2018-08-10 17:27] spficklin opened #540 "Collaborative Development."
How do we encourage and promote positive collaborative development between groups at different institutions.  What are the challenges? What works?

[2018-08-10 17:29] almasaeed2010 opened #541 "Enabling Ajax for Fields"
I noticed today that on my local dev site, entities are loading their fields using Ajax instead of preloading them on the server. However, this behavior is not happening on our live site and we'd like to know if it is possible to activate it?

[2018-08-10 18:57] almasaeed2010 commented on #538
PR submitted #542

[2018-08-10 18:59] almasaeed2010 commented on #541
I realized that this is the default behavior but enabling tripal_ds disables it.

[2018-08-10 19:05] almasaeed2010 commented on #534
Hello @igcbioinformatics

For the time being, Drupal does not support PHP 7.2. When using Ubuntu 18, it auto installs php 7.2 and that's why your earlier attempts failed.

@laceysanderson @spficklin should we add a warning on the site that PHP 7.2 is not fully supported?

Thanks!

[2018-08-10 19:45] spficklin commented on #534
I am able to run Tripal v3 with Ubuntu 18.04 without a problem.   However, @almasaeed2010 is correct, PHP 7.2 that comes with Ubu 18.04 does not get along with Drupal and it causes warning messages. Perhaps we've accidentally incorporated a change in the code that breaks the install on 18.04.  But, I've certainly done it in the past.  I'll look into it.

[2018-08-10 19:49] spficklin commented on #541
If you edit a content type and change the Field Display from "hide empty fields" to "show empty fields" then it loads the non "auto-attach" fields via AJAX.   Originally Tripal v3 loaded all fields via AJAX so that the pages would load quickly.  But many folks did not like fields that were empty to show up.

[2018-08-10 19:49] spficklin commented on #541
But as @chunhuaicheng pointed out in issue #538 we probably should try to find a way to make AJAX work either way.

[2018-08-10 19:54] almasaeed2010 commented on #541
Since we know the pane where data is supposed to go to, then we have enough info to delete the pane if the returned data is not available. This however may create an unwanted effect of things disappearing after a few seconds so we could possibly load the panes as hidden by default and do a little css animations as we get data back from the server?

I'll try to look more into this to see if we can

[2018-08-10 19:55] laceysanderson commented on #541
Listening in on this. I would Love a solution to have AJAX loaded fields while still hiding empty ones from my users!

[2018-08-10 20:12] risharde commented on #505
Sorry for the delay! Tried to install using latest git but same issue.

On Fri, Aug 10, 2018, 10:50 AM Shawna <notifications@github.com> wrote:

[2018-08-10 20:13] risharde commented on #515
Thanks, you guys solved it from your answers

On Fri, Aug 10, 2018, 10:51 AM Shawna <notifications@github.com> wrote:

[2018-08-10 20:58] almasaeed2010 commented on #486
I think this issue can be closed in favor fo #530 which has a PR already submitted for it.

[2018-08-10 20:58] almasaeed2010 commented on #524
PR submitted #539

[2018-08-10 22:30] dsobral commented on #534
I noticed the warnings, and I figured it was something with the php version.

Thanks,
Daniel

[2018-08-11 00:09] shawnawsu commented on #518
Hi @risharde,

Can you do Monday morning? Bradford and I are both free anytime Monday.

Thanks,
Shawna

[2018-08-11 04:10] #538 closed, assigned to nobody

[2018-08-11 04:10] spficklin commented on #538
PR merged.. closing this issue.

[2018-08-11 04:11] spficklin commented on #530
PR with fix merged.  Closing.

[2018-08-11 04:11] #530 closed, assigned to laceysanderson

[2018-08-11 04:47] spficklin commented on #222
I posted a PR to fix this.  Let me know if it resolves the problem for you.

[2018-08-11 06:13] spficklin commented on #433
I could not duplicate this problem fully because some of these warning/error messages were fixed in other PRs.  However, I did still find some warnings/errors and I fixed those in a new PR.

[2018-08-11 06:43] spficklin commented on #491
Okay, I have submitted a fix via a PR for this.  Can you both test it and let me know how it goes?

[2018-08-11 06:52] spficklin commented on #515
Looks like this is resolved.  Marking as closed.

[2018-08-11 06:52] #515 closed, assigned to nobody

[2018-08-11 06:58] spficklin commented on #490
But having said that.... we should still fix the problem....

[2018-08-11 06:59] #486 closed, assigned to nobody

[2018-08-13 09:53] mdondrup commented on #376
Hi and sorry for the delayed response,

we have plans to migrate to Tripal 3 within 2018 and will start testing soon... However, I would prefer the function available in the form of an export button below the search form for reasons of simplicity. I am sure the collections are useful and flexible but I am a bit concerned about ease of use, they might be a bit complex for our users.

In the meantim

[2018-08-13 14:52] bradfordcondon commented on #526
@spficklin this is question for you:  do you approve if so we'll implement

[2018-08-13 15:39] bradfordcondon commented on #433
merged

[2018-08-13 15:39] #433 closed, assigned to spficklin

[2018-08-13 15:39] bradfordcondon commented on #535
merged

[2018-08-13 15:39] #535 closed, assigned to spficklin

[2018-08-13 15:46] bradfordcondon commented on #540
* [We created a website to showcase the modules we are working on ](https://statonlab.github.io/hardwoods_tripal_showcase/).  I dont know that its been particularly successful.  Similarly i dont know that the tripal.info module list has been useful for encouraging collaboration
* I think more informal participation in slack would be really helpful for this.  Even if its just people posting questio

[2018-08-13 17:54] spficklin opened #549 "New API function for files"
## Feature Request/Discussion

- [x] does this feature attempt to solve an existing problem with Tripal?
- [ ] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [ ] do you **Need** this feature ASAP?

### Description

Right now the only way for Tripal to manage a file is if a user upload

[2018-08-13 18:23] laceysanderson commented on #540
I like the section on the meeting docs idea. I find most of the collaboration with me has been started by people jumping in when they hear I'm working on something or vise versa.

I also like the demo meetings idea but worry about more meetings and whole-heartedly agree that more slack participation would help!

[2018-08-13 18:50] laceysanderson commented on #376
Hi @mdondrup, thanks for the updating and sharing the module you created :-) I'm glad that you have a solution for yourself and truly appreciate you sharing it here for others who may need it!

I'm going to close this issue since you have a solution and the options are documented here for others. However, if you have more to say or if this solution is not a good long term one for some reason, feel

[2018-08-13 18:50] #376 closed, assigned to nobody

[2018-08-13 20:03] laceysanderson opened #550 "Select List Views Exposed Filter for Tripal Fields"
## Feature Request/Discussion

- [x] does this feature attempt to solve an existing problem with Tripal?
- [x] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [x] do you **Need** this feature ASAP?

### Description

I need to be able to choose select list and/or autocomplete as the exp

[2018-08-13 20:15] almasaeed2010 commented on #534
For the record, I managed to install tripal manually on Ubuntu 18 (php 7.2) without any issues.

I tried the rapid install method but it is downloading an old version of tripal 7.x-3.0-rc1 which has an issue when I tried to enable it:

[code]

Other than that everything worked well!

Thanks!

[2018-08-13 20:26] mestato commented on #540
Ditto the concern about more meetings. We used to have people demo'ing or explaining their modules in dev calls more often, and I would like to see that get started up again. It could be a standing agenda item with groups rotating who presents. As long as we keep it short (<10 minutes), I think that would be a great way to keep up with what everyone is doing.

[2018-08-13 20:28] spficklin commented on #534
Thanks for testing @almasaeed2010 . I have updated the rapid install script to use 7.x-3.x-rc3 release. And that message you report should be resolved in the rc3 version.

@igcbioinformatics if you want to try the 18.04 again and let us know if you have issues with it we can try to help.  If you're happy with your 16.04 installation then let me know and I'll close out the issue.

[2018-08-13 20:29] mestato commented on #540
I think the in person user meeting/training/collaboration fest in San Diego in January has also been effective at getting people to collaborate. It's great to meet someone in person after only knowing them online for months or years, and then to have the time to talk to them about their work one on one. How do we get more people there or get remote attendees to feel included?

[2018-08-13 20:55] laceysanderson commented on #550
After discussion with @spficklin:

**Clarification:** This would allow admin to add a select list or autocomplete exposed filter for many Tripal/Chado Fields where the values in the list match those already used in the chado table. For example, you could have a select list for a field connected to the feature.type_id where the options are the unique set of feature.type_ids (e.g. sequence_variant,

[2018-08-13 21:17] spficklin commented on #550
Sounds good. You may want to add a few more options to your getValueList function as some fields have multiple "levels". For example, the OBI__organism field is attached to feature.organism_id.  If you wanted a filter by genus or species then you may want to adjust your keyword.  Also, going beyond just this use case, for anyone who wanted a list of all values, do you want to add an argument for s

[2018-08-13 21:20] laceysanderson commented on #550
How about a generic `$options` array to handle that flexibility?
[code]

[2018-08-13 21:34] spficklin commented on #550
Sounds good.

[2018-08-13 21:43] spficklin commented on #500
Coming back to this. If we update the mview each time we call chado_insert_cvterm it would get updated way too often.  There are 156 calls in the tripal_chado.semweb.inc file alone.  I think the solution may be that we need a way to schedule updates of mviews as per request #353.    Would that work for you?

[2018-08-14 00:31] laceysanderson commented on #500
Perhaps... However, I would want the ability to turn some mviews on for automatic update but not all. If we had that granularity and this was one was updated automatically by default then it could be a good solution.

I do think regardless that we should update the warning to tell people that updating this mview might help. I had to dig through the code to solve this which shouldn't be necessary.

[2018-08-14 14:08] almasaeed2010 opened #551 "Error in Web Services Module"
## BUG/ERROR report

### System information
* Tripal Version: 3
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

A fatal error is showing up for my remote data field.

#### Steps to reproduce

I am not sure when or why this started happening.

#### Error messages and screenshots

<img width="1440" alt="screen shot 2018-08-14 at 10 07 32 am" src="https://u

[2018-08-14 14:25] almasaeed2010 commented on #551
PR submitted #552

[2018-08-14 16:14] almasaeed2010 opened #553 "A need for importer hooks"
## Feature Request/Discussion

- [ ] does this feature attempt to solve an existing problem with Tripal?
- [x] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [ ] do you **Need** this feature ASAP?

### Description

We have encountered multiple cases where we needed to know that an imp

[2018-08-14 16:39] bradfordcondon commented on #371
@laceysanderson @spficklin any thoughts on this?  adding release blocker tag until question is resolved because seems pretty important fix.

[2018-08-14 16:43] igcbioinformatics commented on #534
I tried again with 18.04, and when I gave a complex password (with, for example the character '#') I had an error :

[code]

I then run again, changing the password to something simple, and now it seems to work.
So this might explain part of the issues I was observing.

Daniel

[2018-08-14 16:55] bradfordcondon commented on #534
hi @igcbioinformatics

Drupal uses `parse_url()`(http://php.net/manual/en/function.parse-url.php) to handle the database connection.  This means that `/ . @ # , ` all break the connection, and they shouldnt be used.

[2018-08-14 16:58] igcbioinformatics commented on #534
Yes, didn't think about it when automatically generating the password...
But before, 18.04 was still breaking (though 16.04 worked)

Now both work.

Thanks,
Daniel

[2018-08-14 17:04] almasaeed2010 commented on #371
I did a little investigation about this. When changing type_id to `bigint`, the operation succeeds but some content types break and produce the following error:

This error is for mRNA content types:
[code]

I suppose there is a reason for type_id to remain varchar.

[2018-08-14 19:00] btski opened #554 "Bootstrap 3 typeahead jquery plugin not working"
Tripal Version: 3
Drupal Version: 7.56
PostgreSQL Version: 9.5.12
PHP Version: 7.0

I'm trying to get tagsinput and typeahead working on my site that has the Bootstrap 3 theme. I've downloaded bootstrap-tagsinput.css and bootstrap-tagsinput.js from [here][1]. I've also downloaded bootstrap3-typeahead.js from [here][2]. Now the code I'm trying to use to get everything working is below:

    <link r

[2018-08-14 20:33] bradfordcondon commented on #554
Do you have an error message or description of what is not working?  (hint: javascript errors would show up in your web browsers developer console. ie [for chrome](https://developers.google.com/web/tools/chrome-devtools/)

What version of jquery is required?  See here: https://www.drupal.org/docs/7/theming/working-with-javascript-and-jquery

You may need the jQuery update module enabled depending

[2018-08-14 21:05] btski commented on #554
The jquery update module is enabled. Current version appears to be 1.10 (most recent). Can confirm that jquery isn't being called correctly. I can't even get simple jquery demo code to run.

[2018-08-14 21:10] btski commented on #554
Accidentally closed, reopened now. Can confirm that jQuery isn't working. Will investigate proper usage of jQuery within Drupal 7. I've got the jQuery update module enabled. The admin page suggests that the active version is 1.10, but I'm not able to find evidence of that via command line search. I've found the base versions of jQuery v1.4.4 and jQuery UI v1.8.7.

[2018-08-14 21:27] shawnawsu commented on #554
You can trust the version referenced in your UI if you're using the jquery update module, 1.10 can sometimes cause problems, try changing the version to 1.7 or lower.

I'm just going to reiterate what Bradford said, are you sure you're not getting any errors in your console (not terminal or db log)?

I think the likelihood that this is Tripal related is very small.

The code that you're referencin

[2018-08-15 12:42] bradfordcondon opened #555 "bring user collection files into user file management"
## Feature Request/Discussion
- [x] does this feature attempt to solve an existing problem with Tripal?

### Description

We have recently added two file management features for users: collection files and user files (user uploads).
The user uploads area is great because we can set a file quota, users can see how much they are using, they can renew their files, etc.

Collection files don't count t

[2018-08-15 16:32] laceysanderson commented on #555
Good call. It would be nice for these two sets of files to be consistent and aggregated. I don't yet use this new functionality yet. What functionality specifically would you like to see?

Wish List (from original post):
- collection files + user uploaded files both count towards quota
- users can see/manage collection files in their user uploads area

[2018-08-15 17:47] btski commented on #554
Resolved. There were two problems. Firstly, jQuery wasn't automatically detected as a valid scripting language. I had to use a closure to map jQuery to $ (following documentation provided by Bradford). Second, I was creating the html element after the jQuery script was running. Working code:

[code]

Thanks for the help.

Edit1 - expanded answer to address a bug. More information can be found [her

[2018-08-15 17:47] #554 closed, assigned to nobody

[2018-08-15 19:22] bradfordcondon commented on #555
@mestato anything I missed?

[2018-08-15 20:26] mestato commented on #555
This would be great.

[2018-08-16 18:25] bradfordcondon opened #557 "autosort field widgets by required/optional"
## Feature Request/Discussion
autosort field widgets by required/optional.

Straight forward I think.  Publication in particular, i have a ton of fields and the required ones are all mixed in.  Furthermore the display order might be set with a specific output in mind for the end user, which shuffles the field widgets.

To make it worse, failing to meet validation will lose the entry and you'll get

[2018-08-17 14:02] bradfordcondon opened #558 "OBO loader issue: some terms double loaded with name/acession reversed"
## BUG/ERROR report

### System information

* Tripal Version: 3

### Issue description

When loading ontologies, more terms appear "rootless" and show up at the base of the CV than intended.

<img width="718" alt="screen shot 2018-08-17 at 9 52 43 am" src="https://user-images.githubusercontent.com/7063154/44269699-50437580-a203-11e8-8225-172299801000.png">

Examining the OBOs, I can't quite see w

[2018-08-17 14:14] bradfordcondon commented on #558
Also I've found this problem of terms created with swapped accessions/names appearing at the root loading other ontologies (plant trait ontology) https://www.hardwoodgenomics.org/cv/lookup/TO.

again, its the terms that are loaded in because it was referenced by another term- note that all the malformed terms are from PATO not TO (ie, referenced outside the ontology)

<img width="597" alt="screen

[2018-08-17 18:22] bradfordcondon commented on #525
here is a mini TO file to make testing this issue easier

[code]

edit: oops this doesnt work, sorry haha

[2018-08-18 09:42] spficklin opened #559 "Check for how cultivars are handled with organism"
## BUG/ERROR report

### System information

* Tripal Version:  3.x
* Drupal Version:  7.x
* PostgreSQL Version:  N/A
* PHP Version:  7.2

### Issue description

This may or may not be a bug.  This issue is just to make sure that cultivars are properly handled by Tripal.  An organism can be of type 'cultivar', but if the type is a cultivar then the scientific name should not include the work 'cult

[2018-08-18 14:37] risharde opened #560 "How do I create an entity record and add values?"
Hi guys (@bradfordcondon @shawnawsu @spficklin), so I've been using the following code to create a Tripal Entity, I believe I found this searching through Tripal code somewhere. The problem is that in this case, the entity record gets created in public.tripal_entity table BUT the corresponding chado_bio_data_<id> table does not get populated with the entity_id and record_id. I guess I'm missing so

[2018-08-18 15:11] bradfordcondon commented on #560
your entity_controller object should also specify chado `chado_record` and `chado_record_id` when you create it.  Check out the code below:

here is how we publish records in Tripal test suite:

[code]

It feels like there should be a single API call that would publish an individual chado record to an entity, but I'm not sure one exists.  What do you all think, should we have some publish methods

[2018-08-18 15:20] risharde commented on #560
Wow Bradford, thanks for your speedy response! Will test and post a follow
up message!

On Sat, Aug 18, 2018, 11:11 AM Bradford Condon <notifications@github.com>
wrote:

[2018-08-18 15:33] bradfordcondon commented on #560
I should say... I think the main supported way of publishing records is to run the API to publish **all** records for teh bundle, ie `tripal_chado_publish_records`  edit oops, thats deprecated, use `chado_publish_records`

In short this call will check for chado records that match the bundle and publish, so all you have to do is insert into chado.

[2018-08-20 01:04] risharde commented on #560
Hmm chado_publish_records seems like what I need for simplicity purposes, I'll be testing this tonight, hopefully early this week I can post a follow up on whether this works for the migration. Thank you so much @bradfordcondon, I would have never discovered this!

[2018-08-20 03:59] risharde commented on #560
Just an update, @bradfordcondon , chado_publish_records worked like a charm! Thank you!

[2018-08-20 04:08] risharde opened #561 "Error message: array_key_exists() expects parameter 2 to be array"
Hi guys, any idea what causes this error message? I keep seeing this at the top of the pages. It doesn't seem to affect functionality per say but would like to get to the bottom of this one. Please let me know, thanks!

Warning: array_key_exists() expects parameter 2 to be array, boolean given in tripal_get_term_details() (line 396 of /var/www/Drupal/sites/all/modules/tripal/tripal/api/tripal.term

[2018-08-20 09:29] #534 closed, assigned to spficklin

[2018-08-20 12:24] bradfordcondon commented on #560
ok great.  I'm closing this issue out.  If we want to discuss an API for publishing specific chado records we can create a new issue.  ( know that there's some degree of functionality for this because you can provide filters...)

[2018-08-20 12:24] #560 closed, assigned to bradfordcondon

[2018-08-20 13:40] almasaeed2010 opened #562 "Bundle creation permission error due to admin username"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

Creating a tripal content type for `Library` results in an error on our site. We used the term [nucleic acid library](https://www.ebi.ac.uk/ols/ontologies/ero/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FERO_0000160) to create the

[2018-08-20 17:17] almasaeed2010 opened #563 "Collections Permissions Issue"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1
* Operating System: Centos 7

### Issue description

We are getting an error message in the job log when we generate a downloadable file using Tripal collections.

We have experienced this issue before (and it was fixed). see #293 .

#### Steps to reproduce

1.

[2018-08-21 05:42] spficklin commented on #77
Issue fixed with PR -- long time overdue.

[2018-08-21 06:03] spficklin commented on #562
I am not able to recreate this problem. I added the "nucleic acid library" term to my database, created the type using the chado.library table (with type_id differentiating the type) and it created just fine.

I think though, that the problem may be caused by these lines of code:

https://github.com/tripal/tripal/blob/85b3c2988e5ebc8083c67b34ed8fa1ef7efd253e/tripal/includes/TripalBundleUIControlle

[2018-08-21 06:18] spficklin commented on #561
Hi @risharde we'll look into it.  I think you're right though, it's just an annoyance.   Can you give some examples of pages where you see this appear so we can confirm?

[2018-08-21 06:23] spficklin commented on #557
Hi @bradfordcondon I don't quite understand this issue. Can you provide some examples?

[2018-08-21 06:24] spficklin commented on #555
Yes, they should count towards quotas. I thought they did do that. We'll check on it.

[2018-08-21 06:37] spficklin commented on #553
Hi @almasaeed2010 . I think this is a very reasonable request and adds very minimal code.  I have added two new hooks:  hook_importer_start and hook_importer_finish.  These get called before and after a TripalImporter is run.   Can you test out the new branch named 553-tv3-importer_hooks and see if it works for you?  If so, we can issue a pull request.

[2018-08-21 12:42] bradfordcondon commented on #557
oops.  After your response i fooled around and saw that changing the order of items on the field configuration page also changes the order of the widget (and that furthermore this allows you to configure the widget order separately from the display order).

So, site admins who wish to have all their required fields at the top should simply rearrange their fields under content -> structure -> [cont

[2018-08-21 12:42] #557 closed, assigned to nobody

[2018-08-21 12:48] almasaeed2010 commented on #553
Hi @spficklin

I took a look at the code and I think that's exactly what needed. This will work for both ES and tripal_cv_xray.

My only suggestion would be to add a public method to TripalImporter to get the arguments of the loader. This is useful to identify the parts of the site that would need reindexing.

To clarify, this is all we'd need:
[code]

Would that work?

@bradfordcondon any thought

[2018-08-21 13:15] bradfordcondon commented on #222
resolved via pr. thank you @spficklin

[2018-08-21 13:15] #222 closed, assigned to spficklin

[2018-08-21 13:43] bradfordcondon commented on #553
I can see some utility getting, say, the organism or analysis id from the arguments so that would be helpful.

[2018-08-21 14:24] almasaeed2010 opened #565 "Web Services Fail to List Entities of a Certain Type"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

Using web services on our live site to get a list of organisms results in an error (please see below).

#### Steps to reproduce

1. The error can be seen on our live site: [https://hardwoodgenomics.org/web-services/content/v0.1/Organism](htt

[2018-08-21 18:31] spficklin commented on #553
Yes, I think that's reasonable.  My focus at the moment are the release blockers for the Tripal v3 stable release.  If you need this sooner rather than later please feel free to

[2018-08-21 18:31] spficklin commented on #553
Oops... didn't mean to close.  Yes, I agree that's a reasonable request.

[2018-08-21 18:36] spficklin commented on #562
@almasaeed2010 since the PR did not fix the problem for you.   Would you mind running this code and letting me know if it returns the name of the administrator role on your site?

[code]

[2018-08-21 18:37] almasaeed2010 commented on #562
Hi @spficklin

the command returns `0`:

[code]

Thanks!

[2018-08-21 18:39] spficklin commented on #534
@igcbioinformatics just to follow-up.  Where did you provide the password with the '#' character that caused problems?

[2018-08-21 18:39] almasaeed2010 commented on #553
Just a note that this is not urgent but we don't mind picking up from here and adding the rest of the code along with some unit testing if you want to focus on more urgent issues.

Thanks!

[2018-08-21 18:47] almasaeed2010 commented on #562
I found this code snippet that returns the current name for the role in case it's useful:

[code]

Running
[code]
returns the correct admin user role as specified in our site:
[code]

[2018-08-21 19:12] #77 closed, assigned to bradfordcondon

[2018-08-21 20:19] bradfordcondon opened #566 "hosting documentation alongside code"
We're thinking about including documentation alongside the code, rather than having the documentation on tripal.info.  This allows us to:

1. have version control on documentation, including versions, PR discussion about changes...
2. track who contributes what to documentation
3.  ensure that PRs update or add new documentation

we already do this to a very minor extent:  We have information on t

[2018-08-21 22:42] spficklin commented on #566
I very much like this idea.  I agree that Read The Docs is a great place to go.  It's in common use and would be familiar to others and easily is printable as PDF if desired.  I vote  for restructuredText as the format.  It also makes it easier for folks to suggest document changes as that's not possible in our current format on Tirpal.info and we can link to the readthedocs from the Tripal.info s

[2018-08-22 15:10] igcbioinformatics commented on #534
I've provided the password during the steps after "drush --include=. tripal-generic-install"

Daniel

[2018-08-22 19:27] bradfordcondon commented on #526
no response so im assuming its ok to implement because i want it.

Alternatively maybe we want them in which case i can remove them in my cv_xray formatter.

[2018-08-22 20:35] spficklin opened #568 "Legacy titles on Tv2 content types"
### System information

* Tripal Version: 3.x
* Drupal Version:  7.x
* PostgreSQL Version:  N/A
* PHP Version: N/A

### Issue description

When someone runs a Tripal v3 site in legacy mode they get two sets of content types... one for nodes and one for the new entities.  However, this may be confusing to folks to have two sets of similar content types.  I propose we add the term "(legacy)" to each

[2018-08-22 20:37] bradfordcondon opened #569 "chado_delete_mview doesnt unset global variable for table"
im trying to delete and recreate an mview.  However im getting this insane pattern where the job will fail the first run, pass the second run.

here's the update
[code]

I've traced it to `chado_add_mview` being told the mview exists by `chado_table_exists`, but the table has been dropped.

I'm pretty sure that if `chado_delete_mview` updated the global variable properly this would resolve.

Error

[2018-08-22 22:43] chunhuaicheng opened #572 "Pub title field should not be of 'Chado Property' type"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.54
* PHP Version: 7.0

### Issue description

The Pub Title field is stored as a 'Chado Property' which does not use the 'title' column in the 'pub' table. This has caused our site to have empty title for newly imported pubs.

#### Steps to reproduce
List fields for the Publication

[2018-08-22 23:24] spficklin commented on #572
So this problem is caused by the following (after offline discussion with @chunhuaicheng).  If a site has a 'Title' as an entry in the pubprop table of Chado it conflicts with the pub.title field.  Tripal v3 prefers to create a field for the property rather than for the table column.   The reason that @chunhuaicheng was having this problem with the Title is because the Tripal Pub Importer at some

[2018-08-22 23:30] spficklin commented on #572
I've added this as 'URGENT" as @chunhuaicheng is hoping to put a new Tv3 site live ASAP.

I will submit the PR for the fix if @chunhuaicheng confirms it works.

[2018-08-23 04:04] chunhuaicheng commented on #572
Thank you Stephen. I just tried it by removing and recreating the field. It works. The title field is now created as a Text type with TextField widget.

[2018-08-23 04:56] spficklin commented on #572
Great Thanks. I'll add the PR.  When I do since you've already tested it can you go in and just comment that you tested it and mark it as approved (like you just did here)?

[2018-08-23 05:15] spficklin commented on #572
I went ahead and marked it for you and referred to this issue.

[2018-08-23 05:25] chunhuaicheng commented on #572
Before you close this issue. I also found that if you 'Edit' a pub, the title text field isn't populated with the value. Don't know if this is caused by the same bug or not.

[2018-08-23 05:28] chunhuaicheng commented on #572
Never mind. It was the old widget still showing on the top of the Edit page. Found the new title field that has the value properly populated.

[2018-08-23 05:36] spficklin commented on #565
Thanks for the fix!

[2018-08-23 06:02] spficklin commented on #565
Yikes. I'm reopening because the fix did not work.  It did fix the problem with the error preventing the web services from appearing but the result it used for the TotalItems was an object rather than a number. I have applied a new PR to correct this problem.

[2018-08-23 07:02] spficklin commented on #553
This was very easy to do, so I've added the getArguments function for you.  Just pull the branch and you'll have it.  If you need this to be included in Tv3 stable so things work for you then let's bump this up to a release blocker and create a PR.

[2018-08-23 07:02] spficklin commented on #553
Oh, also.... as this started out as a feature request we should at least get the thumbs up from the other members of the PMC @shawnawsu and @laceysanderson .... thoughts?

[2018-08-23 07:04] spficklin commented on #551
Seems to be fixed... closing.

[2018-08-23 07:04] #551 closed, assigned to almasaeed2010

[2018-08-23 07:05] spficklin commented on #541
Just curious if you were able to figure anything out on this one?

[2018-08-23 07:06] spficklin commented on #527
After some additional discussion in the #pmc channel of slack, it was decided not to create separate modules at this time in order to prevent sudden changes to current Tv3 users.  Instead we'll just organize the content types into nice groupings to make them easier to deal with.

[2018-08-23 07:10] spficklin commented on #371
I'm not sure why it's  varchar... I think it should be a bigint as you suggest.   I'll work on a fix.

[2018-08-23 07:19] spficklin opened #577 "Syncing Pubs in legacy mode"
## BUG/ERROR report

### System information

* Tripal Version:  3.x
* Drupal Version:  7.x
* PostgreSQL Version: N/A
* PHP Version: N/A

### Issue description

Consider that a user is running Tv3 in legacy mode and has converted all of their nodes over to entities but are still using Tv2 templates.  If they do a bulk import of publications then Tripal currently checks to see if it is in legacy mod

[2018-08-23 07:28] spficklin opened #578 "Default Tv3 Content Type views provide results by default"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.x
* PostgreSQL Version: N/A
* PHP Version: N/A

### Issue description

In the past we've always created default search views for Tripal and those views typically only show results when the search button is clicked.  Currently, for Tv3 the search views show results by default which slows down display of the searc

[2018-08-23 12:51] #565 closed, assigned to almasaeed2010, spficklin

[2018-08-23 13:02] bradfordcondon commented on #568
thanks @spficklin

[2018-08-23 13:02] #568 closed, assigned to spficklin

[2018-08-23 15:53] bradfordcondon commented on #566
@spficklin are working on this.  I've ported my devseed documentation (which included in-depth guides on how to use the TripalImporters) to read the docs and i think its a huge improvement.

see: https://tripal-devseed.readthedocs.io/en/latest/

vs

https://github.com/statonlab/tripal_dev_seed/tree/master/docs

We're shooting to have the tripal.info stuff ported over into read the docs for the off

[2018-08-23 15:57] bradfordcondon commented on #569
merged.

[2018-08-23 15:57] #569 closed, assigned to bradfordcondon

[2018-08-23 17:07] almasaeed2010 opened #580 "PHP Notice in tripal.field_storage"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* PHP Version: 7.1

### Issue description

This is a simple syntax error that happens when the relationshipConditions is not defined. We simply need to use `property_exists()` for that specific property since it's not part of the base EntityFieldQuery. I will submit a PR in a minute.

### Error Message
[code]

[2018-08-23 17:10] almasaeed2010 commented on #580
PR submitted #581

[2018-08-23 17:43] #580 closed, assigned to nobody

[2018-08-23 17:51] spficklin commented on #526
Apologies I missed this discussion request...

[2018-08-23 17:52] #562 closed, assigned to spficklin

[2018-08-23 17:53] spficklin commented on #562
Fix has been applied via the PR.

[2018-08-23 18:09] spficklin commented on #534
Okay Thanks for sharing your experience.  I've added a new issue so we can fix this for the future:  https://github.com/tripal/tripal_install/issues/5

[2018-08-23 18:13] spficklin commented on #353
Referring here to @laceysanderson comment regarding this on another issue: https://github.com/tripal/tripal/issues/500#issuecomment-412712372

[2018-08-23 18:16] spficklin commented on #500
Maybe we could allow you to trigger some mviews to be updated on a cache clear and set this mview to do so by default?

[2018-08-23 18:20] bradfordcondon commented on #290
## Should fix for release blocker

* type lookup gives ajax error
   - easy resolution: the cv lookup is to the legacy cv module
* `Undefined index: files in NewickImporter->formValidate() (line 182 of /Users/chet/UTK/tripal/sites/all/modules/tripal/tripal_chado/includes/TripalImporter/NewickImporter.inc).`
   - easy resolution: Importers let the base class handle the file validation
* warning whi

[2018-08-23 18:28] spficklin commented on #290
This issue is on my TODO list.   Does this new error mean you are now loading trees or is this from unit testing?

[2018-08-23 18:29] bradfordcondon commented on #290
I was checking the status of this issue, we are not loading trees into our site.  I am loading via GUI to see the status of the issue.   The bugs i've spotted are from running through just now, quite different frmo the original issue.

Are you actively working on this?  I can work on something else instead.

[2018-08-23 18:33] spficklin commented on #290
Not actively now.  I have some test tree data for loading.  One thing I wanted to fix with this loader is that if the features do not exist on the site then the loader fails.  I want to see if we can create a solution for that so that folks don't have to write complex loaders to get their features in first before loading trees.

[2018-08-23 18:33] spficklin commented on #290
If you want to work on this one I'd be happy to share the data I have

[2018-08-23 18:35] bradfordcondon commented on #290
Here's the tree file with devseed.

https://github.com/statonlab/tripal_dev_seed/blob/master/Fexcel_mini/sequences/mrna_mini.fasta.tree

We can add that feature too but not sure its a release blocker (like my original request to import newick files with multiple trees inside).

The  bugs i listed above however are probably release blockers (or we cut the loader).

I think its a good issue for me s

[2018-08-23 18:59] bradfordcondon commented on #572
resolved, thank you @spficklin

[2018-08-23 18:59] #572 closed, assigned to spficklin

[2018-08-23 19:15] bradfordcondon commented on #290
we have agreed that a) dealing with multiple organisms / file and b) dealing with multple trees per file should each be their own issues.  This issue is just for releaseblockers related to the importer giving errors etc

[2018-08-23 19:41] bradfordcondon commented on #290
new error now that i've fixed all of the above (except the array flip thing while publishing):

[code]

i actually suspect this was due to the changes just made in https://github.com/tripal/tripal/pull/574 so im going to ignore this for now.

I suspect that the array_flip error warning is also unrelated because i get it for all content types, not just this one.

[2018-08-23 19:59] bradfordcondon opened #583 "Possible feature: Phylotree Importer: handle multiple files"
## Feature Request/Discussion

Offshoot of #290  but really a feature request/not a release blocker.

- [x] does this feature attempt to solve an existing problem with Tripal?
- [ ] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [ ] do you **Need** this feature ASAP?

### Description

[2018-08-23 20:37] bradfordcondon commented on #566
# USER'S GUIDE PROGRESS.
Note im not counting sub-pages.

- [x] what is tripal
- [x] install tripal v3
- [x] brief drupal overview
- [x] setup of example genomics site
  - [x] organisms
  - [x] analyses
  - [x] cross refs
  - [x] controlled vocabs
  - [x] genomes and genes
  - [x] importing pubs
- [x] learn chado
- [x] creating content types
- [x] setting page titles and urls
- [x] configurng page

[2018-08-24 02:14] bradfordcondon commented on #566
im almost done with galaxy but after going through it, it seems like it should be hosted separately (IE alongside the tripal_galaxy module not the tripal project).  The in-tripal documentation would then be a single page with an overview and a linkout to those docs.

[2018-08-24 17:35] spficklin commented on #566
@bradfordcondon agreed on the Galaxy docs.

[2018-08-24 17:36] spficklin commented on #566
It would be nice if we could somehow allow folks to easily link in their documentation for extension modules so that others can find docs in one easy place.

[2018-08-24 17:37] bradfordcondon commented on #566
I agree and am thinking about how we can deal with that.  This is definitely an opportunity to rethink how core shares/lists extension modules

[2018-08-24 18:54] almasaeed2010 commented on #541
Sorry I haven't gotten to this yet. Will work on it and update here soon.

Thanks!

[2018-08-24 19:22] bradfordcondon opened #586 "can't publish features"
## BUG/ERROR report

### System information

* Tripal Version: 3
* Drupal Version:  7.59
* PostgreSQL Version: 9.6.1
* PHP Version: 7.1.16

### Issue description

Publishing appears to be broken.

#### Steps to reproduce

* Create an organism and an analysis
* run the chado FEATURE importer.
* publish teh features

### Errors

When creating the organism and analysis:

[code]

When running the FAST

[2018-08-24 19:25] bradfordcondon commented on #586
@almasaeed2010 can't reproduce this, so let's hold on a second while i look into it.

[2018-08-24 19:33] bradfordcondon commented on #586
If I roll back to the RC3 release, I can publish no problem.
[code]

[2018-08-24 20:24] spficklin commented on #586
I'll test it to see if I can reproduce.  Were you on the 7.x-3.x branch?

[2018-08-24 20:28] bradfordcondon commented on #586
yes.  i've rolled back to RC3 since im in the middle of something. but all the above is on 7.x-3.x

[2018-08-24 21:05] spficklin opened #588 "Logging and Error Handling"
Logging and error handling in Tripal is a bit inconsistent.  We need to clean it up and set a properly documented way to do both.

[2018-08-24 21:06] bradfordcondon commented on #586
thank you for the very rapid turnaround on this @spficklin

[2018-08-24 21:06] #586 closed, assigned to nobody

[2018-08-25 02:48] laceysanderson commented on #500
I think this auto-updating of mviews should be independent of cache clearing. With the new entities, it's best if you greatly limit cache clearing on a production site. The db2cv_mview would definitely need to be updated at times when a cache clear isn't necessary.

We could link automatic mview updates to drupal cron though. Allowing you to indicate which mviews should be updated by drupal cron w

[2018-08-25 02:54] laceysanderson commented on #553
I'm fully in support of this feature :-) 👍

[2018-08-25 03:47] spficklin commented on #563
@almasaeed2010 I'm not able to debug what's going on with this because I can't duplicate the problem.  That function has multiple checks to see if the directory is writeable.  Can you comment each check one at a time to see which is failing?

[2018-08-25 16:12] laceysanderson commented on #550
This has been taking me awhile since I decided to write tests for it 😁 and I may be a little over ambitious? I'm trying to test a new ChadoField method for all field instances (essentially all field/bundle chado storage combinations).

## Need Input/Ideas
You can see my current test here: https://github.com/tripal/tripal/compare/550-tv3-views_select_lists?expand=1#diff-9b96ece5f652f733fde586c173cf

[2018-08-25 19:08] laceysanderson commented on #550
NOTE: all tests and `ChadoField->getValueList()` are fully working :-)

Just need ideas on how to improve the tests! (And to do the views work...)

[2018-08-25 20:17] spficklin opened #591 "Data collections Form doesn't work with anonymous users"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.x
* PostgreSQL Version:
* PHP Version:

### Issue description

The data collection form shows up on the default Tripal views even if no one is logged in.  We have a request #343 to support anonymous users, but at least for the Tripal v3 stable release we need to fix this bug.

[2018-08-25 23:01] spficklin commented on #588
One problem with job logging is that we don't have the job object in all functions called by the job function and it would be too much of a hassle to have the $job object passed into every possible function that could be called by a job.  But if we don't pass the error messages don't get logged with the job.

[2018-08-26 00:52] spficklin commented on #481
I believe use case 1 was solve by this PR:  #574.  It was merged so I'm going to mark this issue closed.  Please reopen if there's still something we missed.

[2018-08-26 00:52] #481 closed, assigned to laceysanderson

[2018-08-26 03:40] spficklin commented on #566
The User's Guide is done!  Here's the link to the current build:

https://tripal.readthedocs.io/en/latest/

[2018-08-26 12:25] bradfordcondon commented on #566
let's also add instructions on how to build /contribute in CONTRIBUTING.MD and update PR templates to specify

[2018-08-26 12:55] bradfordcondon commented on #566
noticed a bad link in https://tripal.readthedocs.io/en/latest/user_guide/example_genomics/organisms.html#further-customizations

  linking is kind of tricky in this format.

[2018-08-26 16:21] laceysanderson commented on #566
Cool! This is Awesome! Thanks for all your hard work @bradfordcondon and @spficklin!

[2018-08-26 18:31] laceysanderson opened #595 "Docs: Exchange Data Between Sites"
We need documentation for how to exchange data between sites.

[2018-08-26 21:57] spficklin commented on #407
I'm going to take this off of a release blocker. we can add updates to a later release.

[2018-08-26 21:59] spficklin commented on #436
I don't think we have time to fix this one before the stable release.  This isn't a bug, just a problem that we can address later.  I'm taking off the release blocker.

[2018-08-26 22:00] spficklin commented on #326
I don't see this getting done before the Tv3 stable release. So I'm taking off the release blocker. It's not essential that we have this for the release. But it is very important.

[2018-08-26 22:01] spficklin commented on #266
We wont' get this done in time for the release and this isn't an issue that affects stability. so I'm taking off the release blocker.

[2018-08-27 13:05] oklonova opened #597 "Create_point missing function: now in a new context"
Hi,

I have seen in earlier issues that this happens with dumps or insertions into featureloc table. I want to delete all features from chado (truncate table chado.feature cascade), but this appears:

SELECT box (create_point(0, $1), create_point($2,500000000))^HINT:  No function matches the given name and argument types. You might need to add explicit type casts.QUERY:  SELECT box (create_point(0

[2018-08-27 13:16] bradfordcondon commented on #597
hello:

This always happens when you mess with features without PUBLIC in your search path.  It's because the featureloc table has some functions that reference public.

To resolve the error, do this instead

[code]

For what its worth, if you use the tripal API (chado_delete_record) it will handle this for you.

[2018-08-27 13:49] almasaeed2010 commented on #597
I think there is a typo in @bradfordcondon response.

He probably meant `chado` instead of `feature` in the first SQL line:

[code]

Thanks!

[2018-08-27 14:05] bradfordcondon commented on #597
oops yes chado not feature.  thanks for the correction @almasaeed2010

[2018-08-27 14:19] par12005 commented on #524
Thank you!

[2018-08-27 14:19] #524 closed, assigned to nobody

[2018-08-27 14:35] almasaeed2010 commented on #563
I added var_dump in all of the `if` statements:

[code]

The result:
[code]

So it says it failed to create the directory but the directory exists. It also says it can't write to the file but the file is there and has content.

There is a separate error here that I am gonna open an issue for. This error appeared after updating to the latest tripal version.

Thanks!

[2018-08-27 16:25] spficklin commented on #563
Is that directory writeable by the user running the drush command?

[2018-08-27 16:26] almasaeed2010 commented on #563
Given that the user is `root` it should be writeable. But also, there is content in the file if we force return true so I am sure it is writeable.

This is puzzling!

[2018-08-27 16:29] spficklin commented on #597
One further correction.  In Tripal, the **correct_point** function lives in the 'chado' schema and by default Tripal does not include chado in the search_path.. only public.  So, @bradfordcondon is correct in his solution, but it's backwards....

[2018-08-27 16:31] spficklin commented on #563
You are running drush as root?

[2018-08-27 16:31] almasaeed2010 commented on #597
So it should be?
[code]

Interesting I didn't think it mattered.

[2018-08-27 16:32] almasaeed2010 commented on #563
Yes we run drush as root because other users don't work for us in some cases. I understand the security implications and should probably correct system permissions to all use apache for it 😅

[2018-08-27 16:32] bradfordcondon commented on #597
no, he's not saying the order matters. he is saying my explanation was backwards: its not that `chado` needs stuff in public, it's that `chado` references a Chado function `correct_point`.  So if you run the sql without explicitly including chado in your search path, you get the error.

so to be clear:

[code]
 these are equivalent

[2018-08-27 16:33] almasaeed2010 commented on #597
Oh I see, thanks for the clarification!

[2018-08-27 16:36] spficklin commented on #597
Since we're on the topic.... Tripal v1 used to set the search_path but we had conflicts with the chado.contact table and the public.contact table when both public and chado were in the search path. Which table you got depended on the order of chado and public in the search path. .  So, with Tripal v2 we had to adjust the code to not require the search_path.  But if you're doing operations in strai

[2018-08-27 16:56] bradfordcondon opened #598 "documentation: Chado and the semantic web / term mapping"
The below table was left out of the current user's guide. (included here for posterity and easy discussion)[ located here  on old guide](http://tripal.info/tutorials/v3.x/content-types)

We (hi @spficklin ) would like to a) move the analysis discussion somewhere more fitting, and elaborate?
b) write a fullfledged "Chado and the semantic web" paper that would list all recommend term mappings and be

[2018-08-27 16:57] spficklin commented on #563
Just curious.... you are running CentOS right?  Is SELinux getting in the way?

https://www.serverlab.ca/tutorials/linux/web-servers-linux/configuring-selinux-policies-for-apache-web-servers/

[2018-08-27 16:57] spficklin commented on #563
That link is several years old, but might help....

[2018-08-27 16:59] almasaeed2010 commented on #563
Yeah I thought that was it at first but our selinux is actually disabled:

[code]

[2018-08-27 17:05] spficklin opened #599 "Read the Docs conversion of 7.x-2.x"
So that all of our documentation uses the same format we should consider moving our 7.x-2.x User's Guide off of tripal.info and into the 7.x-2.x branch on GitHub just like we did for 7.x-3.x

[2018-08-27 19:00] spficklin commented on #519
I'm going to remove the release blocker on this one. I've tried to dig into it to see if we can apply a quick fix before release but it's not going to be that straightforward.

One additional thing to consider..  what happens to the fields that are defined by a module when the module is disabled but not uninstalled.

[2018-08-27 19:27] bradfordcondon commented on #555
Added!  Thank you @spficklin !

[2018-08-27 19:27] #555 closed, assigned to spficklin

[2018-08-27 20:04] laceysanderson commented on #550
To summarize a slack conversation with @bradfordcondon:
- convert "retrieveFieldList" method into a  [@dataProvider](https://www.startutorial.com/articles/view/phpunit-beginner-part-2-data-provider). This will simplify my tests by removing the need for the loop.
- populate the database with fake data for tests to make them more generic and help them pass on TravisCI. Factories are a great way to d

[2018-08-27 22:12] fishfree opened #600 "PDOException: SQLSTATE[42P01]: Undefined table: 7 ERROR: relation "tripal_obo_temp" does not exist"
### System information

* Tripal Version:  7.3
* Drupal Version:  7.59
* PostgreSQL Version:  9.5.14
* PHP Version:  7.2

### Issue description
Both using Drush and web UI to install Chado, it failed with this:

#### Error messages and screenshots
[code]

[2018-08-27 22:56] spficklin commented on #600
Hi @fishfree thanks for reporting the issue.   In order to help diagnose the problem I need a bit more info.

1.  Are you using the 3.0-rc3 release or the 7.x-3.x development version?
2.  Did you have any other warnings or error messages during install?
3.  What operating system are you using?

[2018-08-27 23:04] spficklin commented on #343
I'm adding a suggestion to this issue from @almasaeed2010 on PR #592 related to the search form not appearing for anonymous users.

[2018-08-27 23:13] spficklin commented on #500
So it sounds like the request on issue #353 is what is needed.  Do you think this is a 3.0 stable release blocker?

[2018-08-28 01:21] bradfordcondon commented on #600
that table is created during the tripal_chado install.   are you following the guide at http://tripal.info/tutorials/v3.x/installation/tripal ???   If youre following the below shell commands, the error occurs when enabling which module?

[code]

[2018-08-28 02:12] laceysanderson commented on #500
No, I think it can wait till the next point release since my issue only happens when programmatically inserting terms.

*For 3.0 stable can we update the warning to mention updating the mview might help?*

[2018-08-28 03:29] laceysanderson opened #602 "Update Finding Content Docs to include Tripal Content"
We should upgrade the [User’s Guide » Brief Drupal Overview » Finding Content](https://tripal.readthedocs.io/en/latest/user_guide/drupal_overview.html#finding-content) page to include discussion of the new Tripal Content tab. We can also use this as an approtunity to clarify the difference between "Content" and "Tripal Content".

[2018-08-28 03:57] laceysanderson opened #603 "Docs: How to create a custom Data Loader"
We need documentation on how to use the importer class to make a custom data loader.
https://tripal.readthedocs.io/en/latest/dev_guide/custom_data_loader.html

[2018-08-28 03:59] laceysanderson opened #604 "Docs: Web Services"
https://tripal.readthedocs.io/en/latest/dev_guide/custom_web_services.html
We need to finish the following sections:
 - Simplifying the Property Keys
 - Implementing a Resource
 - Documenting Properties
 - More on Parameters
 - Implementing Other Operations
 - Controlling Access to Resources

[2018-08-28 11:41] oklonova commented on #597
Thank you!

[2018-08-28 11:41] #597 closed, assigned to nobody

[2018-08-28 14:02] almasaeed2010 commented on #541
I started working on this and it looks to me that it's easily doable.

tripal.js loads the fields and it can tell if there is content so it can easily broadcast via events to tripal_ds that a field has completed loading. From there, tripal_ds can check if the entire pane is empty and remove it if it is. We can also take this a step further and have tripal.js broadcast the start of loading which wi

[2018-08-28 14:16] almasaeed2010 commented on #541
The only concern is fields that are placed inside anything other than a tripal_pane such as tables.
Take the `description` field in an `organism` page for example, it's placed in a table by default but it can be moved to a list or something else so JS won't be able to predict how to remove it.

Maybe we can add more information to the returned response from the Ajax call to tell us the type of the

[2018-08-28 15:56] almasaeed2010 opened #605 "Creating entities produces a PHP notice"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

When creating any new entity, we get the following error:
[code]

#### Steps to reproduce

1. create a new organism
1. the error will appear on the newly created organism page

[2018-08-28 16:17] bradfordcondon opened #607 "help: using AJAX in a field formatter?"
I'm trying to add a feature a simple feature to a field formatter: a select box which will render different stuff via AJAX.

Here's the relevant code:

[code]

here's the callback, which i placed in the main `.module` file.

[code]

As you can guess from the message, I never get the "it never fires" message logged.

Question 1, answered thanks to @laceysanderson :

So next question, why wont the c

[2018-08-28 16:20] bradfordcondon commented on #607
im writing this in an issue because i think AJAX enabled fields should go in a guide topic probably...

[2018-08-28 16:20] almasaeed2010 commented on #605
PR submitted

[2018-08-28 16:22] almasaeed2010 commented on #553
Implemented in #601

[2018-08-28 16:22] #553 closed, assigned to spficklin

[2018-08-28 17:22] almasaeed2010 opened #608 "PHP Warning in so__cds field"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

The so__cds field is issuing a PHP warning (see error message below).

#### Steps to reproduce

I noticed this error in the logs but visiting a feature page after clearing cache should display the message.

#### Error messages and screenshot

[2018-08-28 17:41] spficklin commented on #566
PR merged

[2018-08-28 17:41] #566 closed, assigned to spficklin, bradfordcondon

[2018-08-28 18:20] spficklin commented on #608
It just needs a check to see if featurelocs is an array before running the foreach loop.   I'm guessing that you must have CDS records that don't have a corresponding entry in the featureloc table and the CDS sequence is loaded in the feature.residues column?

[2018-08-28 18:22] almasaeed2010 commented on #608
That's correct I have CDS but no featureloc records.

But the code is looping over the `feature_id` which doesn't sound right? Or is this an array?
```$featurelocs = $feature->featureloc->feature_id; ```

[2018-08-28 18:24] spficklin commented on #541
Can you have the JS code remove the field instead of having back-and-forth with tripal_ds?  There will be problems with fields in tables but only as far as the coloring of rows goes.  I think some JS might be able to reset the 'odd' 'even' class names on those rows though easy enough.

[2018-08-28 18:28] almasaeed2010 commented on #541
Yeah that sounds good. I'll give this approach a try tomorrow and report back on how it goes.

Thanks!

[2018-08-28 18:33] spficklin commented on #500
What warning do you mean?

[2018-08-28 19:27] laceysanderson commented on #500
Originally, I was seeing a number of the following messages:

This was not at all helpful as it implied that vocabulary didn't exist when it did. Instead, can we alter this message to mention that updating db2cv_mview might help? Something along the lines of

[2018-08-28 19:29] laceysanderson commented on #605
PR Merged

[2018-08-28 19:29] #605 closed, assigned to nobody

[2018-08-28 19:47] spficklin commented on #500
Ah, okay. Yes. We can do that.

[2018-08-28 19:49] spficklin commented on #541
Thank you for working on it!!!

[2018-08-28 21:15] bradfordcondon commented on #526
thanks @spficklin

[2018-08-28 21:15] #526 closed, assigned to nobody

[2018-08-28 22:40] spficklin commented on #607
AJAX can be used in in field formatters.  I use it in the tripal_network module to allow users to select a network module for viewing when they are viewing a Network page.  It uses a select box to allow the end-user to select the module and then draw it.

To make AJAX work in a formatter you would have to
1)  Use a Drupal form which supports ajax.  This makes sense because you have a select box wh

[2018-08-28 22:47] spficklin commented on #500
@laceysanderson you get a prize for submitting the 500th Issue!!

[2018-08-28 23:09] spficklin commented on #608
The featureloc.feature_id column is a one-to-many relationship so the corresponding property in the $feature->featureloc->feature_id actually resolves to an array of matching records.

[2018-08-29 01:49] fishfree commented on #600
@spficklin I just git clone https://github.com/tripal/tripal.git 2 days ago and followed [this instruction](http://tripal.info/tutorials/v3.x/installation/rapid). I installed Tripal in a Ubuntu 16.04 box.

[2018-08-29 01:50] fishfree commented on #600
@bradfordcondon The 3 modules you mentioned are already enabled. I followed the [rapid installation method](http://tripal.info/tutorials/v3.x/installation/rapid).

[2018-08-29 03:44] laceysanderson opened #609 "TripalBundle Database Seeder"
We really need to develop a TripalBundle DatabaseSeeder for testing of entity-based functionality. I began this when working on #550 as it would have been ideal to use Fake bundles when testing all field combinations.

I actually had a working DatabaseSeeder class written, however, I ran into issues when calling it within a transactional test. My bundle should have been rolled back when the test w

[2018-08-29 08:15] oklonova opened #610 "Changing field types in a Chado table"
Hi again,

I need to change the type of the field 'value' in the feature_relationship table. It is of type text, but we need to store numbers and want to be able to use this field as a numeric one, for example, to filter by these values in Views. The table has no data now. (This field is meant for comments and does not have any relationship with other fields/tables, so it does not seem to be a pro

[2018-08-29 12:46] bradfordcondon commented on #533
resolved.  Thank you.

@laceysanderson if you'd like to create a separate issue to allow job-free creation of bundles, but then job-launched attaching of fields (or another solution) please do so.

[2018-08-29 12:46] #533 closed, assigned to shawnawsu

[2018-08-29 13:44] almasaeed2010 commented on #608
Thanks @spficklin

PR submitted.

[2018-08-29 14:42] bradfordcondon commented on #610
Hi @oklonova

i think this is more of a Chado question than a Tripal question, and you might be better served reaching out to the Chado community with a explanation of what you are trying to accomplish and ask for suggestions on the most "Chado" way to do it.

For example, My first question might be, is this something that should instead go into a featureloc or featurepos, as both of those tables

[2018-08-29 17:41] spficklin commented on #610
@oklonova I would not recommend you change any of the existing columns in Chado as you may have problems with Chado upgrades in the future and with Tripal compatibility.  It's best to leave Chado tables as is.   The changes that you see in the hook_update_N functions are for tables in the Drupal schema (public) not for Chado tables.

I think the best solution is to create a new custom table to sto

[2018-08-29 17:44] spficklin commented on #608
PR Merged

[2018-08-29 17:44] #608 closed, assigned to nobody

[2018-08-29 19:39] spficklin opened #614 "Overloading the field class"
## Feature Request/Discussion

- [x] does this feature attempt to solve an existing problem with Tripal?
- [ ] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [ ] do you **Need** this feature ASAP?

### Description

Suppose someone wants to add a custom table that links into an existin

[2018-08-29 19:55] bradfordcondon commented on #290
merged.  for additional feature requests please see #583 or create new issues.  Thanks for reviewing @almasaeed2010 @spficklin

[2018-08-29 19:55] #290 closed, assigned to spficklin, bradfordcondon

[2018-08-29 20:52] spficklin commented on #500
Fix submitted (accidentally with PR).

[2018-08-29 20:52] #500 closed, assigned to spficklin

[2018-08-30 07:44] oklonova commented on #610
Hi, @bradfordcondon, thank you for the reply. Sorry I keep hitting the wrong path when creating issues... I will post the question in the Chado as well.
I want to check how we could use the feature_relationship table to store data about pairwise alignments between proteins, and this table is just small and compact enough to store all the data we have (subject_id, object_id, rank as integer, and va

[2018-08-30 08:52] oklonova commented on #610
Thank you, @spficklin, for the answer. I was thinking to create a table as a last resort.
Is it hook_schema_alter I have to use to define a new table in a custom module?

[2018-08-30 14:13] almasaeed2010 opened #618 "PHP Undefined Property Notice in TripalEntityController"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

Our logs are cluttered with PHP notices for undefined properties. I am not sure why the props doen't exist but I think a simple check will fix this. Example error:

[code]

#### Steps to reproduce

I am not sure how to reproduce this. It is hap

[2018-08-30 15:40] laceysanderson opened #619 "Optimize content type creation"
As of #593, Content type creation was moved into a tripal job. This was due to the addition of fields based on the property table sometimes causing a WSOD due to timeout. Ideally, we would optimize the process sufficiently to allow it to take place during the page load.

[2018-08-30 19:44] spficklin opened #620 "Many Content Types Slows Cache Clear Tremendously"
## BUG/ERROR report

### System information

* Tripal Version:  3.x
* Drupal Version:  7.x
* PostgreSQL Version: N/A
* PHP Version: N/A

### Issue description

When you have a lot of content types and when you clear your cache it can take many minutes for the site to become responsive.  This is because of the tripal_views_data() function:
[code]
This function calls the tripal_views_data_fields() f

[2018-08-30 20:50] almasaeed2010 commented on #618
The issue seems to be with this line:

https://github.com/tripal/tripal/blob/e60511585bfb577e781b09e168d235887c2b89df/tripal/includes/TripalEntityController.inc#L649

It adds the field as an array to the entities array but does not consider the `$entity` itself.

Will submit a PR to fix this.

[2018-08-30 21:09] spficklin commented on #610
Our Blast analysis module uses a custom table to store blast results.  I think it's fine to create a custom table when you can't get data into Chado tables.  Although. as @bradfordcondon suggests it's always a good idea to reach out to the Chado community  because sometimes someone has gone down the same route and has a good idea.

Our approach is to always put the scientific data in Chado.   So,

[2018-08-30 21:18] spficklin commented on #600
@fishfree sorry for the slow response. We're working on getting some last minute pull requests merged in before our next release. I will run a test install and see if I can duplicate the problem.

[2018-08-30 21:19] spficklin commented on #600
Because this may potentially affect stability of our next release I'm bumping this up to a "release blocker"

[2018-08-31 11:14] oklonova commented on #610
Thanks again, I made it via the interface, but was wondering how to do it programmatically. Detailed steps are good to know for those who go this route for the very first time!

[2018-08-31 13:10] bradfordcondon commented on #577
resolved thank you @spficklin

[2018-08-31 13:10] #577 closed, assigned to spficklin, chunhuaicheng

[2018-08-31 16:26] spficklin commented on #610
Hi @oklonova you make a very good point. We are severely lacking in that sort of documentation I have reopened this issue as a reminder to us to create that documentation.

To that end, I have started by creating a branch named 610-tv3-chado_api_docs which adds new Chado API starter files to our new ReadTheDocs compatible documentation in the docs folder of Tripal.  When that gets filled out for c

[2018-08-31 17:55] spficklin commented on #588
See the discussion in PR #616 for another example of problems with exceptions and logging.

[2018-08-31 18:06] bradfordcondon commented on #427
resolved, way to go @spficklin thanks @almasaeed2010 for reviewing

[2018-08-31 18:06] #427 closed, assigned to spficklin

[2018-08-31 19:43] laceysanderson opened #623 "Documentation: Interacting with Fields"
It came up in #613 that it would be good to add a page to the documentation with examples on how to interact with fields. For example, how do you create a field instance to programmatically interact with? How can you use field methods in custom forms?

I'm creating this issue as a planning board to discuss how best to organize such a page. Should it be

A. tutorial-based (e.g. you're creating a cu

[2018-08-31 19:51] laceysanderson commented on #623
## How to create a Field instance to interact with:
[code]
Now you can call methods from the ChadoField class on `$instance`. If the field you are interested in uses a custom ChadoField class, make sure you use that name in place of `ChadoField`.

## How to create a select list based on a field (incomplete)
[code]

[2018-08-31 20:49] bradfordcondon commented on #620
merged, thanks all.

[2018-08-31 20:49] #620 closed, assigned to nobody

[2018-09-01 02:09] laceysanderson commented on #591
Bug Fixed in merged PR 👍

[2018-09-01 02:09] #591 closed, assigned to nobody

[2018-09-01 02:10] laceysanderson commented on #578
PR Merged 👍

[2018-09-01 02:10] #578 closed, assigned to spficklin

[2018-09-01 02:24] laceysanderson commented on #327
This was merged.

[2018-09-01 02:24] #327 closed, assigned to nobody

[2018-09-01 02:26] laceysanderson commented on #523
Merged 👍

[2018-09-01 02:26] #523 closed, assigned to laceysanderson

[2018-09-01 02:26] laceysanderson commented on #465
Merged 👍

[2018-09-01 02:26] #465 closed, assigned to shawnawsu

[2018-09-01 02:26] laceysanderson commented on #371
Merged 👍

[2018-09-01 02:26] #371 closed, assigned to spficklin

[2018-09-01 03:31] laceysanderson opened #625 "Remote Field "Field to Display" expects label rather then token."
## BUG/ERROR report

### System information

* Tripal Version:
* Drupal Version:
* PostgreSQL Version:
* PHP Version:

### Issue description

I noticed when configuring my remote field, the "Field to Display" is expected to be the label rather then the token from the "Available Tokens" list. Specifically, I set up my remote organism.species field as in #491. When I set "Field to Display" = "[taxra

[2018-09-01 04:07] laceysanderson commented on #491
Fixed via PR.

[2018-09-01 04:07] #491 closed, assigned to nobody

[2018-09-01 19:39] bradfordcondon commented on #93
Analyses are optional on Importers and I'm therefore closing this.  I think we've got discussion elsewhere on the analysis vs project side of things, but if we want to continue here please re-open.

[2018-09-01 19:39] #93 closed, assigned to nobody

[2018-09-01 19:42] #372 closed, assigned to nobody

[2018-09-02 15:13] oklonova commented on #610
Thanks for that, indeed would be very much appreciated.
I have the table now from the UI, so there is no rush, but good to have for future reference!

[2018-09-02 15:18] oklonova opened #626 "feature -> all_relationships from a custom table"
How do I change the $feature->all_relationships variable, if the data about relationships come from a custom table or if I use feature_relationshipprop in addition to feature_relationship? Using it in the template file tripal_feature_relationships.tpl.php.

[2018-09-03 09:45] mdondrup commented on #626
Hi,

I think that

is a public API method within the feature class that returns an array of relationships for a given feature. Possibly the cleanest way to achieve that would be in classic OO style:

Create a derived class that inherits from Feature, then override or possibly overload the method all_relationships and have it return the required data.
Is that possible?

Michael

[2018-09-04 03:02] bradfordcondon commented on #626
Why not retrieve the custom information via chado select record or direct SQL?  That makes more sense to me than overriding whatou 'd get back from the feature_relationship table, which you might possibly want in addition to your custom data.

[2018-09-04 07:33] spficklin commented on #618
PR Merged

[2018-09-04 07:33] #618 closed, assigned to nobody

[2018-09-04 07:41] spficklin commented on #68
It has been quite a while since we spoke with Apollo folks on this with no movement. I'm closing this out and we can reopen in the event there is time to work on it.

[2018-09-04 07:41] #68 closed, assigned to nobody

[2018-09-04 07:47] spficklin commented on #309
The Tripal Search Block is a legacy item and should stay as is.  All 7.x-3.x searches are in their own new block.  This isn't really a problem I must not have remembered the "Tripal Search Block" was legacy so I'm closing.

[2018-09-04 07:47] #309 closed, assigned to nobody

[2018-09-04 07:49] spficklin commented on #130
I don't think we need this.  The pub importer seems to be working just fine and less is better.

[2018-09-04 07:49] #130 closed, assigned to nobody

[2018-09-04 07:51] spficklin commented on #171
This issue has been fixed somewhere along the way.

[2018-09-04 07:51] #171 closed, assigned to nobody

[2018-09-04 07:52] spficklin commented on #121
This has been done!

[2018-09-04 07:52] #121 closed, assigned to spficklin

[2018-09-04 07:57] spficklin commented on #144
This has been fixed somewhere along the way.

[2018-09-04 07:57] #144 closed, assigned to nobody

[2018-09-04 07:59] spficklin commented on #122
@laceysanderson Just pinging you on this one... It's been over a year. I'm assuming this has been worked out?

[2018-09-04 08:01] spficklin commented on #71
I'm going to close this out as no one has had time to reach out to AGL to deal with this.  No one has complained that it isn't working and unless someone has the time to work on it I'm going to close out the issue so it doesn't sit here indefinitely.

[2018-09-04 08:01] #71 closed, assigned to nobody

[2018-09-04 08:04] spficklin commented on #55
The deafult_schema-1.2-1.3.diff file now handles this and I believe the problem is resolved. I have recently upgraded a Tv1 site to Tv3 without encountering this problem.

[2018-09-04 08:04] #55 closed, assigned to nobody

[2018-09-04 08:05] spficklin commented on #66
This a feature covered by the Tripal JBrowse extension module. https://github.com/isubit/tripal_jbrowse_api

[2018-09-04 08:05] #66 closed, assigned to nobody

[2018-09-04 08:10] spficklin commented on #98
This is a really hard thing to do and I'm worried no one has time to implement such a check.  I think instead we just need to improve our documentation to help users work through issues they may have.

[2018-09-04 08:10] #98 closed, assigned to nobody

[2018-09-04 08:11] spficklin commented on #123
This has been fixed!  The tokens have changed and are now single "string" values from fields.

[2018-09-04 08:11] #123 closed, assigned to nobody

[2018-09-04 08:15] spficklin commented on #174
Oh goodness. This never got done.  Apologies @btski but at this point I think it's fair to say you don't need it and I don't know where that recording went....

[2018-09-04 08:15] #174 closed, assigned to spficklin

[2018-09-04 12:34] bradfordcondon commented on #309
we opened the issue because it was confusing which was which (compare for example to Tripal Content vs regular content).  But if the Tripal Search BLock name can't be changed for legacy reasons then so be it.

[2018-09-04 14:43] almasaeed2010 commented on #541
I submitted a PR for this to showcase how we'd go about implementing it. I don't think the PR is ready but it's there for easy pulling and testing. If anyone gets the chance to test it and experiment with it, it'd be greatly appreciated.

If we do manage to get this working, I believe we'll see a huge difference in page loading times.

Thanks!

[2018-09-04 15:35] bradfordcondon opened #629 "developer guide youtube videos?"
I'd like to share the developer tutorial videos that our undergrad @jwest60 has been working on (i also have one or two).

What would you all think about a "Tutorial videos" Page in the RTD un the developers guide?  I'm thinking just link, title, 1 sentence description of topic.  Once the page is created all groups are welcome to add any tutorials.

### videos
* [Tripal 3 - Setting Up A Website Fr

[2018-09-04 15:40] bradfordcondon commented on #629
One could argue that some of these (TripalDock) should only exist on their respective sites instead so please let me know what you think.

[2018-09-04 16:04] spficklin commented on #626
HI @oklonova I may have a solution for you, but we're a bit busy with some last pull requests for the Tripal v3 stable release which should come out this week.  I'll respond shortly...

[2018-09-04 17:44] laceysanderson commented on #629
I love this idea (since the video itself would not be stored in the repo). I think we should include all videos and maybe categorize them as General, Module-specific or Site-Specific. That way everyone can benefit from them. I think I've seen such a page on Drupal.org with general and site-specific tutorial videos.

Drupal.org doesn't list module-specific videos but I think our community is small

[2018-09-04 19:49] laceysanderson commented on #122
Unfortunately it is exactly where it was when I last commented.

It’s working perfectly and the documentation is up to date 👍 so this is not a release blocker.

However a default search view and index would be nice and make setup easier.

[2018-09-04 22:48] spficklin opened #631 "Updated API Functions"
## Feature Request/Discussion

- [x] does this feature attempt to solve an existing problem with Tripal?
- [ ] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [x] do you **Need** this feature ASAP?

### Description

Some of the Tripal API functions are going on 7-8 years old.  Some of

[2018-09-04 23:16] spficklin opened #633 "DRUPAL_HOME env variable for User's Guide"
What do folks think if we alter the User's Guide to include setting an environment variable of $DRUPAL_HOME.  This way, we can use that in the command-line instructions and folks can easily just cut-and-paste rather than cut-and-pasting and then editing if their setup is different?

We can add notes to the top of major section pages reminding folks that they need the DRUPAL_HOME env set to run the

[2018-09-05 05:37] spficklin commented on #629
I like the idea as well and agree with @laceysanderson

[2018-09-05 05:44] spficklin commented on #600
@fishfree I reran an installation from the ground-up and did not have this problem.  I am, however, installing the 7.x-3.x (develompent version) which is just barely v3.0 stable.   Can you try running again with that branch and let me know if you have the same issue?

[2018-09-05 12:23] bradfordcondon commented on #629
merged.

[2018-09-05 12:23] #629 closed, assigned to bradfordcondon

[2018-09-05 12:24] bradfordcondon commented on #633
yep, good idea.

[2018-09-06 15:29] bradfordcondon commented on #607
i got this working by following stephen's suggestion number 1.  Basically I need to know that elements are NOT forms.

I'm keeping this issue open as a reminder to add a super basic explanation to the dev guide's formatter/widget guide, and link to https://www.drupal.org/docs/7/api/render-arrays/render-arrays-overview

[2018-09-06 16:04] laceysanderson opened #634 "Necessary ChadoRecord Improvements"
## Feature Request/Discussion

- [x] does this feature attempt to solve an existing problem with Tripal?
- [ ] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [ ] do you **Need** this feature ASAP?

### Description

PR #632 added a new ChadoRecord class for querying of Chado. It was ad

[2018-09-06 17:39] laceysanderson commented on #634
For more detail, see the `@todo` comments throughout the ChadoRecord class :-)

[2018-09-06 18:19] chunhuaicheng opened #635 "Importer jobs fail if web directory is mounted to a different location"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.59
* PostgreSQL Version: 10.5.1
* PHP Version: 7.2.7

### Issue description

The importer jobs (e.g. FASTA importer or GFF3 importer) will fail if the Drupal web directory is mounted on a different location and Drush command is launched in that mounting point. We have a login node that everyone works on and

[2018-09-07 22:44] spficklin opened #636 "Tripal 5 Proof of Concept."
In our Tripal User's Meeting from Today ([see meeting notes](https://docs.google.com/document/d/1NSU7Q-J2HBU5T3Yp3hvGNAztrVAX1AdojNX5t5LiA8Q/edit#heading=h.4moho3kt5r8d)), we discussed how we should approach Tripal v 4.  Here is a summary of the motivations and challenges.

**Challenges**
-  The learning curve of Tripal + Chado + Drupal can be too much for new programmers
-  Drupal's hook system i

[2018-09-08 14:15] oklonova commented on #626
I am sorry it took some time to get back.
Thanks a lot! SQL query works fine, but if there are better options, I would go for them!

[2018-09-09 07:16] fishfree commented on #600
@spficklin Thank you! It seems [the updated repo](https://github.com/tripal/tripal) using composer to install Tripal. But there is no related how-to for installation.

[2018-09-09 13:22] bradfordcondon commented on #600
hi @fishfree : composer is only used to run tests, not to install the site. You can continue to follow the instruction guide on tripal.info

just use `git clone https://github.com/tripal/tripal.git` prior to `drush pm-enable`

[2018-09-10 01:59] bradfordcondon commented on #633
started this.  did one page but ill do the rest: https://github.com/tripal/tripal/tree/633_drupal_home_env

[2018-09-10 14:48] bradfordcondon opened #638 "Documentation: enable the reference section module to allow dynamic section linking"
## Documentation feature request

**Layman's**:  There's an extension we can add to make linking sections across files within the documentation very easy.  For example, to link to the subheading Foo in the file bar.rst from tripal.rst, you would type
[code]

No specifying the file path.  No anticipating what the built address for the desired section would be.

I think the `autosectionlabel` extens

[2018-09-10 16:26] almasaeed2010 opened #640 "Undefined callback for menu item in tripal_chado"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

There is a menu item in the `tripal_chado` module that defined an undefined `page callback`

https://github.com/tripal/tripal/blob/4b321e67e876dba323553a49210a7b2cee98976b/tripal_chado/tripal_chado.module#L452-L459

In the above code, the me

[2018-09-11 14:49] bradfordcondon commented on #603
@laceysanderson have you started this?  I can draft it if not.

[2018-09-11 17:26] laceysanderson commented on #603
No I haven't started it yet. Go for it!

[2018-09-12 14:02] bradfordcondon opened #642 "TripalImporters should have the option to save the file for field usage"
## Feature Request/Discussion
- [x] does this feature attempt to solve an existing problem with Tripal?
- [x] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [ ] do you **Need** this feature ASAP?

### Description

The TripalImporter class should provide a public static variable for "s

[2018-09-12 16:56] bradfordcondon commented on #603
First draft posted as PR.  would welcome any and all suggestions.

[2018-09-12 18:30] srobb1 opened #645 "gene/mRNA feature versioning"
Hello All,

I have a question about how others are handling sequence feature versions.

I have a group that is developing gene/mRNA models. They are using an ensembl like system for versioning of gene and transcript id. And they want to maintain a history of previous versions.

They plan on incrementing a digit after the id when a new version is generated.

gene nv2m00005394.1
mRNA nv2m00005394.1.

[2018-09-12 19:07] bradfordcondon commented on #645
hi @srobb1

I'd recommend either cross-posting this to the Chado repo or emailing the Chado mailing list, as this is a pure Chado question.

I'll keep my suggestions to myself for now as I'd bet long-time Chado users will have a well-defined protocol for this.

[2018-09-12 19:13] srobb1 commented on #645
Hi @bradfordcondon

Good point! I will cross-post.

[2018-09-12 20:32] laceysanderson opened #647 "Dashboard PDOException: Undefined table "chado_bio_data_1""
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x dev (4b321e67e876dba323553a49210a7b2cee98976b)
* Drupal Version: 7.59

### Issue description

When I click on Dashboard on the administrative toolbar I see the following error:
[code]
This makes sense since in fact there is no `chado_bio_data_1` as all the Tripal Content Type tables are named `bio_data_#`. That said, I also don

[2018-09-13 01:40] fishfree commented on #600
@bradfordcondon Thanks! Finally, I set up Tripal with your newly-update repo by following the manual installation documentation.

[2018-09-13 12:45] bradfordcondon commented on #600
great, glad you got it installed.

[2018-09-13 12:45] #600 closed, assigned to nobody

[2018-09-13 12:46] almasaeed2010 commented on #647
Experiencing the same issue using the latest tripal 3.x

[2018-09-13 15:39] spficklin commented on #647
Hi @laceysanderson just a clarification.  The tables should be named 'chado_bio_data_x'.  So, you should have a 'chado_bio_data_1' table if you had a 'bio_data_1' content type.

[2018-09-13 21:25] laceysanderson commented on #623
We should link to this documentation from the "Custom Data Loader" page in the developer's guide since this would be a good way to populate values for importer forms.

[2018-09-13 22:09] chunhuaicheng opened #649 "Need a function to 'unpublish' content"
## Feature Request/Discussion

- [N] does this feature attempt to solve an existing problem with Tripal?
- [x] are you open to developing or collaborating on an extension module if this is not a good fit for Tripal Core (no pressure here -just good to know upfront :-) )
- [N] do you **Need** this feature ASAP?

### Description

We need a function to 'unpublish' content, similar to the 'cleanup orp

[2018-09-14 04:08] laceysanderson opened #650 "Brand our ReadtheDocs so it matches tripal.info"
We should brand our documentation so that it matches tripal.info in theme. This will provide a consistent user experience when jumping between the docs and tripal.info, as well as, make our documentation stand out as "ours".

[2018-09-14 04:51] laceysanderson commented on #650
The following screenshots show where I'm currently at. The main thing I still want to change is the visited link colour :-). **I would love feedback, suggestions, comments!**

![screen shot 2018-09-13 at 10 49 48 pm](https://user-images.githubusercontent.com/1566301/45530351-6c591900-b7a7-11e8-9bcd-7829b12ae2e3.png)
![screen shot 2018-09-13 at 10 50 15 pm](https://user-images.githubusercontent.com

[2018-09-14 08:05] bradfordcondon commented on #650
totally agree, what you've got so far looks great!

[2018-09-14 13:51] almasaeed2010 commented on #647
Ok on a new installation, using the 7.x-3.x, the `chado_bio_data_X` tables are not getting created. Every time I try to add new content, I get an error similar to this:

<img width="646" alt="screen shot 2018-09-14 at 9 50 27 am" src="https://user-images.githubusercontent.com/1512664/45554114-a0622780-b803-11e8-92a0-ea7858892096.png">

~Can someone test creating a new tripal site from the latest b

[2018-09-14 14:23] almasaeed2010 commented on #647
Using [TripalDock](https://github.com/statonlab/tripaldock), which installs directly from `7.x-3.x` I am unable to replicate the issue. So this is probably something that happened while testing branches or a missing step in my setup. I am not sure if this issue will show up on sites upgrading to the latest release.

[2018-09-14 16:15] laceysanderson commented on #647
Interesting that you can't replicate it on a fresh install. My original report was from a fresh Tripal install which I had yet to test any branches on. I install manually. I will create another one to see if I can duplicate it.

[2018-09-14 16:18] almasaeed2010 opened #652 "Deleting an entity does not delete its record from the chado_bio_data_X tables"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

When deleting an entity using the GUI, the record is removed from `tripal_entity` but is not removed from `chado_bio_data_X`.

#### Steps to reproduce

1. Visit any entity that you'd like to delete
1. Find its `entity_id` and make sure i

[2018-09-14 16:21] almasaeed2010 commented on #647
Yeah I don't see why it would be from testing branches either. None of our PRs explicitly deleted those tables :shurgs:

[2018-09-14 23:20] spficklin commented on #647
I am able to reproduce this on a fresh install @laceysanderson .  I'm trying to work on a fix....

[2018-09-14 23:33] spficklin commented on #647
@laceysanderson the problem does not occur on the 7.x-3.x branch. I was able to successfully install tripal and create all of the chado_bio_data_x tables. However, the problem does occur if you try to install using the 525-tv3-obo_speed_colon branch.  Could it be you were on that branch when you tried your testing?

[2018-09-15 01:10] spficklin commented on #647
I believe I have tracked down this problem.  It does look like a problem on the 525-tv3-obo_speed_colon.  The new cvtermpath code had a legacy call to "chado_set_active()" that was being reset in the event of an exception but not otherwise.  This cased the chado_bio_data_x tables to get put into the chado schema rather than the public schema.  I've fixed the code and just committed it.    The CI t

[2018-09-15 01:21] laceysanderson commented on #647
Ah yes, I very likely did install on the 525-tv3-obo_speed_colon branch! I would like to confirm after the tests past that this doesn't happen on the 525-tv3-obo_speed_colon anymore. I think you and @almasaeed2010 have already confirmed it doesn't happen on 7.x-3.x

[2018-09-15 18:33] #650 closed, assigned to laceysanderson

[2018-09-15 18:34] spficklin commented on #647
Yes, that's right. All is good on the 7.x-3.x

[2018-09-16 09:20] spficklin opened #656 "Tripal Home Page and About pages Text"
The blurb at the top of the home page and the text on the About page probably do not give a proper sense for what Tripal is.  Primarily, I don't think it drives home the value of using Tripal as a means for interacting with a larger community of developers and genomic sites.  The true strength of Tripal is not so much all of the functionality that it has but rather the community around it and the

[2018-09-16 17:44] laceysanderson commented on #647
Also fixed on 525-tv3-obo_speed_colon

[2018-09-16 17:44] #647 closed, assigned to spficklin

[2018-09-16 18:27] laceysanderson commented on #656
Collecting my thoughts on a topic I love ;-p as a starting point for discussion.

### What is Tripal:
- toolkit for construction of online biological (genetics, genomics, breeding, etc), community database websites
- collection of core and extension modules for Drupal providing display, search & download for biological data
- easily customizable and extendable open-source project

### Why use Trip

[2018-09-17 13:39] bradfordcondon commented on #645
hi @srobb1 reach any conclusions from the Chado mailing list you'd like to share here?

[2018-09-17 16:33] srobb1 commented on #645
Just that there is a lot of different ways to handle this.  I need to put some thought into this. Hopefully sometime this week I can start doing some tests. I will definitely keep the group posted with my progress. If @bradfordcondon or anyone else has any additional suggestions, I am all ears.

Joe Carlson from phytosome had some input:
[code]

From Sofia:
[code]

From Joe:
[code]

From Sofia:
[c

[2018-09-17 18:34] laceysanderson commented on #645
This is Awesome! Thanks for the summary @srobb1 <3

[2018-09-17 19:32] spficklin commented on #645
Hi Sofia,

I didn't see this discussion on the Chado mailing list, and it's not showing up in my 'Chado' folder in my inbox.  So, I can't respond there. I'll add my two cents here.

In the past I've dealt with this when an entire genome annotations are updated all once.  Not as they trickle in gene-by-gene.  Is this how they're coming to you, gene-by-gene and each gene gets a version?  I think for

[2018-09-17 19:48] bradfordcondon opened #657 "chado update property fails"
## BUG/ERROR report

`chado_update_property` fails for me.

This line of code appears to be the culprit:

https://github.com/tripal/tripal/blob/b83136aec50b012ef54f90553ccc9d2443a4fa29/tripal_chado/api/tripal_chado.property.api.inc#L337-L338

if chado_get_property gets a single property, it returns an object, not an array.  Therefore the statement
 `!is_array($prop)` will fail, and the function re

[2018-09-17 20:42] bradfordcondon commented on #603
merged. live at https://tripal.readthedocs.io/en/latest/dev_guide/custom_data_loader.html

[2018-09-17 20:42] #603 closed, assigned to bradfordcondon

[2018-09-18 00:04] bradfordcondon commented on #657
I'm finding other bugs in the property API.  I'm confirming each with a test and will submit a PR that addresses all methods in the file.

https://github.com/tripal/tripal/blob/b83136aec50b012ef54f90553ccc9d2443a4fa29/tripal_chado/api/tripal_chado.property.api.inc#L519-L523

needs to be `$base_id` not `$record_id`

similarly deleting by propkey fails at     `$property_pkey = $table_desc['primary k

[2018-09-18 08:52] igcbioinformatics opened #658 "Gene Ontology OBO Loader stuck in "Loading paths for biological_process""
## BUG/ERROR report

### System information

Ubuntu 16.04 8GB RAM
* Tripal Version: 3
* Drupal Version: 7
* PostgreSQL Version: psql (PostgreSQL) 9.5.14
* PHP Version:  PHP 7.0.30-0ubuntu0.16.04.1

### Issue description

#### Steps to reproduce

After freshly installing a Tripal installation following the tutorial, I now get stuck when loading the Gene Ontology OBO, following the tutorial for the

[2018-09-18 11:37] bradfordcondon commented on #658
Hello,
We've been actively working on this issue.  There is an open pull request here:  https://github.com/tripal/tripal/pull/627 that is almost ready to be merged.

You can either wait a day or two longer for us to merge it, or you can check out that branch and use it (we're just waiting on confirmation that the trait ontology loads correctly).

I would only recommend using the development branch

[2018-09-18 15:28] bradfordcondon commented on #649
We (well, @almasaeed2010 ) have added this functionality to our tripal entity helper tool [tripal_alchemist](https://github.com/statonlab/tripal_alchemist) for now.  If you delete the chado records, then alchemist has a function to "delete orphaned entities" which will remove them.

[2018-09-18 16:17] bradfordcondon opened #660 "Offer an Unpublish AND delete button for tripal content"
## Feature Request/Discussion

- [x] does this feature attempt to solve an existing problem with Tripal?

### Description

When a user deletes an entity via the GUI, the corresponding chado record is not deleted.

from @chunhuaicheng

I'm inclined to agree with him.  here was my response:

### note

Please do not confuse this issue with the bug reported in #652 and its corresponding PR #653

[2018-09-18 16:25] bradfordcondon commented on #635
thank you for reporting and approving @chunhuaicheng

[2018-09-18 16:25] #635 closed, assigned to chunhuaicheng

[2018-09-18 16:38] spficklin commented on #636
Here is a diagram of the proposed solution. It separates the Drupal components of Tripal with the non-Drupal components allowing any tool or application to access data in the same way:

![tripal4-schematic](https://user-images.githubusercontent.com/1719352/45702367-83d92e80-bb26-11e8-938b-8942c951f87d.png)

For comparison, here is a diagram of the current Tv3 stack and it's challenges:
![tripal4-s

[2018-09-18 16:39] chunhuaicheng commented on #649
This a great. Thanks @bradfordcondon
Any chance this will be incorporated into Tripal core since this was part of the core functions in T2?

[2018-09-18 16:41] chunhuaicheng commented on #660
I second that supporting both is a good idea. I would suggest changing the name of deleting entity to 'Unpublish' record though. Simply because creating the entity is called 'Publish' in T3.

[2018-09-18 16:44] bradfordcondon commented on #649
I will wait to see what other community members/PMC members think.  Seems like a good case for including it in the core.

[2018-09-18 17:12] spficklin commented on #636
I want to add here the text of an email from @abretaud on the mailing list so that we have a record of it here:

[2018-09-18 17:43] almasaeed2010 commented on #652
PR submitted #653

[2018-09-18 20:57] srobb1 commented on #645
@spficklin  Thanks for the advice.

The plan is to get bulk updates, full sets.

So in summary, IDs change, but the name stays the same. This seems pretty straigh foward and should help with searching most of the time. I see that with this method I will have issues when/if the name changes. I foresee many genes not having a human readable name, due to no homology/orthologs/functional data at first

[2018-09-18 23:45] sookjc commented on #645
Hello,
I'm afraid I don't have very much experience in doing that. Like Stephen mentioned we only got bulk of the genes - a complete new annotations for the same assembly or for a new assembly. Sometimes, people who do a new assembly use the old set of genes and align them to the new assembly. In that case we just use the same feature (gene) and store a position in the new assembly.  For NCBI sequ

[2018-09-19 15:33] laceysanderson commented on #387
Also need to add it to the user tutorial so no one needs to run the tripal jobs command manually

[2018-09-19 18:17] bradfordcondon commented on #657
thank you to @laceysanderson @almasaeed2010 for the reviews.

[2018-09-19 18:17] #657 closed, assigned to bradfordcondon

[2018-09-20 14:54] igcbioinformatics commented on #658
OK, Thanks, we'll wait for the merge.

Best,
Daniel

[2018-09-20 18:53] laceysanderson opened #665 "Issues Loading Trait Ontology (TO)"
## BUG/ERROR report

### System information

* Tripal Version: most recent dev including #627
* Drupal Version: 7.x

### Issue description
Some versions of the Trait Ontology (TO) will not load even with the new OBO loader re-write. We are still having troubles with reproducibility so this issue is meant as a place for discussion as well as an eventual PR.

Personally, I have tested the following

[2018-09-20 20:20] bradfordcondon commented on #525
this is resolved in #627

[2018-09-20 20:20] #525 closed, assigned to shawnawsu

[2018-09-20 20:20] bradfordcondon commented on #303
sped up!

[2018-09-20 20:20] #303 closed, assigned to shawnawsu

[2018-09-21 02:50] spficklin commented on #76
The current loader supports (as far as Chado can store) the 1.4 specification.

[2018-09-21 02:50] #76 closed, assigned to nobody

[2018-09-21 13:54] bradfordcondon commented on #665
I reproduce @spficklin 's error on our development site, but for a different term:

[code]

[2018-09-21 13:56] bradfordcondon commented on #658
hi @igcbioinformatics the OBO importer update has been merged.  It should now work for GO: please update your code to the latest 7.x-3.x and try again at your leisure

[2018-09-21 13:56] bradfordcondon commented on #652
merged by @laceysanderson thank you for the fix @almasaeed2010

[2018-09-21 13:56] #652 closed, assigned to nobody

[2018-09-21 14:34] almasaeed2010 opened #669 "Updating a non-required field to an empty value does not clear it"
## BUG/ERROR report

### System information

* Tripal Version: latest dev (3.x)
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

When updating an entity, we can't remove a value from field.

#### Steps to reproduce

1. Create an organism page and make sure you add a value to the `common name` field.
1. Edit the entity and remove the value from the `common

[2018-09-21 14:42] bradfordcondon commented on #669
I have confirmed this bug.  It seems to occur for TEXT FIELD type fields.

[2018-09-21 15:32] laceysanderson commented on #527
PR Merged

[2018-09-21 15:32] #527 closed, assigned to spficklin, shawnawsu

[2018-09-21 15:32] laceysanderson commented on #441
PR Merged

[2018-09-21 15:32] #441 closed, assigned to shawnawsu

[2018-09-21 16:11] bradfordcondon commented on #392
Given the lack of discussion I agree with Shawna that without interest this isn't happening.  Closing for now.

[2018-09-21 16:11] #392 closed, assigned to nobody

[2018-09-21 16:15] bradfordcondon commented on #245
hi @srobb1 given the lack of response I'm assuming this is resolved? if not please let me know, otherwise ill close this out.

Thanks!

[2018-09-21 16:17] bradfordcondon commented on #397
hi @dedenmatra sorry for the lack of response on this.  Were you able to make any progress?

[2018-09-21 16:37] bradfordcondon commented on #558
This is resolved in the PR. Thanks all!

[2018-09-21 16:37] #558 closed, assigned to shawnawsu

[2018-09-21 16:43] bradfordcondon commented on #111
Whats the status of this? I'm marking it a release blocker.

[2018-09-21 16:48] bradfordcondon opened #670 "Update to PR templates and guidelines"
We need to make changes to contribution guidelines, issue templates, and PR templates.

### Checkboxes

We dont like checkboxes.  They show up as tasks on the issue, we often get issues submitted with the formatting off... let's try to move away from them.

### Documentation

Documentation has moved to RTD

### Testing guidelines

Have moved

[2018-09-21 16:53] almasaeed2010 commented on #111
I have not experienced this before. We've been loading large genomes and everything is going alright.

[2018-09-21 17:04] #245 closed, assigned to nobody

[2018-09-21 17:47] laceysanderson commented on #670
We do need a non-checklist way to keep track of
 - if an issue needs updates to documentation and whether it's in the PR
 - bug fix or new feature?

Perhaps we use a fill-in-the-blank style? For example:

## Metadata
- Needs updated documentation: Yes/No/InPR
- New Feature? Yes/No
- Bug Fix? Yes/No

[2018-09-21 17:58] bradfordcondon commented on #670
for the documentation... now it will be very clear if the documentation is included in the RTD.   So im actually not sure what it accomplishes.  the people reviewing the PRs should be the ones who check off if the documentation update is sufficient in-code or on RTD.  We just need the guidelines to say "update as appropriate"... or am i missing something?

Bug fix/new feature I agree.  I think we

[2018-09-21 18:04] laceysanderson commented on #670
Oh, different PR templates would be perfect!

Good point on the documentation. Are you suggesting we leave it out altogether since it's a PMC decision vs. a PR author decision? Or do you just think we should restrict the answers to `yes/no`? (can be conviced either way)

[2018-09-21 18:22] bradfordcondon commented on #467
I see this PR was merged, so closing this issue.

[2018-09-21 18:22] #467 closed, assigned to spficklin

[2018-09-21 18:57] bradfordcondon commented on #670
Im saying its self evident if documentation was changed or not, and either way its the PMC's task to determine if the documentation changes made are sufficient.  Its not acceptable to say "yes it needs documentation update but i didnt write it"    So i'm for just removing it from the template, but, like you, could be convinced either way.

[2018-09-21 19:01] bradfordcondon commented on #449
@spficklin I would vote in favor of creating child issues for these annoyances since its hard to track what has/has not been done.

[2018-09-21 19:06] spficklin commented on #449
Yes, good point.  This document was just meant to be a place to discuss and was meant to collect info for our Sept 7th User's meeting.  So for that reason I think maybe we can close out this discussion.    For the specific issues that got added I think you're right.

[2018-09-21 19:11] bradfordcondon commented on #449
ok agreed.  lets close but make any child issues that you want addressed in the future.

[2018-09-21 19:11] #449 closed, assigned to nobody

[2018-09-21 19:25] bradfordcondon commented on #125
@spficklin @laceysanderson any insight into this?

Should tripal install the function public schema?  Should we mark this closed? Let it exist as an open issue in the "done" pipeline?

[2018-09-21 19:26] bradfordcondon commented on #165
@almasaeed2010 I *think* this is resolved as we can keep panes open.  Is it?

[2018-09-21 19:39] bradfordcondon commented on #128
Tripal Test Suite!  Still we haven't taken the time to figure out how this should work.

[2018-09-21 20:02] laceysanderson commented on #670
Ok, let's remove it (documentation mention)

[2018-09-21 21:07] #415 closed, assigned to spficklin

[2018-09-21 21:08] bradfordcondon commented on #415
merged on both branches, thank you!

[2018-09-21 21:16] bradfordcondon commented on #670
I'm making PR templates for:  bug fix, new feature, and documentation.

This leaves out "API-specific change" (breaking change obviously makes 0 sense as a template)... any others?

### Bugfix template:

[code]

### documentation template

do we really need anything?
Links to how to install sphinx and run `make html` probably?

[code]

## new feature PR template

[code]

[2018-09-21 21:29] laceysanderson commented on #670
I would make `Bug Fix` a higher level title and put it at the top (i.e. `# BUG FIX`). Otherwise, I think it's perfect 🙂

[2018-09-21 21:30] bradfordcondon commented on #670
in doing this i realize i need to write some very basic instructions for RTD and put in docs/README.md  we can then link to it for the documentation template.

[2018-09-21 22:05] bradfordcondon commented on #670
what about this part of the feature request template?

[code]

I'm ok tabling it/leaving as is for now unless anyone has good ideas for how to improve.

[2018-09-21 22:28] bradfordcondon commented on #670
i put my proposed templates in tripal alchemist so we can try them out there.

https://github.com/statonlab/tripal_alchemist/issues

unfortunately the multiple PRs means none get populated automatically, and it doesnt give you a nice choice like it does for the issues- instead we need to use the [query parameters](https://help.github.com/articles/about-automation-for-issues-and-pull-requests-with-

[2018-09-22 02:13] laceysanderson opened #671 "Testing Fields, Widgets and Formatters"
I'm currently working on testing the relationship widget. We need to find a way to easily test fields, widgets and formatters.

[2018-09-22 03:10] laceysanderson commented on #671
I have Unit Testing of the widget form working! 🎉

## Quick Draft of steps. Better documentation to come.

1. Initialize the widget class. This will give you the base object to call the method you want to test.
[code]

2. Create fake versions of each variable needed for your method.

This is best done by first using developer tools to inspect the contents of each variable. I use `dpm($variable_nam

[2018-09-22 03:11] laceysanderson commented on #128
See #671 for how to test fields, widgets and formatters using TripalTestSuite.

[2018-09-22 06:39] spficklin commented on #563
Can we consider taking this off the release blocker list?  I'm not able to duplicate it and it doesn't seem to be a problem for others.  We still need to address it but maybe it could be part of a future minor release (e.g. Tripal v3.1)

[2018-09-22 06:57] spficklin commented on #111
I can confirm that there is indeed no memory leak.  I just imported a ~400Mb FASTA file and memory did not change at all during the import.  Since @almasaeed2010 reports no issues here and I see no leak now I'm closing.

[2018-09-22 06:57] #111 closed, assigned to nobody

[2018-09-22 06:59] spficklin commented on #111
Proof:
[code]

[2018-09-22 13:09] almasaeed2010 commented on #563
Yes we can take off the the release blocker. Until I can find a way to replicate the issue, I don’t think this should be considered a bug.

[2018-09-22 21:43] bradfordcondon commented on #670
given that we can only have a single PR template, how about this?

[code]

[2018-09-22 23:10] laceysanderson opened #672 "Documentation Guidelines"
We need a README added to our docs directory to give contributing developers a quick guide and some guidelines for contributing documentation to Tripal.

**Remember: when this gets done, we need to add the link to the PR template.**

[2018-09-22 23:33] laceysanderson commented on #672
# Tripal Documentation

Our documentation is build using **Read the Docs**. All of the Tripal documentation is in this
directory (`docs/`) and is split into two guides:

1. User Guide: focuses on installation and configuration of Tripal from a content administrator point
of view.
2. Developers Guide: focuses on developers extending the functionality of Tripal through
development of extension modul

[2018-09-22 23:33] laceysanderson commented on #672
Above is my draft of documentation but I would love discussion, thoughts, corrections before posting a PR.

[2018-09-22 23:34] laceysanderson commented on #670
I think this is perfect 👍 The only thing I would add it an extra line at the bottom pointing to a guide for contributing documentation -but we don't have one yet... See #672 where I've started one. I figure we'll add the link to the PR template as part of that issue once documentation is done.

[2018-09-23 18:21] bradfordcondon commented on #672
code styling is double ticks ``
Our use of headings is kind of bad in general.. the "right" way is

[code]

So we can consider changing it to the "right" way or keep as is, eithers fine with me... (assuming im not wrong about this ie that document title refers to each guide, not the whole tripal documentation)

Here's what i wrote for the README.md that wll go in docs.  Some overlap so im posting

[2018-09-24 13:37] almasaeed2010 opened #674 "Tripal DS removes panes that are not empty"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.6
* PHP Version: 7.1

### Issue description

When we have multiple fields in a pane and one is empty, tripal ds assumes the entire pane should be removed.

#### Steps to reproduce

1. Make sure hide empty fields option is selected in the bundle settings (Structure>tripal content types>

[2018-09-24 13:45] almasaeed2010 commented on #674
@shawnamspoor any ideas on how to fix this?

[2018-09-24 13:46] almasaeed2010 commented on #674
Since this has to be fixed in order for #664 to merged, I'll mark this as release blocker and urgent.

[2018-09-24 13:59] almasaeed2010 commented on #563
Fixed by changing permissions on our system. Thanks @spficklin for the help!

[2018-09-24 13:59] #563 closed, assigned to almasaeed2010, bradfordcondon

[2018-09-24 14:21] bradfordcondon commented on #665
I'm curious if you pre-load the offending ontology (in your case load BFO first) if it resolves the issue

[2018-09-24 14:22] bradfordcondon commented on #649
@spficklin @laceysanderson what are your thoughts on porting this feature into core.  This constitutes a new feature and therefore a PMC vote.

[2018-09-24 15:51] bradfordcondon opened #676 "FASTA Importer requires a regexp if associating with a parent"
## BUG/ERROR report

### System information

* Tripal Version: 3

## description

The Tripal FASTA importer requires a regular expression if you choose to associate the features with a parent.  However, this parameter should be optional.  It is optional for other importers (For example the InterPro importer).
Why?

If I am associating interproscan annotations for a set of proteins, where the prote

[2018-09-24 16:04] laceysanderson commented on #649
I think we should definitely have unpublish functionality in core and with it already written in Tripal Alchemist I think that is an amazing place to start!

So consider this **a vote in favor for me** 👍

[2018-09-24 16:05] spficklin commented on #531
@laceysanderson how are things coming along on this one. Do you need some assistance with it?

[2018-09-24 16:25] spficklin commented on #649
I agree that it makes sense to have this functionality in core as we had it in Tv2.

[2018-09-24 16:38] almasaeed2010 commented on #649
I'll start a new PR to port the functionality over from alchemist.

[2018-09-24 16:46] kyrenya opened #677 "uploading NCBI gff"
Hi all,
I'm trying to add genomic data following the steps of the citrus tutorial without success:

my gff file is downloaded from NCBI and its entries look like this:
(first 20 lines)
![image](https://user-images.githubusercontent.com/43243429/45965612-dc299800-c020-11e8-9b85-6040f55bce7e.png)

When I try to upload the gff following the steps (no advance options added), I Get this error message:

[2018-09-24 16:57] spficklin commented on #677
Hi @kyrenya.  The GFF loader is complaining because it cannot find the NW_019805504.1 feature in the database.  The easiest way to get those into the database is to load  a FASTA file with those sequence names.  You mention you tried loading a FASTA file.  What does that FASTA file contain?  Can you post some of the header lines from the FASTA file you are trying to load?

[2018-09-24 17:00] kyrenya commented on #677
Thank you so much for your super-fast answer! Sure! I forgot!! it's in fact the most stranger thing to me, because the fasta file looks like this:

![image](https://user-images.githubusercontent.com/43243429/45966686-b487ff00-c023-11e8-9b40-84b2d764e57c.png)

[2018-09-24 17:09] spficklin commented on #677
Okay so that looks good.  And to confirm you had no errors after importing that FASTA file?  And just to verify... are you using Tripal v2 or Tripal v3?

[2018-09-24 17:09] almasaeed2010 commented on #649
PR submitted https://github.com/tripal/tripal/pull/678

[2018-09-24 17:23] kyrenya commented on #677
No errors after importing the fasta and I'm using v3 :)

[2018-09-24 19:54] bradfordcondon commented on #638
I cant get this working for some reason.

For referencing cross-document, i suggest instead we follow the conventions here:  http://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#role-ref

alternatively, use `:doc:` to reference the whole file instead.

[2018-09-24 19:54] #638 closed, assigned to bradfordcondon

[2018-09-24 20:20] bradfordcondon commented on #607
Hi all- i wrote a very simple guide but its probably not tripal core worthy.  It can happily live on my blog, linked here.  https://www.bradfordcondon.com/blog/

If anyone thinks it would be helpful let me know and ill reconsider...

[2018-09-24 20:20] bradfordcondon commented on #607
full guide:

# Introduction

Link: [original GitHub issue](https://github.com/tripal/tripal/issues/607
)

I found myself in a predicament: I wanted to include a dynamic element in my Tripal field's formatter.

However, I couldnt for the life of me get the AJAX callback to run in the formatter.

### The problem: renderable arrays

Drupal has its special way of doing AJAX!  [You should read the docu

[2018-09-24 20:54] bradfordcondon commented on #665
because my error was for term: PO:0001108 i tried loading the plant ontology first.  Got this error:

[code]

[2018-09-24 21:39] spficklin commented on #677
Are the files you are uploading via FASTA/GFF publicly available so that we can try loading to duplicate the problem?

[2018-09-24 21:47] bradfordcondon commented on #633
merged, thanks!

[2018-09-24 21:47] #633 closed, assigned to bradfordcondon

[2018-09-24 21:48] bradfordcondon commented on #665
when i try to pre-load CHEBI, i run out of memory:

[code]

yikes.  so pre-loading CHEBI isnt feasible.

[2018-09-24 22:38] shawnawsu commented on #674
I just pushed an update that should address the menu and the empty field being shown. I've tested it a bit but not as much as I'd like, can you (@almasaeed2010) test it? I pushed the update to the revert-663-revert-628-541-tv3-ajax_fields branch.

[2018-09-24 22:42] almasaeed2010 commented on #674
The fix works perfectly. Thanks @shawnamspoor!

[2018-09-25 00:19] bradfordcondon opened #680 "Terms not found found on EBI OLS cause fatal errors when the problem is the OBO"
## BUG/ERROR report

### Issue description
Loading the plant trait ontology (TO) fails because of a "homeless" term.

The term is looked up in  PO, which is where the accession is.  But the term is only defined in TO, with a PO accession!
lookup the OBO loader uses:
http://www.ebi.ac.uk/ols/api/ontologies/po/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FPO_0001108

correct lookup:
http:

[2018-09-25 00:30] bradfordcondon commented on #680
Issue submitted to the planteome here:

https://github.com/Planteome/plant-trait-ontology/issues/439

[2018-09-25 00:43] spficklin commented on #625
Hi @laceysanderson.  So, I think the problem you are having is that the 'Field to Display' does not take a token.  It takes the name of the term or the accession.  So, if you want to show the species you would enter `species` or `TAXRANK:0000006`

Can you try making that change and see if that fixes the problem for you?  If so then perhaps the fix is to improve the description to indicate what is

[2018-09-25 00:43] bradfordcondon commented on #680
Here's the summary: The TO defines this term as being in the PO, but the PO doesnt define the term.  Then, teh EBI OLS doesn't mark this term as belonging to any ontology, so we are left unsure what to do with the term.

So plenty of things to think about here.  We can figure this out in the future by searching for terms that 404 in the current namespace as i did above (ie swap PO with TO).  if we

[2018-09-25 02:47] laceysanderson commented on #531
I've got it started in https://github.com/tripal/tripal/tree/531-t3-relationship_widget. It's been going slow because I was working on automated tests for the form. I can prioritize functionality through so we can get this release out 👍

[2018-09-25 02:56] laceysanderson commented on #625
See

The change to `species` does fix the problem. I think it's very confusing that this field doesn't take tokens when there are `Available Tokens` listed directly below it.

If we are simply going to change the description to make it more clear we should also move it so it's not directly above `Available Tokens`. Can we collapse available tokens by default and move it after `Query to execute` wi

[2018-09-25 08:32] kyrenya commented on #677
Yes! Sorry, I could have include all this info at once.. I'm a noobie :)

https://www.ncbi.nlm.nih.gov/genome/?term=quercus+suber

[2018-09-25 08:33] kyrenya commented on #677
I'm using GCF_002906115.1_CorkOak1.0_genomic.fna and
               GCF_002906115.1_CorkOak1.0_genomic.gff    files.

[2018-09-25 12:34] abretaud opened #681 "Duplicate field EFO:0000269 for Assay"
## BUG/ERROR report

During startup, at the "Creating common Tripal Content Types..." step, I get this warning:

`[TRIPAL WARNING] [TRIPAL_FIELDS] The field, efo__array_design, uses a term, EFO:0000269, that is already in use on this content type. The field instance cannot be added.`

Indeed, the same term is used for [array design](https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/includ

[2018-09-25 13:00] abretaud opened #682 "TPUB:0000002 term is not found"
## BUG/ERROR report

At startup, I get this error:

[code]
It looks like [the code tries to use the non-existing term TPUB:0000002](https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/api/modules/tripal_chado.pub.api.inc#L594).
Looking in the db, there is a 0000002 accession but associated with the cv "tripal_pub".

### System information

* Tripal Version: 3.x
* Drupal Version: 7.59
* Post

[2018-09-25 13:31] abretaud opened #683 "Trying to get property 'cvterm_id' of non-object for is_a relationship"
## BUG/ERROR report

Another warning I get when starting up a tripal 3.x instance:

[code]
[In the code](https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/api/modules/tripal_chado.cv.api.inc#L530) the "$is_a" looks strange, but changing it to 'is_a' everywhere doesn't fix the issue

### System information

* Tripal Version: 3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.5
* PHP Versio

[2018-09-25 15:44] spficklin commented on #682
Hey @abretaud what version of Tripal v3 are you using?  Are you using the most current development version?

[2018-09-25 15:45] spficklin commented on #681
Yes, I've noticed that too. We need to track it down but it won't cause a problem for you.  It's just trying to create the same field twice.

[2018-09-25 15:51] spficklin commented on #683
@abretaud. That's an unfortunate typo but it does not break the code because it's just storing into the cache a value with the key named '$is_a', although it should be corrected.

But, thanks for pointing this out. I think the problem is that the fixes to the OBO Importer adds an 'is_a' term for every vocabulary.  But if you are upgrading Tripal from 2.x it may skip already loaded ontologies and t

[2018-09-25 16:07] bradfordcondon commented on #681
I'll point out that its the array_design field in both cases: attaching to array, and to assay.  With that in mind, correcting the typo at https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado/includes/tripal_chado.semweb.inc#L778 to be the exact same term (IE array design) should fix the error.

edit: actually this whole block is kind of wonky.

https://github.com/tripal/tripal/blob/dc48c786

[2018-09-25 16:12] bradfordcondon commented on #680
https://github.com/Planteome/plant-trait-ontology/commit/fa64c9983636b135b22e551022901175f44796f4

looks like they've resolved the issue and given the term a TO, instead of PO, accession.

`"is_defining_ontology": false,` still but i imagine this will change when the new ontology is pushed.

This means we just need to solidify how to deal with this in hte future and implement it.

[2018-09-25 16:26] abretaud commented on #682
I'm using the (almost) most current dev version: https://github.com/erasche/docker-tripal/blob/v3.x/Dockerfile#L81

[2018-09-25 16:28] abretaud commented on #683
It's not an update, I'm just testing the docker-tripal image with the latest code
(I don't think I'll need to update my instances, I'll just redeploy them and reload the data)

[2018-09-25 16:42] spficklin commented on #682
So, this message occurs if the Tripal PUB vocabulary is not loaded.  I took a quick look over your Docker setup files but it wasn't obvious to me where that occurs.    Usually that gets loaded at the "Prepare Chado and Drupal" step.  Did you have any errors at that step?

[2018-09-25 16:43] spficklin commented on #683
Okay, so it's a clean install.  Are you sure the Tripal Contact vocabulary got loaded?  It seems the Tripal Pub vocabulary may not be loaded as per issue #682

[2018-09-25 18:37] bradfordcondon opened #684 "widget documentation improvement"
Here is the TripalFieldWidget docs:

[code]

We need to explicitly say`value` must be set to a TRUE value!  For example setting it to a `""` will cause the widget to fail and not submit.  IE tell people to set it to a constant if they dont need it.

[2018-09-26 10:01] kyrenya commented on #677
Due to the big size of files, I used shortened versions of these files.

Also, I only managed to make it work, after changing the gff file content:

(original structure from .gff):

![image](https://user-images.githubusercontent.com/43243429/46072773-13ac5780-c17b-11e8-8bd0-4017ad3922a4.png)

EDITED structure:

![image](https://user-images.githubusercontent.com/43243429/46072811-30488f80-c17b-11e8

[2018-09-26 12:28] abretaud commented on #682
The prepare chado step is launched [here](https://github.com/erasche/docker-tripal/blob/v3.x/scripts/pre-launch.d/50modules#L46) in the docker image, just after enabling the tripal* modules.
It runs a [specific drush task](https://github.com/erasche/docker-tripal/blob/v3.x/tripal_install.drush.inc), but very similar to the one shipped in tripal.

Here's more log where it seems like the pub vocabul

[2018-09-26 12:28] abretaud commented on #683
Looking at the log in #682, the contact vocabulary is also loaded

[2018-09-26 14:56] laceysanderson commented on #531
I'm running into a number of deep-seated assumptions in this field which are making this take longer then expected:
 - assumes all base tables have an autocomplete. Ideally this would be fixed by making the autocomplete code generic so there actually is an autocomplete for all base tables.
 - assumes all base tables have a uniquename. This is used when looking up the subject/object if autocomplete

[2018-09-26 14:57] laceysanderson commented on #531
Since the addition of this widget is a new feature rather then a bug fix, I'm removing release blocker status and moving this issue to the Tripal 3.1 milestone. I will continue to work on it but feel free to comment if you need this widget ASAP.

[2018-09-26 17:33] laceysanderson commented on #478
I'm uncertain from the above conversation if the PR submitted fully fixes the problem. If it does, @almasaeed2010 can you close this issue? I'm unable to duplicate the problem to confirm

[2018-09-26 17:39] almasaeed2010 commented on #478
I'd ask @bradfordcondon if it's appropriate to close, but we are not longer experiencing this issue live.

[2018-09-26 17:41] bradfordcondon commented on #478
i dont think the below is resolved so we should leave open.

put another way, the check was added but i dont think it resolved the problem that the situation should not have arisen.

[2018-09-26 18:04] bradfordcondon commented on #680
ok, updated.  New error:

[code]

In the OBO:
terms ref it like so:

[code]

and its defined like so:

[code]

BFO:000015 = [process]( https://www.ebi.ac.uk/ols/ontologies/bfo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FBFO_0000015)

It looks like PECO defines some RO: terms,  see for example https://www.ebi.ac.uk/ols/ontologies/peco/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FR

[2018-09-26 18:16] bradfordcondon commented on #680
issue submitted to TO over this term https://github.com/Planteome/plant-trait-ontology/issues/441

[2018-09-26 18:31] bradfordcondon commented on #680
ok the built call is http://www.ebi.ac.uk/ols/api/ontologies/ro/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FBFO_00000500002310

when ti should be
https://www.ebi.ac.uk/ols/api/ontologies/ro/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FRO_0002310

[2018-09-26 19:10] spficklin commented on #682
Okay, we're going to run a test and see if we can duplicate the error.  We've not noticed this before so we'll see if we can get to the bottom of it.

[2018-09-26 23:27] mdhar1980 opened #687 "Drush version with Tripal v 2.1?"
Hello!

In order to maintain compatibility with some work we've done before now, my lab is installing Tripal v2.1 (for the time being). The tutorial for that version (http://tripal.info/tutorials/v2.x/installation/drush) says that Drush "7.0-dev branch" is incompatible with Tripal -- but I'm wondering, is that still true, or has it changed since the time of that tutorial's writing?

Again, we're u

[2018-09-27 00:29] bradfordcondon opened #688 "chado_get_organism_select_options shouldnt throw errors with default parameters for tripal 3"
## Feature Request

### Description

`chado_get_organism_select_options()` gives this error if called without parameters:

[code]

One needs to set Synced = FALSE to prevent this (`chado_get_organism_select_options(FALSE)`.

I think this API call could be improved by checking if the site doesnt have a public.chado_organism table and, if it doesn't, instead checking the bio_data_x table to consider

[2018-09-27 10:35] kyrenya opened #689 "Functional Annotation"
Hi,
I'm trying with no success to follow the tutorial for functional Annotation Modules (https://tripal.info/node/106), though I'm using Tripal v3 (I didnt find a tutorial for this version, is there any?).

I came across several issues:

_BLAST Module:
 After following the instruction for loading the BLAST results:

        Database: ExPASy SwissProt
        BLAST XML File/Directory: /var/www/html

[2018-09-27 15:21] bradfordcondon commented on #689
Hello,

This guide is out of date right now, as these modules will load the Tripal 2 version for each!  The Tripal 3 version of the blast module has renamed that table: that wh y you see that error for tripal 3.  The guide still works because of Tripal legacy mode, but really we need to update this for Tripal 3.

How to proceed:
Upgrade the extension modules to tripal 3.  you can do this by attach

[2018-09-27 15:23] bradfordcondon commented on #689
oops- i see you linked to the tripal.info user's guide.  The tripal 3 guide is here:  https://tripal.readthedocs.io/en/latest/user_guide/example_genomics.html

but youre right i dont think we've written an equivalent guide for using these extension modules in tripal 3 yet.    I think we're waiting for the official Tripal 3 release this week.

Apologies for the confusion!

[2018-09-27 15:41] kyrenya commented on #689
Hi Thanks a lot for your fast answer, I'm going to follow your recommendations and I'll keep this post updated with my progress (hopefully there is some progress XD XD).
Thanks and cheers!

[2018-09-28 15:19] abretaud opened #690 "Creating common Tripal Content Types is slow"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7.59
* PostgreSQL Version: 9.5
* PHP Version: 7.x

### Issue description

I don't know if it's really a bug, but I noticed that deploying a tripal 3 instance is much slower than it was for tripal 2. Like >15min instead of <5min.
It makes testing more painful, locally, and with travis (for tripal itself, but also p

[2018-09-28 15:35] laceysanderson commented on #690
We have also noticed the slow creation time and fixing it is on our radar -especially since it moved content type creation into a Tripal job.

Thank you for your profiling :-) I'm going to close out the other issue as duplicate rather then this one since you provided more information then I did originally :-)

[2018-09-28 15:36] laceysanderson commented on #619
Duplicated in #690 with more information provided there.

[2018-09-28 15:36] #619 closed, assigned to nobody

[2018-09-28 17:16] kyrenya commented on #397
hi, I'm exactly at the same point... did you manage to fix this? Thanks

[2018-09-28 18:33] #674 closed, assigned to shawnawsu

[2018-09-29 01:19] spficklin commented on #625
The reason we cannot use tokens is because the tokens are tied to field names and values on the local site which may not be the same as what is coming from the remote site.   I think your suggestions are good so I added a pull request that I hope fixes this for you.

[2018-09-29 06:49] #625 closed, assigned to nobody

[2018-09-29 19:59] spficklin commented on #683
I am not able to duplicate this problem, or the problem described in #682.  I did try to clone and rebuild the docker-tripal project to see if I could duplicate the problem there.  I am able to deal with relatively simple docker setups, that one was a bit more complicated and I couldn't determine where the problem was happening.

Because this problem does not occur on our unit testing, and a fresh

[2018-09-29 20:40] spficklin commented on #677
@kyrenya it took me a while to find time to look into this.  I fully loaded the entire FASTA file named `GCF_002906115.1_CorkOak1.0_genomic.fna` and it loaded fine in about 10 minutes.  I then started loading the entire GFF file named `GCF_002906115.1_CorkOak1.0_genomic.gff` and I am not able to reproduce the problem you describe above.  It seems to be progressing just fine.  The only warnings I g

[2018-09-29 20:47] spficklin commented on #687
Hi @mdhar1980 apologies for the slow response.  Yes, I think that documentation is out of date and we should update it to match the instructions for Tripal v3.   I am certain if you follow these instructions in the Tripal v3 manual for drush that the newer version will work just fine:

https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/drush_installation.html

Also, Tripal v3 is sup

[2018-09-29 20:50] spficklin commented on #688
Good point. I've set this for a 7.x-3.1 milestone.  Although I've added the PMC voting tag just to make sure it's unanimous.

[2018-09-29 20:53] spficklin commented on #640
Thanks for noticing.  This problem also exists in Tripal v2.  I think it's a left over bit of code that maybe was used in some previous iteration when developing that loader and I suspect it's no longer needed and can just come out.

[2018-09-29 21:01] spficklin commented on #670
PR Merged.  I'm assuming this conversation is done so I'm closing.

[2018-09-29 21:01] #670 closed, assigned to bradfordcondon

[2018-09-29 22:30] kyrenya commented on #677
Hi again! If I understood well the question "an you verify that in your shortened version of the FASTA file that all of the landmark sequences are present for the same ones in the shortened GFF file", the answer is yes. I saved in the three files (gff, fasta and rna fasta) all the entries selected to keep in the shortened version. And it run ok, as you described behind, but only once I edited the

[2018-09-29 22:42] laceysanderson commented on #688
I vote yes :-) That sounds like a good solution @bradfordcondon

[2018-09-29 22:56] laceysanderson commented on #672
I added PMC Voting tag to determine what we should do about the header syntax. According to @bradfordcondon above, our current syntax does not match that recommended by ReadtheDocs.

**A) Do we change all our documentation to match the ReadtheDocs standard OR B) do we leave it as is which our own style documented in the README?**

Note: Lets try to vote on this without considering our current dema

[2018-09-29 22:57] laceysanderson commented on #672
I'm idealistic so my vote is for A 😝

[2018-09-30 22:13] kyrenya commented on #689
nop, didnt work for me.
I started a fresh new start trying to install tripal v2.
Anyway.. any clue of when is that official Tripal 3 release out?
Thanks!

[2018-10-01 01:09] bradfordcondon commented on #689
hi @kyrenya im sorry it didnt work: you mean still got the `ERROR: relation "chado.blast_hit_data"` error even after updating the blast module to tripal 3?

We are very close to  the official Tripal 3 release, i would hope this week.

[2018-10-01 08:44] kyrenya commented on #689
Hi,  the error disappeared, but I was still unable to go directly to the link  (http://localhost/feature/citrus/sinensis/mRNA/PAC%3A18136219) - (with my localhost), and also no "homology" option in the content anywhere. Interpro module behaved the same, not errors while performing it, but no report anywhere.
KEGG worked fine!

[2018-10-01 08:45] abretaud commented on #683
Yep, it was resolved by https://github.com/abretaud/tripal/commit/5f49d8ae26d7a5282ffb52adbf9569b0c8f8cc44

[2018-10-01 08:45] #683 closed, assigned to nobody

[2018-10-01 12:32] bradfordcondon commented on #689
As in you couldnt visit that feature page at all?  Because that would indicate a problem with loading the FASTA file.  If you're saying the BLAST data didnt show up on that feature page, then (for **tripal 3**) you first need to **add the BLAST field** at `admin -> structure -> mRNA -> fields` (click Check for new fields) and then enable the field for display by clicking the display tab.

[2018-10-01 12:44] kyrenya commented on #689
aham! ok! I cannot try it now because I'm starting from scratch with Tripal v2...  but once I get to this point again, I will keep you posted. Thanks a lot lot!

[2018-10-01 17:10] spficklin opened #692 "Calendar on Tripal.info"
We should add a calendar with events such as our monthly User's Meetings, Yearly Hackathon and recurring events such as Hactoberfest (so we don't forget it next year).

[2018-10-01 17:11] bradfordcondon commented on #692
i like the idea.  i propose using a google calendar so that its easy to manage and a drupal google calendar plugin for the tripal.info site.

[2018-10-01 17:16] spficklin commented on #689
Hi @kyrenya.  Just a clarification... the Tripal v3 release should be this week.  However the functional modules are extension modules and those have a different release cycle.  However, we can prioritize getting the remaining fixes and documentation for those.  Those modules are already in use on some Tripal v3 sites so I'm sure whatever bugs you are having can be easily work out.

If I could mak

[2018-10-01 17:19] spficklin opened #693 "Spaces in code"
We've had several pull requests lately where there are hundreds of line changes simply removing trailing white space.  I know code editors can be setup to automatically remove trailing spaces but apparently not all of us have that feature turned on and it makes reviewing some of these pull requests rather difficult because there are so many lines to check through.  We need a uniform setup in our I

[2018-10-01 17:22] spficklin commented on #683
Wonderful. Thanks!

[2018-10-01 17:33] kyrenya commented on #689
Hi! first of all, thanks for all the support. Ok, I was not sure of how crucial was the change between tripal v2 and tripal v3. As I am a noobie at this, I just thought it was going to be easier for me. I think I will play around with v2 a bit more since I've already installed it and things are going smooth (by now), but anyway I will probably come back to the v3 to build my site and try to figure

[2018-10-01 17:41] bradfordcondon commented on #693
A) I agree, and of course, see #310 where I make a big stink about having obvious IDE configs.
B) Fortunately much of this issue is offset by the ability to hide white spaces in PR review: see  image below.

![screen shot 2018-10-01 at 1 40 55 pm](https://user-images.githubusercontent.com/7063154/46305511-a5530500-c57f-11e8-95b5-d78e126bfc77.png)

Still it's noise that i would like to get rid of..

[2018-10-01 18:41] laceysanderson commented on #693
I think the easiest way to get rid of this would be to

1. Apply #361 which will hopefully be done after 3.0 is released. This will remove all current whitespace issues.
2. Do Not approve PRs with trailing whitespace :shrugs:

I personally don't think "a uniform setup in our IDE's is likely to be helpful since we all use different ones -heck some of us, myself included, use multiple. 🙃

[2018-10-01 20:40] laceysanderson commented on #541
PR Merged!

[2018-10-01 20:40] #541 closed, assigned to nobody

[2018-10-01 23:15] almasaeed2010 opened #694 "format vocabulary does not exist warning"
## BUG/ERROR report

### System information

* Tripal Version: 3.x
* Drupal Version: 7
* PostgreSQL Version: 9
* PHP Version: 7

### Issue description

A warning of missing vocubalry `format` appears after clearing cache using the latest 7.x-3.x branch. The warning does not go away after re-populating the mview.

#### Steps to reproduce

I am not sure yet if it'll appear on a new site. Currently,

[2018-10-02 00:54] spficklin commented on #541
Thanks all for the effort on this one!

[2018-10-02 01:49] bradfordcondon commented on #672
I don't like B).  I'd rather suggest A) and not get around to updating the headers :)

[2018-10-02 01:58] #478 closed, assigned to bradfordcondon

[2018-10-02 02:00] bradfordcondon commented on #688
its implied that @spficklin approves of this, so thats 3/3 and we can add it to the next Tripal release.  It's in the 3.1 milestone.  hurray!

[2018-10-02 02:04] bradfordcondon commented on #360
I think we can close this issue in favor of #688

as for the other functions ie `tripal_get_organism_image_url` and `chado_get_nid_from_id` we are keeping these in legacy for backwards compatibility.  I actually use the existence of `chado_get_nid_from_id` to etermine if a site is running tripal 3 or 2

[2018-10-02 02:04] #360 closed, assigned to nobody

[2018-10-02 02:11] bradfordcondon commented on #676
any input from @tripal/project-managent-commitee-pmc on if this change should be made or not?

[2018-10-02 02:16] laceysanderson commented on #676
I’ll vote yes for making the regex optional for the fasts loader 🙋‍♀️

[2018-10-02 02:21] bradfordcondon commented on #676
ok good enough for me.  simple fix, i can take care of it when i have the chance.

[2018-10-02 17:42] spficklin commented on #672
I thought we were following RTD standards on headers?  We're using restructuredText?  In any event. I like the README and I do have some edits for it. Could we create a branch and put the README there so we can edit?

[2018-10-02 17:43] spficklin commented on #693
Okay.  Fair enough.

[2018-10-02 17:43] #693 closed, assigned to nobody

[2018-10-02 17:45] spficklin commented on #689
I personally like the manual install because it gives step-by-step instructions and the whole picture of what is going on, but that's my preference.  Either install method should work just fine :-)

[2018-10-02 17:50] bradfordcondon commented on #672
hmmmm

header listings from RST  areh ere http://docutils.sourceforge.net/docs/user/rst/quickstart.html (the ones i linked above)

here are the header suggestions in Sphinx: they are slightly different and what we use, i guess https://documentation-style-guide-sphinx.readthedocs.io/en/latest/style-guide.html#headings

I dont know that RTD has a seperate suggestion, its probably sphinx's.
I have no

[2018-10-03 00:26] laceysanderson commented on #276
Do we know if this is still an issue?

[2018-10-03 00:51] laceysanderson commented on #239
My thoughts on this are:
- I don't like having to select fields. It can be cumbersome for large lists...
- I don't want to have to administer what fields should go in a collection...
     - arguably not all admin know what fields are needed
     - this adds work for administrators and this makes Tripal harder to admin
- I DO like the idea of a collection simply being a collection of entities and d

[2018-10-03 00:57] laceysanderson commented on #672
Perfect :-) I agree to formally using Sphinx's guidelines. Specifically to leave our format as is which appears to be: use H3 through H6 of the Sphinx's guidelines just as we've documented in our Docs README

[2018-10-03 01:21] bradfordcondon commented on #239
really really good points.  I think you're especially on point noting that choosing fields probably makes sense with CSV/TSV.... **but its probably too confusing** for your average end user because so many fields attach!

What if instead we offered several flavor of "fixed" CSV/TSV downloaders?  I like users and admins not having to worry about fields **at all** but still making it easy for develo

[2018-10-03 02:11] laceysanderson commented on #397
Hi @kyrenya, were you able to get this working? I just checked the Tripal 7.x-2.x version of the patch and it applied for me. Can you post your terminal output?

It appears the Tripal 2 documentation has been updated to [specify the correct patch](http://tripal.info/tutorials/v2.x/installation/tripal). As such I'm removing the "Documentation" tag. Was there anywhere else in needed to be fixed @bra

[2018-10-03 02:29] laceysanderson commented on #239
I'm intrigued... We would want a combination of generic and specific "Fixed" TSV/CSV download profiles. Maybe a hook to allow developers to specify a download type name + field array?

[2018-10-03 12:40] shawnawsu opened #700 "New API function tripal_add_user_file()"
## Feature Request/Discussion

* This feature does not attempt to solve an existing problem with Tripal
* I am open to developing or collaborating on an extension module if this is not a good fit for Tripal Core

* This feature is Not Urgent

### Description

An API function that developers can use when they need to upload a file into a tripal user's folder (sites/default/files/tripal/users/#uid)

[2018-10-03 12:42] bradfordcondon commented on #239
My first thought was handling it by having TSV/CSV downloaders being an *abstract class*, and these classes being extended by specifying the bundle type and field, which amounts to the same thing.  Hooks are maybe more intuitive to Drupal users, extending the class to non-Drupal devs.

[2018-10-03 14:58] kyrenya commented on #689
okk! Thanks a lot!!

[2018-10-03 15:11] kyrenya commented on #397
hi! yes! I found this:
https://github.com/tripal/tripal/blob/7.x-3.x/tripal_chado_views/views-sql-compliant-three-tier-naming-1971160-30.patch
It's a newer version than the one I had apparently, as I didnt know how to download it, I just copied the code in a new file, and it worked :)

[2018-10-03 15:13] laceysanderson commented on #397
Ok good :-) That patch is available in Tripal 2 as well: https://github.com/tripal/tripal/blob/7.x-2.x/tripal_views/views-sql-compliant-three-tier-naming-1971160-30.patch. Which version of Tripal2 are you using?

[2018-10-03 15:13] kyrenya commented on #397
After patching, the menu 'tripal' didnt appear in my server, but I found this:

drush pm-enable toolbar
drush pm-enable shortcut

(from https://tripal.info/tutorials/v2.x/upgrade_6.11_to_2.0), I was not upgrading, but installing from scratch, but anyway, once I did it, I was able to see the Tripal Menu in the localhost

[2018-10-03 15:15] laceysanderson commented on #397
I haven't experienced that myself but clearing the cache should also have worked

[2018-10-03 15:16] spficklin commented on #397
That's a bit bizarre that you had to enable those modules.  They are typically enabled by default when installing Drupal for the first time.  So, am I understanding correctly that the admin menu was there, you patched and then it disappeared?

[2018-10-03 15:17] spficklin commented on #689
@kyrenya just FYI.... we are currently working on the functional annotation sections of the User's Guide for Tripal v3. It should be available shortly once the pull request (link above) is merged.

[2018-10-03 15:19] kyrenya commented on #397
nop, the menu was not there. I made this installation,
https://tripal.info/tutorials/v2.x/installation/tripal
got the patch issues,
solved them as explained before,
but then couldnt see the Tripal Menu as expected and shown in this tutorial,
so I tried the commands above, and then I saw it.
it was a bit weird for me, but it worked, so I moved on :)

[2018-10-03 15:20] abretaud opened #702 "Undefined property ogi__location_on_map"
## BUG/ERROR report

### System information

* Tripal Version: 3.0
* Drupal Version: 7.59
* PostgreSQL Version: 9.5
* PHP Version: 7.1

### Issue description

I saw this notice while displaying an mRNA (with data from the Citrus demo from tripal 2.x):
`Notice: Undefined property: TripalEntity::$ogi__location_on_map in TripalEntityController->attachLoad() (line 681 of /var/www/html/sites/all/module

[2018-10-03 15:21] kyrenya commented on #689
cool! Yes I was reading right now that announcement! :) great!

[2018-10-03 15:41] laceysanderson commented on #702
I have seen this as well. I'll submit a PR to fix -Thanks for reporting!

[2018-10-03 15:43] bradfordcondon opened #703 "Fields with disabled widgets"
## Feature Request/Discussion

* This feature [does ] attempt to solve an existing problem with Tripal
* I am] open to developing or collaborating on an extension module if this is not a good fit for Tripal Core
* This feature is [Not Urgent]

### Description

Site admins should be able to disable widgets for a field.  I think being able to disable them based on **permisions** would be extra aweso

[2018-10-03 16:25] laceysanderson commented on #702
PR Submitted :-) Can you test that it fixes the issue for you @abretaud?

[2018-10-03 16:33] laceysanderson commented on #703
I have also come across this need. For example, we have properties we no longer use on our germplasm pages. I do not want to delete the field since I want to display it if it's already set but I do not want people to set this field on edit since it's deprecated.

I also just personally prefer hiding fields rather then deleting them. That way I remember they are there and can easily only show one a

[2018-10-03 17:42] laceysanderson opened #706 "PDO Error on mRNA: negative substring length not allowed"
## BUG/ERROR report

### System information

* Tripal Version: 7.x-3.x
* Drupal Version: 7.x
* PostgreSQL Version: 9.4
* PHP Version: 5.6

### Issue description
I just sync'd some mRNA pages and when I try to view one of them I get the following PDO error:
![screen shot 2018-10-03 at 11 25 34 am](https://user-images.githubusercontent.com/1566301/46427612-13720600-c6ff-11e8-8784-812ecbb9e0d8.png)

[2018-10-03 17:47] spficklin commented on #702
PR to fix this was approved. I'm closing this.  But comment if there's still issues.

[2018-10-03 17:47] #702 closed, assigned to laceysanderson

[2018-10-04 11:38] bradfordcondon commented on #516
Closing this issue due to inactivity and hopefully resolution.

I've since realized there is an example of a single field that accepts multiple values in core: **data source**.

<img width="563" alt="screen shot 2018-10-04 at 7 37 40 am" src="https://user-images.githubusercontent.com/7063154/46471620-69e74f00-c7a8-11e8-82a7-84a5c97d5110.png">

So users who don't want cardinality but rather a singl

[2018-10-04 11:38] #516 closed, assigned to nobody

[2018-10-04 11:41] bradfordcondon commented on #517
So it sounds like a potential bug where if a chado property field uses "genus" it will get messed up with the organism's genus field, even though we're attached to a contact.

We saw something similar with publications, but the other way around actually--- a property was interfering with a field (title, maybe?) because they used the same term.

I'm keeping this open as a potential bug to get to so

[2018-10-04 15:37] bradfordcondon commented on #706
I've seen this before as well. https://github.com/statonlab/tripal_dev_seed/issues/66

Is it possible the problem is with devseed?  ie the GFF file perhaps?

[2018-10-04 16:05] bradfordcondon commented on #680
[code]

These are our two errors.  One is for `RO:0002310` and the other is for ` RO:0002577`.  id guess in boht cases its looking in BFO instead of RO, but you woudlnt know that from the error message.

In addition to whats proposed above, lets log the proposed URl in case its an issue with our API call.

I am going to submit a PR that will switch to warning instead of throwing an error.  I'm goi

[2018-10-04 16:09] bradfordcondon commented on #680
Here's the loaded plant trait ontology (TO) if we ignore those two errors.

beautiful 🎨
![screen shot 2018-10-04 at 12 06 29 pm](https://user-images.githubusercontent.com/7063154/46487547-49ca8680-c7ce-11e8-812d-d22dff07e5a5.png)

[2018-10-04 16:35] bradfordcondon opened #708 "OBO Importer builds malformed terms when loading plant trait ontology (TO) RO sub-terms"
## BUG/ERROR report

### System information

* Tripal Version:3

### Issue description

#### Steps to reproduce
Load the trait ontology.  http://purl.obolibrary.org/obo/to.obo

two of our terms lookups are malformed:

[code]
This is because THIS is the call built:

http://www.ebi.ac.uk/ols/api/ontologies/ro/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FBFO_00000500002310

when it should

[2018-10-04 16:35] bradfordcondon commented on #680
Seperate issue for the malformed RO terms #708

[2018-10-04 16:39] bradfordcondon commented on #708
do we have an OBO Importer guide?  If so we should add a request that people check their error logs and report any they find to our repo

[2018-10-05 00:02] bradfordcondon commented on #665
@laceysanderson

[code]

what it looks like is `$response` isnt NULL or FALSE, **BUT** `$results` is null.  Can you please var_dump `$response` for me (line 1025)?

[2018-10-05 00:52] laceysanderson commented on #665
I added `print "RESPONSE:|"; vardump($response); print "|\n";` where you specified and saw the following output:
[code]

[2018-10-05 01:24] bradfordcondon commented on #665
hmmm... can you try  just executing the php in your drupal console?
`dpm(drupal_http_request($full_url, []));`  where $full_url is

http://www.ebi.ac.uk/ols/api/ontologies/bfo/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FBFO_0000002

looks like a type-casting thing to me?  like its getting evaluated as a string instead of an object (response)?  The answer is possibly in  what`drupal_ht

[2018-10-05 02:31] laceysanderson commented on #665
Interesting:
[code]
I hope it's not a server configuration issue :-(

[2018-10-05 02:41] bradfordcondon commented on #665
seems very likely... not clear to me what exactly the problem is/difference in configuration.  https://www.drupal.org/project/alt_http_client this module looks helpful but kind of confusing 😖 maybe tomorrow will bring some better ideas.

[2018-10-05 19:09] bradfordcondon opened #709 "undefined legacy function tripal_stock_add_organism_count_mview"
`tripal_stock_add_organism_count_mview` is called in legacy tripal_stock but is not defined.

reported here:  https://github.com/erasche/docker-tripal/issues/27 by @RichardBruskiewich

[2018-10-05 19:11] bradfordcondon commented on #709
Here's the mview definition in 7.x-2.x

https://github.com/tripal/tripal/blob/3b3ddebf8fb420a0cc77cc6572a9dcbba4377a7c/tripal_stock/tripal_stock.install#L110-L178

do we need this mview?  edit: yes we do, its at least used by
`tripal_stock_load_organism_stock_counts()`

[2018-10-05 19:11] RichardBruskiewich commented on #709
The function is in v2.x but not v3.x
http://api.tripal.info/api/tripal/search/current?keyword=tripal_stock_add_organism_count_mview

Who has the power to fix this quickly?  @laceysanderson are you in a position to help with this?

[2018-10-05 19:19] bradfordcondon commented on #709
I made a PR to add it back in, just need some eyes to confirm its a good idea.  I think it is though since we've still got functions in the tripal_stock legacy module calling that mview.  @laceysanderson you might be best qualified to double-check me here.

[2018-10-05 19:39] laceysanderson commented on #709
It should be added back in 👍 I'll test the PR next week -thanks!

[2018-10-05 19:41] bradfordcondon commented on #709
thanks @laceysanderson

I realize this is a hole in our CI.  we test upgrading from tripal 2 to tripal 3, but we dont do **any testing** on the legacy modules.

I might add a final check at the end and enable them all.

[2018-10-05 20:58] RichardBruskiewich commented on #709
@bradfordcondon, I might cherry pick your branch being submitted to the pull request so that I can take one more run at the hill today. I'm on Pacific time so I still have 3 hours in my regular working day!

[2018-10-08 12:56] bradfordcondon commented on #344
I'm pinging this issue because as PAG approaches I think we wanted to revisit the Steering/Advisory committee.  @mestato provided a nice summary:

I wonder if certain recent issues (ie the python API split) would be good issues for this group as well.

[2018-10-08 12:57] bradfordcondon commented on #645
Thanks for this discussion.  What I learn from this is as @srobb1 theres many ways to do it, so its unlikely Tripal will be providing a unified solution any time soon.  I'll keep the issue open but moving it into the icebox.

[2018-10-08 15:51] laceysanderson commented on #645
It would be great to document these methods! This is a great start but official documentation would be even better to ensure it doesn't get lost in the sea of issues. I've opened an issue on the chado repo about official documentation (https://github.com/GMOD/Chado/issues/72) and would love to hear your input @srobb1 and anyone else interested in Chado documentation of course :-)

[2018-10-08 17:02] ekcannon commented on #344
I'd say Tripal 4 is a pretty critical issue for the advisory committee to take up. I like Meg's summary.

[2018-10-09 16:19] mestato commented on #344
I really don't love "oversight" as a committee name (a bit too brave new world), so I see two possible directions:

Board of directors - keeping the direct oversight idea (see for example Apache https://www.apache.org/foundation/governance/board.html)

Scientific Advisory board - more in NSF-style, where the relationship with the PMC is more collaborative/advisory

I vote SAB, any other opinions?

[2018-10-09 20:18] risharde opened #712 "Error generated during tripal_export_views_integration + Temporary Fix"
Tripal Version: 7.x-3.0-rc3

Initial Page Error:
[code]

URL location:
admin/tripal/storage/chado/views-integration/export/143

File location:
sites/all/modules/tripal/tripal_chado_views/api/tripal_chado_views.api.inc

Temporary (nasty) fix:
function tripal_export_views_integration($setup_id)
`$c_path = current_path(); $c_path_parts = explode('/',$c_path); $c_path_parts_len = count($c_path_parts);

[2018-10-10 14:53] bradfordcondon commented on #703
i've kind of conflated two issues here:

* Hiding fields

* Hiding based on permissions.

@laceysanderson you sounded your support for the first but not for permissions-based hiding: what do you think?  I see this as critical for tripal HQ.

edit: its possible that we will want to implement the permission-based hiding on tripal_hq's end which is fine.

[2018-10-10 15:08] almasaeed2010 commented on #703
I think I'd be ok with `hidden` as a widget option as @laceysanderson suggested since I have never felt the need to add data to an auto-populated field. Is there a specific case @bradfordcondon where admins would need to edit some field and at the same time won't let the user (submitter) edit it?

[2018-10-10 15:25] bradfordcondon commented on #703
@almasaeed2010 :

I think all of the lookup fields fall under this category.  Publication, annotation, dbxref.  They are too complicated for an end user and/or require content creation, inserting terms, etc.

[2018-10-10 15:51] almasaeed2010 commented on #703
Yeah I see how that'd be really helpful! Thanks!

[2018-10-10 16:27] laceysanderson commented on #703
I think permissions-based hiding would be useful in some cases but I'm not sure it's generally applicable enough to go in core. I also don't personally need this feature 🤷‍♀️

I'm not against seeing it in Tripal HQ though as it seems like a good compliment to the other functionality being developed in that module. All I request is that I don't need to check a large number of permissions checkboxes

[2018-10-10 16:37] laceysanderson commented on #703
We should think about a way that we can make it easy for external modules to hook into permissions for fields. I can see this being a common thing external modules would like to do so we should make it as easy and non-hacky as possible for Tripal HQ

[2018-10-10 20:07] btski opened #713 "Maxed shared memory and offline postgresql"
Tripal Version: 3
Drupal Version: 7.59
PostgreSQL Version: 9.5.12
PHP Version: 7.0

While uploading data to Chado using Tripal Bulk Loader, I received an error stating I was out of shared memory. I tried to resolve this issue by clearing cached items and rebooting the instance. This was unsuccessful. I then made the mistake of running a drush cache-clear drush as a sudo user. Immediately after run

[2018-10-10 21:57] bradfordcondon opened #714 "Code coverage integration"
## Feature Request/Discussion

This is a meta-feature request for Code coverage integration of some kind.  I'm looking into it after a discussion with @childers .    I thought I'd reach out to the community to see if anyone know of any solutions that meet our needs well.

### Impetus

Travis CI is great for code testing, but code reports provide more of a snapshot of the state of your code, with C

[2018-10-10 22:54] laceysanderson commented on #665
It might be related to https://www.drupal.org/node/2481341? I have php 5.6.7 right now but will be upgrading once my new server gets here. I currently don't want to try the possible solution at the linked url but will in the next month or so.

[2018-10-10 23:38] bradfordcondon commented on #665
does drupal replace the `drupal_http_request` function liek in the issue?  If so that seems like a good culprit...

[2018-10-11 17:45] ekcannon commented on #344
If I understand Meg's proposal, and the gist of earlier discussions, the suggested governance is now:

1) A project management committee that approves (or nixes) new features. This could fit into my idea of co-lead-leads.
2) A scientific advisory board that looks to the future: development directions, technologies, new research needs, funding, et cetera.

I'm guessing that membership is not exclus

[2018-10-12 14:26] almasaeed2010 commented on #97
The obo loader has been completely reworked. I think we can close this issue. Please reopen if you think it's worth keeping.

Thanks!

[2018-10-12 14:26] #97 closed, assigned to spficklin

[2018-10-12 16:28] laceysanderson commented on #640
Fixed by @almasaeed2010 in both Tripal3 and Tripal2! Thanks @almasaeed2010

[2018-10-12 16:28] #640 closed, assigned to almasaeed2010

[2018-10-12 19:06] bradfordcondon commented on #703
@almasaeed2010 brought up that excluding fields from **collections** would also be very desirable.

If i'm presented with 30 fields when creating a collection and only 5 of those would make sense to an end user, we should be able to hide those other ones.

[2018-10-13 20:25] laceysanderson commented on #660
I like changing the label of the delete link/button to unpublish but worry this may be more difficult then we think since it's provided by "Drupal Magic".

My Current Vote: Do not delete from chado --too Dangerous ;-p

I'm very open to re-visiting this but feel currently there is not enough information for me vote "Support both". Primarily we should discuss how this would be configured? What would

[2018-10-13 20:35] laceysanderson commented on #709
PR Merged 👍

[2018-10-13 20:35] #709 closed, assigned to bradfordcondon

[2018-10-15 11:47] chunhuaicheng commented on #660
It's fine for me not to change the current setup. I'll still need a mechanism to delete data though. Any suggestion how to 'really' delete data from chado without having to issue SQL?

[2018-10-15 12:27] bradfordcondon commented on #660
I just don't understand this: would you elaborate?  I think of Tripal as a way to serve and administer Chado content via Drupal.  Why leave the D out of CRUD?  Is it really only meant to be a one-way look into Chado?

How about instead of supporting both, we add an admin setting where you can check "Delete both Chado & Drupal records on delete" and "Delete only Drupal records on delete"?  That wou

[2018-10-15 16:22] #713 closed, assigned to nobody

[2018-10-15 17:17] laceysanderson commented on #660
My concerns with delete are two fold:
1. collaborator mistakes could cause data to be deleted that shouldn't be.
2. bugs in Tripal could cause more data to be deleted then intended.

Concern 1: Could be mitigated by setting of fine-grained permissions to ensure only trusted collaborators can delete their own content and perhaps only admin could delete content regardless of ownership. Luckily this

[2018-10-15 17:22] laceysanderson commented on #531
Now that 3.0 is released, I am adding back the release blocker tag.
Justification: the more I work on the widget the more I find deep-rooted concerns in the field. I feel these issues are substantial enough for bug status and as such, must be fixed.

[2018-10-15 17:25] bradfordcondon commented on #660
Thanks for the thoughtful response @laceysanderson . I can understand erring on the side of caution for both cases.  When thinking about collaborators, I am not usually thinking about them for admin permissions unfortunately.    But I think we're in agreement that providing more refined permissions perhaps via HQ could help with this. I am often thinking of the case where **a site doesnt have SQL-

[2018-10-15 17:51] laceysanderson commented on #660
True! That is a Very good reason to support true deleting from Chado!

In order to make the delete query generic we will need to use the Chado Schema API and build the query programatically. This is the part that scares me since if the primary key is left off the query we could delete the entire table 😨 Of course, this can be fixed with good, careful programming and unit testing 🤞 but is still wor

[2018-10-15 22:22] laceysanderson opened #717 "Unable to Create Content with Optional Contact Field"
## BUG/ERROR report

### System information

* Tripal Version: most recent dev
* Drupal Version: 7.x
* PostgreSQL Version: 9.4
* PHP Version: 5.6.7

### Issue description
When trying to create a project I receive

and the form is reset without creating my project.

#### Steps to reproduce
1. Go to "Add Tripal Content" > "Project"
2. Enter a name only and click Save.

*You can also test this with "

[2018-10-15 22:56] laceysanderson opened #718 "Unable to edit content with Contact Field filled in."
## BUG/ERROR report

### System information

-  Tripal Version: most recent dev
-  Drupal Version: 7.x
-  PostgreSQL Version: 9.4
-  PHP Version: 5.6.7

### Issue description
When trying to edit an existing project with the contact field filled out I receive the following error:

This happens when I *do not modify the value of the contact field*.

#### Steps to reproduce
1. Go to "Add Tripal Conte

[2018-10-17 17:15] kyrenya opened #719 "PHP version 7.2"
Hi, I'm about to install v3 from scratch.
I will follow instructions here
https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/server_setup.html

- is it ok to download the default php 7.2 (ubuntu 18.04) (sudo apt-get install php php-dev php-cli libapache2-mod-php)  or will I have compatibility issues? (I tried in a first attempt to downgrade to 7.1 but apparently I didnt do it very w

[2018-10-17 17:25] shawnawsu commented on #719
Drupal 7 does not fully support php 7.2 so you might see errors or problems in terms of that. Please see this for more info: https://www.drupal.org/project/drupal/issues/2947772

[2018-10-17 17:49] kyrenya commented on #719
ok! so for what I understand, I should apply that last patch (only one, not three) and fix it. I'll try and keep posted if i manage. Thanks!

[2018-10-17 22:01] laceysanderson commented on #531
Newest version of the widget (47f66b0fb1942412d9a54dfb894cf247efe6f95d) :
 - DOES NOT assume all base tables have a uniquename
 - re-uses the schema definition by saving it to the field object rather then regenerating it in each function.
- doesn't try to use a non-existent autocomplete
- highlights validation errors
- the default for type selection (vocab + type name autocomplete) can select diff

[2018-10-18 12:24] almasaeed2010 commented on #165
Hi! I don't think this has been resolved yet on core. We do implement our own workaround but it works only on our site. Also, the fields that we developed work but the ones we didn't won't work (for us) so we still need an implementation on the core side that makes it consistent across sites.

Thanks!

[2018-10-18 12:26] bradfordcondon commented on #165
oops thanks for the clarification.  Moving this out of Q&A and into the backlog.  I think the need for this is self-evident without PMC voting as a new feature, its more of a bug fix (ah which stephen already labeled as).

[2018-10-18 15:18] laceysanderson opened #720 "Widget: Save foreign key on entity create?"
Background: I'm working on the relationship widget and am not sure how Tripal Widgets should specify "Make this Foreign key point to the new chado record once you create it". For example, if a user is adding a relationship to a project they are just creating through the UI then my relationship widget needs to specify, create this relationship where the subject_id matches a record that doesn't yet

[2018-10-18 15:20] laceysanderson commented on #720
Transcript from Slack:

[2018-10-18 15:26] laceysanderson commented on #720
This worked as advertised!

For documentation purposes, previously I had a check in `sbo__relationship->validate()` that filled in the `chado-[table]__[column]` values for subject_id, type_id, object_id, and rank (if applicable) but only if all three (subject, object and type) had an ID found.

The solution was to check if we were unable to find a subject_id but the user had filled in a subject na

[2018-10-18 19:08] bradfordcondon commented on #642
@tripal/project-managent-commitee-pmc i was discussing with @childers @mestato @mpoelchau and we are really interested in an upload file field.

Thi field would a) provide the file upload functionality found in the importer on content creation and b) store teh raw flat file location and display it as downloadable to the user.  This touches pretty heavily on this so I'm pinging this issue.  I see I

[2018-10-19 10:31] kyrenya opened #721 "Filtered HTML"
Hi
Using UBUNTU 18.04 and last Tripal v3.0 Release installation
I'm trying to follow the tutorial of the citrus example:

When creating the analysis, using Filtered HTML doesnt work, I don't get the description text formatted
![image](https://user-images.githubusercontent.com/43243429/47213172-2ab52280-d392-11e8-8d5c-1375fa66b5d5.png). In the text guidelines, by the way, it's written  'Description

[2018-10-19 10:34] kyrenya opened #722 "CrossReference"
Hi
Using UBUNTU 18.04 and last Tripal v3.0 Release installation
I'm trying to follow the tutorial of the citrus example:

When creating the organism, my link to CrossReference never works..

![image](https://user-images.githubusercontent.com/43243429/47213363-aadb8800-d392-11e8-94ba-a5d2a3e42fd8.png)

should link to:
purl.obolibrary.org/obo/ncbitaxon#NCBITaxon:2711
never loads.
is that an issue of

[2018-10-19 12:41] bradfordcondon commented on #722
is `purl.obolibrary.org/obo/ncbitaxon#NCBITaxon:2711` the built URL or the desired URL?

If its teh desired URL and the built URL is wrong, what is the built URL?

you can check the configuration of your database crossref by going to `admin/tripal/loaders/chado_db/ ` can you share the relevant DB information?

[2018-10-19 12:47] kyrenya opened #723 "publishing mRNA Date Limit Format Warning"
Hi there!
Ubuntu 18.04, tripal v3.0 (last release). php7.2.10

when publishing gene (following the citrus example)
I got warning like here: https://www.drupal.org/project/date/issues/2843367. I applied this patch:

2843367-php71-string-offset-26.patch
it seemed that removed the warnings despite the patch being for 7.1 for what I understood.

When publishing mRNA I got this one
![image](https://use

[2018-10-19 12:54] kyrenya commented on #722
This is the address that tries to achive when click in the CrossRef..  so.. then I guess is the built URL isnt it?
I can't find anything related to NCBITaxon in admin/tripal/loaders/chado_db/.
I just followed the steps in here https://tripal.info/tutorials/v3.x/example-genomic-site/organism for import taxonomy for existing species (Chado NCBI Taxonomy Loader).

[2018-10-19 13:20] bradfordcondon commented on #721
hello:
both full and filtered html text settings work for me.

<img width="872" alt="screen shot 2018-10-19 at 9 18 06 am" src="https://user-images.githubusercontent.com/7063154/47220509-fb95b580-d37f-11e8-89d0-4a1c259a8a89.png">

maybe another @tripal/core-committers-group member has a better suggestion, but my guesses would be the problem is field setting or theme related. Have you configured th

[2018-10-19 13:42] kyrenya commented on #721
I tried with that theme, and:
![image](https://user-images.githubusercontent.com/43243429/47221623-ce133100-d3ac-11e8-8bb0-6476491c1e75.png)
the edit screen is a bit confusing and mixed: and it didnt result:
![image](https://user-images.githubusercontent.com/43243429/47221652-e4b98800-d3ac-11e8-9910-590db22a050d.png)

I also trying with the Reload menu.. not lucky. Same unformatted text.
I also hi

[2018-10-19 14:22] bradfordcondon commented on #722
Please follow the tripal 3 guide at https://tripal.readthedocs.io/en/latest/user_guide/example_genomics/organisms.html?highlight=organisms.  It's more up to date.  @spficklin is there a reason we still have the tripal 3 user guide up on tripal.info?
OK thanks, in the future if you link what part of the guide you're following that will be helpful for me to answer your questions.

In this case, the

[2018-10-19 14:25] bradfordcondon opened #724 "minor bug: NCBI Taxon db URL linkout is incorrect"
## BUG/ERROR report

### System information

* Tripal Version: 3

### Issue description

please see #722
the default linkout is to http://purl.obolibrary.org/obo/ncbitaxon#%7Baccession%7D

this is no good.  it links to, for the tutorial organism, purl.obolibrary.org/obo/ncbitaxon#NCBITaxon:2711

i propose https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?&id={accession}

#### Steps to repro

[2018-10-19 14:30] bradfordcondon commented on #722
@kyrenya please see this page of the guide to understand the cross ref field/database linking and whats going on:

https://tripal.readthedocs.io/en/latest/user_guide/example_genomics/cross_refs.html

I've created an issue for the linkout being built wrong by default #724

Thanks for pointing it out!

any further questions before i close the issue?

[2018-10-19 17:44] laceysanderson commented on #721
Hi @kyrenya, your edit form does not look right at all. Have you by chance tried configuring or enabled a WYSIWYG module? If so, I would think that's where the problem lies. Try un-enabling any addition extension modules beyond Tripal, Drupal Core and Views and see if that fixes the form.

For context, my analysis edit/create form looks like this:
<img width="1471" alt="screen shot 2018-10-19 at 1

[2018-10-19 21:35] bradfordcondon commented on #642
yeah after looking at the files module, why not?  Should be easy.  A checkbox to "create field for file" and then create a new Drupal File field instance pointing at the uploaded file, attached to the analysis entity that was tied to the importer.

[2018-10-20 14:23] mdhar1980 commented on #687
OK, thank you!

[2018-10-20 14:34] mdhar1980 opened #725 "Tripal v2.1 tutorial patches (Views, PostgreSQL) outdated?"
Hello!

My lab in installing Tripal on a server; because of some things already in place, we're installing Tripal v2.1 at least initially. The existing tutorial for 2.1 (http://tripal.info/tutorials/v2.x/installation/tripal) lists a couple patches after installing Tripal (for Drupal Views and "the bytea data type in PostgreSQL").

We're thinking it's likely these are outdated, but I wanted to conf

[2018-10-21 14:36] laceysanderson commented on #725
Hi @mdhar1980, both patches are still needed as shown in the Tripal 3 documentation here: https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/manual_install/install_tripal.html#apply-patches . To my knowledge the patches in Tripal2 are up to date but you can confirm by comparing the file names to those in the linked Tripal3 documentation.

[2018-10-21 16:36] laceysanderson commented on #531
Automated Testing now works on Travis CI including testing of validation 🎉 🎉 🎉

[2018-10-21 16:42] laceysanderson commented on #531
I'm now feeling pretty good about automated testing and have decided to make a first release of this widget without the extra type select options (a solid widget is better then a buggy one with lots of features).

All that leaves outstanding for the first release is autocompletes for all tables.

[2018-10-21 16:54] mdhar1980 commented on #725
Great, thank you! Patch file names are the same, but directory names slightly different. Anyway, I applied them, but had one failure in the output for the Views patch. Will the following be an issue?

patching file plugins/views_plugin_query_default.inc
Hunk #1 FAILED at 1290.
1 out of 1 hunk FAILED -- saving rejects to file plugins/views_plugin_query_default.inc.rej

[2018-10-22 10:12] kyrenya commented on #721
thanks, you were right!
I enabled this module:
![image](https://user-images.githubusercontent.com/43243429/47287665-eb354300-d5ea-11e8-84a2-63c657916936.png)
when disabled, the editor worked right!
thanks!

[2018-10-22 10:31] kyrenya commented on #722
Solved! Thanks a lot!
I thought I had applied the patches, but apparently sth went wrong. Now I can see the databases in the search. Also changed the URL and now links OK. Thanks again! You can close the issue!

[2018-10-22 13:07] #721 closed, assigned to nobody

[2018-10-22 13:07] #722 closed, assigned to nobody

[2018-10-22 14:04] laceysanderson commented on #721
Great! Glad it worked :-)

[2018-10-22 21:19] mdhar1980 commented on #725
HI, Lacey,

In Googling, I found that someone else had this same Hunk 1290 failure, user dedenmatra here: https://github.com/tripal/tripal/issues/397

But it doesn't look like that was ever resolved. Do you have any input on that?

Thank you,
Michael

[2018-10-22 21:36] mdhar1980 commented on #725
We are using Tripal v2.1, as downloaded using the web-based module-loading method, accessed from here: https://www.drupal.org/project/tripal

A sys admin suggested to me that part of the above 1290 failure MAY be because the Drupal site does not list the latest Tripal v2 version. A question regarding that: To remove the Tripal I've already installed, would I just follow a similar procedure to what

[2018-10-22 21:42] mdhar1980 commented on #725
Sorry, I meant to say as listed here: https://tripal.info/tutorials/v3.x/upgrade/2.x-to-3.x

[2018-10-23 13:36] mboudet opened #727 "Issue with aliases"
_(Edited the initial issue to add all problems_
Hello,

I found several issues with the aliases functionality (and bulk_update feature).

1. Error in the tripal job when using the bulk aliases update:

When executing the job created by the bulk update feature, there is a php error.

[code]
The last commit in the  tripal.bulk_update.inc file seems to have changed variable names, and the token varia

[2018-10-23 14:31] laceysanderson commented on #727
Weird. I just checked this functionality again and it works for me. I also don't see any errors in my Tripal Job when bulk updating my URLs. Can you post what errors you received during the Tripal Job?

Also, can you try going to `bio_data/1` and see if it redirects to `organism/Drosophila/melanogaster`?

Your system information could also help us figure out what is going on:

* Tripal Version:
*

[2018-10-23 14:36] kyrenya opened #728 "Legacy Navigation Menu"
Hi there!
I'm using tripal v3.0 (latest), Ubuntu 18.04.

I'm a bit confused with the tripal legacy thing. If I understood well, legacy contains the previous tripal versions modules? in my new db I'm building, when I go to Find Tripal Content, I see what I am creating (organism, analyses, features.. etc). but in my home page, I see a Navigation panel,
![image](https://user-images.githubusercontent.

[2018-10-23 15:03] mboudet commented on #727
Running the job gives me
[code]
And the $token variable seems to unset since the last commit [here](https://github.com/tripal/tripal/blob/7.x-3.x/tripal/includes/tripal.bulk_update.inc#L25)
To bypass it, I reversed the last commit in this file, and it seemed to works, since the values are set in DB.

Going to `bio_data/1` just bring me to the organism page, without redirecting.

System info:

Trip

[2018-10-23 15:18] bradfordcondon commented on #728
I'd say: if you're building a new site, you really shouldnt be using legacy mode at all, unless you are connecting modules that rely on legacy API.

So your question becomes:  Where are the content links/views for tripal 3 content?  The answer is that I think you need to create them yourself.  Tripal creates search pages for each content type by default (go to /admin/structure/menu/manage/data_sea

[2018-10-23 15:43] kyrenya commented on #728
Hi! I cite you to answer you :) "edit: you said you've tried publishing the content as tripal 2 content. **I did that just to be sure that the content of that pre-made navigation panel was the tripal 2 one, but I dont have any interest in publish the content as tripal 2** what about as tripal 3 content? I dont know if your content is being created directly in Chado or if yo aure using the interfac

[2018-10-23 15:45] kyrenya commented on #728
sorry, Ive just seen the link that you suggested me in : "Please see here in the users guide for an eaxmple of publishing tripal 3 content" . I already went through those steps before.. but the Navigation panel in the home site is still apparently tripal 2 content.  :S

[2018-10-23 15:46] kyrenya commented on #728
I'm going to manually edit the navigation panel and try your advice (go to /admin/structure/menu/manage/data_search to view them): you could start there by adding the searches you need to the navigation area) and I'll let you know. Sorry for the multiple comments.

[2018-10-23 16:29] laceysanderson commented on #728
Hi @kyrenya, can you check your Admin > Modules page and disable/uninstall all legacy modules (those under the "TRIPAL V2 LEGACY" fieldset). These are not needed for a clean Tripal3 site and removing them from the equation might help with the confusion.

For the "Data Search" views (managed at `/admin/structure/menu/manage/data_search`) simply make sure all of them are checked. Then you can use th

[2018-10-23 16:32] kyrenya commented on #728
sounds good!
uhm... some of the Tripal v2 legacy modules checkbox for enable/disable are greyed.. is it because they are in use? Should I delete the content first maybe?

[2018-10-23 16:42] almasaeed2010 commented on #728
If the content is important to you, you can always migrate it using the [tripal 3 migration](https://tripal.readthedocs.io/en/latest/user_guide/install_tripal/upgrade_from_tripal2.html?highlight=migrate#step-2-migrate-content) which has a step to delete the old content at the end. However, the modules are grayed out because some other module depends on them. You'll need to disable those modules fi

[2018-10-23 16:44] kyrenya commented on #728
Yes, not only deleting everything, but I have to disable the modules sequentially. Some of them need others to be disable before being available to be disabled.

[2018-10-23 16:45] kyrenya commented on #728
oops, I sent it before reading that @almasaeed2010 . No problem in deleting stuff, Im still in learning process, so my content is still the citrus example :)

[2018-10-23 17:00] laceysanderson commented on #725
Yes @mdhar1980, the process of putting your site into maintenance mode, disabling the modules, replacing the directory, re-enabling the modules and disabling maintenance mode is the proper procedure to upgrade the code for any Drupal module including Tripal. Also make sure to run any database updates that might be in the new version.

In reference to the other issue, we were never able to duplicat

[2018-10-23 23:32] mdhar1980 commented on #725
Thanks, Lacey: I will look up this information first thing tomorrow morning.

[2018-10-24 08:48] abretaud opened #729 "References to rc2 in final 3.0 release"
## BUG/ERROR report

### System information

* Tripal Version: 3.0
* Drupal Version: 7.59
* PostgreSQL Version: 9.5
* PHP Version: 7.1

### Issue description

In most of the tripal modules info files (like [here](https://github.com/tripal/tripal/blob/7.x-3.x/tripal/tripal.info#L6)), there are still references to the version 7.x-3.0-rc2 instead if 7.x-3.0
I don't know if it could have any impact, b

[2018-10-24 12:33] bradfordcondon commented on #719
hi @kyrenya : any follow up on this?  Did you go ahead with PHP 7.1 or 7.2?

In terms of this issue, I think @shawnamspoor 's response more or less covers it, so if you have no other questions on this I'll close the issue.

[2018-10-24 13:27] kyrenya commented on #719
Hi! I went on with PHP 7.2, tried to follow instructions in the link, but still I have the
![image](https://user-images.githubusercontent.com/43243429/47431461-c3cdaa00-d793-11e8-8d36-0552abf70c2b.png)
But the warning doesnt bother me too much, so I moved on..
I tried patching with drupal-7-php-7-2-2947772-39.patch  ( I think that is the correct one, but if its other or I have to use several.. ple

[2018-10-24 13:41] bradfordcondon commented on #719
looking at  https://www.drupal.org/project/drupal/issues/2947772 ONE of those patches is the right one that lets drupal 7 support php 7.2  The one you linked seems like the right one to me (is it just me or are these drupal issues really hard to follow?  which is the final patch?  Did it ever resolve all errors? Shawna you are saying no, so kyrenya I think the answer is "proceed at your own risk w

[2018-10-24 13:44] kyrenya commented on #719
thank god you also think its a bit hard.. XD XD

[2018-10-24 13:55] mdhar1980 commented on #725
Hi, Lacey,

Here is the system information:
Tripal Version: 7.x-2.1
Drupal Version: 7.59
PostgreSQL Version: PostgreSQL 10.5 (Ubuntu 10.5-0ubuntu0.18.04) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.3.0-16ubuntu3) 7.3.0, 64-bit
PHP Version: 7.2.10-0ubuntu0.18.04.1

Also , a sysadmin on our team found that there are two versions of that Views patch with the same number (1971160-30):

-(7.x-2.x

[2018-10-24 14:19] kyrenya commented on #719
thanks, anyway, if you think its better to downgrade php to 7.1 or any other version..  I would appreciate any help with that.. I already tried by myself, and ended up with conflicts with the two versions, and the whole thing not working (dummy alert).

[2018-10-24 17:50] bradfordcondon commented on #723
here are the warnings on my site
(tripal 3, php 7.1, OSX)

[code]

[2018-10-24 19:00] laceysanderson commented on #684
Merged!

[2018-10-24 19:00] #684 closed, assigned to laceysanderson

[2018-10-25 14:04] kyrenya commented on #689
Hi there again! :)
I started (as you have seen for other issues) with v3 latest, and I would like to add functional annotation. Ive seen that documentation is on-going.. do you recommend me to follow v2 guidelines in the meantime or is somewhere where I can see a pre-documentation guidelines for v3 functional annotation modules?
Thanks in advance!
Cheers.

[2018-10-29 13:47] mdhar1980 commented on #725
We removed the Tripal v7.x-2.1, which we'd obtained from the Drupal site (https://www.drupal.org/project/tripal) and installed v7.x-2.x  from Github. The patch then seemed to install without an error message. This was the output:

patching file includes/handlers.inc
patching file includes/view.inc
patching file plugins/views_plugin_query_default.inc

Is that as it should be? If so, the patch may b

[2018-10-29 13:54] mdhar1980 opened #730 "4th Ontology in Tripal v2 Installation Tutorial? Also, time for GO?"
Hello!

We are installing Tripal v2 using the tutorial, and it's a little unclear here (http://tripal.info/tutorials/v2.x/installation/tripal) on the ontologies to load. It lists three (Chado feature properties, Sequence ontology, Gene ontology), but the next paragraph says, "Repeat this process for each of the FOUR ontologies." Is there a fourth that needs to be loaded? If so, which one?

Also, I

[2018-10-29 13:59] mdhar1980 opened #731 ""max_locks_per_transaction" memory setting for Chado load (Tripal v2)?"
Hello!

I am installing Tripal v2 using the tutorial. At the Chado installation process, I ran into the following Error regarding memory. (Note: This is a re-installation of Chado, as we had previously installed with Tripal v7.x-2.1; we removed that and replaced it with v7.x-2.x from Github in order to get it to work with the Views patch.)

So, my question: What level should that max_locks_per_tra

[2018-10-29 14:01] bradfordcondon commented on #658
hi @igcbioinformatics im assuming you were able to load this with the new release?  if not please let me know, otherwise im closing this issue.

[2018-10-29 14:01] #658 closed, assigned to nobody

[2018-10-29 14:03] bradfordcondon commented on #730
hi michael,

I wouldnt recommend trying to load GO on Tripal 2.  The ontology can be loaded on Tripal 3 but the fix hasnt been backported yet.

(for reference see #186 , #140 )

You really only need the sequence ontology loaded to follow the tutorial, until you reach the "functional annotation" section where GO is used.

[2018-10-29 14:08] mdhar1980 commented on #730
Hi, Bradford,

OK, thanks for the response. Do I need to remove what's been loaded for it somehow? As I said, the job is 99% finished. It won't accept a "cancel" call.

Thanks again,
Michael

[2018-10-29 14:40] mboudet commented on #727
Is there any module that needs to be activated for the url redirections to work?

Where is the redirection handled in the code? (Assuming the alias is properly set in DB)

[2018-10-30 03:31] laceysanderson commented on #727
Redirection is handled by the Drupal Path module if memory serves me correctly. I'll be back to work from holiday on Wednesday and will try to help more this week.

[2018-10-30 12:47] mboudet commented on #727
Ok, so after testing some more, aliases start working as soon as I manually create one (in admin/config/search/path).
Up until that point, they do not register. Maybe some variable needs to be set before they actually works?

[2018-10-30 13:45] kyrenya commented on #677
Hi again,
I'm running v3 with ubuntu 18.04.
Last time I was trying to upload gff, fasta, etc, I was using shortened files to learn the process.
I am currently using a complete gff file (downloaded from ncbi), and its now 5 days since it is running the job... is that normal?

Thanks!

[2018-10-30 15:52] kyrenya commented on #100
Hi there! I'm interested in using Jbrowse in my tripal v3_based site, but I found this:
![image](https://user-images.githubusercontent.com/43243429/47731199-879abd80-dc5b-11e8-9f07-405565f86e56.png)
so apparently that module is not compatible with tripal v3?  but then I saw this thread.. and I'm a bit confused now. Is Jbrowse already integrated in tripal v3?  Thanks in advance!

[2018-10-30 16:35] btski commented on #731
You shouldn't need to re-install Chado for a minor Tripal update. You just want to re-write the /var/www/html (drupal) directory and add back in your old sites subdirectory.

What do you get when you run `sudo du -h --max-depth=1 -x` from the /var/lib/postgresql directory? I'm assuming you're capped at 5G, which indicates you're out of shared memory (as your error message indicates). Changing max_

[2018-10-30 18:06] bradfordcondon commented on #730
no.  When the transaction fails  it will roll back the database changes.

How do you kill the transaction? look up its process ID and kill it. (you can use `ps -A | grep ` to search for specific processes, i dont remember what you will need to search for - postgres?  drupal?  tripal?)

[2018-10-31 02:48] laceysanderson commented on #100
Hi @kyrenya, I can't speak for the Tripal JBrowse API extension but there is also my module [Tripal JBrowse](https://github.com/tripal/tripal_jbrowse), which integrates Tripal3 and JBrowse. This module currently creates pages for already existing JBrowse instances allowing you to embed them into the Drupal/Tripal ecosystem.

A couple of things to note about my current version:
- it uses iFrames cu

[2018-10-31 09:35] kyrenya commented on #100
Hi! thanks a lot for your reply, I will take a look and come back if I don't manage! I wish I could help taking it on, but this is my first contact with tripal or any similar tool, so I'm more like struggling to understand how everything works...  good luck with your grants!

[2018-10-31 14:06] abretaud commented on #636
So, as promised during the last meeting, here's a little diagram of how I'd see the Tripal 4 architecture:

![tripal4_services](https://user-images.githubusercontent.com/238755/47793153-ea548d80-dd1d-11e8-9c7a-7bf7f752cb68.png)

Comments are welcome of course! I can also share the sources if anyone wants

[2018-10-31 14:08] laceysanderson commented on #100
Great :-) Make sure to report any problems, wishes, UX questions to the issue queue for [that module](https://github.com/tripal/tripal_jbrowse/issues) -I Love feedback!

[2018-10-31 14:24] kyrenya commented on #100
thanks!

[2018-10-31 14:31] mboudet commented on #727
Additional tests :
Calling drupal_clear_path_cache() without any content does not work. Even after adding content, the aliases are not working.

After adding an organism, and calling drupal_clear_path_cache(), the aliases are working, and any new content will have a functional alias.

As long as one alias is created before calling drupal_clear_path_cache(), it will works. I don't know why though.

[2018-10-31 15:05] bradfordcondon commented on #100
@laceysanderson I *just* opened this issue for I5K.  My first target was what you call the transcript view, what i was thinking of as a child feature view.

What im thinking is it should could list each child feature as a collapsible one, which could be expanded to view all children/grandchildren of that feature and annotations etc.

Do you think this would be a core field?  I was planning on deve

[2018-10-31 17:44] laceysanderson commented on #100
Awesome @bradfordcondon! I was thinking along similar lines I think. I had pictured something similar to the BLAST display where by default everything is collapsed and you see a clean list/table. Then the user can expand any portion and see a full display of that particular transcript. We could use Drupal View modes to make customization easy both for us and site admin. By default it could use the

[2018-10-31 19:07] bradfordcondon opened #732 "Gene page improvement: child feature field"
## Feature Request/Discussion
This issue is a splinter from #100 .  It's a feature request as @laceysanderson and I agree that having better gene pages is a **very desirable thing**.

### Description

Gene pages aren't great out of the box, and fields just arent designed to work with a typical gene setup.  What do I mean by that?  In short, **Genes need to access child feature information** and th

[2018-11-02 15:21] kyrenya opened #733 "kegg tripal 3"
hi!
I'm trying to get a file similar to the hier.tar.gz in the KEGG annotation example. I cannot run Kaas locally cause FTP is not free anymore, and when I do the analysis in the server:  https://www.genome.jp/tools/kaas/ I dont see how to download anything similar.  Do I need to download manually all the .keg files and then compress?
Thanks in advance.

[2018-11-02 15:25] bradfordcondon commented on #733
hi @kyrenya the hier file was discontinued (by KEGG).  You can't generate it anymore so we had to totally redo the

 module.   The tripal 3 version of the module now works with the output from the KAAS tools but requires you to load the KEGG OBO we provide.

Are you trying to run the tripal 3 or the tripal 2 version?

I need to write user instructions for the tripal 3 version... if thats where you

[2018-11-02 15:28] kyrenya commented on #733
hi! precisely I asked how I should proceed with functional annotation because I'm working with tripal v3 (latest). Since I didnt know what doc to follow.. I was just trying to prepare the files I would need (KEGG; BLAST; InterproScan outputs). So yes, I'm very interested in trying what you are preparing.

[2018-11-05 14:55] mboudet opened #734 "Issue with entity search"
### System information

Tripal: 7.x-3.0
Drupal : 7.59
Postgres: 9.5.8
Php: 7.1.23

### Issue description
When using one of the entity search form (organism in this case), if a query with no results is selected, a warning pops up.

#### Steps to reproduce
Search for query with no results.

#### Error messages and screenshots
[code]
When we do a query, we generate two queries : one normal, and one w

[2018-11-06 17:49] almasaeed2010 commented on #588
The only solution I can think of for this that would be backwards compatible is to put the running job object in the global scope. I realize that global variables should only be used only when necessary but all other solutions can get very complex.

Using this solution, a job callback can access the object as such:
[code]

If we want to hide the global variable, we can create a function that retri